<div class="zone-social-cover">
  <div *ngIf="item" class="zone-social-cover-in group">
    <div class="zone-social-cover-info">
      <div class="z-social-media z-social-media-md">
        <div class="z-social-media-left">
          <div class="avatar-md">
            <img [src]="item.profile_image">
          </div>
        </div>
        <div class="z-social-media-body">
          <div class="z-heading">
            <div class="z-name">
              {{item.name}}
            </div>
          </div>
          <div class="z-shared-info">
            <ul>
              <li *ngIf="item.users && item.users.length>2">{{item.users.length}} members</li>
              <li *ngIf="item.users && item.users.length<2">{{item.users.length}} member</li>
              <li *ngIf="is_close">
                Private
              </li>
            </ul>
          </div>
          <div class="z-shared-description">
            {{item.tag_line}}
          </div>
        </div>
        <div>
          <button class="btn btn-default pull-right" type="button" (click)="chooseMembers($event)" data-toggle="modal"
                  data-target="#modal-social-share-com">
            <i class="fa fa-user-plus"></i> Invite Member
          </button>

          <button class="btn btn-default" type="button" (click)="askToJoin()" *ngIf="invitation == undefined">
            <i class="fa fa-user-plus"></i> Ask to join
          </button>

          <div class="btn-group pull-right" *ngIf="invitation != undefined">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Asked to join <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-custom">
              <li>
                <a href="javascript:;" (click)="cancelJoinRequest()">Cancel Join Request</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <nav class="zone-social-cover-nav">
    <ul class="list-unstyled clearfix">
      <li [ngClass]="selectedTab==undefined? 'active': ''">
        <a [routerLink]="[comUrl, uuid]">Post</a>
      </li>
      <li [ngClass]="selectedTab=='about'? 'active': ''">
        <a [routerLink]="[comUrl, uuid]" [queryParams]="{tab:'about'}" (click)="changeRoute()">About</a>
      </li>
      <li [ngClass]="selectedTab=='members'? 'active': ''">
        <a [routerLink]="[comUrl, uuid]" [queryParams]="{tab:'members'}">Members</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="[comUrl,uuid,'invitations']">Invitations</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="[comUrl, uuid, 'join_requests']">Join Requests</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="[comUrl, uuid, 'blacklist']">Blacklist</a>
      </li>
      <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
        <!--<a [routerLink]="['/zone/social/communities/'+uuid+'/notification']">Notification <span-->
          <!--class="badge badge-rounded badge-wth badge-right">15</span></a>-->
      <!--</li>-->
      <li class="pull-right dropdown">
        <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <!--<ul class="dropdown-menu dropdown-custom">-->
          <!--<li><a href="javascript:;" (click)="onEdit(data)">Edit Information</a></li>-->
          <!--<li><a href="#" (click)="onPreference(data)">Preferences</a></li>-->
          <!--<li><a [routerLink]="['/zone/social/communities/'+data.uuid+'/friends']">Manage friends</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li><a href="javascript:;" (click)="addFavourite(data.uuid)"> Favourites <i class="fa pull-right" [ngClass]="favourite && favourite.uuid? 'fa-star': 'fa-star-o'"></i></a></li>-->
          <!--<li><a href="#" (click)="onLeave(data)">Leave community</a></li>-->
          <!--<li><a href="javascript:;" (click)="onReport()">Report community</a></li>-->
          <!--<li><a (click)="onDelete(data)" href="#">Delete community</a></li>-->
        <!--</ul>-->
      </li>
    </ul>
  </nav>
</div>

<template [ngIf]="item">
  <z-social-community-form-edit #modalEdit [data]="item" [action]="'edit'"
                                (updated)="onUpdated($event)"></z-social-community-form-edit>
  <!--<z-social-community-form-preference #modalPreference [data]="item"-->
                                      <!--(updated)="onUpdated($event)"></z-social-community-form-preference>-->
</template>


<!--<wth-zone-report></wth-zone-report>-->
