<div *ngIf="userInfo" class="zone-social-cover">
  <cover-profile [item]="userInfo" (outEvent)="onCoverAction($event)">
    <so-information>
      <div class="z-social-media-body">
        <div class="z-heading">
          <div class="z-name">{{ userInfo.name }}</div>
        </div>
        <div class="z-shared-info">
          <ul>
            <li>{{ userInfo.nickname }}</li>
          </ul>
        </div>
        <div class="z-shared-description"></div>
      </div>

      <div class="hd-item-action-right-bottom" *ngIf="relationships">
        <button class="btn btn-default" type="button"
                (click)="onAddfriend()" *ngIf="relationships.status == 0">
          <i class="fa fa-user-plus"></i> Add Friend
        </button>

        <div class="btn-group" *ngIf="relationships.status == 2">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" (click)="checkFavorite()">
            <i class="fa fa-check"></i> Friend <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href="javascript:;" (click)="toggleFavourite(userInfo, 'friend')">
                <i class="fa fa-check" *ngIf="favourite?.uuid"></i> {{ (!favourite?.uuid) ? 'Add to Favorites' : 'Remove from Favorites' }}
              </a>
            </li>
            <!--<li><a href="javascript:;" (click)="importToContacts(userInfo)">Import to Contacts</a></li>-->
            <li class="divider"></li>
            <li>
              <a href="javascript:;" (click)="onUnfriend()">
                <i class="fa fa-times"></i> Unfriend
              </a>
            </li>
          </ul>
        </div>

        <div class="btn-group" *ngIf="relationships.status == 1">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Friend Requested <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href="javascript:;" (click)="onCancelRequest()">Cancel Request</a>
            </li>
          </ul>
        </div>


        <!--menu-->
        <div class="btn-group" *ngIf="userInfo.uuid !== userService.profile.uuid">
          <button type="button" class="btn btn-default" *ngIf="!relationships?.follow" (click)="follow(userInfo.uuid)">
            Follow
          </button>

          <div class="btn-group" *ngIf="relationships?.follow">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-check"></i> Following <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="javascript:;" (click)="unfollow(userInfo.uuid)" *ngIf="relationships?.follow">Unfollow</a></li>
            </ul>
          </div>

          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" pTooltip="{{ tooltip.moreAction }}" tooltipPosition="top">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <!--<li><a href="javascript:;" (click)="unfollow(userInfo.uuid)" *ngIf="relationships?.follow">Unfollow</a></li>-->
            <li><a href="javascript:;" (click)="onReport()">Report member</a></li>
          </ul>
        </div>


      </div>

    </so-information>

  </cover-profile>

  <nav class="nav-tabs-wrap">
    <ul class="nav nav-tabs list-unstyled clearfix">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/profile', uuid, 'post']">Post</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/profile', uuid, 'about']">About</a>
      </li>
      <li *ngIf="showFriends" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/profile', uuid, 'friends']">Friends</a>
      </li>
      <li class="pull-right dropdown">

      </li>
      <!--<li *ngIf="relationships" class="pull-right mr10">-->

      <!--</li>-->
    </ul>
  </nav>
</div>
