<div *ngIf="userInfo" class="zone-social-cover">
  <div class="zone-social-cover-in user">
    <div class="zone-social-cover-action">
      <button class="btn btn-wth-default">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
    <div class="zone-social-cover-img">
      <img class="img-bg img-full" src="assets/images/landing/hero-image.jpg" alt="">
    </div>
    <div class="zone-social-cover-info">
      <div class="z-social-media z-social-media-md">
        <div class="z-social-media-left">
          <img [src]="userInfo.profile_image" width="100" src="assets/images/avatar/avatar-lg.png" alt="">
        </div>
        <div class="z-social-media-body">
          <div class="z-heading">
            <div class="z-name">
              {{userInfo.name}}
            </div>
          </div>
          <div class="z-shared-info">
            <ul>
              <li>
                {{userInfo.nickname}}
              </li>
            </ul>
          </div>
          <div class="z-shared-description">

          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="zone-social-cover-nav">
    <ul class="list-unstyled clearfix">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/profile/', uuid]">Post</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/profile/'+uuid+'/about']">About</a>
      </li>
      <li class="pull-right dropdown">
        <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-custom">
          <li><a href="#">Edit Contact Profile</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a [routerLink]="['/setting']">Settings</a></li>
          <li *ngIf="userInfo.uuid != userService.profile.uuid"><a href="#" (click)="onReport()">Report member</a></li>
        </ul>
      </li>
      <li *ngIf="relationships" class="pull-right mr10">
        <button *ngIf="relationships.status == 0" class="btn btn-default" type="button" (click)="onAddfriend()">
          <i class="fa fa-user-plus"></i> Add Friend
        </button>

        <div *ngIf="relationships.status == 1" class="btn-group pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Friend Requested <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-custom">
            <li>
              <a href="javascript:;" (click)="onCancelRequest()">Cancel Request</a>
            </li>
          </ul>
        </div>

        <button *ngIf="relationships.status == 2" class="btn btn-default" type="button" (click)="onUnfriend()">
          <i class="fa fa-times"></i> Unfriend
        </button>
      </li>
    </ul>
  </nav>
</div>
