<div class="page-body-control has-page-body-sidebar">
  <div class="media media-middle media-user-list">
    <div *ngIf="profile" class="media-body">
      <h3 class="bold m0">{{profile.name}}</h3>
    </div>
    <div class="media-right no-wrap">
      <button class="btn btn-default-inline" type="button">
        <i class="fa fa-comment"></i>
      </button>
      <button type="button" class="btn btn-default-inline">
        <i class="fa fa-star-o"></i>
      </button>
      <!--<z-chat-contact-actions #chatContactActions></z-chat-contact-actions>-->
    </div>
  </div>
</div>

<div class="page-body-content has-page-body-sidebar has-page-body-control">
  <div class="page-body-content-in">
    <div *ngIf="profile" class="chat-profile">
      <div class="chat-profile-img">
        <span class="avatar-md">
          <img [src]="profile.profile_image" alt="">
        </span>
      </div>

      <partials-profile-email [data]="profileEmail"></partials-profile-email>
      <partials-profile-phone [data]="profilePhone"></partials-profile-phone>
      <partials-profile-address [data]="profileAddress"></partials-profile-address>
      <partials-profile-media [data]="profileMedia"></partials-profile-media>
      <partials-profile-note [data]="profileNote"></partials-profile-note>

    </div>
  </div>
</div>
