<div class="page-body-control has-page-body-sidebar">
  <div class="media media-middle media-user-list">
    <div *ngIf="profile" class="media-body">
      <h3 class="bold m0">{{profile.name}}</h3>
    </div>
    <div class="media-right no-wrap">
      <button class="btn btn-default-inline" type="button">
        <i class="fa fa-comment"></i>
      </button>
      <button type="button" class="btn btn-default-inline">
        <i class="fa fa-star-o"></i>
      </button>
      <!--<z-chat-contact-actions #chatContactActions></z-chat-contact-actions>-->
    </div>
  </div>
</div>

<div class="page-body-content has-page-body-sidebar has-page-body-control">
  <div class="page-body-content-in">
    <div *ngIf="profile" class="chat-profile">
      <div class="chat-profile-img">
        <span class="avatar-md">
          <img [src]="profile.profile_image" alt="">
        </span>
      </div>
      <div class="chat-profile-content">
        <h3>Phone</h3>
        <dl class="dl-horizontal">
          <dt>Mobile</dt>
          <dd><img src="../../assets/images/flags/canada.png" alt=""> +1 01234567890</dd>
          <dt>Fax</dt>
          <dd><img src="../../assets/images/flags/canada.png" alt=""> +1 01234567890</dd>
        </dl>
        <h3>Email</h3>
        <dl class="dl-horizontal">
          <dt>Work</dt>
          <dd>cersei.lannister@lannister.com</dd>
          <dt>Personal</dt>
          <dd>drinkingproblem@lannister.com</dd>
        </dl>
        <h3>Address</h3>
        <dl class="dl-horizontal">
          <dt>Home</dt>
          <dd>
            14216 Kinton Parkway <br>
            P.O. Box 18970 <br>
            Irvine California 92618 <br>
            United State
          </dd>
          <dt>Work</dt>
          <dd>
            16215 Alton Parkway <br>
            P.O. Box 17960 <br>
            Irvine California 92618 <br>
            United State
          </dd>
        </dl>
        <h3>Media</h3>
        <dl class="dl-horizontal">
          <dt>Facebook</dt>
          <dd><a href="#">External link</a></dd>
          <dt>Facebook</dt>
          <dd><a href="#">External link</a></dd>
        </dl>
        <h3>Note</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>
