.aside-left {
  .navgroup {
    margin-bottom: 20px;
  }
  .aside-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    color: $text-color;
  }
  .navgroup-menu {
    line-height: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      a {
        display: block;
        padding: 7px 15px;
        text-decoration: none;
        color: $text-color;
        &:hover {
          background-color: $color-inverse;
          color: #ffffff;
        }
      }
    }
  }
  .navgroup-choose {
    padding: 0 10px;
    .checkbox {
      margin: 20px 0;
    }
  }
}
