.aside-menu {
  padding-top: 20px;
  .page-menuleft {
    a {
      display: block;
      color: $text-color;
      padding: 8px 30px;
      text-decoration: none;
      font-size: 18px;
      &:hover {
        background-color: #F6F6F6;
      }
    }
    > ul {
      > li {
        > a {
          font-size: 18px;
          font-weight: bold;
        }
        &.active {
          background-color: #F6F6F6;
        }
        &.has-sub {
          ul {
            li {
              a {
                padding-left: 60px;
                &:hover {
                  background-color: #d8d8d8;
                }
              }
              &.active {
                a {
                  background-color: #d8d8d8;
                }
              }
            }
          }
        }
      }
    }
  }
}
