html {
  position: relative;
}

body {
  &.fixed-hidden {
    overflow: hidden;
  }
}

.gray-light {
  background-color: #f6f6f6;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  @include flexbox;
  @include flex-direction(column);
  .main {
    @include flex(1);
    @include flex-basis(auto);
  }
}

.banner-wrap {
  margin-top: -20px;
  position: relative;
  z-index: 1;
  .banner-img {
    height: 580px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      margin: 0 0 0 -960px;
    }
  }
  .banner-txt {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    max-width: 380px;
  }

  // library page
  &.banner-bg {
    height: 400px;
    margin-bottom: $grid-gutter-width;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    .banner-over {
      position: absolute;
      left: 0;
      right: 0;
      color: #ffffff;
      @include center(false, true);
      .banner-dv {
        max-width: 830px;
        margin: auto;
        text-align: center;
        font-size: 24px;
      }
      .banner-tt {
        font-size: 64px;
        font-weight: bold;
        margin: 0 0 20px;
      }
    }
  }

}

.main {
  .boxes-tabs {
    text-align: center;
    margin: 100px 0;
    .table-plan {
      margin-top: 30px;
      tr {
        th {
          text-align: center;
        }
        td {
          vertical-align: middle;
        }
        td:first-child {
          text-align: left;
        }
      }
    }
    &.boxes-tabs-2 {
      background-image: url(../images/too-many-apps.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      color: #ffffff;
      padding: 150px 0;
      h2, h3 {
        text-shadow: 1px 1px 5px #000000;
      }
    }
    &.boxes-tabs-4 {
      background-image: url(../images/no-commitments.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      color: #ffffff;
      padding: 150px 0;
      h2, h3, p {
        text-shadow: 1px 1px 5px #000000;
      }
      margin-bottom: 0;
    }
  }
}

.statement {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}

.box-panel {
  .box-panel-title {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #4A4A4A;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 30px;
  }

  .box-panel-subtitle {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
  }

  .box-panel-top {
    @include clearfix;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-slate;
    margin: $grid-gutter-width/2 0;
    h3 {
      line-height: 30px;
      font-weight: bold;
      margin: 0;
      display: inline-block;
    }
    > .view-more {
      line-height: 30px;
      float: right;
    }
  }

  .list-group-item-heading {
    @extend .box-panel-subtitle;
  }
}

// Style for plan
.p-plan-info {
  color: $light-slate;
  span {
    font-size: 18px;
    color: $text-color;
  }
}

$footer-height: 222px;
.page-hero {
  position: relative;
  min-height: 100vh;
  margin-bottom: -$footer-height;
  padding-bottom: $footer-height;
  .page-hero-item {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: absolute;
    background-attachment: fixed;
    top: 0;
    bottom: $footer-height;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .page-hero-content {
    max-width: 570px;
    margin: 0 auto;
    padding: 150px 0 100px;
    @media (max-width: $screen-xs-max) {
      padding: 30px 0;
      margin-left: $grid-gutter-width/2;
      margin-right: $grid-gutter-width/2;
      width: auto;
    }
  }
  .page-hero-txt {
    padding: 40px 50px;
    background-color: #ffffff;
    .divider {
      margin: 20px -50px;
    }
    @media (max-width: $screen-xs-max) {
      padding: $grid-gutter-width/2;
      .divider {
        margin: 20px -$grid-gutter-width/2;
      }
    }
  }
  .page-hero-tt {
    text-align: center;
    margin-bottom: 20px;
    .h1 {
      text-align: center;
      margin: 0 0 5px;
    }
  }
}

.page-hero-header {
  height: 300px;
  padding: $grid-gutter-width/2;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  @media (max-width: $screen-xs-max) {
    height: 150px;
  }
  .h1 {
    margin: 0;
    padding: 0;
    @include center();
    font-size: 64px;
    color: #ffffff;
    @media (max-width: $screen-xs-max) {
      font-size: 24px;
    }
  }

}

.page-content {
  padding: 90px 0;
  @media (max-width: $screen-xs-max) {
    padding: 20px 0;
  }
  .h1 {
    text-align: center;
    margin: 0 0 20px;
  }
}

.page-container {
  padding: 30px 0;
  @media (max-width: $screen-xs-max) {
    padding: 15px 0;
  }
}

.page-full {
  position: relative;
  .page-left {
    width: 270px;
    @include box-shadow(2px 2px 4px 0px rgba(73, 73, 73, 0.40));
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  .page-body {
    padding-left: 270px;
    background-color: #F6F6F6;
    min-height: 800px;
    padding-bottom: 60px;
  }
  .page-body-control {
    background-color: #ffffff;
    padding: 15px 30px;
    @include clearfix;
    @include box-shadow(0px 2px 4px 0px rgba(73, 73, 73, 0.40));
    > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .control-body-select {
      float: left;
      margin-right: 0;
      > li {
        float: left;
        margin-right: 10px;
        &.dropdown > .btn:not(.btn-circle) {
          border-color: transparent;
        }
        .dropdown-menu {
          margin-top: 15px;
          > li {
            &.divider {
              margin-top: 0;
              margin-bottom: 0;
            }
            > a {
              padding: 10px 15px;
              min-width: 240px;
            }
          }
          > .active > a,
          > .active > a:hover,
          > .active > a:focus {
            background-color: $light-grey;
            color: $text-color;
          }
        }
      }
      &.control-body-btnview {
        float: right;
        margin-right: 0;
        > li {
          float: left;
          margin-left: 5px;
          margin-right: 0;
          &.action-disabled {
            cursor: not-allowed;
            a {
              pointer-events: none;
              @include opacity(0.3);
            }
          }
          &:last-child {
            margin-left: 15px;
          }
          > a {
            line-height: 34px;
            font-size: 20px;
            padding-left: 10px;
            padding-right: 10px;
          }
          &.dropdown {
            padding-left: 15px;
            border-left: 1px solid $light-grey;
            > a {
              color: $text-color;
              &:hover {
                color: #000000;
              }
            }
          }
          &.action {
            border-left: 0px;
            padding-left: 0px;
          }
          .dropdown-menu {
            left: auto;
            right: 0;
          }
        }
      }
      &.control-body-btnview-left {
        a {
          color: $text-color;
          line-height: 34px;
          font-size: 20px;
          &:hover {
            color: #000000;
          }
        }
      }
    }
    .control-body-search {
      float: left;
      max-width: 470px;
      position: relative;
      .input-group {
        .input-group-btn:first-child {
          .btn {
            border-right-width: 0;
          }
        }
        .input-group-btn:last-child {
          .btn {
            border-left-width: 0;
          }
        }
        .form-control {
          border-left-width: 0;
          border-right-width: 0;
          &:focus {
            outline: 0 none;
            @include box-shadow(0 0 0);
            border-color: $input-border;
          }
        }
        .btn {
          &:hover, &:focus {
            background-color: transparent;
            border-color: $input-border;
          }
        }
      }
      .advSearch {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        margin-top: 15px;
        z-index: 100;
        padding: 15px 0;
        background: #FFFFFF;
        border: 1px solid #D8D8D8;
        @include box-shadow(0px 2px 4px 0px rgba(163, 163, 163, 0.40));
        border-radius: 4px;
        .form-horizontal {
          .control-label {
            font-weight: normal;
            text-align: left;
          }
          .form-group {
            margin-bottom: 15px;
          }
        }
      }
    }

  }
  .page-body-in {
    padding: 30px;
    > section {
      &:first-child {
        .page-body-in-title {
          margin-top: 0;
        }
      }
    }
  }
  .page-body-in-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.dropzone-overlap {
  display: none;
  position: relative;
  .dropzone-overlap-txt {
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    @include center();
    z-index: 1;
    .fa {
      font-size: 260px;
    }
  }
}

body.drag-active {
  .dropzone-overlap {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, 0.60);
    color: #ffffff;
    z-index: 9999;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      content: "";
    }
  }
}

.img-center-dv {
  position: relative;
  overflow: hidden;
  .img-center {
    @include center();
    max-width: 100%;
  }
  .img-bottom-left {
    @include bottom-left();
    width: 100px;
  }
}

.two-layout-slip {
  .main-layout {
    width: 100%;
  }
  .right-layout {
    display: none;
  }

  &.active-info {
    .main-layout {
      width: 70%;
      float: left;
    }
    .right-layout {
      width: 30%;
      float: right;
    }
    .main-layout, .right-layout {
      display: inline;
    }
  }
}

//Read more
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  display: none;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  display: block;
  opacity: 1;
  font-size: inherit;
  max-height: 9999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
