/* ==========================================================================
Header
========================================================================== */
.header {
  position: relative;
  z-index: 1000;
  @include box-shadow(0px 2px 4px 0px rgba(73, 73, 73, 0.40));
  .navbar-default {
    border-width: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    background-color: #ffffff;
  }
  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    img {
      height: 30px;
    }
  }
  .nav {
    > li {
      &.navbar-nav-button {
        margin-top: ($header-height - 34px)/2;
      }
      &.open {
        > a.dropdown-toggle {
          position: relative;
          &:before, &:after {
            content: "";
            position: absolute;
            bottom: -20px;
            @include center(true, false);

            /* Combined Shape: */
            width: 0;
            height: 0;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-bottom: 15px solid $dropdown-border;
          }
          &:after {
            bottom: -21px;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-bottom: 15px solid #FFF;
            z-index: 1001;
          }
        }
        .dropdown-menu {
          margin-top: 20px;
          width: 300px;
        }
      }
      > a {
        color: $light-slate;
      }
    }
  }
  .navbar-nav-top {
    margin-left: 15px;
    padding: 0;
    list-style-type: none;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    > li {
      float: left;
      &.open, &:hover, &:focus {
        > a {
          &, &:hover, &:focus {
            background-color: transparent;
            color: $text-color;
          }
        }
      }
      > a {
        &.dropdown-toggle {
          line-height: 30px;
        }
      }

      &.navbar-nav-management,
      &.navbar-nav-notification {
        > a {
          font-size: 20px;
        }
      }
      &.navbar-nav-notification {
        .notification-num {
          color: #FFF;
          background-color: $color-inverse;
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          text-align: center;
          line-height: 20px;
          position: absolute;
          top: 6px;
          right: 6px;
          font-family: $font-style;
        }
      }
      &.navbar-nav-profile {
        a.dropdown-toggle {
          img {
            float: left;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.navbar-nav-management {
  .dropdown-menu {
    padding: 5px;
    > li {
      width: 50%;
      float: left;
      padding: 5px;
      a {
        color: $light-slate;
        display: block;
        border-radius: $border-radius-base;
        text-align: center;
        padding: 10px;
        i {
          font-size: 48px;
          line-height: 48px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        span {
          display: block;
          font-weight: bold;
          font-size: 16px;
        }
        &:hover {
          background-color: #eee;
          color: $text-color;
        }
      }
    }
  }
}

.navbar-nav-notification {
  .dropdown-menu-bar {
    font-size: 12px;
    padding: 5px;
    overflow: hidden;
    a {
      color: inherit;
      &:after {
        display: inline-block;
        margin: 0 3px;
        content: '\2022';
      }
      &:last-child:after {
        display: none;
      }
    }
  }
  .view-all {
    padding: 0;
    margin-bottom: -5px;
    a {
      padding: 10px;
      font-size: 16px;
      text-align: center;
      color: $link-color;
      @include border-bottom-radius(4px);
    }
  }
  #notification-items {
    max-height: 400px;
    overflow: auto;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
    .navbar-nav-notification-item {
      padding: 5px;
      border-bottom: 1px solid $line;
      &:last-child {
        border-bottom-width: 0;
      }
      img {
        height: 52px;
      }
      p {
        line-height: 1;
        margin-bottom: 0;
      }
    }
    .sub-menu {
      width: auto !important;
      margin: 0;
      top: 0;
      a {
        font-size: 10px;
        padding: 2px 5px;
      }
    }
  }
}

.header-over {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  @include box-shadow(none);
  .navbar-default {
    background-color: transparent;
  }
  .nav > li > a {
    color: #ffffff;
    @media (min-width: $screen-sm) {
      background-color: transparent;
    }
  }
}
