/* ==========================================================================
Header
========================================================================== */
.header {
  position: relative;
  z-index: 2000;
  .navbar {
    @media (min-width: $screen-sm) {
      padding-top: 15px;
      padding-bottom: 15px;
      &.navbar-default {
        background-color: $white;
        border-radius: 0;
        border-width: 0;
      }

      .navbar-brand {
        height: 38px;
        line-height: 35px;
        padding-top: 0;
        padding-bottom: 0;
        img {
          height: 30px;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .navbar-page {
        line-height: 30px;
        display: inline-block;
        border-left: 1px solid $light-grey;
        padding: 4px 25px;
        font-size: 24px;
        font-weight: bold;
        font-family: $font-style;
        margin-left: 10px;
      }

      .navbar-nav {
        > li {
          &.open, :hover {
            > a {
              background-color: transparent;
              color: $text-color;
            }
          }
          &.open {
            > a.dropdown-toggle {
              position: relative;
              &:before, &:after {
                content: "";
                position: absolute;
                bottom: -20px;
                @include center(true, false);

                /* Combined Shape: */
                width: 0;
                height: 0;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-bottom: 15px solid $dropdown-border;
              }
              &:after {
                bottom: -21px;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-bottom: 15px solid #FFF;
                z-index: 1001;
              }
            }
          }
          > a {
            line-height: 30px;
            color: $light-slate;
            padding-top: 4px;
            padding-bottom: 4px;
            &.navbar-nav-icon {
              font-size: 20px;
            }
            &:hover {
              color: $text-color;
            }
          }
          .dropdown-menu {
            border-radius: $border-radius-base;
            margin-top: 20px;
            width: 300px;
          }
        }
      }
      .navbar-form {
        margin-top: 0;
        margin-bottom: 0;
        .navbar-searchTop {
          position: relative;
          margin-left: 150px;
          .btn {
            & {
              position: absolute;
              left: 2px;
              padding-left: 8px;
              padding-right: 8px;
              background-color: transparent;
              border-width: 0;
              @include center(false, true);
              font-size: 16px;
            }
            &:hover,
            &:focus,
            &.focus {
              background-color: transparent;
              @include box-shadow(none);
            }
          }
          .form-control {
            height: 38px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 36px;
            min-width: 370px;
          }
        }
      }
      .dropdown-menu {
        a {
          color: $light-slate;
        }
      }
      .navbar-nav-management {
        .dropdown-menu {
          left: -85px;
          padding: 5px;
          > li {
            width: 50%;
            float: left;
            padding: 5px;
            a {
              display: block;
              border-radius: $border-radius-base;
              text-align: center;
              padding: 10px;
              i {
                font-size: 48px;
                line-height: 48px;
                margin-top: 20px;
                margin-bottom: 20px;
              }
              span {
                display: block;
                font-weight: bold;
                font-size: 16px;
              }
              &:hover {
                background-color: #eee;
                color: $text-color;
              }
            }
          }
        }
      }

      .navbar-nav-notification {
        .dropdown-menu {
          left: -135px;
          padding: 10px;
          > li {
            > a {
              &:hover {
                background-color: #eee;
              }
            }
            border-top: 1px solid $light-grey;
            &:first-child {
              border-top-width: 0;
            }
            &.view-all {
              margin: 0 -10px -5px;
              border-top: 1px solid $light-grey;
              a {
                display: block;
                padding: 15px 10px;
                text-align: center;
                font-size: 16px;
                font-family: $font-style;
                color: $color-link;
              }
            }
          }
          > li:not(.view-all) {
            a {
              display: block;
              padding: 5px;
              color: $text-color;
              padding-left: 28px;
              position: relative;
              white-space: normal;
              span {
                display: block;
              }
              time {
                font-size: 12px;
                color: $light-slate;
              }
              &:before {
                position: absolute;
                left: 5px;
                top: 10px;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #D8D8D8;
              }
              &.active {
                &:before {
                  background-color: $color-inverse;
                }
              }
            }
          }
        }
      }
      .navbar-nav-profile {
        &.open {
          > a.dropdown-toggle {
            &:before, &:after {
              margin-left: 35px;
            }
          }
        }
        .dropdown-menu {
          > li {
            padding: 10px;
            &.divider {
              padding: 0;
            }
            > a {
              color: $text-color;
              display: block;
              margin: -10px 0;
              padding: 10px;
              &:hover {
                background-color: #eee;
              }
            }
            .media-body {
              .media-heading {
                font-weight: bold;
                font-family: $font-style;
                color: $text-color;
                margin-top: 10px;
                margin-bottom: 0;
                &:first-child {
                  margin-top: 0;
                }
              }
              .in-email {
                font-size: 12px;
                color: $light-slate;
                display: block;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
  .navbar-nav-icon {
    position: relative;
  }
  .notification-num {
    color: #FFF;
    background-color: $color-inverse;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0px;
    right: 6px;
    font-family: $font-style;
  }
  .navbar-nav-profile {
    .name {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  .dropdown {
    .fa-caret-down {
      font-size: 20px;
      position: relative;
      top: 2px;
    }
  }
}

/*.header {
  position: relative;
  z-index: 100;
}

.navbar {
  .navbar-nav {
    text-transform: uppercase;
    > li > a.btn-get {
      color: #ffffff;
      border-width: 0;
      &:hover, &:focus {
        background-color: $color-inverse-dark;
      }
    }
  }
  @media (min-width: $screen-sm) {
    border-radius: 0;
    padding: 15px 0;
    background-color: transparent;
    border-width: 0;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .2));
    .navbar-brand {
      padding: 0;
      margin-left: 0 !important;
      margin-right: 20px;
      img {
        height: 30px;
      }
    }
  }
}

.navbar-default {
  .navbar-nav {
    > li.open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-inverse;
      }
    }
    > li {
      &.active {
        > a {
          &,
          &:hover,
          &:focus{
            background-color: transparent;
            outline: 0 none;
            color: $color-inverse;
          }

        }
      }
      > a {
        outline: 0 none;
        &.router-link-active,
        &:hover,
        &:focus,
        &:active {
          outline: 0 none;
          color: $color-inverse;
        }
      }
    }
    &.navbar-right {
      @media (min-width: $screen-sm) {
        a.dropdown-toggle {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}*/

