/* ==========================================================================
Header
========================================================================== */
.header {
  position: relative;
  z-index: 100;
}

.navbar {
  .navbar-nav {
    text-transform: uppercase;
    > li > a.btn-get {
      color: #ffffff;
      border-width: 0;
      &:hover, &:focus {
        background-color: $color-inverse-dark;
      }
    }
  }
  @media (min-width: $screen-sm) {
    border-radius: 0;
    padding: 18px 0 14px;
    background-color: transparent;
    border-width: 0;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .2));
    .navbar-brand {
      padding: 0;
      margin-left: 0 !important;
      img {
        height: 50px;
      }
    }
  }
}

.navbar-default {
  .navbar-nav {
    > li.open > a {
      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-inverse;
      }
    }
    > li > a {
      outline: 0 none;
      &.router-link-active,
      &:hover,
      &:focus,
      &:active {
        outline: 0 none;
        color: $color-inverse;
      }
    }
  }
}
