$header-height: 68px;
$header-height-xs: 50px;
.wrapper {
  overflow: hidden;
  position: relative;
  padding-top: $header-height;
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
