

<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Sharing</h4>
  </bs-modal-header>
  <bs-modal-body>
    <!-- <div class="alert alert-danger" *ngIf="!changed">
      <i class="fa fa-exclamation-triangle"></i> You have made changes that you need to save!
    </div> -->

    <div class="form-group">
      <p-autoComplete #auto [(ngModel)]="selectedContacts"
                      [suggestions]="filteredContacts"
                      [multiple]="true"
                      [minLength]="1"
                      field="name"
                      (onSelect)="selectContact($event)"
                      (onUnselect)="removeSelected($event)"
                      (completeMethod)="contactTerm$.next($event)">
      </p-autoComplete>
    </div>

    <div class="modal-body-collapse">
      <a *ngIf="sharedObjects.length == 1" role="button" data-toggle="collapse" href="#collapseContact" aria-expanded="false"
         aria-controls="collapseExample">
        Shared with {{ sharedSharings.length }} Contacts
      </a>
      <div class="collapse in" id="collapseContact">
        <div class="modal-body-collapse-in">
          <div class="media-list-item">
            <div class="media">
              <div class="media-body">
                Shared users
              </div>
            </div>
          </div>
          <!--Loop-->
          <div class="media-list-item" *ngFor="let sharing of sharedSharings">
            <div class="media">
              <div class="media-left">
                <span class="avatar-xxs">
                  <img [src]="sharing.recipient.profile_image" alt="">
                </span>
              </div>
              <div class="media-body">
                {{ sharing.recipient.name }}
              </div>
              <div class="media-right">

                <div class="btn-group" *ngIf="!sharing._destroy">
                  <button type="button" class="btn btn-sm btn-outline-default dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    {{(!sharing.permission || sharing.permission == 'view')? 'View Only': 'Can Edit'}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:;" (click)="changePermission(sharing, 'view')"><i [ngClass]="{'fa fa-check': (!sharing.permission || sharing.permission == 'view')}"></i> View only</a></li>
                    <li><a href="javascript:;" (click)="changePermission(sharing, 'edit')"><i [ngClass]="{'fa fa-check': (sharing.permission == 'edit')}"></i> Can Edit </a></li>
                  </ul>
                </div>

                <button *ngIf="!sharing._destroy" class="btn btn-sm btn-outline-default" (click)="remove(sharing)"><i class="fa fa-times"></i> Remove </button>
                <button *ngIf="sharing._destroy" class="btn btn-sm btn-outline-default" (click)="cancelRemove(sharing)"><i class="fa fa-times"></i> Cancel </button>
              </div>
            </div>
          </div>
          <!--end Loop-->
        </div>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button *ngIf="showCancelButton && changed" type="button" class="btn btn-outline-default btn-min" (click)="cancel()">Cancel</button>
    <button *ngIf="changed" type="button" [ngClass]="{'text-disable': !changed}"
            [disabled]="!changed" (click)="save()"
            class="btn btn-outline-primary btn-min">Save
    </button>
    <button *ngIf="!changed" type="button" (click)="close()"
            class="btn btn-outline-primary btn-min"> Done
    </button>
  </bs-modal-footer>
</bs-modal>
