

<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'" style="display: inline;">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Sharing</h4>
  </bs-modal-header>
  <bs-modal-body>
    <!-- <div class="alert alert-danger" *ngIf="!changed">
      <i class="fa fa-exclamation-triangle"></i> You have made changes that you need to save!
    </div> -->

    <div class="form-group">
      <!--add users for share region-->
      <div *ngIf="!updating" class="input-group">

        <p-autoComplete #auto placeholder="Enter name or email"
                        [(ngModel)]="selectedUsers"
                        [suggestions]="users"
                        [multiple]="true"
                        [minLength]="1"
                        field="name"
                        (onSelect)="selectUser($event)"
                        (onUnselect)="deselectUser($event)"
                        (completeMethod)="contactTerm$.next($event)">
          <ng-template let-user pTemplate="item">
            <div class="ui-help-clearfix user-row">
              <div class="avatar">
                <a href="javascript:void(0)">
                  <img class="img-circle small" [alt]="user.name" [src]="user.profile_image">
                </a>
              </div>
              <div class="name">
                <a class="text-link" href="javascript:void(0)">
                  <p class="mb0">{{ user.name }}</p>
                </a>
                <span *ngIf="user.new" class="text-color-light text-small"> not in WTHContacts</span>
              </div>
            </div>
          </ng-template>
        </p-autoComplete>

        <div class="input-group-btn" style="vertical-align: top;">
          <!-- Single button -->
          <div class="btn-group">
            <button type="button" class="btn btn-outline-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [title]="role.display_name">
              <i class="fa" [ngClass]="role.name == 'view'? 'fa-eye' :
                            role.name == 'download'? 'fa-download' :
                            role.name == 'edit'? 'fa-pencil' : 'fa-unlock'">
              </i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li *ngFor="let r of roles" (click)="changeRole(r)">
                <a href="javascript:void(0);"> {{ r.display_name }}
                  <i class="pull-right" [ngClass]="{'fa fa-check': (r.id === role.id)}"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!--edit mode-->
      <div *ngIf="updating" class="text-left changing padding8 rounded border bg-warning border-1">
        <i class="fa fa-exclamation-triangle text-warning"></i>
        Your sharing list has changes that you need to be saved.
      </div>

    </div>

    <ng-container *ngIf="!loading; else loadingBlock">

        <div class="w-list-scroll">

          <!--Loop-->
          <div class="media-list-item" *ngFor="let sharing of sharings">
            <div class="media" [ngClass]="sharing._destroy ? 'remove': ''">
              <div class="media-left">
                <span class="avatar-xs">
                  <img class="img-circle" [src]="sharing.recipient.profile_image" alt="">
                </span>
              </div>
              <div class="media-body name">
                {{ sharing?.recipient?.name }}
              </div>
              <div class="media-right">

                <div class="btn-group" *ngIf="!sharing._destroy">
                  <button type="button" class="btn btn-outline-default dropdown-toggle"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          [title]="sharing.permission">
                    <i class="fa" [ngClass]="sharing.permission == 'view'? 'fa-eye' :
                            sharing.permission == 'download'? 'fa-download' :
                            sharing.permission == 'edit'? 'fa-pencil' : 'fa-unlock'">
                    </i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-haspopup="true" aria-expanded="false">
                    <li *ngFor="let r of roles" (click)="changeRole(r, sharing)">
                      <a href="javascript:void(0);">
                      <i [ngClass]="{'fa fa-check': (!sharing.permission || sharing.permission == r.name)}"></i> {{ r.display_name }}</a></li>
                  </ul>
                </div>

                <button *ngIf="!sharing._destroy" class="btn btn-sm btn-default" (click)="remove(sharing)"><i class="fa fa-times"></i></button>
                <button *ngIf="sharing._destroy" class="btn btn-sm btn-default"> Removed </button>
              </div>
            </div>
          </div>
          <!--end Loop-->
        </div>
      <!--</div>-->
    <!--</div>-->
    </ng-container>
    <ng-template #loadingBlock>
      <box-loading></box-loading>
    </ng-template>


  </bs-modal-body>
  <bs-modal-footer>
    <button *ngIf="showCancelButton && changed" type="button" class="btn btn-outline-default btn-min" (click)="cancel()">Cancel</button>
    <button *ngIf="changed && updating" type="button" [ngClass]="{'text-disable': !changed}"
            [disabled]="!changed" (click)="save()"
            class="btn btn-outline-primary btn-min">Save Changes
    </button>
    <button *ngIf="changed && !updating" type="button" [ngClass]="{'text-disable': !changed}"
            [disabled]="!changed" (click)="save()"
            class="btn btn-outline-primary btn-min">Share
    </button>
    <button *ngIf="!changed" type="button" (click)="close()"
            class="btn btn-outline-primary btn-min"> Done
    </button>
  </bs-modal-footer>
</bs-modal>
