@import '../../../../assets/styles/global';

:host {
  display: block;
}

.w-list-scroll {
  min-height: 300px;
  max-height: 300px;
  height: 300px;
  overflow-y: auto;
  .media, .media-body {
    overflow: visible;
  }
  .media-right {
    white-space: nowrap;
  }
}

.dropdown-menu {
  &.dropdown-menu-right a i {
    position: absolute;
    right: 15px;
  }
}
