<table class="table table-striped">
  <tr>
    <th>Hostname</th>
    <th>IP Address</th>
    <th>IP Version</th>
    <th>Last Update</th>
    <th class="text-right">
      <button (click)="addHost($event)" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Host</button>
    </th>
  </tr>
  <tr *ngIf="records.length == 0">
    <td class="text-center" colspan="5">No data</td>
  </tr>
  <tr *ngFor="let record of records">
    <td>
      {{record.name}}.wthdns.com
    </td>
    <td>{{record.content}}</td>
    <td>{{record.record_type == 'A' ? 'IPv4' : 'IPv6'}}</td>
    <td>{{record.updated_at | date:'MMM dd, yyyy' : 'UTC'}} {{record.updated_at | date:'H:mm:ss' : 'UTC'}}</td>
    <td width="160" class="text-right">
      <button class="btn btn-sm btn-default" (click)="editHost($event,record.id)"><i class="fa fa-pencil"></i> Edit
      </button>
      <button class="btn btn-sm btn-default" (click)="deleteHost($event,record.id)"><i class="fa fa-pencil"></i> Delete
      </button>
    </td>
  </tr>
</table>
