<div class="btn-group header-nav-apps">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          pTooltip="{{ tooltip.wthApps }}" tooltipPosition="bottom">
    <i class="fa fa-th"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <!--<li>
      <a [href]="urls.social">
        <i class="icon-zone-lg-social"></i>
        <span>Social</span>
      </a>
    </li>-->
    <li>
      <a [href]="urls.chat">
        <i class="icon-zone-lg-chat"></i>
        <span>Chat</span>
      </a>
    </li>
    <li>
      <a [href]="urls.contact">
        <i class="icon-zone-lg-contact"></i>
        <span>Contacts</span>
      </a>
    </li>
    <li>
      <a [href]="urls.media">
        <i class="icon-zone-lg-media"></i>
        <span>Photos</span>
      </a>
    </li>
    <li>
      <a [href]="urls.note">
        <i class="icon-zone-lg-note"></i>
        <span>Notes</span>
      </a>
    </li>
    <li>
      <a [href]="urls.myAccount">
        <i class="icon-zone-lg-settings"></i>
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a [href]="urls.myAccount + '/dashboard'">
        <i class="icon-zone-lg-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
  </ul>
</div>
