<modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Information</h4>
  </modal-header>
  <form [formGroup]="form" novalidate>
    <modal-body>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group"
               [ngClass]="{'has-error': (!name.valid && name.touched),'has-success': (name.valid && name.touched)}">
            <label for="edit-photo-name">Name</label>
            <input [formControl]="name" type="text" class="form-control" id="edit-photo-name" placeholder="Name">
            <div *ngIf="!name.valid && name.touched">
          <span *ngIf="!name.valid && name.errors.required" class="help-block">
            Name is required
          </span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Date Created</label>
          <div>
            <p-calendar class="input-block" formControlName="date"></p-calendar>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="edit-photo-description">Description</label>
        <textarea [formControl]="description" rows="3" class="form-control" id="edit-photo-description"
                  placeholder=""></textarea>
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" (click)="onSubmit(form.value)" class="btn btn-outline-primary btn-min">Save</button>
      <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal">Cancel</button>
    </modal-footer>
  </form>
</modal>
