<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Information</h3>
  </div>
  <div class="panel-body">
    <partials-profile-email [data]="data" [editable]="true"></partials-profile-email>
    <partials-profile-phone [data]="data" [editable]="true"></partials-profile-phone>
    <partials-profile-address [data]="data" [editable]="true"></partials-profile-address>
    <partials-profile-media [data]="data" [editable]="true"></partials-profile-media>
  </div>
</div>
