<div id="photo-box-detail" class="photo-box-detail active" [ngClass]="{'active-info': showDetail}">
  <div *ngIf="photo" class="photo-detail-top">
    <ul class="action navbar-left">
      <li>
        <a href="javascript:;" draggable="false" (click)="goBack()"
           pTooltip="{{ tooltip.back }}" tooltipPosition="bottom"><i class="fa fa-arrow-left"></i></a>
      </li>
    </ul>

    <!--view menu-->
    <!--TODO encapsulate this component -> hd-dynamic-action-->
    <ul *ngIf="mode == 0" class="action navbar-right">
      <li *ngFor="let menu of menus" [ngClass]="{'dropdown': menu?.dropdown}">
        <a href="javascript:;" (click)="doAction({action: menu?.action, params: menu?.params})" data-toggle="dropdown"
           pTooltip="{{ menu.toolTip }}" tooltipPosition="bottom">
          <i *ngIf="menu?.action=='favourite'" class="fa" [ngClass]="photo.favorite ? 'fa-star-o': 'fa-star'"></i>
          <i *ngIf="menu?.action!='favourite'" [ngClass]="menu.iconClass"></i>
        </a>
        <ul *ngIf="menu?.parent" class="dropdown-menu">
          <li *ngFor="let subMenu of menu.menus">
            <a href="javascript:;" (click)="doAction({action: subMenu?.action, params: subMenu?.params})">
              <i [ngClass]="subMenu.iconClass"></i> {{ subMenu.text }}
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <!--editable menu-->
    <ul *ngIf="mode == 1" class="action action-text navbar-right ml10">
      <li>
        <a (click)="reset()" href="javascript:;" class="mr20" [ngClass]="{'a-not-editing': !editing}">Reset</a>
      </li>
      <li>
        <a (click)="cancel()" href="javascript:;" class="mr20">Cancel</a>
      </li>
      <!--<li *ngIf="!editing">-->
      <!--<a (click)="cropperDone()" href="javascript:;">Done</a>-->
      <!--</li>-->
      <li>
        <a href="javascript:;" (click)="cropperSave()" [ngClass]="{'a-not-editing': !editing}">Save</a>
      </li>
    </ul>

    <ul *ngIf="mode == 1" class="action navbar-right">
      <li>
        <a (click)="cropCropper()" href="javascript:;" [ngClass]="{'a-hover': cropping}"
           pTooltip="{{ tooltip.crop }}" tooltipPosition="bottom"><i class="fa fa-crop"></i></a>
      </li>
      <li>
        <a (click)="zoomCropper(-0.1)" href="javascript:;"
           pTooltip="{{ tooltip.zoomOut }}" tooltipPosition="bottom"><i class="fa fa-search-minus"></i></a>
      </li>
      <li>
        <a (click)="zoomCropper(0.1)" href="javascript:;"
           pTooltip="{{ tooltip.zoomIn }}" tooltipPosition="bottom"><i class="fa fa-search-plus"></i></a>
      </li>
      <li>
        <a (click)="rotateCropper(true)" href="javascript:;"
           pTooltip="{{ tooltip.rotateLeft }}" tooltipPosition="bottom"><i class="fa fa-rotate-left"></i></a>
      </li>
      <li>
        <a (click)="rotateCropper(false)" href="javascript:;"
           pTooltip="{{ tooltip.rotateRight }}" tooltipPosition="bottom"><i class="fa fa-rotate-right"></i></a>
      </li>
    </ul>

    <div class="name"><i class="fa fa-picture-o"></i> {{ photo?.name }}.{{ photo?.extension }}</div>
  </div>

  <div *ngIf="mode == 0" class="photo-detail-top-info">
    <div class="photo-detail-top-num" *ngIf="ids.length > 1">
      {{ currentIndex + 1 }} of {{ ids.length }}
    </div>
    <div *ngIf="photo" class="photo-detail-top-txt">
      {{ photo?.description }}
    </div>
  </div>

  <div *ngIf="mode == 0" class="photo-detail-bottom-action">
    <a draggable="false" href="javascript:;" (click)="zoomCropper(-0.1)"
       pTooltip="{{ tooltip.zoomOut }}" tooltipPosition="top"><i class="fa fa-minus"></i></a>
    <a draggable="false" href="javascript:;" (click)="zoomCropper(0)"
       pTooltip="{{ tooltip.resetZoom }}" tooltipPosition="top"><i class="fa fa-refresh"></i></a>
    <a draggable="false" href="javascript:;" (click)="zoomCropper(0.1)"
       pTooltip="{{ tooltip.zoomIn }}" tooltipPosition="top"><i class="fa fa-plus"></i></a>
  </div>

  <div class="photo-detail-img-control-wrap">
    <span *ngIf="(ids.length>1 && mode==0)" draggable="false" (click)="move(false)"
          class="photo-detail-img-control img-control-prev"
          pTooltip="{{ tooltip.previous }}" tooltipPosition="right">
      <i class="fa fa-angle-left"></i>
    </span>
    <span *ngIf="(ids.length>1 && mode==0)" draggable="false" (click)="move()"
          class="photo-detail-img-control img-control-next"
          pTooltip="{{ tooltip.next }}" tooltipPosition="bottom">
      <i class="fa fa-angle-right"></i>
    </span>
  </div>

  <div class="photo-view-wrap" [ngClass]="{'no-display': loading}">
    <img imgFull class="img-zoom-{{ imgZoomClass }} lazyload" draggable="false" id="photo-detail-image"
         [attr.data-src]="photo?.url" alt="">
  </div>

  <box-loading *ngIf="loading"></box-loading>

  <div *ngIf="photo" class="photo-detail-info">
    <h3>Information <a href="javascript:;" draggable="false" (click)="doAction({action: 'viewInfo'})"><i
      class="fa fa-times"></i></a></h3>
    <div class="photo-detail-info-title">
      <h4><i class="fa fa-file-text-o"></i> Details</h4>
      <a href="javascript:;"
         draggable="false"
         (click)="initCropper(); doAction({action: 'openModal', params: {modalName: 'editInfoModal'}, data: photo})">
        Edit
      </a>
    </div>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ photo.name }}</dd>
      <dt>Description</dt>
      <dd>{{ photo.description }}</dd>
      <dt>Type</dt>
      <dd>{{ photo.extension }}</dd>
      <dt>Size</dt>
      <dd>{{ photo.size | bytes:3 }}</dd>
      <dt>Dimensions</dt>
      <dd>{{ photo.dimensions }}</dd>
      <dt>Uploaded</dt>
      <dd>{{ photo.created_at | timeFormat }}</dd>
    </dl>
    <div class="photo-detail-info-title">
      <h4><i class="fa fa-tag"></i> Tag </h4>
      <a href="javascript:;" draggable="false"
         (click)="doAction({action: 'openModal', params: {modalName: 'taggingModal' }})">Edit</a>
    </div>
    <div class="tags-text">
      <span *ngFor="let tag of photo.json_tags">{{ tag.name }}</span>
    </div>


    <div class="photo-detail-info-title">
      <h4><i class="fa fa-share-alt"></i> Sharing</h4>
      <a href="javascript:;" draggable="false"
         (click)="doAction({action: 'openModal', params: {modalName: 'sharingModal' }})">Edit</a>
    </div>
    <dl>
      <dt>Owner</dt>
      <dd>
        <ul class="list-unstyled recipients">
          <li>
            <img [src]="photo.owner.profile_image" alt="{{ photo.owner?.name }}"
                 title="{{ photo.owner?.name }}"> {{ photo.owner?.name }}
          </li>
        </ul>
      </dd>

      <dt>Shared with</dt>
      <dd>
        <ul class="list-unstyled recipients" *ngIf="photo.json_shares.length > 0">
          <li *ngFor="let recipient of photo?.json_shares">
            <!--<img [src]="recipient?.profile_image" title="{{ recipient?.name }}">-->
            <!--{{ recipient.name }}-->
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<ng-template #modalContainer></ng-template>
<ng-template #loadingBlock>
  <box-loading></box-loading>
</ng-template>
