<div class="panel panel-default">
  <div class="panel-heading">
    <button class="btn btn-default pull-right">
      <i class="fa fa-pencil"></i>
    </button>
    <h3 class="panel-title">Hobby &amp; Interest</h3>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Drinking</dt>
      <dd>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium corporis, doloribus eligendi impedit
          necessitatibus nobis quisquam sed sit tempora. Doloremque error est et iure libero nisi perferendis, sapiente
          vel.
        </p>
      </dd>
      <dt>Hiking</dt>
      <dd>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium corporis, doloribus eligendi impedit
          necessitatibus nobis quisquam sed sit tempora. Doloremque error est et iure libero nisi perferendis, sapiente
          vel.
        </p>
      </dd>
      <dt>Music</dt>
      <dd>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium corporis, doloribus eligendi impedit
          necessitatibus nobis quisquam sed sit tempora. Doloremque error est et iure libero nisi perferendis, sapiente
          vel.
        </p>
      </dd>
    </dl>
  </div>
</div>
