<div class="page-body-content gray-light">
  <div class="page-body-content-in zone-social">
    <div class="zone-social-container">
      <div class="z-social-box">
        <div class="z-social-box-header">
          <nav class="z-social-box-header-nav pull-left nav-tabs-wrap">

            <div class="pull-left btn-group hidden-md hidden-lg">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                {{currentState}} <span class="text-fade">{{currentStateTitleNumber}}</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li [ngClass]="{'active': currentState == friendTabs.friends}">
                  <a  href="javascript:;" (click)="getDataList('friends'); currentStateTitleNumber = totalFriends;"
                     >
                    FRIENDS <span *ngIf="totalFriends" class="text-fade">{{totalFriends}}</span>
                  </a>
                </li>
                <li [ngClass]="{'active': currentState == friendTabs.followers}">
                  <a href="javascript:;" (click)="getDataList('followers'); currentStateTitleNumber = totalFollowers;">
                    FOLLOWERS <span *ngIf="totalFollowers" class="text-fade">{{totalFollowers}}</span>
                  </a>
                </li>
                <li [ngClass]="{'active': currentState == friendTabs.followings}">
                  <a href="javascript:;" (click)="getDataList('followings'); currentStateTitleNumber = totalFollowings;">
                    FOLLOWING <span *ngIf="totalFollowings" class="text-fade">{{totalFollowings}}</span>
                  </a>
                </li>
                <li [ngClass]="{'active': currentState == friendTabs.blacklists}">
                  <a href="javascript:;" (click)="getDataList('blacklists'); currentStateTitleNumber = totalBlacklist;">
                    BLACKLIST <span *ngIf="totalBlacklist" class="text-fade">{{totalBlacklist}}</span>
                  </a>
                </li>
              </ul>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs visible-md-block visible-lg-block">
              <li [ngClass]="{'active': currentState == friendTabs.friends}">
                <a (click)="getDataList('friends')" href="javascript:;">
                  FRIENDS <span *ngIf="totalFriends" class="badge badge-rounded badge-wth badge-right">{{totalFriends}}</span>
                </a>
              </li>
              <li [ngClass]="{'active': currentState == friendTabs.followers}">
                <a (click)="getDataList('followers')" href="javascript:;">
                  FOLLOWERS <span *ngIf="totalFollowers" class="badge badge-rounded badge-wth badge-right">{{totalFollowers}}</span>
                </a>
              </li>
              <li [ngClass]="{'active': currentState == friendTabs.followings}">
                <a (click)="getDataList('followings')" href="javascript:;">
                  FOLLOWING <span *ngIf="totalFollowings" class="badge badge-rounded badge-wth badge-right">{{totalFollowings}}</span>
                </a>
              </li>
              <li [ngClass]="{'active': currentState == friendTabs.blacklists}">
                <a (click)="getDataList('blacklists')" href="javascript:;">
                  BLACKLIST <span *ngIf="totalBlacklist" class="badge badge-rounded badge-wth badge-right">{{totalBlacklist}}</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="z-social-box-body z-social-box-body-communities" id="users-list">
          <div *ngIf="list && list.length == 0" class="p40 text-center">
            <div *ngIf="currentState == friendTabs.friends">
              <h3 class="text-fade">
                There is no friend on your friend list yet
              </h3>
              <button class="btn btn-default" type="button" (click)="focusSearchFriends()">
                Search for Friends
              </button>
            </div>
            <div *ngIf="currentState == friendTabs.followers">
              <h3 class="text-fade">
                There is no followers
              </h3>
            </div>
            <div *ngIf="currentState == friendTabs.followings">
              <h3 class="text-fade">
                There is no followings
              </h3>
            </div>
            <div *ngIf="currentState == friendTabs.blacklists">
              <h3 class="text-fade">
                There is no blacklist
              </h3>
            </div>

          </div>
          <div *ngIf="list && list.length > 0" class="row">
            <div *ngFor="let item of list" class="col-xs-12 col-lg-6">
              <div class="media-center" *ngIf="currentState != 'notification'">
                <div class="media-center-left">
                  <figure>
                    <a [routerLink]="['/profile', item?.uuid]">
                      <span class="avatar-sm">
                        <img [src]="item?.profile_image" alt="">
                      </span>
                    </a>
                  </figure>
                </div>
                <div class="media-center-body">
                  <h4 class="media-center-heading">
                    <a [routerLink]="['/profile', item?.uuid]">
                      {{item.name}}
                    </a>
                  </h4>
                  <!--<p *ngIf="nickname" class="media-center-p">{{item.nickname}}</p>-->
                </div>
                <div class="media-center-right">
                  <div *ngIf="currentState == friendTabs.friends" class="pull-right no-wrap">

                    <div class="btn-group">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-check"></i> Friend <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="javascript:;" *ngIf="!item.is_following" (click)="follow(item)">Follow</a></li>
                        <li><a href="javascript:;" *ngIf="item.is_following" (click)="unfollow(item)">Unfollow</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;" (click)="unfriend(item)">Unfriend</a></li>
                      </ul>
                    </div>

                    <div class="btn-group">
                      <button (click)="getFavourite(item?.uuid)" class="btn btn-default-inline-border dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                          <a href="javascript:;" (click)="addFavourite(item?.uuid)">
                            <span *ngIf="!favourite && !favourite?.uuid">Add to Favorites</span>
                            <span *ngIf="favourite && favourite?.uuid">Remove from Favorites</span>
                          </a>
                        </li>
                        <li><a href="javascript:;" (click)="addToContacts(item?.uuid)">Import to contacts</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:;" (click)="reportFriend(item)">Report Member</a></li>
                        <li><a href="javascript:;" (click)="addToBlackList(item?.uuid)">Add to blacklist</a></li>
                      </ul>
                    </div>
                  </div>
                  <div *ngIf="currentState == friendTabs.followers" class="pull-right no-wrap">
                    <button class="btn btn-default" type="button" (click)="follow(item)">
                      <i class="fa fa-share"></i> Follow
                    </button>

                    <div class="btn-group">
                      <button class="btn btn-default-inline-border dropdown-toggle" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a href="javascript:;" (click)="reportFriend(item)">Report Member</a></li>
                        <li><a href="javascript:;" (click)="addToBlackList(item?.uuid)">Add to blacklist</a></li>
                      </ul>
                    </div>
                  </div>
                  <div *ngIf="currentState == friendTabs.followings" class="pull-right no-wrap">
                    <button class="btn btn-default" type="button" (click)="unfollow(item)">
                      <i class="fa fa-times"></i> Unfollow
                    </button>

                    <div class="btn-group">
                      <button class="btn btn-default-inline-border dropdown-toggle" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a href="javascript:;" (click)="reportFriend(item)">Report Member</a></li>
                        <li><a href="javascript:;" (click)="addToBlackList(item?.uuid)">Add to blacklist</a></li>
                      </ul>
                    </div>
                  </div>
                  <div *ngIf="currentState == friendTabs.blacklists" class="dropdown pull-right">
                    <button class="btn btn-default" type="button">
                      Remove
                    </button>
                  </div>
                </div>
              </div>
              <!--<div class="media-center" *ngIf="currentState == 'notification'">-->
                <!--<div class="media-center-left">-->
                  <!--<figure>-->
                    <!--<a [routerLink]="['/profile', item?.uuid]">-->
                      <!--<img [src]="item?.actor?.profile_image" width="70" alt="">-->
                    <!--</a>-->
                  <!--</figure>-->
                <!--</div>-->
                <!--<div class="media-center-body">-->
                  <!--<h4 class="media-center-heading">-->
                    <!--&lt;!&ndash;<a [routerLink]="['/profile', item.uuid]">&ndash;&gt;-->
                    <!--&lt;!&ndash;{{item.actor.name}}&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--<span style="font-weight:normal" [innerHtml]="item?.text"></span>-->
                  <!--</h4>-->

                <!--</div>-->
                <!--<div style="white-space: nowrap" class="media-center-right">-->
                  <!--<button *ngFor="let action of item?.actions" class="btn btn-default ml5" type="button"-->
                          <!--(click)="doAction(action, item?.id)">-->
                    <!--{{action.name}}-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <wth-zone-report></wth-zone-report>
</div>
