<div class="dropzone dropzone-overlap"
     (drop)="onDrop($event)"
     (dragenter)="dragenter()"
     (dragleave)="dragleave()"
     (dragover)="dragover($event)">

  <div class="dropzone-overlap-txt">
    <i class="fa fa-cloud-upload"></i>
    <p>Drag file anywhere to upload</p>
  </div>


</div>
<page-zone-bar [hasSelectedItem]="hasSelectedItem"
  (openWindow)="openFileWindow($event)"
  (selectedFiles)="handleFileUpload($event)"
  (onViewChanged)="viewChanged($event)"
  (onPreivew)="preview($event)"
  (onShare)="share($event)"
  (onTag)="tag($event)"
  (onDelete)="delete($event)"
  (onAdd)="add($event)"
  (onEdit)="edit($event)"
  (onDownload)="download($event)"
(onViewInfo)="viewInfo($event)"
></page-zone-bar>
<!--<router-outlet></router-outlet>-->
<page-zone-photo *ngIf="isPhoto" [pageView]="pageView" (selectedPhotos)="changedSelectedItems($event)" [resetSelected]="resetSelected"></page-zone-photo>
<page-zone-album *ngIf="isAlbum" [pageView]="pageView"></page-zone-album>
<page-zone-photo *ngIf="isAlbumDetail" [pageView]="pageView" (selectedPhotos)="changedSelectedItems($event)" [resetSelected]="resetSelected"></page-zone-photo>


<toast-uploading [files]="files" (photoEvent)="photoEvent($event)" (showModalAddToAlbumEvent)="showModalAddToAlbumEvent($event)" (createNewAlbum)="onCreateNewAlbum($event)"></toast-uploading>
<added-to-album-toast [showAddedtoAlbumToast]="showAddedtoAlbumToast" [photoCount]="photoCount" [albumName]="albumName" (hideAddedtoAlbumToast)="hideAddedtoAlbumToast($event)"></added-to-album-toast>

<page-zone-form-add-to-album [showAddtoAlbumForm]="showAddtoAlbumForm" (modalHide)="onModalHide($event)" (createNewAlbum)="onCreateNewAlbum($event)"></page-zone-form-add-to-album>
<page-zone-form-create-album [showCreateAlbum]="showCreateAlbum" (hideCreateAlbum)="onHideCreateAlbum($event)"></page-zone-form-create-album>
<wth-toast-upload></wth-toast-upload>
