<div class="dropzone dropzone-overlap"
     (drop)="onDrop($event)"
     (dragenter)="dragenter()"
     (dragleave)="dragleave()"
     (dragover)="dragover($event)">

  <div class="dropzone-overlap-txt">
    <i class="fa fa-cloud-upload"></i>
    <p>Drag file anywhere to upload</p>
  </div>


</div>
<page-zone-bar [hasSelectedItem]="hasSelectedItem" [hasMultiSelectedItem]="hasMultiSelectedItem"
  [hasFavourite]="hasFavourite"
  (openWindow)="openFileWindow($event)"
  (selectedFiles)="handleFileUpload($event)"
  (onViewChanged)="viewChanged($event)"
  (onPreview)="preview($event)"
  (onShare)="share($event)"
  (onTag)="tag($event)"
  (onFavourite)="addFavourite($event)"
  (onDelete)="delete($event)"
  (onAdd)="add($event)"
  (onEdit)="edit($event)"
  (onDownload)="download($event)"
  (onViewInfo)="viewInfo($event)"
  (createNewAlbum)="onCreateNewAlbum($event)"
></page-zone-bar>
<!--<router-outlet></router-outlet>-->
<page-zone-photo *ngIf="isPhoto"
                 [pageView]="pageView"
                 [preview]="modalPreview"
                 (modalHide)="onModalHide($event)"
                 (modalAction)="onModalAction($event)"
                 (selectedPhotos)="changedSelectedItems($event)"
                 (selectedPhotoFull)="changedSelectedItemsFull($event)"
                 [resetSelected]="resetSelected"
                 [hasUploadedItem]="hasUploadedItem"
></page-zone-photo>
<page-zone-album *ngIf="isAlbum" [pageView]="pageView"></page-zone-album>

<page-zone-album-detail *ngIf="isAlbumDetail"
                        [pageView]="pageView"
                        (selectedPhotos)="changedSelectedItems($event)"
                        [resetSelected]="resetSelected">
</page-zone-album-detail>

<toast-uploading [files]="files"
                 (photoEvent)="photoEvent($event)"
                 (showModalAddToAlbumEvent)="showModalAddToAlbumEvent($event)"
                 (createNewAlbum)="onCreateNewAlbum($event)"
                 (hasUploadedItem)="uploadedItem($event)"
></toast-uploading>

<added-to-album-toast [showAddedtoAlbumToast]="showAddedtoAlbumToast" [photoCount]="photoCount" [albumName]="albumName" (hideAddedtoAlbumToast)="hideAddedtoAlbumToast($event)"></added-to-album-toast>

<page-zone-form-add-to-album [showAddtoAlbumForm]="showAddtoAlbumForm" (modalHide)="onModalHideAlbum($event)" (createNewAlbum)="onCreateNewAlbum($event)"></page-zone-form-add-to-album>
<page-zone-form-create-album [showCreateAlbum]="showCreateAlbum" (hideCreateAlbum)="onHideCreateAlbum($event)"></page-zone-form-create-album>
<wth-toast-upload></wth-toast-upload>


<page-zone-form-sharing (modalHide)="onModalHide($event)" [modalShow]="modalShare" [data]="selectedItems"></page-zone-form-sharing>
<page-zone-form-tagging (modalHide)="onModalHide($event)" [modalShow]="modalTag" [data]="selectedItems"></page-zone-form-tagging>
<zone-photo-edit [showModal]="modalEdit" (modalHide)='onModalHide($event)'></zone-photo-edit>
