.modal-dock-body{
  padding: 0 !important;
}
.modal-dock-header-title {
  width: 90%;
  pointer-events: none;
}
.dock-action{
  float: right;
  font-weight: bold;
  z-index: 10;
  pointer-events:auto;
}
