.row-img {
  .img-center-dv {
    //border: 1px solid $light-grey;
    background-color: #FFF;
    cursor: pointer;
    @include transition($transition-base);
    &:after {
      @extend .fa;
      content: "\f058";
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 24px;
      color: $color-inverse;
      @include transition($transition-base);
      @include opacity(0);
      z-index: 2;
    }
    .photo-box-img-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      color: #FFF;
      z-index: 1;
      line-height: 1.2;
      background-color: rgba(#000, 0.6);
    }
  }

  .photo-box-img {
    position: relative;
    &:hover {
      .photo-box-img-action {
        @include opacity(1);
      }
    }
    .photo-box-img-action {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 20;
      //@include opacity(0);
      @include transition($transition-base);
      i {
        font-size: 24px;
        cursor: pointer;
        color: $color-inverse;
        //color: #2996CC;
      }
    }
  }
}
