.row-img {
  @include clearfix;

  &.grid {
    margin-left: -5px;
    margin-right: -5px;
    .row-img-item {
      float: left;
      width: 50%;
      padding: 5px;
      @media (min-width: $screen-sm-min) {
        width: percentage(1/3);
      }
      @media (min-width: $screen-md-min) {
        width: 20%;
      }
    }
    .photo-box-img {
      &.selected {
        .img-center-dv {
          border-color: #2996CC;
          background-color: #e6e6e6;
          &:after {
            @include opacity(1);
          }
        }
        .img-center {
          padding: 15px;
        }
      }
      .photo-box-img-figure {
        div[class^="photo-box-img-"] {
          display: none;
        }
        div.photo-box-img-info {
          display: block !important;
        }
      }
    }
    .photo-box-img-nav {
      display: none;
    }
  }
  &.list {
    .row-img-item {
      display: block;
    }
    .photo-box-img {
      padding: 5px;
      &:hover {
        background-color: rgba(#2996CC, 0.2);
      }
      &.selected {
        background-color: rgba(#2996CC, 0.5);
      }
      .photo-box-img-action {
        @include center(false, true);
        right: 5px;
      }
    }
    .photo-box-img-figure {
      cursor: pointer;
      display: table;
      width: 100%;
      .img-center-dv {
        width: 80px;
        display: table-cell;
      }
      div[class^="photo-box-img-"] {
        display: table-cell;
      }
      div.photo-box-img-info {
        display: none !important;
      }
      .photo-box-img-size {
        width: 100px;
      }
      .photo-box-img-date {
        width: 150px;
      }
      .photo-box-img-owner {
        width: 150px;
      }
      .photo-box-img-name {
        padding-left: 10px;
      }
    }
    .photo-box-img-nav {
      padding: 5px;
      font-size: 18px;
      .photo-box-img-figure {
        cursor: auto;
      }
      .photo-box-img-name {
        padding-left: 0;
      }
      .can-click {
        cursor: pointer;
        &:hover {
          color: #2996cc;
        }
      }
    }
  }
  &.time {
    margin-left: -5px;
    margin-right: -5px;
    .row-img-item {
      float: left;
      width: 50%;
      padding: 5px;
      @media (min-width: $screen-sm-min) {
        width: percentage(1/3);
      }
      @media (min-width: $screen-md-min) {
        width: 20%;
      }
    }
    .photo-box-img {
      &.selected {
        .img-center-dv {
          border-color: #2996CC;
          background-color: #e6e6e6;
          &:after {
            @include opacity(1);
          }
        }
        .img-center {
          padding: 15px;
        }
      }
      .photo-box-img-figure {
        div[class^="photo-box-img-"] {
          display: none;
        }
        div.photo-box-img-info {
          display: block !important;
        }
      }
    }
    .photo-box-img-nav {
      display: none;
    }
  }
}
