<div class="nav-menuleft">
  <aside class="aside-left">
    <div class="navgroup">
      <h5 class="aside-title">Settings</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/setting/profile']">Profile</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/setting/account']">Account</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/setting/preferences']">Preferences</a>
        </li>
      </ul>
    </div>

    <div class="navgroup">
      <h5 class="aside-title">Plans &amp; Billing</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/plans']">Plans</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/billing/details']">Billing Details</a>
        </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/billing/history']">Billing History</a></li>
      </ul>
    </div>
    <div class="navgroup">
      <h5 class="aside-title">Administration</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/admin/invitations']">Invitations</a>
        </li>
      </ul>
    </div>
  </aside>
</div>
