<form>
  <bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <bs-modal-header [showDismiss]="true" *ngIf="data && data[index]">
      <h4 class="text-center modal-title"> {{data[index].title}} </h4>
    </bs-modal-header>
    <bs-modal-body *ngIf="data && data[index]">
      <div *ngIf="data[index].icon" class="text-center">
        <i class="{{data[index].icon}}"></i>
      </div>
      <p *ngIf="data[index].content">{{data[index].content}}</p>
      <p *ngIf="data[index].content2">{{data[index].content2}}</p>
      <div style="padding: 25px"></div>
      <!-- <img alt="" src="../../assets/images_new/pricing/note.png"> -->
    </bs-modal-body>
    <bs-modal-footer>
      <ng-container *ngIf="data?.length > 1"><ul class="list-inline pull-left">
        <li *ngFor="let d of data; let i = index" class="can-click" (click)="setIndex(i)">
          <i class="fa fa-circle" [ngClass]="(i == index)? 'active' : 'normal'" aria-hidden="true"></i>
        </li>
      </ul>
      <button [disabled]="index == 0" type="button" class="btn btn-outline-default btn-min"
              (click)="setIndex(index-1)">Back</button>
      
      </ng-container>
      
      <button *ngIf="data && index == data.length - 1" type="submit" class="btn btn-outline-primary btn-min"
              (click)="done()">Done</button>
      <button *ngIf="data && index < data.length - 1" type="submit" class="btn btn-outline-primary btn-min"
              (click)="setIndex(index+1)">Next</button>
    </bs-modal-footer>
  </bs-modal>
</form>
