<div class="box-panel">
  <h3 class="box-panel-title">Current Plan</h3>
  <div class="card bd-success">
    <div class="card-body">
      <h4 class="card-title">Free Account</h4>
      <p>Full Access to all WTH!Zone apps and services. <br>
        10 GB of cloud storage.</p>
      <h3 class="m0">30 days FREE trial </h3>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Pro Account</h4>
      <p>Full Access to all WTH!Zone apps and services. <br>
        10 GB of cloud storage and able to add more space. <br>
        Add and manage Sub Accounts.</p>
      <h3 class="mt0">$3.00/account/month</h3>
      <button class="btn btn-outline-primary"><i class="fa fa-arrow-circle-o-up"></i> Upgrade</button>
    </div>
  </div>

  <!--Request ownership-->
  <!--<div class="mb20">
    <p>Sub account has full access to all WTHApps services. However, sub account’s information and activities are under
      admin management. <br>
      In order to manage your account and personal information, please request ownwership and upgrade your account to
      full
      account.</p>
    <a href="#" class="btn btn-outline-primary">Request ownership</a>
  </div>-->
</div>
