<!-- <w-toolbar [viewMode]="viewMode" #toolbar (event)="doEvent($event)" [objectActionsTemplate]="objectActionsTemplate">
  <ng-template #objectActionsTemplate>
    <ul class="page-body-control-menu" [ngClass]="{'text-disable': !hasSelectedObjects}" [class.disabled]="!hasSelectedObjects">
      <li>
        <a class="btn btn-default" href="javascript:void(0);" draggable="false" (click)="preview()" pTooltip="{{ tooltip.preview}}"
          tooltipPosition="bottom">
          <i class="fa fa-eye"></i>
        </a>
      </li>
      <li *ngIf="hasSelectedObjects">
        <a class="btn btn-default" draggable="false" pTooltip="{{ tooltip.share}}" tooltipPosition="bottom" href="javascript:void(0);"
          (click)="openModalShare()">
          <i class="fa fa-share-alt"></i>
        </a>
      </li>

      <li *ngIf="hasSelectedObjects">
        <a class="btn btn-default" href="javascript:void(0);" draggable="false" (click)="toggleFavorite()" pTooltip="{{ tooltip.addToFavorites }}"
          tooltipPosition="bottom">
          <i class="fa" [ngClass]="favoriteAll ? 'fa-star': 'fa-star-o'"></i>
        </a>
      </li>
      <li *ngIf="hasSelectedObjects">
        <a class="btn btn-default" href="javascript:;" draggable="false" (click)="toolbar.doAction({action: 'openModal',
             payload: { modalName: 'taggingModal', selectedObjects: toolbar.selectedObjects }})" pTooltip="{{ tooltip.tag}}"
          tooltipPosition="bottom">
          <i class="fa fa-tag"></i>
        </a>
      </li>
      <li *ngIf="hasSelectedObjects">
        <a class="btn btn-default" href="javascript:;" draggable="false" (click)="doEvent({action: 'deleteMedia'})" pTooltip="{{ tooltip.delete}}"
          tooltipPosition="bottom">
          <i class="fa fa-trash-o"></i>
        </a>
      </li>

      <li class="dropdown action" *ngIf="hasSelectedObjects">
        <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" pTooltip="{{ tooltip.moreAction}}"
          tooltipPosition="bottom">
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
          <li *ngIf="hasSelectedObjects">
            <a href="javascript:void(0);" draggable="false" (click)="openModalAddToPlaylist()">
              <i class="fa fa-plus-square"></i> Add to PlayList
            </a>
          </li>
          <li *ngIf="hasSelectedObjects">
            <a href="javascript:void(0);" draggable="false" (click)="toolbar.doAction({action: 'download', payload: {selectedObjects: toolbar.selectedObjects}})">
              <i class="fa fa-download"></i> Download</a>
          </li>
          <li *ngIf="toolbar.hasOneObject" href="javascript:void(0);" draggable="false">
            <a (click)="toolbar.doAction({
                action: 'openModal',
                payload: {modalName: 'editInfoModal', selectedObject: toolbar.selectedObjects[0]}
              })">
              <i class="fa fa-edit"></i> Edit Information
            </a>
          </li>
          <li *ngIf="toolbar.hasOneObject" href="javascript:void(0);" draggable="false">
            <a (click)="toolbar.doAction({
                action: 'viewDetails',
                payload: { selectedObject: toolbar.selectedObjects[0] }
              })">
              <i class="fa fa-info-circle"></i> View Detail
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </ng-template>
</w-toolbar>

<div class="page-body-content has-page-body-control gray-light">
  <div class="page-body-content-in">
    <ng-container *ngIf="objects; else templateloading">
      <ng-container *ngIf="objects?.length; else templateNodata">
        <w-object-list class="media-selection-content gray-light" [data]="objects" [sortInline]="false" (completeSort)="onCompleteSort($event)"
          (completeLoadMore)="onCompleteLoadMore($event)" (completeDoubleClick)="onCompleteDoubleClick($event)" (selectedObjectsChanged)="selectedObjectsChanged($event)">
          <ng-template #columnBox let-item="$implicit">
            <ng-container *ngIf="item.object_type == 'Media::PlayList'">
              <div class="wobject-box-img">
                <img [src]="item.thumbnail_url" alt="">
                <div class="wmedia-box-info">{{ item.child_count }} video
                  <span *ngIf="item.child_count>1">s</span>
                </div>
              </div>
              <div class="wobject-box-name">
                <span>{{ item.name }}</span>
                <div class="wobject-box-action">
                  <i class="fa fa-star" (click)="toggleFavorite([item])" [ngClass]="{'fa-star-o': !item.favorite}"></i>
                </div>
              </div>
            </ng-container>

          </ng-template>

        </w-object-list>
      </ng-container>
      <ng-template #templateNodata>
        <div class="media-selection-content gray-light">
          <box-no-data *ngIf="objects && objects.length == 0" [title]="'There is no playlist!'" [icon]="'fa fa-file-video-o'" [subTitle]="'Try to upload a new playlist'"
            style="margin-top: 50px; display: block;">
            <button class="btn btn-outline-primary" (click)="createPlaylist()">
              <i class="fa fa-cloud-upload"> </i> Create Playlist
            </button>
          </box-no-data>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #templateloading>
      <div class="media-selection-content gray-light">
        <box-loading></box-loading>
      </div>
    </ng-template>
  </div>
</div> -->
