<w-toolbar #toolbar [viewMode]="viewMode" (event)="doToolbarEvent($event)" [objectActionsTemplate]="objectActionsTemplate"
  [selectedObjects]="selectedObjects" [viewMode]="viewMode">
  <ng-template #objectActionsTemplate>
    <ul class="page-body-control-menu" *ngIf="hasSelectedObjects">
      <ng-template ngFor let-action [ngForOf]="menuActions | mapToIterable">
        <li *ngIf="!action.val.inDropDown && action.val.active" class="{{action.val.liclass}}">
          <button [disabled]="!action.val.active" class="{{action.val.class}}" draggable="false" pTooltip="{{action.val.tooltip}}"
            tooltipPosition="{{action.val.tooltipPosition}}" href="javascript:void(0);" (click)="action.val.action()">
            <i class="{{action.val.iconClass}}"></i>
          </button>
        </li>
      </ng-template>

      <li class="dropdown action">
        <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" pTooltip="{{ tooltip.moreAction}}"
          tooltipPosition="bottom">
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
          <ng-template ngFor let-action [ngForOf]="menuActions | mapToIterable">
            <li *ngIf="action.val.inDropDown && action.val.active" class="{{action.val.liclass}}">
              <a *ngIf="action.val.active" class="{{action.val.class}}" pTooltip="{{action.val.tooltip}}"
                tooltipPosition="{{action.val.tooltipPosition}}" href="javascript:void(0);" (click)="action.val.action()">
                <i class="{{action.val.iconClass}}"></i> {{action.val.title}}
              </a>
            </li>
          </ng-template>
        </ul>
      </li>
    </ul>
  </ng-template>
</w-toolbar>

<w-grid-list #gridlist [view]="viewMode" [objects]="objects" (event)="doListEvent($event)" (selectedObjectsChanged)="doListEvent({action: 'objectsChange', payload: $event})">

</w-grid-list>
<!--loading icon-->
<div class="page-body-content has-page-body-control gray-light" *ngIf="loading">
  <box-loading></box-loading>
</div>
<box-no-data *ngIf="objects && objects.length == 0" [title]="'There are no videos!'" [icon]="'fa fa-video-camera'"
  [subTitle]="'Try to upload a new video'" style="margin-top: 50px; display: block;">
  <button class="btn btn-outline-primary" (click)="upload(['video/mp4', 'video/x-m4v', 'video/*'])"><i class="fa fa-cloud-upload"></i> Upload Video</button>
</box-no-data>
<div #modalContainer></div>
