<w-toolbar #toolbar [viewMode]="viewMode" (event)="doToolbarEvent($event)" [objectActionsTemplate]="objectActionsTemplate"
  [selectedObjects]="selectedObjects" [viewMode]="viewMode">
  <ng-template #objectActionsTemplate>
    <ul class="page-body-control-menu" [ngClass]="{'text-disable': !hasSelectedObjects}" [class.disabled]="!hasSelectedObjects">
      <li>
        <a class="btn btn-default" href="javascript:void(0);" draggable="false" (click)="viewDetail(selectedObjects[0].id)" pTooltip="{{ tooltip.preview }}"
          tooltipPosition="bottom">
          <i class="fa fa-eye"></i>
        </a>
      </li>
      <ng-container *ngIf="hasSelectedObjects">
        <li>
          <a class="btn btn-default" draggable="false" pTooltip="{{ tooltip.share}}" tooltipPosition="bottom" href="javascript:void(0);"
            (click)="openModalShare()">
            <i class="fa fa-share-alt"></i>
          </a>
        </li>

        <li>
          <a class="btn btn-default" href="javascript:void(0);" draggable="false" (click)="toggleFavorite()" pTooltip="{{ tooltip.addToFavorites }}"
            tooltipPosition="bottom">
            <i class="fa" [ngClass]="favoriteAll ? 'fa-star': 'fa-star-o'"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-default" href="javascript:;" draggable="false" (click)="toolbar.doAction({action: 'openModal',
             payload: { modalName: 'taggingModal', selectedObjects: toolbar.selectedObjects }})" pTooltip="{{ tooltip.tag}}"
            tooltipPosition="bottom">
            <i class="fa fa-tag"></i>
          </a>
        </li>
        <li>
          <a class="btn btn-default" href="javascript:;" draggable="false" (click)="deleteObjects('videos')" pTooltip="{{ tooltip.delete}}"
            tooltipPosition="bottom">
            <i class="fa fa-trash-o"></i>
          </a>
        </li>
      </ng-container>

      <li class="dropdown action" *ngIf="hasSelectedObjects">
        <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" pTooltip="{{ tooltip.moreAction}}"
          tooltipPosition="bottom">
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
          <li>
            <a href="javascript:void(0);" draggable="false" (click)="openModalAddToPlaylist()">
              <i class="fa fa-plus-square"></i> Add to PlayList
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" draggable="false" (click)="toolbar.doAction({action: 'download', payload: {selectedObjects: toolbar.selectedObjects}})">
              <i class="fa fa-download"></i> Download</a>
          </li>
          <!-- <li *ngIf="selectedObjects && selectedObjects.length > 0" href="javascript:void(0);" draggable="false">
            <a (click)="toolbar.doAction({
              action: 'openModal',
              payload: {modalName: 'editInfoModal', selectedObject: toolbar.selectedObjects[0]}
            })">
              <i class="fa fa-edit"></i> Edit Information
            </a>
          </li>
          <li *ngIf="selectedObjects && selectedObjects.length > 0" href="javascript:void(0);" draggable="false">
            <a (click)="viewDetail()">
              <i class="fa fa-info-circle"></i> View Detail
            </a>
          </li> -->
        </ul>
      </li>
    </ul>
  </ng-template>
</w-toolbar>

<w-grid-list #gridlist [view]="viewMode" [objects]="objects" (event)="doListEvent($event)" (selectedObjectsChanged)="doListEvent({action: 'objectsChange', payload: $event})">

</w-grid-list>

<box-no-data *ngIf="objects && objects.length == 0" [title]="'There is no video!'" [icon]="'fa fa-video-camera'" [subTitle]="'Try to upload a new video'"
  style="margin-top: 50px; display: block;">
  <w-upload class="btn btn-outline-primary" [mode]="'multiple'" [accept]="'video/*'" (uploadHandler)="uploaVideodHandler($event)"
    (errorHandler)="errorHandler($event)">
    <i class="fa fa-cloud-upload"></i> Upload Video
  </w-upload>
  '
  <!-- <button class="btn btn-outline-primary">
    <i class="fa fa-cloud-upload"> </i> Upload Video </button> -->'
</box-no-data>
