<div class="image-viewer-wrap" *ngIf="video">
  <div class="image-viewer-header">
    <div class="image-viewer-header-left">
      <button class="btn btn-default" type="button" (click)="back()">
        <i class="fa fa-arrow-left"></i>
      </button>
      <span class="divider"></span>
      <span class="btn btn-text hidden-xs">
        <i class="fa fa-video-camera"></i> {{video.full_name}} </span>
    </div>
    <div class="image-viewer-header-right">
      <button class="btn btn-default ng-star-inserted" tooltipposition="bottom" type="button" ng-reflect-tooltip-position="bottom"
        ng-reflect-text="Share">
        <i class="fa fa-share-alt ng-star-inserted" ng-reflect-ng-class="fa fa-share-alt"></i>
      </button>
      <button class="btn btn-default ng-star-inserted" tooltipposition="bottom" type="button" ng-reflect-tooltip-position="bottom"
        ng-reflect-text="Favourite">
        <i class="fa fa-star-o ng-star-inserted" ng-reflect-klass="fa" ng-reflect-ng-class="fa-star-o"></i>
      </button>
      <button class="btn btn-default ng-star-inserted" tooltipposition="bottom" type="button" ng-reflect-tooltip-position="bottom"
        ng-reflect-text="Tag">
        <i class="fa fa-tag ng-star-inserted" ng-reflect-ng-class="fa fa-tag"></i>
      </button>

      <button class="btn btn-default ng-star-inserted" tooltipposition="bottom" type="button" ng-reflect-tooltip-position="bottom"
        ng-reflect-text="Edit">
        <i class="fa fa-edit ng-star-inserted" ng-reflect-ng-class="fa fa-edit"></i>
      </button>

      <button class="btn btn-default ng-star-inserted" tooltipposition="bottom" type="button" ng-reflect-tooltip-position="bottom"
        ng-reflect-text="Delete">
        <i class="fa fa-trash-o ng-star-inserted" ng-reflect-ng-class="fa fa-trash-o"></i>
      </button>
      <div class="btn-group ng-star-inserted">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
          <i class="fa fa-ellipsis-v" ng-reflect-ng-class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right ng-star-inserted">
          <li class="ng-star-inserted">
            <a href="javascript:;" class="ng-star-inserted">
              <i class="fa fa-plus-square" ng-reflect-ng-class="fa fa-plus-square"></i> Add to album
            </a>
          </li>
          <li class="ng-star-inserted">
            <a href="javascript:;" class="ng-star-inserted">
              <i class="fa fa-download" ng-reflect-ng-class="fa fa-download"></i> Download
            </a>
          </li>
          <li class="ng-star-inserted">
            <a href="javascript:;" class="ng-star-inserted">
              <i class="fa fa-info-circle" ng-reflect-ng-class="fa fa-info-circle"></i> View Info
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="image-viewer-content">
    <div class="image-viewer-content-fixed">
      <div class="video-viewer-content">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" width="800" height="600" controls>
            <source [src]="video.url">
          </video>
        </div>
      </div>

    </div>
  </div>
</div>
