@import "primeng/utilities";
@import "primeng/inputswitch";
@import "primeng/checkbox";
@import "primeng/radio";
@import "primeng/table";
@import "primeng/datepicker";
@import "primeng/dialog";
@import "primeng/autocomplete";
@import "primeng/toast-message";
@import "primeng/slider";

.ui-inputtext {
  @extend .form-control;
}

.ui-dropdown {
  background-color: #ffffff;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  .ui-dropdown-panel {
    background-color: #ffffff;
  }
  .ui-dropdown-label {
    background-color: transparent;
    margin: -1px;
  }
}

.ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
  @include center(false, true);
  margin: 0;
  padding: 0;
}
