.ui-widget {
  font-family: inherit;
}

// inputswitch

$ui-inputswitch-w: 24px;

.ui-inputswitch {
  overflow: visible;
  background-color: #f6f6f6;
  height: $ui-inputswitch-w;
  -webkit-border-radius: $ui-inputswitch-w/2;
  -moz-border-radius: $ui-inputswitch-w/2;
  border-radius: $ui-inputswitch-w/2;

  .ui-inputswitch-handle {
    visibility: hidden;
  }
  .ui-inputswitch-on,
  .ui-inputswitch-off {
    width: ($ui-inputswitch-w - 2) !important;
    height: ($ui-inputswitch-w - 2) !important;
    display: inline-block;
    background: #f6f6f6;
    border: 1px solid $line;
    @include box-shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.5));

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    span {
      display: none;
    }
  }

  .ui-inputswitch-on {
    visibility: hidden;
    right: 0;
    left: auto;
  }
  .ui-inputswitch-off {
    left: 0;
    right: auto;
  }

  &.ui-inputswitch-checked {
    background-color: $color-success;
    .ui-inputswitch-on {
      visibility: visible;
      background-color: #ffffff !important;
      border-color: $color-success;
    }
    .ui-inputswitch-off {
      visibility: hidden;
    }
  }
}

.inputSwitch-wrap {
  min-height: $ui-inputswitch-w;
  line-height: $ui-inputswitch-w;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .ui-inputswitch {
    float: left;
    margin-right: 10px;
  }
}

// radiobutton
// checkbox

.ui-chkbox-box,
.ui-radiobutton-box {
  &.ui-state-active,
  &.ui-state-focus,
  &.ui-state-active.ui-state-focus {
    background-color: $color-success;
    border-color: $color-success;
  }
}

.ui-radiobutton,
.ui-radiobutton-label {
  margin-bottom: 0;
}

.ui-chkbox,
.ui-chkbox-label {
  margin-bottom: 0;
}

// slider

.ui-slider {
  background-color: $line;
  &.ui-slider-horizontal {
    height: 4px;
    .ui-slider-handle {
      margin-top: -4px;
    }
  }
  .ui-slider-range {
    background-color: $color-inverse;
  }
  .ui-slider-handle {
    background-image: none;
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #ffffff;
      @include box-shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.5));
    }
  }
}

// tooltip

.ui-tooltip {
  z-index: 1090 !important;

  @media (max-width: $screen-xs-max) {
    display: none !important;
    z-index: -1;
  }

  .ui-tooltip-text {
    background-color: rgba(#000, 0.6);
    font-size: 10px;
    line-height: 1.4;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    @include box-shadow(none);
  }
  &.ui-tooltip-top .ui-tooltip-arrow {
    border-top-color: rgba(#000, 0.6);
  }
  &.ui-tooltip-bottom .ui-tooltip-arrow {
    border-bottom-color: rgba(#000, 0.6);
  }
  &.ui-tooltip-left {
    border-left-color: rgba(#000, 0.6);
  }
  &.ui-tooltip-right {
    border-right-color: rgba(#000, 0.6);
  }
}

// autocomplete
.ui-autocomplete {
  &,
  &.ui-autocomplete-multiple {
    display: block;
    width: 100%;
    .ui-inputtext {
      display: block;
      padding: 3px $padding-base-horizontal;
      line-height: 1.4;

      &.ui-state-focus {
        $color-rgba: rgba(
          red($input-border-focus),
          green($input-border-focus),
          blue($input-border-focus),
          0.6
        );
        border-color: $input-border-focus;
        outline: 0;
        @include box-shadow(
          inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px $color-rgba
        );
      }
      .ui-state-highlight {
        background-color: #d8d8d8;
        color: $text-color;
        margin-right: 10px;
        .ui-autocomplete-token-icon {
          @include opacity(0.6);
        }
      }
    }
    .ui-autocomplete-list-item {
      &.ui-state-highlight {
        background-color: #d8d8d8;
        color: $text-color;
      }
    }
  }
}

// Quilljs

#quill-toolbar {
  &.ql-toolbar {
    .ql-formats {
      margin-right: 3px;
      margin-bottom: 8px;
      > button,
      .ql-picker {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        //padding: 6px;
        min-width: 34px;
        height: 34px;
        width: auto;
        &:hover,
        &:focus {
          outline-style: none;
        }

        & + button,
        & + .ql-picker {
          margin-left: -1px;
        }
        &:first-child {
          @include border-left-radius(4px);
        }
        &:last-child {
          @include border-right-radius(4px);
        }
      }
      .ql-picker {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        .ql-picker-label {
          &:before {
            line-height: 30px;
          }
        }
        &.ql-size {
          min-width: 50px;
        }
        &.ql-font {
          min-width: 140px;
        }
        &.ql-header {
          min-width: 95px;
          border-radius: 0;
        }
        &.left-border-radius {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-top-left-radius: 4px;
          -moz-border-top-left-radius: 4px;
          -webkit-border-bottom-left-radius: 4px;
          -moz-border-bottom-left-radius: 4px;
          border-right: 0;
        }
        &.no-border-radius {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-right: 0;
        }
        &.right-border-radius {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-top-right-radius: 4px;
          -moz-border-top-right-radius: 4px;
          -webkit-border-bottom-right-radius: 4px;
          -moz-border-bottom-right-radius: 4px;
        }
      }
      .ql-color-picker,
      .ql-icon-picker {
        width: 34px;
        .ql-picker-label {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
      .ql-icon-picker {
        .ql-picker-item {
          margin-left: auto;
          margin-right: auto;
        }
      }

      button {
        padding: 7px;
        > i {
          position: relative;
        }
      }

      button,
      .ql-picker {
        border: 1px solid $btn-default-border;
        background-color: #ffffff;
        &:hover {
          background-color: #f6f6f6;
        }
      }
      &.no-margin {
        margin-right: 0px;
        margin-left: -4px;
      }
      &.no-left-margin {
        margin-left: -4px;
      }
      &.no-right-margin {
        margin-right: 0px;
      }
    }
  }
}

#quill-editor {
  background-color: #ffffff;
}

.ql-font {
  .ql-picker-label {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}

/* Set dropdown font-families */
[quill-editor-toolbar] .ql-font span[data-label='Lato']:before {
  font-family: 'Lato';
}

/* Set content font-families */
.ql-font-lato {
  font-family: 'Lato';
}

.ql-font-gotham,
.ql-font span[data-value='gotham']:before {
  font-family: 'gotham', 'Gotham', 'helvetica', 'arial', 'sans-serif';
}

.ql-font-georgia,
.ql-font span[data-value='georgia']:before {
  font-family: 'georgia', 'Georgia', 'palatina', 'serif';
}

.ql-font-helvetica,
.ql-font span[data-value='helvetica']:before {
  font-family: 'helvetica', 'Helvetica', 'arial', 'sans-serif';
}

.ql-font-courier-new,
.ql-font span[data-value='courier-new']:before {
  font-family: 'courier new', 'Courier New', 'courier', 'monospace';
}

.ql-font-times-new-roman,
.ql-font span[data-value='times-new-roman']:before {
  font-family: 'times new roman', 'Times New Roman', 'times', 'serif';
}

.ql-font-trebuchet-ms,
.ql-font span[data-value='trebuchet-ms']:before {
  font-family: 'trebuchet ms', 'Trebuchet MS', 'geneva', 'sans-serif';
}

.ql-font-verdana,
.ql-font span[data-value='verdana']:before {
  font-family: 'verdana', 'Verdana', 'helvetica', 'sans-serif';
}

.ql-editor {
  overflow: hidden;
  min-height: 320px;
  ol,
  ul {
    padding-left: 0;
    ol,
    ul {
      padding-left: 20px;
    }
  }

  ul li:not(.ql-direction-rtl) {
    padding-left: 14px;
  }

  ul[data-checked='false'],
  ul[data-checked='true'] {
    padding-left: 16px;

    > li {
      &:before {
        @include fa-icon;
        font-size: 24px;
        position: relative;
        top: 5px;
      }
    }
  }
  ul[data-checked='false'] {
    > li:before {
      content: $fa-var-square-o;
    }
  }
  ul[data-checked='true'] {
    > li {
      text-decoration: line-through;
      &:before {
        content: $fa-var-check-square;
      }
    }
  }
}

.ql-container {
  hr {
    border-top-color: #ccc;
  }
}

.ui-confirmdialog {
  @media (max-width: $screen-xs-max) {
    width: auto !important;
    max-width: 100%;
    margin: 10px !important;
    left: 0 !important;
    right: 0 !important;
  }
}

.d-block {
  .ui-calendar {
    display: block;
  }
}
