<div class="message-assets">
  <div class="message-assets-title">
    <h4 *ngIf="contactSelect?.group_json">
      {{ contactSelect?.group_json.users_name }}
    </h4>
    <a (click)="onClose()" class="text-inherit text-fade" href="javascript:void(0);">
      <i class="fa fa-times"></i>
    </a>
  </div>
  <div class="message-assets-tab">
    <w-nav-tab [tabs]="tabs" [setTabActive]="currentTab" (currentTab)="tabAction($event)"></w-nav-tab>
  </div>
  <div *ngIf="currentTab === 'members'" class="message-assets-content bg-gray-light">
    <div class="message-assets-members">
      <ng-container *ngIf="contactSelect?.group_json">
        <ul
          *ngIf="contactSelect.group_json.group_type == 'multiple' || contactSelect.group_json.group_type == 'support'">
          <li>
            <div (click)="onAddMember()" class="message-assets-members-row can-click">
              <div class="media-user media-user-xs">
                <div class="media-user-avatar avatar-xs">
                  <i class="fa fa-plus"></i>
                </div>
                <div class="media-user-name">
                  Add member
                </div>
              </div>
            </div>
          </li>
          <li *ngFor="let user_in_group of contactSelect.group_json.users_json">
            <z-chat-share-user-icon
              class="message-assets-members-row"
              [userId]="user_in_group.id"
              [image]="user_in_group.profile_image"
              [groupType]="chatContactList[user_in_group?.id] ? 'couple' : 'stranger'"
              [name]="user_in_group.name">
            </z-chat-share-user-icon>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                      pTooltip="{{ tooltip.moreAction }}" tooltipPosition="top">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li *ngIf="showSendMessage">
                  <a href="javascript:;" (click)="onSelect(user_in_group)">Send Message</a>
                </li>
                <li>
                  <a [routerLink]="[profileUrl, user_in_group.uuid]">View Profile</a>
                </li>
                <li *ngIf="showBlacklist">
                  <a href="javascript:;" (click)="onAddToBlackList(user_in_group)">Blacklist</a>
                </li>
                <li *ngIf="contactSelect.role == 'admin'">
                  <a href="javascript:;" (click)="onRemoveFromConversation(user_in_group)">Remove From Conversation</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="currentTab !== 'members'">
    <ng-container *ngIf="!isLoading && medias$ | async as mediasList; else templateloading">
      <ng-container *ngIf="mediasList?.length; else templateNodata">
        <w-object-list class="message-assets-content bg-gray-light"
                       [ngClass]="{'message-assets-content-row': currentTab === 'notes' || currentTab === 'files'}"
                       [scrollWindow]="false"
                       [data]="mediasList"
                       [sortInline]="false"
                       (completeSort)="onCompleteSort($event)"
                       (completeLoadMore)="onCompleteLoadMore($event)"
                       (completeDoubleClick)="onCompleteDoubleClick($event)">
          <ng-template #columnBox let-item>
            <!-------------- Photo view --------------->
            <ng-container *ngIf="item.object_type == 'photo'">
              <div class="wobject-box-img">
                <img [src]="item.thumbnail_url" alt="">
              </div>
              <div class="wobject-box-name">
                <span>{{ item.name }}.{{ item.extension }}</span>
              </div>
            </ng-container>
            <!-------------- End Photo view --------------->
            <!-------------- Note view --------------->
            <ng-container *ngIf="item.object_type == 'Note::Note'">
              <div class="wobject-box-name">
                <span class="bold"><i class="fa fa-file"></i> {{ item.object.name }}</span>
                <div class="wobject-box-content-note" [innerHTML]="item.object.content | safeHtml"></div>
              </div>
            </ng-container>
            <!-------------- End Note view --------------->
            <!-------------- File view --------------->
            <ng-container *ngIf="item.object_type == 'file'">
              <div class="wobject-box-name">
                <div class="media">
                  <div class="media-left">
                    <i class="fa fa-file-archive-o fz30 mt5"></i>
                  </div>
                  <div class="media-body">
                    <p class="mb0">Lorem ipsum dolor sit amet</p>
                    <small class="text-fade">20kb</small>
                  </div>
                </div>
              </div>
            </ng-container>
            <!-------------- End File view --------------->
          </ng-template>
          <ng-template #columnFileSize let-item>
          <span *ngIf="item.object_type == 'album'">{{ item.photo_number }} file<span
            *ngIf="item.photo_number>1">s</span></span>
            <span *ngIf="item.object_type == 'photo'">{{ item.size | bytes:0 }}</span>
          </ng-template>
        </w-object-list>
      </ng-container>
      <ng-template #templateNodata>
        <div class="message-assets-content bg-gray-light text-center">
          <box-no-data *ngIf="currentTab === 'photos'" [icon]="'fa fa-picture-o'"
                       [title]="'There is no photo!'"
                       [subTitle]="'There is no photo. Try to upload a file.'">
          </box-no-data>
          <box-no-data *ngIf="currentTab === 'notes'" [icon]="'fa fa-sticky-note-o'"
                       [title]="'There is no note!'"
                       [subTitle]="'There is no note. Try to create a note.'">
          </box-no-data>
          <box-no-data *ngIf="currentTab === 'files'" [icon]="'fa fa-file-archive-o'"
                       [title]="'There is no file!'"
                       [subTitle]="'There is no file. Try to upload a file.'">
          </box-no-data>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #templateloading>
      <div class="message-assets-content bg-gray-light">
        <div class="text-center">
          <box-loading></box-loading>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
