@import "../../../../assets/styles/global";

$message-assets-width: 400px;
.message-assets {
  background-color: #ffffff;
  position: absolute;
  right: -100%;
  top: $page-body-control-height;
  bottom: 0;
  z-index: 29;
  width: $message-assets-width;
  max-width: 100%;
  @include box-shadow($box-shadow-left);
  @include flexbox;
  @include flex-direction(column);
  @media (min-width: $screen-sm-min) {
    right: -$message-assets-width;
  }

  .nav-tabs-wrap .nav-tabs > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.message-assets-title {
  padding: $grid-gutter-width/2;
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
}

.message-assets-tab {
  border-bottom: 2px solid $line;
  padding-bottom: 10px;
  .nav-tabs-wrap {
    margin-bottom: -2px;
  }
  @media (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
}

.message-assets-content {
  @include flexbox;
  @include flex(1);
  width: 100%;
  overflow: auto;
  > div {
    width: 100%;
  }

  .wobject-row-checkbox, .wobject-row-header {
    display: none;
  }
  .wobject-row-body {
    padding-top: 15px;
  }

  .wobject-grid .wobject-row-body .wobject-row,
  .wobject-timeline .wobject-row-body .wobject-row {
    width: 50%;
  }
  &.message-assets-content-row {
    .wobject-grid .wobject-row-body .wobject-row,
    .wobject-timeline .wobject-row-body .wobject-row {
      width: 100%;
    }
    .wobject-grid .wobject-item, .wobject-timeline .wobject-item {
      @include box-shadow(none);
      .wobject-box-name {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid $line;
      }
    }
  }

  .wobject-box-content-note {
    height: 54px;
    overflow: hidden;
  }
  .wobject-view {
    padding-top: $grid-gutter-width/2;
  }
}

.message-assets-members {
  padding: $grid-gutter-width/2;
  background-color: #ffffff;
  > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li {
      @include flexbox;
      border-bottom: 1px solid $line;
      padding: 5px 0;
    }
  }
  .message-assets-members-row {
    @include flex(1);
    .fa-plus {
      @include center();
    }
  }
}

body {
  &.open-chat-message-assets {
    .page-body-content {
      @media (min-width: $screen-lg-min) {
        padding-right: $message-assets-width;
      }
    }
    .message-assets {
      right: 0;
    }
  }
}
