<form novalidate>

  <bs-modal #modal
         id="modal-subscription-edit"
         [cssClass]="'modal-subscription-edit'"
         [keyboard]="false"
         [animation]="false"
         [backdrop]="'static'" style="display: inline;">
    <bs-modal-header>
      <button aria-label="Close" class="close" (click)="close()" type="button">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Update Subscription</h4>

    </bs-modal-header>
    <bs-modal-body>

      <div class="panel panel-default pt0 mt0 mb0">
        <div class="panel-body pt0 mt0 mb0">
          <h4>{{ plan.description }} plan</h4>
          <div class="row">
            <div class="col-xs-6 text-right" >
              <div>New accounts:</div>
              <div>Current billing amount:</div>
              <div>Total billing amount:</div>
              <div>Next billing date:</div>
            </div>

            <div class="col-xs-3 text-right">
              <div><b> ${{ editing?.accountCount * (editing?.accountPrice | number) }} </b></div>
              <div><b> ${{ subscription?.amount | number }} </b></div>
              <div style="width: 160px"><b> ${{ editing?.accountCount * (editing?.accountPrice | number) + (subscription?.amount | number) }}/month </b></div>
              <div><b> {{ subscription?.next_billing_date | date: 'MMM d, y' }} </b></div>
            </div>

          </div>
        </div>
      </div>

      <div>
        <p>
          <input #chkAgree type="checkbox" checked> I read and agree to the
          <a target="_blank" [href]="constants.baseUrls.app + '/policies/terms'"> Term of service</a> -
          <a target="_blank" [href]="constants.baseUrls.app + '/policies/privacy'">Privacy &amp; policies</a>
        </p>
      </div>

    </bs-modal-body>

    <bs-modal-footer>
      <div>
        <button *ngIf="accountAction == 'add'" class="btn btn-outline-default btn-min pull-left"
                (click)="edit()">Back</button>
        <button class="btn btn-outline-default btn-min" (click)="close()">Cancel</button>
        <button class="btn btn-outline-primary btn-min pull-right" [disabled]="!chkAgree.checked"
                *ngIf="mode == 'edit'"
                (click)="update()">Continue</button>
      </div>
    </bs-modal-footer>
  </bs-modal>

</form>
