<div class="zone-social">
  <div class="zone-social-container">
    <div class="z-social-box">
      <div class="z-social-box-header">
        <nav class="z-social-box-header-nav pull-left">
          <ul>
            <li>
              <a class="active" href="#">FRIENDS <span class="text-fade">10</span></a>
            </li>
            <li>
              <a href="#">FOLLOWERS <span class="text-fade">11</span></a>
            </li>
            <li>
              <a href="#">FOLLOWING <span class="text-fade">5</span></a>
            </li>
            <li>
              <a href="#">BLACKLIST <span class="text-fade">3</span></a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="z-social-box-body z-social-box-body-communities">
        <div class="p40 text-center">
          <h3 class="text-fade">
            There is no friend on your friend list yet
          </h3>
          <button class="btn btn-default">
            Seach for Friend
          </button>
        </div>
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a href="/zone/social/communities/detail">
                    <img src="/assets/images/avatar/avatar-lg.png" width="70" alt="">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading"><a href="/zone/social/communities/detail">Friendly User No
                  01</a>
                </h4>
                <p class="media-center-p">Nickname</p>
              </div>
              <div class="media-center-right">
                <div class="dropdown pull-right">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-check"></i> Friend <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-custom">
                    <li><a href="#"><i class="fa fa-check"></i> Following</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Import to Contact</a></li>
                    <li><a href="#">Unfriend</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-6">
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a href="/zone/social/communities/detail">
                    <img src="/assets/images/avatar/avatar-lg.png" width="70" alt="">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading"><a href="/zone/social/communities/detail">Friendly User No
                  01</a>
                </h4>
                <p class="media-center-p">Nickname</p>
              </div>
              <div class="media-center-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-share"></i> Follow
                </button>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-6">
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a href="/zone/social/communities/detail">
                    <img src="/assets/images/avatar/avatar-lg.png" width="70" alt="">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading"><a href="/zone/social/communities/detail">Friendly User No
                  01</a>
                </h4>
                <p class="media-center-p">Nickname</p>
              </div>
              <div class="media-center-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-times"></i> Unfollow
                </button>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-6">
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a href="/zone/social/communities/detail">
                    <img src="/assets/images/avatar/avatar-lg.png" width="70" alt="">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading"><a href="/zone/social/communities/detail">Friendly User No
                  01</a>
                </h4>
                <p class="media-center-p">Nickname</p>
              </div>
              <div class="media-center-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
