<div class="zone-social">
  <div class="zone-social-container">
    <div class="z-social-box">
      <div class="z-social-box-header">
        <nav class="z-social-box-header-nav pull-left">
          <ul>
            <li>
              <a [ngClass]="{'active': currentState == 'friends'}" (click)="getDataList('friends')" href="#">
                FRIENDS <span *ngIf="data.friends" class="text-fade">{{data.friends.length}}</span>
              </a>
            </li>
            <li>
              <a [ngClass]="{'active': currentState == 'followers'}" (click)="getDataList('followers')" href="#">
                FOLLOWERS <span *ngIf="data.followers" class="text-fade">{{data.followers.length}}</span>
              </a>
            </li>
            <li>
              <a [ngClass]="{'active': currentState == 'followings'}" (click)="getDataList('followings')" href="#">
                FOLLOWING <span *ngIf="data.followings" class="text-fade">{{data.followings.length}}</span>
              </a>
            </li>
            <li>
              <a [ngClass]="{'active': currentState == 'blacklists'}" (click)="getDataList('blacklists')" href="#">
                BLACKLIST <span *ngIf="data.blacklists" class="text-fade">{{data.blacklists.length}}</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="z-social-box-body z-social-box-body-communities">
        <div *ngIf="list.length==0" class="p40 text-center">
          <div *ngIf="currentState == 'friends'">
            <h3 class="text-fade">
              There is no friend on your friend list yet
            </h3>
            <button class="btn btn-default">
              Seach for Friend
            </button>
          </div>
          <div *ngIf="currentState == 'followers'">
            <h3 class="text-fade">
              There is no followers
            </h3>
          </div>
          <div *ngIf="currentState == 'followings'">
            <h3 class="text-fade">
              There is no followings
            </h3>
          </div>
          <div *ngIf="currentState == 'blacklists'">
            <h3 class="text-fade">
              There is no blacklist
            </h3>
          </div>

        </div>
        <div *ngIf="list.length>0" class="row">
          <div *ngFor="let item of list" class="col-xs-12 col-lg-6">
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/zone/social/profile', item.uuid]">
                    <img [src]="item.profile_image" width="70" alt="">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/zone/social/profile', item.uuid]">
                    {{item.name}}
                  </a>
                </h4>
                <p *ngIf="nickname" class="media-center-p">{{item.nickname}}</p>
              </div>
              <div class="media-center-right">
                <div *ngIf="currentState == 'friends'" class="dropdown pull-right">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true" (click)="getFavourite(item.uuid)">
                    <i class="fa fa-check"></i> Friend <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-custom">
                    <li><a href="javascript:;" (click)="addFavourite(item.uuid)">Favorite <i class="fa pull-right" [ngClass]="favourite && favourite.uuid? 'fa-star': 'fa-star-o'"></i></a></li>
                    <li><a href="javascript:;" (click)="unfriend(item.uuid)">Unfriend</a></li>
                  </ul>
                </div>
                <div *ngIf="currentState == 'followers' && item.isFollowing == false" class="pull-right">
                  <button class="btn btn-default" type="button" (click)="follow(item.uuid)">
                    <i class="fa fa-share"></i> Follow
                  </button>
                </div>
                <div *ngIf="currentState == 'followings'" class="prull-right">
                  <button class="btn btn-default" type="button" (click)="unfollow(item.uuid)">
                    <i class="fa fa-times"></i> Unfollow
                  </button>
                </div>
                <div *ngIf="currentState == 'blacklists'" class="dropdown pull-right">
                  <button class="btn btn-default" type="button">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
