<div class="page-body-control">
  <ul class="control-body-select">
    <li class="dropdown">
      <a href="#" class="btn btn-default btn-circle" data-toggle="dropdown"><i class="fa fa-plus"></i></a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li class="active">
          <input type="file" id="photo_input_element" multiple="multiple" accept="image/*" style="display: none;"
                 autofocus="true" (change)="handleFileUpload($event)"/>

          <a href="#" (click)="openFileWindow($event)"><i class="fa fa-picture-o"></i> Upload Photos</a>
        </li>
        <li><a href="#"><i class="fa fa-files-o"></i> Upload Video</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="javascript:;" (click)="onClickCreateAlbum()"><i class="fa fa-video-camera"></i> Create Album</a></li>
        <li><a href="#"><i class="fa fa-list-alt"></i> Create Playlist</a></li>

      </ul>
    </li>
    <li class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <i [ngClass]="selectedEl.css"></i> {{selectedEl.name}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
        <!--<a [routerLink]="['/zone/picture/photo']"><i class="fa fa-picture-o"></i> Photos</a>-->
        <!--</li>-->
        <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
        <!--<a [routerLink]="['/zone/picture/album']"><i class="fa fa-files-o"></i> Albums</a>-->
        <!--</li>-->
        <!--<li role="separator" class="divider"></li>-->
        <!--<li><a href="#"><i class="fa fa-video-camera"></i> Video</a></li>-->
        <!--<li><a href="#"><i class="fa fa-list-alt"></i> Playlist</a></li>-->
        <!--<li role="separator" class="divider"></li>-->
        <!--<li><a href="#"><i class="fa fa-star"></i> Favourite</a></li>-->

        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngFor="let item of items">
          <a [routerLink]="[item.link]">
            <i [ngClass]="item.css"></i> {{item.name}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="control-body-search">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
      <input type="text" class="form-control" [(ngModel)]='listFilter' placeholder="Search for...">
      <span class="input-group-btn">
        <button (click)="toggleShowSearch($event)" class="btn btn-default" type="button">
          <i *ngIf="!advSearch" class="fa fa-caret-down"></i>
          <i *ngIf="advSearch" class="fa fa-caret-up"></i>
        </button>
      </span>
    </div>
    <div class="advSearch" *ngIf="advSearch">
      <div class="container-fluid">
        <p>Advance Search</p>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="fromDate" class="col-sm-3 control-label">From</label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="fromDate" placeholder="">
            </div>
            <label for="toDate" class="col-sm-1 control-label">To</label>
            <div class="col-sm-4">
              <input type="email" class="form-control" id="toDate" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="extension" class="col-sm-3 control-label">Extension</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="extension" placeholder="png, jpg, gif ...">
            </div>
          </div>
          <div class="form-group">
            <label for="tags" class="col-sm-3 control-label">Tags</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="tags" placeholder="flower, summer ...">
            </div>
          </div>
          <div class="form-group">
            <label for="shareWith" class="col-sm-3 control-label">Share With</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="shareWith" placeholder="johnny, jane">
            </div>
          </div>
          <div class="form-group">
            <label for="shareIn" class="col-sm-3 control-label">Share In</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="shareIn" placeholder="Enter Group Name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-primary btn-min mr10">Search</button>
              <button type="reset" class="btn btn-default btn-min">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ul class="control-body-select control-body-btnview">
    <li [ngClass]="hasSelectedItem ? 'action-enabled': 'action-disabled'">
      <a href="#" (click)="preview($event)"><i class="fa fa-eye"></i></a>
    </li>
    <li [ngClass]="hasSelectedItem ? 'action-enabled': 'action-disabled'">
      <a href="#" (click)="share($event)"><i class="fa fa-share-alt"></i></a>
    </li>
    <li [ngClass]="hasSelectedItem ? 'action-enabled': 'action-disabled'">
      <a href="#" (click)="addFavourite($event)"><i class="fa" [ngClass]="hasFavourite ? 'fa-star': 'fa-star-o'"></i></a>
    </li>
    <li [ngClass]="hasSelectedItem ? 'action-enabled': 'action-disabled'">
      <a href="#" (click)="tag($event)"><i class="fa fa-tag"></i></a>
    </li>
    <li [ngClass]="hasSelectedItem ? 'action-enabled': 'action-disabled'">
      <a href="#" (click)="delete($event)"><i class="fa fa-trash-o"></i></a>
    </li>
    <li class="dropdown action" [ngClass]="hasSelectedItem ? 'action-enabled': 'action-disabled'">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-v"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a (click)="add($event)" href="javascript:;" [ngClass]="hasSelectedItem ? 'action-enabled': 'action-disabled'"><i class="fa fa-plus-square"></i> Add to Album</a></li>
        <!--<li><a (click)="download($event)" href="javascript:;"><i class="fa fa-download"></i> Download</a></li>-->
        <li><a class="text-disable" href="javascript:;"><i class="fa fa-download"></i> Download</a></li>
        <li><a *ngIf="!hasMultiSelectedItem" (click)="edit($event)" href="javascript:;"><i class="fa fa-edit"></i> Edit</a>
        </li>
        <li><a *ngIf="!hasMultiSelectedItem" (click)="viewInfo($event)" href="javascript:;"><i class="fa fa-info-circle"></i> Information</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa" [ngClass]="{'fa-th-large': (currentView == 'grid'), 'fa-th-list': (currentView == 'list')}"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a (click)="changeView('grid', $event)" href="javascript:;"><i class="fa fa-th-large"></i> Grid</a></li>
        <li><a (click)="changeView('list', $event)" href="javascript:;"><i class="fa fa-th-list"></i> List</a></li>
        <!--<li><a href="#"><i class="fa fa-align-center"></i> Timeline</a></li>-->
      </ul>
    </li>
  </ul>
</div>
