<div id="sharingModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-custom modal-long" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-share-alt"></i> Sharing</h4>
      </div>
      <div class="modal-body">
        <p>Group</p>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="modal-body-collapse">
          <a role="button" data-toggle="collapse" href="#collapseGroup" aria-expanded="false"
             aria-controls="collapseExample">
            Shared in 3 groups
          </a>
          <div class="collapse" id="collapseGroup">
            <div class="modal-body-collapse-in">
              <div class="media-list-item">
                <div class="media remove">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right remove-item">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <p>Contact</p>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="modal-body-collapse">
          <a role="button" data-toggle="collapse" href="#collapseContact" aria-expanded="false"
             aria-controls="collapseExample">
            Shared with 10 Contacts
          </a>
          <div class="collapse" id="collapseContact">
            <div class="modal-body-collapse-in">
              <div class="media-list-item">
                <div class="media remove">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right remove-item">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure>
                      <img src="assets/images/zone/img-group.png" alt="">
                    </figure>
                  </div>
                  <div class="media-body">
                    Random Family Members
                  </div>
                  <div class="media-right">
                    <a href="#">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="text-left">You are going to remove 3 contacts from Sharing: <br>
          <span class="text-fade">Kokoro, Fat Man, Little Boy</span>
        </p>
        <button type="button" class="btn btn-primary-inline">Remove</button>
        <button type="button" class="btn btn-default-inline" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

