<div class="objects-main objects-main-show">
  <div class="objects-main-nav">
    <h4 class="title">Photos</h4>
    <div class="action">
      <div class="slider">
        <i class="fa fa-photo fz10"></i>
        <p-slider [style]="{'width':'60px'}"
                  [(ngModel)]="sliderView"
                  [step]="1"
                  [min]="1"
                  [max]="4">
        </p-slider>
        <i class="fa fa-photo fz18"></i>
      </div>
      <div class="sort">
        <a href="#"><span class="text-bold mr20">Name</span> <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="objects-main-content">
    <nav class="objects-main-menu">
      <ul class="nav-selection-actions">
        <li>
          <button class="btn btn-icon" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
        </li>
        <li class="divider"></li>
        <li>
          1 selected
        </li>
      </ul>
      <ul class="nav-selection-actions">
        <li>
          <button class="btn btn-icon" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </li>
        <li>
          <button class="btn btn-icon" type="button"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
        </li>
        <li>
          <button class="btn btn-icon" type="button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
        </li>
        <li>
          <button class="btn btn-icon" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </li>
        <li class="dropdown">
          <button class="btn btn-icon" type="button" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="fa fa-plus-square" aria-hidden="true"></i> Add to Album</a></li>
            <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit information</a></li>
            <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="content-view content-grid content-grid-{{sliderView}}">
      <div class="content-item">
        <div class="item-media">
          <div class="item-actions">
            <i class="form-checkbox active"></i>
          </div>
          <div class="item-media-img">
            <img src="http://placehold.it/200x800" alt="">
            <div class="item-media-img-over">
              7 items
            </div>
          </div>
          <div class="item-media-name">
            <span>an item name 01.png</span>
          </div>
        </div>
      </div>
      <div class="content-item">
        <div class="item-media">
          <div class="item-actions">
            <i class="form-checkbox active"></i>
          </div>
          <div class="item-media-img">
            <img src="http://placehold.it/800x200" alt="">
            <i class="fa fa-play-circle-o" aria-hidden="true"></i>
          </div>
          <div class="item-media-name">
            <span>an item name 01.png</span>
          </div>
        </div>
      </div>
      <div class="content-item">
        <div class="item-media">
          <div class="item-actions">
            <i class="form-checkbox active"></i>
          </div>
          <div class="item-media-img">
            <img src="http://placehold.it/100x100" alt="">
          </div>
          <div class="item-media-name">
            <span>an item name 01.png</span>
          </div>
        </div>
      </div>
    </div>
    <box-no-data [title]="'There are no items!'"
                 [subTitle]="'Drop photos or videos here or use the “New” button to upload photos and videos.'"
                 [icon]="'fa fa-photo'">
    </box-no-data>
    <div class="text-center clearfix p10">
      <span class="text-bold">8 albums</span>
    </div>
  </div>
  <div class="objects-main-information">
    <div class="objects-main-information-title">
      <nav>
        <h3>Information</h3>
        <button class="btn btn-default" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
      </nav>
    </div>
    <div class="objects-main-information-content">
      <nav>
        <h4>Details</h4>
        <button class="btn btn-default" type="button"><i class="fa fa-pencil text-muted" aria-hidden="true"></i></button>
      </nav>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>an item name 01.png</dd>
        <dt>Description</dt>
        <dd>this is a photo of a lake, with some moutains behind it, reflected of the lake’s surface.</dd>
        <dt>Type</dt>
        <dd>photo</dd>
        <dt>File Size</dt>
        <dd>2 MB</dd>
        <dt>Diemnsions</dt>
        <dd>1027*800</dd>
        <dt>Created date</dt>
        <dd>Oct 4 2016</dd>
      </dl>
      <nav>
        <h4>Album</h4>
      </nav>
      <div class="media">
        <div class="media-left">
          <div class="media-left-img">
            <img src="/assets/images/thumbnail/image_default.png" alt="">
          </div>
        </div>
        <div class="media-body">
          <p class="text-bold mb0">an item name 01</p>
          <small class="text-muted">Oct 10 2017</small>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="media-left-img">
            <img src="/assets/images/thumbnail/image_default.png" alt="">
          </div>
        </div>
        <div class="media-body">
          <p class="text-bold mb0">an item name 01</p>
          <small class="text-muted">Oct 10 2017</small>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="media-left-img">
            <img src="/assets/images/thumbnail/image_default.png" alt="">
          </div>
        </div>
        <div class="media-body">
          <p class="text-bold mb0">an item name 01</p>
          <small class="text-muted">Oct 10 2017</small>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="media-left-img">
            <img src="/assets/images/thumbnail/image_default.png" alt="">
          </div>
        </div>
        <div class="media-body">
          <p class="text-bold mb0">an item name 01</p>
          <small class="text-muted">Oct 10 2017</small>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <div class="media-left-img">
            <img src="/assets/images/thumbnail/image_default.png" alt="">
          </div>
        </div>
        <div class="media-body">
          <p class="text-bold mb0">an item name 01</p>
          <small class="text-muted">Oct 10 2017</small>
        </div>
      </div>
    </div>
  </div>
</div>
