@import "../../assets/styles/global";

.objects-main {
  @include flexbox;
  @include flex-direction(column);
  height: 100%;
  @media (min-width: $screen-sm-min) {
    &.objects-main-show {
      margin-right: $objects-main-information-w;
      .objects-main-menu {
        right: $objects-main-information-w;
      }
    }
  }
  .objects-main-nav {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    margin: 30px 30px 0;
    .title {
      margin: 0;
    }
    .action {
      @include flexbox;
      a {
        text-decoration: none;
      }
      .slider {
        @include flexbox;
        @include align-items(center);
        margin: 0 20px;
      }
    }
  }

  .objects-main-content {
    @include flex(1);
    position: relative;
    .dts-select-container {
      padding: 30px;
    }
  }
}

.objects-main-information {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-modal-background - 1;
  width: $objects-main-information-w;
  background-color: #ffffff;
  box-shadow: -1px 0 0 0 #DEDEDE;
  @include flexbox;
  @include flex-direction(column);
  nav {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    h3, h4 {
      margin: 0;
    }
    margin-bottom: 15px;
  }
  .objects-main-information-title {
    padding: 10px;
    box-shadow: 0 1px 0 0 #DEDEDE;
    height: $objects-main-menu-button-h + $objects-main-menu-button-y*2;
    @include flexbox;
    @include align-items(center);
    nav {
      margin: 0;
      width: 100%;
    }
  }
  .objects-main-information-content {
    padding: 10px;
    @include flex(1);
    overflow: auto;
  }
  @media (min-width: $screen-sm-min) {
    .dl-horizontal {
      dt {
        width: 90px;
        color: #9B9B9B;
      }
      dd {
        margin-left: 100px;
      }
    }
  }
  .media {
    .media-left-img {
      width: 34px;
      height: 34px;
      overflow: hidden;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
  }
}



