

<modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title">Sharing</h4>
  </modal-header>
  <modal-body>
    <!-- <div class="alert alert-danger" *ngIf="!changed">
      <i class="fa fa-exclamation-triangle"></i> You have made changes that you need to save!
    </div> -->

    <div class="form-group">
      <p-autoComplete #auto [(ngModel)]="selectedContacts"
                      [suggestions]="filteredContacts"
                      [multiple]="true"
                      [minLength]="1"
                      field="name"
                      (onSelect)="selectContact($event)"
                      (completeMethod)="contactTerm$.next($event)">
      </p-autoComplete>
    </div>

    <div class="modal-body-collapse">
      <a role="button" data-toggle="collapse" href="#collapseContact" aria-expanded="false"
         aria-controls="collapseExample">
        Shared with {{sharedContacts.length}} Contacts
      </a>
      <div class="collapse in" id="collapseContact">
        <div class="modal-body-collapse-in">
          <div class="media-list-item">
            <div class="media">
              <div class="media-body">
                Shared users
              </div>
              <div class="media-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-default dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    View only <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="fa fa-check"></i> View only</a></li>
                    <!-- <li><a href="#">Can re-share</a></li>
                    <li><a href="#">Can edit &amp; re-share</a></li> -->
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <!--Loop-->
          <div class="media-list-item" *ngFor="let user of sharedContacts">
            <div class="media">
              <div class="media-left">
                <span class="avatar-xxs">
                  <img [src]="user.profile_image" alt="">
                </span>
              </div>
              <div class="media-body">
                {{user.name}}
              </div>
              <div class="media-right">

                <div class="btn-group" *ngIf="!user._destroy">
                  <button type="button" class="btn btn-sm btn-outline-default dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    View only <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:;"><i class="fa fa-check"></i> View only</a></li>
                    <!-- <li><a href="#">Can re-share</a></li>
                    <li><a href="#">Can edit &amp; re-share</a></li> -->
                  </ul>
                </div>

                <button *ngIf="!user._destroy" class="btn btn-sm btn-outline-default" (click)="remove(user)"><i class="fa fa-times"></i> Remove </button>
                <button *ngIf="user._destroy" class="btn btn-sm btn-outline-default" (click)="cancelRemove(user)"><i class="fa fa-times"></i> Cancel </button>
              </div>
            </div>
          </div>
          <!--end Loop-->
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button *ngIf="showCancelButton" type="button" class="btn btn-outline-default btn-min" (click)="cancel()">Cancel</button>
    <button type="button" [ngClass]="{'text-disable': !changed}"
            [disabled]="!changed" (click)="save()"
            class="btn btn-outline-primary btn-min">Save changes
    </button>
  </modal-footer>
</modal>
