@import '../../../../core/scss/global';

:host {
  display: block;
}

.modal-body-collapse-in {
  min-height: 200px;
  .media, .media-body {
    overflow: visible;
  }
  .media-right {
    white-space: nowrap;
  }
}
