<div class="page-body-content">
  <div class="page-body-content-in" *ngIf="(contactItem$ | async)?.value">
    <div *ngFor="let contact of (contactItem$ | async)?.value | chatGroupHistory"
         class="media media-middle media-user-list media-user-list-history">
      <div class="media-left">
        <z-chat-share-user [data]="contact" [size]="'xs'"></z-chat-share-user>
      </div>
      <div class="media-left">
        <span class="text-fade">{{ contact.group_json.updated_at | timeFormat }}</span>
      </div>
      <div class="media-body">
        <p class="no-wrap">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, asperiores aut consequuntur dolor dolorem
          doloribus ducimus ex expedita id iusto magnam nemo nesciunt, quae, quasi repellat tenetur voluptatibus. Ipsam,
          quos!
        </p>
      </div>
      <div class="media-right">
        <z-chat-contact-actions [contact]="contact" [config]="configActions"></z-chat-contact-actions>
      </div>
    </div>
  </div>
</div>

