<div id="photo-box-detail" class="photo-box-detail zone-social-photo-detail">
  <div class="photo-detail-top">
    <ul class="action navbar-left">
      <li>
        <a href="javascript:;" (click)="hidePreview()"><i class="fa fa-arrow-left"></i></a>
      </li>
    </ul>
    <ul class="action navbar-right">
      <li class="active">
        <i class="fa fa-thumbs-o-up active"></i> 2
      </li>
      <li>
        <i class="fa fa-thumbs-o-down"></i> 2
      </li>
      <li>
        <i class="fa fa-share-alt"></i> 2
      </li>
      <li>
        <a href="javascript:;"><i class="fa fa-comments"></i></a>
      </li>
      <li class="dropdown">
        <a href="javascript:;" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-square-o pull-right"></i> Adult content</a></li>
          <li><a href="#"><i class="fa fa-check pull-right"></i> Adult content</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Download Image</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Disable comments</a></li>
          <li><a href="#">Disable Reshare</a></li>
          <li><a href="#">Mute</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="photo-detail-content">
    <div class="photo-detail-img">
      <figure>
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250" alt="">
      </figure>
      <span (click)="imgPrev()" class="photo-detail-img-control img-control-prev">
        <i class="fa fa-angle-left"></i>
      </span>
      <span (click)="imgNext()" class="photo-detail-img-control img-control-next">
        <i class="fa fa-angle-right"></i>
      </span>
    </div>
  </div>
  <div class="photo-detail-info">
    <div class="z-social-media">
      <div class="z-social-media-left">
        <img src="assets/images/avatar/avatar.png" alt="">
      </div>
      <div class="z-social-media-body">
        <div class="z-heading">
          <div class="z-name">
            name
          </div>
          <div class="z-shared-with dropdown">
            <a href="#" data-toggle="dropdown"><i class="fa fa-globe"></i> Public</a>
            <ul class="dropdown-menu dropdown-menu-wth dropdown-menu-check" aria-labelledby="dropdownMenu1">
              <li><a href="#"><i class="fa fa-globe"></i> Public <i class="dropdown-menu-check-item fa fa-check"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-users"></i> Friends</a></li>
              <li><a href="#"><i class="fa fa-lock"></i> Private</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Custom</a></li>
            </ul>
          </div>
          <div class="z-shared-with">
            <a href="#modal-social-myshare" data-toggle="modal"><i class="fa fa-lock"></i> Private</a>
          </div>
        </div>
        <div class="z-shared-info">
          <ul>
            <li class="z-time">
              Jul 16 2016
            </li>
            <li>
              Adult Content
            </li>
            <li>
              Muted
            </li>
          </ul>
        </div>
      </div>
      <div class="z-social-media-right">
        <div class="dropdown pull-right">
          <a href="javascript:;" class="btn btn-default">
            <i class="fa fa-times"></i>
          </a>
        </div>

      </div>
    </div>
    <div class="z-social-post">
      <div class="z-social-post-content">
        <div class="z-social-post-txt">
          <div class="z-social-post-txt-in">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio ducimus eveniet exercitationem
            inventore iusto non officia qui quia, reiciendis, unde velit vitae, voluptatum. Deleniti illum minima
            necessitatibus nobis quidem!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio ducimus eveniet exercitationem
            inventore iusto non officia qui quia, reiciendis, unde velit vitae, voluptatum. Deleniti illum minima
            necessitatibus nobis quidem!
          </div>
          <div class="z-social-post-txt-more">
            <a href="#">READ MORE</a>
          </div>
        </div>
        <div class="z-social-post-tag">
          <a href="#">books</a> <a href="#">books</a> <a href="#">books</a> <a href="#">books</a>
        </div>
      </div>
    </div>
    <div class="z-social-comment">
      <div class="z-social-comment-num">10 Comments</div>
      <ul class="z-social-comment-list media-list">
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img alt="64x64" class="media-object" src="assets/images/avatar/avatar.png">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Media heading
              <span class="media-heading-time">1 day ago</span>
            </h4>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
              sollicitudin commodo.
              Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            <div class="media-body-action dropdown pull-right">
              <a data-toggle="dropdown">
                <i class="fa fa-pencil"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Edit Post</a></li>
                <li><a href="#">Delete</a></li>
              </ul>
            </div>
            <div class="media-body-reply">
              <ul>
                <li class="active"><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                <li><a href="#"><i class="fa fa-thumbs-o-down"></i></a></li>
                <li><a href="#">Reply</a></li>
                <li><a href="#">2 Replies</a></li>
              </ul>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img alt="64x64" class="media-object" src="assets/images/avatar/avatar.png">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Media heading
                  <span class="media-heading-time">1 day ago</span>
                </h4>
                <p>Cras sit amet nibh libero, in
                  gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
                  odio, vestibulum in
                  vulputate at, tempus viverra turpis.</p>
                <div class="media-body-action dropdown pull-right">
                  <a data-toggle="dropdown">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Edit Post</a></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
                </div>
                <div class="media-body-reply">
                  <ul>
                    <li class="active"><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-o-down"></i></a></li>
                    <li><a href="#">Reply</a></li>
                    <li><a href="#">2 Replies</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img alt="64x64" class="media-object" src="assets/images/avatar/avatar.png">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Media heading
                  <span class="media-heading-time">1 day ago</span>
                </h4>
                <p>Cras sit amet nibh libero, in
                  gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
                  odio, vestibulum in
                  vulputate at, tempus viverra turpis.</p>
                <div class="media-body-action dropdown pull-right">
                  <a data-toggle="dropdown">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Edit Post</a></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
                </div>
                <div class="media-body-reply">
                  <ul>
                    <li class="active"><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                    <li><a href="#"><i class="fa fa-thumbs-o-down"></i></a></li>
                    <li><a href="#">Reply</a></li>
                    <li><a href="#">2 Replies</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="z-social-comment-more">
        <a href="#">View all comments</a>
      </div>
    </div>
    <div class="z-social-media">
      <div class="z-social-media-left">
        <img src="assets/images/avatar/avatar.png" alt="">
      </div>
      <div class="z-social-media-body">
        <div class="z-social-media-inputpost">
          <span class="z-social-media-inputpost">
            <i class="fa fa-camera"></i>
            <i class="fa fa-smile-o"></i>
          </span>
          <input type="text" class="form-control" placeholder="Add a comment">
        </div>
      </div>
    </div>
  </div>
</div>
