.product-content, .product-listapp {
  font-size: 18px;
}

.product-promo {
  text-align: center;
  background-image: url('../assets/images/products/bg-promo.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

.product-listapp {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
  .h1 {
    @media (min-width: $screen-sm) {
      text-align: left;
    }
    margin-bottom: 5px;
  }
  &:nth-child(even) {
    .col-sm-3 {
      @media (min-width: $screen-sm) {
        float: right;
      }
    }
  }
  .product-listapp-img {
    text-align: center;
    img {
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}

.product-coming {
  .h1 {
    margin-bottom: 30px;
  }
}
