@import "zone/picture/item";
@import "zone/picture/row-img";
@import "zone/picture/sortbar";
@import "zone/picture/detail";
@import "zone/picture/media-detail";
@import "zone/chat/body-chat";
@import "zone/social/layout";

.zone-no-photo {
  padding-top: 220px;
  background-image: url('../assets/images/zone/no-photo.png');
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}
