<modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title"><i class="fa fa-tag"></i> Tagging</h4>
  </modal-header>
  <modal-body>
    <tagging-el #tag></tagging-el>
  </modal-body>
  <modal-footer>
    <p *ngIf="hasDeletedItems" class="text-left text-danger">You have made changes that you need to save!</p>
    <button type="button" (click)="save()" class="btn btn-outline-primary btn-min" data-dismiss="modal">Done</button>
    <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal">Cancel</button>
  </modal-footer>
</modal>
