<div class="page-content bg-gray-light">
  <div class="container">
    <div class="form-box-sm">
      <div class="text-center">
        <h2 class="h1">Reset Password</h2>
        <p>Please enter your new password.</p>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
        <div class="form-group has-password"
             [ngClass]="{'has-error': (!password.valid && password.touched)}">
          <label for="password">New Password</label>

          <show-hide-password>
            <input #showhidepassword [formControl]="password" type="password" class="form-control" id="password"
                   placeholder="Password">
          </show-hide-password>

          <p class="mt10 mb0">New password must:</p>
          <ul [ngClass]="{'text-danger': (!password.valid && password.touched), 'text-success': (password.valid && password.touched)}">

            <ng-template [ngIf]="!password.valid">
              <ng-template [ngIf]="password.errors.required">
                <li>Contain at least 8 characters or more</li>
              </ng-template>
              <ng-template [ngIf]="password.errors.minlength">
                <li class="text-danger">Contain at least 8 characters or more</li>
              </ng-template>
              <ng-template [ngIf]="!password.errors.required && !password.errors.minlength">
                <li class="text-success">Contain at least 8 characters or more</li>
              </ng-template>
              <li [ngClass]="{'text-success': (!password.errors.lowercaseUppercase)}">Contain both uppercase and lowercase characters</li>
              <li [ngClass]="{'text-success': (!password.errors.specialSymbolOrNumber)}">Contain at least one number or symbol</li>

            </ng-template>
            <ng-template [ngIf]="password.valid">
              <li>Contain at least 8 characters or more</li>
              <li>Contain both uppercase and lowercase characters</li>
              <li>Contain at least one number or symbol</li>
            </ng-template>
          </ul>
        </div>
        <button [disabled]="!form.valid" type="submit" class="btn btn-block btn-primary">Reset Password</button>
      </form>

    </div>
  </div>
</div>

