<div class="page-content bg-gray-light">
  <div class="container">
    <div class="form-box-sm">
      <div class="text-center">
        <h2 class="h1">Check your email</h2>
      </div>
      <p>We've sent an email. Click the link in the email to reset your password.
        If you don't see the email, check other places it might be, like your junk, spam, social, or other
        folders.</p>
      <div class="form-group text-center">
        <a class="btn btn-outline-primary" [routerLink]="['/account/recovery/forgottenpassword']" href="#">
          I didn't receive the email
        </a>
      </div>

    </div>
  </div>
</div>

