<div class="zone-social">
  <div class="zone-social-in">

    <div class="z-social-box">
      <div class="z-social-box-header">
        <h4 class="h4">
          Members
        </h4>
      </div>
      <div class="z-social-post">
        <ul class="list-unstyled social-list-user">
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">John</a>
                </h4>
              </div>
            </div>
          </li>
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">John</a>
                </h4>
              </div>
            </div>
          </li>
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">John</a>
                </h4>
              </div>
            </div>
          </li>
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">John</a>
                </h4>
              </div>
            </div>
          </li>
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">John</a>
                </h4>
              </div>
            </div>
          </li>
        </ul>
        <a href="#" class="btn btn-link">
          See more
        </a>
      </div>
    </div>

    <div class="z-social-box">
      <div class="z-social-box-header">
        <h4 class="h4">
          Communitites
        </h4>
      </div>
      <div class="z-social-post">
        <ul class="list-unstyled social-list-user">
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">alt Group 01</a>
                </h4>
              </div>
            </div>
          </li>
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">alt Group 01</a>
                </h4>
              </div>
            </div>
          </li>
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">alt Group 01</a>
                </h4>
              </div>
            </div>
          </li>
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">alt Group 01</a>
                </h4>
              </div>
            </div>
          </li>
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/']">
                    <img src="/assets/images/avatar/avatar.png">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/']">alt Group 01</a>
                </h4>
              </div>
            </div>
          </li>
        </ul>
        <a href="#" class="btn btn-link">
          See more
        </a>
      </div>
    </div>


    <br class="mt40">
    <h4 class="h4">
      Post from your friends
    </h4>
    <hr>


    <div class="z-social-box">
      <div class="z-social-media">
        <div class="z-social-media-left">
          <img alt=""
               src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
        </div>
        <div class="z-social-media-body">
          <div class="z-heading">
            <div class="z-name">
              Philip Chisholm
            </div>
            <span class="text-fade">
                        reported by <a href="#">Username</a>
                      </span>
          </div>
          <div class="z-shared-info">
            <ul>
              <li>
                Nov 15, 2016
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="z-social-post">
        <div class="z-social-carousel">
          <ul class="carousel-thumb-style-1">
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <z-social-favorites></z-social-favorites>
</div>
