<aside class="main-page-left-in page-body-sidebar aside-chat">
  <div class="form-group">
    <a [routerLink]="['new']" class="btn btn-default"><i class="fa fa-plus"></i> New Message</a>
  </div>
  <dl class="p-list-user-group">
    <dt>Favourites</dt>
    <dd>
      <ul class="p-list-user p-list-outside">
        <li>
          <div class="pull-right">
            <span class="badge badge-wth">4</span>
          </div>
          <figure>
            <img alt="David Nguyen"
                 src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            <span class="p-list-user-status online"></span>
          </figure>
          <span>David Nguyen</span>
        </li>
        <li>
          <div class="pull-right">
            <span class="badge badge-wth">4</span>
          </div>
          <figure>
            <img alt="David Nguyen"
                 src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            <span class="p-list-user-status online"></span>
          </figure>
          <span>David Nguyen</span>
        </li>
      </ul>
    </dd>
  </dl>
  <dl class="p-list-user-group">
    <dt>Recent</dt>
    <dd>
      <ul class="p-list-user p-list-outside">
        <li>
          <div class="pull-right">
            <span class="badge badge-wth">4</span>
          </div>
          <figure>
            <img alt="David Nguyen"
                 src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            <span class="p-list-user-status online"></span>
          </figure>
          <span>David Nguyen</span>
        </li>
        <li>
          <div class="pull-right">
            <span class="badge badge-wth">4</span>
          </div>
          <figure>
            <img alt="David Nguyen"
                 src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            <span class="p-list-user-status online"></span>
          </figure>
          <span>David Nguyen</span>
        </li>
        <li>
          <div class="pull-right">
            <span class="badge badge-wth">4</span>
          </div>
          <figure>
            <img alt="David Nguyen"
                 src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            <span class="p-list-user-status online"></span>
          </figure>
          <span>David Nguyen</span>
        </li>
        <li>
          <div class="pull-right">
            <span class="badge badge-wth">4</span>
          </div>
          <figure>
            <img alt="David Nguyen"
                 src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            <span class="p-list-user-status online"></span>
          </figure>
          <span>David Nguyen</span>
        </li>
        <li>
          <div class="pull-right">
            <span class="badge badge-wth">4</span>
          </div>
          <figure>
            <img alt="David Nguyen"
                 src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            <span class="p-list-user-status online"></span>
          </figure>
          <span>David Nguyen</span>
        </li>
        <li>
          <div class="pull-right">
            <span class="badge badge-wth">4</span>
          </div>
          <figure>
            <img alt="David Nguyen"
                 src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            <span class="p-list-user-status online"></span>
          </figure>
          <span>David Nguyen</span>
        </li>
      </ul>
    </dd>
  </dl>
</aside>
