<z-note-shared-toolbar>
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-min dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      New
    </button>
    <ul class="dropdown-menu dropdown-menu-sm">
      <li><a (click)="onNewNote()" href="javascript:;"><i class="fa fa-sticky-note"></i> New note</a></li>
      <li><a (click)="onFolder()" href="javascript:;"><i class="fa fa-folder-o"></i> New folder</a></li>
    </ul>
  </div>

  <span class="btn-text ml15">
    My sharing
  </span>

</z-note-shared-toolbar>
<div class="page-body-content has-page-body-control gray-light">
  <note-list [noteItems]="noteItems$ | async"
             [folderItems]="folderItems$ | async"
             [viewOption]="(viewMode$ | async)"
             [sortOption]="sortOption$ | async"
             [isSelectAll]="(selectAll$ | async)">
  </note-list>

  <ng-template #loadingBlock>
    <box-loading></box-loading>
  </ng-template>
  <ng-template #noDataBlock>
    <box-no-data
      [icon]="'fa fa-share-alt'"
      [title]="'There is no note shared by you!'"
      [subTitle]="'Note can be shared to your connected contact'">
    </box-no-data>
  </ng-template>
</div>
