<bs-modal #myModal>
  <bs-modal-header>
    <h4 *ngIf="type === PRIVACY_TYPE.custom_friend" class="modal-title">Share with friends</h4>
    <h4 *ngIf="type === PRIVACY_TYPE.custom_community" class="modal-title">Share in community</h4>
  </bs-modal-header>
  <bs-modal-body>
    <p *ngIf="type === PRIVACY_TYPE.custom_friend">
      Enter friends you want to share with.
      <br>Your friend will also receive notification on this post.
    </p>
    <p *ngIf="type === PRIVACY_TYPE.custom_community">
      You can only share your post in one community at a time. <br>
      To share with many communities, please create a separate post for each.
    </p>
    <p-autoComplete [(ngModel)]="selectedItems"
                    [suggestions]="filteredDataMultiple"
                    (completeMethod)="filterDataMultiple($event)"
                    styleClass="wid100"
                    [minLength]="1"
                    [placeholder]="placeholder"
                    field="name"
                    [multiple]="true">
        <ng-template let-selItem pTemplate="selectedItem">
          <span class="ui-autocomplete-token-label"> {{ selItem?.name | maxLength: 20 }} </span>
        </ng-template> 
        <ng-template let-data pTemplate="item">
          <div class="media media-no-hidden">
            <div class="media-left">
              <span class="avatar-xs">
                <img [src]="data?.profile_image" alt="{{ data?.name }}">
              </span>
            </div>
            <div class="media-body middle">
              <span class="media-heading m0">
                {{ data?.name | maxLength: 50 }}
              </span>
              <div class="text-fade">
              </div>
            </div>
            <div class="media-right">
            </div>
          </div>
        </ng-template>
    </p-autoComplete>

  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal" (click)="myModal.dismiss()">
      Cancel
    </button>
    <button type="button" class="btn btn-outline-primary btn-min" (click)="onSave()">Ok</button>
  </bs-modal-footer>
</bs-modal>