<div class="wrapper">
  <wth-header></wth-header>
  <main class="main">
    <div class="main-page-left">
      <aside class="main-page-left-in aside-menu">
        <z-shared-menu></z-shared-menu>
      </aside>
    </div>
    <div class="main-page-body">
      <router-outlet></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <p-confirmDialog header="Confirmation" width="670" #cd>
    <p-footer>
      <button class="btn btn-default-inline" type="button" (click)="cd.reject()">Cancel</button>
      <button class="btn btn-primary-inline" type="button" (click)="cd.accept()">Delete</button>
    </p-footer>
  </p-confirmDialog>


  <!--<wth-modal-dock #modalDock>
    <wth-modal-dock-header [loading]="true">
      Uploading
    </wth-modal-dock-header>
    <wth-modal-dock-body>
      <div class="media">
        <div class="media-left">
          <div class="img-box" style="width: 100px;">
            <img draggable="false" class="img-box-item" src="../assets/images/banner.jpg" alt="">
          </div>
        </div>
        <div class="media-body">
          <div>Uploading to Photo</div>
          <p class="h3 m0 text-normal">3 of 8</p>
        </div>
      </div>
      <div class="row row-10">
        <div class="col-xs-12">
          <div class="img-box">
            <img draggable="false" class="img-box-item" src="../assets/images/banner.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="row row-10">
        <div class="col-xs-6">
          <div class="img-box">
            <img draggable="false" class="img-box-item" src="../assets/images/banner.jpg" alt="">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="img-box">
            <img draggable="false" class="img-box-item" src="../assets/images/banner.jpg" alt="">
          </div>
        </div>
      </div>
    </wth-modal-dock-body>
    <wth-modal-dock-footer [inline]="false">
      <button class="btn btn-text-link" type="button">STOP</button>
    </wth-modal-dock-footer>
  </wth-modal-dock>-->

</div>
