<bs-modal #modal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">{{title}}</h4>
  </bs-modal-header>
  <bs-modal-body *ngIf="files">
    <div class="alert alert-danger">
      <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
      <i class="fa fa-exclamation-triangle"></i> {{text}}
    </div>
    <div class="media" *ngFor="let file of files">
      <div class="media-left pl10" style="font-size: 30px">
        <i class={{file.icon}}></i>
      </div>
      <div class="media-body">
        <strong>{{ file.name }}</strong>
        <div class="text-fade">
          <ng-template [ngIf]="file.extension">Extension: {{ file.extension }}
            <br>
          </ng-template>
          Size: {{ file.size | bytes }}
          <div>
            Date Modified: {{ file.lastModified | timeFormat }}
          </div>
        </div>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="submit" class="btn btn-outline-primary btn-min" (click)="modal.close()">Ok</button>
  </bs-modal-footer>
</bs-modal>
