<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">General</h3>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><a [routerLink]="['/account']">Dashboard</a></li>
        <li class="list-group-item"><a [routerLink]="['/account/setting']">Account settings</a></li>
        <li class="list-group-item"><a [routerLink]="['/account/change_password']">Password Recovery</a></li>
    </ul>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">My Services</h3>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><a [routerLink]="['/account/dns']">DNS</a></li>
    </ul>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">My Add-ons</h3>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Emojies</a></li>
        <li class="list-group-item"><a href="#">Auto BCC</a></li>
        <li class="list-group-item"><a href="#">Custom Signature</a></li>
    </ul>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">Plans and Billing</h3>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><a [routerLink]="['/account/plans']">Plan details</a></li>
        <li class="list-group-item"><a [routerLink]="['/account/billing']">Billing details</a></li>
    </ul>
</div>