<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <h2>
        Have an account?
      </h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
        <div class="form-group" [ngClass]="{'has-error': (!email.valid && email.touched)}">
          <label class="sr-only" for="email">Email address</label>
          <input [formControl]="email" type="email" class="form-control" id="email" placeholder="Email">
          <div *ngIf="!email.valid && email.touched">
            <span *ngIf="!email.valid && email.errors.required" class="help-block">An email is required</span>
            <span *ngIf="!email.errors.required && email.errors.emailFormat"
                  class="help-block">Email is not valid</span>
          </div>

        </div>
        <div class="form-group" [ngClass]="{'has-error': (!password.valid && password.touched)}">
          <label class="sr-only" for="password">Password</label>
          <input [formControl]="password" type="password" class="form-control" id="password" placeholder="Password">
          <div *ngIf="!password.valid && password.touched">
            <span *ngIf="!password.valid && password.errors.required" class="help-block">A password is required</span>
          </div>

        </div>
        <div class="checkbox">
          <!--<label>-->
          <!--<input type="checkbox"> Remember me-->
          <!--</label>
          <span class="separator">·</span>-->
          <a class="forgot" [routerLink]="['/account/recovery/forgottenpassword']">Forgot account?</a>
        </div>
        <button [disabled]="!form.valid" type="submit" class="btn btn-block btn-danger">Sign in</button>
      </form>
      <hr>
      <h2>New to WTHApps?</h2>
      <a [routerLink]="['/signup']" class="btn btn-block btn-primary">Sign Up</a>
    </div>
  </div>
</div>
