<div class="box-panel">
  <h3 class="box-panel-title">Invitation</h3>

  <div class="box-panel-content">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#invitationPending" aria-controls="invitationPending" role="tab" data-toggle="tab">
          Pending <span *ngIf="invPending?.length > 0" class="text-muted">{{ invPending?.length }}</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#invitationAccepted" aria-controls="invitationAccepted" role="tab" data-toggle="tab">
          Accepted Invitation <span *ngIf="invAccepted?.length > 0" class="text-muted">{{ invAccepted?.length }}</span>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="invitationPending">
        <ng-container *ngIf="invPending;else templateLoading">
          <div class="form-group mt10">
            <invite-contact (invited)="doEvent($event)" class="pull-left mr5">
              <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-envelope"></i> Invite new members
              </button>
            </invite-contact>

            <button [disabled]="selectedPending.length == 0" (click)="onResend(selectedPending)" type="button"
                    class="btn btn-outline-default mr5">
              Resend
            </button>
            <button [disabled]="selectedPending.length == 0" (click)="onRemove(selectedPending)" type="button"
                    class="btn btn-outline-default">
              Remove
            </button>
          </div>
          <ng-container *ngIf="invPending.length > 0;else templatePendingNoData">
            <p-table tableStyleClass="table-middle" [columns]="cols" [value]="invPending"
                     [(selection)]="selectedPending"
                     dataKey="uuid">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th class="table-col-checkbox">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th *ngFor="let col of columns">
                    {{ col.header }}
                  </th>
                  <th class="table-invitation-col-action">&nbsp;</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td class="table-col-checkbox">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field  == 'created_at';else templateColNormal">
                      {{ rowData[col.field] | timeFormat}}
                    </ng-container>
                    <ng-template #templateColNormal>
                      {{ rowData[col.field]}}
                    </ng-template>
                  </td>
                  <td class="text-right">
                    <button (click)="onResend([rowData])" type="button" class="btn btn-outline-default mr5">
                      Resend
                    </button>
                    <button (click)="onRemove([rowData])" type="button" class="btn btn-outline-default">
                      Remove
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #templatePendingNoData>
            <p>There are no inviations.</p>
            <p>Click “Invite new members” to invite more friends to join WTH!Apps.</p>
          </ng-template>
        </ng-container>
        <ng-template #templateLoading>
          Loading...
        </ng-template>
      </div>
      <div role="tabpanel" class="tab-pane" id="invitationAccepted">
        <ng-container *ngIf="invAccepted;else templateLoadingAccepted">
          <div class="form-group mt10">
            <invite-contact (invited)="doEvent($event)" class="pull-left mr5">
              <button type="button" class="btn btn-outline-primary">
                <i class="fa fa-envelope"></i> Invite new members
              </button>
            </invite-contact>
            <button [disabled]="selectedAccepted.length == 0" (click)="onRemove(selectedAccepted)"
                    *ngIf="invAccepted.length > 0" type="button"
                    class="btn btn-outline-default">
              Remove
            </button>
          </div>
          <ng-container *ngIf="invAccepted.length > 0;else templateAcceptedNoData">
            <p-table tableStyleClass="table-middle" [columns]="cols" [value]="invAccepted"
                     [(selection)]="selectedAccepted"
                     dataKey="uuid">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th class="table-col-checkbox">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th *ngFor="let col of columns">
                    {{ col.header }}
                  </th>
                  <th class="table-invitation-col-action">&nbsp;</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td class="table-col-checkbox">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field  == 'created_at';else templateColNormal">
                      {{ rowData[col.field] | timeFormat}}
                    </ng-container>
                    <ng-template #templateColNormal>
                      {{ rowData[col.field]}}
                    </ng-template>
                  </td>
                  <td class="text-right">
                    <button (click)="onRemove([rowData])" type="button" class="btn btn-outline-default">
                      Remove
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #templateAcceptedNoData>
            There are no accepted inviations.
          </ng-template>
        </ng-container>
        <ng-template #templateLoadingAccepted>
          Loading...
        </ng-template>
      </div>
    </div>
  </div>
</div>
