<invitation-create-modal #modal (event)="doEvent($event)"></invitation-create-modal>

<!--<div class="col-sm-9">-->
<!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
<div class="box-panel">
  <h3 class="box-panel-title">
    Invitations
  </h3>

  <nav class="nav nav-tabs clearfix">
    <div class="pull-left btn-group hidden-md hidden-lg">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        {{ currentTabTitle?.name }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li [ngClass]="{'active': (currentTab == TAB?.PENDING?.value)}">
          <a [routerLink]="['./']" [queryParams]="{tab: TAB?.PENDING?.value}"> {{ TAB?.PENDING?.name }} {{ totalPending }}</a>
        </li>
        <li [ngClass]="{'active': (currentTab == TAB.ACCEPTED.value)}">
          <a [routerLink]="['./']" [queryParams]="{tab: TAB.ACCEPTED.value}"> {{ TAB.ACCEPTED.name }} {{ totalAccepted }}</a>
        </li>
      </ul>
    </div>

    <ul class="nav nav-tabs pull-left list-unstyled clearfix visible-md-block visible-lg-block">
      <li [ngClass]="{'active': (currentTab == TAB.PENDING.value)}">
        <a [routerLink]="['./']" [queryParams]="{tab: TAB.PENDING.value}"> {{ TAB.PENDING.name }} {{ totalPending }}</a>
      </li>
      <li [ngClass]="{'active': (currentTab == TAB.ACCEPTED.value)}">
        <a [routerLink]="['./']" [queryParams]="{tab: TAB.ACCEPTED.value}"> {{ TAB.ACCEPTED.name }} {{ totalAccepted }}</a>
      </li>
    </ul>
  </nav>
  <div id="loading"></div>
  <div class="box-panel-subtitle">
      <!-- <a class="btn btn-outline-primary btn-min" (click)="addRecipients(modal)">
        <i class="fa fa-envelope-open-o"></i> Invite new members
      </a> -->
    <button class="btn btn-outline-secondary"><invite-contact (invited)="doEvent($event)"></invite-contact></button>
    <button class="btn btn-outline-secondary" *ngIf="currentTab == TAB.PENDING.value"
            (click)="onResend()" [disabled]="selectedItems.length === 0"><i class="fa fa-envelope-open-o" aria-hidden="true" ></i> Resend</button>
    <button class="btn btn-outline-secondary"
            (click)="onRemove()" [disabled]="selectedItems.length === 0"><i class="fa fa-trash" aria-hidden="true" ></i> Remove</button>
  </div>
  <br/>



  <table class="table table-striped table-middle">
    <thead>
    <tr>
      <th>
        <div>
          <p-checkbox [(ngModel)]="isSelectAll" binary="true" (onChange)="onSelectAll()"></p-checkbox>
        </div>
      </th>
      <th class="email">Email</th>
      <th class="date">{{ (currentTab == TAB.PENDING.value) ? 'Sent date' : 'Accepted date'}}</th>
      <!--<ng-container *ngIf="currentTab == TAB.PENDING.value; else accepted_title">-->
        <!--<th>Sent date</th>-->
        <!--&lt;!&ndash;<th>Number of sent</th>&ndash;&gt;-->
      <!--</ng-container>-->
      <th class="action">Action</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <th>
        <div>
          <!-- <p-checkbox value="" label=""
                      [(ngModel)]="item.selected" (onChange)="onSelect(item)"></p-checkbox> -->
          <p-checkbox value="" label=""
                      [(ngModel)]="item.selected" binary="true" (onChange)="onSelect(item)"></p-checkbox>
        </div>
      </th>
      <td><a rel="nofollow" target="_top"
             href="mailto:{{ item?.recipient_email }}">{{ item?.recipient_email }}</a></td>
        <td *ngIf="currentTab === TAB.PENDING.value">{{ item?.created_at | date:'y MMM d' }} {{ item?.created_at | date:'H:mm:ss' }}</td>
        <td *ngIf="currentTab === TAB.ACCEPTED.value">{{ item?.accepted_at | date: 'y MMM d' }} {{ item?.accepted_at | date:'H:mm:ss' }}</td>
      <td>
        <div>
          <button *ngIf="currentTab == TAB.PENDING.value" class="btn btn-outline-secondary"
                  (click)="onResend(item)"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Resend</button>
          <button class="btn btn-outline-secondary"
                  (click)="onRemove(item)"><i class="fa fa-trash" aria-hidden="true"></i> Remove</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<ng-template #accepted_title>
  <th>Accepted date</th>
</ng-template>
