<div *ngIf="showNavSearch" class="nav-tabs-wrap nav-tabs-wrap-search">
  <ul class="nav nav-tabs" role="tablist">
    <li [routerLink]="['/search/all']"
        [queryParams]="{q:params}"
        [ngClass]="{'active': (term === 'all')}">
      <a href="javascript:;">All</a>
    </li>
    <li [routerLink]="['/search/members']"
        [queryParams]="{q:params}"
        [ngClass]="{'active': (term === 'members')}">
      <a href="javascript:;">Members</a>
    </li>
    <li [routerLink]="['/search/communities']"
        [queryParams]="{q:params}"
        [ngClass]="{'active': (term === 'communities')}">
      <a href="javascript:;">Communities</a>
    </li>
    <li [routerLink]="['/search/posts']"
        [queryParams]="{q:params}"
        [ngClass]="{'active': (term === 'posts')}">
      <a href="javascript:;">Posts</a>
    </li>
  </ul>
</div>

<div class="page-body-content gray-light page-body-content-search"
  lockYOffset="10"
  observeAttributes="true"
  infinite-scroll
  [scrollWindow]="false"
  (scrolled)="onLoadMore()">
  <div class="page-body-content-in zone-social">
    <div class="zone-social-in">
      <div class="panel panel-default" *ngIf="result;else loadingBlock">
        <div class="panel-heading">
          <h3 class="panel-title">{{ group | titleCase }}</h3>
        </div>

        <z-social-share-profile-list *ngIf="group=='members' || group=='communities'"
                                     [data]="result" [type]="group"></z-social-share-profile-list>

        <so-post-list *ngIf="group == 'posts'" #posts
                      [items]="result"
                      [type]="'search'">
        </so-post-list>

        <div class="panel-body" *ngIf="result.length == 0">
          <h3 class="text-fade m0">
            There is no result
          </h3>
        </div>

      </div>

      <ng-template #loadingBlock>
        <box-loading></box-loading>
      </ng-template>
    </div>
    <div *ngIf="group == 'posts'" class="zone-social-sidebar">
      <z-social-post-by></z-social-post-by>
      <z-social-post-date></z-social-post-date>
    </div>
  </div>
</div>


<div class="zone-social-in" *ngIf="result && groups">
  <div class="panel panel-default" *ngFor="let group of groups">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a class="link-text"
           [routerLink]="['/search', group=='members'?'member':group=='communities'?'communities':'posts']"
           [queryParams]="{q:params}">
          {{ group | titleCase }}
        </a>
      </h3>
    </div>
    <div class="panel-body" *ngIf="result[group] && result[group].length == 0">
      <h3 class="text-fade">
        There is no result
      </h3>
    </div>

    <z-social-share-profile-list *ngIf="group=='members' || group=='communities'"
                                 [data]="result[group]"
                                 [user="authService | async"
                                 [type]="group">
    </z-social-share-profile-list>

    <so-post-list *ngIf="group == 'posts'" #posts
                  [items]="result[group]"
                  [type]="'search'"
                  [showComments]="false">
    </so-post-list>

    <div *ngIf="group == 'posts' && show_more_posts" class="panel-footer">
      <a [routerLink]="[show_more_posts.link]" [queryParams]="{q:params}">{{ show_more_posts.text }}</a>
    </div>
    <div *ngIf="group == 'communities' && show_more_communities" class="panel-footer">
      <a [routerLink]="[show_more_communities.link]" [queryParams]="{q:params}">{{ show_more_communities.text }}</a>
    </div>
    <div *ngIf="group == 'members' && show_more_members" class="panel-footer">
      <a [routerLink]="[show_more_members.link]" [queryParams]="{q:params}">{{ show_more_members.text }}</a>
    </div>
  </div>

</div>
