<div *ngIf="showNavSearch" class="nav-tabs-wrap nav-tabs-wrap-search">
  <ul class="nav nav-tabs" role="tablist">
    <li [ngClass]="{'active': (term === 'all')}">
      <a [routerLink]="['/search/all', {q:params}]" [queryParams]="{q:params}">All</a>
    </li>
    <li [ngClass]="{'active': (term === 'members')}">
      <a [routerLink]="['/search/members', {q:params}]" [queryParams]="{q:params}">Members</a>
    </li>
    <li [ngClass]="{'active': (term === 'communities')}">
      <a [routerLink]="['/search/communities', {q:params}]" [queryParams]="{q:params}">Communities</a>
    </li>
    <li class="hidden-xs" [ngClass]="{'active': (term === 'posts')}">
      <a [routerLink]="['/search/posts', {q:params}]" [queryParams]="{q:params}">Posts</a>
    </li>
    <li class="visible-xs-inline-block">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a [routerLink]="['/search/posts', {q:params}]" [queryParams]="{q:params}">Posts</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>


<div class="page-body-content gray-light page-body-content-search" lockYOffset="10" observeAttributes="true"
  infinite-scroll [scrollWindow]="true" (scrolled)="onLoadMore()">
  <div class="page-body-content-in zone-social">
    <div class="zone-social-in" *ngIf="!loading; else loadingBlock;">
      <div class="panel panel-default" *ngIf="result;else noDataBlock">
        <div class="panel-heading">
          <h3 class="panel-title">{{ group | titleCase }}</h3>
        </div>

        <z-social-share-profile-list *ngIf="group=='members' || group=='communities'" [data]="result" [type]="group"></z-social-share-profile-list>

        <so-post-list *ngIf="group == 'posts'" #posts [posts]="result" [type]="'search'">
        </so-post-list>

        <div class="panel-body" *ngIf="result.length == 0">
          <h3 class="text-fade m0">
            There is no result
          </h3>
        </div>

      </div>

    </div>
    <div *ngIf="group == 'posts'" class="zone-social-sidebar">
      <z-social-post-by (filterEvent)="onFilter($event)"></z-social-post-by>
      <z-social-post-date (filterEvent)="onFilter($event)"></z-social-post-date>
    </div>
  </div>
</div>


<ng-template #loadingBlock>
  <div class="zone-social-in">
    <box-loading></box-loading>
  </div>
</ng-template>
<ng-template #noDataBlock>
  <div class="panel-body">
    <h3 class="text-fade m0">
      There is no result
    </h3>
  </div>
</ng-template>