@import '../../../shared/scss/global';

:host {
  display: block;
  li > a {
    display: block;
    padding: 8px 15px;
    font-weight: bold;
    &.sub-item {
      padding-left: 25px;
    }
  }
}

.well-folder-tree-left-wrap {
  .well-folder-tree {
    width: 100%;
  }
  &, &:hover {
    background-color: transparent;
  }
}

a {
  text-transform: capitalize;
}

.menuleft-header-nav {
  @include flexbox;
  @include justify-content(left);
  a {
    padding: 8px 15px;
    color: inherit;
    display: inline-block;
    text-decoration: none;
  }
}

.parent-item, .parent-item a:hover {
  cursor: default;
}
.sub-item {
  padding-left: 10px;
}
.show {
  display: inherit;
}
