<div class="page-body-control-nav ">
  <!-- <ul class="page-body-control-menu">
    <li>
      <button type="button" class="btn btn-default mr10" [routerLink]="['/contacts']" pTooltip="{{ tooltip.back }}" tooltipPosition="top">
        <i class="fa fa-arrow-left"></i>
      </button>
    </li>
</ul> -->
<w-nav-tab [tabs]="tabs" [setTabActive]="currentTab" (currentTab)="search($event)"></w-nav-tab>
  <!-- <div class="nav-tabs-wrap pull-left">
    <ul class="nav nav-tabs list-unstyled">
      <li [ngClass]="{'active': activeTabs?.mine}">
        <a type="button" class="btn btn-outline-default" (click)="search($event, 'mine')">
          My Contacts </a>
      </li>
      <li [ngClass]="{'active': activeTabs?.others}">
        <a type="button" class="btn btn-outline-primary" (click)="search($event, 'others')">
          Other Contacts </a>
      </li>
      <li [ngClass]="{'active': activeTabs?.wth}">
        <a type="button" class="btn btn-outline-default" (click)="search($event, 'wth')">
          WTH!Apps
          <i class="fa fa-info-circle" [pTooltip]="tooltip?.wthContacts" tooltipPosition="bottom"></i> </a>
      </li>
    </ul>
  </div> -->

</div>

<ng-content></ng-content>
