@import '../../../shared/scss/global';

:host {
  display: block;
  & /deep/ {
    .btn-text {
      line-height: 1.7;
      color: #9b9b9b;
      font-weight: normal;
    }
  }
}

.select-all-cb {
  background-color: #F2F2F2;
  i {
    border: 1px solid #4a4a4a;
    border-radius: 2px;
    cursor: pointer;
    color: #ffffff;
  }
  &.active {
    i {
      background-color: $theme-color;
      border-color: $theme-color;
      color: white;
      opacity: 1;
    }
  }
}