<div class="page-body-control-nav">
  <ul class="page-body-control-menu" *ngIf="hasBack">
    <li>
      <button type="button" class="btn btn-default mr10" pTooltip="{{ tooltip.back }}" tooltipPosition="top"
              (click)="back()">
        <i class="fa fa-arrow-left"></i>
      </button>
    </li>
  </ul>
  <!-- <ul class="page-body-control-menu" *ngIf="pageTitle!=''">
    <li>
      <h4 *ngIf="contactService.selectedObjects.length == 0;else templateShowSelected">{{ pageTitle }}
        <button *ngIf="pageTitle==='Other contacts'" class="btn btn-default"
                [pTooltip]="otherContactsInfo"
                tooltipPosition="bottom">
          <i class="fa fa-info-circle"></i>
        </button>
      </h4>
      <ng-template #templateShowSelected>
<div class="select-all-cb" [ngClass]="{'active': (contactService?.isSelectAll$ | async)}">
          <i (click)="onClearSelected()" class="fa fa-check"></i>
        </div>
        <span class="btn btn-text">{{ contactService.selectedObjects.length }} selected</span>
      </ng-template>
    </li>
  </ul> -->

  <div *ngIf="pageTitle!=''">
    <h4 *ngIf="contactService.selectedObjects.length == 0;else templateShowSelected">{{ pageTitle }}
<button *ngIf="pageTitle===OTHER_CONTACTS" class="btn btn-default" [pTooltip]="otherContactsInfo" tooltipPosition="bottom">
        <i class="fa fa-info-circle"></i>
      </button>
    </h4>

    <ng-template #templateShowSelected>
      <!-- <button (click)="onClearSelected()" type="button" class="btn"><i class="fa fa-times"></i></button> -->
      <div class="select-all-cb" [ngClass]="{'active': (contactService?.isSelectAll$ | async)}">
        <i (click)="toggleSelectAll()" class="fa fa-check"></i>
        <span class="btn btn-text">{{ contactService?.selectedObjects?.length }} selected</span>
      </div>
    </ng-template>
  </div>

</div>

<ng-content></ng-content>
