<div class="page-body-control-nav">
  <ul class="page-body-control-menu" *ngIf="hasBack">
    <li>
      <button type="button" class="btn btn-default mr10" pTooltip="{{ tooltip.back }}" tooltipPosition="top" (click)="back()">
        <i class="fa fa-arrow-left"></i>
      </button>
    </li>
  </ul>

  <div *ngIf="pageTitle!='' && contactService.selectedObjects.length == 0;else templateShowSelected" class="inline-block">
    <h4>{{ pageTitle | titleCase }}
      <button *ngIf="pageTitle===OTHER_CONTACTS" class="btn btn-default" [pTooltip]="otherContactsInfo" tooltipPosition="bottom">
        <i class="fa fa-info-circle"></i>
      </button>
      <!--<button *ngIf="pageTitle===PROFILE" class="btn btn-default" [pTooltip]="PROFILE_TOOLTIP" tooltipPosition="bottom">-->
        <!--<i class="fa fa-info-circle text-fade"></i>-->
      <!--</button>-->
    </h4>

  </div>

</div>

<ng-content></ng-content>

<ng-template #templateShowSelected>
  <div class="select-all-div">
    <span class="deselect-all" (click)="deselectAll()">
      <i class="fa fa-close"></i>
    </span>
    <div class="select-all-cb" [ngClass]="{'active': (contactService?.isSelectAll$ | async)}">
      <i (click)="toggleSelectAll()" class="fa fa-check"></i>
      <span class="btn btn-text pl10 pr0">{{ contactService?.selectedObjects?.length }} selected</span>
    </div>
  </div>
</ng-template>
