<div class="btn-group header-nav-notification visible-xs-inline-block">
  <button (click)="viewAllNotifications()" type="button" class="btn btn-default dropdown-toggle"
          pTooltip="{{ tooltip.notifications }}" tooltipPosition="bottom">
    <i class="fa fa-comments-o"></i>
    <span *ngIf="notificationCount" class="notification-num">
      {{notificationCount}}
    </span>
  </button>
</div>

<div class="btn-group header-nav-notification hidden-xs" id="chat-header-notification">
  <button (click)="toggleViewNotifications()" type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          pTooltip="{{ tooltip.notifications }}" tooltipPosition="bottom">
    <i class="fa fa-comments-o"></i>
    <span *ngIf="notificationCount" class="notification-num">
      {{notificationCount}}
    </span>
  </button>
  <div class="nav-notification-list dropdown-menu dropdown-menu-right" (click)="hideActionsMenu($event)">
    <div class="nav-notification-list-header">
      <nav class="nav-tabs-wrap p10 clearfix">
        <div class="pull-right">
          <a href="javascript:void" (click)="markAllAsRead()"> Mark all as read </a>
        </div>
      </nav>
    </div>
    <div class="nav-notification-list-content"
         lockYOffset="30"
         observeAttributes="true"
         infinite-scroll
         [scrollWindow]="false"
         (scrolled)="getMore()">

      <div class="notification-list notification-list-xs">
        <div *ngFor="let conversation of conversations" class="noti-item can-click" [ngClass]="conversation.group_user.notification_count > 0 ? 'conversation_active' : ''">
          <div class="noti-item-avatar">
            <img *ngIf="conversation.group_type != 'multiple'" class="avatar-xs" [src]="conversation.group_user.display.image" alt="">
            <img *ngIf="conversation.group_type == 'multiple'" class="avatar-xs" [src]="conversation.image" alt="">
          </div>
          <div class="noti-item-content" (click)="navigate(conversation)">
            <div>
              <span *ngIf="conversation.group_type != 'multiple'" class="bold">{{conversation.group_user.display.name}}</span>
              <span *ngIf="conversation.group_type == 'multiple'" class="bold">{{(conversation.name || conversation.users_name) | maxLength:30}}</span>
              <br>
              <span *ngIf="conversation.message" class="pt5 message">
                <span *ngIf="conversation.message.message_type == 'text'" [innerHtml]="conversation.message.message | wthEmojis | linkify | stripHtml | safeHtml"></span>
                <span *ngIf="conversation.message.message_type == 'request'"> Sent a request </span>
                <span *ngIf="conversation.message.message_type == 'file'"> Sent a file </span>
              </span>
              <br>
              <small *ngIf="conversation.message" class="text-fade"> {{conversation.message.created_at | timeFormat}} </small>
            </div>
          </div>
          <div class="noti-item-action">

              <div class="dropdown-submenu">
                <button type="button" class="btn btn-default dropdown-toggle"
                        pTooltip="{{ tooltip.moreActions }}" tooltipPosition="bottom" (click)="subToggle($event)">
                  <i class="fa fa-ellipsis-v" style="pointer-events: none"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="width: auto !important; top: 22px">
                  <li>
                    <a href="javascript:void" (click)="markAsRead(conversation); parentHide($event);">Mark as read</a>
                  </li>
                  <li>
                    <a href="javascript:void" (click)="updateNotification(conversation); parentHide($event);"> Disable notification</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-notification-list-footer">
      <a href="javascript:;" (click)="viewAllNotifications()"> Go to WTH!Chat </a>
    </div>
  </div>
</div>
