<div class="btn-group header-nav-notification visible-xs-inline-block">
  <button (click)="gotoChat()" type="button" class="btn btn-default dropdown-toggle"
          pTooltip="{{ tooltip.notifications }}" tooltipPosition="bottom">
    <i class="fa fa-comments-o"></i>
    <span *ngIf="notificationCount > 0" class="notification-num">
      {{notificationCount | maxCount: 10}}
    </span>
  </button>
</div>

<div class="btn-group header-nav-notification hidden-xs" id="chat-header-notification">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" pTooltip="{{ tooltip.chat }}" tooltipPosition="bottom"
          (click)="toggleViewNotifications()" >
    <i class="fa fa-comments-o"></i>
    <span *ngIf="notificationCount > 0" class="notification-num">
      {{notificationCount | maxCount: 10}}
    </span>
  </button>
  <div class="nav-notification-list dropdown-menu dropdown-menu-right" (click)="hideActionsMenu($event)">
    <div class="nav-notification-list-header">
      <nav class="nav-tabs-wrap p10 clearfix">
        <div class="pull-right">
          <a href="javascript:void(0)" (click)="markAllAsRead()"> Mark all as read </a>
        </div>
      </nav>
    </div>
    <div class="nav-notification-list-content" lockYOffset="30" observeAttributes="true" infinite-scroll
         [scrollWindow]="false"
         (scrolled)="getMore()">

      <div class="notification-list notification-list-xs">
        <div *ngFor="let conversation of conversations$|async" class="noti-item can-click"
             [ngClass]="conversation?.notification_count > 0 ? 'conversation_active' : ''">
          <div class="noti-item-avatar">
            <!-- <img *ngIf="conversation.group_type != 'multiple'" class="avatar-xs" [src]="conversation?.display?.image"
                 alt="">
            <img *ngIf="conversation.group_type == 'multiple'" class="avatar-xs" [src]="conversation?.group?.profile_image"
                 alt=""> -->
            <img class="avatar-xs" [src]="conversation?.profile_image" alt="">
          </div>
          <div class="noti-item-content" (click)="navigate(conversation)">
            <div>
              <span class="bold">{{ conversation?.name | maxLength:30 }}</span>
              <br>
              <span class="pt5 message emojione-sm">
                <ng-container *ngIf="conversation?.latest_message?.message_type == 'text'">
                  <span [innerHtml]="conversation?.latest_message?.message | wth2Emojis:(emojiMap$ | async) | linkify | safeHtml"></span>
                </ng-container>
                <ng-container *ngIf="conversation?.latest_message?.message_type == 'request'">
                  <span> Sent a request </span>
                </ng-container>
                <ng-container *ngIf="conversation?.latest_message?.message_type == 'file'">
                  <span> Sent a file </span>
                </ng-container>
              </span>
              <br>
              <!--<small class="text-fade"> {{ conversation?.latest_message?.created_at | timeFormat }}-->
              <!--</small>-->
            </div>
          </div>
          <div class="noti-item-action">
            <div class="dropdown-submenu">
              <button type="button" class="btn btn-default dropdown-toggle" pTooltip="{{ tooltip.moreActions }}"
                      tooltipPosition="bottom"
                      (click)="subToggle($event)">
                <i class="fa fa-ellipsis-v" style="pointer-events: none"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" style="width: auto !important; top: 22px">
                <li>
                  <a href="javascript:;" (click)="markAsRead(conversation); parentHide($event);">Mark as read</a>
                </li>
                <li>
                  <a href="javascript:void(0);" (click)="updateNotification(conversation); parentHide($event);">
                    {{ conversation?.notification ? 'Disable notification' : 'Enable notification'}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-notification-list-footer">
      <a href="javascript:;" (click)="gotoChat();"> Go to WTH!Chat </a>
    </div>
  </div>
</div>
