<div class="table-responsive">
  <table id="tablePlan" class="table table-bordered table-middle table-plan">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>
        <div class="table-plan-title">
          <h3>BASIC</h3>
        </div>
        <div class="table-plan-title-content">
          <p>Free</p>
          <small>&nbsp;</small>
          <button class="btn btn-default btn-min">Sign up</button>
        </div>
      </th>
      <th>
        <div class="table-plan-title">
          <h3>STANDARD</h3>
        </div>
        <div class="table-plan-title-content">
          <p>$2.99</p>
          <small>per month*</small>
          <button class="btn btn-default btn-min">Sign up</button>
        </div>
      </th>
      <th>
        <div class="table-plan-title">
          <h3>PRO</h3>
        </div>
        <div class="table-plan-title-content">
          <p>$9.99</p>
          <small>&nbsp;</small>
          <button class="btn btn-default btn-min">Sign up</button>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-plan-sub">
      <td class="text-left">WTHZone - Social Media App</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Picture</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Chat</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Emojis</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Contact Book</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Calendar</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Super-Bookmarks</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">No Ads!</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">100% Privacy (or Share)</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Group</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Networking</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Business</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Jobs</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-subin">
      <td class="text-left">Dating</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-sub">
      <td class="text-left">DNS Service</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-sub">
      <td class="text-left">ToDo List</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-sub">
      <td class="text-left">Notes Organizer</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-sub">
      <td class="text-left">Outlook Addons</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-sub">
      <td class="text-left">eFax</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr class="table-plan-sub">
      <td class="text-left">Chart</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><span><i class="fa fa-check-circle"></i></span></td>
    </tr>
    <tr>
      <td class="text-left">More Coming Soon</td>
      <td>
        <button class="btn btn-default btn-min">Sign up</button>
      </td>
      <td>
        <button class="btn btn-default btn-min">Sign up</button>
      </td>
      <td>
        <button class="btn btn-default btn-min">Sign up</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p>*Monthly fee will be charged automatically <br>
  **After one month trial, without any upgrade, your account will be set as basic account.</p>
<p>If you have any questions that come in mind, please check our <a [routerLink]="['/policies/terms']">Term of
  Service</a> or <a [routerLink]="['/contact']">drop us a message</a></p>
