@import '../../assets/styles/global';

$nav-tabs-wrap-search-h: 60px;
.nav-tabs-wrap-search {
  background-color: #ffffff;
  @media (min-width: $screen-sm-min) {
    padding: 15px 0 0 45px;
    position: relative;
    z-index: 100;
    height: $nav-tabs-wrap-search-h;
  }
  @include box-shadow($box-shadow-bottom);
  .nav-tabs {
    a {
      height: 45px;
    }
  }
  .nav-tabs:not(.active) {
    //> li:first-child {
    //  > a:after {
    //    content: "";
    //    position: absolute;
    //    left: 0;
    //    right: 0;
    //    bottom: 0px;
    //    color: #000000;
    //    font-weight: bold;
    //    background-color: #f54a59;
    //    height: 3px;
    //  }
    //}
  }
  @media (max-width: $screen-xs-max) {
    &.nav-tabs-wrap .nav-tabs {
      @include flexbox;
      > li {
        @include flex(1 1 auto);
        text-align: center;
        > a {
          height: auto;
        }
        > a, .btn-group {
          padding: 10px;
        }
      }
    }
  }
}

.main-page-body .page-body-content {
  &.page-body-content-search {
    top: $nav-tabs-wrap-search-h;

    #post-list-component {
      .panel {
        border-width: 0;
        position: relative;
        &:after {
          position: absolute;
          left: 15px;
          right: 15px;
          bottom: 0;
          height: 1px;
          content: '';
          background-color: #ddd;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
