<div *ngIf="data">
  <div class="field-group-title">
    <h3 class="pull-left">Email</h3>
    <div class="pull-right">
      <button *ngIf="editable" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
  </div>
  <div class="field-group-content">
    <dl class="dl-horizontal" *ngIf="data.emails.length > 0">
      <template ngFor let-item [ngForOf]="data.emails" let-i="index" [ngForTrackBy]="trackByFn">
        <dt>{{item.category | keyToValue:emailType:'category':'name'}}</dt>

        <dd><p><a class="link-text" href="mailto:{{item.value}}">{{item.value}}</a></p></dd>
      </template>
    </dl>


    <div *ngIf="data.emails.length == 0 && editable">
      <p class="text-fade">
        Tell us more about your email
      </p>
      <button type="button" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-plus"></i> Add detail
      </button>
    </div>

  </div>
</div>

<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title"><i class="fa fa-pencil"></i> Email</h4>
    </modal-header>
    <modal-body>
      <div formArrayName="emails">
        <div *ngFor="let add_email of getFormControls(); let i=index" class="media mt0">
          <div *ngIf="add_email" class="media-body" [formGroupName]="i">
            <div class="row row-10">
              <div class="col-sm-4">
                <div class="form-group no-label" [ngClass]="{
                  'has-error': (!add_email['controls'].category.valid
                  && add_email['controls'].category.touched),
                  'has-success': (add_email['controls'].category.valid
                  && add_email['controls'].category.touched
                  && form.value.emails[i].category.length > 1)}">
                  <select class="form-control" name="name" formControlName="category">
                    <option value=""> -- Select One --</option>
                    <option *ngFor="let et of emailType" value="{{et.category}}">{{et.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group no-label" [ngClass]="{
                  'has-error': (!add_email['controls'].value.valid
                  && add_email['controls'].value.touched),
                  'has-success': (add_email['controls'].value.valid
                  && add_email['controls'].value.touched
                  && form.value.emails[i].value.length > 1)}">
                  <input type="text" class="form-control" formControlName="value" placeholder="">
                  <div
                    *ngIf="!add_email['controls'].value.valid && add_email['controls'].value.touched">
                    <span
                      *ngIf="!add_email['controls'].value.valid && add_email['controls'].value.errors.emailFormat"
                      class="help-block text-danger">
                      Email is not valid
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <button type="button" class="btn btn-default" (click)="removeItem(i)">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addItem()">
        <i class="fa fa-plus"></i> Add more
      </button>
    </modal-body>
    <modal-footer>
      <button [disabled]="!form.valid" type="submit" class="btn btn-wth-default btn-min mr10"
              (click)="onSubmit(form.value)">Done
      </button>
      <button type="button" class="btn btn-default btn-min" (click)="modal.close()">Cancel</button>
    </modal-footer>
  </modal>
</form>
