<div class="btn-group">
  <button type="button" class="btn btn-default-inline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    <i class="fa fa-ellipsis-v"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a [routerLink]="['/contacts', data.id , {mode: 'view'}]"><i class="fa fa-info-circle"></i> View Contact</a></li>
    <li><a [routerLink]="['/contacts', data.id , {mode: 'edit'}]"><i class="fa fa-edit"></i> Edit Contact</a></li>
    <li><a href="javascript:;" (click)="doEvent({action: 'contact:contact:open_add_label_modal', payload: {selectedContact: data}})">
      <i class="fa fa-tags" ></i> Add Label</a></li>
    <li><a href="javascript:;" (click)="deleteContact(data)"><i class="fa fa-trash"></i> Delete</a></li>
  </ul>
</div>
