@import "../assets/styles/global";

.main-page-detail {
  .page-body-content {
    display: none;
    &.post-detail-page {
      display: block;
    }
  }
}

.main-page-body {
  .page-body-content {
    @include clearfix;
    .page-body-content-in {
      @include flexbox;
      @include align-items(flex-start);
      @media (min-width: $screen-sm-min) {
        padding-left: 45px;
        padding-right: 45px;
      }
      @media (max-width: $screen-xs-max) {
        padding: 15px 0;
        .panel-default {
          margin-bottom: 15px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border-left-width: 0;
          border-right-width: 0;
        }
      }
    }
    .zone-social-in {
      @include flex(1);
      @media (min-width: $screen-md-min) {
        margin-right: 45px;
        max-width: 720px;
      }
    }
    .zone-social-sidebar {
      float: right;
      width: 300px;
      @media (max-width: $screen-md-max) {
        width: 200px;
      }
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }
}
