<div class="wrapper">
  <w-header class="header" [user]="authService.user$ | async" [loggedIn]="authService.loggedIn$ | async">
    <social-shared-header class="header-nav-left"></social-shared-header>
  </w-header>
  <main class="main gray-light">
    <div class="main-page-left">
      <aside class="main-page-left-in aside-menu">
        <z-shared-menu>
          <z-social-left-menu></z-social-left-menu>
        </z-shared-menu>
      </aside>
    </div>
    <div class="main-page-body">
      <router-outlet></router-outlet>
      <router-outlet name="modal"></router-outlet>
      <router-outlet name="detail"></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <wth-confirm></wth-confirm>
  <!--<h-file-select></h-file-select>-->
  <h-file-select-crop [useNewPhotoSelect]="true"></h-file-select-crop>
  <w-media-selection></w-media-selection>
</div>
<wth-introduction #introduction
                    [after]="{social: true}"
                    [data]="[
  {
    title: 'Welcome to WTH!Social Media',
    icon: '../../assets/icons/social-50x50.png',
    content: 'WTH!Social Network allows you keep in touch with your friends and family.',
    content2: 'You can create posts and share them your friends and family without worry about ad or privacy.'
  }
  ]">
</wth-introduction>

<app-wth-emoji></app-wth-emoji>

