<div *ngIf="selectedConversation.status == 'sent_request'" class="message-item-content-request">
  <div class="media-avatar" *ngIf="selectedConversation && selectedConversation.display">
    <div class="media-avatar-img avatar-sm">
      <img [src]="selectedConversation.display.image" alt="">
    </div>
    <div class="media-avatar-body">
      <h4 class="media-avatar-heading">
        <a [routerLink]="['/profile', selectedConversation.display.uuid]" href="#">{{ selectedConversation.display.name }}</a>
      </h4>
      <p>Chat invitation is pending</p>
    </div>
  </div>
</div>

<div *ngIf="selectedConversation.status == 'pending'" class="message-item-content-request">
  <div class="media-avatar" *ngIf="message && message.display">
    <div class="media-avatar-img avatar-sm">
      <img [src]="message.display.image" alt="">
    </div>
    <div class="media-avatar-body">
      <h4 class="media-avatar-heading">
        <a [routerLink]="['/profile', selectedConversation.display.uuid]" href="#">{{ selectedConversation.display.name }}</a>
      </h4>
      <p>{{ selectedConversation.display.name }} sent you a chat invitation</p>
      <div>
        <button class="btn btn-outline-primary mr10" (click)="onAccept()">
          <i class="fa fa-check"></i> Accept
        </button>
        <button type="button" class="btn btn-outline-default" (click)="onDecline()">
          <i class="fa fa-times"></i> Decline
        </button>
      </div>
    </div>
  </div>
</div>
