@import "../../../assets/styles/global";

.note-display {
  background-color: #ffffff;
  border: 1px solid $line;
  max-height: 200px;
  overflow: hidden;
  width: 400px;
  a {
    color: inherit;
  }
}
