<ng-container *ngIf="contactItem && contactItem.value">
  <div #list *ngIf="contactItem.value.active"
       scrollToBottom [detectChange]="contactItem.value.group_id"
       class="message-wrapper"
       infiniteScrollDistance="1"
       infiniteScrollUpDistance="2"
       infiniteScroll
       [scrollWindow]="true"
       (scrolled)="scrollDown()"
       (scrolledUp)="onLoadMore()">
    <ng-container *ngIf="(item && item.value); else loadingBlock">
      <div class="message-item-wrapper">
        <div class="message-item-dv" *ngFor="let message of item.value.data; trackBy: message?.id">
          <message-item [message]="message" [prevMessage]="getPrevMessage(message)"
                        (onAddContact)="onAddContact($event)" (event)="doEvent($event)"></message-item>
        </div>
      </div>
    </ng-container>
    <ng-template class="message-item-wrapper" #loadingBlock>
      <box-loading class="message-item-dv"></box-loading>
    </ng-template>
  </div>
  <z-chat-share-item-request *ngIf="!contactItem.value.active" [message]="item.value.data"></z-chat-share-item-request>
</ng-container>
<z-chat-share-request-contact #request></z-chat-share-request-contact>
<lock-upload-modal></lock-upload-modal>
