<ng-container *ngIf="contactItem">
  <div #listEl
       scrollToBottom [detectChange]="contactItem.group_id"
       class="message-wrapper"
       infiniteScrollDistance="1"
       infiniteScrollUpDistance="2"
       infiniteScroll
       [scrollWindow]="false"
       (scrolled)="scrollDown()"
       (scrolledUp)="onLoadMore()">
    <ng-container *ngIf="(currentMessages); else loadingBlock">
      <div class="message-item-wrapper">
        <ng-container *ngIf="currentMessages?.length>0;else templateNodata">
          <div class="message-item-dv" *ngFor="let message of currentMessages; trackBy: message?.id">
            <message-item [message]="message"
                          [byMe]="currentUser?.id === message?.display?.id"
                          [prevMessage]="getPrevMessage(message)"
                          [contactItem]="contactItem"
                          [emojiMap]="emojiMap$ | async"
                          (onAddContact)="onAddContact($event)" (event)="doEvent($event)"></message-item>
          </div>
      </ng-container>
      </div>
      <ng-template #templateNodata>
        <box-no-data [title]="'Welcome to a new conversation'"
                     [subTitle]="'Let start sharing your messages'"></box-no-data>
      </ng-template>

    </ng-container>
    <ng-template class="message-item-wrapper" #loadingBlock>
      <box-loading class="message-item-dv"></box-loading>
    </ng-template>
  </div>
  <z-chat-share-item-request *ngIf="!contactItem.active" [message]="currentMessages"></z-chat-share-item-request>
</ng-container>
<z-chat-share-request-contact #request></z-chat-share-request-contact>
<lock-upload-modal></lock-upload-modal>
