<!-- Template message -->
<ng-container *ngIf="['text', 'file', 'share_contact_message', 'message_deleted'].includes(message.message_type)">
  <div class="message-item" [ngClass]="byMe ? 'message-item-right' : 'message-item-left'">
    <div class="message-item-date" *ngIf="message.showDate">
      <span>{{ message.created_at | timeFormat:'day' }}</span>
    </div>
    <div class="message-item-card">
      <div *ngIf="message.showInfo" class="message-item-owner">
        <h6 *ngIf="!byMe" class="message-item-owner-name">
          <a class="mr5" href="javascript:void(0)" (click)="viewProfile(message.user)"> {{ message?.user?.name | maxLength:50}} </a>
        </h6>
        <small class="message-item-owner-time text-fade">{{ message.created_at | timeFormat: "time_only" }}</small>
      </div>

      <div class="message-item-card-main">
        <div class="message-item-avatar">
          <figure *ngIf="!byMe && message.showInfo" class="message-item-avatar">
            <span class="avatar-xs">
              <img [src]="message.user?.profile_image" alt="">
            </span>
          </figure>
        </div>
        <div class="message-item-card-main-content">
          <div>
            <ng-container *ngTemplateOutlet="message.message_type == 'text' ? messageItemContentText : ''"></ng-container>
            <ng-container *ngTemplateOutlet="message.message_type == 'file' ? messageItemContentFile : ''"></ng-container>
            <ng-container *ngTemplateOutlet="message.message_type == 'share_contact_message' ? messageItemContentContact : ''"></ng-container>
            <ng-container *ngTemplateOutlet="message.message_type == 'message_deleted' ? messageItemContentText : ''"></ng-container>
          </div>
        </div>
        <div class="message-item-menu dropdown" *ngIf="byMe" style="padding: 5px !important">
          <!-- container template dynamic here -->
          <ng-container *ngTemplateOutlet="message.message_type == 'text' ? messageItemMenuText : ''"></ng-container>
          <ng-container *ngTemplateOutlet="message.message_type == 'file' ? messageItemMenuFile : ''"></ng-container>
          <ng-container *ngTemplateOutlet="message.message_type == 'share_contact_message' ? messageItemMenuContact : ''"></ng-container>
          <ng-container *ngTemplateOutlet="message.message_type == 'message_deleted' ? messageItemMenuText : ''"></ng-container>
        </div>
        <div class="message-item-card-main-notify">
          <i *ngIf="message.updated && !message.deleted" class="icon-edited fa fa-pencil text-fade"></i>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Text message -->
<ng-template #messageItemContentText>
  <ng-container *ngIf="!message.deleted">
    <ng-container *ngIf="message.status !== 'fail'" class="wapper message-item-content message-padding">
      <ng-container *ngIf="message.status == 'pending'">
        <i class="message-margin text-fade fa fa-spinner fa-spin fa-fw"></i>
        <div class="text-fade wapper message-item-content message-padding">
          <span [innerHtml]="message.message | wth2Emojis:emojiMap | linkify | safeHtml"></span>
        </div>
      </ng-container>
      <ng-container *ngIf="message.status !== 'pending'">
        <div class="wapper message-item-content message-padding">
          <span [innerHtml]="message.message | wth2Emojis:emojiMap | linkify | safeHtml"></span>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="message.status == 'fail'">
      <i class="fa fa-exclamation-triangle message-error message-padding"></i>
      <div class="wapper message-item-content message-padding text-fade">
        <span [innerHtml]="message.message | wth2Emojis:emojiMap | linkify | safeHtml"></span>
      </div>
    </ng-container>
    <!-- <i *ngIf="message.updated" class="icon-edited fa fa-pencil text-fade"></i> -->
    <div *ngFor="let link of message.links" style="clear: both">
      <div *ngIf="link.image && !message.deleted" class="message-padding">
        <display-link class="message-item-content-link" [data]="link" *ngIf="link.image"></display-link>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="message.deleted">
    <div class="wapper message-item-content message-padding">
      <i class="fa fa-trash-o"></i>&nbsp;
      <span>This message was deleted</span>
    </div>
  </ng-container>
</ng-template>
<ng-template #messageItemMenuText>
  <i class="fa fa-sort-down" data-toggle="dropdown" pTooltip="{{ tooltip.showActions }}" tooltipPosition="top"></i>
  <!--text message menu actions-->
  <ul class="dropdown-menu dropdown-menu-right" *ngIf="message.message_type == 'text'">
    <li *ngIf="!message.file">
      <!--<a href="javascript:;" (click)="copy()">Copy</a>-->
      <a href="javascript:void(0);" ngxClipboard [cbContent]="message?.message | htmlToPlaintext" (click)="copy()">Copy</a>
    </li>
    <!--comment out this menu because this function is not working now-->
    <li *ngIf="!message.file && byMe">
      <a href="javascript:void(0);" (click)="edit()">Edit</a>
    </li>
    <li *ngIf="!message.file && byMe">
      <a href="javascript:void(0);" (click)="delete()">Delete</a>
    </li>
  </ul>
</ng-template>

<!-- File message -->
<ng-template #messageItemContentFile>
  <!-- photo type-->
  <div class="wapper message-item-content-photo" *ngIf="message.file?.object_type == 'Media::Photo'">
    <figure>
      <a href="javascript:void(0);" (click)="preview(message)">
        <img [src]="message.file?.url" alt="">
      </a>
    </figure>
  </div>
  <!-- video type-->
  <div class="wapper message-item-content-photo" *ngIf="message.file?.object_type == 'Media::Video'">
    <figure>
      <div class="photo-box-figure-in can-click" (click)="preview(message)">
        <img [src]="message.file?.thumbnail_url" alt="">
        <i class="fa fa-play-circle-o"></i>
      </div>
    </figure>
  </div>
  <!-- file type-->
  <div class="wapper message-item-content message-item-content-other-files" *ngIf="message.file?.object_type == 'Common::GenericFile' && message.sending_status !== -1">
    <a class="media-div link-text" [href]="message.file?.url" target="_blank" download>
      <div class="pull-left">
        <i class="fa fa-file-archive-o"></i>
      </div>
      <div class="media-div-body">
        <div class="media-div-heading">{{ message.file?.full_name }}</div>
        <div class="text-fade">{{ message.file?.size | bytes:3 }}</div>
      </div>
    </a>
  </div>
  <!-- note type-->
  <div class="wapper message-item-content message-item-content-note" *ngIf="message.file_type == 'Note::Note'">
    <a class="d-block" [href]="noteUrl + '/notes/public/' + message?.uuid" target="_blank">
      <h5>
        <i class="icon-zone-note"></i> {{message.file?.name ? message.file?.name : 'Untitled'}}
      </h5>
      <div class="message-item-content-note-in" [innerHTML]="message?.file?.content | safeHtml"></div>
    </a>
  </div>

  <!--show sending -->
  <ng-container *ngIf="message.sending_status == 1" class="">
    <i class="fa fa-spinner fa-spin fa-fw message-margin"></i>
    <div class="wapper message-item-content message-item-content-files text-fade">
      <div>
        <div>{{message.message}}</div>
        <small>{{message.meta_data?.bytesTotal | bytes:0}}</small>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="message.sending_status == -1">
    <i class="fa fa-exclamation-triangle message-error message-padding"></i>
    <div class="wapper message-item-content message-item-content-files text-fade">
      <i class="fa fa-file-archive-o"></i>
      <div>
        <div>{{message.message}}</div>
        <small>{{message.meta_data?.bytesTotal | bytes:0}}</small>
      </div>
    </div>
  </ng-container>
  <!--cancel message type-->
  <ng-container *ngIf="message.sending_status == 2" class="">
    <div class="media-div link-text message-padding">
      <div class="pull-left">
        <i class="fa fa-file-archive-o"></i>
      </div>
      <div class="media-div-body">
        <span>Cancelled sending a file</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="message.sending_status == 3" class="">
    <div class="media-div link-text message-padding">
      <div class="pull-left">
        <i class="fa fa-file-archive-o"></i>
      </div>
      <div class="media-div-body">
        <span>{{ message.message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
<!-- File message menu-->
<ng-template #messageItemMenuFile>
  <i class="fa fa-sort-down" data-toggle="dropdown" pTooltip="{{ tooltip.showActions }}" tooltipPosition="top"></i>
  <!--photos menu actions-->
  <!--videos menu actions-->
  <ul class="dropdown-menu dropdown-menu-right" *ngIf="['file'].includes(message.message_type) ">
    <li *ngIf="message.file && message.message_type !== 'message_deleted'">
      <a href="javascript:void(0)" (click)="download()">
        Download
      </a>
    </li>
    <li *ngIf="byMe">
      <a href="javascript:void(0);" (click)="delete()">Delete</a>
    </li>
  </ul>
  <!--sending message menu-->
  <ul class="dropdown-menu dropdown-menu-right" *ngIf="message.sending_status == 1">
    <li>
      <a (click)="cancel()" target="_blank">
        Cancel
      </a>
    </li>
  </ul>
</ng-template>

<!--Share contact message-->
<ng-template #messageItemContentContact>
  <div class="wapper message-item-content message-padding message-item-content-contact-sharing">
    <div class="message-item-content-contact-sharing-info" >
      <span class="avatar-xs">
        <a href="javascript:void(0)" (click)="viewProfile(message.file)">
          <img [src]="message?.file?.profile_image" [alt]="message?.file?.name">
        </a>
      </span>
      <span class="message-item-content-contact-sharing">
        <a href="javascript:void(0)" (click)="viewProfile(message.file)"> {{ message?.file?.name }} </a>
      </span>
    </div>
    <div>
      <button type="button" class="btn btn-default"
              pTooltip="Chat" tooltipPosition="top" (click)="createChat(message.file)">
        <i class="fa fa-comments-o"></i></button>
    </div>
  </div>
</ng-template>
<!--Share contact menu-->
<ng-template #messageItemMenuContact>
  <i class="fa fa-sort-down" data-toggle="dropdown" pTooltip="{{ tooltip.showActions }}" tooltipPosition="top"></i>
  <!--text message menu actions-->
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="javascript:void(0);" (click)="delete()">Delete</a>
    </li>
  </ul>
</ng-template>

<div *ngIf="['notification', 'request'].includes(message.message_type)" class="text-center message-notification-padding">
  <div class="message-item" *ngIf="message.message_type === 'request'">
    <h4 class="text-fade"> This is the beginning of this conversation </h4>
    <ng-container *ngIf="message.message.indexOf('created this conversation') !== -1">
      <div class="message-item-date"><span> {{ message.created_at | timeFormat: 'day' }} </span></div>
    </ng-container>
  </div>
  <div class="message-notification-content" [innerHtml]="message | messageNotification : byMe"></div>
</div>
