.photo-box-figure-in i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  display: inline-block;
}
