<ng-container *ngIf="contactItem">
  <div #listEl scrollToBottom [detectChange]="contactItem.group_id" class="message-wrapper" infiniteScrollDistance="1" infiniteScrollUpDistance="2"
    infiniteScroll [scrollWindow]="false" (scrolled)="scrollDown()" (scrolledUp)="onLoadMore()">
    <ng-container *ngIf="(currentMessages); else loadingBlock">
      <div class="message-item-wrapper">
        <ng-container *ngIf="currentMessages?.length > 0 || contactItem.status == 'sent_request' || contactItem.status == 'pending'">
          <div class="message-item-dv" *ngFor="let message of currentMessages">
            <message-item [message]="message" [byMe]="currentUser.id == message.user_id" [prevMessage]="getPrevMessage(message)" [contactItem]="contactItem"
              [emojiMap]="emojiMap$ | async" (onAddContact)="onAddContact($event)" (event)="doEvent($event)"></message-item>
          </div>
        </ng-container>
      </div>
      <!-- <ng-template #templateNodata>
        <box-no-data [title]="'Welcome to a new conversation'" [subTitle]="'Let start sharing your messages'"></box-no-data>
      </ng-template> -->

    </ng-container>
    <ng-template class="message-item-wrapper" #loadingBlock>
      <box-loading class="message-item-dv"></box-loading>
    </ng-template>
  </div>
  <!-- <z-chat-share-item-request *ngIf="!contactItem.active && currentMessages && currentUser?.uuid !== currentMessages[0]?.display?.uuid" [message]="currentMessages"></z-chat-share-item-request> -->
</ng-container>
<z-chat-share-request-contact #request></z-chat-share-request-contact>
<lock-upload-modal></lock-upload-modal>
