<div class="page-body-control" *ngIf="actions">
  <div class="media media-middle media-user-list">
    <div *ngIf="profile" class="media-body">
      <h3 class="bold m0">{{ profile.name }}</h3>
    </div>
    <div class="media-right no-wrap">
      <button *ngIf="actions.send_message" class="btn btn-outline-default" type="button" (click)="onSelect(profile)">
        <i class="fa fa-comment"></i>
      </button>
      <button *ngIf="actions.favorite" type="button" class="btn btn-outline-default" (click)="onFavorite()">
        <!--<i class="fa fa-star-o"></i>-->
        <i class="fa" [ngClass]="contact.favourite? 'fa-star': 'fa-star-o'"></i>
      </button>
      <button *ngIf="actions.add_to_contact" type="button" class="btn btn-outline-primary" (click)="onRequest(profile)"
              pTooltip="{{ tooltip.addPeople }}" tooltipPosition="top">
        <i class="fa fa-user-plus"></i>
      </button>
      <z-chat-contact-actions *ngIf="contact && actions.list_actions" #chatContactActions [contact]="contact"></z-chat-contact-actions>
    </div>
  </div>
</div>

<div class="page-body-content has-page-body-control">
  <div class="page-body-content-in">
    <div *ngIf="profile" class="chat-profile">
      <div class="chat-profile-img">
        <span class="avatar-md">
          <img [src]="profile?.profile_image" alt="">
        </span>
      </div>

      <partials-profile-email [data]="profile" [editable]="actions.update"></partials-profile-email>
      <partials-profile-phone [data]="profile" [editable]="actions.update"></partials-profile-phone>
      <partials-profile-address [data]="profile" [editable]="actions.update"></partials-profile-address>
      <partials-profile-media [data]="profile" [editable]="actions.update"></partials-profile-media>
      <partials-profile-note [data]="profile" [editable]="actions.update"></partials-profile-note>

    </div>
  </div>
</div>
<z-chat-share-request-contact #request (onClose)="onClose()"></z-chat-share-request-contact>
