@mixin card() {
  position: relative;
  background: #FFFFFF;
  border: 2px solid #D7D7D7;
  @include box-shadow(0 2px 4px 0 rgba(164, 164, 164, 0.40));
}

@mixin box-content() {
  position: relative;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  padding: 15px;
  @include box-shadow(0 2px 4px 0 rgba(164, 164, 164, 0.40));
}

.card {
  @include card;
}

.box-content {
  @include box-content;
}
