.media-user-list {
  overflow: visible;

  a:not(.text-link) {
    color: inherit;
  }
  .media-body {
    overflow: visible;
  }
  .media-right {
    white-space: nowrap;
    position: relative;
    vertical-align: top;
  }

  &.media-middle,
  &.media-middle,
  &.media-user-list-middle {
    .media-left,
    .media-body,
    .media-right {
      vertical-align: middle;
    }
  }

  & + .media-user-list {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $line;
  }
  &.active {
    background: rgba(#ececec, 1);
  }
  &.media-user-list-hover {
    &:hover {
      background: rgba(#ececec, 0.5);
    }
  }
}

dl.media-user-list-group {
  dt {
    margin-bottom: 15px;
  }
}

.media-user-list-group {
  &.row {
    .media-user-list {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $line;
    }
  }
}

.media-user-row-group {
  &.row {
    .media-user-list {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $line;
    }
  }
}

.page-body-control {
  .media-user-list {
    overflow: visible;
    &:hover,
    &.active {
      background-color: transparent;
    }
  }
}

.user-row {
  @include flexbox;
  @include align-items(center);
  .avatar {
    margin-right: 10px;
    .img-circle {
      height: 34px;
      width: 34px;
      &.small {
        height: 24px;
        width: 24px;
      }
    }
  }
  .name {
    @include flex(1);
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  .action {
    margin-left: 10px;
  }
}

.text-color {
  color: $text-color;
}

.text-color-light {
  color: $text-color-light;
}
.text-normal {
  font-size: 14px;
}

.text-small {
  font-size: 12px;
}
