<div *ngIf="!(type === 'info')" class="z-social-post">
  <div class="z-social-post-content">
    <div class="z-social-post-txt">
      <read-more [limit]="100" [content]="item?.description | wth2Emojis: emojiMap | linkify">
      </read-more>
      <div *ngIf="item.links && item.links.length > 0">
        <div *ngIf="item.links[0].image && item.links[0].title" class="message-item-content-main" >
          <display-link [data]="item.links[0]"></display-link>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="item.photos.length>0" class="z-social-carousel">
    <ul class="{{ item.displayCss }}">
      <li *ngFor="let photo of item.photos;	let	i	=	index">
        <figure *ngIf="i < 5" (click)="onActions(actions.onShowPhotoDetail, photo)">
          <img class="img-full lazyload" [src]="photo.url" alt="">
        </figure>
        <figure *ngIf="i == 5 && item.remainPhotos == 0" (click)="onActions(actions.onShowPhotoDetail, photo)">
          <img class="img-full lazyload" [src]="photo.url" alt="">
        </figure>
        <a href="javascript:;" (click)="onActions(actions.onShowPhotoDetail, photo)"
           *ngIf="i == 5 && item.remainPhotos != 0">
                <span>
                  + {{ item.remainPhotos }}
                </span>
          <figure>
            <img class="img-full lazyload" [src]="photo.url" alt="">
          </figure>
        </a>
      </li>
    </ul>
  </div>
  <div class="z-social-post-tag">
    <!--<a *ngFor="let tag of item.tags">-->
    <a *ngFor="let tag of item.tags_json">
      {{ tag.value }}
    </a>
  </div>

  <!--original post or parent post-->
  <div *ngIf="!item.is_post">
    <hr/>
    <div class="form-group">
      Shared from <a href="javascript:;" (click)="onActions(actions.onShowPostDetail, parentItem.uuid)">{{ parentItem.owner.name }}</a>
    </div>
    <div class="z-social-post-content">
      <div class="z-social-post-txt">
        <read-more [limit]="120" [content]="parentItem.description | wth2Emojis: emojiMap | linkify">
        </read-more>
      </div>
      <div class="z-social-post-tag">
        <a *ngFor="let tag of parentItem.tags_json">
          {{ tag.value }}
        </a>
      </div>
    </div>

    <div *ngIf="parentItem.photos.length>0" class="z-social-carousel">
      <ul class="carousel-thumb-style-6">
          <li *ngFor="let photo of parentItem.photos;	let	i	=	index">
            <figure *ngIf="i < 5" (click)="onActions(actions.onShowPhotoDetail, {id: photo?.id, parentItem: originalParent})">
              <img class="img-full lazyload" [src]="DEFAULT_IMAGE" [attr.data-src]="photo.url" alt="">
            </figure>
            <figure *ngIf="i == 5 && parentItem.remainPhotos == 0" (click)="onActions(actions.onShowPhotoDetail, {id: photo?.id, parentItem: originalParent})">
              <img class="img-full lazyload" [src]="DEFAULT_IMAGE" [attr.data-src]="photo.url" alt="">
            </figure>
            <a href="javascript:;" (click)="onActions(actions.onShowPhotoDetail, {id: photo?.id, parentItem: originalParent})"
               *ngIf="i == 5 && parentItem.remainPhotos != 0">
                    <span>
                      + {{ parentItem.remainPhotos }}
                    </span>
              <figure>
                <img class="img-full lazyload" [src]="DEFAULT_IMAGE" [attr.data-src]="photo.url" alt="">
              </figure>
            </a>
          </li>
      </ul>
    </div>
  </div>

  <div class="z-social-post-action">
    <ul class="pull-left">
      <li>
        <i class="fa fa-thumbs-o-up" [ngClass]="{'active' : hasLike}"
           (click)="postItem.createReaction($event, 'like', 'post', item.uuid)"></i>
        <span class="can-click" *ngIf="item.likes.length>0" data-toggle="modal"
              (click)="onActions(actions.openLikeDislike, item.likes, 'like')">{{ item.likes.length }}</span>
        <span *ngIf="item.likes.length==0" href="javascript:;">{{ item.likes.length }}</span>
      </li>
      <li>
        <i class="fa fa-thumbs-o-down" [ngClass]="{'active' : hasDislike}"
           (click)="postItem.createReaction($event, 'dislike', 'post', item.uuid)"></i>
        <span class="can-click" *ngIf="item.dislikes.length>0" data-toggle="modal"
              (click)="onActions(actions.openLikeDislike, item.dislikes, 'dislike')">{{ item.dislikes.length }}</span>
        <span *ngIf="item.dislikes.length==0" href="javascript:;">{{ item.dislikes.length }}</span>
      </li>
      <li *ngIf="!item.disable_share">
        <i class="fa fa-share-alt" (click)="onActions(actions.openShare)"></i> {{ item.shared_count }}
      </li>

      <li>
        <i class="fa fa-comments" (click)="onActions(actions.toggleComments)"></i> {{ item.comment_count }}
      </li>
    </ul>

    <ul class="pull-right" *ngIf="item.shared_count > 0">
      <li>
        <a data-toggle="modal" href="javascript:;" (click)="onActions(actions.openActivities)">Share Activities</a>
      </li>
    </ul>

  </div>
</div>
