<div class="card can-click" (click)="onClick()">
  <div class="card-body">
    <div class="media-avatar align-items-center">
      <div class="media-avatar-img-wrap">
        <div class="media-avatar-img avatar-xs">
          <img *ngIf="card && card.profile_image" [src]="card?.profile_image" [alt]="card?.name">
        </div>
      </div>
      <div class="media-avatar-body">
        <ng-container *ngIf="(card && card.card_type === 'business') else profileCard">
          <p class="m0 text-bold text-fade card-name"> {{ card?.card_name }} </p>
          <span> {{ card?.name }} </span>
        </ng-container>
        <ng-template #profileCard>
          <p class="m0 text-bold text-fade" card-name>{{ card?.name}}</p>
          <span>&nbsp;</span>
        </ng-template>


      </div>
    </div>
  </div>
</div>
      
