<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <bs-modal-header [showDismiss]="false">
    <div class="modal-header-nav">
      <h4 *ngIf="card" class="modal-title">{{ card?.card_type === PUBLIC ? PUBLIC_PROFILE : card?.card_name }} </h4>
      <ul class="modal-header-navbar">
        <li *ngIf="card && card.is_owner">
          <button (click)="onEdit()" type="button" class="btn btn-default btn-default-no-border">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </li>
        <li *ngIf="card && card.is_owner && card.card_type === BUSINESS">
          <button (click)="onShare()" type="button" class="btn btn-default btn-default-no-border">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </button>
        </li>
        <li class="dropdown open">
          <button class="btn btn-default btn-default-no-border" type="button" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href="javascript:void(0);" (click)="onExport()"><i class="fa fa-cloud-download" aria-hidden="true"></i> Export to CSV</a>
            </li>
            <li *ngIf="card && card.is_owner && card.card_type === BUSINESS">
              <a href="javascript:void(0);" (click)="onDelete()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
            </li>
          </ul>
        </li>
        <li>
          <button type="button" (click)="modal.dismiss()" class="btn btn-default btn-default-no-border">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </bs-modal-header>

  <bs-modal-body>
    <div class="pcard-cover bg-gray-light">
      <div class="media-avatar align-items-center">
        <div class="media-avatar-img-wrap">
          <div class="media-avatar-img avatar-sm" (click)="onEdit(true)">
            <img *ngIf="card" [src]="card?.profile_image" [alt]="card?.name">
            <span *ngIf="card && card.is_owner" class="w-user-avatar-cover">
              <i class="fa fa-camera"></i>
            </span>
          </div>
        </div>
        <div class="media-avatar-body">
          <h4 class="m0"> {{ card?.name }} </h4>
          <span> {{ card?.occupation }} {{ card?.company }}</span>
        </div>
      </div>
    </div>
    <div class="pcard-info-list">
      <ng-container *ngIf="card && card.sex">
        <dl class="pcard-info">
          <dt>
            <button class="btn btn-default icon">
              <i class="fa fa-transgender"></i>
            </button>
            <label>Gender</label>
          </dt>
          <dd>
            <div> {{ SEX[card?.sex] || NONE }} </div>
          </dd>
        </dl>
      </ng-container>
      <ng-container *ngIf="card && card.birthday">
        <dl class="pcard-info">
          <dt>
            <button class="btn btn-default icon">
              <i class="fa fa-birthday-cake"></i>
            </button>
            <label>Birthday</label>
          </dt>
          <dd>
            <div> {{ (card?.birthday | timeFormat) || NONE }} </div>
          </dd>
        </dl>
      </ng-container>
      <ng-container *ngIf="card && card.nationality">
        <dl class="pcard-info">
          <dt>
            <button class="btn btn-default icon">
              <i class="fa fa-flag"></i>
            </button>
            <label>Nationality</label>
          </dt>
          <dd>
            <div> {{ (getCountry(card?.nationality) | async).name || NONE }} </div>
          </dd>
        </dl>
      </ng-container>
      <ng-container *ngIf="card && card.about">
        <dl class="pcard-info">
          <dt>
            <button class="btn btn-default icon">
              <i class="fa fa-sticky-note-o"></i>
            </button>
            <label>About</label>
          </dt>
          <dd>
            <div> {{ card?.about || NONE }} </div>
          </dd>
        </dl>
      </ng-container>

      <ng-container *ngIf="card && card.emails && card.emails.length > 0">
        <ng-template ngFor let-item [ngForOf]="card.emails" let-i="index" [ngForTrackBy]="trackByFn">
          <dl class="pcard-info">
            <dt>
              <button *ngIf="i===0" class="btn btn-default icon">
                <i class="fa fa-envelope-o"></i>
              </button>
              <label *ngIf="i===0"> Email </label>

            </dt>
            <dd><a [href]="'mailto:' + item.value">{{ item.value }}</a></dd>
          </dl>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="card && card.phones && card.phones.length > 0">
        <ng-template ngFor let-item [ngForOf]="card.phones" let-i="index" [ngForTrackBy]="trackByFn">
          <dl class="pcard-info">
            <dt>
              <button *ngIf="i===0" class="btn btn-default icon">
                <i class="fa fa-phone"></i>
              </button>
              <label *ngIf="i===0"> Phone </label>

            </dt>
            <dd> {{ item.country_alpha_code|phoneDialCode }} {{ item.value }} </dd>
          </dl>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="card && card.addresses && card.addresses.length > 0">
        <ng-template ngFor let-item [ngForOf]="card.addresses" let-i="index" [ngForTrackBy]="trackByFn">
          <dl class="pcard-info">
            <dt>
              <button *ngIf="i===0" class="btn btn-default icon">
                <i class="fa fa-map-marker"></i>
              </button>
              <label *ngIf="i===0"> Address </label>
            </dt>
            <dd>
              <div *ngIf="item.address_line1">{{ item.address_line1 }}</div>
              <div *ngIf="item.address_line2">{{ item.address_line2 }}</div>
              <div *ngIf="item.city"> {{ item?.city }}</div>
              <div *ngIf="item.province"> {{ item?.province }} </div>
              <div *ngIf="item.postcode"> {{ item?.postcode }} </div>
              <div *ngIf="item.country">{{ item.country }}</div>
            </dd>
          </dl>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="card && card.media && card.media.length > 0">
        <ng-template ngFor let-item [ngForOf]="card.media" let-i="index" [ngForTrackBy]="trackByFn">
          <dl class="pcard-info">
            <dt>
              <button *ngIf="i===0" class="btn btn-default icon">
                <i class="fa fa-link"></i>
              </button>
              <label *ngIf="i===0"> Link </label>

            </dt>
            <dd><a [href]="item.value">{{ item.value }}</a></dd>
          </dl>
        </ng-template>
      </ng-container>

    </div>
  </bs-modal-body>
</bs-modal>

