<form [formGroup]="form" novalidate>
  <bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <bs-modal-header [showDismiss]="false">
      <div class="modal-header-nav">
        <h4 class="modal-title text-capitalize">
          <ng-container *ngIf="card && card.card_type === BUSINESS" >
            <input [autofocus]="focus" *ngIf="card && card.card_type === BUSINESS" type="text" placeholder="Untitled Card"                  
                  formControlName="card_name" #nameEl >
          </ng-container>

          <label *ngIf="card && card.card_type === PUBLIC"> {{ card_name.value }}</label>
        </h4>
        <ul class="modal-header-navbar">
          <li>
            <button type="button" (click)="close()" class="btn btn-default btn-default-no-border">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
      </div>
  </bs-modal-header>
  <bs-modal-body>
      <div class="field-group">
        <div class="field-group-content">
          <div class="media content-overflow-visible">
            <div class="media-left">
              <div class="avatar-md" >
                <img class="no-user-selected ng-star-inserted"  [src]="card?.profile_image || profile?.profile_image">
                <span class="cover-info-profile">
                  <i class="fa fa-camera"></i>
                </span>
              </div>
            </div>
            <div class="media-body content-overflow-visible">
              <div class="row row-10">
                <div class="col-sm-6 mb10">
                  <div class="form-group no-label mb0">
                    <input autofocus [formControl]="first_name" type="text" class="form-control" placeholder="First name">
                  </div>
                </div>
                <div class="col-sm-6 mb10">
                  <div class="form-group no-label mb0">
                    <input [formControl]="last_name" type="text" class="form-control" placeholder="Last name">
                  </div>
                </div>
                <div class="col-sm-6 mb10">
                  <input [formControl]="company" type="text" class="form-control" placeholder="Company or organization">
                </div>
                <div class="col-sm-6 mb10">
                  <input [formControl]="occupation" type="text" class="form-control" placeholder="Job title">
                </div>
                <div class="col-sm-12 mb10">
                  <input [formControl]="headline" type="text" class="form-control" placeholder="Headline">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pcard-info-list">

          <div class="field-group-content">
            <div class="row">  
              <div class="col-sm-3">
                <strong>Gender</strong>
              </div>
              <div class="col-sm-9">
                <div class="form-group no-label">
                    <p-checkbox name="basicInfo" value="sex" [label]=" SEX[profile?.sex] || NONE" [formControl]="form.controls['public_fields']"></p-checkbox>
                </div>
              </div>
            </div>
          </div>
        <div class="field-group-content">
            <div class="row">  
              <div class="col-sm-3">
                <strong>Birthday</strong>
              </div>
              <div class="col-sm-9">
                <div class="form-group no-label">
                    <p-checkbox name="basicInfo" value="birthday" [label]=" (profile?.birthday | timeFormat) || NONE"  [formControl]="form.controls['public_fields']" ></p-checkbox>
                </div>
              </div>
            </div>
          </div>
        <div class="field-group-content">
            <div class="row">  
              <div class="col-sm-3">
                <strong>Nationality</strong>
              </div>
              <div class="col-sm-9">
                <div class="form-group no-label">
                    <p-checkbox name="basicInfo" value="nationality" [label]="(getCountry(profile?.nationality) | async)?.name || NONE "  [formControl]="form.controls['public_fields']"></p-checkbox>
                </div>
              </div>
            </div>
          </div>

        <div class="field-group-content">
            <div class="row">  
              <div class="col-sm-3">
                <strong>About</strong>
              </div>
              <div class="col-sm-9">
                <div class="form-group no-label">
                    <textarea [formControl]="about" type="text" class="form-control" placeholder="About me" rows=3></textarea>  
                </div>
              </div>
            </div>
          </div>
        <dl class="pcard-info">
            <ng-container *ngIf="profile && profile.emails && profile.emails.length > 0">
              <!-- <ng-template ngFor let-item [ngForOf]="profile.emails" let-i="index" [ngForTrackBy]="trackByFn">
                <dt>
                  <button class="btn btn-default icon">
                    <i *ngIf="i === 0" class="fa fa-envelope"></i>
                  </button>
                  <p-checkbox name="emails" [value]="'email:' + item.category"
                              [label]="item.category | keyToValue: emailType:'category':'name'"  [formControl]="form.controls['public_fields']"></p-checkbox>
                </dt>
                <dd [ngClass]="{'not-first-item' : i > 0 }">
                  <div><a style="text-transform: lowercase;" href="mailto:{{ item.value }}">{{ item.value }}</a></div>
                </dd>                
              </ng-template> -->


              <div class="field-group-content">
                <div class="row">  
                  <div class="col-sm-3">
                    <strong>Emails</strong>
                  </div>
                  <div class="col-sm-9">
                      <ng-template ngFor let-item [ngForOf]="profile.emails" let-i="index" [ngForTrackBy]="trackByFn">
                          <div class="form-group no-label">
                              <p-checkbox name="emails" [value]="'email:' + item.id"
                                [formControl]="form.controls['public_fields']"></p-checkbox>
                               <span> {{ item.value }} </span> <i class="fa fa-circle" aria-hidden="true"></i> <span class="text-fade"> {{ item.category | keyToValue: emailType:'category':'name'}}</span>
                            </div>
                        </ng-template>                
                  </div>
                </div>
              </div>
              
            </ng-container>
          </dl>
          <dl class="pcard-info">
            <ng-container *ngIf="profile && profile.phones && profile.phones.length > 0">
              <!-- <ng-template ngFor let-item [ngForOf]="profile.phones" let-i="index" [ngForTrackBy]="trackByFn">
                <dt>
                  <button class="btn btn-default icon">
                    <i *ngIf="i === 0" class="fa fa-phone"></i>
                  </button>
                  <p-checkbox name="phones" [value]="'phone:' + item.category" 
                              [label]="item.category | keyToValue:phoneType:'category':'name'"  [formControl]="form.controls['public_fields']"></p-checkbox>
                </dt>
                <dd [ngClass]="{'not-first-item' : i > 0 }">
                  <div> {{ item.country_alpha_code | phoneDialCode }} {{ item.value }} </div>
                </dd>                
              </ng-template> -->

              <div class="field-group-content">
                  <div class="row">  
                    <div class="col-sm-3">
                      <strong>Phones</strong>
                    </div>
                    <div class="col-sm-9">
                        <ng-template ngFor let-item [ngForOf]="profile.phones" let-i="index">
                            <div class="form-group no-label">
                                <p-checkbox name="phones" [value]="'phone:' + item.id"  [formControl]="form.controls['public_fields']"></p-checkbox>
                                 <span> {{ item.value }} </span> <i class="fa fa-circle" aria-hidden="true"></i> <span class="text-fade"> {{ item.category | keyToValue:phoneType:'category':'name' }}</span>
                              </div>
                          </ng-template>                
                    </div>
                  </div>
                </div>
            </ng-container>        
          </dl>
          <!-- <dl class="pcard-info">
            <ng-container *ngIf="profile && profile.addresses && profile.addresses.length > 0">
                <ng-template ngFor let-item [ngForOf]="profile.addresses" let-i="index" [ngForTrackBy]="trackByFn">
                  <dt>
                    <button class="btn btn-default icon">
                      <i *ngIf="i === 0" class="fa fa-map-marker"></i>
                    </button>
                    <p-checkbox name="addresses" [value]="'address:' + item.category" 
                                [label]="item.category | keyToValue: addressType:'category':'name'"  [formControl]="form.controls['public_fields']"></p-checkbox>
                  </dt>
                  <dd>
                    <div *ngIf="item.address_line1">{{ item.address_line1 }}</div>
                    <div *ngIf="item.address_line2">{{ item.address_line2 }}</div>
                    <div *ngIf="item.city"> {{ item?.city }}</div>
                    <div *ngIf="item.province"> {{ item?.province }} </div>
                    <div *ngIf="item.postcode"> {{ item?.postcode }} </div>
                    <div *ngIf="item.country">{{ item.country }}</div>        
                  </dd>                
                </ng-template>
              </ng-container>        
          </dl>
          <dl class="pcard-info">
            <ng-container *ngIf="profile && profile.media">
              <ng-template ngFor let-item [ngForOf]="profile.media" let-i="index" [ngForTrackBy]="trackByFn">
                  <dt>
                    <button class="btn btn-default icon">
                      <i *ngIf="i === 0" class="fa fa-link"></i>
                    </button>
                    <p-checkbox name="media" [value]="'media:' + item.category" [label]="item.category | keyToValue:mediaType:'category':'name'"  [formControl]="form.controls['public_fields']">
                        
                    </p-checkbox>
                  </dt>
                  <dd [ngClass]="{'not-first-item' : i > 0 }">
                    <div><a href="{{ item.value }}" target="_blank" rel="noopener" style="text-transform: lowercase">{{ item.value }}</a></div>
                  </dd>
              </ng-template>  
            </ng-container>      
          </dl> -->
          <ng-container>
              <div class="field-group-content" formArrayName="custom_fields" *ngIf="custom_fields.length > 0">
                <ng-template ngFor let-item [ngForOf]="form.controls['custom_fields'].controls" let-i="index" >
                  <div class="row" [formGroupName]="i">  
                    <div class="col-sm-3">
                      <div class="form-group no-label">
                        <input type="text" placeholder="Custom label" class="form-control" formControlName="label">                        
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group no-label">
                        <input type="text" placeholder="Enter custom content" class="form-control" formControlName="value">
                      </div>
                    </div>
                  </div>
                </ng-template>    
                <div>
                    <a href="javascript:;" class="btn btn-outline-default" (click)="addItem()"><i class="fa fa-plus"></i> Add more</a>
                </div>
              </div>
          </ng-container>    
        </div>

  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="form.invalid || form.pristine" (click)="onSave()">Done</button>
  </bs-modal-footer>
</bs-modal>

</form>