<div class="card can-click" (click)="onClick()">
  <div class="card-body">
    <div class="media-avatar align-items-center">
      <div class="media-avatar-img-wrap">
        <div class="media-avatar-img avatar-xs">
          <img [src]="card?.profile_image" [alt]="card?.name">
        </div>
      </div>
      <div class="media-avatar-body">
        <ng-container *ngIf="card.card_type === 'public'">
          <p class="m0 text-bold text-fade">{{ card?.name}}</p>
          <span>&nbsp;</span>
        </ng-container>
        <ng-container *ngIf="card.card_type === 'business'">
          <p class="m0 text-bold text-fade"> {{ card?.card_name }} </p>
          <span> {{ card?.name }} </span>
        </ng-container>

      </div>
    </div>
  </div>
</div>
      
