@import "../../../../assets/styles/global";

/* override model title */
.modal-title, .modal-title input {
  display: block;
  width: 100%;
  padding-left: 5px;
}
.pcard-cover {
  @media (max-width: $screen-xs-max) {
    .media-avatar {
      @include flex-direction(column);
      text-align: center;
      .media-avatar-img-wrap {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
}

.modal-body {
  .pcard-cover {
    margin-left: -$modal-inner-padding;
    margin-right: -$modal-inner-padding;
    margin-bottom: $modal-inner-padding;
    padding: $modal-inner-padding;
  }
}



.pcard-info {
  .select-content {
    display: flex;

    .select-content-checkbox {
      padding-right: 10px;
    }

    .select-content-value {
      width: 100%;
    }
  }


  .ui-chkbox-label {
    font-weight: normal !important;
  }

  &.dl-horizontal {
    dt, dd {
      padding: 5px 0;
    }
  }

  @media (min-width: $screen-sm) {
    margin-left: 0;

    &.dl-horizontal {
      dt {
        width: 90px;
      }
      
      dd {
        margin-left: 110px;
      }
    }

  }
}

.pcard-custom-label {
  &.dl-horizontal {
    dt {
      width: 130px;
    }
    
    dd {
      margin-left: 140px;
    }
  } 
}

.pcard-info-form {
  padding-left: 25px;
  dt {
    clear: both;
    position: relative;
    .ui-chkbox {
      position: absolute;
      left: -25px;
      top: 2px;
    }
    & + dt {
      margin-top: 10px;
    }
  }
}

.dib {
  display: inline-block;
}