@import "../../../../assets/styles/global";

.pcard-cover {
  @media (max-width: $screen-xs-max) {
    .media-avatar {
      @include flex-direction(column);
      text-align: center;
      .media-avatar-img-wrap {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
}

.modal-body {
  .pcard-cover {
    margin-left: -$modal-inner-padding;
    margin-right: -$modal-inner-padding;
    margin-bottom: $modal-inner-padding;
    padding: $modal-inner-padding;
  }
}

.pcard-info-list {
  dl {
    margin-bottom: 0;
    &:not(:last-child) {
      //margin-bottom: 5px;
      padding-bottom: 10px;
      //border-bottom: 1px solid $line;
    }
  }
  dd:not(:last-child) {
    margin-bottom: 10px;
  }
}

.pcard-info {
  @media (min-width: $screen-sm) {
    dt {
      float: left;
      width: 145px;
      clear: both;
    }
    dd {
      margin-left: 150px;
    }
  }
}

.pcard-info-form {
  padding-left: 25px;
  dt {
    clear: both;
    position: relative;
    .ui-chkbox {
      position: absolute;
      left: -25px;
      top: 2px;
    }
    & + dt {
      margin-top: 10px;
    }
  }
}



.w-user-avatar-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#ffffff, 0.5);
  @include transition($transition-base);
  @include opacity(0);
  i {
    font-size: 36px;
    @include center();
  }
}
.media-avatar-img-wrap {
  &:hover, &:focus {
    .w-user-avatar-cover {
      @include opacity(1);
    }
  }
}
