@import "../../../../assets/styles/global";

:host /deep/ {
  .pcard-edit-modal {
    .modal-footer {
      border-top-width: 1px !important;
    }
  } 
}

.card-edit-modal-body.show-more {
  max-height: 420px;
  overflow: hidden;
}

/* override model title */
.modal-title, .modal-title input {
  display: block;
  width: 100%;
  padding-left: 5px;
}

.pcard-info-edit {
  .select-content {
    @include flexbox;

    .select-content-checkbox {
      padding-right: 10px;
    }

    .select-content-value {
      width: 100%;
    }
  }


  .ui-chkbox-label {
    font-weight: normal !important;
  }

  &.dl-horizontal {
    dt, dd {
      padding: 5px 0;
    }
  }

  @media (min-width: $screen-sm) {
    margin-left: 0;

    &.dl-horizontal {
      dt {
        width: 90px;
      }
      
      dd {
        margin-left: 110px;
      }
    }

  }
}

.custom-group {
  @include flexbox;
  padding-bottom: 10px;

  @media (min-width: $screen-sm) {
    .custom-label {
      max-width: 130px;
    }
  
    .custom-value {
      @include flex(1);
      padding-left: 10px;
    }
  }

  @media (max-width: $screen-xs-max) {
    @include flex-direction(column);

    .custom-label {
      padding-bottom: 10px;
    }
  }
}