<p-overlayPanel #overlayPanel styleClass="emoji-overlayPanel">
  <div class="emoji-wrap">
    <div id="emoji-container" class="emoji-content" (scroll)="onEmojiScroll($event)">
      <ng-container *ngFor="let item of emojiData | async | keys as list">
        <dl *ngIf="item.key !== 'regional' && item.key !== 'modifier'" id="emoji-{{item.key}}">
          <ng-container [ngSwitch]="item.key">
            <dt *ngSwitchCase="'people'">Smileys &amp; People</dt>
            <dt *ngSwitchCase="'nature'">Animals &amp; Nature</dt>
            <dt *ngSwitchCase="'food'">Food &amp; Drink</dt>
            <dt *ngSwitchCase="'travel'">Travel &amp; Places</dt>
            <dt *ngSwitchDefault>{{ item.key }}</dt>
          </ng-container>
          <dd>
            <ul>
              <li *ngFor="let emoji of item.value" (click)="onSelected(emoji)">
                <i *ngIf="emoji.diversity" class="emojione-{{ size }}-diversity _{{ emoji.code_points.base }}"></i>
                <i *ngIf="!emoji.diversity"
                   class="emojione-{{ size }}-{{ emoji.category }} _{{ emoji.code_points.base }}"></i>
              </li>
            </ul>
          </dd>
        </dl>
      </ng-container>
    </div>
    <div class="emoji-toolbar">
      <ul>
        <li [ngClass]="{'active': currentGroup == 'people'}"
            [ngx-scroll-to]="'emoji-people'"
            [ngx-scroll-to-duration]="0">
          <i class="emojione-40-people _1f600"></i>
        </li>
        <li [ngClass]="{'active': currentGroup == 'nature'}"
            [ngx-scroll-to]="'emoji-nature'"
            [ngx-scroll-to-duration]="0">
          <i class="emojione-40-nature _1f98a"></i>
        </li>
        <li [ngClass]="{'active': currentGroup == 'food'}"
            [ngx-scroll-to]="'emoji-food'"
            [ngx-scroll-to-duration]="0">
          <i class="emojione-40-food _1f352"></i>
        </li>
        <li [ngClass]="{'active': currentGroup == 'activity'}"
            [ngx-scroll-to]="'emoji-activity'"
            [ngx-scroll-to-duration]="0">
          <i class="emojione-40-activity _26bd"></i>
        </li>
        <li [ngClass]="{'active': currentGroup == 'travel'}"
            [ngx-scroll-to]="'emoji-travel'"
            [ngx-scroll-to-duration]="0">
          <i class="emojione-40-travel _2708"></i>
        </li>
        <li [ngClass]="{'active': currentGroup == 'objects'}"
            [ngx-scroll-to]="'emoji-objects'"
            [ngx-scroll-to-duration]="0">
          <i class="emojione-40-objects _1f4a1"></i>
        </li>
        <li [ngClass]="{'active': currentGroup == 'symbols'}"
            [ngx-scroll-to]="'emoji-symbols'"
            [ngx-scroll-to-duration]="0">
          <i class="emojione-40-symbols _1f4af"></i>
        </li>
        <li [ngClass]="{'active': currentGroup == 'flags'}"
            [ngx-scroll-to]="'emoji-flags'"
            [ngx-scroll-to-duration]="0">
          <i class="emojione-40-flags _1f3c1"></i>
        </li>
      </ul>
    </div>
  </div>
</p-overlayPanel>
