<section class="page-hero">
  <div class="page-hero-item" style="background-image: url('assets/images/landing/hero-image.jpg');">
  </div>
  <div class="page-hero-content">
    <div class="page-hero-txt">
      <div class="page-hero-tt">
        <h2 class="h1">Log in</h2>
        <p>Welcome back</p>
      </div>
      <div class="page-hero-body">
        <div [formGroup]="form" novalidate>
          <div class="form-group" [ngClass]="{'has-error': (!email.valid && email.touched)}">
            <label for="email">Email</label>
            <input [formControl]="email" type="email" class="form-control" id="email" placeholder="Email">
            <div *ngIf="!email.valid && email.touched">
              <span *ngIf="!email.valid && email.errors.required" class="help-block">An email is required</span>
              <span *ngIf="!email.errors.required && email.errors.emailFormat"
                    class="help-block">Email is not valid</span>
            </div>

          </div>
          <div class="form-group has-password"
               [ngClass]="{'has-error': (!password.valid && password.touched)}">
            <label for="password">Password</label>
            <input [formControl]="password" type="password" class="form-control" id="password" placeholder="Password">
            <span (click)="hideShowPassword($event)" class="hideShowPassword-toggle"></span>
            <div *ngIf="!password.valid && password.touched">
                <span *ngIf="!password.valid && password.errors.required"
                      class="help-block">A password is required</span>
            </div>

          </div>
          <div class="form-group">
            <button [disabled]="!form.valid" type="submit" class="btn btn-block btn-wth"
                    (click)="onSubmit(form.value)">Sign in
            </button>
          </div>

          <div class="checkbox">
            <a class="forgot pull-right" [routerLink]="['/account/recovery/forgottenpassword']">I forgot my
              password?</a>
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      <hr role="separator" class="divider">
      <div class="page-hero-tt">
        <p>Don’t have an account?</p>
      </div>
      <div class="page-hero-body">
        <a [routerLink]="['/signup']" class="btn btn-block btn-primary">Sign up now</a>
      </div>
    </div>
  </div>
</section>
