<modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title"><i class="fa" [ngClass]="titleIcon"></i> New Folder</h4>
  </modal-header>
  <modal-body>
    <div class="row ng2-tags-container-wrapper">
      <div class="col-sm-12">
        <div class="form-group">
          <input type="text" name="" [(ngModel)]="folder.name">
        </div>
      </div>

    </div>
  </modal-body>

  <modal-footer>
    <button type="button" class="btn btn-outline-primary btn-min" (click)="submit()" [disabled]="false">Done
    </button>
    <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal">Cancel</button>
  </modal-footer>

</modal>
