<div class="photo-box" *ngIf="object" [ngClass]="{'selected': object.selected}" id="photo-box-img-{{ object.id }}">
  <div class="photo-box-action photo-box-action-right">
    <i (click)="doAction({action:'favorite', payload: [object]})" class="fa"
       [ngClass]="object.favorite? 'fa-star': 'fa-star-o'"></i>
  </div>

  <!--type == 'photo', 'video' -->
  <div *ngIf="object.model == 'Media::Photo' || object.model == 'Media::Video'" class="photo-box-figure"
       (click)="select(object)" (dblclick)="doAction({action:'viewDetails', payload: {selectedObject: object }})">
    <div class="photo-box-input" (click)="clickOnCircle(object, $event)">
      <i class="fa fa-check"></i>
    </div>
    <div (click)="doAction({action:'viewDetails', payload: {selectedObject: object }})" class="photo-box-mobile-select"></div>
    <figure class="img-center-dv can-click">
      <div class="photo-box-figure-in">
        <img draggable="false" class="img-center lazyload" [src]="object?.thumbnail_url" alt="">
        <i *ngIf="object.model == 'Media::Video'" class="fa fa-play-circle-o"></i>
      </div>
    </figure>
    <!-- <div class="photo-box-name">
      <span class="can-click" (dblclick)="editName(object, $event)">
        {{ object.name }}.{{ object.extension}}
      </span>
      <div class="hidden">
        <i *ngIf="object.json_shares?.length>1" class="fa fa-user-plus"></i>
        <i *ngIf="object.favorite" class="fa fa-star"></i>
      </div>
    </div> -->
    <ng-container *ngIf="object.role_id && object.role_id < 3">
      <div class="photo-box-name">
        <span class="can-click">
          {{ object.name }}.{{ object.extension}}
        </span>
        <div class="hidden">
          <i *ngIf="object.json_shares?.length>1" class="fa fa-user-plus"></i>
          <i *ngIf="object.favorite" class="fa fa-star"></i>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!object.role_id || object.role_id >= 3">
      <div class="photo-box-name" title="Double click to edit name">
        <span class="can-click" (dblclick)="editName(object, $event)">
          {{ object.name }}.{{ object.extension}}
        </span>
        <div class="hidden">
          <i *ngIf="object.json_shares?.length>1" class="fa fa-user-plus"></i>
          <i *ngIf="object.favorite" class="fa fa-star"></i>
        </div>
      </div>
    </ng-container>
    <div class="photo-box-owner">
      <span *ngIf="object.owner">
        {{object.owner.id == userService.profile.id ? 'me' : object.owner.name}}
      </span>
    </div>
    <div class="photo-box-date">{{ object.created_at | date: 'MMM dd yyyy' }}</div>
    <div class="photo-box-size">{{ object.size | bytes:0 }}</div>
  </div>

  <!--type == 'album'-->
  <div *ngIf="object.model == 'Media::Album' || object.model == 'Common::Sharing' || object.model == 'Media::Playlist'"
       class="photo-box-figure" (click)="select(object)" (dblclick)="doAction({action:'viewDetails', payload: {selectedObject: object }})">
    <div class="photo-box-input" (click)="clickOnCircle(object, $event)">
      <i class="fa fa-check"></i>
    </div>
    <div (click)="doAction({action:'viewDetails', payload: {selectedObject: object }})" class="photo-box-mobile-select"></div>
    <figure class="img-center-dv can-click">
      <div class="photo-box-figure-in">
        <img draggable="false" class="img-center lazyload" [src]="object?.thumbnail_url + '?t=' + time" alt="">
      </div>
      <div class="photo-box-info">
        <!--{{ object.name }} <br>-->
        <span *ngIf="object.child_count > 1">
          {{ object.child_count }} photos
        </span>
        <span *ngIf="object.child_count <= 1">
          {{ object.child_count }} photo
        </span>
      </div>
    </figure>

    <ng-container *ngIf="object.role_id && object.role_id < 3">
      <div class="photo-box-name">
        <span class="can-click">
          <i class="wthico-album"></i> {{ object.name }}
        </span>
        <div class="hidden">
          <i *ngIf="object.favorite" class="fa fa-star"></i>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!object.role_id || object.role_id >= 3">
      <div class="photo-box-name" title="Double click to edit name">
        <span class="can-click" (dblclick)="editName(object, $event)">
          <i class="wthico-album"></i> {{ object.name }}
        </span>
        <div class="hidden">
          <i *ngIf="object.favorite" class="fa fa-star"></i>
        </div>
      </div>
    </ng-container>
    <div class="photo-box-owner">{{ object.owner?.name }}</div>
    <div class="photo-box-date">{{ object.created_at | date: 'MMM dd yyyy' }}</div>
    <div class="photo-box-size">{{ object.child_count }}</div>
  </div>

</div>
