<!--<w-toolbar #toolbar-->
           <!--[view]="view"-->
           <!--[selectedObjects]="selectedObjects"-->
           <!--[leftActionsTemplate]="leftActionsTemplate ? leftActionsTemplate : leftActionsDefaultTemplate"-->
           <!--[objectActionsTemplate]="objectActionsTemplate"-->
           <!--(event)="doEvent($event)">-->
<!--</w-toolbar>-->
<ng-content select="w-toolbar"></ng-content>

<ng-container *ngIf="objects">
  <div class="page-body-content has-page-body-control gray-light"
       infinite-scroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="500"
       [scrollWindow]="scrollWindow"
       (scrolled)="doEvent({action: 'getMore', payload: { nextLink: nextLink }})">

    <div class="page-body-content-in">

      <w-grid-list-header [data]="objects" [view]="view" (event)="doEvent($event)"></w-grid-list-header>


      <div id="list-photo" class="row-img row-img-{{ viewSize }}" (dragenter)="onDragenter($event)"
           [ngClass]="view" (dragleave)="onDragleave($event)">
        <div *ngFor="let group of objects | convertByPattern:'created_at':groupByTime | groupBy:groupBy: objects?.length;">
          <p class="m15 fz15" *ngIf="group.key && (view !== 'grid')">
            {{ group.key | titleCase }}
          </p>
          <div *ngIf="group.value" class="clearfix">
            <w-grid-list-item *ngFor="let item of group.value;"
                              [type]="item.object_type"
                              [object]="item"
                              (event)="doEvent($event)">

            </w-grid-list-item>
          </div>
          <w-grid-list-item *ngIf="group && !group.value"
                            [type]="group.object_type"
                            [object]="group"
                            (event)="doEvent($event)">

          </w-grid-list-item>





          <!--<div class="text-center p20" *ngIf="viewOption == 'grid' && MIX_SCREEN.indexOf(currentPath) > -1">-->
            <!--<a [routerLink]="['/albums']" [queryParams]="{favorite: true}" class="btn btn-outline-primary"-->
               <!--*ngIf="group.key == 'album'">-->
              <!--View all-->
            <!--</a>-->
            <!--<a [routerLink]="['/photos']" [queryParams]="{favorite: true}" class="btn btn-outline-primary"-->
               <!--*ngIf="group.key == 'photo'">-->
              <!--View all-->
            <!--</a>-->
            <!--<hr *ngIf="MIX_SCREEN.indexOf(currentPath) > -1">-->
          <!--</div>-->
        </div>
      </div>

      <!--<div id="list-photo" class="row-img row-img-{{ sliderViewNumber }}" (dragenter)="onDragenter($event)"-->
           <!--[ngClass]="viewOption" (dragleave)="onDragleave($event)">-->
        <!--<div *ngFor="let group of objects | convertByPattern:'created_at':groupByTime | groupBy:groupBy: objects?.length;">-->
          <!--<p class="photo-box-heading" *ngIf="group.key && (viewOption != 'grid')">-->
            <!--{{ group.key }}-->
          <!--</p>-->
          <!--<div *ngIf="group.value" class="clearfix">-->
            <!--&lt;!&ndash;<me-sharing-item *ngFor="let item of group.value;" [type]="item.object_type" [object]="item"&ndash;&gt;-->
                     <!--&lt;!&ndash;(events)="doEvent($event)"></me-sharing-item>&ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash;<me-sharing-item *ngIf="group && !group.value" [type]="group.object_type" [object]="group"&ndash;&gt;-->
                   <!--&lt;!&ndash;(events)="doEvent($event)"></me-sharing-item>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="text-center p20" *ngIf="viewOption == 'grid'">&ndash;&gt;-->
            <!--&lt;!&ndash;<a [routerLink]="['/albums']" [queryParams]="{favorite: true}" class="btn btn-outline-primary"&ndash;&gt;-->
               <!--&lt;!&ndash;*ngIf="group.key == 'album'">&ndash;&gt;-->
              <!--&lt;!&ndash;View all&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a [routerLink]="['/photos']" [queryParams]="{favorite: true}" class="btn btn-outline-primary"&ndash;&gt;-->
               <!--&lt;!&ndash;*ngIf="group.key == 'photo'">&ndash;&gt;-->
              <!--&lt;!&ndash;View all&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    </div>

    <!--<div class="p50" [ngClass]="{'inside-loading': nextLink != null, 'hidden':nextLink == null}"></div>-->
  </div>
</ng-container>
<ng-content select="div"></ng-content>

