@import "../../../assets/styles/global";

.photo-box-figure-in {
  i {
    @include center();
    font-size: 40px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    display: inline-block;
    &::before{
      @include center();
    }
  }
}
.photo-box-figure {
  .item-actions {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    visibility: hidden;
  }
}

.content-item {
    &:hover {
      .form-checkbox {
        visibility: visible;
      }
      .item-media-img {
        &:before {
          content: '';
          position: absolute;
          height: 50px;
          max-height: 100%;
          top: 0;
          left: 0;
          right: 0;
          opacity: .2;
          z-index: 5;
          background-image: linear-gradient(0deg, rgba(#404040, 0) 0, #404040 100%);
        }
      }
    }
    &.selected {
      .item-media {
        border-color: $theme-color;
      }
      .form-checkbox {
        visibility: visible;
        background-color: $theme-color;
        &:before {
          visibility: visible;
        }
      }
    }
  }
.item-media-img {
    i {
      z-index: 2;
      @include center();
      color: #ffffff;
      background-color: rgba(#404040, 0.6);
      font-size: 48px;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      &:before {
        @include center();
      }
    }
  }
