<div class="grid-list-head">
  <!-- <h5 class="ml10 pull-left">{{title}}</h5> -->
  <div class="dropdown">
    <a aria-expanded="true" aria-haspopup="true" class="btn dropdown-toggle" data-toggle="dropdown" tooltipposition="bottom"
      type="button">
      <span> {{title}} </span> <i class="caret"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#" (click)="upload(['image/*', 'video/mp4', 'video/x-m4v', 'video/*'])">
          <span class="fileinput-button">
            <i class="fa fa-image"></i> Upload Item
          </span>
        </a>
      </li>

      <li>
        <a href="#" (click)="openCreateAlbumModal(selectedObjects)">
          <i class="fa fa-plus-circle"></i> Create Album
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="view == 'grid'" class="clearfix sortbar-wrap">

    <span class="btn btn-text pull-right" (click)="sort(field)" style="cursor: pointer;">
      <i class="fa" [ngClass]="{'fa-arrow-up': (direction == 'asc'), 'fa-arrow-down': (direction == 'desc')}"></i>
    </span>

    <div class="dropdown pull-right">
      <span class="btn btn-text dropdown-toggle" style="cursor: pointer;" type="button" data-toggle="dropdown">
        {{ field ==='created_at' ? 'Date': field }}
      </span>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a (click)="sort('Date')" href="javascript:void(0);"> Date</a></li>
        <li><a (click)="sort('Name')" href="javascript:void(0);"> Name</a></li>
      </ul>
    </div>

    <div *ngIf="!hideScale" class="pull-right">
      <div class="sortbar-slider">
        <i draggable="false" class="fa fa-picture-o fz10"></i>
        <div class="sortbar-slider-in" style="cursor: pointer;">
          <p-slider draggable="false" [(ngModel)]="sliderVal" (onChange)="zoom($event)" [step]="1" [min]="sliderMin"
            [max]="sliderMax"></p-slider>
        </div>
        <i draggable="false" class="fa fa-picture-o fz18"></i>
      </div>

    </div>

  </div>

  <div *ngIf="view == 'list'">
    <div class="photo-box-nav">
      <div class="photo-box-figure">
        <div (click)="sort('name')" class="photo-box-name can-click">
          Name <i *ngIf="field=='name'" class="fa" [ngClass]="{'fa-arrow-up': (direction == 'asc'), 'fa-arrow-down': (direction == 'desc')}"></i>
        </div>
        <div (click)="sort('owner')" class="photo-box-owner can-click">Owner
          <i *ngIf="field=='owner'" class="fa" [ngClass]="{'fa-arrow-up': (direction == 'asc'), 'fa-arrow-down': (direction == 'desc')}"></i>
        </div>
        <div (click)="sort('date')" class="photo-box-date can-click">
          Created Date <i *ngIf="field=='date'" class="fa" [ngClass]="{'fa-arrow-up': (direction == 'asc'), 'fa-arrow-down': (direction == 'desc')}"></i>
        </div>
        <div class="photo-box-size">Size</div>
      </div>
    </div>
  </div>

  <div *ngIf="view == 'timeline'" class="pull-right">
    <span class="dropdown">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
        type="button" style="margin-right: 10px; border: none; background: none">
        {{ groupBy }}
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a (click)="changeView('timeline', 'Date');" href="javascript:void(0);"> Date</a></li>
        <li><a (click)="changeView('timeline', 'Month')" href="javascript:void(0);"> Month</a></li>
        <li><a (click)="changeView('timeline', 'Year')" href="javascript:void(0)"> Year</a></li>
      </ul>
    </span>
    <i class="fa can-click" [ngClass]="{'fa-arrow-up': (direction == 'asc'), 'fa-arrow-down': (direction == 'desc')}"
      (click)="sort(field)"></i>
  </div>
  <div class="clearfix"></div>
</div>
