@import '../../../assets/styles/global';

.row-img-item {
  display: block;
}

@media (min-width: $screen-sm-min) {
  .row-img {
    &.grid {
      @for $i from 1 through 12 {
        &.row-img-#{$i} {
          .row-img-item {
            width: percentage(1/(14 - $i));
            //width: percentage(24/$i);
          }
        }
      }
    }
  }
}

$wobject-file-size: 100px;
$wobject-create-date: 100px;
$wobject-owner: 100px;
$wobject-box: auto;
$wobject-checkbox: 30px;

.ds-selector {
  border-color: rgba($theme-color, 0.4) !important;
  background-color: rgba($theme-color, 0.1) !important;
}

@media (max-width: $screen-xs-max) {
  .row-img {
    &.grid {
      .row-img-item {
        width: 50%;
      }
    }
  }
  .sortbar-slider {
    display: none;
  }
  .photo-box-nav {
    margin-top: -15px;
  }

  .photo-box-nav, .row-img.list {
    .photo-box {
      position: relative;
      .photo-box-action-right {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        display: block;
        width: 50px;
        i {
          width: 50px;
          height: 50px;
          position: relative;
          cursor: pointer;
          @include center();
          &:before {
            @include center();
          }
        }
      }
    }
    .photo-box-figure {
      padding-top: 10px;
      padding-bottom: 10px;
      @include flexbox;
      @include align-items(center);
      cursor: pointer;
      .photo-box-name {
        @include flexbox;
        @include align-items(center);
        @include flex(1);
        min-height: 30px;
        > span {
          @include flex(1);
          margin-right: 50px;
        }
        .hidden {
          display: none !important;
        }
      }
      .photo-box-owner, .photo-box-date, .photo-box-size {
        display: none;
      }
    }
  }
}
.sortbar-wrap {
  margin: 0 0 15px;
  @media (min-width: $screen-sm-min) {
    margin-top: -15px;
    margin-bottom: 0;
  }
}

.sortbar-slider {
  padding: 7px 0;
  margin-right: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .sortbar-slider-in {
    display: inline-block;
    width: 90px;
    margin: 0 15px;

  }
}
.grid-list-head {
  margin: 20px 0px;
}
.dropdown {
  a {
    color: inherit;
  }
}

.nav-tabs {
  border: 1px solid #ddd;
  border-radius: 5px;
  float: left;
  li {
    a {
      color: inherit;
      padding: 5px 10px;
      margin: 0px;
    }
    margin-bottom: -2px;
  }
  li:first-child{
    border-radius: 5px 0 0 5px;
  }
  li:last-child{
    border-radius: 0 5px 5px 0;
  }
  li.active > a {
    background-color: $theme-color;
    border: none;
    color: white !important;
    border-radius: inherit;
    &:hover {
      background-color: $theme-color;
      border: none;
      color: white;
    }
  }
}
