<div class="media media-no-hidden" *ngIf="data">
  <div class="media-left can-click" (click)="viewProfile(data)">
        <span class="avatar-sm">
          <img [src]="data.profile_image" alt="{{ data.name }}">
        </span>
  </div>
  <div class="media-body">
    <h5 class="media-heading m0">
      <a [routerLink]="['/profile', data.uuid]" class="link-text">{{ data.name }}</a>
    </h5>

    <div class="text-fade">
      {{ data.friend_count }} friends - {{ data.follower_count }} followers - {{ data.following_count }} following
    </div>
  </div>
  <div class="media-right" style="min-width: 275px;">
    <div class="pull-right no-wrap">
      <div class="btn-group" role="group" aria-label="" *ngIf="data?.uuid !== user?.uuid && data.friend_status !== friendStatus.accepted">
        <ng-template [ngIf]="data.friend_status === friendStatus.stranger">
          <button class="btn btn-outline-default" type="button" (click)="addFriend(data)">
            <i class="fa fa-user-plus"></i> Add Friend
          </button>
        </ng-template>
        <ng-template [ngIf]="data.friend_status === friendStatus.pending">
          <div class="btn-group">
            <button class="btn btn-outline-default dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> Request Sent <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="javascript:;" (click)="onCancelRequest(data)">Cancel Request</a>
              </li>
            </ul>
          </div>
        </ng-template>

        <div class="btn-group" role="group" *ngIf="data.friend_status === friendStatus.accepted">
          <button class="btn btn-outline-default dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-check"></i> Friend <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
            <li><a href="javascript:;" (click)="unfriend(data)">Unfriend</a></li>
          </ul>
        </div>

        <ng-template [ngIf]="!data.is_following">
          <button type="button" class="btn btn-outline-default" (click)="follow(data)">
            <i class="fa fa-share"></i> Follow
          </button>
        </ng-template>

        <ng-template [ngIf]="data.is_following">
          <div class="btn-group">
            <button class="btn btn-outline-default dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-check"></i> Following <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="javascript:;" (click)="unfollow(data)">Unfollow</a>
              </li>
            </ul>
          </div>
        </ng-template>

      </div>

      <!--menu-->
      <div class="btn-group" *ngIf="data.friend_status === friendStatus.accepted">
        <button type="button" class="btn btn-outline-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" pTooltip="{{ tooltip.moreAction }}" tooltipPosition="top"
                (click)="getFavourite(data, 'friend')">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <!--<li>-->
            <!--<a href="javascript:;" (click)="toggleFavourite(data, 'friend')">-->
              <!--<span *ngIf="!favourite && !favourite?.uuid">Add to Favorites</span>-->
              <!--<span *ngIf="favourite && favourite?.uuid">Remove from Favorites</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li><a href="javascript:;" (click)="importToContacts(data)">Import to Contacts</a></li>
          <li class="divider"></li>
          <li><a href="javascript:;" (click)="reportFriend(data)">Report Member</a></li>
          <li><a href="javascript:;" (click)="addToBlackList(data?.uuid)">Add to blacklist</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>
