.homepage-hero {
  position: relative;
  .homepage-hero-item {
    height: 350px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    @media (min-width: $screen-md) {
      height: 650px;
    }
  }
  .homepage-hero-txt {
    padding: 20px;
    @include center();
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    @media (min-width: $screen-lg) {
      width: 920px;
    }
    h1 {
      font-size: 178%;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    p {
      margin-bottom: 20px;
    }
    @media (min-width: $screen-md) {
      max-width: 920px;
      font-size: 36px;
      h1 {
        margin-top: 35px;
      }
    }
  }
}

.section-about {
  padding: 40px 0 55px;
  text-align: center;
}

.section-services {
  text-align: center;
  padding: 60px 0 40px;
  .card-box {
    background-color: #ffffff;
    padding-top: 28px;
    padding-bottom: 44px;
    margin-bottom: 20px;
    figure {
      display: block;
      margin-bottom: 35px;
    }
  }
}

.section-promo {
  padding: 45px 0 80px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  font-size: 34px;
  color: #ffffff;
  .btn {
    background: rgba(245, 73, 88, 0.00);
    margin-bottom: 20px;
    & + .btn {
      @media (min-width: 380px) {
        margin-left: 20px;
      }
    }
  }
}
