.welcome-slide {
  max-width: 740px;
  margin: auto;
  position: relative;
  padding: 0 70px;
}

.welcome-slide img {
  max-width: 100%;
  height: auto;
}

.swiper-pagination {
  position: relative;
  display: block;
  span {
    margin: 0 5px;
  }
}

.welcome-nav .btn.swiper-button-next {
  position: relative;
  margin: 0;
  left: auto;
  top: auto;
  right: auto;
  background-image: none;
}

.welcome-nav {
  text-align: right;
}
