<section class="page-hero-header" style="background-image: url('assets/images/landing/hero-image.jpg');">
  <h2 class="h1">Cookies</h2>
</section>
<section class="page-content policy-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <article class="article-content">
          <div class="article-content-rp">
            <div class="_28_g">
              <div class="_5tko _52ye _3m9">
                <div id="u_0_i">
                  <div class="_3539 _52ij _52ih _3m9" id="u_0_3">
                    <div class="_1rf2" id="u_0_j"><h2 class="_353a _52ip _52ih _3m9">Cookies &amp; Other Storage
                      Technologies</h2> Cookies are small pieces of text used to store information on web browsers.
                      Cookies are used to store and receive identifiers and other information on computers, phones, and
                      other devices. Other technologies, including data we store on your web browser or device,
                      identifiers associated with your device, and other software, are used for similar purposes. In
                      this policy, we refer to all of these technologies as “cookies.” <br><br> We use cookies if you
                      have a Facebook account, use the <a href="/help/1561485474074139">Facebook Services</a>, including
                      our website and apps (whether or not you are registered or logged in), or visit other websites and
                      apps that use the Facebook Services (including the Like button or our advertising tools). This
                      policy explains how we use cookies and the choices you have.
                    </div>
                    <div class="_s5c" id="u_0_k" style="top: 538px; opacity: 1;">
                      <div class="_s5e"><i class="img sp_SxsAYfIG78L sx_5c4bf7"></i></div>
                      <div class="_s5d"><i class="img sp_SxsAYfIG78L sx_74f871"></i></div>
                    </div>
                    <img class="_vpi img" src="https://www.facebook.com/rsrc.php/v2/y4/r/hXpcMLh6kdK.png" alt=""
                         width="674" height="411"></div>
                  <div class="_3x93 _17it _52ii _3m9" id="u_0_4">
                    <div class="_t3o" id="u_0_l"><a href="#" role="button"><i
                      class="_t3p img sp_SxsAYfIG78L sx_6034be"></i><i class="_4v8- img sp_SxsAYfIG78L sx_7b4eca"></i>
                      <div class="_t3q">Return to top</div>
                    </a></div>
                    <h3 class="_3x94 _52io _3m9"> Why do we use cookies? </h3> Cookies help us provide, protect and
                    improve the Facebook Services, such as by personalizing content, tailoring and measuring ads, and
                    providing a safer experience. While the <a href="#" ajaxify="/policies/cookies/details/"
                                                               rel="dialog" role="button">cookies</a> that we use may
                    change from time to time as we improve and update the Facebook Services, they generally fall into
                    the below categories of use:
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma _5f0v" id="u_0_5" tabindex="-1">Authentication</div>
                        We use cookies to verify your account and determine when you’re logged in so we can make it
                        easier for you to access the Facebook Services and show you the appropriate experience and
                        features.
                        <blockquote><i>For example:</i> We use cookies to keep you logged in as you navigate between
                          Facebook pages. Cookies also help us remember your browser so you do not have to keep logging
                          into Facebook and so you can more easily log into Facebook via third-party apps and websites.
                        </blockquote>
                      </div>
                    </div>
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma _5f0v" id="u_0_6" tabindex="-1">Security, site and product integrity</div>
                        We use cookies to help us keep your account, data and the Facebook Services safe and secure.
                        <blockquote><i>For example:</i> Cookies can help us identify and impose additional security
                          measures when someone may be attempting to access a Facebook account without authorization,
                          for instance, by rapidly guessing different passwords. We also use cookies to store
                          information that allows us to recover your account in the event you’ve forgotten your password
                          or to require additional authentication if you tell us your account has been hacked.
                        </blockquote>
                        We also use cookies to combat activity that violates our policies or otherwise degrades our
                        ability to provide the Facebook Services.
                        <blockquote><i>For example:</i> Cookies help us fight spam and phishing attacks by enabling us
                          to identify computers that are used to create large numbers of fake Facebook accounts. We also
                          use cookies to detect computers infected with malware and to take steps to prevent them from
                          causing further harm. Cookies also help us prevent underage people from registering for
                          Facebook accounts.
                        </blockquote>
                      </div>
                    </div>
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma" id="u_0_7">Advertising, insights and measurement</div>
                        We use cookies to help us show ads for businesses and other organizations to people who may be
                        interested in the products, services or causes they promote.
                        <blockquote><i>For example:</i> Cookies allow us to help deliver ads to people who have
                          previously visited a business’s website, purchased its products or used its apps. Cookies also
                          allow us to limit the number of times that you see an ad so you don’t see the same ad over and
                          over again.
                        </blockquote>
                        We also use cookies to help measure the performance of ad campaigns for businesses that use the
                        Facebook Services.
                        <blockquote><i>For example:</i> We use cookies to count the number of times an ad is shown and
                          to calculate the cost of those ads. We also use cookies to measure how often people do things
                          like click on or view ads.
                        </blockquote>
                        Cookies help us serve and measure ads across different browsers and devices used by the same
                        person.
                        <blockquote><i>For example:</i> We can use cookies to prevent you from seeing the same ad over
                          and over again across the different devices that you use.
                        </blockquote>
                        Cookies also allow us to provide insights about the people who use the Facebook Services, as
                        well as, the people who interact with the ads, websites, and apps of our advertisers and the
                        businesses that use the Facebook Services.
                        <blockquote><i>For example:</i> We use cookies to help businesses understand the kinds of people
                          who like their Facebook page or use their apps so they can provide more relevant content and
                          develop features that are likely to be interesting to their customers.
                        </blockquote>
                        We also use cookies to help you opt out of seeing ads from Facebook based on your activity on
                        third-party websites. <a href="https://www.facebook.com/help/769828729705201">Learn more</a>
                        about the information we receive, how we decide which ads to show you on and off the Facebook
                        Services, and the controls available to you.
                      </div>
                    </div>
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma" id="u_0_8">Site features and services</div>
                        <a href="#" id="device-information" role="button"></a> We use cookies to enable the
                        functionality that helps us provide the Facebook Services.
                        <blockquote><i>For example:</i> Cookies help us store preferences, know when you’ve seen or
                          interacted with Facebook Services’ content, and provide you with customized content and
                          experiences. For instance, cookies allow us to make suggestions to you and others, and to
                          customize content on third-party sites that integrate our social plugins. If you are a page
                          administrator, cookies allow you to switch between posting from your personal FB account and
                          the page.
                        </blockquote>
                        We also use cookies to help provide you with content relevant to your locale.
                        <blockquote><i>For example:</i> We store information in a cookie that is placed on your browser
                          or device so you will see the site in your preferred language.
                        </blockquote>
                      </div>
                    </div>
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma" id="u_0_9">Performance</div>
                        We use cookies to provide you with the best experience possible.
                        <blockquote><i>For example:</i> Cookies help us route traffic between servers and understand how
                          quickly Facebook Services load for different people. Cookies also help us record the ratio and
                          dimensions of your screen and windows and know whether you’ve enabled high contrast mode, so
                          that we can render our sites and apps correctly.
                        </blockquote>
                      </div>
                    </div>
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma" id="u_0_a">Analytics and research</div>
                        We use cookies to better understand how people use the Facebook Services so that we can improve
                        them.
                        <blockquote><i>For example:</i> Cookies can help us understand how people use the Facebook
                          Service, analyze which parts of the Facebook Services people find most useful and engaging,
                          and identify features that could be improved.
                        </blockquote>
                      </div>
                    </div>
                  </div>
                  <div class="_3x93 _xps _52ii _3m9" id="u_0_b">
                    <div class="_t3o" id="u_0_m"><a href="#" role="button"><i
                      class="_t3p img sp_SxsAYfIG78L sx_28c814"></i><i class="_4v8- img sp_SxsAYfIG78L sx_cd0af7"></i>
                      <div class="_t3q">Return to top</div>
                    </a></div>
                    <h3 class="_3x94 _52io _3m9">Where do we use cookies?</h3> We may place cookies on your computer or
                    device, and receive information stored in cookies, when you use or visit: <br><br>
                    <ul class="_5fg6">
                      <li>The <a href="/help/1561485474074139">Facebook Services</a>;</li>
                      <li>Services provided by other members of the <a href="/help/111814505650678">Facebook family of
                        companies</a>; and
                      </li>
                      <li>Services provided by other companies that use the Facebook Services (such as companies that
                        incorporate the Like button or Facebook’s advertising services into their websites and apps).
                      </li>
                    </ul>
                    <br> We may also set and receive information stored in cookies from other domains used by the
                    Facebook family of companies, including the adtmt.com, liverail.com and Instagram.com domains.
                  </div>
                  <div class="_3x93 _17ix _52ii _3m9" id="u_0_c">
                    <div class="_t3o" id="u_0_n"><a href="#" role="button"><i
                      class="_t3p img sp_SxsAYfIG78L sx_fbf387"></i><i class="_4v8- img sp_SxsAYfIG78L sx_9508ed"></i>
                      <div class="_t3q">Return to top</div>
                    </a></div>
                    <h3 class="_3x94 _52io _3m9">Do other parties use cookies in connection with the Facebook
                      Services?</h3> Yes, other parties may use cookies on the Facebook Services to provide services to
                    us and the businesses that advertise on Facebook. <br><br> For example, our measurement partners use
                    cookies on the Facebook Services to help advertisers understand the effectiveness of their Facebook
                    advertising campaigns and to compare the performance of those campaigns to ads displayed on other
                    websites and apps. <a href="#" ajaxify="/policies/cookies/learnmore/" rel="dialog" role="button">Learn
                    more</a> about the companies that use cookies on the Facebook Services. <br><br> Third parties also
                    use cookies on their own sites and apps in connection with the Facebook Services. To understand how
                    other parties use cookies, please review their policies.
                  </div>
                  <div class="_3x93 _17iv _52ii _3m9" id="u_0_d">
                    <div class="_t3o" id="u_0_o"><a href="#" role="button"><i
                      class="_t3p img sp_SxsAYfIG78L sx_1257d1"></i><i class="_4v8- img sp_SxsAYfIG78L sx_45fe2c"></i>
                      <div class="_t3q">Return to top</div>
                    </a></div>
                    <h3 class="_3x94 _52io _3m9">How can you control Facebook’s use of cookies to show you ads?</h3> One
                    of the ways we use cookies is to show you useful and relevant ads on and off Facebook. You can
                    control how we use data to show you ads by using the tools described below.
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma" id="u_0_e">If you have a Facebook Account:</div>
                        <ul class="_5fg6">
                          <li>You can use your <a href="/ads/preferences/edit/">ad preferences</a> to learn why you’re
                            seeing a particular ad and control how we use information we collect to show you ads.
                          </li>
                          <li>Some of the ads you see are based on your activity on websites and apps beyond the
                            Facebook family of companies. We call this online interest-based advertising. You can
                            control whether you see online interest-based ads from Facebook in your <a
                              href="/ads/settings">ad settings</a>.
                          </li>
                          <li>The Facebook Audience Network is a way for advertisers to show you ads in apps and
                            websites beyond the Facebook family of companies. One of the ways Audience Network shows
                            relevant ads is by using your ad preferences to determine which ads you may be interested in
                            seeing. You can control this in your <a href="/ads/settings">ad settings.</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma" id="u_0_f">Everyone:</div>
                        You can opt out of seeing online interest-based ads from Facebook and other participating
                        companies through the <a
                        href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.aboutads.info%2Fchoices%2F&amp;h=KAQH9sjkI&amp;s=1"
                        rel="nofollow" target="_blank"
                        onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/www.aboutads.info\/choices\/&quot;);"
                        onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/www.aboutads.info\/choices\/&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fwww.aboutads.info\u00252Fchoices\u00252F&amp;h=KAQH9sjkI&amp;render_verification=0&amp;enc&amp;d&quot;);">Digital
                        Advertising Alliance</a> in the US, the <a
                        href="http://l.facebook.com/l.php?u=http%3A%2F%2Fyouradchoices.ca%2F&amp;h=3AQEgswSz&amp;s=1"
                        rel="nofollow" target="_blank"
                        onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/youradchoices.ca\/&quot;);"
                        onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/youradchoices.ca\/&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fyouradchoices.ca\u00252F&amp;h=3AQEgswSz&amp;render_verification=0&amp;enc&amp;d&quot;);">Digital
                        Advertising Alliance of Canada</a> in Canada, or the <a
                        href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.youronlinechoices.eu%2F&amp;h=2AQHifNj-&amp;s=1"
                        rel="nofollow" target="_blank"
                        onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/www.youronlinechoices.eu\/&quot;);"
                        onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/www.youronlinechoices.eu\/&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fwww.youronlinechoices.eu\u00252F&amp;h=2AQHifNj-&amp;render_verification=0&amp;enc&amp;d&quot;);">European
                        Interactive Digital Advertising Alliance</a> in Europe or through your mobile device settings.
                      </div>
                    </div>
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma" id="u_0_g">More information about online advertising:</div>
                        The advertising companies we work with generally use cookies and similar technologies as part of
                        their services. To learn more about how advertisers generally use cookies and the choices they
                        offer, you can review the following resources: <br>
                        <ul class="_5fg6">
                          <li><a
                            href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.aboutads.info%2Fchoices%2F&amp;h=NAQHUbC5W&amp;s=1"
                            rel="nofollow" target="_blank"
                            onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/www.aboutads.info\/choices\/&quot;);"
                            onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/www.aboutads.info\/choices\/&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fwww.aboutads.info\u00252Fchoices\u00252F&amp;h=NAQHUbC5W&amp;render_verification=0&amp;enc&amp;d&quot;);">Digital
                            Advertising Alliance</a></li>
                          <li><a
                            href="http://l.facebook.com/l.php?u=http%3A%2F%2Fyouradchoices.ca%2F&amp;h=9AQFAtIC9&amp;s=1"
                            rel="nofollow" target="_blank"
                            onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/youradchoices.ca\/&quot;);"
                            onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/youradchoices.ca\/&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fyouradchoices.ca\u00252F&amp;h=9AQFAtIC9&amp;render_verification=0&amp;enc&amp;d&quot;);">Digital
                            Advertising Alliance of Canada</a></li>
                          <li><a
                            href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.youronlinechoices.eu%2F&amp;h=7AQGoZCOG&amp;s=1"
                            rel="nofollow" target="_blank"
                            onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/www.youronlinechoices.eu\/&quot;);"
                            onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/www.youronlinechoices.eu\/&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fwww.youronlinechoices.eu\u00252F&amp;h=7AQGoZCOG&amp;render_verification=0&amp;enc&amp;d&quot;);">European
                            Interactive Digital Advertising Alliance</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="_xpp">
                      <div class="_xpq"></div>
                      <div class="_xpr">
                        <div class="_3ma" id="u_0_h">Browser cookie controls:</div>
                        In addition, your browser or device may offer settings that allow you to choose whether browser
                        cookies are set and to delete them. For more information about these controls, visit your
                        browser or device's help material. Certain parts of the Facebook Services may not work properly
                        if you have disabled browser cookie use.
                      </div>
                    </div>
                    <br><br> Date of Last Revision: May 26, 2016
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<wth-footer-promotion></wth-footer-promotion>
