<ng-template #objectActionsTemplate>
  <ul class="page-body-control-menu" [ngClass]="{'text-disable': noSelectedObjects}"
      [class.disabled]="noSelectedObjects">
    <li>
      <a class="btn btn-default" draggable="false" pTooltip="{{ tooltip.share}}" tooltipPosition="bottom"
         href="javascript:void(0);"
         (click)="toolbar.doAction({action: 'openModal',
         payload: {modalName: 'sharingModal', selectedObjects: toolbar.selectedObjects}})">
        <i class="fa fa-share-alt"></i>
      </a>
    </li>

    <li>
      <a class="btn btn-default" href="javascript:void(0);" draggable="false"
         *ngIf="toolbar.favoriteAll"
         (click)="toolbar.doAction({
           action: 'favourite',
           payload: { mode: 'remove',
           multiItem: true,
           selectedObjects: toolbar.selectedObjects }})"
         pTooltip="{{ tooltip.removeFromFavourites }}"
         tooltipPosition="bottom">
        <i class="fa fa-star"></i>
      </a>
      <a class="btn btn-default" href="javascript:void(0);" draggable="false"
         *ngIf="!toolbar.favoriteAll"
         (click)="toolbar.doAction({
           action: 'favourite',
           payload: { mode: 'add',
           multiItem: true,
           selectedObjects: toolbar.selectedObjects }})"
         pTooltip="{{ tooltip.addToFavorites }}"
         tooltipPosition="bottom">
        <i class="fa fa-star-o"></i>
      </a>
    </li>
    <li>
      <a class="btn btn-default" href="javascript:;" draggable="false"
         (click)="toolbar.doAction({action: 'openModal',
         payload: { modalName: 'taggingModal', selectedObjects: toolbar.selectedObjects }})"
         pTooltip="{{ tooltip.tag}}" tooltipPosition="bottom">
        <i class="fa fa-tag"></i></a>
    </li>
    <li>
      <a class="btn btn-default" href="javascript:;" draggable="false"
         (click)="toolbar.doAction({action: 'openModal', payload: {
         modalName:'deleteModal', selectedObjects: toolbar.selectedObjects}})"
         pTooltip="{{ tooltip.delete}}" tooltipPosition="bottom">
        <i class="fa fa-trash-o"></i></a>
    </li>

    <li class="dropdown action">
      <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
         pTooltip="{{ tooltip.moreAction}}" tooltipPosition="bottom">
        <i class="fa fa-ellipsis-v"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
        <li>
          <a (click)="toolbar.doAction({action: 'slideShow', payload: {}})" href="javascript:;" draggable="false">
            <i class="fa fa-toggle-right"></i> Slideshow
          </a>
        </li>
        <li>
          <a (click)="toolbar.doAction({action: 'setCoverImage', payload: {}})" href="javascript:;" draggable="false">
            <i class="fa fa-image"></i> Set Album Cover
          </a>
        </li>
        <li *ngIf="toolbar.hasOneObject">
          <a (click)="toolbar.doAction({
            action: 'openModal',
            payload: {modalName: 'editInfoModal', selectedObject: toolbar.selectedObjects[0]}
          })" href="javascript:void(0);" draggable="false" >
            <i class="fa fa-edit"></i> Edit Information
          </a>
        </li>
        <li *ngIf="toolbar.hasOneObject">
          <a (click)="toolbar.doAction({
            action: 'viewDetails',
            payload: { selectedObject: toolbar.selectedObjects[0] }
          })" href="javascript:void(0);" draggable="false" >
            <i class="fa fa-info-circle"></i> View Detail
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" draggable="false" [ngClass]="{'text-disable': gridlist.selectedObjects.length != 1}"
             (click)="toolbar.doAction({action: 'downloadAlbum', payload: {selectedObjects: selectedObjects}})">
            <i class="fa fa-download"></i> Download
          </a>
        </li>
      </ul>
    </li>
  </ul>
</ng-template>

<w-toolbar #toolbar
           [view]="gridlist.view"
           [selectedObjects]="gridlist.selectedObjects"
           [objectActionsTemplate]="objectActionsTemplate"
           (event)="gridlist.doEvent($event)">
</w-toolbar>

<w-grid-list #gridlist
             [objects]="albums$|async"
             [nextLink]="nextLink$|async"
             (event)="doEvent($event)"
             (selectedObjectsChanged)="toolbar.updateSelectedObjects($event)">

  <!--no data region-->
  <div class="zone-no-photo text-center" *ngIf="!gridlist.objects.length">
    <div>
      <h2><i class="icon-album"></i></h2>
      <h3>There are no albums!</h3>
      <p>
        <button class="btn btn-outline-primary"
                (click)="doEvent({action: 'openModal', payload: {modalName: 'createAlbumModal'}})">
          <i class="fa fa-plus-circle"></i> Create an album
        </button>
      </p>
    </div>
  </div>
</w-grid-list>

<div class="gray-light" *ngIf="loading$|async">
  <div class="text-center">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  </div>
</div>
<ng-template #modalContainer></ng-template>
