<form>
  <bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">
        <i class="fa fa-plus"></i> Import Contact</h4>
    </bs-modal-header>
    <bs-modal-body>
      <p>Import your contacts from other account</p>

      <ul class="list-unstyled list-import-wrapper" *ngFor="let p of PROVIDERS; let i = index;">
        <li>
          <div (click)="selectProvider({name: p?.name, provider: p?.provider, type: p?.type})" class="d-flex can-click">
            <div>
              <i [ngClass]="p.class"></i>
            </div>
            <div class="list-import-text">{{ p.text }}</div>
            <div>
              <i *ngIf="p.name == 'apple'" class="fa fa-question-circle" (click)="iCloudIntroduce($event)"></i>
            </div>
          </div>
        </li>
      </ul>

      <ul class="list-unstyled list-import-wrapper">
        <li>
          <div class="d-flex can-click">
            <div>
              <h-file-upload #fileUpload styleClass="h-ui-file-upload" customUpload="true" mode="basic" accept=".vcf,.csv,.xls,.xlsx" [icon]="'fa-download'"
                [chooseLabel]="'Import from file'" (onSelect)="selectProvider({name: 'import_from_file', provider: 'import_from_file', event: $event}); fileUpload.clear();">
              </h-file-upload>
            </div>
            <div class="list-import-text">
              Import from file
              <div class="text-fade">
                <small>vcard, csv, excel</small>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </bs-modal-body>
    <bs-modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal" (click)="modal.close()">Cancel
      </button>
    </bs-modal-footer>
  </bs-modal>
</form>

<z-contact-share-icloud-indicate #icloud></z-contact-share-icloud-indicate>