<div *ngIf="data" class="photo-box-img" id="photo-box-img-{{ data.id }}">
  <div *ngIf="actionFavourite" class="photo-box-img-action">
    <i (click)="onAction('favourite')" class="fa" [ngClass]="data.favorite ? 'fa-star': 'fa-star-o'"></i>
  </div>


  <!--type == 'photo'-->
  <div *ngIf="type == 'photo'" class="photo-box-img-figure">
    <figure class="img-center-dv" (click)="onAction('select')" (dblclick)="onAction('previewAll')">
      <img class="img-full" src="/assets/images/zone/img-photo.png" alt="">
      <img class="img-center" [src]="data.thumbnail_url" alt="">
    </figure>
    <div class="photo-box-img-name">
      <span (dblclick)="onAction('editName')">{{ data.name }}.{{ data.extension }}</span>
    </div>
    <div class="photo-box-img-owner">{{ data.owner.name }}</div>
    <div class="photo-box-img-date">{{ data.created_at | timeFormat }}</div>
    <div class="photo-box-img-size">{{ data.size }}</div>
  </div>

  <!--type == 'album'-->
  <div *ngIf="type == 'album'" class="photo-box-img-figure">
    <figure class="img-center-dv" (click)="onAction('select')" (dblclick)="onAction('previewAll')">
      <img class="img-full" src="/assets/images/zone/img-photo.png" alt="">
      <img class="img-center" [src]="data.photo_default" alt="">
      <div class="photo-box-img-info">
        <!--{{ data.name }} <br>-->
        <span *ngIf="data.photo_number>1">
          {{ data.photo_number }} photos
        </span>
        <span *ngIf="data.photo_number<=1">
          {{ data.photo_number }} photo
        </span>
      </div>
    </figure>
    <div class="photo-box-img-name">
      <span (dblclick)="onAction('editName')">{{ data.name }}</span>
    </div>
    <div class="photo-box-img-owner">{{ data.owner.name }}</div>
    <div class="photo-box-img-date">{{ data.created_at | timeFormat }}</div>
    <div class="photo-box-img-size">{{ data.photo_number }}</div>
  </div>


</div>
