@import "../../../assets/styles/global";

.w-list {
  padding: 8px;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  w-list-item {
    flex-wrap: wrap;
    padding: 10px;
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
  }
}
