.accordion-menu {
  .ui-accordion {
    .ui-accordion-header {
      &, &:hover, &:focus {
        background-color: transparent !important;
        border-width: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        color: $text-color !important;
      }
      a {
        padding: 5px 0;
        color: inherit;
        margin: 0;
        text-decoration: none;
        .fa-caret-right {
          &:before {
            content: $fa-var-chevron-right;
          }
        }
        .fa-caret-down {
          &:before {
            content: $fa-var-chevron-down;
          }
        }
      }
    }
    .ui-accordion-content {
      padding: 0;
      ul {
        li {
          padding: 10px 0;
        }
      }
    }
  }
}
