.panel-default > .panel-heading .badge, .badge {
  background-color: #d8d8d8;
  color: #4A4A4A;
  &.active {
    background-color: #F54A59;
    color: #ffffff;
  }
}

.badge {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0 0 0 5px;
  position: relative;
  top: -2px;
}

.badge-rounded {
  min-width: 30px;
  text-align: center;
  height: 30px;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;

}

.badge-right {
  margin-left: 5px;
}

.badge-wth {
  position: relative;
  top: -1px;
  font-size: 14px;
  background-color: #F54A59;
  color: #ffffff;
}
