@import "hover/hover";

/*
<button class="btn">btn</button>
<button class="btn btn-default">btn-default</button>
<button class="btn btn-primary">btn-primary</button>
<button class="btn btn-success">btn-success</button>
<button class="btn btn-warning">btn-warning</button>
<button class="btn btn-info">btn-info</button>
<button class="btn btn-danger">btn-info</button>
<button class="btn btn-link">btn-btn-link</button>
<button class="btn btn-outline">btn-outline</button>
<button class="btn btn-outline-default">btn-outline-default</button>
<button class="btn btn-outline-primary">btn-outline-primary</button>
<button class="btn btn-outline-success">btn-outline-success</button>
<button class="btn btn-outline-warning">btn-outline-warning</button>
<button class="btn btn-outline-info">btn-outline-info</button>
<button class="btn btn-outline-danger">btn-outline-info</button>
<button class="btn btn-outline-link">btn-outline-link</button>
<button class="btn btn-detail">btn-detail</button>
*/

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-outline($color) {
  color: $color;
  background-color: #FFFFFF;
  border-color: $color;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken(#D8D8D8, 1%);
    border-color: $color;
  }
  &:hover {
    color: $color;
    background-color: #D8D8D8;
    border-color: $color;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken(#D8D8D8, 1%);
    border-color: $color;

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken(#D8D8D8, 1%);
      border-color: $color;
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: #FFFFFF;
      color: $color;
    }
  }

  .badge {
    color: #FFFFFF;
    background-color: $color;
  }
}

.btn {
  line-height: 20px;
  font-weight: bold;
  &.text-normal {
    font-weight: normal;
  }

  &, &:hover, &:focus, &.focus {
    outline: none;
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      outline: none;
    }
  }
}

.btn-default {
  background-color: transparent;
  &, &:hover, &:focus, &.focus {
    border-color: transparent;
  }

  &:active,
  &.active {
    &:hover,
    &:focus,
    &.focus {
      border-color: transparent;
    }
  }
}

.btn-primary {
}

.btn-success {
}

.btn-info {
}

.btn-warning {
}

.btn-danger {
}

.btn-link {
}

.btn-outline {
}

.btn-text {
  cursor: text;
  color: inherit;
  &, &:hover, &:focus, &:active {
    background-color: transparent;
    @include box-shadow(none);
    padding: 6px 12px;
    line-height: 20px;
    font-weight: bold;
    border-color: transparent;
  }
}

.btn-outline-default {
  @include button-outline($btn-default-color);
  border-color: #9B9B9B;
}

.btn-outline-primary {
  @include button-outline($brand-primary);
}

.btn-outline-success {
  @include button-outline($brand-success);
}

.btn-outline-info {
  @include button-outline($brand-info);
}

.btn-outline-warning {
  @include button-outline($brand-warning);
}

.btn-outline-danger {
  @include button-outline($brand-danger);
}

.btn-outline-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

.btn {
  min-width: 34px;
  &.btn-xs {
    min-width: 24px;
  }
  &.btn-sm {
    min-width: 32px;
  }
}

.btn-min {
  min-width: 106px;
  text-align: center;
}

.btn-min-sm {
  @extend .btn-min;
  @media (min-width: $screen-sm-min) {
    min-width: 160px;
  }
}

.btn-detail {
  font-weight: normal;
  @include shutter-out-horizontal();
}

.btn-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 34px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  min-width: inherit;
}

/*
.btn {
  .fa-circle {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #FFF;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 3px;
    &:before {
      display: none;
    }
    &.online {
      background-color: $user-online;
    }
    &.offline {
      background-color: $user-offline;
    }
  }
}*/

.ui-dialog-footer, .modal-footer {
  .btn-min + .btn-min {
    margin-left: 10px;
  }
}

.input-group-btn {
  .btn-outline-default {
    border-color: #ccc;
  }
}
