$font-style: 'Source Sans Pro', sans-serif;
$font-base: 'Lato', sans-serif;

$transition-base: all 0.3s ease;

$header-height: 50px;
$header-height-xs: 50px;

$main-page-left: 270px;
$main-page-left-sm: 200px;
$page-body-control-height: 64px;
$page-body-control-sub-height: 50px;
$photo-detail-info-width: 380px;


$avatar-xxs: 30px;
$avatar-xs: 34px;
$avatar-xsm: 54px;
$avatar-sm: 70px;
$avatar-md: 100px;
$avatar-lg: 150px;

// User Online
$user-online: #6DD9AC;
$user-offline: #d8d8d8;

$box-shadow-bottom: 0px 4px 4px 0px rgba(73, 73, 73, 0.4);
$box-shadow-bottom-sm: 0px 2px 2px 0px rgba(73, 73, 73, 0.2);

$box-shadow-right: 2px 2px 4px 0px rgba(73, 73, 73, 0.40);
$box-shadow-right-sm: 2px 2px 2px 0px rgba(73, 73, 73, 0.40);

$box-shadow-left: -2px 2px 4px 0 rgba(73, 73, 73, 0.40);
$box-shadow-left-sm: -2px 2px 2px 0 rgba(73, 73, 73, 0.40);
