.modal-header-action {
  background: #FFFFFF;
  @include box-shadow(0px 2px 4px 0px rgba(163, 163, 163, 0.40));
  .modal-header {
    position: relative;
  }
  .close {
    float: left;
    position: absolute;
    left: 15px;
    right: auto;
    top: 15px;
    margin: 0;
    height: 34px;
  }
  span.modal-title {
    font-weight: normal;
    font-size: 14px;
    display: block;
    text-align: center;
    height: 34px;
    line-height: 34px;
  }
  .btn-outline-primary {
    position: absolute;
    top: 15px;
    left: auto;
    right: 15px;
    margin: 0;
  }
}

.modal-header {
  padding-bottom: 0;
  border-bottom-width: 0;

  background-color: #ffffff;
  background-image: none;
  @include border-top-radius($border-radius-large);

  .close {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.modal-content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.modal-footer {
  border-top-width: 0;
  @include border-bottom-radius($border-radius-large);
  .btn-min {
    min-width: 86px;
  }
}

.modal {
  .modal-title-action {
    float: right;
  }
  .divider {
    margin-left: -$modal-inner-padding;
    margin-right: -$modal-inner-padding;
  }
}

.modal-body {
  > .list-group {
    margin-left: -$modal-inner-padding;
    margin-right: -$modal-inner-padding;
    margin-bottom: -$modal-inner-padding;
    .list-group-item {
      border-left-width: 0;
      border-right-width: 0;
      &:first-child {
        @include border-top-radius(0);
      }
      &:last-child {
        border-bottom-width: 0;
      }
    }
  }
  .modal-body-content {
    @include flex(1);
    margin-right: -$modal-inner-padding;
    padding-right: $modal-inner-padding;
    overflow: auto;
  }
}

.modal-header-nav {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  .modal-header-navbar {
    margin: -5px 0;
    padding: 0;
    list-style-type: none;
    @include flexbox;
  }
}

.modal-full-height {
  .modal-content {
    height: calc(100vh - 80px);
    @include flexbox;
    @include flex-direction(column);
    @media (min-width: $screen-sm-min) {
      height: calc(100vh - 60px);
    }
  }
  bs-modal-body {
    @include flex(1);
    @include flexbox;
    @include flex-direction(column);
  }
  .modal-body {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    overflow: auto;
  }
}

.modal-on-top {
  z-index: 2000;
}
