.nav-tabs-wrap {
  //border-top: 1px solid $line;
  padding: 0 15px;
  .nav-tabs {
    border-width: 0;
    margin: 0;
    padding: 0;
    > li {
      margin: 0;
      > a {
        &,
        &:hover,
        &:focus {
          display: block;
          //font-size: 18px;
          font-weight: bold;
          color: $text-color-fade;
          position: relative;
          text-decoration: none;
          line-height: 34px;
          padding: 0 15px;
          border: 0 none;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          background-color: transparent;
          @media (max-width: $screen-md-max) and (min-width: $screen-sm-min) {
            font-size: 12px;
            padding-left: 5px;
            padding-right: 5px;
          }
        }
        &:hover {
          color: $text-color;
        }
        span {
          //font-size: 80%;
          font-weight: normal;
          color: #89919c;
        }
      }
      &.active {
        > a {
          color: $text-color;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            color: #000000;
            font-weight: bold;
            background-color: rgb(245, 74, 89);
            height: 3px;
          }
        }
      }
    }

    &.nav-tabs-sm {
      > li {
        > a {
          padding-left: 8px;
          padding-right: 8px;
          &,
          &:hover,
          &:focus {
            font-size: 14px;
          }
          span {
            font-size: 14px;
            display: inline-block;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            min-width: 28px;
            background-color: #D8D8D8;
            line-height: 28px;
            text-align: center;
            padding: 0 2px;
            float: right;
            margin-left: 3px;
            margin-top: 3px;
          }
        }
      }
    }
  }
  &.nav-tabs-wrap-sm {
    .nav-tabs {
      > li {
        > a {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  &.nav-tabs-wrap-md {
    .nav-tabs {
      > li {
        > a {
          @media (min-width: $screen-md-min) {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
  &.nav-tabs-wrap-lg {
    .nav-tabs {
      > li {
        > a {
          @media (min-width: $screen-lg-min) {
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}
