

<div class="toast-upload-wrap">
  
  <!-- uploading status -->
  <div class="toast-upload-item" *ngIf="step==1">
    <div class="toast-upload-header">
      <button class="toast-upload-close" type="button" (click)="close()"><i class="fa fa-times"></i></button>
      Uploading
    </div>
    <div class="toast-upload-content">
      <div class="media">
        <div class="media-left">
          <div class="photo-box-img">
            <figure class="img-center-dv">
              <img class="img-full" src="/assets/images/zone/img-photo.png" alt="">
              <img class="img-center img-uploading" [src]="current_photo"  alt="">              
            </figure>
          </div>
        </div>
        <div class="media-body">
          <p>Uploading to Photo library</p>
          <p class="media-heading">{{uploaded_num}} of  {{files_num}}</p>
          <div class="text-right">
            <a href="javscript();" (click)="stop($event)">Stop</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- finish uploading  -->
  <div class="toast-upload-item" *ngIf="step==2">
    <div class="toast-upload-header">
      <button class="toast-upload-close" type="button" (click)="close()"><i class="fa fa-times"></i></button>
      Uploaded
    </div>
    <div class="toast-upload-content">
      <div class="media">
        <div class="media-left">
          <div class="photo-box-img">
            <figure class="img-center-dv">
              <img class="img-full" src="/assets/images/zone/img-photo.png" alt="">
              <img class="img-center"
                   [src]="current_photo"
                   alt="">
            </figure>
          </div>
        </div>
        <div class="media-body">
          <p>Uploaded to Photo</p>
          <p class="media-heading">{{uploaded_num}} of {{files_num}}</p>
          <div class="text-right">
            <a href="#">Create Album</a> <a class="ml10" href="#">Add to Album</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- uploading haas error(s) -->
  <div class="toast-upload-item" *ngIf="step==3">
    <div class="toast-upload-header">
      <button class="toast-upload-close" type="button" (click)="close()"><i class="fa fa-times"></i></button>
      <i class="fa fa-exclamation-triangle"></i> Can not be uploaded
    </div>
    <div class="toast-upload-content">
      Files can not be uploaded
    </div>
  </div>


  <!-- uploading stopped-->
  <div class="toast-upload-item" *ngIf="step==4">
    <div class="toast-upload-header">
      <button class="toast-upload-close" type="button" (click)="close()"><i class="fa fa-times"></i></button>
      <i class="fa fa-exclamation-triangle"></i> Upload stopped
    </div>
    <div class="toast-upload-content">
      {{stopped_num}} upload stopped
    </div>
  </div>

</div>

