.toast-upload-wrap {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 200;
}

.toast-upload-wrap .toast-upload-item {
  margin-bottom: 10px;
  width: 370px;
  border: 1px solid #d8d8d8;
}

.toast-upload-wrap .toast-upload-header {
  line-height: 20px;
  padding: 15px;
  background-color: #4a4a4a;
  color: #ffffff;
  position: relative;
}

.toast-upload-wrap .toast-upload-close {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -13px;
  height: 20px;
  color: #9b9b9b;
  font-size: 24px;
  padding: 0;
  background-color: transparent;
  border-width: 0;
  outline-style: none;
}

.toast-upload-wrap .toast-upload-close:hover {
  color: #ffffff;
}

.toast-upload-wrap .toast-upload-content {
  padding: 15px;
  background-color: #ffffff;
  color: #9b9b9b;
}

.toast-upload-wrap .toast-upload-content .photo-box-img {
  width: 120px;
}

.toast-upload-wrap .toast-upload-content .photo-box-img .img-center-dv {
  border: 1px solid #d8d8d8;
}

.toast-upload-wrap .toast-upload-content .media-heading {
  font-size: 24px;
}
