<section class="page-content bg-gray-light">
  <div class="container">
    <div class="header-intro">
      <h2><span>Welcome to WTH!Apps</span></h2>
      <div class="mb20">
        <i class="fa fa-4x fa-check-circle"></i>
      </div>
      <p class="mb20">
        You have successfully created your WTH!Apps account. <br>
        Next, let’s set up your account.
      </p>
      <p>
        <a [routerLink]="['/takeatour']" href="#" class="btn btn-min btn-primary"> Ok let’s go </a>
        <a [routerLink]="['/profile']" href="#" class="btn btn-min btn-outline-default ml5">No thanks</a>
      </p>
    </div>
  </div>
</section>

