<div class="page-content">
  <div class="container">
    <div class="form-box-sm" *ngIf="confirmed">
      <div class="text-center">
        <h3>
          <i class="fa fa-check-circle-o" style="color: green"></i>
        </h3>
        <p class="h4">Email address verification succeeded</p>
      </div>
      <div class="text-left pl50">
        <p>Your email address has been confirmed and your is successfully verified.</p>
        <p>If you have any questions, please visit <a [href]="faqUrl">FAQs</a>.</p>
        <p>Or click on below button for continuing to WTHZone.</p>
      </div>
      <div class="text-center">

        <div class="form-group">
          <a class="btn btn-primary" [href]="socialUrl">Continue to WTHZone</a>
        </div>
      </div>
    </div>

    <div class="form-box-sm" *ngIf="!confirmed">
      <div class="text-center">
        <h3>
          <i class="fa fa-times-circle-o" style="color: red"></i>
        </h3>
        <p class="h4">Email address verification failed!</p>
      </div>
      <div class="text-left  pl50">
        <p>Your email address couldn't be verified.</p>
        <p>Please click on below button to redirect to your profile. Then, press Verify button.</p>
        <p>Or click on below button for continuing to WTHZone.</p>
      </div>

      <div class="text-center">

        <div class="form-group">
          <a class="btn btn-primary" [href]="profileUrl">Go to Account Management</a>
        </div>
      </div>
    </div>

  </div>
</div>

