<div class="page-content">
  <div class="container">
    <div class="form-box-sm" *ngIf="confirmed">
      <div class="text-center">
        <h1>
          <i class="fa fa-check-circle-o" style="color: green"></i>
        </h1>
        <p class="h4">Email verification successful</p>
      </div>
      <div class="text-left pl50">
        <p>Your email address has been confirmed and your account is successfully verified.</p>
        <p>If you have any questions, please visit <a [href]="faqUrl">FAQs</a>.</p>
        <p>Or click on the button below and redirect to WTH!Zone.</p>
      </div>
      <div class="text-center">

        <div class="form-group">
          <a class="btn btn-primary" [href]="socialUrl">Continue to WTH!Zone</a>
        </div>
      </div>
    </div>

    <div class="form-box-sm" *ngIf="!confirmed">
      <div class="text-center">
        <h1>
          <i class="fa fa-times-circle-o" style="color: red"></i>
        </h1>
        <p class="h4">Email address verification failed</p>
      </div>
      <div class="text-left  pl50">
        <p>Your email address couldn't be verified.</p>
        <p>Your verification emails maybe out of date.</p>
        <p>Please click on button below to redirect to your account management. Then, press Verify Email button to receive new verification email.</p>
      </div>

      <div class="text-center">

        <div class="form-group">
          <a class="btn btn-primary" [href]="profileUrl">Go to Account Management</a>
        </div>
      </div>
    </div>

  </div>
</div>

