<template #toolbarContainer></template>


<!--<div class="page-body-content has-page-body-control gray-light"-->
  <!--infinite-scroll-->
  <!--[infiniteScrollDistance]="2"-->
  <!--[infiniteScrollThrottle]="500"-->
  <!--[scrollWindow]="false"-->
  <!--(scrolled)="loadMoreObjects()">-->
  <!--<div class="page-body-content-in">-->

    <!--<div *ngIf="photoIsEmpty" class="zone-no-photo text-center">-->
      <!--<h3>Ready to add some photos?</h3>-->
      <!--<h5>Drop photos anywhere to upload</h5>-->
    <!--</div>-->
    <template #listContainer></template>

    <!--<me-list-->
      <!--[type]="'photo'"-->
      <!--[data]="objects"-->
      <!--[hasAction]="['favourite', 'select', 'previewAll', 'editName']"-->
      <!--(outEvent)="actionItem($event)">-->
    <!--</me-list>-->

    <!--<div class="p50" [ngClass]="{'inside-loading': nextLink != null, 'hidden':nextLink == null}"></div>-->
  <!--</div>-->
<!--</div>-->

<template #modalContainer></template>

<!--<z-media-photo-detail [mediaToolbar]="mediaToolbar" #photoDetail [selectedPhotos]="selectedPhotos"-->
<!--[allPhotos]="data"></z-media-photo-detail>-->


