<div class="page-body-control has-page-body-sidebar">
  <div class="p-list-user-item">
    <div class="pull-right">
      <button type="button" class="btn btn-default-inline" (click)="addContact.modal.open()">
        <i class="fa fa-user-plus"></i>
      </button>
      <button type="button" class="btn btn-default-inline">
        <i class="fa fa-star-o"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default-inline dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">View Photos</a></li>
          <li><a href="#">Mark as Unread</a></li>
          <li role="separator" class="divider"></li>

          <!--show if current isn't one user-->
          <li><a href="javascript:;" (click)="editConversation.modal.open()">Edit Conversation</a></li>
          <!--show if current isn't one user-->

          <li><a href="#">Leave Conversation</a></li>
          <li><a href="#">Delete Conversation</a></li>

          <!--show if current is one user-->
          <li role="separator" class="divider"></li>
          <li><a href="#">View Social Profile</a></li>
          <li><a href="#">View in Contact</a></li>
          <!--show if current is one user-->

          <li role="separator" class="divider"></li>
          <li><a href="#">Disable Notification</a></li>
        </ul>
      </div>
    </div>
    <img alt="David Nguyen"
         src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
    <div class="p-list-user-namegroup">
      <span>Group Number 03</span>
      <small>3 people</small>
    </div>
  </div>
</div>


<z-chat-share-edit-conversation #editConversation></z-chat-share-edit-conversation>
<z-chat-share-add-contact #addContact></z-chat-share-add-contact>
