<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <account-menu></account-menu>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{pageTitle}}</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <a href="#" class="btn btn-success">Add</a>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th></th>
                            <th>Hostname</th>
                            <th>Type</th>
                            <th>Create At</th>
                            <th>Update At</th>
                            <th>IP</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox">
                                </label>
                            </td>
                            <td>
                                Ben
                            </td>
                            <td>A</td>
                            <td>5/26/2016 8:09:10 AM</td>
                            <td>5/26/2016 12:00:34 PM</td>
                            <td>192.168.1.1</td>
                            <td>
                                <a class="btn btn-sm btn-info" href="#" role="button">Disable</a>
                                <a class="btn btn-sm btn-primary" href="#" role="button">Edit</a>
                                <a class="btn btn-sm btn-danger" href="#" role="button">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox">
                                </label>
                            </td>
                            <td>
                                Ben
                            </td>
                            <td>A</td>
                            <td>5/26/2016 8:09:10 AM</td>
                            <td>5/26/2016 12:00:34 PM</td>
                            <td>192.168.1.1</td>
                            <td>
                                <a class="btn btn-sm btn-info" href="#" role="button">Disable</a>
                                <a class="btn btn-sm btn-primary" href="#" role="button">Edit</a>
                                <a class="btn btn-sm btn-danger" href="#" role="button">Delete</a>
                            </td>
                        </tr>
                    </table>
                    <div class="text-center">
                        DNS Updater
                        <a target="_blank"
                           href="https://doc-0g-8c-docs.googleusercontent.com/docs/securesc/rv1gtga6qibq8mvd6eic80rvh0j27cun/mqulf8g98t1v3sr7c9f5mrgbfvv5lroj/1464256800000/13037392216642337497/01055184550098065008/0B5zHJKYP0TglM09PZTJaNTlNOUE?e=download&h=17049682760651394493&nonce=5r458q96bl7us&user=01055184550098065008&hash=7m5usqeip9jes04lb69tfk1kd2ddcs89https://doc-0g-8c-docs.googleusercontent.com/docs/securesc/rv1gtga6qibq8mvd6eic80rvh0j27cun/mqulf8g98t1v3sr7c9f5mrgbfvv5lroj/1464256800000/13037392216642337497/01055184550098065008/0B5zHJKYP0TglM09PZTJaNTlNOUE?e=download&h=17049682760651394493&nonce=5r458q96bl7us&user=01055184550098065008&hash=7m5usqeip9jes04lb69tfk1kd2ddcs89"
                        >Download now <i class="glyphicon glyphicon-download"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>