<div class="dropzone dropzone-overlap"
     (drop)="onDrop($event)"
     (dragenter)="dragenter()"
     (dragleave)="dragleave()"
     (dragover)="dragover($event)">

  <div class="dropzone-overlap-txt">
    <i class="fa fa-cloud-upload"></i>
    <p>Drag file anywhere to upload</p>
  </div>
</div>
<div *ngIf="category != mediaType.albumDetail">
  <zone-toolbar
    [selectedItems]="baseMedia.selectedItems"
    (openWindow)="openFileWindow($event)"
    (selectedFiles)="handleFileUpload($event)"
    (onViewChanged)="baseMedia.changeView($event)"
    (onPreview)="preview($event)"
    (onShare)="share($event)"
    (onTag)="tag($event)"
    (onFavourite)="baseMedia.addFavourite($event)"
    (onDelete)="baseMedia.delete($event)"
    (onAdd)="add($event)"
    (onEdit)="edit($event)"
    (onDownload)="download($event)"
    (onViewInfo)="viewInfo($event)"
    (createNewAlbum)="baseMedia.onCreateNewAlbum($event)"
  ></zone-toolbar>
</div>

<div [ngSwitch]="category">
  <div *ngSwitchCase="mediaType.photo">
    <zone-photo #media

    ></zone-photo>
  </div>
  <div *ngSwitchCase="mediaType.video">
    <zone-video></zone-video>
  </div>


  <div *ngSwitchCase="mediaType.album">
    <page-zone-album #media [pageView]="pageView"></page-zone-album>
  </div>
  <div *ngSwitchCase="mediaType.albumDetail">
    <page-zone-album-detail #media></page-zone-album-detail>
  </div>
</div>

<zone-uploading [files]="files"
                 (photoEvent)="photoEvent($event)"
                 (showModalAddToAlbumEvent)="showModalAddToAlbumEvent($event)"
                 (createNewAlbum)="onCreateNewAlbum($event)"
                 (needToReload)="uploadedItem($event)"
></zone-uploading>

<!--<added-to-album-toast [showAddedtoAlbumToast]="showAddedtoAlbumToast" [photoCount]="photoCount" [album]="album" (hideAddedtoAlbumToast)="hideAddedtoAlbumToast($event)"></added-to-album-toast>-->

<page-zone-form-add-to-album [showAddtoAlbumForm]="showAddtoAlbumForm" (modalHide)="onModalHideAlbum($event)" (createNewAlbum)="onCreateNewAlbum($event)"></page-zone-form-add-to-album>
<!--<page-zone-form-create-album [showCreateAlbumForm]="showCreateAlbumForm" (hideCreateAlbum)="onHideCreateAlbum($event)"></page-zone-form-create-album>-->
<!--<wth-toast-upload></wth-toast-upload>-->


<zone-sharing (modalHide)="onModalHide($event)" [modalShow]="modalShare" [selectedItems]="baseMedia.selectedItems"></zone-sharing>
<zone-tagging (modalHide)="onModalHide($event)" [modalShow]="modalTag" [selectedItems]="selectedItems"></zone-tagging>
<!--<zone-photo-edit [showModal]="modalEdit" (modalHide)='onModalHide($event)' [data]="onePhotoEdit"></zone-photo-edit>-->

<!--<created-album-toast [(showCreatedAlbumToast)]="showCreatedAlbumToast" [album]="album"></created-album-toast>-->

