<div class="dropzone dropzone-overlap"
     (drop)="onDrop($event)"
     (dragenter)="dragenter()"
     (dragleave)="dragleave()"
     (dragover)="dragover($event)">

  <div class="dropzone-overlap-txt">
    <i class="fa fa-cloud-upload"></i>
    <p>Drag file anywhere to upload</p>
  </div>
</div>
<div>
  <!--<zone-toolbar-->
    <!--[selectedItems]="baseMedia.selectedItems"-->
    <!--(openWindow)="openFileWindow($event)"-->
    <!--(selectedFiles)="handleFileUpload($event)"-->
    <!--(onViewChanged)="baseMedia.changeView($event)"-->
    <!--(onPreview)="preview($event)"-->
    <!--(onShare)="share($event)"-->
    <!--(onTag)="tag($event)"-->
    <!--(onFavourite)="baseMedia.addFavourite($event)"-->
    <!--(onDelete)="baseMedia.delete($event)"-->
    <!--(onAdd)="add($event)"-->
    <!--(onEdit)="edit($event)"-->
    <!--(onDownload)="download($event)"-->
    <!--(onViewInfo)="viewInfo($event)"-->
    <!--(createNewAlbum)="onCreateNewAlbum($event)"-->
  <!--&gt;</zone-toolbar>-->
</div>
<!--[pageView]="pageView"-->
<!--[preview]="modalPreview"-->
<!--[viewInfo]="modalViewInfo"-->
<!--<div [loadingModal]="isLoading"></div>-->
<!--<div id="loadingModal" class="modal fade in in-loading" tabindex="-1" role="dialog" [loadingModal]="isLoading" style="display: block">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->

    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

<div [ngSwitch]="category">
  <div *ngSwitchCase="mediaType.photo">
    <zone-photo #media

    ></zone-photo>
  </div>
  <div *ngSwitchCase="mediaType.video">
    <zone-video

    ></zone-video>
  </div>


  <div *ngSwitchCase="mediaType.album">
    <div class="inside-loading">
      <div>aaaaaaaaaaa</div>
    </div>
    <page-zone-album [pageView]="pageView"></page-zone-album>
  </div>
  <div *ngSwitchCase="mediaType.albumdetail">
    <!--<page-zone-album-detail (selectedPhotos)="changedSelectedItems($event)"-->
    <!--[resetSelected]="resetSelected">-->
    <!--</page-zone-album-detail>-->
    <page-zone-album-detail></page-zone-album-detail>
  </div>
</div>

<zone-uploading [files]="files"
                 (photoEvent)="photoEvent($event)"
                 (showModalAddToAlbumEvent)="showModalAddToAlbumEvent($event)"
                 (createNewAlbum)="onCreateNewAlbum($event)"
                 (needToReload)="uploadedItem($event)"
></zone-uploading>

<!--<added-to-album-toast [showAddedtoAlbumToast]="showAddedtoAlbumToast" [photoCount]="photoCount" [album]="album" (hideAddedtoAlbumToast)="hideAddedtoAlbumToast($event)"></added-to-album-toast>-->

<!--<page-zone-form-add-to-album [showAddtoAlbumForm]="showAddtoAlbumForm" (modalHide)="onModalHideAlbum($event)" (createNewAlbum)="onCreateNewAlbum($event)"></page-zone-form-add-to-album>-->
<!--<page-zone-form-create-album [showCreateAlbumForm]="showCreateAlbumForm" (hideCreateAlbum)="onHideCreateAlbum($event)"></page-zone-form-create-album>-->
<!--<wth-toast-upload></wth-toast-upload>-->


<!--<page-zone-form-sharing (modalHide)="onModalHide($event)" [modalShow]="modalShare" [data]="selectedItems"></page-zone-form-sharing>-->
<!--<page-zone-form-tagging (modalHide)="onModalHide($event)" [modalShow]="modalTag" [data]="selectedItems"></page-zone-form-tagging>-->
<!--<zone-photo-edit [showModal]="modalEdit" (modalHide)='onModalHide($event)' [data]="onePhotoEdit"></zone-photo-edit>-->

<!--<created-album-toast [(showCreatedAlbumToast)]="showCreatedAlbumToast" [album]="album"></created-album-toast>-->

