<div class="wrapper">
  <w-header class="header" [user]="authService.user$ | async" [loggedIn]="authService.loggedIn$ | async" [hasSearch]="false">
    <chat-shared-header class="header-nav-left"></chat-shared-header>
  </w-header>
  <main class="main">
    <w-left-menu [hideFooter]="true">
      <z-chat-share-sidebar></z-chat-share-sidebar>
    </w-left-menu>
    <div class="main-page-body">
      <router-outlet></router-outlet>
      <router-outlet name="modal"></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <wth-confirm></wth-confirm>
  <w-contact-selection></w-contact-selection>
  <contact-list-modal></contact-list-modal>
  <wth-zone-report></wth-zone-report>
</div>
<h-file-select-crop [useNewPhotoSelect]="true"></h-file-select-crop>
<w-media-selection></w-media-selection>
<wth-introduction #introduction [after]="{chat: true}" [data]="[
  {
    title: 'Welcome to WTH!Chat',
    icon: 'icon-zone-lg-chat',
    content: 'WTH!Chat allows you send message to your friends and family'
  }
  ]">
</wth-introduction>

<div class="w-uploader-file-input-container">
</div>

<app-wth-emoji></app-wth-emoji>
<card-user></card-user>

<w-card-detail-modal #cardDetailModal [card]="profile">
    <li class="dropdown card-actions" #cardActions>
        <button class="btn btn-default btn-default-no-border" type="button" data-toggle="dropdown">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <!-- <li>
            <a href="#" role="button" (click)="openInContact(profile)"><i class="icon-zone-contact" aria-hidden="true"></i> Open in Contacts</a>
          </li> -->
          <li>
              <a href="#" role="button" (click)="importContact(profile)"><i class="fa fa-user-plus" aria-hidden="true"></i> Import as a contact</a>
            </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="#" role="button" (click)="goToChat(profile)"><i class="fa fa-comments-o" aria-hidden="true"></i> Send message</a>
          </li>
          <li>
              <a href="#" role="button" (click)="addBlacklist(profile)"><i class="fa fa-ban" aria-hidden="true"></i> Blacklist</a>
            </li>
        </ul>
      </li>
</w-card-detail-modal>
