@import "../assets/styles/global";

.main {
  background-color: #E9EDF1;
}

.main-page-body .page-body-content.has-page-body-control {
  height: calc(100vh - #{$header-height} - #{$page-body-control-height});
  @include flexbox;
  @include flex-direction(column);
  overflow: auto;
}

.message-list-body {
  @include flexbox;
  @include flex(1);
  @include flex-direction(column);
  overflow: auto;
  position: relative;
  .message-item-owner {
    margin-top: 10px;
  }
}

@media (max-width: $screen-xs-max) {
  .page-body-nav-left {
    .media-user {
      height: 34px;
      .media-user-avatar {
        display: none;
        & + .media-user-name {
          left: 0 !important;
        }
      }
    }
  }
}

.message-item-content-request {
  // position: absolute;
  // left: 0;
  // right: 0;
  top: 0;
  text-align: left;
  padding: 15px;
  background-color: #fff;
  z-index: 10;
  box-shadow: inset 0 -1px 0 0 #D8D8D8;
}
