.img-center-dv {
  position: relative;
  .img-center {
    height:100%;
  }
}

.img-center-dv.loading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-image: url('https://cdn-apps.wthapps/icons/loading.gif'); //TODO fix
  background-repeat: no-repeat;
  background-position: center center;

}
