@import "../../../../assets/styles/global";

.img-center-dv {
  position: relative;
  .img-center {
    height:100%;
  }
}

.img-center-dv.loading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-image: url('https://cdn-apps.wthapps/icons/loading.gif'); //TODO fix
  background-repeat: no-repeat;
  background-position: center center;
}

.row-img {
  @include clearfix;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;

  .row-img-item {
    float: left;
    width: 50%;
    padding: 0 10px 10px;

    @media (min-width: $screen-sm-min) {
      width: 25%;
    }

    .photo-box {
      position: relative;
    }
    .photo-box-action {
      position: absolute;
      z-index: 3;
      left: 5px;
      top: 5px;
      line-height: 1;
      cursor: pointer;
      background: red;
      color: #fff;
      width: 21px;
      padding: 2px 3.5px;
      border-radius: 50%;
      border: 1px solid #fff;
    }
    .img-center-dv {
      padding-bottom: 75%;
    }

  }
}
