$brand-wth: #F54A59;
$brand-wth-color: #fff !default;
$brand-wth-bg: $brand-wth !default;
$brand-wth-border: darken($brand-wth, 5%) !default;

@mixin button-variant-inline($color, $background, $border) {

  //@if $background == transparent {
  //  $background: #FFF;
  //}

  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $background;
    background-color: darken($color, 10%);
    border-color: darken($color, 25%);
  }
  &:hover {
    color: $background;
    background-color: darken($color, 10%);
    border-color: darken($color, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $background;
    background-color: darken($color, 10%);
    border-color: darken($color, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $background;
      background-color: darken($color, 17%);
      border-color: darken($color, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $color;
      border-color: $color;
    }
  }

  .badge {
    color: $color;
    background-color: $background;
  }
}

@mixin button-variant-style($color, $background, $border, $color_hover, $background_hover, $border_hover) {

  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color_hover;
    background-color: darken($background_hover, 0%);
    border-color: darken($border_hover, 12%);
  }
  &:hover {
    color: $color_hover;
    background-color: $background_hover;
    border-color: $border_hover;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color_hover;
    background-color: darken($background_hover, 0%);
    border-color: darken($border_hover, 2%);

    &:hover,
    &:focus,
    &.focus {
      color: $color_hover;
      background-color: darken($background_hover, 7%);
      border-color: darken($border_hover, 15%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@import "hover/hover";

.btn-detail {
  font-weight: normal;
  @include shutter-out-horizontal();
}

.btn-default2 {
  @extend .btn-default;
  @include gradient-vertical(#FBFBFB, #DDDDDD, 0%, 100%);
}

.btn-primary-bg {
  @include button-variant(#FFF, $btn-primary-color, darken($btn-primary-color, 10%));
}

.btn-wth {
  @include button-variant(#FFF, $brand-wth, darken($brand-wth, 10%));
}

.btn-wth-default {
  @include button-variant($brand-wth, #FFF, $btn-default-border);
}

.btn-primary-inline {
  @include button-variant-inline($brand-wth, #FFF, transparent);
}

.btn-default-inline {
  @include button-variant-inline($btn-default-color, transparent, transparent);
  &:focus,
  &.focus {
    color: $btn-default-color;
    background-color: $line;
    border-color: $line;
  }
  &:hover {
    color: $btn-default-color;
    background-color: $line;
    border-color: $line;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $btn-default-color;
    background-color: $line;
    border-color: $line;

    &:hover,
    &:focus,
    &.focus {
      color: $btn-default-color;
      background-color: $line;
      border-color: $line;
    }
  }
}

.btn-default-inline-border {
  @include button-variant-style(
      $btn-default-color,
      transparent,
      transparent,
      $btn-default-color,
      transparent,
      $btn-default-border);
}

.btn-wth-inline-border {
  @include button-variant-style(
      $brand-wth,
      $brand-wth-color,
      $brand-wth-border,
      $brand-wth-color,
      $brand-wth-bg,
      $brand-wth-border);
}

.btn-min {
  min-width: 106px;
  text-align: center;
}

.btn-inline {
  min-width: initial;
  color: inherit;
}

.btn-min-sm {
  min-width: 160px;
  text-align: center;
}

.btn {
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0 none;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    outline: 0 none;
  }

  &:active,
  &.active {
    outline: 0 none;
  }
  font-weight: bold;
}

[class^="btn-"], [class*=" btn-"] {
  min-width: 34px;
  &.btn-inline {
    min-width: initial;
  }

  &.btn-text-link {
    color: $link-color;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    min-width: initial;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}

.modal {
  [class^="btn-"], [class*=" btn-"] {
    min-width: 80px;
  }
}

.btn-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 34px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  min-width: inherit;
}

.btn-text {
  @extend .btn-link;
  text-decoration: none !important;
  color: $text-color;
  min-width: inherit;
}

.btn-link-inline {
  text-decoration: none;
  min-width: inherit;
  &:hover, &:focus {
    text-decoration: none;
  }
}
