.form-control {
  @include box-shadow(0 0 0 transparent);
  &.has-loading {
    background-image: url('../assets/images/icons/loading.gif');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}

.form-control-block {
  display: block;
}
.form-control-full {
  width: 100%;
}

.form-horizontal {
  .control-label {
    @media (min-width: 768px) {
      text-align: left;
    }
  }
}

.help-block[hidden] {
  display: none;
}

.form-group {
  position: relative;
  @include box-shadow(0 0 0 transparent);
  &:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 33px;
    right: 10px;
    z-index: 10;
    font-size: 18px;
  }
  &.no-label:before {
    top: 9px;
  }
  &.has-password:before {
    display: none;
  }

  &.has-error:not(.has-select) {
    &:before {
      content: "\f057";
      color: $alert-danger-text;
    }
  }
  &.has-success:not(.has-select) {
    &:before {
      content: "\f058";
      color: $alert-success-text;
    }
  }
  .hideShowPassword-toggle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 7px;
    z-index: 11;
    border-width: 0;
    font-size: 18px;
    &:before {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f06e";
    }
    &.active {
      &:before {
        content: "\f070";
      }
    }
    &:hover, &:focus {
      outline: 0 none;
    }
  }
  .sr-only ~ .hideShowPassword-toggle {
    top: 5px;
  }
}

.form-validation {
  padding: 5px 15px 0 50px;
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: $border-radius-base;
  margin-bottom: $form-group-margin-bottom;
  .help-block {
    color: $text-color;
  }
  &.has-error {
    border-color: $brand-danger;
    &:before {
      @extend .fa;
      @extend .fa-exclamation-circle;
      position: absolute;
      left: 15px;
      top: 10px;
      font-size: 20px;
      color: $brand-danger;
    }
  }
}

.navbar-searchTop {
  position: relative;
  .input-group {
    border: 1px solid $input-border;
    border-radius: $border-radius-base;
    .btn {
      height: 34px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 32px;
      border-color: transparent !important;
      &:hover,
      &:focus,
      &.focus {
        background-color: transparent;
        @include box-shadow(none);
      }
    }
    .form-control {
      border-color: transparent !important;
      padding-left: 0;
      padding-right: 0;
      @media (min-width: $screen-lg) {
        min-width: 400px;
      }
      &:hover,
      &:focus,
      &.focus {
        background-color: transparent;
        @include box-shadow(none);
      }
    }
  }
  p-autocomplete {
    input {
      border: none !important;
      width: 350px;
    }
  }

  .navbar-searchTop-advanced {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 15px;
    border: 1px solid $input-border;
    border-radius: $border-radius-base;
    background-color: #ffffff;
    @include box-shadow(0px 2px 4px 0px rgba(73, 73, 73, 0.4));
    .form-group {
      display: block;
      margin-bottom: 20px;
      .form-control {
        display: block;
        width: 100%;
      }
    }
    .control-label {
      font-weight: normal;
      margin-right: -10px;
    }
    .ui-calendar {
      display: block;
    }
  }
  .social-list-user{
    li {
      margin-bottom: 0px;
    }

  }
}
