.container {
  max-width: $screen-lg-min;

  @media (min-width: $screen-sm-min) {
    width: auto;
  }
  @media (min-width: $screen-md-min) {
    width: auto;
  }
  @media (min-width: $screen-lg-min) {
    width: auto;
  }
}
