.wth-loading {
  .ui-dialog {
    width: 150px;
    height: 150px;
    .ui-resizable-handle {
      display: none;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background-color: #ffffff;
      //background-image: url('../assets/images/icons/loading.gif');
      background-image: url('../assets/images/icons/rolling.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.inside-loading {
  position: relative;
  min-height: 100px;
  min-width: 100px;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    //background-image: url('../assets/images/icons/loading.gif');
    background-image: url('../assets/images/icons/rolling.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.img-loading {
  @extend .inside-loading;
  &:after {
    background-color: transparent;
  }
}
