.modal-header-action {
  background: #FFFFFF;
  @include box-shadow(0px 2px 4px 0px rgba(163, 163, 163, 0.40));
  .modal-header {
    position: relative;
  }
  .close {
    float: left;
    position: absolute;
    left: 15px;
    right: auto;
    top: 15px;
    margin: 0;
    height: 34px;
  }
  span.modal-title {
    font-weight: normal;
    font-size: 14px;
    display: block;
    text-align: center;
    height: 34px;
    line-height: 34px;
  }
  .btn-wth-default {
    position: absolute;
    top: 15px;
    left: auto;
    right: 15px;
    margin: 0;
  }
}
