.nav-tabs-wrap {
  .nav-tabs {
    border-width: 0;
    margin: 0;
    padding: 0;
    > li {
      margin: 0;
      > a {
        &,
        &:hover,
        &:focus {
          display: block;
          font-size: 18px;
          color: $text-color-fade;
          position: relative;
          text-decoration: none;
          line-height: 1;
          padding: 8px 15px;
          border: 0 none;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          background-color: transparent;
        }
        &:hover {
          color: $text-color;
        }
        span {
          font-size: 80%;
        }
      }
      &.active {
        > a {
          color: $text-color;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -15px;
            background-color: rgb(245, 74, 89);
            height: 3px;
          }
        }
      }
    }
  }
}
