body {
  font-family: $font-base;
}

.img-full {
  width: 100%;
  height: auto;
}

.img-bg {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.bold {
  font-weight: bold;
}

.can-click {
  cursor: pointer;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.word-break {
  word-break: break-all;
}

.text-line-btn {
  line-height: 34px;
}

.text-fade {
  @include opacity(0.8);
}

.text-disable {
  cursor: not-allowed;
  @include opacity(0.3);
}

.text-normal {
  font-weight: normal;
}
.text-inherit {
  color: inherit;
  text-align: center;
}

.content-overflow {
  overflow: auto;
  margin-right: -15px;
  padding-right: 15px;
}

.content-overflow-x {
  overflow-x: auto;
  margin-right: -15px;
  padding-right: 15px;
}

.content-overflow-y {
  overflow-y: auto;
  margin-right: -10px;
}

.content-overflow-fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-style;
  line-height: 1.3;
  &.text-normal {
    font-weight: normal;
  }
}

.title-wrap {
  margin-bottom: 30px;
  .title {
    text-align: center;
    font-weight: bold;
    font-size: $font-size-h1;
    &.text-normal {
      font-weight: normal;
    }
  }

  .title-sub {
    text-align: center;
  }
}

.wth-scrollable {
  overflow: auto;
}
