<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'" cssClass="modal-media-selection">
  <bs-modal-header [showDismiss]="true">
    <div *ngIf="searchShow" class="modal-media-search">
      <div class="modal-media-search-in">
        <textbox-search [placeholder]="'Search something'" [showSearchClearText]="true"
                        (onEnterEvent)="onSearchEnter($event)" (onEscapeEvent)="onSearchEscape($event)">
        </textbox-search>
      </div>
    </div>

    <button (click)="searchShow = true" class="btn btn-search btn-default pull-right" type="button">
      <i class="fa fa-search"></i>
    </button>

    <w-nav-tab [ngClass]="{'invisible': searchShow}" [tabs]="tabs" [setTabActive]="currentTab"
               (currentTab)="tabAction($event)">
    </w-nav-tab>

    <w-object-toolbar-selected [selectedObjects]="selectedObjects" *ngIf="insertEnable">
      <button (click)="insertNotes()" class="btn btn-outline-default" type="button">Insert</button>
    </w-object-toolbar-selected>

  </bs-modal-header>


  <bs-modal-body>
    <div class="media-selection-toolbar note-selection-toolbar">
      <z-shared-breadcrumb [models]="breadcrumb" class="note-breadcrumb"
                           (onBreadcrumbAction)="onBreadcrumbAction($event)"></z-shared-breadcrumb>
      <chat-note-shared-toolbar #toolbar (events)="doEvent($event)"></chat-note-shared-toolbar>
    </div>
    <div class="media-selection-content note-selection-content gray-light"
         infiniteScroll
         [scrollWindow]="false"
         [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="loadMore()">
      <share-chat-note-list [viewOption]="toolbar.viewMode" class="wobject-grid has-scrollbar"></share-chat-note-list>
    </div>
  </bs-modal-body>
</bs-modal>
