@import '../../../core/scss/global';

$note-listbox-input: 10px;
$note-listbox-name: auto;
$note-listbox-owner: 100px;
$note-listbox-date: 100px;
$note-listbox-action: 100px;
$color-table-row: #F9F9F9;
