<div class="note-listbox-wrap">
  <div class="note-listbox-header">
    <div class="note-listbox-row">
      <div class="note-listbox-input">
        <i (click)="onSelectedAll()" class="fa fa-check"></i>
      </div>
      <div class="note-listbox-name">
        <a href="#" class="note-listbox-block-link" (click)="onSort('name')">Name
          <i class="fa fa-arrow-up"></i>
        </a>
      </div>
      <div class="note-listbox-owner">
        Owner
      </div>
      <div class="note-listbox-date">
        Create Date
      </div>
      <div class="note-listbox-action">&nbsp;</div>
    </div>
  </div>
  <div class="note-listbox-body">
    <z-note-shared-item *ngFor="let item of data" [item]="item" class="note-listbox-row"></z-note-shared-item>
  </div>
</div>

<!--<p *ngFor="let contact of contactService.selectedObjects">-->
<!--{{ contact.name }}-->
<!--</p>-->

