<div [ngClass]="{'component-listbox-list': viewOption == 'list', 'component-listbox-grid': viewOption == 'grid'}">
  <div class="component-listbox-header">
    <div class="component-listbox-row">
      <div class="component-listbox-input"
           [ngClass]="{'active': (noteService.isSelectAll$ | async)
           && (noteService.selectedObjects$ | async).length == (noteService.notes$ | async).data.length }">
        <i (click)="onSelectedAll()" class="fa fa-check"></i>
      </div>
      <div class="component-listbox-name">
        <span class="can-click" (click)="onSort('name')">
          Name <i *ngIf="sortType == 'name'" class="fa"
                  [ngClass]="{'fa-arrow-up': !orderDesc, 'fa-arrow-down': orderDesc}"></i>
        </span>
      </div>
      <div class="component-listbox-owner">
        Owner
      </div>
      <div class="component-listbox-description">
        Description
      </div>
      <div class="component-listbox-date">
        <span class="can-click" (click)="onSort('created_at')">
          Create Date <i *ngIf="sortType == 'created_at'" class="fa"
                         [ngClass]="{'fa-arrow-up': !orderDesc, 'fa-arrow-down': orderDesc}"></i>
        </span>
      </div>
      <div class="component-listbox-action">&nbsp;</div>
    </div>
  </div>

  <ng-template ngFor let-item [ngForOf]="data">
    <note-item *ngIf="item?.object_type == 'note'"  [data]="item" class="component-listbox-body"></note-item>
    <folder-item *ngIf="item?.object_type == 'folder'" [data]="item" class="component-listbox-body"></folder-item>
  </ng-template>
</div>

<ul>
  <li *ngFor="let item of (noteService.selectedObjects$ | async)">
    {{ item.name }}
  </li>
</ul>
