@import '../../../../assets/styles/global';

.modal-dock {
  position: fixed;
  right: 15px;
  bottom: 25px;
  z-index: 1001;
  @include transition($transition-base);
  &.modal-dock-collapse {
    bottom: 0;
  }
  @media (max-width: $screen-xs-max) {
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.modal-dock-content {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  @include box-shadow(0 2px 4px 0 rgba(164, 164, 164, 0.40));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 370px;
  max-width: 100%;
}

