<div *ngIf="item" class="component-listbox-row" [ngClass]="{'item-folder': item.type == 'folder'}">
  <div class="component-listbox-input">
    <i (click)="onSelected()" class="fa fa-check"></i>
  </div>
  <div class="component-listbox-name">
    <span class="can-click" (click)="onClick(item)">{{ item.name }}</span>
  </div>
  <div class="component-listbox-owner">
    {{ item.owner.name }}
  </div>
  <div class="component-listbox-description">
    {{ item.description }}
  </div>
  <div class="component-listbox-date">
    {{ item.created_at | timeFormat }}
  </div>
  <div class="component-listbox-action">
    <z-note-shared-actions-bar class="action"></z-note-shared-actions-bar>
  </div>
</div>
