<div *ngIf="data" class="component-listbox-row" [ngClass]="{'item-folder': data.object_type == 'folder'}">
  <div class="component-listbox-input" [ngClass]="{'active': selected ||  data?.selected || (isSelectAll$ | async)}">
    <i (click)="onSelected()" class="fa fa-check"></i>
  </div>
  <div class="component-listbox-name can-click" (click)="onClick()" (dblclick)="onView()">
    <span>
      <i class="fa" [ngClass]="{'fa-folder-o': data.object_type == 'folder', 'fa-file': data.object_type == 'note'}"></i> {{ data.title }}
    </span>
  </div>
  <div class="component-listbox-owner can-click" (click)="onClick()" (dblclick)="onView()">
    {{ data.user?.name }}
  </div>
  <div class="component-listbox-description can-click" (click)="onClick()" (dblclick)="onView()">
    {{ data.description }}
  </div>
  <div class="component-listbox-date can-click" (click)="onClick()" (dblclick)="onView()">
    {{ data.created_at | timeFormat }}
  </div>
  <div class="component-listbox-action">
    <z-note-shared-actions-bar class="action" [data]="data" [selectedObjects]="[data]"></z-note-shared-actions-bar>
  </div>
</div>
