<div class="header-intro">
  <div class="container">
    <h2><span>Privacy &amp; Cookies Policy</span></h2>
  </div>
</div>
<section class="page-content article-text">
  <div class="container">
    <h4>Introduction</h4>
    <p>
      Welcome, this is the Privacy Policy (the &quot;<strong>Policy</strong>&quot;) of the website located at
      www.wthapps.com (&quot;<strong>WTHapps</strong>&quot; and also referred to as &quot;<strong>our</strong>&quot;,
      &quot;<strong>us</strong>&quot; and &quot;<strong>we</strong>&quot;), including its sub-domains and its mobile
      optimized version (collectively, the &quot;Site&quot;). This Policy shall also include our Terms of Use (the
      &quot;<strong>Terms</strong>&quot;) and any supplemental guidelines and policies thereof (incorporated herein by
      reference). All of our registered members must click on the &quot;I agree&quot; checkbox on our registration page
      (or similar box or means), thereby agreeing to our Privacy Policy and Terms. This Policy is a legally binding
      agreement between WTHapps and you.
    </p>
    <p>
      We are firmly committed to our users&rsquo; privacy, and understand how important is your personal information
      and, thus, for us as well. Please, feel free to contact us if you have any queries for us. Rest assured that we
      will never spam your inbox or otherwise disclose your personally identifiable information (&quot;PII&quot;) to any
      third party without your prior express permission. PII entails recorded information about an identifiable
      individual person. Overall, WTHapps works hard to earn and keep your trust, so it adheres to the following
      principles in order to protect your privacy:
    </p>
    <ul>
      <li>We will not rent or sell your PII to third parties.</li>
      <li>We will not disclose your contact information with other users or third parties without your consent.</li>
      <li>Any PII that you provide to WTHapps will be secured with industry standard safety protocols and technology.
      </li>
    </ul>
    <p>The words &quot;collect&quot;, &quot;use&quot;, &quot;process&quot;, &quot;treat&quot;, &quot;disclose&quot; and
      similar, as used herein and elsewhere, are related to PII and other data that we may receive from our clients,
      users and/or visitors, including cookies inside a computer, along with statistical and analytical complication
      thereof in order to create aggregate databases and business strategies.
    </p>
    <h4>Scope of this Policy
    </h4>
    <p>WTHapps is an online platform designed for organizing and simplifying your digital life. Its functionalities
      include, but are not limited to, social, chatting, notes, posts and content management, the creation of
      aggregated databases, and other useful information. We may also provide other Services and functionalities from
      time to time.
    </p>
    <p>When you register with WTHapps, you will need to provide certain PII to us, including but not limited to: your
      name, last name, address, location, user preferences, phone number, IP address and email. We will store your PII
      for the purposes of improving your user experience, send newsletters, offer promotions and contact you about
      inquiries for our services. Additionally, we will collect anonymous usage statistics from our Site and platform,
      which will not be able to identify any specific user or his PII. If you do not wish to disclose any PII, then your
      sole remedies shall be to close this web tab, delete your account and/or exit the Site.
    </p>
    <p>Please be aware that if you post information on a public forum or bulletin board, any PII you elect to disclose
      therein there may or will be read, collected and/or used by other users of such forums and could be used to send
      you unsolicited messages.
    </p>
    <h4>Parental Notice
    </h4>
    <p>WTHapps does not knowingly collect any kind of information from persons under the age of thirteen (13). Through
      the simple use of our Services and/or browse of the Site, you hereby represent and warrant that you are at least
      eighteen (18) years of age --or older-- as of the date of first access to the Site, and, if you are still a minor
      (which may depend on the jurisdiction where you reside), are using the Site under the direct supervision of your
      parent or legal guardian.
    </p>
    <h4>Information collected, purpose and use
    </h4>
    <p>In order for us to provide our Services, and to improve the user experience for our clients, we will need to
      undertake the storage, use, combination, integration, disclosure, process and transfer of your PII, either among
      our affiliates or other authorized third parties. Our Site does not collect any sensitive personal data about you
      (i.e. gender, racial origin, financial information). We will generally collect, use and disclose your PII to:
    </p>
    <ul>
      <li>Verify your e-mail address; send password retrieval links and other account notices.</li>
      <li>
        Provide news regarding our services and Site.
      </li>
      <li>
        Send communications and updates about your orders.
      </li>
      <li>
        Improve your user experience and provide you with customer support
      </li>
      <li>
        Develop, research, process, safeguard and improve our communications and services.
      </li>
      <li>
        Answer to queries and suggestions you submit to us.
      </li>
    </ul>
    <p>
      Our Site may also offer you the functionality of using your social credentials (e.g. Facebook, Google, and
      Twitter) to use single-sign-off to enter our Site, and in that manner we may also collect certain PII from you as
      you log on. We will not collect more information from you when using your social credentials beyond the
      personal information such third parties disclose to us.

    </p>
    <h4>Control of your information
    </h4>
    <p>Our customers will generally be able to edit, select or delete the amount and type of PII they may disclose to us
      when using our Site. We continuously try to improve our user experience, and strive to provide you the best
      choices for the disclosure, edition or removal of the PII being processed by us. Accordingly, we will undertake
      the open and transparent management of your PII and will: (i) inform you about how your personal information may
      be used and disclosed (including overseas); (ii) maintain the safety and integrity of your personal information;
      and/or (iii) enforce your individual right to access and correct your personal information. Passwords and
      financial data are stored in encrypted databases.
    </p>
    <h4>Safety of your information
    </h4>
    <p>We use industry standard protocols and technology to protect you registered user information and PII, such as
      VeriSign and Secure Socket Layer (SSL) sessions. Our SSL session encrypts all transaction data for transmittal in
      a format that prevents data theft by unauthorized third parties. However, please take into account that the
      Internet and e-mail transmissions are not a secure or error free communication means.
    </p>
    <p>Additionally, we may undertake internal reviews of our data collection, storage and processing practices and
      security measures, as well as physical security measures to guard against unauthorized access to systems where we
      store PII.
    </p>
    <h4>Information release and disclosure
    </h4>
    <p>We must reserve our right to disclose your PII, when we or our affiliates, licensors, officers, agents and/or
      representatives reasonably believe it necessary to protect our interests, or where you are found to be in breach
      of our Terms and/or Policy. Accordingly, we will have the right to disclose any and all collected PII and/or
      personal data, under the following circumstances:
    </p>
    <ul>
      <li>If required under applicable law, rules or regulations;</li>
      <li>
        In response to a valid request or subpoena from a government or law enforcement agency;
      </li>
      <li>
        To defend ourselves and our affiliates, licensors, officers, agents and representatives from legal claims and
        processes brought to us by third parties (including takedown notices);
      </li>
      <li>
        To defend the property, rights and integrity of any of our users, advertisers or licensors;
      </li>
      <li>
        To stop or cause to cease any actions that we may consider to cause –whether allegedly or factually– a
        contingency or liability.
      </li>
    </ul>
    <p>From time to time, we may temporarily share our users' PII only to our authorized third party service providers,
      which perform certain services on our behalf, and only after your express consent. The purposes of this temporary
      transfer may include, but are not limited to: customer support service, community management, web analytics,
      advertising, marketing, surveys, contests, promotions and other features offered via our Site.
    </p>
    <h4>Commercial Electronic Messages
    </h4>
    <p>From time to time, we will ask you for express permission and consent to receive Commercial Electronic Messages (&lsquo;CEM&rsquo;),
      which we will sometimes send from or to computers to our users. A CEM is a message in an electronic format (e.g.
      emails, SMS, social messages, push notifications and other form of communications) which is then sent to an
      electronic address (e.g. email, instant message accounts, smart phone, social profile) that contains a
      message asking recipients to participate in commercial activities (e.g. purchase of products and services).
    </p>
    <p>Express consent for CEMs does not apply for those that we may send for security, refunds or guarantees of
      products and services of our Site. Our optional email newsletters are also considered CEMs, and therefore you may
      subscribe or unsubscribe from them at will, usually on your account settings, or by following the unsubscribe
      links contained therein.
    </p>
    <h4>Personal data owners&rsquo; rights and revocation of consent
    </h4>
    <p>Any user of our Site shall have the right to make a request to us in order to enforce his rights to:
    </p>
    <ul>
      <li>Access his PII;</li>
      <li>Rectify his PII, when inaccurate or incomplete;</li>
      <li>Cancel the process of his PII;</li>
      <li>Object --with legitimate reasons-- the process of his PII; and/or</li>
      <li>Revoke his consent for the use, storage, treatment, process and/or, disclosure of his PII.</li>
    </ul>
    <p>The enforcement and upholding of your privacy rights should be requested to us in writing and must include, at a
      minimum, the following information: (i) your complete name, address and/or e-mail address in order for us to
      notify you the response to your request; (ii) attached documents establishing your identity; and (iii) a clear and
      concise description of the PII with regard to which you seek to enforce any of your rights. If you request
      rectification, please indicate amendments to be made and attach documentation to back up your request.
    </p>
    <p>In order to enforce your privacy rights, please contact us by email. Upon receipt of your request, and after due
      review, we may then edit, deactivate and/or delete your PII from our Site. Please take into account that we may
      not be able to delete all of your data from some our databases and that, if so is the case, we will then mark such
      data as permanently inaccessible.
    </p>
    <h4>Financial data and information
    </h4>
    <p>We use payment partners in order to bill and process any payments made via our Site. These platforms will request
      you to disclose them sensitive PII (e.g. credit card number, account username and password) in order to complete
      purchases and operations related to our services. Such third party payment processing platforms are governed by
      their own safety standards, policies and terms of use. We shall not be liable for their operation, safety or
      otherwise their functioning. We strongly advise our users to engage in online safety measures in order to protect
      their financial information, here in the Site and elsewhere. We will not collect or store any sensitive of your
      sensitive personal information.
    </p>
    <h4>Cookies and beacons
    </h4>
    <p>From time to time, we may place the so-called &lsquo;cookies&rsquo; in your computer or mobile device in order to
      track and collect data regarding your use of our Site and Services. You can always configure your browser to
      refuse cookies and beacons. For more information, please visit
      <a href="www.allaboutcookies.com" target="_blank" rel="noopener">www.allaboutcookies.com</a>.
    </p>
    <p>From time to time, we may use website tracking codes, along with other third party software tools in order to
      collect analytics about the pages you browse on our Site or when you undertake specific actions through our
      Services. We do this in order to further understand our users, and to constantly improve our Service offer.
    </p>
    <h4>Third party sites and services
    </h4>
    <p>Our Site and Services may also implement hyperlinks to the websites of our commercial partners and other third
      parties. If you click on such links, you are choosing to visit such websites, and will be redirected thereto.
      Please take into consideration that we are not responsible for the privacy and personal data practices undertook
      by such third parties (including any tools, cookies, information or content contained thereinto), and that we do
      not have control over the manner in which such third-parties may collect, process, treat or use your PII.
    </p>
    <p>Please be advised that when you use a link to go from our Site or Services to another website, our Policy and
      Terms shall no longer apply, and your browsing thereof is at your own and final risk. In addition, any banner or
      ad that we may have on our Site does not constitute any endorsement of any third party thereof.
    </p>
    <h4>Advertising, opt-out
    </h4>
    <p>In order to enforce and uphold your right to privacy, you have the option to elect not to receive of advertising
      from us or third parties, now or in the future. You can learn more about how to opt-out by browsing Google&rsquo;s
      opting-out and privacy pages located at www.google.com, or the Network Advertising Initiative website located at
      www.networkadvertising.org. In addition, you may set browser and system preferences to limit how other third
      parties serve ads to you.
    </p>
    <h4>International Residents Notice
    </h4>
    <p>WTHapps has its headquarters in Canada. Henceforth, your PII may be accessed by us or our affiliates, agents,
      partners, advertisers or third party service providers elsewhere, and you hereby consent to such access and
      transfer by providing us such information. If you are accessing our Site from other regions, you ought to know
      that you are thereby transferring your PII to Canada and, thus, you hereby consent to such transfer to Canada or
      to any other country in which we operate.
    </p>
    <h4>Personal Information Protection and Electronic Documents Act
    </h4>
    <p>All PII provided to us is collected, used and disclosed in accordance with applicable provincial and federal law.
      In compliance with the PIPED Act (commonly known as PIPEDA), we have hereby posted this conspicuous Policy to the
      public, indicating the PII being collected and the manner in which it may be disclosed and with whom. We have also
      obtained --or will obtain as necessary-- your express consent for the collection, use and/or disclosure of your
      PII.
    </p>
    <p>Accordingly, our users have been made aware of: (i) why we collect, use and/or disclose your PII; (ii) who is
      responsible for protecting their PII; (iii) the appropriate safety measures we will undertake to protect their
      PII; (iv) how they can obtain access to their PII and how to ask for corrections; and (v) how to contact the
      organization responsible for their PII.
    </p>
    <h4>Notice to British Columbia Residents
    </h4>
    <p>In compliance with the Freedom of Information and Protection of Privacy Act of the British Columbia, we: (i) have
      obtained (or will obtain as necessary) your express consent for the collection, use and/or disclosure of your PII;
      (ii) offer measures for the update and edition of your PII; (iii) provide public and free contact details; (iv)
      have specified the purpose and use of you PII; and (v) have indicated the procedure for notification in case of
      any actual or alleged breach of privacy. Our designated Privacy Compliance Officer shall be Philip Chisholm. If
      you wish to request a copy of your information disclosure, please contact us at by email to:
      <a href="mailto:contact@wthapps.com">contact@wthapps.com</a>.
    </p>
    <h4>Breaches</h4>
    <p>We will be responsible for any and all factual or suspected security data breaches into our PII databases, and
      will notify our customers of any such factual or suspected breach (by email and/or post). Such notification will
      be subject to a variety of factors, including but not limited to, the type of PII breached, whether the database
      was secured or not, and whether misuse of the PII is reasonably possible. Our customers can rest assured that we
      will undertake any and all necessary safety, managerial and technical measures in order to protect your PII and
      your right to privacy.
    </p>
    <h4>Amendments, Updates
    </h4>
    <p>We reserve the right to amend, change and/or update our Site, our services, this Policy and/or our Terms, from
      time to time and at our sole and final discretion. Your continued use of our services after the last effective
      date of modifications thereof indicates your acceptance of any such modifications. We will post any updates on our
      Site, and may also send you an email or otherwise notify you of any material changes to this Policy.
    </p>
    <h4>Contact</h4>
    <p>For inquires or comments regarding this Policy or our Terms, please contact with us via email to: <a
      href="mailto:contact@wthapps.com">contact@wthapps.com</a>.
    </p>
    <p><strong>Date of last effective update is December 1, 2016.</strong></p>
  </div>
</section>
