<div class="header-intro">
  <div class="container">
    <h2><span>Term of service</span></h2>
  </div>
</div>
<section class="page-content article-text">
  <div class="container">
    <p><strong>Date of last update</strong>: December 1, 2016.</p>
    <h4>Introduction</h4>
    <p>
      Welcome, you have reached the Terms of Service and Use (the &quot;<strong>Terms</strong>&quot;) of the website
      located at www.wthapps.com (the &quot;<strong>Site</strong>&quot;), including its sub-domains and mobile optimized
      version. These Terms shall also include any ancillary terms, policies, guidelines and our Privacy Policy (the
      &quot;<strong>Policy</strong>&quot;), among other documents made available by us from time to time (incorporated
      herein by reference). The Site is provided to you by WTH Company Limited (hereinafter referred to as
      &quot;<strong>WTHapps</strong>&quot;, and also &lsquo;<strong>us</strong>&rsquo;, &lsquo;<strong>its</strong>&rsquo;, &lsquo;<strong>ours</strong>&rsquo;
      and/or &lsquo;<strong>we</strong>&rsquo;), and used herein refer to our affiliates, assignees, successors and/or
      brands.
    </p>
    <p>
      As used herein, the terms &lsquo;<strong>you</strong>&rsquo;, &lsquo;<strong>your</strong>&rsquo;,
      and/or &lsquo;<strong>yourself</strong>&rsquo; refer to you, a user/visitor/browser of our Site, whether
      registered or not through an account. These Terms constitute a legally binding agreement between you and us.
    </p>
    <p>To prevent any breach of the Terms hereof and to enforce any available remedy, we reserve the right to undertake
      any technical, legal or administrative measures that we deem necessary, at any time, without prior notice and in
      our sole discretion.
    </p>
    <h4>Scope, Acceptance</h4>
    <p>WTHapps is an online platform designed for organizing and simplifying your digital life. Its functionalities
      include, but are not limited to, social, chatting, notes, contact book, calendar and content management, the
      creation of aggregated databases and other useful information. We may also provide other Services and
      functionalities from time to time.
    </p>
    <p>
      If you continue to browse and use this Site, you hereby acknowledge and agree to be bound by and under these Terms
      which, together with our Policy, which will govern WTHapps&rsquo; relationship regarding the Site and any services
      offered thereby (the &quot;<strong>Service(s)</strong>&quot;). Your access to the Site is only offered for your
      individual, non-commercial use, and not for the use or benefit of any third party you may represent. These Terms
      include a jury trial and class action waiver. These Terms also limit the remedies that may be available to you in
      the event of a dispute with us.</p>
    <h4>Prohibited Activities</h4>
    <p>You agree not to, and will not undertake, motivate, or facilitate the use or access of the Site by others to:</p>
    <ul>
      <li>Infringe these Terms or allow, encourage or facilitate others to;</li>
      <li>
        Plagiarize and/or infringe the intellectual property rights or privacy rights of any third party;
      </li>
      <li>
        Enable any process to data-mine the Site (e.g. robots or similar data gathering and extraction tools);
      </li>
      <li>
        Disturb the normal flow of Services provided within the Site;
      </li>
      <li>
        Distribute, post or otherwise make available any content that: (i) infringes or endangers the intellectual
        property rights of any person (e.g. trademark, moral rights, trade secret, copyright, ancillary rights or
        other); (ii) enables any act that could promote or cause discrimination, racism, harm, libel, hatred or violence
        against any individual or group; (iii) endangers children and underage persons; (iv) is or allows illegal or
        fraudulent activities to take place; (v) is or may constitute a criminal or capital offense or otherwise
        infringes any applicable law; and/or (vi) is or can be considered to be obscene, threatening/defamatory,
        plagiarized, objectionable or analogous;
      </li>
      <li>
        Create a link from the Site to another website or document without our prior written consent;
      </li>
      <li>
        Obscure or edit any copyright, trademark or other proprietary rights notice or mark appearing on the Site;
      </li>
      <li>
        Create copies or derivate works of the Site or any part thereof;
      </li>
      <li>
        Otherwise reverse engineer, decompile or extract the Site&rsquo;s source code;
      </li>
      <li>
        Remit or otherwise make or cause to deliver unsolicited advertising, email spam or other chain letters;
      </li>
      <li>
        Collect, receive, transfer or disseminate any personally identifiable information of any person without consent
        from title holder; and/or
      </li>
      <li>
        Pretend to be or misrepresent any affiliation with any legal entity or third party.
      </li>
    </ul>
    <p>You also acknowledge and accept that any violation of the aforementioned provisions may result in the immediate
      termination of your access to the Site and our Services, without refund, reimbursement, or any other credit on our
      part.
    </p>
    <h4>Account</h4>
    <p>
      In order to use some or all of the functionalities and Services provided via the Site, you need to register for an
      account. You are solely responsible for the activity that occurs on your account and for keeping your password
      secure and confidential. You must notify WTHapps immediately of any change in your eligibility to use the Site, if
      you suspect a breach of security or unauthorized use of your account. We may offer free trials for our Services,
      which are usually provided in full form for a determined, limited period of time.
    </p>
    <p>
      We reserve the right, at our sole and final discretion, to deactivate, freeze, suspend or terminate your account
      upon any factual or alleged breach of these Terms. We are constantly changing and improving our Services, and we
      may add or remove functionalities/features, and we may suspend/stop a Service altogether, without prior notice and
      at our sole and final discretion.
    </p>
    <p>
      Your user and personal data is important to you (and also to us), and we will use appropriate commercial measures
      in order to help you preserve your access to such data, even after we discontinue a Service. We will give you a
      reasonable notice to get your data out of that Service (where reasonably and technically possible).
    </p>
    <h4>Payments</h4>
    <p>We use external payment partners in order to process and bill you for any purchases made through the Site. The
      processing of payments will be subject to the fees, terms, conditions and privacy policies of such payment
      processors. WTHapps is not responsible for any and all errors committed by such payment processors. Any currency
      conversion fees and expenses are responsibility of our third-party payment processors, not us.
    </p>
    <h4>Refund policy</h4>
    <p>As a general rule, we do not offer refunds. You can always cancel your account before the end of the then current
      billing period, and you will still be charged the fees for the remaining paid period, which is usually once per
      calendar month. For sake of clarity, even if you cancel your paid account, you will have the right to continue
      accessing the paid functionalities until the end of the billing cycle. You will have the option to reactivate your
      paid account at any time. Please review your account for billing information. If you are using a free trial, you
      can always cancel your account before the end of the current trial term. We do not offer a monthly refund policy
      for active paid accounts, even after you upgrade your account from a free trial to a paid one. In case of
      violations to these Terms of Use – all refunds are forfeit.
    </p>
    <h4>License</h4>
    <p>Subject to the terms and conditions of these Terms, WTHapps hereby grants you a limited, non-exclusive,
      non-transferable, non-sublicensable, non-assignable, revocable limited right and license to use our Site, platform
      and Services. If you are using your account for your personal, non-commercial use, you are not entitled to use our
      Services for the benefit of any legal entity or business. If you are using your account for the commercial benefit
      of a third party, you must pay the appropriate fees (as indicated by us from time to time), and you hereby
      represent and warrant that you have all right, power and interest for such legal entity or business. The term of
      this license shall begin on the date that you either complete registration into a free or paid version of our
      Services, and shall end on the earlier date of either your: (i) final access, deletion or uninstall of our
      Service; or (ii) our termination, and at our sole and ultimate discretion. Your license will terminate immediately
      if you attempt to circumvent any technical protection measures used in connection with our Site or Services.
    </p>
    <p>You also hereby grant WTHapps an unlimited, non-exclusive, sub-licensable, assignable, royalty-free, perpetual,
      irrevocable, for all the countries and territories throughout the world, right and license to use, host, store,
      reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other
      changes), communicate, publish, publicly perform, publicly display and distribute such any content you may upload,
      disseminate, deliver, create or transfer any post, original audio file, message, chat, files uploaded, data
      inputted, e-mails sent, or otherwise any content delivered to WTHapps. The aforementioned license shall be for the
      use and exploitation by WTHapps throughout the Internet and other communication means, including the right to use,
      reproduce, distribute, create derivative works from, modify and disseminate any content, in order for WTHapps to
      provide its Services.
    </p>
    <p>Nothing in these Terms shall be interpreted as explicitly or implicitly enabling any assignment or transfer of
      any of your content rights to WTHapps. Notwithstanding anything mentioned herein to the contrary, the intellectual
      property rights to your user content, including those specifically designed under this license, shall remain your
      property and WTHapps shall have no rights, interests, or claims therefrom, other than the ones set forth herein.
    </p>
    <h4>Ownership</h4>
    <p>WTHapps retains or has any and all right, license, authorization, title and/or interest to the Site, the Services
      and any components therefrom, including but not limited to, all copyrights, trademarks, trade secrets, trade
      names, proprietary rights, patents, titles, computer codes, audiovisual effects, videos, images, themes, settings,
      artwork, sound effects, musical works, and moral rights whether registered or not and all other applications
      thereof. You hereby acknowledge that no title or ownership in the Site or Services is being transferred or
      assigned and that these Terms should not be construed as a sale or transfer of any rights or any content
      thereinto.
    </p>
    <p>All rights not specifically granted under these Terms are hereby reserved by WTHapps and/or its licensors. Our
      intellectual property is protected by applicable laws and international treaties throughout the world. Respective
      title holders may or may not be affiliated with us or our licensors, affiliates, partners and advertisers.
    </p>
    <h4>About third party software in our Services</h4>
    <p>Some of our Services may require or may include downloadable software in order for some features to be available.
      For such purposes, WTHapps hereby gives you a limited, personal, worldwide, royalty-free, revocable,
      non-assignable and non-exclusive authorization to use the software provided. This license is for the sole purpose
      of enabling you to use and enjoy the benefit of the Services as provided by WTHapps and subject to your compliance
      to these Terms and the applicable software license agreement and/or end user software license agreement.
    </p>
    <p>Some software used in our Services may be offered under an open source license that we make available to you.
      Henceforth, for the avoidance of doubt, the provisions in the applicable open source license that expressly
      override some of these Terms shall prevail, in case of any discrepancy thereof.
    </p>
    <h4>Parental Notice</h4>
    <p>WTHapps encourages parents, legal guardians and responsible adults to be actively involved in the safe use of the
      Internet by children and minors. WTHapps does not knowingly provide its Services to persons under the age of
      eighteen (18). If you are under such age, you can only use the Site under the direct supervision of your parent or
      legal guardian. Users over the age of eighteen (18) can use the Site freely, but are otherwise prohibited from
      providing WTHapps with personally identifiable information of persons under the age of eighteen (18) without the
      consent of their parents or legal guardians.
    </p>
    <p>In compliance with the Children&rsquo;s Online Privacy Protection Act (&lsquo;COPPA&rsquo;), WTHapps does not
      knowingly collect any
      kind of information from any person under the age of thirteen (13), and will delete any related information
      thereto. For more information, please read our Policy. Upon the terms and conditions of 47 U.S.C. Section 230(d),
      WTHapps informs its users about the commercial availability of parental control mechanisms which may assist them
      in limiting access to minors of material that is or may be considered harmful.
    </p>
    <h4>No Spam</h4>
    <p>We will not tolerate any massive delivery of unsolicited bulk communications to our users or to any third party,
      nor will we allow others to undertake through our Services or Site. In compliance with the Controlling the Assault
      of Non Solicited Pornography and Marketing Act (&lsquo;CAN-SPAM Act&rsquo;), any commercial electronic
      communication (&quot;CEM&quot;) that you receive from us, our partners, licensors, suppliers and affiliates, will
      require your prior consent to such communication. Our CEMs will include measures in order for you to stop
      receiving them, usually through an unsubscribe link. Please see our Policy for more information.
    </p>
    <h4>Digital Millennium Copyright Act (&lsquo;DMCA&rsquo;) Notice</h4>
    <p>In compliance with the DMCA, you may contact us by email at <a href="mailto:contact@wthapps.com">contact@wthapps.com</a>
      in order to send us a notice regarding any copyright infringement matter. You can review the DMCA text at the U.S.
      Copyright Office website. We are ready to remove any allegedly or factually infringing content displayed on the
      Site, upon due notice and request by the title holder.
    </p>
    <p>You must notify us of your claim with subject: &quot;Takedown Request&quot;. Once received, WTHapps will study
      and consider your claim and, if it believes or has reason to believe any content on the Site infringes on another&rsquo;s
      copyright, WTHapps may delete it, disable or otherwise stop displaying it.
    </p>
    <p>Your notification claim must be in writing and must contain the following information, at the least: (i) your
      signature and identification, or the ones the person authorized to act on behalf of you or the title holder; (ii)
      a clear and concise description of the content of which its copyright has allegedly been infringed; (iii) contact
      information (e.g. address and email); and (iv) a statement, under penalty of perjury, indicating that you have a
      good faith belief that the information provided in your claim is true and accurate.
    </p>
    <h4>Third party links and platforms</h4>
    <p>The Site contains links to other websites and platforms, which linking is material and necessary in order for us
      to provide our Services to you. Such linking or connection does not imply any endorsement of such third party
      websites (or their products and services).
    </p>
    <p>We do not always review the information, pricing, availability or fitness for use of such third party products
      and services, and they will not necessarily be available or error free or serve your purposes, and any use thereof
      is at your sole risk. We do not make any endorsements or warranties, whether express or implied, regarding any
      third party websites (or their products and services). Any linked websites are ruled by their privacy policies,
      terms and conditions and legal disclaimers. Please read those documents, which will rule any interaction thereof.
    </p>
    <p>Some or all of the images and content displayed on the Site are licensed and/or purchased stock photos, and are
      shown only for illustrative purposes, that is, they may not accurately purport the look and form of a certain
      item, product or service.
    </p>
    <h4>Advertising, Opt-out</h4>
    <p>We may support the Site and our Services through advertising and other commercial opportunities. These
      advertisements may be tailored to the content of the Site, and the nature and extent of such advertising by us is
      subject to change without prior notice. Please refer to our Policy for information regarding certain advertisement
      opt-out.
    </p>
    <p>Our Services may allow our users to promote their products and services to other of our users, and even to third
      parties outside the Site. No such advertising or promotion by our users entails any endorsement thereof. You can
      configure your privacy, publicity and visibility settings in your account. The Site may allow you to subscribe to
      our newsletter service, which may be provided by us or through an authorized third party. Through our newsletter,
      you may receive information according to your user preferences. As our user, you will receive a conspicuous
      communication indicating your subscription thereof, and you will be able to select the amount and type of emails
      received by you. If you wish to unsubscribe, you will find &lsquo;unsubscribe&rsquo; and similar links on our
      electronic communications, and also in your account preferences.
    </p>
    <h4>Amendments, Suspension, Service Continuation</h4>
    <p>Access to the Site may be terminated or suspended without prior notice or liability of WTHapps. You represent and
      warrant to us that you have all right, title, and interest to any and all content you may post, upload or
      otherwise disseminate through the Site.
    </p>
    <p>WTHapps hereby reserves the right to update, modify, change, amend, terminate or discontinue the Site, the Terms
      and/or the Policy, at any time and at its sole and final discretion. WTHapps may change the Site&rsquo;s
      functionalities and (any) applicable fees at any time. Any changes to these Terms will be displayed in the Site,
      and we may notify you through the Site or by email. Please, refer to the date shown below for the date where
      effective changes were last undertook by us. Your use of our Services after the effective date of any update–
      either by an account registration or simple use – thereby indicates your acceptance thereof.
    </p>
    <h4>No endorsement</h4>
    <p>Any testimonial or review about our company, our products or our Services is made by the respective author and
      does not does not reflect WTHapps&rsquo; opinions, nor do WTHapps, its affiliates, subsidiaries, officers,
      employees and agents guarantee its actual veracity or make any endorsement thereof. The images, texts, posts,
      information, photographs and other content and media displayed on or through the Site are not necessarily
      available and any results therefrom – which we cannot ultimately control – are out of our ultimate and complete
      scope. Some or all of the images shown in the Site are licensed and/or purchased stock photos, and are only shown
      for illustration purposes.
    </p>
    <h4>No Warranty</h4>
    <p>Neither WTHapps, nor its affiliates, subsidiaries, officers, employees and agents warrantee that the Site will be
      error-free, uninterrupted, secure, or produce any particular results; or that any information, quick start guides,
      sheets, checklists, step-by-step guides, reference guides and/or sample filing forms will be current, useful
      and/or valid, or that it will produce any particular results or that the information obtained therefrom will be
      reliable or accurate. No advice or information given by WTHapps or its employees, affiliates, contractors and/or
      agents shall create a guarantee.
    </p>
    <p>Neither WTHapps nor its affiliates, licensors, owners, subsidiaries, brands or advertisers are an attorney or a
      professional advisor in any industry. The results described in the Site are not typical and will vary based on a
      variety of factors outside the control of WTHapps. Your use of any information and/or materials on this Site is
      entirely at your own risk, for which we shall not be held liable.
    </p>
    <h4>Disclaimer of Damages</h4>
    <p>To the fullest extent allowable under applicable law, WTHapps hereby expressly disclaims any and all
      representations and warranties of any kind with respect to the Site, including any and all liability arising out
      of or related to any purported facts or information and description of any information, products and/or Services
      displayed on our Site, including all warranties of any kind, whether express or implied; including, without
      limitation, warranties of title, merchantability, accuracy, completeness, reliability, suitability, fitness for a
      particular purpose or non-infringement.
    </p>
    <p>Your use of our Site is at your own risk, and therefore you hereby acknowledge and agree that we supply our Site
      and Services “as is”, “with all faults”, and “as available”, including all content, quick start guides, sheets,
      checklists, step-by-step guides, reference guides, sample filing forms, software, materials, services, functions,
      and/or information made available thereby. It shall be your own responsibility to ensure that any products,
      Services or information available through this Site meet your specific requirements.
    </p>
    <h4>Limitation of Liability</h4>
    <p>In no event shall WTHapps be liable to you or to any third party for any direct, indirect, incidental,
      consequential, special, exemplary or punitive damages, including but not limited to: damages for business
      interruption, loss of profits, loss of data, computer or software failure or inaccessibility or any other type of
      personal damages or losses arising out of or related to your use of or inability to use the Site; however caused
      or however awarded, regardless of the theory of liability applied (including contract, warranty or tort), whether
      active, passive or imputed, including negligence, strict liability, product liability or other legal theory,
      regardless of the product or service offered by action or inaction by merchant; and even if you have been advised
      of the possibility of such damages.
    </p>
    <p>In recognition of the relative risks and benefits of the Services provided via the Site, to both WTHapps and the
      customer, the risks have been allocated such that you, our customer, hereby acknowledges and agrees, to the
      fullest extent permitted by law, to limit the maximum cumulative liability of WTHapps to you for any and all
      claims, losses, costs, damages of any nature, arising out of or related to your use of the Site and any Services
      thereon or whatsoever claims expenses from any cause or causes (including reasonable attorneys&rsquo; fees and
      costs and expert witness fees and costs), to the amount that is or results inferior among: (i) the amount paid, if
      any, by you to us in connection with the Site and any Services during the twelve (12) months prior to the action
      giving rise to such liability; or (ii) USD$120 (One Hundred and Twenty United States Dollars).
    </p>
    <p>Certain jurisdictions do not allow the exclusion or limitation of implied warranties or damages. Henceforth, if
      you fall under rule of such jurisdictions, part or all of the disclaimers or liability limitations mentioned
      herein may not apply to you, and you might have additional rights not limited by law.
    </p>
    <h4>Indemnification</h4>
    <p>You agree to indemnify, defend and hold WTHapps and its independent contractors, affiliates, subsidiaries,
      officers, employees and agents, and their respective employees, agents and representatives, harmless from and
      against any and all actual or threatened proceedings (at law or in equity), suits, actions, damages, claims,
      deficiencies, payments, settlements, fines, judgments, costs, liabilities, losses and expenses (including, but not
      limited to, reasonable expert and attorney fees and disbursements) arising out of, caused or resulting from: (i)
      your conduct and any user content; (ii) your violation of these Terms or the Policy; or (iii) your violation of
      the rights of any third-party.
    </p>
    <h4>Generals</h4>
    <p><strong>Assignment</strong>. You may not assign or transfer these Terms by operation of law or otherwise without
      our prior written consent. Notwithstanding the foregoing, we may assign any rights or obligations hereunder. Any
      rights not expressly granted herein are thereby reserved. These terms will inure to the benefit of any successors
      of the parties. We reserve the right, at any time, to transfer some or all of WTHapps&rsquo; assets in connection
      with a merger, acquisition, reorganization or sale of assets or in the event of bankruptcy.
    </p>
    <p><strong>Customer support</strong>. WTHapps shall be responsible for addressing any and all customer claims by you
      relating to the Services, including but not limited to: (i) any product liability claim; (ii) any claim that the
      Services fail to conform to any applicable law; and (iii) any claim arising under consumer protection or similar
      legislation
    </p>
    <p><strong>Force Majeure</strong>. WTHapps is no liable for any failure of performance on its obligations as set
      forth herein, where such failure arises from any cause beyond WTHapps' reasonable control, including but not
      limiting to, electronic, power, mechanic or Internet failure.
    </p>
    <p><strong>Headings</strong>. The titles of paragraphs in these Terms are shown only for ease of reference and will
      not affect any interpretation therefrom.
    </p>
    <p><strong>No Waiver</strong>. Failure by WTHapps to enforce any rights hereunder shall not be construed as a waiver
      of any rights with respect to the subject matter hereof.
    </p>
    <p><strong>No Relationship</strong>. You and WTHapps are independent contractors, and no agency, partnership, joint
      venture, employee-employer, or franchiser-franchisee relationship is intended or created by these Terms.
    </p>
    <p><strong>Notices</strong>. Any notices or communications among the parties to these Terms shall be done in writing
      and shall be delivered to any address the parties may provide. For communications by e-mail, the date of receipt
      will be the one in which confirmation receipt notice is obtained.
    </p>
    <p><strong>Severability</strong>. If any provision of these Terms is held unenforceable, then such provision will be
      modified to reflect the parties' intention. All remaining provisions of these Terms will remain in full force and
      effect. The failure of either party to exercise in any respect any right provided for herein will not be deemed a
      waiver of any further rights hereunder.
    </p>
    <p><strong>Applicable Law</strong>. Your use of this Site and any cause of action, claim and/or dispute that might
      arise between the parties hereon, shall be subject to the provincial laws of British Columbia and the federal laws
      of Canada that apply in British Columbia, without regard to its conflict of law principles.
    </p>
    <p><strong>Forum</strong>. You agree that any dispute arising from or relating to these Terms will be heard solely
      by a court or tribunal of competent jurisdiction in or nearest to the city of Vancouver, British Columbia, Canada.
      If you bring a dispute in a manner other than in accordance with this section, you agree that we may move to have
      it dismissed, and that you will be responsible for our reasonable attorney&rsquo;s fees, court costs, and
      disbursements in doing so. You agree that the unsuccessful party in any dispute arising from or relating to these
      Terms will be responsible for the reimbursement of the successful party&rsquo;s reasonable attorney&rsquo;s fees,
      court costs, and disbursements.
    </p>
    <p><strong>Waiver of Class Actions, Non-Individualized Relief</strong>. You acknowledge and accept that claims
      brought against WTHapps shall be only on an individual basis and not as a plaintiff or class member in any
      possible future class or representative action or similar proceeding. Unless otherwise agreed by you and WTHapps,
      you may not adjoin or consolidate any claim with more than one person's; and you may not otherwise supervise or
      take over any form of a class, representative or consolidated proceeding.
    </p>
    <p><strong>Waiver of Jury Trial</strong>. The parties herein waive their constitutional and statutory rights to go
      to court and have a trial in front of a judge or a jury, instead electing that all claims and disputes be resolved
      by a competent judge.
    </p>
    <p><strong>Language</strong>. WTHapps may provide a translation of the English version of these Terms into other
      languages; and any translation thereof is only for convenience and the English version shall prevail.
    </p>
    <h4>Contact</h4>
    <p>If you have any questions or queries about us, our Site, our Services, our Policy or these Terms, please contact
      us by email to <a href="mailto:contact@wthapps.com">contact@wthapps.com</a>.
    </p>
    <p><strong>Date of last effective update is December 1, 2016</strong>.</p>
  </div>
</section>
