<ul class="page-body-control-menu" *ngIf="selectedObjects.length > 0">
  <li *ngIf="selectedObjects.length <= 1">
    <a href="javascript:;" class="btn btn-default" (click)="onEdit()"
       pTooltip="{{ tooltip.edit }}" tooltipPosition="bottom">
      <i class="fa fa-pencil"></i>
    </a>
  </li>
  <li>
    <a href="javascript:;" class="btn btn-default" (click)="onShare()"
       pTooltip="{{ tooltip.share }}" tooltipPosition="bottom">
      <i class="fa fa-share-alt"></i>
    </a>
  </li>
  <li>
    <a href="javascript:;" class="btn btn-default" (click)="onDelete()"
       pTooltip="{{ tooltip.delete }}" tooltipPosition="bottom">
      <i class="fa fa-trash-o"></i>
    </a>
  </li>
  <li class="dropdown action">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            pTooltip="{{ tooltip.moreAction }}" tooltipPosition="bottom">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right text-right">
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:;">Make copy</a>
      </li>
      <li role="presentation">
        <a (click)="onMoveToFolder()" role="menuitem" tabindex="-1" href="javascript:;">Move to folder</a>
      </li>
    </ul>
  </li>
</ul>

