<li class="has-sub has-action active">
  <a draggable="false" href="javascript:;" (click)="onMenu('note')">
    Notes
  </a>
  <ul class="menuleft-nav-sub active">
    <li [routerLinkActive]="['active']">
      <a [routerLink]="[noteMenu[0].link]" [routerLinkActive]="['active']" (click)="onNoteClick($event)" href="javascript:;">
        <i class="{{ noteMenu[0].icon }}"></i> {{ noteMenu[0].name }}
      </a>
    </li>
    <ng-template ngFor let-folder [ngForOf]="noteFolders" let-i="index">
      <li>
        <a class="folder-title" [routerLink]="['/folders', folder.id]" class="">
          {{ folder.name }}
        </a>
        <div class="menuleft-nav-sub-action" >
          <span class="can-click"
                (click)="doEvent({action:'note:folder:edit', payload: folder})"
                title="edit folder name">
            <i class="fa fa-pencil"></i>
          </span>
          <span class="can-click" (click)="doEvent({action:'note:folder:delete', payload: folder})" title="delete label">
            <i class="fa fa-trash"></i>
          </span>
        </div>
      </li>
    </ng-template>
    <li class="well-folder-tree-left">
      <div class="well-folder-tree">
        <p-panelMenu [model]="noteFoldersTree"></p-panelMenu>
      </div>
    </li>
    <ng-template ngFor let-note [ngForOf]="noteMenu" let-i="index" >
      <li *ngIf="note.name != '' && i > 0" [routerLinkActive]="['active']" [ngClass]="{'hidden': note.link == '/search'}">
        <a *ngIf="note.link != '#'" draggable="false" [routerLink]="[note.link]" [queryParams]="{}"
           (click)="onNoteClick($event)" href="javascript:;">
          <i class="{{ note.icon }}"></i> {{ note.name }}
        </a>
        <a *ngIf="note.link == '#'" class="can-click" draggable="false" (click)="doEvent({action: note.action})">
          <i class="{{ note.icon }}"></i> {{ note.name }}
        </a>
      </li>
      <li class="divider" *ngIf="note.name == ''"></li>
    </ng-template>
  </ul>
</li>
