<div class="page-body-control-nav">
  <ng-content></ng-content>
</div>
<div class="page-body-control-nav page-body-control-nav-right">
  <z-note-shared-actions-bar [multiple]="true"></z-note-shared-actions-bar>
  <ul class="page-body-control-menu">
    <li class="dropdown action">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
              pTooltip="{{ tooltip.changeView }}" tooltipPosition="bottom">
        <i class="fa" [ngClass]="{'fa-th-list': viewOption == 'list', 'fa-th-large': viewOption == 'grid'}"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right text-right">
        <li>
          <a (click)="onChangeView('grid')" href="javascript:;"
             draggable="false">
            <i class="fa fa-th-large"></i> Grid
          </a>
        </li>
        <li>
          <a (click)="onChangeView('list')" href="javascript:;"
             draggable="false">
            <i class="fa fa-th-list"></i> List
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
