<div class="header-intro">
  <div class="container">
    <h2><span>About us</span></h2>
    <p>
      <strong class="fz16">WTH!APPS</strong> is a technology start-up. <br>
      We build simple, yet powerful, products to help people connect and organize their digital lives.
    </p>
  </div>
</div>
<section class="page-content about-intro bg-gray-light">
  <div class="container">
    <div class="page-content-img">
      <div class="about-intro-img">
        <img src="/assets/images_new/about/about-img.png" alt="">
      </div>
    </div>
    <div class="page-content-txt">
      <h3>&quot;WTH&quot; is our story?</h3>
      <div>
        <p>
          Our inspiration came from one short familiar phrase, &quot;WTH! – What the Hell!&quot;
        </p>
        <p>
          This can be a cry of frustration: &quot;WTH! Why is this not working, so complicated and painful!? Why are
          there
          so
          many pop-ups and ads!? Why can’t I have online privacy?!&quot;
        </p>
        <p>
          Or it can be a cry for change; a call to take up the challenge to make things better: &quot;WTH! Let’s fix
          this! Let’s make it better!&quot;</p>
        <p>
          We took our collective frustrations and annoyances with the Internet and turned it into something positive:
          WTH!Apps!</p>
        <p>
          WTH!APPS is a stress-free and enjoyable place for the complete management of your digital life.</p>
        <p>
          We built it with these aims in mind:</p>
        <ul class="list-styled">
          <li>Simplify your digital life</li>
          <li>
            Keep your social, chat and everything else in your digital life in one place
          </li>
          <li>
            Create Easy-to-use Apps
          </li>
          <li>
            Remove unwanted distractions
          </li>
          <li>
            Consolidate, organize and easily search all your digital stuff
          </li>
          <li>
            Create a peaceful and fun online environment
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="page-content about-mission bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Our mission in a nutshell</h3>
        <ul class="list-styled">
          <li>Give you all the online tools you need to have a simpler, peaceful, productive and fun digital life</li>
          <li>Enable you to easily and securely connect with your family, friends, community and coworkers</li>
          <li>Help you organize all your digital stuff</li>
          <li>Provide a private and ad free online WTH!Zone</li>
          <li>Make the internet a fun place again</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>Our values in a nutshell</h3>
        <ul class="list-styled">
          <li>Simplicity</li>
          <li>Functionality</li>
          <li>Peacefulness</li>
          <li>Privacy</li>
          <li>Friends, Family and Community</li>
          <li>Fun</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<portal-shared-footer-promotion></portal-shared-footer-promotion>
