<div class="zone-social">
  <div class="zone-social-in">

    <div class="zone-social-cover">
      <div class="zone-social-cover-in group">
        <div class="zone-social-cover-info">
          <div class="z-social-media z-social-media-md">
            <div class="z-social-media-left">
              <img src="assets/images/avatar/avatar-lg.png" alt="">
            </div>
            <div class="z-social-media-body">
              <div class="z-heading">
                <div class="z-name">
                  Group Number 01
                </div>
              </div>
              <div class="z-shared-info">
                <ul>
                  <li>
                    12 members
                  </li>
                  <li>
                    Private
                  </li>
                </ul>
              </div>
              <div class="z-shared-description">
                This is a short description line that helps other members to gain some knowledge about this member.
                This line is around 150 characters long in length.
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="zone-social-cover-nav">
        <ul class="list-unstyled clearfix">
          <li class="active">
            <a href="#">Post</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Members</a>
          </li>
          <li>
            <a href="#">Notification <span class="badge badge-rounded badge-wth badge-right">15</span></a>
          </li>
          <li class="pull-right dropdown">
            <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-custom">
              <li><a href="#">Edit Contact Profile</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <post-new #postNew (onPostAdded)="reloadPosts($event)"></post-new>

    <post-list #posts></post-list>

  </div>
  <div class="zone-social-sidebar">
    <dl>
      <dt>Favourite</dt>
      <dd>
        <ul class="list-unstyled">
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 02
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 02
            </span>
          </li>
          <li>
            <img src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 03
            </span>
          </li>
        </ul>
      </dd>
    </dl>
  </div>

  <!--<wth-to-top></wth-to-top>-->

</div>
