@import '../../../../assets/styles/global';
@import '../../../../assets/styles/modules/card';

:host {
  display: block;
}

$note-name: auto;
$note-owner: 200px;
$note-description: 200px;
$note-date: 200px;
$note-action: 200px;

.component-listbox-list {
  .component-listbox-name {
    width: $note-name;
  }

  .component-listbox-owner {
    width: $note-owner;
  }

  .component-listbox-description {
    width: $note-description;
  }

  .component-listbox-date {
    width: $note-date;
  }

  .component-listbox-action {
    width: $note-action;
  }
}

.component-listbox-action {
  @include clearfix;
  .page-body-control-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include flexbox;
  }
}

.date-header {
  text-align: left;
}

.component-listbox-list {
  .component-listbox-description {
    display: none !important;
  }
}

.dropdown .caret-toggle {
  i {
    visibility: hidden;
  }
  &:hover {
    i {
      visibility: visible;
    }
  }
}

.component-listbox-grid {
  display: block;
  margin: 20px;
  @include clearfix;
  .component-listbox-header {
    display: none !important;
  }
  .component-listbox-body {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    .component-listbox-row {
      @include card();
      padding: 10px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .action {
      float: right !important;
    }
    .component-listbox-owner, .component-listbox-date {
      display: none;
    }
    .component-listbox-name {
      font-weight: bold;
      margin-bottom: 10px;
      span {
        overflow: hidden;
        max-height: 36px;
        display: block;
      }
    }
    .component-listbox-description {
      margin-bottom: 20px;
      overflow: hidden;
      height: 100px;
    }
    .item-folder {
      .component-listbox-name {
        margin-bottom: 0;
        span {
          white-space: nowrap;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
      }
      .component-listbox-action, .component-listbox-description {
        display: none;
      }
    }
  }
  .fa-file {
    display: none;
  }
  .component-listbox-name.can-click {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }
  .component-listbox-action {
    .page-body-control-menu {
      position: relative;
      z-index: 20;
    }
  }
}
