<footer class="footer">
  <div class="footer-nav">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h5>Around the Site</h5>
            <ng-content></ng-content>
          <ul class="footer-menu around-the-site">
            <li>
              <a [attr.href]="portalDomain + '/apps'">Apps</a>
            </li>
            <li>
              <a [attr.href]="portalDomain + '/pricing'">Pricing</a>
            </li>
            <li>
              <a [attr.href]="portalDomain + '/about'">About Us</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Support</h5>
          <ng-content></ng-content>
          <ul class="footer-menu">
            <li>
              <a [attr.href]="portalDomain + '/policies/terms'">Term of Service</a>
            </li>
            <li>
              <a [attr.href]="portalDomain + '/policies/privacy'">Privacy &amp; Cookies Policy</a>
            </li>
            <li>
              <a [attr.href]="portalDomain + '/faq'">Frequently Asked Questions</a>
            </li>
            <li>
              <a [attr.href]="portalDomain + '/contact'">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Account</h5>
          <ng-content></ng-content>
          <ul class="footer-menu">
            <li><a [attr.href]="portalDomain + '/signup'">Sign up</a></li>
            <li><a [attr.href]="portalDomain + '/login'">Log in</a></li>
          </ul>

        </div>
        <div class="col-sm-3">
          <h5>Follow Us On</h5>
          <ul>
            <li>
              <div class="social-dv">
                <a target="_blank" href="https://www.facebook.com/" rel="noopener"><i class="fa fa-facebook-square"></i></a>
                <a target="_blank" href="https://twitter.com/" rel="noopener"><i class="fa fa-twitter-square"></i></a>
                <a target="_blank" href="https://www.pinterest.com/" rel="noopener"><i class="fa fa-pinterest-square"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-end">
    <div class="container">
      <p>&copy;{{ currentVersion }}. All rights reserved</p>
    </div>
  </div>
</footer>
