@import "../../../assets/styles/global";

.social-news-feeds {
  .panel-body {

    .link-text {
      &, &:hover, &:focus {
        color: inherit;
      }
      &:hover,
      &.active {
        background-color: #e5e5e5;
      }
      &.active {
        color: $theme-color;
      }
    }
  }
  .accordion-menu {
    margin-left: -15px;
    margin-right: -15px;
    .accordion-menu-header {
      .accordion-menu-icon {
        padding: 5px 0 5px 15px;
      }
      .accordion-menu-text {
        padding: 5px 15px 5px 30px;
      }
      &:hover,
      &.active {
        background-color: #e5e5e5;
      }
      &.active {
        a {
          color: $theme-color;
        }
      }
    }
    .accordion-menu-body {
      a {
        display: block;
        padding: 5px 15px 5px 30px;
        &:hover,
        &.active {
          background-color: darken(#e5e5e5, 10%);
        }
        &.active {
          color: $theme-color;
        }
      }
    }
  }

}

.social-news-feeds-setting {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  padding: 15px;
  border-top: 1px solid $line;
  max-height: 300px;
  overflow: auto;
  .media {
    line-height: 1;
    & + .media {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid $line;
    }
  }
}
