.banner-wrap {
  margin-top: -20px;
  position: relative;
  z-index: 1;
  .banner-img {
    height: 580px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      margin: 0 0 0 -960px;
    }
  }
  .banner-txt {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    max-width: 380px;
  }
}

.main {
  .title {
    text-align: center;
  }

  .boxes-tabs {
    text-align: center;
    margin: 100px 0;
    .table-plan {
      margin-top: 30px;
      tr {
        th {
          text-align: center;
        }
        td {
          vertical-align: middle;
        }
        td:first-child {
          text-align: left;
        }
      }
    }
    &.boxes-tabs-2 {
      background-image: url(../images/too-many-apps.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      color: #ffffff;
      padding: 150px 0;
      h2, h3 {
        text-shadow: 1px 1px 5px #000000;
      }
    }
    &.boxes-tabs-4 {
      background-image: url(../images/no-commitments.jpg);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      color: #ffffff;
      padding: 150px 0;
      h2, h3, p {
        text-shadow: 1px 1px 5px #000000;
      }
      margin-bottom: 0;
    }
  }
}

.statement {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}