<aside class="main-page-left-in page-body-sidebar aside-chat">
  <div class="form-group">
    <a [routerLink]="['new_conversation']" class="btn btn-default"><i class="fa fa-plus"></i> New Message</a>
  </div>
  <dl class="p-list-user-group">
    <dt>Favourites</dt>
    <dd>
    </dd>
  </dl>
  <dl class="p-list-user-group">
    <dt>Recent</dt>
    <dd>
      <ul class="p-list-user p-list-outside" *ngIf="item.value">
        <li *ngFor="let contact of item.value.data" [routerLinkActive]="['active']" >
          <a [routerLink]="[chatService.constant.conversation_url, contact.id]" (click)="onSelect(contact)">
            <div class="pull-right">
              <span class="badge badge-wth" *ngIf="contact.notification > 0">{{contact.notification}}</span>
            </div>
            <figure>
              <img [src]="contact.display.image">
              <span class="p-list-user-status online"></span>
            </figure>
            <span>{{contact.display.name}}</span>
          </a>
        </li>
      </ul>
    </dd>
  </dl>
  <!--<div>-->
    <!--<button (click)="getContact()">Get Contact</button>-->
  <!--</div>-->
</aside>

