<z-chat-share-toolbar #chatToolbar style="display: none"></z-chat-share-toolbar>
<aside class="main-page-left-in page-body-sidebar aside-chat">
  <div class="form-group">
    <a href="javascript:;" class="btn btn-wth-inline-border" (click)="onAddContact()"><i class="fa fa-plus"></i> New Message</a>
  </div>
  <dl class="media-user-list-group">
    <dt>Favourites</dt>
    <dd *ngIf="favouriteContacts.value">
      <div class="media media-user-list" *ngFor="let contact of favouriteContacts.value" [routerLinkActive]="['active']">
        <div class="media-body">
          <a [routerLink]="[chatService.constant.conversationUrl, contact.id]" (click)="onSelect(contact)">
            <z-chat-share-user [data]="contact"></z-chat-share-user>
          </a>
        </div>
        <div class="media-right">
          <span class="badge badge-wth" *ngIf="contact.notification_count > 0">{{contact.notification_count}}</span>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="media-user-list-group">
    <dt>Recent</dt>
    <dd *ngIf="recentContacts.value">
      <div class="media media-user-list" *ngFor="let contact of recentContacts.value" [routerLinkActive]="['active']">
        <div class="media-body">
          <a [routerLink]="[chatService.constant.conversationUrl, contact.id]" (click)="onSelect(contact)">
            <z-chat-share-user [data]="contact"></z-chat-share-user>
          </a>
        </div>
        <div class="media-right">
          <span class="badge badge-wth" *ngIf="contact.notification_count > 0">{{contact.notification_count}}</span>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="media-user-list-group">
    <dd>
      <a [routerLink]="['/history']" href="#" class="btn btn-default"><i class="fa fa-clock-o"></i> History</a>
    </dd>
  </dl>

</aside>

