<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title text-left"><i class="fa fa-pencil"></i> About</h4>
    </modal-header>
    <modal-body>
      <div class="form-group" [ngClass]="{'has-error': (!community_name.valid && community_name.touched),
        'has-success': (community_name.valid && community_name.touched)}">
        <label for="community_name">Community Name</label>
        <input [formControl]="community_name" type="text" class="form-control" id="community_name"
               placeholder="Community Name">
        <div *ngIf="!community_name.valid && community_name.touched">
              <span *ngIf="!community_name.valid && community_name.errors.required" class="help-block">
                Community name is required
              </span>
        </div>
      </div>

      <div class="form-group">
        <div class="pull-right text-fade"><span>{{tag_line.value|showLength}}</span>/150 characters</div>
        <label>Tag Line</label>
        <textarea [formControl]="tag_line" maxlength="150" rows="3" class="form-control"
                  id="tag_line"
                  placeholder="Tag Line"></textarea>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea [formControl]="description" rows="3" class="form-control" id="description"
                  placeholder="Description"></textarea>
      </div>

      <div class="form-group">
        <label>Additional Link</label>
        <div class="content-overflow" style="max-height: 155px;" formArrayName="additional_links">
          <div *ngFor="let add_link of additionalLinkControls(); let i=index" class="media">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-6">
                  <div class="form-group mb0 no-label"
                       [ngClass]="{
                       'has-error': (add_link['controls'].url.valid
                       && add_link['controls'].url.touched
                       && form?.value?.additional_links[i].name.length==0
                       && form?.value?.additional_links[i].url.length>1),
                       'has-success': (add_link['controls'].url.valid
                       && add_link['controls'].url.touched
                       && form?.value?.additional_links[i].name.length>1)}">
                    <input type="text" class="form-control" formControlName="name" placeholder="External link title">
                    <div *ngIf="(add_link['controls'].url.valid
                       && add_link['controls'].url.touched
                       && form?.value?.additional_links[i].name.length==0
                       && form?.value?.additional_links[i].url.length>1)">
                      <span class="help-block">
                        Title is required
                      </span>
                    </div>
                  </div>

                </div>
                <div class="col-sm-6">
                  <div class="form-group mb0 no-label" [ngClass]="{'has-error': (!add_link['controls'].url.valid && add_link['controls'].url.touched),
        'has-success': (add_link['controls'].url.valid
        && add_link['controls'].url.touched
        && form?.value?.additional_links[i].url.length>1)}">
                    <input type="text" class="form-control" formControlName="url" placeholder="http://...">
                    <div
                      *ngIf="!add_link['controls'].url.valid && add_link['controls'].url.touched">
                    <span
                      *ngIf="!add_link['controls'].url.valid && add_link['controls'].url.errors.url"
                      class="help-block text-danger">
                      URL is not valid
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-default" (click)="removeItem(i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="mt15">
          <button type="button" class="btn btn-default" (click)="addItem()">
            <i class="fa fa-plus"></i> More link
          </button>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button type="submit" class="btn btn-wth-default btn-min mr10" (click)="onSubmit(form.value)">Done</button>
      <button type="button" class="btn btn-default btn-min" (click)="modal.close()">Cancel</button>
    </modal-footer>
  </modal>
</form>
