<div *ngIf="!showInfo" class="z-social-media">
  <a [routerLink]="['profile', item.owner.uuid]">
    <div class="z-social-media-left">
      <img [src]="item.owner.profile_image" alt="">
    </div>
  </a>

  <div class="z-social-media-body">
    <div class="z-heading">
      <a [routerLink]="['/zone/social/profile/', item.owner.uuid]">
        <div class="z-name">
          {{item.owner.name}}
        </div>
      </a>
      <div class="z-shared-with dropdown">
        <a class="text-capitalize" href="#" (click)="modal.open();" data-toggle="dropdown">
          <i class="fa {{privacyClassIcon(item)}}">
          </i> {{privacyName(item)}}</a>

        <hd-modal #modal cssClass="modal-social modal-long" [keyboard]="false" [backdrop]="'static'">
          <modal-header cssClass="modal-social-head" [show-close]="true">
            <h4 class="modal-title text-left text-capitalize"> {{privacyName(item)}}</h4>
            <button type="button" class="close" style="right:15px;left: auto;" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </modal-header>
          <modal-body>
            <ul class="list-unstyled social-list-user wth-scrollable">
              <li *ngFor="let item of item.custom_objects">
            <span class="social-list-user-action">
            </span>
                <img alt="" [src]="item.profile_image" title="" width="30">
                <span>{{item.name}}</span>
              </li>
            </ul>
          </modal-body>
          <modal-footer>
            <button type="button" class="btn btn-wth-default btn-min" data-dismiss="modal" (click)="modal.dismiss()">DONE</button>
          </modal-footer>
        </hd-modal>

      </div>
    </div>
    <div class="z-shared-info">
      <ul>
        <li>
          {{item.created_at | date}}
        </li>
        <li class="note" *ngIf="item.adult">
          Adult content
        </li>
        <li class="note" *ngIf="item.mute">
          Mute
        </li>
        <li class="note" *ngIf="item.disable_comment">
          Disable comment
        </li>
        <li class="note" *ngIf="item.disable_share">
          Disable share
        </li>
      </ul>
    </div>
  </div>
  <div class="z-social-media-right">
    <div class="dropdown pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#" (click)="update({adult: !item.adult}, $event)">
          Adult content <i class="fa fa-check" *ngIf="item.adult"></i>
        </a>
        </li>
        <li><a href="#" (click)="update({mute: !item.mute}, $event)">
          Mute<i class="fa fa-check" *ngIf="item.mute"></i>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="#" (click)="edit($event)" >Edit Post</a></li>
        <li><a href="#" (click)="delete($event)">Delete</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" *ngIf="!item.disable_comment"
               (click)="update({disable_comment: true}, $event)">
          Disable comment</a></li>
        <li><a href="#" *ngIf="item.disable_comment"
               (click)="update({disable_comment: false}, $event)">
          Enable comment</a></li>
        <li><a href="#" *ngIf="!item.disable_share"
               (click)="update({disable_share: true}, $event)">
          Disable share</a></li>
        <li><a href="#" *ngIf="item.disable_share"
               (click)="update({disable_share: false}, $event)">
          Enable share</a></li>

      </ul>
    </div>

    <div *ngIf="!showDetail" class="dropdown pull-right">
      <a [routerLink]="['/zone/social/posts', item.uuid]" class="btn btn-default">
        <i class="fa fa-external-link"></i>
      </a>
    </div>
  </div>

  <div *ngIf="showInfo" class="z-social-media-right">
    <div class="dropdown pull-right">
      <a href="javascript:;" class="btn btn-default" (click)="onShowInfo()">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>

</div>

