<div *ngIf="!showInfo" class="z-social-post">
  <div class="z-social-post-content">
    <div class="z-social-post-txt">
      <read-more [maxheight]="120" [content]="item.description">
      </read-more>
    </div>
    <div class="z-social-post-tag">
      <a *ngFor="let tag of item.tags">
        {{tag.name}}
      </a>
    </div>
  </div>
  <div class="z-social-carousel">
    <ul class="{{item.displayCss}}">
      <li *ngFor="let photo of item.photos;	let	i	=	index">
        <figure *ngIf="i < 5" (click)="onShowPhotoDetail(i)">
          <img class="img-full" [src]="photo.url" alt="">
        </figure>
        <figure *ngIf="i == 5 && item.remainPhotos == 0" (click)="onShowPhotoDetail(i)">
          <img class="img-full" [src]="photo.url" alt="">
        </figure>
        <a href="javascript:;" (click)="onShowPhotoDetail(i)" *ngIf="i == 5 && item.remainPhotos != 0">
                <span>
                  + {{item.remainPhotos}}
                </span>
          <figure>
            <img class="img-full" [src]="photo.url" alt="">
          </figure>
        </a>
      </li>
    </ul>
  </div>

  <div class="z-social-post-action">
    <ul class="pull-left">
      <li class="active">
        <i class="fa fa-thumbs-o-up" (click)="update({}, $event)"></i> {{item.reactions_like.length}}
      </li>
      <li>
        <i class="fa fa-thumbs-o-down"></i> {{item.reactions_dislike.length}}
      </li>
      <li *ngIf="!item.disable_share">
        <i class="fa fa-share-alt" (click)="openShare($event)"></i> {{item.reactions_share.length}}
      </li>
    </ul>

    <ul class="pull-right">
      <li>
        <a data-toggle="modal" href="#" (click)="openActivities($event)">Share Activities</a>
      </li>
    </ul>

  </div>
</div>
