<div class="z-social-comment">
  <div class="z-social-comment-num">{{item.comments.length}} Comments</div>
  <ul class="z-social-comment-list media-list">
    <li class="media" *ngFor="let comment of item.comments">
      <div class="media-left">
        <a href="#">
          <img alt="64x64" class="media-object" src="assets/images/avatar/avatar.png">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading
          <span class="media-heading-time">1 day ago</span>
        </h4>
        <p>{{comment.content}}</p>
        <div class="media-body-action">
          <a href="#">
            <i class="fa fa-pencil"></i>
          </a>
        </div>
        <div class="media-body-reply">
          <ul>
            <li class="active"><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
            <li><a href="#"><i class="fa fa-thumbs-o-down"></i></a></li>
            <li><a href="#">Reply</a></li>
            <li><a href="#">{{comment.replies.length}} Replies</a></li>
          </ul>
        </div>
        <div class="media" *ngFor="let replies of comment.replies">
          <div class="media-left">
            <a href="#">
              <img alt="64x64" class="media-object" src="assets/images/avatar/avatar.png">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Media heading
              <span class="media-heading-time">1 day ago</span>
            </h4>
            <p>{{replies.content}}</p>
            <div class="media-body-reply">
              <ul>
                <li class="active"><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                <li><a href="#"><i class="fa fa-thumbs-o-down"></i></a></li>
                <li><a href="#">Reply</a></li>
                <li><a href="#">{{replies.replies.length}} Replies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="z-social-comment-more">
    <a href="#">View all comments</a>
  </div>
</div>
