<div class="z-social-media">
  <div class="z-social-media-left">
    <img src="assets/images/avatar/avatar.png" alt="">
  </div>
  <div class="z-social-media-body">
    <div class="z-heading">
      <div class="z-name">
        {{item.owner.nickname}}
      </div>
      <div class="z-shared-with dropdown">
        <a href="#" data-toggle="dropdown"><i class="fa fa-globe"></i> Public</a>
        <ul class="dropdown-menu dropdown-menu-wth dropdown-menu-check" aria-labelledby="dropdownMenu1">
          <li><a href="#"><i class="fa fa-globe"></i> Public <i class="dropdown-menu-check-item fa fa-check"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-users"></i> Friends</a></li>
          <li><a href="#"><i class="fa fa-lock"></i> Private</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Custom</a></li>
        </ul>
      </div>
    </div>
    <div class="z-shared-info">
      <ul>
        <li class="z-time">
          Jul 16 2016
        </li>
        <li>
          Adult Content
        </li>
        <li>
          Muted
        </li>
      </ul>
    </div>
  </div>
  <div class="z-social-media-right">
    <div class="dropdown pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#"><i class="fa fa-check"></i> Adult content</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Edit Post</a></li>
        <li><a href="#">Delete</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Disable comments</a></li>
        <li><a href="#">Disable reshare</a></li>
        <li><a href="#">Mute</a></li>
      </ul>
    </div>

    <div class="dropdown pull-right">
      <a href="javascript:;" class="btn btn-default">
        <i class="fa fa-external-link"></i>
      </a>
    </div>
  </div>
</div>

