<div *ngIf="!item.disable_comment" class="z-social-comment">
  <!--Add new comment-->
  <comment-box (eventEmitter)="onCallBack($event)" [item]="item" [type]="commentBoxType.Add"></comment-box>

  <div class="z-social-comment-num">{{item.comments.length}} Comments</div>
  <input type="checkbox" class="read-more-state" attr.id="post-{{item.uuid}}"/>
  <ul class="z-social-comment-list media-list read-more-wrap">


    <li class="media" *ngFor="let comment of item.comments; let i = index" [ngClass]="{'read-more-target': (i > 2)}">
      <!--Edit comment-->
      <comment-box id="editComment-{{comment.uuid}}" (eventEmitter)="onCallBack($event)" [item]="item"
                   [comment]="comment" style="display: none" [type]="commentBoxType.Edit"></comment-box>
      <div id="comment-{{comment.uuid}}">
        <div class="media-left">
          <a href="zone/social/profile/{{comment.owner.uuid}}">
            <img alt="64x64" class="media-object" [src]="comment.owner.profile_image"
                 style="width: 34px; border-radius: 3px">
          </a>
        </div>
        <div class="media-body">
          <a href="zone/social/profile/{{comment.owner.uuid}}">
            <h4 class="media-heading">{{comment.owner.name}}
              <span class="media-heading-time">{{comment.created_at | dateUntilNow}}</span>
            </h4>
          </a>
          <p>{{comment.content}}</p>
          <img *ngIf="comment.photo" [src]="comment.photo.url" style="max-width: 200px">
          <div class="media-body-action dropdown pull-right" *ngIf="userService.profile.uuid == comment.owner.uuid">
            <a data-toggle="dropdown">
              <i class="fa fa-pencil"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;" (click)="onActions(actions.onEditComment, comment)">Edit Comment</a></li>
              <li><a href="javascript:;" (click)="onActions(actions.onDeleteComment, comment)">Delete</a></li>
            </ul>
          </div>
          <div class="media-body-reply">
            <ul>
              <li>
                <i class="fa fa-thumbs-o-up mr5" [ngClass]="{'active' : hasLike}"
                   (click)="postItem.createReaction($event, 'like', 'comment', comment.uuid)"></i>
                <a *ngIf="comment.likes.length>0" data-toggle="modal" href="#" (click)="onActions(actions.openLikeDislike, comment.likes, 'like')">{{comment.likes.length}}</a>
                <a *ngIf="comment.likes.length==0" href="javascript:;">{{comment.likes.length}}</a>
              </li>
              <li>
                <i class="fa fa-thumbs-o-down mr5" [ngClass]="{'active' : hasDislike}"
                   (click)="postItem.createReaction($event, 'dislike', 'comment', comment.uuid)"></i>
                <a *ngIf="comment.dislikes.length>0" data-toggle="modal" href="#" (click)="onActions(actions.openLikeDislike, comment.dislikes, 'dislike')">{{comment.dislikes.length}}</a>
                <a *ngIf="comment.dislikes.length==0" href="javascript:;">{{comment.dislikes.length}}</a>
              </li>
              <li><a href="javascript:;" (click)="onActions(actions.onReply, comment)">{{comment.replies.length}}
                Replies</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="media" *ngFor="let reply of comment.replies">
        <!--Edit reply-->
        <comment-box id="editComment-{{reply.uuid}}" (eventEmitter)="onCallBack($event)" [item]="item"
                     [comment]="comment" [reply]="reply" style="display: none"
                     [type]="commentBoxType.EditReply"></comment-box>
        <div id="comment-{{reply.uuid}}">
          <div class="media-left">
            <a href="zone/social/profile/{{reply.owner.uuid}}" class="media-object">
              <img alt="64x64" class="media-object" [src]="reply.owner.profile_image" style="width: 34px; border-radius: 3px">
            </a>
          </div>
          <div class="media-body">
            <a href="zone/social/profile/{{reply.owner.uuid}}">
              <h4 class="media-heading">{{reply.owner.name}}
                <span class="media-heading-time">{{reply.created_at | dateUntilNow}}</span>
                <div class="media-body-action dropdown pull-right" *ngIf="userService.profile.uuid == reply.owner.uuid">
                  <a data-toggle="dropdown">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;" (click)="onActions(actions.onEditComment, reply)">Edit Comment</a></li>
                    <li><a href="javascript:;" (click)="onActions(actions.onDeleteReply, reply)">Delete</a></li>
                  </ul>
                </div>
              </h4>
            </a>
            <p>{{reply.content}}</p>
            <img *ngIf="reply.photo" [src]="reply.photo.url" style="max-width: 200px">
            <div class="media-body-reply">
              <ul>
                <li>
                  <i class="fa fa-thumbs-o-up mr5"
                     (click)="postItem.createReaction($event, 'like', 'comment', reply.uuid)"></i>
                  <a *ngIf="reply.likes.length>0" data-toggle="modal" href="#" (click)="onActions(actions.openLikeDislike, reply.likes, 'like')">{{reply.likes.length}}</a>
                  <a *ngIf="reply.likes.length==0" href="javascript:;">{{reply.likes.length}}</a>
                </li>
                <li>
                  <i class="fa fa-thumbs-o-down mr5"
                     (click)="postItem.createReaction($event, 'dislike', 'comment', reply.uuid)"></i>
                  <a *ngIf="reply.dislikes.length>0" data-toggle="modal" href="#" (click)="onActions(actions.openLikeDislike, reply.dislikes, 'dislike')">{{reply.dislikes.length}}</a>
                  <a *ngIf="reply.dislikes.length==0" href="javascript:;">{{reply.dislikes.length}}</a>
                </li>
                <li><a href="javascript:;" (click)="onActions(actions.onReply, comment)">{{reply.replies.length}}
                  Replies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <comment-box id="reply-{{comment.uuid}}" (eventEmitter)="onCallBack($event)" [item]="item" [comment]="comment"
                   style="display: none;" [type]="commentBoxType.Reply"></comment-box>
    </li>
  </ul>
  <div *ngIf="!showInfo" class="z-social-comment-more">
    <label attr.for="post-{{item.uuid}}" class="read-more-trigger">View all comments</label>
  </div>
</div>
