@import '../../assets/styles/global';
@import '../../assets/styles/variables';
@import '../../assets/fonts/font-awesome/scss/custom-variables';
@import '../../assets/fonts/font-awesome/scss/font-awesome';

$note-editor-aside-w: 400px;

.note-editor-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
  @include flexbox;
  @include flex-direction(column);

  #quill-container {
    &:after,
    &:before {
      content: none;
    }
    @include flexbox;
    #quill-content-body {
      @include flex(1);
      width: 100%;
    }
  }
}

#quill-toolbar {
  display: none;
}

.note-editor-header {
  padding: $grid-gutter-width/2;

  .note-editor-header-content {
    @include flexbox;
  }
  .note-editor-header-action-right {
    @include order(1);
    ul:not(.dropdown-menu) {
      // margin: 0 15px 0 0;
      margin: 0;
      padding: 0;
      list-style-type: none;
      > li {
        float: left;
      }
    }
  }
  .note-editor-header-input {
    @include flex(1);
    padding: 0 $grid-gutter-width/2;
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
    }
    h4 {
      height: 100%;
      margin: 0;
      @include flexbox;
      @include align-items(center);
    }

    input.form-control {
      border: none;
      
      &:focus {
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
}

.note-editor-nav {
  @include box-shadow($box-shadow-bottom-sm);
  position: relative;
  z-index: 2;
}

.note-editor-content {
  @include flex(1);
  @include flexbox;
  @include flex-direction(column);
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
  .container-fluid {
    max-width: none;
  }
  .note-editor-toolbar {
    background-color: #fbfbfb;
    padding: 1px 0;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
    .ql-toolbar.ql-snow {
      border-width: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      .ql-color-picker {
        .ql-picker-options {
          width: 112px;
        }
      }

      .ql-formats {
        .ql-size,.ql-font {
          .ql-active {
            color: #444;

            .ql-stroke {
              stroke: #444;
            }
          }
        }
      }
    }
    .quill-toolbar-attachment {
      padding: 8px;

      .title {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
      }
    }
  }
  .note-editor-body {
    @include flex(1);
    overflow: auto;
    padding-top: $grid-gutter-width/2;
  }
  .note-editor-aside {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: -$note-editor-aside-w;
    width: $note-editor-aside-w;
    background-color: #fff;
    border: 1px solid $line;
    overflow: auto;
    @include transition($transition-base);
  }
  &.show-aside {
    padding-right: $note-editor-aside-w;
    .note-editor-aside {
      right: 0;
    }
    .container {
      width: auto;
    }
  }
}

.note-editor-wrap {
  .note-read-only {
    img {
      max-width: 100% !important;
      height: auto !important;
    }
  }

  .fileinput-button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include opacity(0);
      cursor: pointer;
    }
  }

  @media all {
    p > img {
      text-align: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      cursor: move !important;
    }

    .big-icon {
      font-size: 200px;
    }
  }

  //@media screen {
  //  .printable {
  //    /*visibility: hidden;*/
  //    display: none;
  //  }
  //}
  //
  //@media print {
  //  body {
  //    //visibility: hidden;
  //    display: none;
  //  }
  //  .printable {
  //    //visibility: visible;
  //    //display: block;
  //  }
  //
  //}
}

@media screen {
  .printable {
    /*visibility: hidden;*/
    display: none;
  }
}

@media print {
  body {
    //visibility: hidden;
    display: none;
  }
  .ql-container.ql-snow {
    border-style: none;
  }
  .printable {
    //visibility: visible;
    display: block;
  }
}

@media (max-width: $screen-sm-max) {
  .note-editor-nav {
    display: none;
  }

  .note-editor-header {
    padding: 5px;
    border-bottom: 1px solid $line;
    .page-body-control-menu {
      margin: 0;
    }
    .btn-outline-primary {
      display: none;
    }
  }
  .note-editor-content {
    .note-editor-toolbar {
      @include order(2);
      background-color: #ffffff;

      .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
      }

      .ql-format-group-mobile-content {
        background: #fbfbfb;
        margin: 0 -8px -8px;
        padding: 8px;
        border-top: 1px solid $line;
      }
      .ql-formats {
        position: relative;
        .btn-show-format {
          &:before {
            @include center(true, false);
            bottom: -9px;
            content: '';
            @include make-arrow('top', #cdcdcd, 10px, 10px)
          }
          &:after {
            @include center(true, false);
            bottom: -10px;
            content: '';
            @include make-arrow('top', #fbfbfb, 10px, 10px)
          }
        }
      }
    }

    .ql-snow .ql-picker.ql-expanded .ql-picker-options {
      top: auto;
      bottom: 100%;
    }

    .note-editor-body {
      margin: 0;
      padding: 0;
    }
    #quill-container-wrapper {
      margin: 0 auto;
      width: 100%;
      padding: 0;
    }
    #quill-editor {
      border-width: 0;
    }
    .ql-editor {
      min-height: 100vh;
      p {
        font-size: 14pt;
      }
    }
  }
  #quill-toolbar.ql-toolbar .ql-formats .ql-picker.ql-font {
    min-width: 95px;
  }

  #counter {
    display: none;
  }
}

.bdl1 {
  border-left: 1px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb15 {
  margin-bottom: 15px;
}

.pl12 {
  padding-left: 12px;
}

.pr12 {
  padding-right: 12px;
}

.pt12 {
  padding-top: 12px;
}

.p10 {
  padding: 10px;
}

.bb {
  border-bottom: 1px solid #ccc;
}

.fwb {
  font-weight: bold;
}

.w150 {
  width: 150px !important;
}