<form [formGroup]="form" novalidate class="note-editor-wrap">
  <div class="note-editor-header hidden-print">
    <div class="note-editor-header-actions">
      <a href="#" class="icon-zone-md-note"></a>
    </div>
    <div class="note-editor-header-content">
      <div class="d-flex">
        <div class="body">
          <div class="hidden-xs">
            <h4 *ngIf="note.permission == 'view'" class="ml5">{{note.name}}</h4>
            <input (click)="disabled = true"
                   (clickElseWhere)="disabled = false"
                   [type]="note.permission == 'view' ? 'hidden' :  'text'"
                   tabindex="1"
                   autofocus
                   (keypress)="onToEditor($event)"
                   [formControl]="name"
                   class="form-control"
                   [ngClass]="{'has-no-edit': !disabled}"
                   placeholder="Untitled">
          </div>
          <div class="visible-xs-block">
            <h4 *ngIf="note.permission !== 'view'" class="can-click"
                (click)="modalEditName.open(form.value.name, note.permission)">
              <span>{{note.name || 'Untitled'}}</span>
            </h4>
            <h4 *ngIf="note.permission === 'view'" class="can-click"
                (click)="modalEditName.open(form.value.name, note.permission)">
              {{note.name}}</h4>
          </div>
        </div>
        <div class="actions">
          <z-note-shared-actions-bar class="action" [selectedObjects]="[note]"
                                     [subPage]="subPage"
                                     (outEvent)="handleActionEvents($event)">
          </z-note-shared-actions-bar>
          <div>
            <button type="button" (click)="onSubmit(form.value)" [disabled]="!form.valid" pTooltip="Close"
                    tooltipPosition="bottom" class="btn btn-default">
              <i class="fa fa-close"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="text-fade small ml5">
          <span *ngIf="editStatus === EDIT_STATUS.idle">Last edited on {{ note?.updated_at | date: 'MMM dd' }}
            <span class="text-bold fz16 ml5 mr5">·</span> {{ note?.user?.uuid === profile?.uuid ? 'me' : ''}}
            <a href="#" *ngIf="note?.user?.uuid !== profile?.uuid"> {{ note?.user?.name }}</a>
          </span>
        <span *ngIf="editStatus === EDIT_STATUS.editing">Saving ...
            <span class="text-bold fz16 ml5 mr5">·</span>
            {{ note?.user?.uuid === profile?.uuid ? 'me' : note?.user?.name}} </span>
        <span *ngIf="editStatus === EDIT_STATUS.saved">All changes are saved
            <span class="text-bold fz16 ml5 mr5">·</span>
            {{ note?.user?.uuid === profile?.uuid ? 'me' : note?.user?.name}}
          </span>
        <span *ngIf="editStatus === EDIT_STATUS.reloading"> Fetching latest data ...</span>
        <span class="text-bold fz16 ml5 mr5">·</span>
        <span id="counter"></span>
      </div>
    </div>
  </div>
  <div class="note-editor-content hidden-print" [ngClass]="{'show-aside': !!visibleTab}">
    <div class="note-editor-toolbar ">
      <ng-container *ngIf="['view', 'download'].includes(note?.permission);else templateQuillToolbar">
        <div class="ql-toolbar ql-snow">
          <div class="ql-container">
            <div class="ql-formats">
              <i class="fa fa-eye"></i> View only
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template # #templateQuillToolbar>
        <div id="quill-toolbar">
          <!--Mobile-->
          <div class="ql-format-group ql-format-group-mobile visible-xs-block">
            <div class="clearfix">
              <div class="pull-left">
                <div class="ql-formats">
                  <button pTooltip="Undo" tooltipPosition="bottom" type="button" (click)="undo()">
                    <i class="fa fa-reply"></i>
                  </button>
                  <button pTooltip="Redo" tooltipPosition="bottom" type="button" (click)="redo()">
                    <i class="fa fa-share"></i>
                  </button>
                  <button pTooltip="Paint format" tooltipPosition="bottom" type="button"
                          (click)="copyFormat()">
                    <i class="fa fa-paint-brush"></i>
                  </button>
                  <button pTooltip="Clear formatting" tooltipPosition="bottom" class="ql-clean"></button>
                </div>
              </div>
              <div class="pull-right">
                <div class="ql-formats">
                  <button pTooltip="Undo" tooltipPosition="bottom" type="button"
                          (click)="showFormatGroupMobile = !showFormatGroupMobile">
                    <span *ngIf="!showFormatGroupMobile">A</span>
                    <span class="btn-show-format" *ngIf="showFormatGroupMobile"><i
                      class="fa fa-times"></i></span>
                  </button>
                </div>
                <div class="ql-formats">
                  <button pTooltip="Insert Link ({{buttonControl}} + K)" tooltipPosition="bottom"
                          class="ql-link"></button>
                  <button pTooltip="Insert Image" tooltipPosition="bottom" class="ql-image"></button>
                  <button pTooltip="Code View" tooltipPosition="bottom" class="ql-code-block"></button>
                  <!--<button class="ql-video"></button>-->
                  <!--<button class="ql-formula"></button>-->
                </div>
              </div>
            </div>

            <div [ngClass]="{'hidden': !showFormatGroupMobile}" class="ql-format-group-mobile-content">
              <div class="ql-formats no-right-margin">
                <select class="ql-header vh left-border-radius" title="Styles">
                  <option *ngFor="let h of HEADINGS" [value]="h?.value"
                          [attr.selected]="h?.value === '0' ? '' : null">{{ h?.name}}
                  </option>
                </select>

                <select class="ql-font vh no-border-radius w150" title="Font">
                  <option *ngFor="let font of FONTS" [value]="font?.value"
                          [attr.selected]="font?.value === setting?.font ? '' : null">{{font?.name}}
                  </option>
                </select>

                <select class="ql-size vh ql-size-sm no-border-radius" title="Font size">
                  <option *ngFor="let size of FONT_SIZES" [value]="size?.value"
                          [attr.selected]="size?.value === '14pt' ? setting?.font_size : null">{{
                    size?.name}}
                  </option>
                </select>

              </div>

              <div class="ql-formats">
                <button pTooltip="Bold ({{buttonControl}} + B)" tooltipPosition="bottom" class="ql-bold"
                        aria-label="Bold"></button>
                <button pTooltip="Italic ({{buttonControl}} + I)" tooltipPosition="bottom" class="ql-italic"
                        aria-label="Italic"></button>
                <button pTooltip="Underline ({{buttonControl}} + U)" tooltipPosition="bottom"
                        class="ql-underline"
                        aria-label="Underline"></button>
                <!-- <button pTooltip="Strikethrough" tooltipPosition="bottom" class="ql-strike"
                        aria-label="Strikethrough"></button> -->

                <select class="ql-color no-border-radius" title="Text color">
                  <option value="#000000"></option>
                  <option value="#002966"></option>
                  <option value="#0047b2"></option>
                  <!--<option value="#0066cc"></option>-->
                  <option value="#5c5cff"></option>
                  <option value="#ff0000"></option>
                  <option value="#0000ff"></option>
                  <option value="#ffff00"></option>
                  <option value="#00ff00"></option>
                  <option value="#00ffff"></option>
                  <option value="#ff00ff"></option>
                  <option value="#bbbbbb"></option>
                  <option value="#7f7f7f"></option>
                  <option value="#888888"></option>
                  <option value="#444444"></option>
                  <option value="#ffffff"></option>
                </select>

                <!-- Add background -->
                <select class="ql-background right-border-radius" title="Background">
                  <option value="#ffffff"></option>
                  <option value="#ffff00"></option>
                  <option value="#00ff00"></option>
                  <option value="#00ffff"></option>
                  <option value="#ff00ff"></option>
                  <option value="#ff9900"></option>
                  <option value="#ff0000"></option>
                  <option value="#bbbbbb"></option>
                  <option value="#444444"></option>
                  <option value="#000000"></option>
                  <option value="">None</option>

                </select>
              </div>
              <div tooltipPosition="bottom" class="ql-formats">
                <!-- <button pTooltip="Left align" tooltipPosition="bottom" class="ql-align" value=""></button> -->
                <!-- <button pTooltip="Center align" tooltipPosition="bottom" class="ql-align" value="center"></button>
                <button pTooltip="Right align" tooltipPosition="bottom" class="ql-align" value="right"></button>
                <button pTooltip="Justify" tooltipPosition="bottom" class="ql-align" value="justify"></button> -->
              </div>
              <div class="ql-formats">
                <button pTooltip="Checkbox" tooltipPosition="bottom" class="ql-list" value="check"></button>
                <button pTooltip="Ordered List" tooltipPosition="bottom" class="ql-list"
                        value="ordered"></button>
                <button pTooltip="Unordered List" tooltipPosition="bottom" class="ql-list"
                        value="bullet"></button>

                <!-- <button pTooltip="Decrease indent" tooltipPosition="bottom" class="ql-indent" value="-1"></button>
                <button pTooltip="Increase indent" tooltipPosition="bottom" class="ql-indent" value="+1"></button> -->
              </div>

              <div pTooltip="Divider line" tooltipPosition="bottom" class="ql-formats">
                <button type="button" (click)="divider()">
                  <i>&mdash;</i>
                </button>
              </div>

              <!-- <div class="ql-formats">
                <button pTooltip="Subscript" tooltipPosition="bottom" class="ql-script" value="sub"></button>
                <button pTooltip="Superscript" tooltipPosition="bottom" class="ql-script" value="super"></button>
              </div> -->
            </div>

          </div>

          <!--PC-->
          <div class="ql-format-group hidden-xs">
            <div class="ql-formats">
              <button pTooltip="Undo" tooltipPosition="bottom" type="button" (click)="undo()">
                <i class="fa fa-reply"></i>
              </button>
              <button pTooltip="Redo" tooltipPosition="bottom" type="button" (click)="redo()">
                <i class="fa fa-share"></i>
              </button>
              <button pTooltip="Paint format" tooltipPosition="bottom" type="button" (click)="copyFormat()">
                <i class="fa fa-paint-brush"></i>
              </button>
            </div>

            <div class="ql-formats">
              <select class="ql-header vh left-border-radius" title="Styles">
                <option *ngFor="let h of HEADINGS" [value]="h?.value"
                        [attr.selected]="h?.value === '0' ? '' : null">{{ h?.name}}
                </option>
              </select>
            </div>

            <div class="ql-formats">
              <select class="ql-font vh w150 no-border-radius" title="Font">
                <option *ngFor="let font of FONTS" [value]="font?.value"
                        [attr.selected]="font?.value === setting?.font ? '' : null">{{font?.name}}
                </option>
              </select>
            </div>

            <div class="ql-formats">
              <select class="ql-size vh ql-size-sm no-border-radius" title="Font size">
                <option *ngFor="let size of FONT_SIZES" [value]="size?.value"
                        [attr.selected]="size?.value === setting?.font_size ? '' : null">{{size?.name}}
                </option>
              </select>

            </div>

            <div class="ql-formats">
              <button pTooltip="Bold ({{buttonControl}} + B)" tooltipPosition="bottom" class="ql-bold"
                      aria-label="Bold"></button>
              <button pTooltip="Italic ({{buttonControl}} + I)" tooltipPosition="bottom" class="ql-italic"
                      aria-label="Italic"></button>
              <button pTooltip="Underline ({{buttonControl}} + U)" tooltipPosition="bottom"
                      class="ql-underline"
                      aria-label="Underline"></button>
              <!-- <button pTooltip="Strikethrough" tooltipPosition="bottom" class="ql-strike"
                      aria-label="Strikethrough"></button> -->

              <select class="ql-color no-border-radius" title="Text color">
                <option value="#000000"></option>
                <option value="#002966"></option>
                <option value="#0047b2"></option>
                <!--<option value="#0066cc"></option>-->
                <option value="#5c5cff"></option>
                <option value="#ff0000"></option>
                <option value="#0000ff"></option>
                <option value="#ffff00"></option>
                <option value="#00ff00"></option>
                <option value="#00ffff"></option>
                <option value="#ff00ff"></option>
                <option value="#bbbbbb"></option>
                <option value="#7f7f7f"></option>
                <option value="#888888"></option>
                <option value="#444444"></option>
                <option value="#ffffff"></option>
              </select>

              <!-- Add background -->
              <select class="ql-background right-border-radius" title="Background">
                <option value="#ffffff"></option>
                <option value="#ffff00"></option>
                <option value="#00ff00"></option>
                <option value="#00ffff"></option>
                <option value="#ff00ff"></option>
                <option value="#ff9900"></option>
                <option value="#ff0000"></option>
                <option value="#bbbbbb"></option>
                <option value="#444444"></option>
                <option value="#000000"></option>
                <option value="">None</option>
              </select>
            </div>
            <div class="ql-formats">
              <select class="ql-align no-border-radius">
                <option value=""></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>

              <button pTooltip="Checkbox" tooltipPosition="bottom" class="ql-list" value="check"></button>
              <button pTooltip="Ordered List" tooltipPosition="bottom" class="ql-list"
                      value="ordered"></button>
              <button pTooltip="Unordered List" tooltipPosition="bottom" class="ql-list"
                      value="bullet"></button>

              <!-- <button pTooltip="Decrease indent" tooltipPosition="bottom" class="ql-indent" value="-1"></button>
              <button pTooltip="Increase indent" tooltipPosition="bottom" class="ql-indent" value="+1"></button> -->
            </div>

            <div class="ql-formats">
              <button pTooltip="Divider line" tooltipPosition="bottom" type="button" (click)="divider()">
                <i>&mdash;</i>
              </button>
              <button pTooltip="Insert Link ({{buttonControl}} + K)" tooltipPosition="bottom"
                      class="ql-link"></button>
              <button pTooltip="Insert Image" tooltipPosition="bottom" class="ql-image"></button>
              <button pTooltip="Code View" tooltipPosition="bottom" class="ql-code-block"></button>
              <!--<button class="ql-video"></button>-->
              <!--<button class="ql-formula"></button>-->
            </div>
            <!-- <div class="ql-formats">
              <button pTooltip="Clear formatting" tooltipPosition="bottom" class="ql-clean"></button>
            </div>
            <div class="ql-formats">
              <button pTooltip="Subscript" tooltipPosition="bottom" class="ql-script" value="sub"></button>
              <button pTooltip="Superscript" tooltipPosition="bottom" class="ql-script" value="super"></button>
            </div> -->

          </div>
        </div>
      </ng-template>
    </div>
    <div class="note-editor-body" id="scrolling-container">
      <div id="quill-editor" class="ql-font-{{setting?.font}}" [ngStyle]="{'font-size': setting?.font_size}"
           [attr.data-size]="setting?.font_size"></div>
    </div>

    <div class="note-editor-aside ">
      <ng-container *ngIf="visibleTab === 'attachment'">
        <div class="note-editor-aside-header">
          <h4>
            <i class="fa fa-paperclip"></i> Attachment ({{ note?.attachments?.length || 0 }})
          </h4>
          <a (click)="visibleTab = undefined" href="#" class="btn btn-default">
            <i class="fa fa-close text-fade"></i>
          </a>
        </div>
        <div class="note-editor-aside-body">
          <div class="btn-toolbar mb15" role="toolbar">
            <div *ngIf="note?.permission !== 'view' && note?.permission !== 'download'" class="btn-group" role="group">
              <button (click)="selectPhotos()" type="button" class="btn btn-outline-default">
                <i class="fa fa-plus"></i> Photo
              </button>
              <button type="button" *ngIf="note?.permission !== 'view' && note?.permission !== 'download'"
                      class="btn btn-outline-default can-click btn-style-1 fileinput-button">
                <i class="fa fa-paperclip"></i> Attachment
                <input *ngIf="note?.permission !== 'view' && note?.permission !== 'download'"
                       #fileBrowse
                       id="files"
                       type="file"
                       multiple="multiple"
                       (click)="fileBrowse.value='';"
                       (change)="selectFiles($event)">
              </button>
            </div>
            <div *ngIf="note?.attachments?.length > 0 && note?.permission !== 'view'" class="btn-group" role="group">
              <button (click)="downloadAttachments()" type="button" class="btn btn-outline-default">
                <i class="fa fa-download"></i> Download all
              </button>
            </div>
          </div>
          <div class="note-editor-aside-content">
            <table class="table table-middle wth-table table-hover"
                   *ngIf="note.attachments && note.attachments.length > 0">
              <thead>
              <tr>
                <th class="can-click" (click)="onSort('name')">
                  Name
                  <i *ngIf="hasSortBy" class="fa"
                     [ngClass]="{'fa-arrow-up': !orderDesc, 'fa-arrow-down': orderDesc }"></i>
                </th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let att of note.attachments">
                <td [ngClass]="{'can-click': ['photo', 'Media::Photo'].includes(att.object_type)}"
                    (click)="fileAttachmentClick(att)">
                  <i *ngIf="att.thumbnail_url &&  ['photo', 'Media::Photo'].includes(att.object_type)"
                     class="fa fa-picture-o"></i>
                  <i *ngIf="att.thumbnail_url &&  !(['photo', 'Media::Photo'].includes(att.object_type))"
                     class="fa fa-file"></i>
                  <i *ngIf="!att.thumbnail_url" class="fa fa-spinner fa-pulse fa-fw"></i>
                  {{ att.name + '.' + att?.extension | maxLength: 30 }}
                  <p class="text-fade">{{ att.size | bytes:3 }}</p>
                </td>
                <td class="text-right">
                  <button class="btn btn-sm btn-default" type="button" *ngIf="note?.permission !== 'view'" (click)="download(att)">
                    <i class="fa fa-download"></i>
                  </button>
                  <button (click)="cancelUpload(att)" class="btn btn-sm btn-default" type="button"
                          [disabled]="note.permission == 'view'">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="visibleTab === 'comment'">
        <div class="note-editor-aside-header">
          <h4>
            <i class="fa fa-comment" aria-hidden="true"></i> Comment
          </h4>
          <a (click)="visibleTab = undefined" href="#" class="btn btn-default">
            <i class="fa fa-close text-fade"></i>
          </a>
        </div>
        <div class="note-editor-aside-comment">
          <div class="user-row">
            <div class="user-avatar">
              <div class="user-avatar-img">
                <img alt=""
                     src="https://cdn-apps-test.wthapps.com/users/8e208ba8-3227-40e3-b8f0-1c18fc277516/photos/profile/profile_nghiatran_1542958923.jpg">
              </div>
            </div>
            <div class="user-body">

            </div>
          </div>
        </div>
        <div class="note-editor-aside-body">
          <div class="note-comment-list">
            <div class="user-row">
              <div class="user-avatar">
                <div class="user-avatar-img">
                  <img alt=""
                       src="https://cdn-apps-test.wthapps.com/users/8e208ba8-3227-40e3-b8f0-1c18fc277516/photos/profile/profile_nghiatran_1542958923.jpg">
                </div>
              </div>
              <div class="user-body">
                <div class="user-name">
                  <a href="#">Jack Gmail1</a> <span>·</span> 1 day ago
                </div>
                <div class="user-content">Lorem ipsum dolor sit amet</div>
                <div class="user-reply"><a href="#">Reply</a> <span>·</span> <a href="">2 Replies</a></div>
              </div>
            </div>
            <div class="user-row">
              <div class="user-avatar">
                <div class="user-avatar-img">
                  <img alt=""
                       src="https://cdn-apps-test.wthapps.com/users/8e208ba8-3227-40e3-b8f0-1c18fc277516/photos/profile/profile_nghiatran_1542958923.jpg">
                </div>
              </div>
              <div class="user-body">
                <div class="user-name">
                  <a href="#">Jack Gmail1</a> <span>·</span> 1 day ago
                </div>
                <div class="user-content">Lorem ipsum dolor sit amet</div>
                <div class="user-reply"><a href="#">Reply</a> <span>·</span> <a href="">2 Replies</a></div>

                <div class="user-row align-items-start">
                  <div class="user-avatar">
                    <div class="user-avatar-img">
                      <img alt=""
                           src="https://cdn-apps-test.wthapps.com/users/8e208ba8-3227-40e3-b8f0-1c18fc277516/photos/profile/profile_nghiatran_1542958923.jpg">
                    </div>
                  </div>
                  <div class="user-body">
                    <div class="user-name">
                      <a href="#">Jack Gmail1</a> <span>·</span> 1 day ago
                    </div>
                    <div class="user-content">Lorem ipsum dolor sit amet</div>
                    <div class="user-reply"><a href="#">Reply</a> <span>·</span> <a href="">2 Replies</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</form>

<lock-upload-modal></lock-upload-modal>
<z-note-shared-modal-edit-name #modalEditName (eventEmitter)="onSaveName($event)"></z-note-shared-modal-edit-name>
