@import '../../assets/styles/global';

.note-editor-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $zindex-modal-background - 1;
  background-color: #f6f6f6;
  height: 100vh;
  @include flexbox;
  @include flex-direction(column);
  .note-editor-header {
    @include flexbox;
    @include justify-content(space-between);
    padding: 10px;
    background-color: #fff;
    .note-editor-header-actions {
      margin-right: 10px;
      @include flexbox;
      @include align-items(center);
    }
    .note-editor-header-content {
      @include flex(1);
      .actions {
        margin-left: 10px;
        @include flexbox;
        .page-body-control-menu {
          margin: 0;
          padding: 0;
          list-style-type: none;
          > li {
            display: inline-block;
          }
        }
      }
      .body {
        @include flex(1);
      }
      .form-control {
        font-size: 18px;
        line-height: 1.2;
      }
      h4 {
        font-weight: normal;
        font-size: 18px;
        margin: 0;
        line-height: 34px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .note-editor-content {
    @include flex(1);
    @include flexbox;
    @include flex-direction(column);
    .note-editor-body {
      @include flex(1);
      width: 100%;
      .ql-container {
        background-color: #ffffff;
        @include flexbox;
        @include flex-direction(column);
        .ql-editor {
          @include flex(1);
        }
      }
    }
  }
  .note-editor-toolbar {
    .ql-toolbar {
      &.ql-snow {
        border-left-width: 0;
        border-right-width: 0;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .note-editor-toolbar {
      margin-bottom: 10px;
      .ql-toolbar {
        &.ql-snow {
          @include flexbox;
          @include justify-content(center);
          padding-top: 10px;
          padding-bottom: 10px;
          .ql-formats {
            padding-top: 5px;
            padding-bottom: 5px;
            &:not(:last-child) {
              margin-right: 10px;
              padding-right: 10px;
              border-right: 1px solid $line;
            }
          }
        }
      }
    }
    .note-editor-body {
      overflow: auto;
      .ql-container {
        max-width: 960px;
        margin: auto;
        height: auto;
        min-height: 100%;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    .note-editor-header,
    .note-editor-toolbar {
      position: relative;
      z-index: 10;
    }
    .note-editor-header {
      @include box-shadow(0 0px 1px 1px rgba(#000000, 0.3));
    }
    .note-editor-toolbar {
      @include order(2);
      @include box-shadow(0px -1px 1px -1px rgba(#000000, 0.3));
      background-color: #fff;
    }
    .note-editor-body {
      .ql-container {
        border-width: 0;
      }
    }
  }
}
