<z-note-shared-toolbar [selectedObjects]="(selectedObjects$ | async)" page="TRASH">

</z-note-shared-toolbar>
<div class="page-body-content has-page-body-control gray-light">
  <ng-container *ngIf="!(loading$ | async); else loadingBlock">
    <ng-container *ngIf="(noteItems$ | async)?.length + (folderItems$ | async)?.length > 0; else noDataBlock">
      <note-list [noteItems]="noteItems$ | async"
        [folderItems]="folderItems$ | async"
        [viewOption]="(nodeState$ | async)?.viewMode"
        [sortOption]="sortOption$ | async"
        [isSelectAll]="isSelectAll$ | async"
        [page]="PAGE_TYPE.TRASH"
      >
      </note-list>
    </ng-container>
  </ng-container>

  <ng-template #loadingBlock>...Loading </ng-template>
  <ng-template #noDataBlock>[TRASH] No data  </ng-template>
</div>
