@import "../../../assets/styles/global";

$wmedia-file-size: 100px;
$wmedia-create-date: 100px;
$wmedia-owner: 100px;
$wmedia-box: auto;

.wmedia-view {
  .wmedia-box-img {
    img {
      background-color: transparent;
      -webkit-background-size: cover !important;
      background-size: cover !important;
    }
  }
}

.wmedia-grid {
  .wmedia-item {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
  }
  .wmedia-file-size {
    width: $wmedia-file-size;
  }
  .wmedia-create-date {
    width: $wmedia-create-date;
  }
  .wmedia-owner {
    width: $wmedia-owner;
  }
  .wmedia-box {
    width: $wmedia-box;
    @include flex(1);
  }
}

