<p-confirmDialog header="Confirmation" styleClass="wth-confirm-dialog" #cd [baseZIndex]="2000">
  <p-footer>
    <button *ngIf="(confirmInfo$ | async)?.rejectLabel"class="btn btn-outline-default btn-min" type="button" icon="fa-close"
            (click)="cd.reject()">{{ (confirmInfo$ | async)?.rejectLabel }}</button>
    <button class="btn btn-outline-primary btn-min" type="button" icon="fa-check"
            (click)="cd.accept()">{{ (confirmInfo$ | async)?.acceptLabel }}</button>
  </p-footer>
</p-confirmDialog>
