<div *ngIf="data">
  <div class="field-group-title">
    <h4 class="pull-left">Phones</h4>
    <div class="pull-right">
      <button *ngIf="editable" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
  </div>
  <div *ngIf="data.phones" class="field-group-content">
    <dl class="dl-horizontal" *ngIf="data.phones.length > 0">
      <ng-template ngFor let-item [ngForOf]="data.phones" let-i="index" [ngForTrackBy]="trackByFn">
        <dt>{{ item.category | keyToValue:phoneType:'category':'name' }}</dt>
        <dd>
          <p>
            <img *ngIf="item.country_alpha_code | phoneCodeFlag:countriesCode"
                 src="assets/images/flags/{{ item.country_alpha_code | phoneCodeFlag:countriesCode }}.svg"
                 width="30" alt="">
            {{ item.value }}
          </p>
        </dd>
      </ng-template>
    </dl>

    <div *ngIf="data.phones.length == 0 && editable">
      <p class="text-fade">
        Tell us more about your phone
      </p>
      <button type="button" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-plus"></i> Add detail
      </button>
    </div>

  </div>
</div>

<form [formGroup]="form" novalidate>
  <bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Phones</h4>
    </bs-modal-header>
    <bs-modal-body>
      <div formArrayName="phones">
        <div *ngFor="let add_phone of form.controls.phones['controls']; let i=index" class="media media-no-hidden mt0">
          <div class="media-body" [formGroupName]="i">
            <div class="row row-10">
              <div class="col-sm-2">
                <div class="form-group no-label">
                  <select class="form-control" name="name" formControlName="category">
                    <option *ngFor="let et of phoneType" value="{{ et.category }}">{{ et.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group no-label">

                  <p-autoComplete class="form-control-phone-country" formControlName="country_alpha_code"
                                  [suggestions]="filteredCountriesCode"
                                  (completeMethod)="filterCountriesCode($event)" [size]="30"
                                  [minLength]="1" placeholder="Select your country"
                                  [dropdown]="true" [forceSelection]="true">
                    <ng-template ngFor let-code let-i="index" pTemplate="item">
                      <div [innerHtml]="code | phoneCodeCountries:countriesCode"></div>
                    </ng-template>
                  </p-autoComplete>

                  <!--<select class="form-control" name="name" formControlName="country_alpha_code">
                    <option value=""> Select your country</option>
                    <option *ngFor="let c of countriesCode" value="{{  c.code  }}">{{  c.name  }} ({{  c.dial_code  }})</option>
                  </select>-->
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group no-label" [ngClass]="{
                  'has-error': (!add_phone['controls'].value.valid
                  && add_phone['controls'].value.touched),
                  'has-success': (add_phone['controls'].value.valid
                  && add_phone['controls'].value.touched
                  && form.value.phones[i].value.length > 1)}">
                  <input type="tel" class="form-control" formControlName="value" placeholder="Phone number">
                  <div
                    *ngIf="!add_phone['controls'].value.valid && add_phone['controls'].value.touched">
                    <span
                      *ngIf="!add_phone['controls'].value.valid && add_phone['controls'].value.errors.phoneFormat"
                      class="help-block text-danger">
                      Phone number is not valid
                    </span>
                    <span
                      *ngIf="!add_phone['controls'].value.valid && add_phone['controls'].value.errors.maxlength"
                      class="help-block text-danger">
                      Phone number max length is 20 characters
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <button type="button" class="btn btn-default" (click)="removeItem(i, add_phone.controls)">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addItem()">
        <i class="fa fa-plus"></i> Add more
      </button>
    </bs-modal-body>
    <bs-modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" (click)="modal.close()">Cancel</button>
      <button type="submit" class="btn btn-outline-primary btn-min pull-right ml10" [disabled]="!form.valid"
              (click)="onSubmit(form.value)">Done
      </button>
    </bs-modal-footer>
  </bs-modal>
</form>
