<div class="box-panel">
  <h3 class="box-panel-title">{{pageTitle}}</h3>
  <h4 class="box-panel-subtitle">Plan</h4>
  <div *ngIf="userService.profile.plan.is_trial">
    <p class="p-plan-info"><span>{{userService.profile.plan.name}}</span>
      <!-- - 8 days left-->
    </p>
    <p>
      <a [routerLink]="['/account/plans']" class="btn btn-wth-default btn-min"><i class="fa fa-arrow-circle-up"></i> Upgrade</a>
    </p>
  </div>
  <div *ngIf="!userService.profile.plan.is_trial">
    <p class="p-plan-info"><span>{{userService.profile.plan.name}}</span>
      - Activated on {{userService.profile.plan_registered_at | date:'yMMMd'}}</p>
    <p>
      <button (click)="cancelPlan()" class="btn btn-default2 btn-min">Downgrade</button>
    </p>
  </div>
  <hr class="line">
  <h4 class="box-panel-subtitle">Password</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="form-group has-password" [ngClass]="{'has-error': (!oldPassword.valid && oldPassword.touched)}">
          <label for="oldPassword">Current Password</label>
          <input [formControl]="oldPassword" type="password" class="form-control" id="oldPassword"
                 placeholder="Input Old Password">
          <span (click)="hideShowPassword($event)" class="hideShowPassword-toggle"></span>
          <div *ngIf="!oldPassword.valid && oldPassword.touched">
            <span *ngIf="!oldPassword.valid && oldPassword.errors.required" class="help-block">Current password is required</span>
          </div>
        </div>

        <div class="form-group has-password" [ngClass]="{'has-error': (!password.valid && password.touched)}">
          <label for="password">Input New Password</label>
          <input [formControl]="password" type="password" class="form-control" id="password"
                 placeholder="Input New Password">
          <span (click)="hideShowPassword($event)" class="hideShowPassword-toggle"></span>
          <!--<div *ngIf="!password.valid && password.touched">
            <span *ngIf="!password.valid && password.errors.required" class="help-block">A password is required</span>
            <span *ngIf="!password.valid && password.errors.minlength" class="help-block">A password needs to have at least 8 characters</span>
            <span *ngIf="!password.valid && password.errors.lowercaseUppercase"
                  class="help-block">lowercaseUppercase</span>
            <span *ngIf="!password.valid && password.errors.specialSymbolOrNumber"
                  class="help-block">specialSymbol</span>
          </div>-->
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <p>New password must:</p>
        <ul [ngClass]="{'text-danger': (!password.valid && password.touched), 'text-success': (password.valid && password.touched)}">

          <template [ngIf]="!password.valid">
            <template [ngIf]="password.errors.required">
              <li>Contain at least 8 characters or more</li>
            </template>
            <template [ngIf]="password.errors.minlength">
              <li class="text-danger">Contain at least 8 characters or more</li>
            </template>
            <template [ngIf]="!password.errors.required && !password.errors.minlength">
              <li class="text-success">Contain at least 8 characters or more</li>
            </template>
            <li [ngClass]="{'text-success': (!password.errors.lowercaseUppercase)}">Contain both uppercase and lowercase characters</li>
            <li [ngClass]="{'text-success': (!password.errors.specialSymbolOrNumber)}">Contain at least one number or symbol</li>

          </template>
          <template [ngIf]="password.valid">
            <li>Contain at least 8 characters or more</li>
            <li>Contain both uppercase and lowercase characters</li>
            <li>Contain at least one number or symbol</li>
          </template>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="!form.valid || form.pristine" type="submit" class="btn btn-wth-default btn-min mr20">Update</button>
      <a [routerLink]="['/account/recovery/forgottenpassword']">I forgot my password</a>
    </div>
  </form>
  <hr class="line">
  <h4 class="box-panel-subtitle text-danger">Delete Account</h4>
  <p>Once you delete your account, all of your data will be gone. Please be certain.</p>
  <div class="form-group">
    <button type="submit" class=" btn btn-default2" (click)="onDelete()" >Delete Account</button>
  </div>
</div>
