<div class="intercom-content">
  <div class="intercom-content-header">
    <div>
      <h4>Conversations</h4>
      <p>with WTHApps</p>
    </div>


    <div class="intercom-content-header-list js-intercom-content-header-list">
      <div *ngFor="let supporter of supporters">
        <figure>
          <img class="media-object img-circle" [src]='supporter.profile_image' alt="">
          <i class="intercom-avatar-online"></i>
        </figure>
        <span>
            {{supporter.name}}
        </span>
      </div>
    </div>
  </div>
  <div class="intercom-content-body" style="position: relative; min-height: 40px">
    <div class="intercom-conversation-btn-new">
      <button class="btn btn-wth btn-min-sm " type="button" (click)="createConversation()">
        <i class="fa fa-edit"></i> New Conversation
      </button>
    </div>
    <div class="intercom-conversation-summary intercom-conversation-summary-unread" (click)="goToDetail()">
      <div class="intercom-conversation-summary-avatar intercom-group-avatar-3">
        <img class="media-object img-circle" src="/assets/images/avatar/avatar.png" alt="">
        <img class="media-object img-circle" src="/assets/images/avatar/avatar.png" alt="">
        <img class="media-object img-circle" src="/assets/images/avatar/avatar.png" alt="">
      </div>
      <div class="intercom-conversation-summary-body">
        <h4 class="media-heading">Humi <span>5m ago</span></h4>
        <p>Hey! Just message us here if you have any questions</p>
      </div>
    </div>
    <div class="intercom-conversation-summary" (click)="goToDetail()">
      <div class="intercom-conversation-summary-avatar intercom-group-avatar-2">
        <img class="media-object img-circle" src="/assets/images/avatar/avatar.png" alt="">
        <img class="media-object img-circle" src="/assets/images/avatar/avatar.png" alt="">
      </div>
      <div class="intercom-conversation-summary-body">
        <h4 class="media-heading">Humi <span>5m ago</span></h4>
        <p>Hey! Just message us here if you have any questions</p>
      </div>
    </div>
    <div class="intercom-conversation-summary" (click)="goToDetail()">
      <div class="intercom-conversation-summary-avatar intercom-group-avatar-1">
        <img class="media-object img-circle" src="/assets/images/avatar/avatar.png" alt="">
      </div>
      <div class="intercom-conversation-summary-body">
        <h4 class="media-heading">Humi <span>5m ago</span></h4>
        <p>Hey! Just message us here if you have any questions</p>
      </div>
    </div>
  </div>
</div>
