<div class="intercom-container-body">
  <div *ngIf="showChat" [@chatState]="chatState">

    <wth-chat-support-list *ngIf="showChatList" #chatSupportList (clickDetail)="onShowChatList($event)"></wth-chat-support-list>
    <wth-chat-support-detail *ngIf="!showChatList" #chatSupportDetail (clickList)="onShowChatList($event)"></wth-chat-support-detail>

  </div>
  <div class="intercom-button">
    <button (click)="onShow()" class="btn btn-circle" type="button">
      <i class="fa" [ngClass]="{'fa-commenting-o': !showChat, 'fa-times': showChat}"></i>
    </button>
  </div>
</div>

