.comment-editor-button-region {
  padding-top: 5px;
}

.commentContent-editor-input {
  &:after {
    content: '';
    width: 100px;
    display: inline-block;
  }
}
.editor-error{
  border: 1px solid red;
  border-radius: 4px !important;
}
