<div class="z-social-media">
  <div class="z-social-media-left">
    <a href="javascript:;" (click)="viewProfile(parent?.owner?.uuid)" class="media-object">
      <span class="avatar-xs">
        <img [src]="(user$ | async )?.profile_image" alt="">
      </span>
    </a>
  </div>
  <div class="z-social-media-body">
    <form  novalidate>

      <div class="z-social-media-inputpost form-group">
        <span class="z-social-media-inputpost-icon">
          <button class="btn btn-default" (click)="onOpenPhotoSelect()" pTooltip="{{ tooltip.addPhoto }}"
                  tooltipPosition="top">
            <i class="fa fa-camera"></i>
          </button>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    pTooltip="{{ tooltip.emoticons }}"
                    tooltipPosition="top" (click)="showEmojiBtn($event)">
              <i class="fa fa-smile-o"></i>
            </button>
          </div>
        </span>

        <!--<div contenteditable="true" #commentContent placeholder="Add a comment"-->
             <!--class="form-control textarea-editor-input commentContent-editor-input"-->
                  <!--[innerHTML]="comment.content"-->
                  <!--(keyup)="onKey($event)">-->
        <!--</div>-->

        <mini-editor [(ngModel)]="comment.content" [ngModelOptions]="{standalone: true}" placeholder="Add a comment"
                     [style]="{'height':'auto', 'min-height': '27px'}" (onKeyUp)="handleKeyUp($event)">
          <p-header>
          </p-header>
        </mini-editor>

      </div>


      <photo-item-preview [photo]="comment?.photo"
                          [files]="files"
                          [hasUploadingPhoto]="hasUploadingPhoto" (events)="doEvents($event)"></photo-item-preview>

      <div class="clearfix text-right comment-editor-button-region"
           *ngIf="(!(this.comment.content === '' && !this.hasUpdatedContent && !this.comment.photo) && mode == 0) || (mode != 0)">
        <button class="btn btn-sm btn-outline-default" (click)="cancel()"
                href="javascript:;">Cancel
        </button>

        <button class="btn btn-sm btn-outline-default" href="javascript:;" (click)="post()"
                [disabled]="!(this.comment.content === '' && !this.hasUpdatedContent && !this.comment.photo)">Post
        </button>
      </div>

    </form>
  </div>
</div>

