<div class="wrapper">
  <wth-header></wth-header>
  <main class="main">
    <div class="main-page-left">
      <aside class="main-page-left-in aside-menu">
        <z-shared-menu></z-shared-menu>
      </aside>
    </div>
    <div class="main-page-body">
      <router-outlet></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <p-confirmDialog header="Confirmation" width="670"></p-confirmDialog>
  <post-photo-select #photoSelectModal22></post-photo-select>
</div>
