<wth-header></wth-header>
<main class="main">
  <section class="page-hero-header" style="background-image: url('assets/images/landing/hero-image.jpg');">
    <h2 class="h1">Pricing</h2>
  </section>
  <section class="page-content pricing-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
          <h3 class="h1 text-normal">Choose the right plan for you</h3>
          <p class="text-center">
            <a href="#" class="btn btn-wth">Join Free for a Month</a>
          </p>
        </div>

        <div class="col-sm-12 col-md-9 col-md-offset-1">
          <wth-table-pricing></wth-table-pricing>
        </div>

      </div>
    </div>
  </section>
  <wth-footer-promotion></wth-footer-promotion>
</main>
<wth-footer></wth-footer>
