@import '../../assets/styles/wth-style';

/* override adyen style */
.adyen-checkout__label__text {
  font-size: 14px !important;
  font-weight: bold !important;
  color: $text-color
}

.adyen-checkout-input__inline-validation--valid{
  color: $state-success-icon;
}

.adyen-checkout__input--valid{
  border-color: $state-success-icon !important;
}

.adyen-checkout__input--text{
  font-weight: normal !important;
}
