
@font-face {
  font-family: 'wthapps';
  src:  url( '#{$fw-font-path}/wthapps.eot?eud6ke');
  src:  url('#{$fw-font-path}/wthapps.eot?eud6ke#iefix') format('embedded-opentype'),
  url('#{$fw-font-path}/wthapps.ttf?eud6ke') format('truetype'),
  url('#{$fw-font-path}/wthapps.woff?eud6ke') format('woff'),
  url('#{$fw-font-path}/wthapps.svg?eud6ke#wthapps') format('svg');
  font-weight: normal;
  font-style: normal;
}
