
@font-face {
  font-family: 'wthapps';
  src:  url('#{$fw-font-path}/wthapps.eot?fdpyvh');
  src:  url('#{$fw-font-path}/wthapps.eot?fdpyvh#iefix') format('embedded-opentype'),
  url('#{$fw-font-path}/wthapps.ttf?fdpyvh') format('truetype'),
  url('#{$fw-font-path}/wthapps.woff?fdpyvh') format('woff'),
  url('#{$fw-font-path}/wthapps.svg?fdpyvh#wthapps') format('svg');
  font-weight: normal;
  font-style: normal;
}
