@import "../../../assets/styles/global";

.modal-media-search {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 10px 15px;
  background-color: #ffffff;
  @include border-top-radius($border-radius-large);
  .modal-media-search-in {
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-selection {
  .modal-body {
    padding: 0;
  }
  .modal-selection-toolbar {
    padding: 0 15px;
    position: relative;
    background-color: #ffffff;
    @include clearfix;
    // @include box-shadow($box-shadow-bottom-sm);
    .modal-selection-toolbar-left {
      ul {
        margin: 0;
        li {
          display: inline-block;
          &.divider {
            margin: 0 10px 0 0;
            padding-right: 10px;
            border-right: 1px solid $text-color;
          }
        }
      }
    }
  }
  .media-selection-content {

    position: relative;
    @include border-bottom-radius($border-radius-large);
    @include flexbox();
    @include flex(1);
    @include justify-content(space-around);
    @include align-items(start);
    .wobject-view {
      @include flexbox();
      @include flex(1);
      @include flex-direction(column);
      width: 100%;
      height: 100%;
    }
  }

  .wobject-selected-bar {
    @include border-top-radius(5px);
    border: 1px solid #cccccc;
  }

  @media (min-width: $screen-sm-min) {
    .btn-search {
      margin: -5px 15px -15px;
    }
    .nav-tabs-wrap {
      margin: 0 -15px;
      padding: 0 15px;
    }
  }

  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  @media (max-width: $screen-xs-max) {
    .nav-tabs-wrap {
      padding: 0;
      margin-bottom: 10px;
    }
    .wobject-list {
      .wobject-owner, .wobject-create-date, .wobject-file-size, .wobject-wobject-action {
        display: none;
      }
    }
  }

}
