<form [formGroup]="form" novalidate>

  <bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'" [cssClass]="'modal-lg'">
    <bs-modal-header>
      <button aria-label="Close" class="close" (click)="doEvent({action: 'cancel'})" type="button">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Invite New Users</h4>

    </bs-modal-header>
    <bs-modal-body>
      <div class="hidden-xs">
        <div class="row row-12">
          <div class="col-sm-3">
            Fist name
          </div>
          <div class="col-sm-3">
            Last name
          </div>
          <div class="col-sm-6">
            Email address
          </div>
        </div>
      </div>

      <div formArrayName="items">
        <div *ngFor="let item of getFormControls(); let i=index" class="media mt0">
          <div *ngIf="item" class="media-body" [formGroupName]="i">
            <div class="row row-12">
              <div class="col-sm-3">
                <div class="form-group no-label" [ngClass]="{
                    'has-error': (!item['controls']?.firstName.valid
                                && item['controls']?.firstName.touched),
                    'has-success': (item['controls']?.firstName.valid
                                && item['controls']?.firstName.touched
                                && form.value.items[i]?.firstName.length > 0)}">
                  <input type="text" class="form-control" formControlName="firstName" placeholder="Fist name">
                  <div *ngIf="!item['controls']?.firstName.valid && item['controls']?.firstName.touched">
                    <span class="help-block text-danger" *ngIf="item['controls']?.firstName.errors.required">
                      First name is required
                    </span>
                    <span class="help-block text-danger" *ngIf="item['controls']?.firstName.errors.blanked">
                      First name is blanked
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group no-label" [ngClass]="{
                    'has-error': (!item['controls']?.lastName.valid
                                && item['controls']?.lastName.touched),
                    'has-success': (item['controls']?.lastName.valid
                                && item['controls']?.lastName.touched
                                && form.value.items[i]?.lastName.length > 0)}">
                  <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
                  <div *ngIf="!item['controls']?.lastName.valid && item['controls']?.lastName.touched">
                    <span class="help-block text-danger" *ngIf="item['controls']?.lastName.errors.required">
                      Last name is required
                    </span>
                    <span class="help-block text-danger" *ngIf="item['controls']?.lastName.errors.blanked">
                      Last name is blanked
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group no-label" [ngClass]="{
                    'has-error': (!item['controls']?.email?.valid && item['controls']?.email.touched),
                    'has-success': (item['controls']?.email?.valid
                                && form.value.items[i].email.length > 0)}">
                  <input type="email" email class="form-control" formControlName="email"
                    placeholder="recipient-name@example.com">
                  <div *ngIf="!item['controls']?.email?.valid && item['controls']?.email.touched">
                    <span class="help-block text-danger">
                      Email is not valid
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-1">
                <button *ngIf="this.form.value.items.length > 1" type="button" class="btn btn-default"
                  (click)="remove(i, item.controls)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default mb10" (click)="add()">
        <i class="fa fa-plus"></i> Add more
      </button>
    </bs-modal-body>

    <bs-modal-footer>
      <div>
        <button *ngIf="back" type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="onBack()"> <i
            class="fa fa-arrow-left"></i></button>
        <button type="button" class="btn btn-outline-default btn-min"
          (click)="doEvent({action: 'cancel'})">Cancel</button>
        <button [disabled]="!validItems()" type="submit" class="btn btn-outline-primary btn-min pull-right"
          (click)="doEvent({action: 'invitation:send_to_recipients'})">Send Invitations
        </button>
      </div>
    </bs-modal-footer>
  </bs-modal>

</form>