<form [formGroup]="form" novalidate>

  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header>
      <button aria-label="Close" class="close" (click)="doEvent({action: 'cancel'})" type="button">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Send Invitations</h4>

    </modal-header>
    <modal-body>
        <div>
          <div class="row row-12">
            <div class="col-sm-4 ml5">
              Full name
            </div>
            <div class="col-sm-7">
              Email address
            </div>
          </div>
        </div>

        <div formArrayName="items">
          <div *ngFor="let item of getFormControls(); let i=index" class="media mt0">
            <div *ngIf="item" class="media-body" [formGroupName]="i">

              <div class="row row-10">

                <div class="col-sm-4">
                  <div class="form-group no-label" [ngClass]="{
                    'has-error': (!item['controls']?.fullName.valid
                                && item['controls']?.fullName.touched),
                    'has-success': (item['controls']?.fullName.valid
                                && item['controls']?.fullName.touched
                                && form.value.items[i]?.fullName.length > 0)}">
                    <input type="text" class="form-control" formControlName="fullName" placeholder="First name">
                    <div *ngIf="!item['controls']?.fullName.valid && item['controls']?.fullName.touched">
                      <span class="help-block text-danger" *ngIf="item['controls']?.fullName.errors.required">
                        First name is required
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-8">
                  <div class="form-group no-label"
                       [ngClass]="{
                    'has-error': (!item?.email?.valid
                                && item?.email?.touched),
                    'has-success': (item?.email?.valid
                                && item?.email?.touched
                                && form.value.items[i].email.length > 0)}">
                    <input type="email" email class="form-control" formControlName="email" placeholder="recipient-name@example.com">
                    <div
                      *ngIf="!item?.email?.valid && item?.email?.touched">
                      <span
                        *ngIf="!item?.email?.valid && item?.email?.errors.emailFormat"
                        class="help-block text-danger">
                        Email is not valid
                      </span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="media-right">
              <button *ngIf="this.form.value.items.length > 1" type="button" class="btn btn-default" (click)="remove(i, item.controls)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default mb10" (click)="add()">
          <i class="fa fa-plus"></i> Add more
        </button>
    </modal-body>

    <modal-footer>
    <div>
        <button type="button" class="btn btn-outline-default btn-min"
                (click)="doEvent({action: 'cancel'})">Cancel</button>
        <button [disabled]="!validItems()" type="submit" class="btn btn-outline-primary btn-min pull-right"
                (click)="doEvent({action: 'invitation:send_to_recipients'})">Send Invitations
        </button>
      </div>
    </modal-footer>
  </modal>

</form>
