<div class="panel panel-default">
  <div class="panel-heading p0">
    <!-- TAB NAVIGATION -->
    <div class="nav-tabs-wrap">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="javascript:;">Friends</a></li>
        <li><a href="javascript:;">Follower</a></li>
        <li><a href="javascript:;">Following</a></li>
      </ul>

    </div>
  </div>
  <z-social-share-profile-list
    [data]="list"
    [type]="'member'"
    *ngIf="!loading; else loadingBlock;"
  >
  </z-social-share-profile-list>
</div>

<ng-template #loadingBlock>
  <box-loading></box-loading>
</ng-template>
