<div class="panel panel-default">
  <div class="panel-heading p0">
    <!-- TAB NAVIGATION -->
    <div class="nav-tabs-wrap">
      <ul class="nav nav-tabs" role="tablist">
        <!--<li [ngClass]="{'active': activeTab?.friends}"><a [routerLink]="['../', FRIEND]" >Friends</a></li>-->
        <li [ngClass]="{'active': activeTab?.follower}"><a [routerLink]="['../', FOLLOWER]" >Follower</a></li>
        <li [ngClass]="{'active': activeTab?.following}"><a [routerLink]="['../', FOLLOWING]" >Following</a></li>
      </ul>

    </div>
  </div>
  <z-social-share-profile-list
    [data]="list"
    [user]="userService?.profile$ | async"
    [type]="'member'"
    *ngIf="!loading; else loadingBlock;"
  >
  </z-social-share-profile-list>
</div>

<ng-template #loadingBlock>
  <box-loading></box-loading>
</ng-template>
