<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <wth-header-navbar class="header">
    <div class="header-nav-left">
      <a [routerLink]="['/']" class="navbar-brand" href="#">
        <!--TODO fix link to logo-->
        <img src="/assets/images_new/logo.png" alt="WTHApps">
      </a>
      <contact-shared-header></contact-shared-header>
    </div>
  </wth-header-navbar>
  <main class="main">
    <div class="main-page-left">
      <aside class="main-page-left-in aside-menu">
        <z-shared-menu [contactMenu]="groups" [totalContactCount]="(contactService.contacts).length"></z-shared-menu>
      </aside>
    </div>
    <div class="main-page-body">
      <router-outlet></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <z-contact-share-import-progress></z-contact-share-import-progress>
  <wth-confirm></wth-confirm>
</div>

<ng-template #modalContainer></ng-template>
<h-file-select></h-file-select>
<h-file-select-crop></h-file-select-crop>

