<div class="wrapper">
  <w-header class="header" [user]="authService.user$ | async" [loggedIn]="authService.loggedIn$ | async">
    <contact-shared-header class="header-nav-left"></contact-shared-header>
  </w-header>
  <main class="main">
    <div class="main-page-left">
      <aside class="main-page-left-in aside-menu">
        <z-shared-menu [contactMenu]="groups" [totalContactCount]="(contactService.contacts).length"></z-shared-menu>
      </aside>
    </div>
    <div class="main-page-body">
      <router-outlet></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <z-contact-share-import-progress></z-contact-share-import-progress>
  <z-contact-share-merge-progress></z-contact-share-merge-progress>
  <wth-confirm></wth-confirm>
</div>

<ng-template #modalContainer></ng-template>
<!--<h-file-select></h-file-select>-->
<h-file-select-crop></h-file-select-crop>

<wth-introduction #introduction
                  [after]="{contact: true}"
                  [data]="[
  {
    title: 'Welcome to WTH!Contacts',
    icon: '../../assets/icons/contacts-50x50.png',
    content: 'WTH!Contacts helps you organize your acquaintance\'s contacts'
  }
  ]">
</wth-introduction>
<lock-upload-modal></lock-upload-modal>
