<div class="wrapper">
  <w-header #header class="header" [user]="user$ | async" [loggedIn]="loggedIn$ | async" [serviceWorkerEnabled]="swUpdate.isEnabled">
    <contact-shared-header class="header-nav-left" ></contact-shared-header>
  </w-header>
  <main class="main">
    <w-left-menu>
      <z-contact-shared-sidebar></z-contact-shared-sidebar>
    </w-left-menu>
    <div class="main-page-body">
      <router-outlet></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <z-contact-share-import-progress></z-contact-share-import-progress>
  <z-contact-share-merge-progress></z-contact-share-merge-progress>
  <wth-confirm></wth-confirm>
</div>

<ng-template #modalContainer></ng-template>
<h-file-select-crop></h-file-select-crop>

<wth-introduction #introduction
                  [after]="{contact: true}"
                  [data]="[
  {
    title: 'Welcome to WTH!Contacts',
    icon: '../../assets/icons/contacts-50x50.png',
    content: 'WTH!Contacts helps you organize your acquaintance\'s contacts'
  }
  ]">
</wth-introduction>
<lock-upload-modal></lock-upload-modal>
<w-media-selection></w-media-selection>
<div class="w-uploader-file-input-container">
</div>