<bs-modal #modal cssClass="modal-social modal-long" [keyboard]="false" [backdrop]="'static'" [animation]="false" style="display: inline;">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title text-left"><i class="fa fa-share-alt"></i> Share Activities</h4>
  </bs-modal-header>
  <bs-modal-body>
    <ul class="list-unstyled social-list-user">
      <li *ngFor="let item of shares">
        <div class="z-social-media">
          <div class="z-social-media-left">
            <div class="avatar-xs">
              <img alt="" [src]="item.owner.profile_image">
            </div>
          </div>
          <div class="z-social-media-body">
            <div class="z-heading">
              <div class="z-name">
                {{ item.owner.name }}
              </div>
              <div class="z-shared-with dropdown">
                <a data-toggle="dropdown" href="#"><i class="fa fa-globe"></i> {{ item.privacy }}</a>
              </div>
            </div>
            <div class="z-shared-info">
            </div>
          </div>
          <div class="z-social-media-right">
            <div class="dropdown pull-right">
              <button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                type="button" pTooltip="{{ tooltip.moreAction }}" tooltipPosition="top">
                <i class="fa fa-ellipsis-v"></i>
              </button>
            </div>

            <div class="dropdown pull-right">
              <a class="btn btn-default" data-toggle="collapse" href="#social-activities-2{{ item.uuid }}">
                <i class="fa fa-angle-down"></i>
              </a>
            </div>

          </div>
        </div>
        <div class="collapse" id="social-activities-2{{ item.uuid }}">
          <div class="z-social-post">
            <div class="z-social-post-content">
              <div class="z-social-post-txt">
                <div class="z-social-post-txt-in" [innerHTML]="item.description">
                </div>
              </div>
              <div class="z-social-post-tag">
                <a *ngFor="let tag of item.tags">
                  {{ tag.name }}
                </a>
              </div>
              <div class="form-group">
                Shared from <a href="#">{{ item?.parent_post?.owner?.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal" (click)="modal.dismiss()">
      Cancel
    </button>
    <button type="button" class="btn btn-outline-primary btn-min">Done</button>

  </bs-modal-footer>
</bs-modal>
