<bs-modal #modal cssClass="modal-social modal-long" [keyboard]="false"
          [backdrop]="'static'" [animation]="false" style="display: inline;">
  <bs-modal-header cssClass="modal-social-head" [showDismiss]="true">
    <h4 class="modal-title">All {{ type }}s</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div *ngIf="item">
      <ul class="list-unstyled social-list-user">
        <li *ngFor="let i of item">
          <img alt="" [src]="i.owner.profile_image" title="" width="30">
          <span>
              {{ i.owner.name }}
        </span>
        </li>
      </ul>

    </div>

  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal" (click)="modal.dismiss()">
      Cancel
    </button>
    <button type="button" class="btn btn-outline-primary btn-min">Done</button>

  </bs-modal-footer>
</bs-modal>
