@import "../../../../assets/styles/global";

.modal-post-edit-action-mobile {
  display: none;
}

.photo-box-figure-in i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.post-edit {  
  .dropdown-menu {
    min-width: 200px;
    li {
      span {
        padding-left: 15px;
      }
    }
  }
}

.blue {
  color: #2996cc !important;
}

@media (max-width: $screen-xs-max) {
  .modal-post-edit {
    min-height: 100vh;
    @include flexbox;
    margin: 0;
    padding: 0;
    .modal-content {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border-width: 0;
      width: 100%;
    }
    .modal-post-edit-action-mobile {
      display: block;
      margin-left: -$modal-inner-padding;
      margin-right: -$modal-inner-padding;
      padding-left: $modal-inner-padding;
      padding-right: $modal-inner-padding;
      padding-bottom: $modal-inner-padding;
      margin-bottom: $modal-inner-padding;
      border-bottom: 1px solid $line;
    }

    .img-center-dv {
      position: relative;
    }

    .img-center-dv.loading:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      background-image: url('../../../../assets/images/icons/loading.gif');
      background-repeat: no-repeat;
      background-position: center center;
    }

    .textarea-editor-input {
      overflow: auto;
    }
  }
}

.editor-error{
  border: 1px solid red;
  border-radius: 4px !important;
}

