<div *ngIf="data" class="component-listbox-row"
     [ngClass]="{'item-folder': data.object_type == 'Note::Folder', 'active': selected}">
  <div class="component-listbox-input">
    <i (click)="onClickMulti()" class="fa fa-check"></i>
  </div>
  <div class="component-listbox-name can-click" (click)="onClick()" (dblclick)="onView()">
    <span>
      <i class="fa"
         [ngClass]="{'fa-folder-o': data.object_type == 'Note::Folder', 'fa-file': data.object_type == 'Note::Note'}"></i> {{ data.name }}
    </span>
  </div>
  <div class="component-listbox-owner can-click" (click)="onClick()" (dblclick)="onView()">
    {{ ((userService.profile$ | async).uuid === data.user?.uuid) ? 'me' : data.user?.name }}
  </div>
  <div class="component-listbox-description can-click" (click)="onClick()" (dblclick)="onView()">
    {{ data.description }}
  </div>
  <div class="component-listbox-date can-click" (click)="onClick()" (dblclick)="onView()">
    {{ (DATE_MAP[sortOption?.field] ? data[sortOption?.field] : data.created_at) | timeFormat }}
  </div>

  <div class="component-listbox-action">
    <z-note-shared-actions-bar *ngIf="page !== PAGE_TYPE.TRASH" class="action" [page]="page" [toolbarPosition]="'inline'"
                               [selectedObjects]="[data]"></z-note-shared-actions-bar>
    <z-note-shared-trash-actions-bar [selectedObjects]="[data]" *ngIf="page === PAGE_TYPE.TRASH"></z-note-shared-trash-actions-bar>
  </div>
</div>
