<div *ngIf="data">
  <div class="field-group-title">
    <h3 class="pull-left">Phone</h3>
    <div class="pull-right">
      <button *ngIf="editable" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
  </div>
  <div class="field-group-content">
    <dl class="dl-horizontal" *ngIf="data.phones.length > 0">
      <template ngFor let-item [ngForOf]="data.phones" let-i="index" [ngForTrackBy]="trackByFn">
        <dt>{{ item.kind_of | keyToValue:phoneType:'kind_of':'name' }}</dt>
        <dd>
          <p>
            <img *ngIf="countriesCode"
                 src="assets/images/flags/{{ item.country_alpha_code | phoneCodeFlag:countriesCode }}.svg"
                 width="30" alt="">
            {{ item.value }}
          </p>
        </dd>
      </template>
    </dl>

    <div *ngIf="data.phones.length == 0 && editable">
      <p class="text-fade" *ngIf="config.getCurrentUser">
        Tell us more about your phone
      </p>
      <button type="button" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-plus"></i> Add detail
      </button>
    </div>

  </div>
</div>

<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title"><i class="fa fa-pencil"></i> Phone</h4>
    </modal-header>
    <modal-body>
      <div formArrayName="phones">
        <div *ngFor="let add_phone of getPhoneControls(); let i=index" class="media media-no-hidden mt0">
          <div class="media-body" [formGroupName]="i">
            <div class="row row-10">
              <div class="col-sm-2">
                <div class="form-group no-label" [ngClass]="{
                  'has-error': (!add_phone['controls'].kind_of.valid
                  && add_phone['controls'].kind_of.touched),
                  'has-success': (add_phone['controls'].kind_of.valid
                  && add_phone['controls'].kind_of.touched
                  && form.value.phones[i].kind_of.length > 1)}">
                  <select class="form-control" name="name" formControlName="kind_of">
                    <option value=""> -- Select One --</option>
                    <option *ngFor="let et of phoneType" value="{{ et.kind_of }}">{{ et.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group no-label" [ngClass]="{
                  'has-error': (!add_phone['controls'].country_alpha_code.valid
                  && add_phone['controls'].country_alpha_code.touched),
                  'has-success': (add_phone['controls'].country_alpha_code.valid
                  && add_phone['controls'].country_alpha_code.touched
                  && form.value.phones[i].country_alpha_code.length>1)}">

                  <p-autoComplete class="form-control-phone-country" formControlName="country_alpha_code"
                                  [suggestions]="filteredCountriesCode"
                                  (completeMethod)="filterCountriesCode($event)" [size]="30"
                                  [minLength]="1" placeholder="Select your country" [dropdown]="true"
                                  (onDropdownClick)="handleDropdownClick($event)">
                    <template ngFor let-code let-i="index" pTemplate="item">
                      <div [innerHtml]="code | phoneCodeCountries:countriesCode"></div>
                    </template>
                  </p-autoComplete>

                  <!--<select class="form-control" name="name" formControlName="country_alpha_code">
                    <option value=""> Select your country</option>
                    <option *ngFor="let c of countriesCode" value="{{ c.code }}">{{ c.name }} ({{ c.dial_code }})</option>
                  </select>-->
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group no-label" [ngClass]="{
                  'has-error': (!add_phone['controls'].value.valid
                  && add_phone['controls'].value.touched),
                  'has-success': (add_phone['controls'].value.valid
                  && add_phone['controls'].value.touched
                  && form.value.phones[i].value.length > 1)}">
                  <input type="text" class="form-control" formControlName="value" placeholder="">
                  <div
                    *ngIf="!add_phone['controls'].value.valid && add_phone['controls'].value.touched">
                    <span
                      *ngIf="!add_phone['controls'].value.valid && add_phone['controls'].value.errors.phoneFormat"
                      class="help-block text-danger">
                      Phone is not valid
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <button type="button" class="btn btn-default" (click)="removeItem(i)">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addItem()">
        <i class="fa fa-plus"></i> Add more
      </button>
    </modal-body>
    <modal-footer>
      <button [disabled]="!form.valid" type="submit" class="btn btn-wth-default btn-min mr10"
              (click)="onSubmit(form.value)">Done
      </button>
      <button type="button" class="btn btn-default btn-min" (click)="modal.close()">Cancel</button>
    </modal-footer>
  </modal>
</form>
