<div class="zone-social">
  <div class="zone-social-in">

    <div *ngIf="userInfo" class="zone-social-cover">
      <div class="zone-social-cover-in user">
        <div class="zone-social-cover-action">
          <button class="btn btn-wth-default">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <div class="zone-social-cover-img">
          <img class="img-bg img-full" src="assets/images/landing/hero-image.jpg" alt="">
        </div>
        <div class="zone-social-cover-info">
          <div class="z-social-media z-social-media-md">
            <div class="z-social-media-left">
              <img [src]="userInfo.profile_image" alt="">
            </div>
            <div class="z-social-media-body">
              <div class="z-heading">
                <div class="z-name">
                  {{userInfo.name}}
                </div>
              </div>
              <div class="z-shared-info">
                <ul>
                  <li>
                    {{userInfo.nickname}}
                  </li>
                </ul>
              </div>
              <div class="z-shared-description">

              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="zone-social-cover-nav">
        <ul class="list-unstyled clearfix">
          <li class="active">
            <a [routerLink]="['/zone/social/profile/', userInfo.uuid]">Posts</a>
          </li>
          <li>
            <a [routerLink]="['about']">About</a>
          </li>
          <li class="pull-right dropdown">
            <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-custom">
              <li><a href="#">Edit Contact Profile</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <router-outlet></router-outlet>

  </div>
  <div class="zone-social-sidebar">
    <dl>
      <dt>Favourite</dt>
      <dd>
        <ul class="list-unstyled">
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 02
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 02
            </span>
          </li>
          <li>
            <img src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 03
            </span>
          </li>
        </ul>
      </dd>
    </dl>
  </div>

  <!--<wth-to-top></wth-to-top>-->

</div>
