@import '../../../shared/scss/global';

.contact-dl {
  position: relative;
  margin-bottom: 0;
  dt {
    position: absolute;
    left: auto !important;
    right: auto !important;
    padding: 10px 0;
    span {
      line-height: 34px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  dd {
    @include flexbox;
    @include align-items(center);
    margin-left: 20px;
    border-bottom: 1px solid $line;
    padding: 10px;
    @media (min-width: $screen-sm-min) {
      margin-left: 40px;
    }
    > div {
      margin: 0 5px;
    }
  }
  .contact-dl-name {
    @include flex(1);
    @include flexbox;
    @include align-items(center);
    .name {
      @include flex(1);
      position: relative;
      height: 20px;
      span {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &:hover{
      cursor: pointer;
    }
  }
  .contact-dl-email {
    width: 250px;
    display: none;
    @media (min-width: $screen-lg-min) {
      display: block;
    }
  }
  .contact-dl-phone {
    width: 130px;
    display: none;
    @media (min-width: $screen-lg-min) {
      display: block;
    }
  }
  .contact-dl-action {
    @include flexbox;
    @include justify-content(flex-end);
    @media (min-width: $screen-sm-min) {
      width: 200px;
    }
  }

  .contact-dl-input {
    i {
      border: 1px solid #4a4a4a;
      border-radius: 2px;
      cursor: pointer;
      color: #ffffff;
      &:before {
        visibility: hidden;
      }
    }
  }
  dd.active {
    background-color: #F2F2F2;
    .contact-dl-input {
      i {
        background-color: $theme-color;
        border-color: $theme-color;
        &:before {
          visibility: visible;
        }
      }
    }
  }
}

.contact-bar {
  @include center(false, true);
  position: fixed;
  right: 0;
  left: auto;
  a {
    display: block;
    padding: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
