<div class="z-social-box">
  <div class="z-social-box-header">
    <div class="pull-left dropdown">
      <button class="btn btn-default-inline" type="button" data-toggle="dropdown">
        All Member <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-custom">
        <li>
          <a href="#">View All</a>
        </li>
        <li>
          <a href="#">Moderators</a>
        </li>
        <li>
          <a href="#">Member</a>
        </li>
        <li>
          <a href="#">Invitation</a>
        </li>
        <li>
          <a href="#">Join Requests <span class="badge badge-right badge-wth badge-rounded">3</span></a>
        </li>
        <li>
          <a href="#">Blacklist</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-default pull-right" type="button" data-toggle="modal"
            data-target="#modal-social-share-com">
      <i class="fa fa-user-plus"></i> Invite Member
    </button>
  </div>
  <div class="z-social-post">
    <ul class="list-unstyled social-list-user">
      <li>
        <div class="dropdown pull-right">
          <a href="#" class="btn btn-link">ACCEPT</a>
          <a href="#" class="btn btn-link">DENY</a>
          <span class="text-fade">Member</span>
          <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-custom">
            <li><a href="#">Make Admin</a></li>
            <li><a href="#">Make Moderator</a></li>
            <li><a href="#">Remove</a></li>
            <li><a href="#">Blacklist</a></li>
          </ul>
        </div>
        <img alt="" src="/assets/images/zone/img-groups.png" title="" width="30">
        <span>
                      Group Number 01
                    </span>
      </li>
      <li>
        <div class="dropdown pull-right">
          <a href="#" class="btn btn-link">RE-INVITE</a>
          <a href="#" class="btn btn-link">CANCEL</a>
          <span class="text-fade">Member</span>
          <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-custom">
            <li><a href="#">Make Admin</a></li>
            <li><a href="#">Make Moderator</a></li>
            <li><a href="#">Remove</a></li>
            <li><a href="#">Blacklist</a></li>
          </ul>
        </div>
        <img alt="" src="/assets/images/zone/img-groups.png" title="" width="30">
        <span>
                      Group Number 01
                    </span>
      </li>
      <li>
        <div class="dropdown pull-right">
          <span class="text-fade">Member</span>
          <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-custom">
            <li><a href="#">Make Admin</a></li>
            <li><a href="#">Make Moderator</a></li>
            <li><a href="#">Remove</a></li>
            <li><a href="#">Blacklist</a></li>
          </ul>
        </div>
        <img alt="" src="/assets/images/zone/img-groups.png" title="" width="30">
        <span>
                      Group Number 01
                    </span>
      </li>
      <li>
        <div class="dropdown pull-right">
          <span class="text-fade">Member</span>
          <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-custom">
            <li><a href="#">Make Admin</a></li>
            <li><a href="#">Make Moderator</a></li>
            <li><a href="#">Remove</a></li>
            <li><a href="#">Blacklist</a></li>
          </ul>
        </div>
        <img alt="" src="/assets/images/zone/img-groups.png" title="" width="30">
        <span>
                      Group Number 01
                    </span>
      </li>
      <li>
        <div class="dropdown pull-right">
          <span class="text-fade">Member</span>
          <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-custom">
            <li><a href="#">Make Admin</a></li>
            <li><a href="#">Make Moderator</a></li>
            <li><a href="#">Remove</a></li>
            <li><a href="#">Blacklist</a></li>
          </ul>
        </div>
        <img alt="" src="/assets/images/zone/img-groups.png" title="" width="30">
        <span>
                      Group Number 01
                    </span>
      </li>
      <li>
        <div class="dropdown pull-right">
          <span class="text-fade">Member</span>
          <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-custom">
            <li><a href="#">Make Admin</a></li>
            <li><a href="#">Make Moderator</a></li>
            <li><a href="#">Remove</a></li>
            <li><a href="#">Blacklist</a></li>
          </ul>
        </div>
        <img alt="" src="/assets/images/zone/img-groups.png" title="" width="30">
        <span>
                      Group Number 01
                    </span>
      </li>
    </ul>
  </div>
</div>
