<div class="zone-social">
  <div class="zone-social-in">

    <z-social-community-cover [data]="data"></z-social-community-cover>

    <list-invite-members #users (onSelected)="inviteMembers($event)"></list-invite-members>
    <div *ngIf="data" class="z-social-box">
      <div class="z-social-box-header">
        <div class="pull-left dropdown">
          <button class="btn btn-default-inline" type="button" data-toggle="dropdown">
            All Member <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-custom">
            <li>
              <a href="#">View All</a>
            </li>
            <li>
              <a href="#">Member</a>
            </li>
            <li>
              <a href="#">Invitation</a>
            </li>
            <li>
              <a href="#">Join Requests <span class="badge badge-right badge-wth badge-rounded">3</span></a>
            </li>
            <li>
              <a href="#">Blacklist</a>
            </li>
          </ul>
        </div>
        <button class="btn btn-default pull-right" type="button" (click)="chooseMembers($event)" data-toggle="modal"
                data-target="#modal-social-share-com">
          <i class="fa fa-user-plus"></i> Invite Member
        </button>
      </div>
      <div class="z-social-post">
        <ul class="list-unstyled social-list-user">
          <template ngFor let-user [ngForOf]="data.users" [ngForTrackBy]="trackByUsers">
            <li *ngIf="user.id == data.admin.id">
              <div class="dropdown pull-right">
                <span class="text-fade">Admin</span>
              </div>
              <img [alt]="user.name" [src]="user.profile_image" title="" width="30">
              <span>{{user.name}}</span>
            </li>
          </template>
          <template ngFor let-user [ngForOf]="data.users" [ngForTrackBy]="trackByUsers">
            <li *ngIf="user.id != data.admin.id">
              <div class="dropdown pull-right">
                <!--<a href="#" class="btn btn-link">ACCEPT</a>
                <a href="#" class="btn btn-link">DENY</a>
                <a href="#" class="btn btn-link">RE-INVITE</a>
                <a href="#" class="btn btn-link">CANCEL</a>-->
                <span class="text-fade">Member</span>
                <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-custom">
                  <li><a href="#">Make Admin</a></li>
                  <li><a href="#">Remove</a></li>
                  <li><a href="#" (click)="onReportMember(user.uuid)">Report Member</a></li>
                  <li><a href="#">Blacklist</a></li>
                </ul>
              </div>
              <img [alt]="user.name" [src]="user.profile_image" title="" width="30">
              <span>{{user.name}}</span>
            </li>
          </template>
        </ul>
      </div>
    </div>

  </div>
  <div class="zone-social-sidebar">
    <dl>
      <dt>Favourite</dt>
      <dd>
        <ul class="list-unstyled">
          <li>
            <img alt="" src="/assets/images/zone/img-group.png" width="30">
            <span> Username 01 </span>
          </li>
          <li>
            <img alt="" src="/assets/images/zone/img-group.png" width="30">
            <span> Username 01 </span>
          </li>
          <li>
            <img alt="" src="/assets/images/zone/img-group.png" width="30">
            <span> Username 01 </span>
          </li>
          <li>
            <img alt="" src="/assets/images/zone/img-group.png" width="30">
            <span> Username 01 </span>
          </li>
          <li>
            <img alt="" src="/assets/images/zone/img-groups.png" width="30">
            <span> Group Number 02 </span>
          </li>
          <li>
            <img alt="" src="/assets/images/zone/img-groups.png" width="30">
            <span> Group Number 03 </span>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>


<page-zone-form-report-member id="modalReportUser" [data]="uuidUser"></page-zone-form-report-member>




