<div class="zone-social">
  <div class="zone-social-in">


    <post-new #postNew (onPostAdded)="reloadPosts($event)"></post-new>

    <post-list #posts></post-list>

  </div>
  <div class="zone-social-sidebar">
    <dl>
      <dt>Favourite</dt>
      <dd>
        <ul class="list-unstyled">
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 02
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 02
            </span>
          </li>
          <li>
            <img src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 03
            </span>
          </li>
        </ul>
      </dd>
    </dl>
  </div>

  <!--<wth-to-top></wth-to-top>-->

</div>
