<div class="zone-social">
  <div class="zone-social-in">
    <div class="z-social-box">
      <div class="z-social-media">
        <div class="z-social-media-left">
          <img src="assets/images/avatar/avatar.png" alt="">
        </div>
        <div class="z-social-media-body">
          <div class="z-social-media-inputpost">
          <span class="z-social-media-inputpost">
            <i (click)="photoSelection.open($event)" class="fa fa-camera"></i>
          </span>
            <input type="text" class="form-control" placeholder="Share your ideas">
          </div>
        </div>
      </div>
    </div>

    <post-new #postNew></post-new>

    <div class="z-social-box">
      <div class="z-social-media">
        <div class="z-social-media-left">
          <img src="assets/images/avatar/avatar.png" alt="">
        </div>
        <div class="z-social-media-body">
          <div class="z-heading">
            <div class="z-name">
              name
            </div>
            <div class="z-shared-with dropdown">
              <a href="#" data-toggle="dropdown"><i class="fa fa-globe"></i> Public</a>
              <ul class="dropdown-menu dropdown-menu-wth dropdown-menu-check" aria-labelledby="dropdownMenu1">
                <li><a href="#"><i class="fa fa-globe"></i> Public <i class="dropdown-menu-check-item fa fa-check"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-users"></i> Friends</a></li>
                <li><a href="#"><i class="fa fa-lock"></i> Private</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Custom</a></li>
              </ul>
            </div>
          </div>
          <div class="z-shared-info">
            <ul>
              <li class="z-time">
                Jul 16 2016
              </li>
              <li>
                Adult Content
              </li>
              <li>
                Muted
              </li>
            </ul>
          </div>
        </div>
        <div class="z-social-media-right">
          <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#"><i class="fa fa-check"></i> Adult content</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Edit Post</a></li>
              <li><a href="#">Delete</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Disable comments</a></li>
              <li><a href="#">Disable reshare</a></li>
              <li><a href="#">Mute</a></li>
            </ul>
          </div>

          <div class="dropdown pull-right">
            <a href="javascript:;" class="btn btn-default">
              <i class="fa fa-external-link"></i>
            </a>
          </div>

        </div>
      </div>
      <div class="z-social-post">
        <div class="z-social-post-content">
          <div class="z-social-post-txt">
            <div class="z-social-post-txt-in">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio ducimus eveniet exercitationem
              inventore iusto non officia qui quia, reiciendis, unde velit vitae, voluptatum. Deleniti illum minima
              necessitatibus nobis quidem!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio ducimus eveniet exercitationem
              inventore iusto non officia qui quia, reiciendis, unde velit vitae, voluptatum. Deleniti illum minima
              necessitatibus nobis quidem!
            </div>
            <div class="z-social-post-txt-more">
              <a href="#">READ MORE</a>
            </div>
          </div>
          <div class="z-social-post-tag">
            <a href="#">books</a> <a href="#">books</a> <a href="#">books</a> <a href="#">books</a>
          </div>
        </div>
        <div class="z-social-carousel">
          <ul class="carousel-thumb-style-6">
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <a href="#">
                <span>
                  + 11
                </span>
                <figure>
                  <img class="img-full"
                       src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                       alt="">
                </figure>
              </a>
            </li>
          </ul>
          <ul class="carousel-thumb-style-5">
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
          </ul>
          <ul class="carousel-thumb-style-4">
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
          </ul>
          <ul class="carousel-thumb-style-3">
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
          </ul>
          <ul class="carousel-thumb-style-2">
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
          </ul>
          <ul class="carousel-thumb-style-1">
            <li>
              <figure>
                <img class="img-full"
                     src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=350&h=250"
                     alt="">
              </figure>
            </li>
          </ul>
        </div>
        <div class="z-social-post-action">
          <ul class="pull-left">
            <li class="active">
              <i class="fa fa-thumbs-o-up active"></i> 2
            </li>
            <li>
              <i class="fa fa-thumbs-o-down"></i> 2
            </li>
            <li>
              <i class="fa fa-share-alt"></i> 2
            </li>
          </ul>
          <ul class="pull-right">
            <li>
              <a href="#">View Activities</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="z-social-comment">
        <div class="z-social-comment-num">10 Comments</div>
        <ul class="z-social-comment-list media-list">
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img alt="64x64" class="media-object" src="assets/images/avatar/avatar.png">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Media heading
                <span class="media-heading-time">1 day ago</span>
              </h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                sollicitudin commodo.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
              <div class="media-body-action">
                <a href="#">
                  <i class="fa fa-pencil"></i>
                </a>
              </div>
              <div class="media-body-reply">
                <ul>
                  <li class="active"><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                  <li><a href="#"><i class="fa fa-thumbs-o-down"></i></a></li>
                  <li><a href="#">Reply</a></li>
                  <li><a href="#">2 Replies</a></li>
                </ul>
              </div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img alt="64x64" class="media-object" src="assets/images/avatar/avatar.png">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Media heading
                    <span class="media-heading-time">1 day ago</span>
                  </h4>
                  <p>Cras sit amet nibh libero, in
                    gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
                    odio, vestibulum in
                    vulputate at, tempus viverra turpis.</p>
                  <div class="media-body-action">
                    <a href="#">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div>
                  <div class="media-body-reply">
                    <ul>
                      <li class="active"><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                      <li><a href="#"><i class="fa fa-thumbs-o-down"></i></a></li>
                      <li><a href="#">Reply</a></li>
                      <li><a href="#">2 Replies</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img alt="64x64" class="media-object" src="assets/images/avatar/avatar.png">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Media heading
                    <span class="media-heading-time">1 day ago</span>
                  </h4>
                  <p>Cras sit amet nibh libero, in
                    gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
                    odio, vestibulum in
                    vulputate at, tempus viverra turpis.</p>
                  <div class="media-body-action">
                    <a href="#">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div>
                  <div class="media-body-reply">
                    <ul>
                      <li class="active"><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                      <li><a href="#"><i class="fa fa-thumbs-o-down"></i></a></li>
                      <li><a href="#">Reply</a></li>
                      <li><a href="#">2 Replies</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="z-social-comment-more">
          <a href="#">View all comments</a>
        </div>
      </div>
      <div class="z-social-media">
        <div class="z-social-media-left">
          <img src="assets/images/avatar/avatar.png" alt="">
        </div>
        <div class="z-social-media-body">
          <div class="z-social-media-inputpost">
          <span class="z-social-media-inputpost">
            <i class="fa fa-camera"></i>
            <i class="fa fa-smile-o"></i>
          </span>
            <input type="text" class="form-control" placeholder="Add a comment">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-social-sidebar">
    <dl>
      <dt>Favourite</dt>
      <dd>
        <ul class="list-unstyled">
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 02
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-group.png" alt="" title="">
            <span>
              Username 01
            </span>
          </li>
          <li>
            <img width="30" src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 02
            </span>
          </li>
          <li>
            <img src="assets/images/zone/img-groups.png" alt="" title="">
            <span>
              Group Number 03
            </span>
          </li>
        </ul>
      </dd>
    </dl>
  </div>

  <!--<wth-to-top></wth-to-top>-->

</div>
