<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{pageTitle}}</h3>
  </div>
  <div class="panel-body">
    <div class="clearfix">
      <span class="pull-left">MONTHLY USAGE</span>
      <span class="pull-right">(0.7 GB / 1GB)</span>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70"
           aria-valuemin="0" aria-valuemax="100" style="width:70%">
        <span class="sr-only">70% </span>
      </div>
    </div>
    <div class="text-center mb40">
      <span class="inline-block mr20"><i class="glyphicon glyphicon-cloud-download"></i> download(500MB)</span>
      <span class="inline-block mr20"><i class="glyphicon glyphicon-cloud-upload"></i> upload(200MB)</span>
      <span class="inline-block mr20"><i class="glyphicon glyphicon-cloud"></i> remaining(1GB)</span>
    </div>
    <div class="text-center">
      VPN Config
      <a target="_blank"
         href="https://doc-0g-8c-docs.googleusercontent.com/docs/securesc/rv1gtga6qibq8mvd6eic80rvh0j27cun/mqulf8g98t1v3sr7c9f5mrgbfvv5lroj/1464256800000/13037392216642337497/01055184550098065008/0B5zHJKYP0TglM09PZTJaNTlNOUE?e=download&h=17049682760651394493&nonce=5r458q96bl7us&user=01055184550098065008&hash=7m5usqeip9jes04lb69tfk1kd2ddcs89https://doc-0g-8c-docs.googleusercontent.com/docs/securesc/rv1gtga6qibq8mvd6eic80rvh0j27cun/mqulf8g98t1v3sr7c9f5mrgbfvv5lroj/1464256800000/13037392216642337497/01055184550098065008/0B5zHJKYP0TglM09PZTJaNTlNOUE?e=download&h=17049682760651394493&nonce=5r458q96bl7us&user=01055184550098065008&hash=7m5usqeip9jes04lb69tfk1kd2ddcs89"
      >Download now <i class="glyphicon glyphicon-download"></i></a>
    </div>
  </div>
</div>
