//@import '../../../../scss/partials/images';
@import '../../../../scss/global';

.cropper-wrap{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.selectcrop-control {
  text-align: center;
  margin-top: 10px;
}
