<div class="wrapper">
  <w-header class="header" [showSideBar]="false" [hasSearch]="false" [user]="authService.user$ | async" [loggedIn]="authService.loggedIn$ | async">
    <portal-shared-header class="header-nav-left"></portal-shared-header>
  </w-header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <portal-shared-footer></portal-shared-footer>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <wth-confirm></wth-confirm>
  <!--<w-media-selection></w-media-selection>-->

</div>
