@import '../../../../scss/global';

.avatar-md {
  position: relative;
  cursor: pointer;
  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, 0.5);
    @include transition(all .3s ease);
    @include opacity(0);
    i {
      @include center();
      font-size: 36px;
    }
  }
  &:hover {
    span {
      @include opacity(1);
      color: #ffffff;
    }
  }
}
