<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Profile Picture</h4>
  </bs-modal-header>
  <bs-modal-body>
    <p>Select a photo as your profile picture so people can quickly recognize you</p>
    <div class="cropper-wrap">
      <img id="image" [src]="curImage" />
    </div>
    <div class="selectcrop-control">
      <button id="cropper-rotate-left" class="btn btn-outline-default" (click)="rotateCropper(true)">
        <i class="fa fa-undo"></i>
      </button>
      <button id="cropper-rotate-right" class="btn btn-outline-default" (click)="rotateCropper(false)">
        <i class="fa fa-repeat"></i>
      </button>
      <button id="cropper-remove" (click)="changeImage()" class="btn btn-outline-default">
        Change Picture
      </button>
      <button id="cropper-upload" (click)="done()" class="btn btn-outline-primary">
        Done
      </button>
    </div>
  </bs-modal-body>
</bs-modal>
