@import '../../../../assets/styles/global';

:host {
  display: block;
}

.well-folder-move {
  border: 1px solid $line;
  .well-folder-move-header {
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid $line;
  }
  .well-folder-move-content {
    background-color: #f6f6f6;
    min-height: 150px;
    overflow: auto;
    ul {
      margin: 0;
      li {
        position: relative;
        span.can-click {
          position: absolute;
          right: 0;
          top: 0;
          height: 34px;
          line-height: 34px;
          width: 34px;
          text-align: center;
          &:hover {
            background-color: darken(#e5e5e5, 10%);
          }
        }
        div.can-click {
          padding: 0 34px 0 10px;
          line-height: 34px;
          &.active {
            color: $theme-color;
          }
        }

        &:hover:not(.disabled) {
          background-color: #e5e5e5;
        }
        &.disabled {
          color: $text-muted;
          cursor: not-allowed;
          .can-click {
            color: $text-muted;
            cursor: not-allowed;
            pointer-events: none;
          }
        }
      }
    }
  }
}
