@import "../../assets/styles/global";

.contact-dl {
  position: relative;
  margin-bottom: 0;
  dt {
    position: absolute;
    left: auto !important;
    padding: 10px 0;
    span {
      line-height: 34px;
      display: inline-block;
    }
  }
  dd {
    @include flexbox;
    @include align-items(center);
    margin-left: 40px;
    border-bottom: 1px solid $line;
    padding: 10px;
    > div {
      margin: 0 5px;
    }
  }
  .contact-dl-name {
    @include flex(1);
    @include flexbox;
    @include align-items(center);
  }
  .contact-dl-email {
    width: 250px;
  }
  .contact-dl-phone {
    width: 130px;
  }
}

.contact-bar {
  @include center(false, true);
  position: fixed;
  right: 0;
  left: auto;
  a {
    display: block;
    padding: 0 5px;
  }
}
