.aside-menu {
  padding-top: 20px;
  .page-menuleft {
    a {
      display: block;
      color: $text-color;
      padding: 8px 15px;
      text-decoration: none;
      &:hover {
        background-color: #F6F6F6;
      }
    }
    > ul {
      > li {
        > a {
          font-weight: bold;
        }
        &.active {
          background-color: #F6F6F6;
          > a {
            color: #ffffff;
            background-color: $color-inverse;
          }
        }
        &.has-sub {
          > a {
            position: relative;
            &:after {
              @extend .fa;
              @extend .fa-caret-down;
              position: absolute;
              @include center(false, true);
              left: auto;
              right: 10px;
            }
          }
          > ul {
            display: none;
            &.active {
              display: block;
              background-color: #f6f6f6;
            }
            li {
              a {
                padding-left: 30px;
                &:hover {
                  background-color: lighten(#d8d8d8, 5%);
                }
              }
              &.active {
                a {
                  background-color: transparent;
                  color: $color-inverse;
                }
              }
            }
          }
        }
      }
    }
  }
}
