<div class="objects-main">
  <w-dataView-nav [showViewMode]="true"
                  [enableSort]="enableSort"
                  [sortBy]="context?.sort?.field"
                  [orderBy]="context?.sort?.desc ? 'desc' : 'asc'"
                  [viewBy]="context?.viewMode"
                  (sortComplete)="onSortComplete($event)"
                  (viewComplete)="onViewComplete($event)">

    <w-breadcrumbs *ngIf="breadcrumbs && breadcrumbs.length > 0" [data]="breadcrumbs">
      <ng-template #viewMenu let-item>
        <li>
          <a (click)="onBreadcrumbAction({action: 'note:open_note_add_modal', payload: {parent_id: item.id}})"
             href="#">
            <i class="fa fa-sticky-note"></i> New note
          </a>
        </li>
        <li>
          <a (click)="onBreadcrumbAction({action: 'note:folder:create'})" href="javascript:;">
            <i class="fa fa-folder"></i> New folder
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a (click)="onBreadcrumbAction({action: 'note:mixed_entity:open_sharing_modal', payload: [item]})"
             href="#">
            <i class="fa fa-share-alt"></i> Sharing
          </a>
        </li>
        <li>
          <a (click)="onBreadcrumbAction({action: 'note:mixed_entity:delete', payload: [item]})"
             href="#">
            <i class="fa fa-trash-o"></i> Delete</a>
        </li>
        <li>
          <a
            (click)="onBreadcrumbAction({action: 'note:mixed_entity:open_move_to_folder_modal', payload: [item]})"
            href="#">
            <i class="wicon-move-to-folder"></i> Move to folder
          </a>
        </li>
        <li>
          <a (click)="onBreadcrumbAction({action: 'note:folder:edit', payload: item})" href="javascript:;">
            <i class="fa fa-pencil"></i> Rename
          </a>
        </li>
      </ng-template>
    </w-breadcrumbs>

    <div *ngIf="!breadcrumbs" class="btn-group">
      <h4 class="title can-click" data-toggle="dropdown">{{ context?.pathTitle }} <span class="caret"></span>
      </h4>
      <ul class="dropdown-menu">
        <li><a (click)="onNewNote()" href="#"><i class="fa fa-sticky-note"></i> New Note</a></li>
        <li><a (click)="onFolder()" href="#"><i class="fa fa-folder"></i> New Folder</a></li>
      </ul>
    </div>
  </w-dataView-nav>
  <ng-container *ngIf="!context?.loading && (data$ | async) as list; else templateloading">
    <ng-container *ngIf="list?.length > 0; else templateNodata">
      <w-dataView [data]="list"
                  [viewMode]="context?.viewMode"
                  (loadMoreCompleted)="onLoadMoreCompleted($event)"
                  (selectCompleted)="onSelectCompleted()"
                  (dblClick)="onDblClick($event)"
                  #dataView>
        <ng-template #viewHeader>
          <div class="item-media-name">
            <span class="can-click" (click)="onSortComplete({sortBy: 'Name', orderBy: 'desc'})">Name</span>
          </div>
          <div class="item-note-owner">Owner</div>
          <div class="item-note-date">{{ DATE_MAP[context?.sort?.field] || 'Last Modified' }}</div>
        </ng-template>
        <ng-template #viewBody let-item>
          <div class="item-media-img" [ngClass]="{'item-note-icon': item.object_type === 'Note::Note'}">
            <i *ngIf="item.object_type === 'Note::Folder'" class="fa fa-folder"></i>
            <ng-container *ngIf="item.object_type === 'Note::Note'">
              <i class="fa fa-sticky-note"></i><span [innerHTML]="item?.content | safeHtml"></span>
            </ng-container>
          </div>
          <div class="item-media-name">
            <span>{{ item.name || 'Untitled' }}</span>
          </div>
          <div class="item-note-owner">
            {{ item.user | username }}
          </div>
          <div class="item-note-date">{{ (DATE_MAP[context?.sort?.field] ? item[context?.sort?.field] : item.updated_at) | timeFormat }}</div>
        </ng-template>
      </w-dataView>
      <w-dataView-selected *ngIf="dataView.selectedDocuments?.length"
                           [selectedObjects]="dataView.selectedDocuments"
                           (clear)="dataView.container.clearSelection()"
                           (selectAll)="dataView.container.selectAll()">
        <ul class="nav-selection-actions">
          <ng-container *ngFor="let menu of menuActions | objectValues">
            <li *ngIf="menu.active">
              <button (click)="onMenuAction(menu.action)" class="btn btn-icon" type="button"><i [class]="menu.icon"></i>
              </button>
            </li>
          </ng-container>
          <li class="dropdown" *ngIf="!noOtherActions">
            <button class="btn btn-icon" type="button" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <ng-container *ngFor="let menu of otherActions | objectValues">
                <li *ngIf="menu.active && !menu.divider">
                  <a (click)="onMenuAction(menu.action)" href="#"><i [class]="menu.icon"></i> {{ menu.text }}</a>
                </li>
                <li *ngIf="menu.active && menu.divider" class="divider"></li>
              </ng-container>
            </ul>
          </li>
        </ul>
      </w-dataView-selected>
      <shared-modals-addToAlbum #modalAddToAlbum (chooseCompleted)="onModalAddCompleted($event)">
      </shared-modals-addToAlbum>
      <shared-modals-share #modalShare></shared-modals-share>
      <shared-modals-photoEditInfo #modalPhotoEditInfo></shared-modals-photoEditInfo>
    </ng-container>
    <ng-template #templateNodata>
      <div class="text-center">
        <box-no-data [icon]="'fa fa-sticky-note'"
                     title="There are no notes!"
                     subTitle='Use "New" button to create new notes.'>

        </box-no-data>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #templateloading>
    <div class="text-center">
      <box-loading></box-loading>
    </div>
  </ng-template>
</div>
