<div class="nav-menuleft">
  <aside class="aside-left">
    <div class="navgroup">
      <h4 class="aside-title">General</h4>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/account/setting/dashboard']">Home</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/account/setting/profile']">Account Settings</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/account/setting/changepassword']">Change Password</a>
        </li>
      </ul>
    </div>

    <div class="navgroup">
      <h4 class="aside-title">Plans and Billing</h4>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/account/plans']">Plans</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/account/billing-details']">Billing Details</a>
        </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/account/billing-history']">Billing
          History</a></li>
      </ul>
    </div>

    <div class="navgroup" [ngClass]="{ 'hidden' : has_installed_apps }">
      <h4 class="aside-title">My Services and Add-ons</h4>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']" *ngFor="let item of installed_apps">
          <a [routerLink]="[item.router_link]">{{item.display_name}}</a>
        </li>
      </ul>
    </div>
  </aside>
</div>
