<z-chat-share-toolbar #chatToolbar style="display: none"></z-chat-share-toolbar>
<div class="menuleft-logo">
  <img src="/assets/images_new/logo-chat.png" alt="">
</div>
<div class="menuleft-item">
  <a href="javascript:;" (click)="onAddContact()">
    <i class="fa fa-plus"></i> Message
  </a>
</div>

<div *ngFor="let chat of chatMenu" class="menuleft-item" [routerLinkActive]="['active']">
  <a [routerLink]="[chat.link]" href="#">
    <i class="{{ chat.icon }}"></i> {{ chat.name }}
  </a>
</div>

<ng-container *ngIf="favouriteContacts.value">
  <h4 class="p15">
    Favourites
  </h4>
  <div *ngFor="let contact of favouriteContacts.value" class="menuleft-item" [routerLinkActive]="['active']">
    <a class="media-chat-user" [routerLink]="[chatService.constant.conversationUrl, contact.id]" (click)="onSelect(contact)"
       href="javascript:;">
      <z-chat-share-user class="media-chat-user-item" [data]="contact"></z-chat-share-user>
      <span class="badge badge-wth" *ngIf="contact.notification_count > 0">{{ contact.notification_count }}</span>
    </a>
  </div>
</ng-container>

<ng-container *ngIf="recentContacts.value">
  <h4 class="p15">
    Recent
  </h4>
  <div *ngFor="let contact of recentContacts.value" class="menuleft-item" [routerLinkActive]="['active']">
    <a class="media-chat-user" [routerLink]="[chatService.constant.conversationUrl, contact.id]" (click)="onSelect(contact)"
       href="javascript:;">
      <z-chat-share-user class="media-chat-user-item" [data]="contact"></z-chat-share-user>
      <span class="badge badge-wth" *ngIf="contact.notification_count > 0">{{ contact.notification_count }}</span>
    </a>
  </div>
</ng-container>

<div class="menuleft-item">
  <a [routerLink]="['/history']" href="#">
    <i class="fa fa-clock-o"></i> History
  </a>
</div>

