<div class="menuleft-logo">
  <img src="/assets/images_new/logo-chat.png" alt="">
</div>

<div class="menuleft-chat-header">
  <div class="menuleft-chat-nav">
    <a href="javascript:void(0);" (click)="onAddContact(); onCloseMenu()">
      <i class="fa fa-plus"></i> Chat
    </a>
    <a href="javascript:void(0);" (click)="openContactModal();">
      <i class="fa fa-address-book-o"></i> Contacts
    </a>
    <a [routerLink]="['/setting']" [routerLinkActive]="['active']" href="javascript:void(0);" (click)="onCloseMenu()">
      <i class="fa fa-cog"></i> Settings
    </a>
  </div>
  <div class="menuleft-chat-form">
    <!--<div class="input-group-wrap input-group-wrap-search">-->
    <!--<form class="input-group" novalidate="">-->
    <!--<span class="input-group-btn input-group-left">-->
    <!--<button class="btn btn-default" tooltipposition="bottom" type="button">-->
    <!--<i class="fa fa-search"></i>-->
    <!--</button>-->
    <!--</span>-->
    <!--<input autocomplete="off" class="form-control" name="search" type="text" placeholder="Search Conversations">-->
    <!--</form>-->
    <!--</div>-->

    <textbox-search #textbox [showSearchClearText]="false" [placeholder]="'Search conversation name'"
                    (onEnterEvent)="search(textbox.search)"
                    (onEscapeEvent)="clearSearch($event)" (onKeyUpEvent)="search(textbox.search)">
    </textbox-search>
  </div>
  <hr>
  <div class="menuleft-chat-in">
    <div class="dropdown">
      <button class="btn btn-text-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ filter }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-sm">
        <li>
          <a href="javascript:;" (click)="doFilter('all')">
            <span>All</span>
            <i class="fa fa-check" *ngIf="filter === 'All'"></i>
          </a>
        </li>
        <li>
          <a href="javascript:;" (click)="doFilter('unread')">
            <span>Unread</span>
            <i class="fa fa-check" *ngIf="filter === 'Unread'"></i>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="javascript:;" (click)="doFilter('pending')">
            <span>Pending Request</span>
            <i class="fa fa-check" *ngIf="filter === 'Pending Request'"></i>
          </a>
        </li>
        <li>
          <a href="javascript:;" (click)="doFilter('sent')">
            <span>Sent Request</span>
            <i class="fa fa-check" *ngIf="filter === 'Sent Request'"></i>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#">Mark all as read</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="menuleft-chat-content">

  <ng-container *ngIf="!searching">
    <ng-container *ngIf="(favouriteContacts$ | async)?.length > 0">
      <div class="text-bold text-1-line conversation-label">
        <p>Favorites</p>
      </div>
      <ng-container *ngIf="favouriteContacts$ | async as favouriteContacts">
        <div *ngFor="let contact of favouriteContacts" class="menu-left-item">
          <ng-container *ngTemplateOutlet="conversationTemplate; context: {conversation: contact}"></ng-container>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="(recentContacts$ | async)?.length > 0">
      <div class="text-bold text-1-line conversation-label">
        <p>Chats</p>
      </div>
      <ng-container *ngIf="(recentContacts$ | async)?.length > 0; else templateNoMessage">
        <div *ngFor="let contact of (recentContacts$ | async)" class="menu-left-item">
          <ng-container *ngTemplateOutlet="conversationTemplate; context: {conversation: contact}"></ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="searching && searched">
    <ng-container *ngIf="searchConversations.length > 0; else templateNodata">
      <div *ngFor="let conversation of searchConversations" class="menu-left-item">
        <ng-container *ngTemplateOutlet="conversationTemplate; context: {conversation: conversation}"></ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #conversationTemplate let-conversation="conversation">
  <div class="media-chat-user" [routerLink]="['/conversations', conversation.group_id]" [routerLinkActive]="['active']">
    <z-chat-share-user-avatar class="media-chat-user-row"
                              [isStranger]="conversation.group_type === 'couple' && !conversation?.active"
                              [data]="conversation" [usersOnlineItem]="usersOnlineItem$ | async">
      <div class="user-content">
        <small class="media-chat-user-message" *ngIf="conversation.latest_message as latest_message">
          <span class="emojione-sm" *ngIf="latest_message?.message_type == 'text'"
                [innerHtml]="latest_message?.message | wth2Emojis:(emojiMap$ | async) | linkify  | safeHtml"></span>
          <span *ngIf="latest_message?.message_type == 'request'"> Sent you a request </span>
          <span *ngIf="latest_message?.message_type == 'file'"> Sent a file </span>
        </small>
        <!-- {{conversation.latest_message}} -->
        <small *ngIf="conversation.latest_message">{{ conversation?.latest_message?.created_at | timeFormat }}</small>
        <a class="media-chat-user-link"
           (click)="onSelect($event, conversation); onCloseMenu()"
           href="javascript:;"></a>
      </div>
      <div class="user-action">
        <div class="user-action-col">
          <span class="badge badge-wth badge-rounded" [ngClass]="{'invisible': conversation.notification_count == 0}">{{
            conversation?.notification_count | maxCount: 10}}</span>
          <i class="fw text-fade"
             [ngClass]="{'fw-megaphone-mute': !conversation.notification}"></i>
        </div>
      </div>
    </z-chat-share-user-avatar>
  </div>
</ng-template>


<ng-template #templateNodata>
  <div class="conversation-no-data">
    <box-no-data [icon]="'fa fa-comments-o'" [subTitle]="'There is no matching conversation'">
    </box-no-data>
  </div>
</ng-template>

<ng-template #templateNoMessage>
  <div class="conversation-no-data">
    <box-no-data *ngIf="filter === 'All'"
                 [icon]="'fa fa-comments-o'" [subTitle]="'No conversations'"></box-no-data>
    <box-no-data *ngIf="filter === 'Pending Request'"
                 [icon]="'fa fa-comments-o'" [subTitle]="'No pending request'"></box-no-data>
    <box-no-data *ngIf="filter === 'Sent Request'"
                 [icon]="'fa fa-comments-o'" [subTitle]="'No sent request'"></box-no-data>
  </div>
</ng-template>
