<div class="menu-left-logo">
  <img src="/assets/images_new/logo-chat.png" alt="">
</div>
<div class="menu-left-header">
  <div class="menu-left-nav">
    <a href="javascript:void(0);" (click)="onAddContact(); onCloseMenu()">
      <i class="fa fa-plus"></i> Chat
    </a>
    <a [routerLink]="['/contacts']" [routerLinkActive]="['active']" href="javascript:void(0);" (click)="onCloseMenu()">
      <i class="fa fa-address-book-o"></i> Contacts
    </a>
    <a [routerLink]="['/setting']" [routerLinkActive]="['active']" href="javascript:void(0);" (click)="onCloseMenu()">
      <i class="fa fa-cog"></i> Settings
    </a>
  </div>
  <div class="menu-left-form">
    <div class="input-group-wrap input-group-wrap-search">
      <form class="input-group" novalidate="">
        <span class="input-group-btn input-group-left">
          <button class="btn btn-default" tooltipposition="bottom" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
        <input autocomplete="off" class="form-control" name="search" type="text" placeholder="Search something">
      </form>
    </div>
  </div>
  <div class="menu-left-in">
    <div class="dropdown">
      <button class="btn btn-text-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        All
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-sm">
        <li><a href="#">All</a></li>
        <li><a href="#">Unread</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Pending request</a></li>
        <li><a href="#">Sent request</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Mark all as read</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="menu-left-content">
  <ng-container *ngIf="favouriteContacts$ | async as favouriteContacts">
    <div *ngFor="let contact of favouriteContacts" class="menu-left-item" [routerLinkActive]="['active']">
      <ng-container *ngTemplateOutlet="conversationTemplate; context: {conversation: contact}"></ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="recentContacts$ | async as recentContacts">
    <div *ngFor="let contact of recentContacts" class="menu-left-item" [routerLinkActive]="['active']">
      <ng-container *ngTemplateOutlet="conversationTemplate; context: {conversation: contact}"></ng-container>
    </div>
  </ng-container>
</div>

<ng-template #conversationTemplate let-conversation="conversation">
  <div class="media-chat-user">
     <z-chat-share-user-avatar class="media-chat-user-row" [data]="conversation" [usersOnlineItem]="usersOnlineItem$ | async">
        <div class="user-content">
           <small class="btn-block" *ngIf="conversation.latest_message as latest_message">
             <span *ngIf="latest_message?.message_type == 'text'"
                   [innerHtml]="latest_message?.message | wthEmojis | linkify  | safeHtml"></span>
             <span *ngIf="latest_message?.message_type == 'request'"> Sent a request </span>
             <span *ngIf="latest_message?.message_type == 'file'"> Sent a file </span>
           </small>
           <small *ngIf="conversation.latest_message">{{ conversation?.latest_message?.created_at | timeFormat }}</small>
          <a class="media-chat-user-link"
             [routerLink]="[chatService.constant.conversationUrl, conversation.id]"
             [routerLinkActive]="['active']"
             (click)="onSelect(conversation); onCloseMenu()"
             href="javascript:;"></a>
        </div>
        <div class="user-action">
           <div class="user-action-col">
               <span class="badge badge-wth badge-rounded" [ngClass]="{'invisible': conversation.notification_count == 0}">{{ conversation?.notification_count | maxCount: 10}}</span>
               <i (click)="onFavourite(conversation)" class="fa fa-star can-click" [ngClass]="{'fa-star-o': !conversation.favourite}"></i>
             </div>
        </div>
      </z-chat-share-user-avatar>
  </div>
</ng-template>

