<div class="wrapper">
    <w-header
        class="header"
        [user]="authService.user$ | async"
        [loggedIn]="authService.loggedIn$ | async"
        [hasSearch]="false"
    >
        <drive-shared-header class="header-nav-left"></drive-shared-header>
    </w-header>
    <div class="main main-note">
        <z-drive-shared-left-menu></z-drive-shared-left-menu>
        <router-outlet></router-outlet>
    </div>

    <drive-upload-dock></drive-upload-dock>
</div>

<lock-upload-modal></lock-upload-modal>
<!-- TODO: Move all modal to ModalMasterComponent -->
<z-drive-folder-edit-modal></z-drive-folder-edit-modal>

<wth-toast></wth-toast>
<p-toast
    styleClass="progress-toast"
    [style]="{marginBottom: '0', bottom: '0'}"
    position="bottom-right"
    key="progress"
></p-toast>
<wth-confirm></wth-confirm>
