<!--<form novalidate>-->
  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title"> Edit Note</h4>
    </modal-header>

    <modal-body>

      <div [froalaEditor]>Hello, Froala!</div>
    </modal-body>

    <modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" (click)="modal.close()">Cancel</button>
      <button type="button" class="btn btn-outline-primary btn-min pull-right">Done</button>
    </modal-footer>
  </modal>
<!--</form>-->
