<!--<form novalidate>-->
  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title"> Edit Note</h4>
    </modal-header>

    <modal-body>

      <!--<quill-editor>-->
        <!--<div quill-editor-toolbar>-->
          <!--<span class="ql-formats">-->
            <!--<button class="ql-bold" [title]="'Bold'"></button>-->
          <!--</span>-->
          <!--<span class="ql-formats">-->
            <!--<select class="ql-align" [title]="'Aligment'">-->
              <!--<option selected></option>-->
              <!--<option value="center"></option>-->
              <!--<option value="right"></option>-->
              <!--<option value="justify"></option>-->
            <!--</select>-->
            <!--<select class="ql-align" [title]="'Aligment2'">-->
              <!--<option selected></option>-->
              <!--<option value="center"></option>-->
              <!--<option value="right"></option>-->
              <!--<option value="justify"></option>-->
            <!--</select>-->
          <!--</span>-->
        <!--</div>-->
      <!--</quill-editor>-->

    </modal-body>

    <modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" (click)="modal.close()">Cancel</button>
      <button type="button" class="btn btn-outline-primary btn-min pull-right">Done</button>
    </modal-footer>
  </modal>
<!--</form>-->
