<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <account-menu></account-menu>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{PanelTitle}}</h3>
                </div>
                <ul class="list-group services-list-wrap">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">DNS</h4>
                                <p>Domain Name Servers (DNS) are the Internet's equivalent of a phone book. They
                                    maintain a directory of domain names and translate them to Internet Protocol
                                    (IP) addresses. This is necessary because, although domain names are easy for
                                    people to remember, computers or machines, access websites based on IP
                                    addresses.</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default" disabled="disabled">Installed</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">VPN</h4>
                                <p>Virtual Private Network(VPN) is a method used to add security and privacy to
                                    private
                                    and public networks, like WiFi Hotspots and the Internet. VPNs are most often
                                    used by corporations to protect sensitive data.</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">eFax</h4>
                                <p>eFax allows you to send and receive faxes using the Internet rather than a phone
                                    line.</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">WTH Mindmap</h4>
                                <p>Mind-mapping software are used to create diagrams of relationships between concepts,
                                    ideas or other pieces of information.</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">WTH Gadgets</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis explicabo,
                                    impedit incidunt natus nemo perspiciatis rem sint veniam.</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">WTH Addons - outlook</h4>
                                <p>Emojies, Auto BCC, Auto Reply HTML, Custom Signature, Reply Schedule, Send Large
                                    File, ...</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">WTH Charts</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">WTH Office</h4>
                                <p>Document, Spreadsheets, Slide show</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">WTH Wifi Tools</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolores
                                    explicabo, facilis maiores modi nesciunt vitae?</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">WTH Chat</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolores
                                    explicabo, facilis maiores modi nesciunt vitae?</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">WTH Contacts</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda dicta
                                    dolor error facere fugit illo ipsa nisi obcaecati omnis?</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img width="50" class="media-object" src="/app/assets/images/logo.png" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">WTH Calendar</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus ad autem
                                    consectetur dicta dolore error explicabo facere id iste</p>
                            </div>
                            <div class="media-right">
                                <button class="btn btn-default">Install</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>