<div class="nav-tabs-wrap nav-tabs-wrap-search">
  <ul class="nav nav-tabs" role="tablist" [routerLinkActive]="['active']">
    <li [routerLink]="['/search/all']"
        [queryParams]="{q:params}"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">
      <a href="javascript:;">All</a>
    </li>
    <li [routerLink]="['/search/member']"
        [queryParams]="{q:params}"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">
      <a href="javascript:;">Members</a>
    </li>
    <li [routerLink]="['/search/community']"
        [queryParams]="{q:params}"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">
      <a href="javascript:;">Communities</a>
    </li>
    <li [routerLink]="['/search/post']"
        [queryParams]="{q:params}"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">
      <a href="javascript:;">Post</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
