<style>
  .last li {
    border-bottom: none
  }
</style>
<div class="page-body-content-in zone-social">
  <div class="zone-social-in" *ngIf="result && groups">
    <div class="z-social-box" *ngFor="let group of groups">
      <div class="z-social-box-header">
        <h4>
          {{group | titleCase}}
        </h4>
      </div>
      <h3 *ngIf="result[group] && result[group].length == 0" class="text-fade">
        There is no result
      </h3>
      <div class="z-social-post" *ngFor="let item of result[group]; let last = last" [class.last]="last">
        <ul class="list-unstyled social-list-user">
          <li>
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="[item.link]">
                    <img [src]="item.profile_image" style="width: 33px">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="[item.link]">{{item.name}}</a>
                </h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
