<div
  class="page-body-content gray-light"
  lockYOffset="10"
  observeAttributes="true"
  infinite-scroll
  [scrollWindow]="false"
  (scrolled)="onLoadMore()">
  <div class="page-body-content-in zone-social">
    <div class="zone-social-in" *ngIf="result">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{group | titleCase}}</h3>
        </div>

        <z-social-share-profile-list [data]="result" [type]="group"></z-social-share-profile-list>

        <so-post-list *ngIf="group == 'post'" #posts [items]="result" [type]="'search'"></so-post-list>
      </div>
    </div>
    <div *ngIf="group == 'post'" class="zone-social-sidebar">
      <z-social-post-by></z-social-post-by>
      <z-social-post-date></z-social-post-date>
    </div>
  </div>
</div>
