<a [routerLink]="['/']" class="navbar-brand" href="#">
  <img src="/assets/images/logo-zone-small.png" alt="WTHApps">
</a>

<div class="navbar-form navbar-left hidden-xs navbar-form-search">
  <div class="navbar-searchTop" (click)="clickedInside($event)">
    <textbox-search #textbox (onEnterEvent)="onEnter($event)" (onEscapeEvent)="onEscape($event)"
                    (onKeyUpEvent)="onKey($event)"
                    [placeholder]="'Search something'" [showSearchAdvanced]="false"
                    (onSearchAdvancedEvent)="onSearchAdvanced($event)">

      <div class="input-group-suggestions" *ngIf="show && !searchAdvanced">
        <div class="list-group">
          <a *ngFor="let s of suggestions" href="javascript:;" class="list-group-item" (click)="setText(data)">
            <span>
              <i *ngIf="s.object_type == 'folder'" class="fa fa-folder-o"></i>
              <i *ngIf="s.object_type == 'note'" class="fa fa-file"></i>
            </span>
            <span *ngIf="s.object_type == 'folder'" class="avatar-name-txt"> {{ s.name }} </span>
            <span *ngIf="s.object_type == 'note'" class="avatar-name-txt"> {{ s.title }} </span>
          </a>
        </div>
        <div class="list-group-footer">
          <a class="d-block" href="javascript:;" (click)="onEnter($event)">
            Show more result
          </a>
        </div>
      </div>

    </textbox-search>
  </div>
</div>
