<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'" (onDismiss)="dismiss($event)" style="z-index: 1111;">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title pull-left">Choose photo</h4>
  </bs-modal-header>
  <bs-modal-body>
    <h-file-select-list #photoList [showUpload]="true" [editCurrentMode]="editCurrentMode" (onFilesChanged)="chooseFiles($event)" (onEditCurrent)="onEditCurrentImage()"></h-file-select-list>
  </bs-modal-body>
  <bs-modal-footer>
    <span class="modal-title pull-left">
      {{ photoList.selectedItems.length }} photo<span *ngIf="photoList.selectedItems.length > 1">s</span> selected
    </span>

    <button type="button" class="btn btn-outline-primary btn-min"
            (click)="next($event)" [disabled]="photoList.selectedItems.length <= 0">{{ action }}
    </button>
  </bs-modal-footer>
</bs-modal>
