<div class="panel panel-default">
  <div class="panel-body">
    <div class="z-social-media">
      <div class="z-social-media-left">
        <div class="avatar-xs">
          <img [src]="(user$ | async)?.profile_image" alt="">
        </div>
      </div>
      <div class="z-social-media-body">
        <div class="z-social-media-inputpost inputpost-new">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Share your ideas" (click)="postAddModal.open()">
            <span class="z-social-media-inputpost-icon">
            <button class="btn btn-outline-default" (click)="postAddModal.open({addingPhotos: true})"
                    pTooltip="{{ tooltip.addPhoto }}"
                    tooltipPosition="top">
              <i class="fa fa-camera"></i>
            </button>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<so-post-edit #postAddModal (onEdited)="addedPost($event)"></so-post-edit>-->


