<modal #modal cssClass="modal-social modal-long" [animation]="false">
  <modal-body>
    <div class="z-social-media mb15">
      <div class="z-social-media-left">
        <div class="avatar-xs">
          <img [src]="(profile$ | async)?.profile_image" alt="">
        </div>
      </div>
      <div class="z-social-media-body">
        <div class="z-heading">
          <div class="z-name">
            {{ (profile$ | async)?.first_name }}
          </div>
          <div class="z-shared-with dropdown">
            <a href="return false;" class="dropdown-toggle" data-toggle="dropdown" style="text-transform: capitalize;"
               aria-haspopup="true" aria-expanded="true">
              <i class="fa" [ngClass]="privacyClassIcon(post)"></i> {{ privacyName(post) }} </a>
            <ul class="dropdown-menu">
              <li><a href="#" (click)="update({privacy: soPostPrivacy.public.data}, $event)">
                <i class="fa fa-globe"></i> Public</a></li>
              <li><a href="#" (click)="update({privacy: soPostPrivacy.friends.data}, $event)">
                <i class="fa fa-users"></i> Friends</a></li>
              <li><a href="#" (click)="update({privacy: soPostPrivacy.personal.data}, $event)"><i
                class="fa fa-lock"></i> Personal</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" (click)="customPrivacy(soPostPrivacy.customFriend.data, $event)">Share with Friends</a>
              </li>
              <li><a href="#"
                     (click)="customPrivacy(soPostPrivacy.customCommunity.data, $event)">Share in Communities</a></li>
            </ul>
          </div>
        </div>
        <div class="z-shared-info">
          <ul>
            <li class="z-time">
              Jul 16 2016
            </li>
            <li *ngIf="post.adult">
              Adult content
            </li>
            <li *ngIf="post.mute">
              Mute
            </li>
            <li *ngIf="post.disable_comment">
              Disable comment
            </li>
            <li *ngIf="post.disable_share">
              Disable share
            </li>
          </ul>
        </div>
      </div>
      <div class="z-social-media-right">
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true" pTooltip="{{ tooltip.moreAction }}" tooltipPosition="top">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" (click)="update({adult: !post.adult}, $event)">Adult content
              <i class="fa" [ngClass]="post.adult ? 'fa-check' : ''"></i></a></li>
            <li><a href="#" (click)="update({mute: !post.mute}, $event)">Mute
              <i class="fa" [ngClass]="post.mute ? 'fa-check' : ''"></i></a></li>
            <li role="separator" class="divider"></li>
            <li *ngIf="!post.disable_comment">
              <a href="#" (click)="update({disable_comment: true}, $event)">Disable comment</a></li>
            <li *ngIf="post.disable_comment">
              <a href="#" (click)="update({disable_comment: false}, $event)">Enable comment</a></li>
            <li *ngIf="!post.disable_share">
              <a href="#" (click)="update({disable_share: true}, $event)">Disable share</a></li>
            <li *ngIf="post.disable_share">
              <a href="#" (click)="update({disable_share: false}, $event)">Enable share</a></li>
          </ul>
        </div>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="done(form.value)" novalidate>
      <div class="row">
        <div class="col-xs-6 col-sm-12">
          <div class="form-group">
            <textarea class="form-control textarea-autoheight"
                      autofocus
                      textAreaAutoHeight
                      id="textarea-new-post"
                      placeholder="Share your ideas"
                      [formControl]="descCtrl"
            >
            </textarea>
          </div>

          <div class="form-group">
            <tag-input [maxItems]='100'
                       [(ngModel)]="post.tags"
                       (onRemove)="removeTag($event)"
                       (onAdd)="addTag($event)"
                       [formControl]="tagsCtrl">
              <!--TODO: -->
              <tag-input-dropdown [autocompleteItems]="tags">
              </tag-input-dropdown>
            </tag-input>
            <!--[autocompleteItems]="tags"-->
            <!--[autocomplete]="true"-->
            <!--[(ngModel)]="post.tags"-->

          </div>
          <div class="form-group">
            <div class="row-img row-img-10 grid">
              <div class="row-img-item" *ngFor="let f of files">
                <div class="photo-box">
                  <div class="photo-box-action">
                    <i class="fa fa-remove" (click)="cancelUploading(f)"></i>
                  </div>
                  <div class="photo-box-figure">
                    <figure class="img-center-dv photo-item-uploading loading">
                      <span class="photo-box-figure-in"></span>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="row-img-item" *ngFor="let p of post.photos">
                <div class="photo-box">
                  <div class="photo-box-action">
                    <i class="fa fa-remove" (click)="removePhoto(p,$event)"></i>
                  </div>
                  <div class="photo-box-figure">
                    <figure class="img-center-dv">
                      <span class="photo-box-figure-in">
                        <img class="img-center" draggable="false" [src]="p['thumbnail_url']"
                             [alt]="(profile$ | async).profile_image">
                      </span>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="parent != null">
        Shared from <a [routerLink]="['/profile/', parent.owner.uuid, 'about']">{{ parent.owner.name }}</a>
      </div>
      <div class="clearfix text-right">
        <button type="button" class="btn btn-default pull-left" *ngIf="parent == null" (click)="addMorePhoto($event)">
          <i class="fa fa-camera"></i> Add Photo
        </button>
        <button type="submit" class="btn btn-outline-primary btn-min"
                [disabled]="!((descCtrl.value.length > 0) || (post.photos.length > 0)) || (files.length > 0)">Done
        </button>
        <button type="button" class="btn btn-default btn-min" data-dismiss="modal" (click)="dismiss(true)">Cancel
        </button>
      </div>
    </form>
  </modal-body>
</modal>
<!--<post-photo-select #photoSelectModal-->
<!--(onNext)="next($event)"-->
<!--(onDismiss)="dismiss($event)"-->
<!--(onClose)="closeSelectPhoto($event)"-->
<!--(onUpload)="upload($event)"></post-photo-select>-->

<!--<post-privacy-custom #privacyCustomModal (onSelected)="selectedItems($event)"></post-privacy-custom>-->
<entity-select #privacyCustomModal type='custom_friend' (onSelected)="selectedItems($event)"></entity-select>

