.wth-fa-remove {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 11;
  cursor: pointer;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #2996cc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #FFF;
  color: #ffffff;
  line-height: 22px;
}

.img-center-dv {
  position: relative;
}

.img-center-dv.loading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-image: url('assets/images/icons/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
}
