<div class="container">
  <h1 class="text-centered">Contact us</h1>
  <p class="text-centered">How can we help you?</p>
  <div class="half-page">
    <section>
      <div>
        <h4 class="mt0">Need help with WTHApps?</h4>
        <p>Fill the form below with your question or comment to our team.</p>
      </div>
      <div>
        <h4 class="mt0">Help us provide you with a faster answer</h4>
        <ul>
          <li>If you have an account, mention the account email or use the same email for you account.</li>
          <li>Provide information about the product you have problems with, such as DNS, eFax, VPN or Addons.</li>
        </ul>
      </div>
      <div class="narrow">
        <form [ngFormModel]="contactForm" (ngSubmit)="submit()" novalidate>

          <!-- Email -->
          <div class="form-group"
               [ngClass]="{ 'has-error' : !contactForm.find('email').valid && contactForm.find('email').touched }">
            <label class="control-label" for="email">Email Address</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Email Address"
                   value="{{Contact.email}}"
                   [ngFormControl]="contactForm.find('email')">
            <div *ngIf="!contactForm.find('email').valid && contactForm.find('email').touched ">
              <span class="help-block" *ngIf="contactForm.hasError('required', 'email')">An valid email address is required.</span>
              <span class="help-block" *ngIf="!contactForm.hasError('required', 'email') && contactForm.hasError('emailFormat', 'email')">The email is invalid. eg. example@wthapps.com</span>
              <span class="help-block" *ngIf="contactForm.hasError('duplicated', 'email')">The email has been registered already</span>
            </div>
          </div>
          <!-- End Email -->

          <!-- Subject -->
          <div class="form-group"
            [ngClass]="{ 'has-error' : !contactForm.find('subject').valid && contactForm.find('subject').touched }">
            <label class="control-label" for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
              [ngFormControl]="contactForm.find('subject')"/>
            <div *ngIf="!contactForm.find('subject').valid && contactForm.find('subject').touched">
              <span class="help-block" *ngIf="contactForm.hasError('required','subject')">A subject is required.</span>
              <span class="help-block" *ngIf="contactForm.hasError('required','subject') == false && contactForm.hasError('inputSize', 'subject') == true">A subject must be greater than 20 characters.</span>
            </div>
          </div>
          <!-- End Subject -->

          <!-- Body -->
          <div class="form-group"
               [ngClass]="{ 'has-error' : contactForm.find('body').touched && !contactForm.find('body').valid }">
            <label class="control-label" for="body">Body</label>
            <textarea name="body" id="body" class="form-control" rows="6" placeholder="How can we help you?"
                      [ngFormControl]="contactForm.find('body')"></textarea>
            <div *ngIf="contactForm.find('body').touched && !contactForm.find('body').valid ">
              <span class="help-block" *ngIf="contactForm.hasError('required', 'body') == true">A body is required.</span>
              <span class="help-block" *ngIf="contactForm.hasError('required', 'body') == false && contactForm.hasError('inputSize', 'body') == true">A body must be greater than 20 characters.</span>
            </div>
          </div>
          <!-- End Body -->

          <!-- Submit -->
          <div class="form-group">
            <button [disabled]="!contactForm.valid" type="submit" class="btn btn-danger">Send</button>
          </div>
          <!-- End Submit -->
        </form>
      </div>
    </section>
    <section>
      <h4 class="mt0">Knowledgebase</h4>
      <p>Before contacing us, please take the time to check out our <a href="#">Knowledge base</a>. Maybe your question is already answered there. If you cannot find the answer you're looking for, please email <a href="mailto:support@wthapps.com">support@wthapps.com</a></p>
      <hr>
      <h4 class="mt0">We Socialize!</h4>
      <p>Make sure you follow us on these social media platforms:</p>
      <div class="social">
        <div class="hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3b">
          <a href="https://www.facebook.com/" target="_blank" class="hi-icon wthico-facebook-f"></a>
          <a href="https://twitter.com/" target="_blank" class="hi-icon wthico-twitter"></a>
          <a href="https://plus.google.com/" target="_blank" class="hi-icon wthico-google-plus"></a>
        </div>
      </div>
    </section>
  </div>
</div>
