.page-title {
  background: url(../assets/images/page-title-bg.png);
  position: relative;
  padding: 30px;
  margin-top: -20px;
}

.social a {
  margin-right: 10px;
}

.mtn {
  margin-top: 0 !important;
}

.se-section {
  padding: 90px 0;
  border-bottom: 1px solid #ececec;
}

.underline {
  position: relative;
  padding-bottom: .667em;
  margin-bottom: 1.5em;
}

.underline:after {
  content: "";
  width: 32px;
  height: 1px;
  background: #c2c2c2;
  position: absolute;
  bottom: 0;
  left: 0;
}

ul.highlights {
  padding-left: 20px;
}

.gray-section {
  background: #f9f9f9;
}

.counter-box .count-icon {
  float: left;
  font-size: 4.236em;
  color: #787878;
  margin-right: 10px;
}

.counter-box .count-info {
  float: left;
  text-align: center;
}

.counter-box .count-info h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.gray-section p {
  margin-bottom: 0;
  color: #787878;
}

address, blockquote, dl, ol, p, pre, table, ul {
  margin-bottom: 1.75em;
}

.primary-bg {
  background: #4aa3df;
  color: #f9f9f9;
}

.btn.btn-rounded {
  border-radius: 30px;
}

.btn.se-btn-black {
  background: #2b2c2d;
  color: #fff;
}

h2 {
  font-size: 29.4212541899px;
  margin-top: 1.1152651681em;
  line-height: 1.3383182017em;
  margin-bottom: .2457971048em;
}

h4 {
  font-size: 21.0075894107px;
  margin-top: 1.5619355157em;
  line-height: 1.8743226189em;
  margin-bottom: .3569977099em;
}

h6 {
  font-size: 15px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: .4739583333em;
}

.main {
  padding-bottom: 100px;
}

a:hover {
  text-decoration: none;
}

.se-section-end {
  margin-bottom: 100px;
}

.main-select .glyphicon {
  font-size: 50px;
}

.main-select .content-item p {
  color: #818181;
  font-size: 16px;
}

.content-item {
  padding: 1.875rem .9375rem;
  border: 1px solid #e6e6e6;
  margin-bottom: 3.125rem;
  border-radius: .4375rem;
  overflow: hidden;
  min-height: 300px;
}

.content-item h3 {
  margin-bottom: 1.25rem;
  color: #4c4c4c;
  font-size: 27px;
}

.section-guide .content-item a {
  padding-top: 2px;
  padding-bottom: 2px;
  display: block;
  color: #818181;
  margin-bottom: .3125rem;
}
