<div class="nav-menuleft">
  <aside class="aside-left">
    <div class="navgroup">
      <h5 class="aside-title">Personal settings</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/profile']" href="#">Account</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/password']" href="#">Change password</a>
        </li>
      </ul>
    </div>

    <div class="navgroup">
      <h5 class="aside-title">Manage users</h5>
      <ul class="navgroup-menu">
        <!-- temp disabled
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/admin/accounts']">Manage accounts</a>
        </li>
        -->
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/admin/invitations']">Invitation</a>
        </li>
      </ul>
    </div>

    <div class="navgroup">
      <h5 class="aside-title">Payment</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/payment/subscription']">Subscription</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/payment/billings']">Billing history</a>
        </li>
      </ul>
    </div>

  </aside>
</div>
