<div class="nav-menuleft">
  <aside class="aside-left">
    <div class="navgroup">
      <h5 class="aside-title">Settings</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/profile']">Profile</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/password']">Change password</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/preferences']">Preferences</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/delete-account']">Delete account</a>
        </li>

      </ul>
    </div>

    <div class="navgroup">
      <h5 class="aside-title">Administration</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/admin/accounts']">Accounts</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/admin/invitations']">Invitations</a>
        </li>
      </ul>
    </div>

    <div class="navgroup">
      <h5 class="aside-title">Subscription &amp; Billing</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/billing/subscription']">Current subscription</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/billing/subscription_history']">Subscription history</a>
        </li>
        <!--<li [routerLinkActive]="['active']">-->
          <!--<a [routerLink]="['/billing/plan']">Plan</a>-->
        <!--</li>-->
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/billing/payment_method']">Payment method</a>
        </li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/billing/history']">Billing History</a></li>
      </ul>
    </div>

  </aside>
</div>
