<div class="nav-menuleft">
  <aside class="aside-left">
    <div class="navgroup">
      <h5 class="aside-title">Personal settings</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/profile']" href="#">Private information</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/storage']" href="#">Manage storage</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/password']" href="#">Change password</a>
        </li>
        <!--<li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/preferences']" href="#">Preferences</a>
        </li>-->
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/settings/delete-account']" href="#">Delete account</a>
        </li>

      </ul>
    </div>

    <div class="navgroup">
      <h5 class="aside-title">Manage users</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/admin/accounts']">Manage accounts</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/admin/invitations']">Invitation</a>
        </li>
      </ul>
    </div>

    <div class="navgroup">
      <h5 class="aside-title">Subscription &amp; billings</h5>
      <ul class="navgroup-menu">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/billing/subscription']">Current subscription</a>
        </li>
        <!--<li [routerLinkActive]="['active']">-->
          <!--<a [routerLink]="['/billing/subscription_history']">Subscription history</a>-->
        <!--</li>-->
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/billing/plan']">Current plan</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/billing/payment_methods']">Payment method</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/billing/history']">Billing history</a>
        </li>
      </ul>
    </div>

  </aside>
</div>
