<div class="page-body-in">
  <div class="row-img" *ngIf="data" [ngClass]="{'list': (currentView=='list'), 'grid': (currentView=='grid')}">
    <z-media-share-sortbar [data]="data" (outEvent)="actionSortbar($event)"></z-media-share-sortbar>
    <z-media-album-item *ngFor="let item of data;" [data]="item" (outEvent)="actionItem($event)"></z-media-album-item>
  </div>

  <div class="text-center p20">
    <button class="btn btn-primary-inline" *ngIf="nextLink != null" type="button" (click)="onLoadMore($event)">Load
      more
    </button>
  </div>
</div>
