@import "../../../../assets/styles/global";

.chat-message-container {
  margin: 20px auto;
  width: 1000px;
  max-width: 100%;
  position: relative;
  background-color: #ffffff;
  border: 1px solid $line;
  border-radius: 5px;
  padding: 2px;

  .chat-message-action {
    position: absolute;
    top: 1px;
    right: 2px;

    .btn {

      &:hover,
      &:focus {
        background-color: #e6e5e5;
      }
    }

    .chat-message-action-send {

      &:hover,
      &:focus {
        color: $theme-color;
      }
    }
  }

  .mini-editor {
    margin-right: 120px;
    overflow: auto;
    max-height: 118px;
  }

  .ql-container.ql-snow {
    border-width: 0;
  }
}
