@import "../../../../assets/styles/global";

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
  }
}

.wth-emoji {
  cursor: pointer;
}

.chat-message-container {
  position: fixed;
  bottom: 0;
  left: $main-page-left;
  right: 0;
  z-index: 9;
  padding: 15px 30px;
  background-color: #ffffff;
  border-top: 1px solid $line;
  form {
    max-width: 750px;
    margin: auto;
  }
}

.chat-message-action {
  @include flexbox;
  margin-top: 5px;
  .chat-message-action-right {
    @include flex(1);
    text-align: right;
  }
}
