<ng-template #objectActionsTemplate>
  <ul class="page-body-control-menu" *ngIf="hasSelectedObjects" [ngClass]="{'text-disable': !hasSelectedObjects}" [class.disabled]="!hasSelectedObjects">
    <ng-template ngFor let-action [ngForOf]="menuActions | mapToIterable">
      <li *ngIf="!action.val.inDropDown && action.val.active" class="{{action.val.liclass}}">
        <button [disabled]="!action.val.active" class="{{action.val.class}}" draggable="false" pTooltip="{{action.val.tooltip}}"
          tooltipPosition="{{action.val.tooltipPosition}}" href="javascript:void(0);" (click)="action.val.action()">
          <i class="{{action.val.iconClass}}"></i>
        </button>
      </li>
    </ng-template>

    <li class="dropdown action" [ngClass]="{'text-disable': selectedObjects.length != 1}" [class.disabled]="selectedObjects.length != 1">
      <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" pTooltip="{{ tooltip.moreAction}}"
        tooltipPosition="bottom">
        <i class="fa fa-ellipsis-v"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
        <ng-template ngFor let-action [ngForOf]="menuActions | mapToIterable">
          <li *ngIf="action.val.inDropDown && action.val.active" class="{{action.val.liclass}}">
            <a *ngIf="action.val.active" class="{{action.val.class}}" pTooltip="{{action.val.tooltip}}" tooltipPosition="{{action.val.tooltipPosition}}"
              href="javascript:void(0);" (click)="action.val.action()">
              <i class="{{action.val.iconClass}}"></i> {{action.val.title}}
            </a>
          </li>
        </ng-template>
      </ul>
    </li>
  </ul>
</ng-template>

<w-toolbar #toolbar [viewMode]="viewMode" [selectedObjects]="selectedObjects" [objectActionsTemplate]="objectActionsTemplate"
  (event)="doToolbarEvent($event)">
</w-toolbar>

<w-grid-list #gridlist [sorting]="sorting" [view]="viewMode" [objects]="objects" (event)="doListEvent($event)" (selectedObjectsChanged)="selectedObjectsChanged($event)">

  <!--loading icon-->
  <div class="page-body-content has-page-body-control gray-light" *ngIf="loading">
    <box-loading></box-loading>
  </div>

  <!--no data region-->

  <!-- <div class="zone-no-photo text-center" *ngIf="objects && objects.length == 0 && !loading">
    <div>
      <h2>
        <i class="icon-album"></i>
      </h2>
      <h3>There are no albums!</h3>
      <p>
        <button class="btn btn-outline-primary" (click)="doEvent({action: 'openModal', payload: {modalName: 'createAlbumModal'}})">
          <i class="fa fa-plus-circle"></i> Create an album
        </button>
      </p>
    </div>
  </div> -->

</w-grid-list>
<box-no-data *ngIf="objects && objects.length == 0 && !loading" [title]="titleNoData" [icon]="iconNoData || 'fa fa-video-camera'"
  [subTitle]="subTitleNoData" style="margin-top: 50px; display: block;">
  <button *ngIf="actionNoData" class="btn btn-outline-primary" (click)="doEvent({action: 'noData'})">
    <i class="fa fa-plus-circle"></i> {{actionNoData}}
  </button>
</box-no-data>


<ng-template #modalContainer></ng-template>
