<div id="photo-box-edit" class="photo-box-detail active">
  <div *ngIf="data" class="photo-detail-top photo-detail-top-edit">
    <ul class="action navbar-left">
      <li>
        <a href="javascript:;" (click)="onBack()"><i class="fa fa-arrow-left"></i></a>
      </li>
    </ul>

    <ul class="action action-text navbar-right ml10">
      <li>
        <a (click)="cropperReset()" href="javascript:;" class="mr20">Reset</a>
      </li>
      <li *ngIf="!hasSave">
        <a (click)="cropperDone()" href="javascript:;">Done</a>
      </li>
      <li *ngIf="hasSave">
        <a (click)="cropperSave()" href="javascript:;">Save</a>
      </li>
    </ul>
    <ul class="action navbar-right">
      <li>
        <a (click)="cropperCrop()" href="javascript:;"><i class="fa fa-crop"></i></a>
      </li>
      <li>
        <a (click)="cropperZoomIn()" href="javascript:;"><i class="fa fa-search-plus"></i></a>
      </li>
      <li>
        <a (click)="cropperZoomOut()" href="javascript:;"><i class="fa fa-search-minus"></i></a>
      </li>
      <li>
        <a (click)="cropperRotateLeft()" href="javascript:;"><i class="fa fa-rotate-left"></i></a>
      </li>
      <li>
        <a (click)="cropperRotateRigth()" href="javascript:;"><i class="fa fa-rotate-right"></i></a>
      </li>
    </ul>

    <div class="name"><i class="fa fa-picture-o"></i> {{data.name}}</div>
  </div>

  <div class="photo-detail-content">
  <!--<div *ngIf="data" class="photo-detail-content">-->
    <div class="photo-detail-img">
      <div [ngClass]="{'img-loading': loadingImg}" id="cropper-wrap">
        <img *ngIf="imgUrl" id="photo-detail-img" [src]="imgUrl" alt="" (load)="showLoading($event)">
      </div>
    </div>
  </div>
</div>
