<div class="page-body-in">

  <section>
    <div class="page-body-in-title">
      Album
    </div>
    <template [ngIf]="isGridView">
      <page-zone-album-gridview [data]="items.albums" (imgsSelected)="onImgsSelected($event)"></page-zone-album-gridview>
    </template>
    <template [ngIf]="isListView">
      <page-zone-album-listview [data]="items.albums" (imgsSelected)="onImgsSelected($event)"></page-zone-album-listview>
    </template>
  </section>

  <section>
    <div class="page-body-in-title">
      Photo
    </div>
    <template [ngIf]="isGridView">
      <page-zone-gridview
        [category]="'photos'"
        [items]="items.photos"
        (imgsSelected)="onImgsSelected($event)"
        (preview)="onPreview($event)"
        (loadMore)="onLoadMore($event)"
        (outEvent)="onGridEvent($event)"
        [resetSelected]="resetSelected">
      </page-zone-gridview>

    </template>
    <template [ngIf]="isListView">
      <page-zone-listview
        (imgDetail)="onClick($event)"
        [data]="items.photos"
        (imgsSelected)="onImgsSelected($event)">
      </page-zone-listview>
    </template>

  </section>

  <div id="photodata-loading" style="position: relative;height: 50px;">
  </div>
</div>
