<div *ngIf="photo" class="image-viewer-wrap" [ngClass]="{'active-info': showDetail}">
  <div class="image-viewer-header">
    <div class="image-viewer-header-left">
      <button (click)="goBack()" class="btn btn-default" type="button">
        <i class="fa fa-arrow-left"></i>
      </button>
      <span class="divider"></span>
      <span class="btn btn-text hidden-xs">
        <i class="fa fa-picture-o"></i> {{ photo?.name }}.{{ photo?.extension }}</span>
    </div>
    <div class="image-viewer-header-right">
      <ng-container *ngFor="let menu of menus">
        <button *ngIf="!menu?.dropdown && menu.display" (click)="doAction({action: menu?.action, params: menu?.params})" pTooltip="{{ menu.toolTip }}"
          tooltipPosition="bottom" class="btn btn-default" type="button">
          <i *ngIf="menu?.action=='favourite'" class="fa" [ngClass]="!photo.favorite ? 'fa-star-o': 'fa-star'"></i>
          <i *ngIf="menu?.action!='favourite'" [ngClass]="menu.iconClass"></i>
        </button>

        <div *ngIf="menu?.dropdown" class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i [ngClass]="menu.iconClass"></i>
          </button>
          <ul *ngIf="menu?.parent" class="dropdown-menu dropdown-menu-right">
            <li *ngFor="let subMenu of menu.menus">
              <a *ngIf="subMenu.display" href="javascript:;" (click)="doAction({action: subMenu?.action, params: subMenu?.params})">
                <i [ngClass]="subMenu.iconClass"></i> {{ subMenu.text }}
              </a>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="image-viewer-content">
    <ng-container *ngIf="loadingImg">
      <box-loading></box-loading>
    </ng-container>

    <div class="image-viewer-content-fixed">
      <img id="image-viewer" [src]="photo.url" (load)="onStart($event)" alt="">
    </div>

    <div class="image-viewer-content-nav">
      <a *ngIf="hasPreviousItem" draggable="false" href="javascript:void(0);" (click)="onMove(false)" pTooltip="{{ tooltip.previous }}"
        tooltipPosition="bottom">
        <i class="fa fa-angle-left"></i>
      </a>
      <a *ngIf="hasNextItem" draggable="false" href="javascript:void(0);" (click)="onMove()" pTooltip="{{ tooltip.next }}" tooltipPosition="bottom">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>

    <div class="image-viewer-content-action">
      <a draggable="false" href="javascript:;" (click)="onZoomOut()" pTooltip="{{ tooltip.zoomOut }}" tooltipPosition="top">
        <i class="fa fa-minus"></i>
      </a>
      <a draggable="false" href="javascript:;" (click)="onRefresh()" pTooltip="{{ tooltip.resetZoom }}" tooltipPosition="top">
        <i class="fa fa-refresh"></i>
      </a>
      <a draggable="false" href="javascript:;" (click)="onZoomIn()" pTooltip="{{ tooltip.zoomIn }}" tooltipPosition="top">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="image-viewer-info">
    <h3>Information
      <a href="javascript:;" draggable="false" (click)="doAction({action: 'viewInfo'})">
        <i class="fa fa-times"></i>
      </a>
    </h3>
    <div class="photo-detail-info-title">
      <h4>
        <i class="fa fa-file-text-o"></i> Details</h4>
      <button class="btn btn-default" (click)="doAction({action: 'openModal', params: {modalName: 'editInfoModal'}, data: photo})">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
    <dl>
      <dt>Name</dt>
      <dd>{{ photo.name }}</dd>
      <dt>Description</dt>
      <dd>{{ photo.description }}</dd>
      <dt>Type</dt>
      <dd>{{ photo.extension }}</dd>
      <dt>Size</dt>
      <dd>{{ photo.size | bytes:3 }}</dd>
      <dt>Dimensions</dt>
      <dd>{{ photo.dimensions }}</dd>
      <dt>Uploaded</dt>
      <dd>{{ photo.created_at | timeFormat }}</dd>
    </dl>
    <hr/>

    <div class="photo-detail-info-title">
      <h4>
        <i class="fa fa-tag"></i> Tag </h4>
      <button class="btn btn-default" (click)="doAction({action: 'openModal', params: {modalName: 'taggingModal' }})">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
    <div class="tags-text">
      <span *ngFor="let tag of photo.json_tags">{{ tag.name }}</span>
    </div>

    <hr>
    <dl>

      <dt>
        <h4>
          <i class="wthico-album"></i> Album</h4>
      </dt>
      <dd>
        <div>

          <ul class="list-unstyled albums">
            <li *ngFor="let album of objects">
              <div class="album-card">
                <div class="album-card-image" (click)="viewAlbumDetails(album)">
                  <img [src]="album.thumbnail_url" alt="{{ album.name }}" title="{{ album.name }}">
                </div>
                <div class="album-card-content">
                  <div class="album-card-content-name" (click)="viewAlbumDetails(album)">
                    <span> {{ album.name }} </span>
                  </div>
                  <div class="album-card-content-created-date">
                    <span> {{ album.created_at | date: 'MMM dd, yyyy'}} </span>
                    <i *ngIf="album.object_type=='sharing'" class="fw fw-shared-with-me"></i>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div *ngIf="showMore">
            <a href="javascript:void(0);" (click)="loadMoreAlbums(index)">more</a>
          </div>
        </div>
      </dd>
    </dl>
  </div>
</div>

<ng-template #modalContainer></ng-template>

<ng-container *ngIf="photo && hasEditPhoto">
  <app-image-cropper [photo]="photo.url" (onCompleteMethod)="doAction($event)"></app-image-cropper>
</ng-container>
