<div *ngIf="photo" class="image-viewer-wrap" [ngClass]="{'active-info': showDetail}">
  <div class="image-viewer-header">
    <div class="image-viewer-header-left">
      <button (click)="goBack()" class="btn btn-default" type="button">
        <i class="fa fa-arrow-left"></i>
      </button>
      <span class="divider"></span>
      <span class="btn btn-text hidden-xs"><i class="fa fa-picture-o"></i> {{ photo?.name }}.{{ photo?.extension }}</span>
    </div>
    <div class="image-viewer-header-right">
      <ng-container *ngFor="let menu of menus">
        <button *ngIf="!menu?.dropdown && menu.display" (click)="doAction({action: menu?.action, params: menu?.params})"
                pTooltip="{{ menu.toolTip }}"
                tooltipPosition="bottom" class="btn btn-default" type="button">
          <i *ngIf="menu?.action=='favourite'" class="fa" [ngClass]="!photo.favorite ? 'fa-star-o': 'fa-star'"></i>
          <i *ngIf="menu?.action!='favourite'" [ngClass]="menu.iconClass"></i>
        </button>

        <div *ngIf="menu?.dropdown" class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <i [ngClass]="menu.iconClass"></i>
          </button>
          <ul *ngIf="menu?.parent" class="dropdown-menu dropdown-menu-right">
            <li *ngFor="let subMenu of menu.menus">
              <a *ngIf="subMenu.display" href="javascript:;" (click)="doAction({action: subMenu?.action, params: subMenu?.params})">
                <i [ngClass]="subMenu.iconClass"></i> {{ subMenu.text }}
              </a>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="visible-xs-block text-center p10 text-white">
    <i class="fa fa-picture-o"></i> {{ photo?.name }}.{{ photo?.extension }}
  </div>

  <div class="image-viewer-content">
    <ng-container *ngIf="loadingImg">
      <box-loading></box-loading>
    </ng-container>

    <div class="image-viewer-content-fixed">
      <img id="image-viewer" [src]="photo.url" (load)="onStart($event)" alt="">
    </div>

    <div class="image-viewer-content-nav">
      <a *ngIf="hasPreviousItem" draggable="false" href="javascript:void(0);" (click)="onMove(false)"
         pTooltip="{{ tooltip.previous }}" tooltipPosition="bottom">
        <i class="fa fa-angle-left"></i>
      </a>
      <a *ngIf="hasNextItem" draggable="false" href="javascript:void(0);" (click)="onMove()"
         pTooltip="{{ tooltip.next }}" tooltipPosition="bottom">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>

    <div class="image-viewer-content-action">
      <a draggable="false" href="javascript:;" (click)="onZoomOut()"
         pTooltip="{{ tooltip.zoomOut }}" tooltipPosition="top"><i class="fa fa-minus"></i></a>
      <a draggable="false" href="javascript:;" (click)="onRefresh()"
         pTooltip="{{ tooltip.resetZoom }}" tooltipPosition="top"><i class="fa fa-refresh"></i></a>
      <a draggable="false" href="javascript:;" (click)="onZoomIn()"
         pTooltip="{{ tooltip.zoomIn }}" tooltipPosition="top"><i class="fa fa-plus"></i></a>
    </div>
  </div>
  <div class="image-viewer-info">
    <h3>Information <a href="javascript:;" draggable="false" (click)="doAction({action: 'viewInfo'})"><i
      class="fa fa-times"></i></a></h3>
    <div class="photo-detail-info-title">
      <h4><i class="fa fa-file-text-o"></i> Details</h4>
      <a href="javascript:;"
         draggable="false"
         (click)="doAction({action: 'openModal', params: {modalName: 'editInfoModal'}, data: photo})">
        Edit
      </a>
    </div>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ photo.name }}</dd>
      <dt>Description</dt>
      <dd>{{ photo.description }}</dd>
      <dt>Type</dt>
      <dd>{{ photo.extension }}</dd>
      <dt>Size</dt>
      <dd>{{ photo.size | bytes:3 }}</dd>
      <dt>Dimensions</dt>
      <dd>{{ photo.dimensions }}</dd>
      <dt>Uploaded</dt>
      <dd>{{ photo.created_at | timeFormat }}</dd>
    </dl>
    <div class="photo-detail-info-title">
      <h4><i class="fa fa-tag"></i> Tag </h4>
      <a href="javascript:;" draggable="false"
         (click)="doAction({action: 'openModal', params: {modalName: 'taggingModal' }})">Edit</a>
    </div>
    <div class="tags-text">
      <span *ngFor="let tag of photo.json_tags">{{ tag.name }}</span>
    </div>


    <div class="photo-detail-info-title">
      <h4>Sharing</h4>
      <a href="javascript:;" draggable="false"
         (click)="doAction({action: 'openModal', params: {modalName: 'sharingModal' }})">Edit</a>
    </div>
    <dl>
      <dt>Owner</dt>
      <dd>
        <ul class="list-unstyled recipients">
          <li>
            <a [href]="profileUrl + photo?.owner?.uuid">
              <img width="24" [src]="photo.owner.profile_image" alt="{{ photo.owner?.name }}"
                   title="{{ photo.owner?.name }}"> {{ photo.owner?.name }}
            </a>
          </li>
        </ul>
      </dd>

      <dt>Shared with</dt>
      <dd>
        <ul class="list-unstyled recipients" *ngIf="photo.json_shares.length > 0">
          <li *ngFor="let recipient of photo?.json_shares">
            <a [href]="profileUrl + recipient?.uuid">
              <img width="24" [src]="recipient?.profile_image" title="{{ recipient?.name }}">
              {{ recipient.name }}
            </a>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<ng-template #modalContainer></ng-template>

<ng-container *ngIf="photo && hasEditPhoto">
  <app-image-cropper [photo]="photo.url" (onCompleteMethod)="doAction($event)"></app-image-cropper>
</ng-container>
