.page-body-control {
  background-color: #f6f6f6 !important;
  height: 120px !important;
  h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  & + .page-body-content {
    top: 120px;
  }
}
