@import "../../assets/styles/global";

.box-add-contact {
  background-color: #f6f6f6 !important;
  padding: 15px;
  @include box-shadow($box-shadow-bottom);
  h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
}
