<div class="media-page-detail-left">
  <z-contact-shared-toolbar>
    <div class="page-body-control-nav page-body-control-nav-right page-body-control-nav-action">
      <ul class="page-body-control-menu">

        <li>
          <a href="javascript:;" class="btn"><i class="fa fa-star-o"></i></a>
        </li>

        <li>
          <a href="javascript:;" class="btn" (click)="addTags($event)"><i class="fa fa-globe"></i></a>
        </li>

        <li>
          <a href="javascript:;" class="btn" (click)="addTags($event)"><i class="fa fa-comments-o"></i></a>
        </li>

        <li>
          <a href="javascript:;" class="btn" (click)="addTags($event)"><i class="fa fa-tags"></i></a>
        </li>

        <li class="dropdown action">
          <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right text-right">
            <li>
              <a href="javascript:;" (click)="onDeleteAll()"><i class="fa fa-trash"></i> Delete</a>
            </li>
            <li>
              <a href="javascript:;" (click)="addTags($event)"><i class="fa fa-ban"></i> Blacklist</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </z-contact-shared-toolbar>
  <div class="page-body-content has-page-body-control">
    <div class="page-body-content-in zone-social">
      <div class="zone-social-in">
        <partials-profile></partials-profile>
      </div>
    </div>
  </div>
</div>

<contact-add-label-modal #modal></contact-add-label-modal>



