<bs-modal #modal>
  <bs-modal-header [showDismiss]="true">
    <h4 *ngIf="permission == 'view'" class="modal-title">Name</h4>
    <h4 *ngIf="permission !== 'view'" class="modal-title">Rename</h4>
  </bs-modal-header>
  <bs-modal-body>
    <input *ngIf="permission !== 'view';else templateView"
           tabindex="1" autofocus
           [(ngModel)]="nameNote"
           type="text"
           class="form-control"
           placeholder="Title">
    <ng-template #templateView>
      <span>{{ name }}</span>
    </ng-template>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="submit" class="btn btn-outline-primary btn-min" (click)="onSave();modal.close()">Ok</button>
  </bs-modal-footer>
</bs-modal>
