<ng-template #objectActionsTemplate>
  <ul class="page-body-control-menu" *ngIf="hasSelectedObjects">
    <li>
      <a class="btn btn-default" href="javascript:void(0);" draggable="false" (click)="restore()" pTooltip="{{ tooltip.preview}}"
        tooltipPosition="bottom">
        <i class="fa fa-history"></i>
      </a>
    </li>
    <li>
      <a class="btn btn-default" href="javascript:void(0);" draggable="false" (click)="delete()" pTooltip="{{ tooltip.preview}}"
        tooltipPosition="bottom">
        <i class="fa fa-trash"></i>
      </a>
    </li>
  </ul>
</ng-template>
<ng-template #leftAddActionsTemplate>
  <div class="dropdown" style="display: inline;">
    <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" pTooltip="{{ tooltip.moreAction}}"
      tooltipPosition="bottom">
      <span> Trash</span>
      <span class="caret ml5"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a (click)="emptyTrash()" href="javascript:;" draggable="false">
          <i class="fa fa-trash"></i> Empty Trash
        </a>
      </li>
    </ul>
  </div>
</ng-template>
<w-toolbar #toolbar [viewMode]="viewMode" [selectedObjects]="selectedObjects" [objectActionsTemplate]="objectActionsTemplate"
  [leftAddActionsTemplate]="leftAddActionsTemplate" (event)="doToolbarEvent($event)">
</w-toolbar>

<w-grid-list #gridlist [sorting]="sorting" [view]="viewMode" [objects]="objects" (event)="doListEvent($event)"
  (selectedObjectsChanged)="selectedObjectsChanged($event)">
  <div footer-grid-list>
    <box-loading *ngIf="links?.next"></box-loading>
    <div class="text-fade text-center" *ngIf="endLoading"> <strong>{{objects.length}} files</strong></div>
  </div>
</w-grid-list>
<!--loading icon-->
<div class="page-body-content has-page-body-control gray-light" *ngIf="loading">
  <box-loading></box-loading>
</div>
<box-no-data *ngIf="objects && objects.length == 0" [title]="'There is no files in Trash!'" [icon]="'fa fa-trash'"
  style="margin-top: 50px; display: block;">
  <div>
    Move files you want to permanently delete to Trash.
  </div>
  <div>
    Click "Empty Trash" from the Trash's menu to permanently
  </div>
  <div>
    deleted these files
  </div>
</box-no-data>
<div #modalContainer></div>
