<!--<div *ngIf="active" class="navbar-form navbar-left">
  <div class="navbar-searchTop navbar-searchUser">
    <div class="input-group">
      <p-autoComplete [(ngModel)]="searchText"
                      (completeMethod)="getSuggestions($event)"
                      [minLength]="1"
                      placeholder=""
                      (keyup.enter)="onEnter()"
                      (keyup.esc)="onEscape()"
                      (onSelect)="onSelect($event)">
        <ng-template let-item pTemplate="item">
          <a class="can-click" [routerLink]="['/contacts', item.id]">
            <span class="avatar-xxs"><img [src]="item.profile_image" alt=""></span>
            {{ item.name }}
          </a>
        </ng-template>
      </p-autoComplete>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <i class="fa fa-search" aria-hidden="true" (click)="onEnter()"></i>
        </button>
      </span>
    </div>
  </div>

</div>-->


<div *ngIf="active" class="navbar-form navbar-left">
  <div class="navbar-searchTop">
    <textbox-search #textbox (onEnterEvent)="onEnter($event)" (onEscapeEvent)="onEscape($event)" (onKeyUpEvent)="onKey($event)"
                    [placeholder]="'Search something'" [showDropdown]="show">
      <ng-template [ngIf]="show">
        <div class="list-group">

          <a *ngFor="let data of suggestions" href="javascript:;" class="list-group-item" (click)="onNavigation(data)">
            <span class="avatar-xxs"><img [src]="data.profile_image" alt=""></span>
            <span class="avatar-name-txt">{{ data.name }}</span>
          </a>

        </div>
        <div class="list-group-footer">
          <div class="row row-10">
            <div class="col-md-12">
              <a href="javascript:;" class="btn btn-block btn-link-inline" (click)="onEnter($event)" > Show all result </a>
            </div>
          </div>
        </div>

      </ng-template>
    </textbox-search>
  </div>
</div>
