<form *ngIf="contactsItem.value">
  <modal #modal [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title"> <i class="fa fa-plus"></i> Add To Conversation</h4>
    </modal-header>
    <modal-body>
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="filter">
      </div>
      <div class="content-overflow" style="max-height: 300px;">
        <ul class="p-list-user p-list-border">
          <li *ngFor="let contact of contactsItem.value.data | chatGroupCouple | wthFilterBy:'display.name':filter">
            <div class="pull-right">
              <input class="new-contact" name="friend" type="checkbox" [(ngModel)]="contact.checked">
            </div>
            <z-chat-share-user-icon [image]="contact.display.image" [groupType]="contact.group_json.group_type" [userId]="contact.display.id"></z-chat-share-user-icon>
            <span>{{contact.display.name}}</span>
          </li>
        </ul>
        <div *ngIf="(contactsItem.value.data | chatGroupCouple | wthFilterBy:'display.name':filter | arrayLength) == 0" class="text-center">
          <p>There is no contact</p>
          <p>You can find more people through search</p>
          <button type="button" class="btn btn-default btn-min" data-dismiss="modal" (click)="search()"> <i class="fa fa-plus"></i> Add New Contact</button>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button type="submit" class="btn btn-wth-default btn-min mr10" (click)="add()">Done</button>
      <button type="button" class="btn btn-default btn-min" data-dismiss="modal">Cancel</button>
    </modal-footer>
  </modal>
</form>
