<form>
  <modal #modal [keyboard]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title"> Contact Request</h4>
    </modal-header>
    <modal-body *ngIf="contact" class="p-list-user p-list-outside">
      <z-chat-share-user-icon [image]="contact.profile_image" [groupType]="couple" [userId]="contact.id"></z-chat-share-user-icon>
      <span>{{contact.name}}</span>
      <p>Send contact message request to {{contact.name}}</p>
      <input type="text" [(ngModel)]="message" [ngModelOptions]="{standalone: true}">
    </modal-body>
    <modal-footer>
      <button type="submit" class="btn btn-wth-default btn-min mr10" (click)="send()">Send</button>
      <button type="button" class="btn btn-default btn-min" data-dismiss="modal">Cancel</button>
    </modal-footer>
  </modal>
</form>
