<div class="toast-upload-wrap" id="added-to-album-toast" *ngIf="isShow && data">
  <div class="toast-upload-item">
    <div class="toast-upload-header">
      <button class="toast-upload-close" type="button"><i class="fa fa-times" (click)="close()"></i></button>
      Added to Album
    </div>
    <div class="toast-upload-content">
      <div class="media">
        <div class="media-body">
          <p>{{data.photos.length}} items are added to {{data.album.name}}</p>
          <div class="text-right">
            <a [routerLink]="['/zone/picture/album', data.album.id]">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
