<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'" style="display: inline;">
  <bs-modal-header [showDismiss]="true">
    <h4 *ngIf="selectedAlbum.model == 'Media::Playlist'" class="modal-title">Edit Playlist</h4>
    <h4 *ngIf="selectedAlbum.model == 'Media::Album'" class="modal-title">Edit Album</h4>
  </bs-modal-header>
  <bs-modal-body>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
      <div class="form-group" [ngClass]="{'has-error': (!name.valid && name.touched)}">
        <label for="album-name">Name</label>
        <input [formControl]="name" type="text" id="album-name" class="form-control" placeholder="Untitled Album">
        <div *ngIf="!name.valid && name.touched">
          <span *ngIf="!name.valid && name.errors.required" class="help-block">Name is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="album-description">Description</label>
        <textarea id="album-description" class="form-control" [formControl]="description" rows="3"></textarea>
      </div>
      <hr>
      <div class="row-img grid" *ngIf="selectedPhotos">
        <!--<z-media-share-list [data]="selectedPhotos" [view]="'grid'"></z-media-share-list>-->
      </div>
      <hr>
      <div class="clearfix text-right">
        <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal" (click)="modal.close()">Cancel</button>
        <button [disabled]="!form.valid" type="submit" class="btn btn-outline-primary btn-min">Save</button>

      </div>
    </form>
  </bs-modal-body>
</bs-modal>
