<div class="page-body-content gray-light">
  <div class="page-body-content-in zone-social">
    <div id="communites-list" class="zone-social-container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <button type="button" (click)="onCreate()" class="btn btn-wth-default">
              <i class="fa fa-plus"></i> New Community
            </button>
          </div>
          <h3 class="panel-title">Communities You Manage</h3>
        </div>
        <div class="panel-body">
          <div *ngIf="myList.length==0" class="p40 text-center">
            <h3 class="text-fade m0">
              There is no Community you are managing
            </h3>
          </div>

          <template [ngIf]="myList.length>0">
            <z-social-share-profile-list
              [layout]="'row'"
              [class]="'col-xs-12 col-md-6 col-lg-4'"
              [data]="myList"
              [type]="'community'">
            </z-social-share-profile-list>
          </template>

        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your Communities</h3>
        </div>
        <div class="panel-body">
          <div *ngIf="list.length==0" class="p40 text-center">
            <h3 class="text-fade m0">
              There is no Your Community
            </h3>
          </div>

          <template [ngIf]="list.length>0">
            <z-social-share-profile-list
              [layout]="'row'"
              [class]="'col-xs-12 col-md-6 col-lg-4'"
              [data]="list"
              [type]="'community'">
            </z-social-share-profile-list>
          </template>
        </div>
      </div>
    </div>
  </div>

  <z-social-share-community-form-edit #modalEdit [action]="'create'" (setupDataUpdated)="onActionsCreate($event)">
  </z-social-share-community-form-edit>
  <wth-zone-report></wth-zone-report>
</div>
