<div class="page-body-control has-page-body-sidebar" *ngIf="item.value">
  <div class="media media-user-list">
    <div class="media-body" *ngIf="item.value">
      <z-chat-share-user [data]="item.value">
        <small *ngIf="item.value.group_json.member_count > 2" [attr.title]="item.value.group_json | chatGroupMembers"
               class="can-click" (click)="onShowMemberBar()">
          {{item.value.group_json.member_count}} people <i
          [ngClass]="{'fa-angle-right': !showMemberBar, 'fa-angle-down': showMemberBar}" class="fa"></i>
        </small>
      </z-chat-share-user>
    </div>
    <div class="media-right">
      <button *ngIf="item.value.group_json.group_type == 'multiple'" type="button" class="btn btn-default-inline"
              (click)="onAddMember()">
        <i class="fa fa-user-plus"></i>
      </button>
      <button type="button" class="btn btn-default-inline" (click)="onFavorite()">
        <i class="fa" [ngClass]="item.value.favourite? 'fa-star': 'fa-star-o'"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default-inline dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
          <!--<li><a href="#">View Photos</a></li>-->
          <!--<li><a href="#">Mark as Unread</a></li>-->
          <li><a href="javascript:;" (click)="sendContact()">Send Contact</a></li>
          <li role="separator" class="divider"></li>

          <!--show if current isn't one user-->

          <li><a href="javascript:;" (click)="onEditConversation()">Edit Conversation</a></li>
          <li *ngIf="item.value.group_json.group_type == 'multiple'"><a href="javascript:;"
                                                                        (click)="leaveConversation()">Leave Conversation</a></li>
          <!--show if current isn't one user-->

          <li><a href="javascript:;" (click)="onDeleteConversation()">Delete Conversation</a></li>

          <!--show if current is one user-->
          <!--<li role="separator" class="divider"></li>-->
          <li *ngIf="item.value.group_json.group_type == 'couple'"><a
            [routerLink]="[profileUrl, item.value.display.uuid]">View Profile</a></li>
          <!--<li><a href="#">View in Contact</a></li>-->
          <!--show if current is one user-->


          <li role="separator" class="divider"></li>
          <li *ngIf="item.value.notification"><a href="javascript:;" (click)="disableNotification()">Disable
            Notification</a></li>
          <li *ngIf="!item.value.notification"><a href="javascript:;" (click)="enableNotification()">Enable
            Notification</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
<template [ngIf]="item.value && showMemberBar">
  <div *ngIf="item.value.group_json.group_type == 'multiple'" class="page-body-control-sub has-page-body-sidebar">
    <div *ngFor="let user_in_group of item.value.group_json.users_json" class="dropdown">
      <button (click)="showDropdownMenu($event); checkSendMessage(user_in_group); checkBlacklist(user_in_group)" class="btn btn-default-inline dropdown-toggle" type="button"
              data-toggle="dropdown">
        <span *ngIf="inContact(user_in_group) && usersOnlineItem.value.indexOf(user_in_group.id) != -1" class="p-list-user-status online"></span>
        <span *ngIf="inContact(user_in_group) && usersOnlineItem.value.indexOf(user_in_group.id) == -1" class="p-list-user-status offline"></span>
        <span *ngIf="!inContact(user_in_group)" class="fa fa-question-circle-o" aria-hidden="true"></span>
        {{user_in_group.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-lg">
        <li *ngIf="showSendMessage"><a href="javascript:;" (click)="onSelect(user_in_group)">Send Message</a></li>
        <!--<li class="divider"></li>-->
        <li><a [routerLink]="[profileUrl, user_in_group.uuid]">View Profile</a></li>
        <li *ngIf="showBlacklist"><a href="javascript:;" (click)="onAddToBlackList(user_in_group)">Blacklist</a></li>
        <li *ngIf="item.value.role == 'admin'"><a href="javascript:;" (click)="onRemoveFromConversation(user_in_group)">Remove From Conversation</a></li>
      </ul>
    </div>
  </div>
</template>


<z-chat-share-edit-conversation #editConversation></z-chat-share-edit-conversation>
<z-chat-share-add-contact #addContact></z-chat-share-add-contact>
