<div class="page-body-control has-page-body-sidebar" *ngIf="item.value">
  <div class="p-list-user-item">
    <div class="pull-right">
      <button *ngIf="item.value.group_json.group_type == 'multiple'" type="button" class="btn btn-default-inline"
              (click)="onAddMember()">
        <i class="fa fa-user-plus"></i>
      </button>
      <button type="button" class="btn btn-default-inline" (click)="onFavorite()">
        <i class="fa" [ngClass]="item.value.favourite? 'fa-star': 'fa-star-o'"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default-inline dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <!--<li><a href="#">View Photos</a></li>-->
          <!--<li><a href="#">Mark as Unread</a></li>-->
          <!--<li role="separator" class="divider"></li>-->

          <!--show if current isn't one user-->

          <li><a href="javascript:;" (click)="onEditConversation()">Edit Conversation</a></li>
          <!--<li *ngIf="item.value.group_json.group_type == 'multiple'"><a href="javascript:;" (click)="leaveConversation()">Leave Conversation</a></li>-->
          <!--show if current isn't one user-->

          <!--<li><a href="#">Leave Conversation</a></li>-->
          <!--<li><a href="#">Delete Conversation</a></li>-->

          <!--show if current is one user-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li><a href="#">View Social Profile</a></li>-->
          <!--<li><a href="#">View in Contact</a></li>-->
          <!--show if current is one user-->

          <!--<li role="separator" class="divider"></li>-->

          <li *ngIf="item.value.notification"><a href="javascript:;" (click)="disableNotification()">Disable
            Notification</a></li>
          <li *ngIf="!item.value.notification"><a href="javascript:;" (click)="enableNotification()">Enable
            Notification</a></li>
          <li><a href="javascript:;" (click)="sendContact()">Send Contact</a></li>
        </ul>
      </div>
    </div>
    <div *ngIf="item.value">
      <z-chat-share-user-icon [image]="item.value.display.image" [groupType]="item.value.group_json.group_type"
                              [userId]="item.value.display.id"></z-chat-share-user-icon>
      <div class="p-list-user-namegroup">
        <span *ngIf="item.value.group_json.group_type == 'couple'">{{item.value.display.name}}</span>
        <span *ngIf="item.value.group_json.group_type == 'multiple'">{{item.value.group_json | chatGroupName:50}}</span>
        <small *ngIf="item.value.group_json.member_count > 2" [attr.title]="item.value.group_json | chatGroupMembers"
               class="can-click" (click)="onShowMemberBar()">
          {{item.value.group_json.member_count}} people
        </small>
      </div>
    </div>
  </div>
</div>
<template [ngIf]="item.value && showMemberBar">
  <div *ngIf="item.value.group_json.group_type == 'multiple'" class="page-body-control-sub has-page-body-sidebar">
    <div *ngFor="let user_in_group of item.value.group_json.users_json" class="dropdown">
      <button (click)="showDropdownMenu($event)" class="btn btn-sm btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown">
        <i class="online"></i> {{user_in_group.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-lg">
        <li><a href="#">Send Message</a></li>
        <li class="divider"></li>
        <li><a href="#">View Social Profile</a></li>
        <li><a href="#">Blacklist</a></li>
      </ul>
    </div>
  </div>
</template>


<z-chat-share-edit-conversation #editConversation></z-chat-share-edit-conversation>
<z-chat-share-add-contact #addContact></z-chat-share-add-contact>
