<div class="dashboard">
  <div class="container">
    <div class="dashboard-content">
      <div class="row">
        <div class="col-xs-6 col-lg-4">
          <a [href]="urls.chat">
            <i class="icon-zone-xl-chat"></i>
            <span>Chat</span>
          </a>
        </div>
        <div class="col-xs-6 col-lg-4">
          <a [href]="urls.contact">
            <i class="icon-zone-xl-contact"></i>
            <span>Contacts</span>
          </a>
        </div>
        <div class="col-xs-6 col-lg-4">
          <a [href]="urls.media">
            <i class="icon-zone-xl-media"></i>
            <span>Photos</span>
          </a>
        </div>
        <div class="col-xs-6 col-lg-4">
          <a [href]="urls.note">
            <i class="icon-zone-xl-note"></i>
            <span>Notes</span>
          </a>
        </div>
        <div class="col-xs-6 col-lg-4">
          <a [href]="urls.myAccount">
            <i class="icon-zone-xl-settings"></i>
            <span>Settings</span>
          </a>
        </div>
        <!--<div class="col-xs-6 col-lg-4">
          <a [href]="urls.myAccount + '/dashboard'">
            <i class="icon-zone-xl-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </div>-->
      </div>
    </div>
  </div>
</div>


