<div class="dashboard">
  <div>
    <div class="welcome-text">
      <h3>Welcome to WTH!Apps</h3>
      <p>Enjoy your digital life with all the conveniences</p>

    </div>
    <div class="w-apps-container">
      <div class="header-nav-apps">
        <ul class="flex-container nowrap">
          <li class="flex-item">
            <a [href]="urls.social">
              <i class="wthicon wthicon-social-lg"></i>
              <span>Social</span>
            </a>
          </li>
          <li class="flex-item">
            <a [href]="urls.chat">
              <i class="wthicon wthicon-chat-lg"></i>
              <span>Chat</span>
            </a>
          </li>
          <li class="flex-item">
            <a [href]="urls.media">
              <i class="wthicon wthicon-pictures-lg"></i>
              <span>Photos</span>
            </a>
          </li>
          <li class="flex-item">
            <a [href]="urls.contact">
              <i class="wthicon wthicon-contacts-lg"></i>
              <span>Contacts</span>
            </a>
          </li>
          <li class="flex-item">
            <a [href]="urls.note">
              <i class="wthicon wthicon-notes-lg"></i>
              <span>Notes</span>
            </a>
          </li>
          <li class="flex-item">
            <a [routerLink]="['/']">
              <i class="fa fa-cogs mt0 mb10"></i>
              <span>Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


