@import "../../assets/styles/global";

.dashboard-content {
  max-width: 600px;
  margin: 30px auto;
  a {
    color: $text-color;
    display: block;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    &:hover {
      background-color: #eee;
      text-decoration: none;
    }
    span {
      display: block;
      font-weight: bold;
      font-size: 18px;
      margin-top: 15px;
    }
  }
}
