<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <bs-modal-header [showDismiss]="false">
    <div class="modal-header-nav">
      <h4 class="modal-title">Edit private card</h4>
      <ul class="modal-header-navbar">
        <li>
          <button type="button" (click)="close()" class="btn btn-default btn-default-no-border">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </bs-modal-header>
  <bs-modal-body>
    <p class="text-fade">You can set card name and have different avatar for your information card</p>
    <div class="pcard-cover">
      <div class="media-avatar align-items-center">
        <div class="media-avatar-img-wrap">
          <div class="media-avatar-img avatar-sm">
            <img [src]="card?.profile_image" alt="">
          </div>
        </div>
        <div class="media-avatar-body">
          <input type="text" class="form-control" placeholder="Card name" [value]="card?.name">
        </div>
      </div>
    </div>
    <p class="text-fade">Selecte information for this card.</p>
    <hr>
    <div class="pcard-info-list">
      <dl class="pcard-info-form">
        <dt>
          <p-checkbox name="group1" value="name" label="Name" [(ngModel)]="selectedFields"></p-checkbox>
        </dt>
        <dd>
          Jaime Lannister
        </dd>
        <dt>
          <p-checkbox name="group1" value="nickname" label="Nickname" [(ngModel)]="selectedFields"></p-checkbox>
        </dt>
        <dd>
          {{ profile?.nickname }}
        </dd>
      </dl>
      <dl class="pcard-info-form">
        <dt>
          <label>Basic Information</label>
        </dt>
        <dt>
          <p-checkbox name="group2" value="about" label="About" [(ngModel)]="selectedFields"></p-checkbox>
        </dt>
        <dd>
          {{ profile?.about }}
        </dd>
        <dt>
          <p-checkbox name="group2" value="company" label="Company" [(ngModel)]="selectedFields"></p-checkbox>
        </dt>
        <dd>
          {{ profile?.company }}
        </dd>
        <dt>
          <p-checkbox name="group2" value="occupation" label="Occupation" [(ngModel)]="selectedFields"></p-checkbox>
        </dt>
        <dd>
           {{ profile?.occupation }}
        </dd>
        <dt>
          <p-checkbox name="group2" value="sex" label="Gender" [(ngModel)]="selectedFields"></p-checkbox>
        </dt>
        <dd>
          {{ profile?.sex }}
        </dd>
        <dt>
          <p-checkbox name="group2" value="birthday" label="Date of birth" [(ngModel)]="selectedFields"></p-checkbox>
        </dt>
        <dd>
          {{ profile?.birthday }}    
        </dd>
        <dt>
          <p-checkbox name="group2" value="nationality" label="Nationality" [(ngModel)]="selectedFields"></p-checkbox>
        </dt>
        <dd>
          {{ profile?.nationality }}
        </dd>
      </dl>
      <dl class="pcard-info-form">
        <dt>
          <label>Emails</label>      
        </dt>

        <ng-container *ngIf="profile && profile.emails && profile.emails.length > 0">
          <ng-template ngFor let-item [ngForOf]="profile.emails" let-i="index" [ngForTrackBy]="trackByFn">
            <dt>
              <p-checkbox name="phones" [value]="'phone:' + item.category" 
                          [label]="item.category | keyToValue: emailType:'category':'name'" [(ngModel)]="selectedFields"></p-checkbox>
            </dt>
            <dd>
              <p><a style="text-transform: lowercase;" href="mailto:{{ item.value }}">{{ item.value }}</a></p>
            </dd>                
          </ng-template>
        </ng-container>
      </dl>
      <dl class="pcard-info-form">
        <dt>
          <label>Phones</label>
        </dt>
        <ng-container *ngIf="profile && profile.phones && profile.phones.length > 0">
          <ng-template ngFor let-item [ngForOf]="profile.phones" let-i="index" [ngForTrackBy]="trackByFn">
            <dt>
              <p-checkbox name="phones" [value]="'phone:' + item.category" 
                          [label]="item.category | keyToValue:phoneType:'category':'name'" [(ngModel)]="selectedFields"></p-checkbox>
            </dt>
            <dd>
                {{ item.value }}
            </dd>                
          </ng-template>
        </ng-container>        
      </dl>
      <dl class="pcard-info-form">
        <dt>
          <label>Addresses</label>
        </dt>
        <ng-container *ngIf="profile && profile.addresses && profile.addresses.length > 0">
            <ng-template ngFor let-item [ngForOf]="profile.addresses" let-i="index" [ngForTrackBy]="trackByFn">
              <dt>
                <p-checkbox name="addresses" [value]="'address:' + item.category" 
                            [label]="item.category | keyToValue: addressType:'category':'name'" [(ngModel)]="selectedFields"></p-checkbox>
              </dt>
              <dd>
                <div *ngIf="item.address_line1">{{ item.address_line1 }}</div>
                <div *ngIf="item.address_line2">{{ item.address_line2 }}</div>
                <div *ngIf="item.city"> {{ item?.city }}</div>
                <div *ngIf="item.province"> {{ item?.province }} </div>
                <div *ngIf="item.postcode"> {{ item?.postcode }} </div>
                <div *ngIf="item.country">{{ item.country }}</div>        
              </dd>                
            </ng-template>
          </ng-container>        
      </dl>
      <dl class="pcard-info-form">
        <dt>
          <label>Links</label>
        </dt>
        <ng-container *ngIf="profile && profile.media">
          <ng-template ngFor let-item [ngForOf]="profile.media" [ngForTrackBy]="trackByFn">
              <dt>
                <p-checkbox name="group6" [value]="'media:' + item.category" [label]="item.category | keyToValue:mediaType:'category':'name'" [(ngModel)]="selectedFields">
                    
                </p-checkbox>
              </dt>
              <dd><p><a href="{{ item.value }}" target="_blank" rel="noopener" style="text-transform: lowercase">{{ item.value }}</a></p></dd>
          </ng-template>  
        </ng-container>      
      </dl>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Done</button>
  </bs-modal-footer>
</bs-modal>
