<div class="z-social-media">
  <div class="z-social-media-left">
    <a [routerLink]="['/profile/', parent?.owner?.uuid]" class="media-object">
      <span class="avatar-xs">
        <img [src]="parent?.owner?.profile_image" alt="">
      </span>
    </a>
  </div>
  <div class="z-social-media-body">
    <form [formGroup]="commentEditorForm" novalidate>

      <div class="z-social-media-inputpost">
        <span class="z-social-media-inputpost-icon">
          <i class="fa fa-camera" (click)="onOpenPhotoSelect()"></i>
          <i class="fa fa-smile-o"></i>
        </span>
        <textarea class="form-control" placeholder="Add a comment"
                  textAreaAutoHeight
                  [formControl]="contentCtrl"
                  (keyup)="onKey($event)"
                  [(ngModel)]="comment.content"></textarea>
      </div>

      <photo-item-preview [photo]="comment?.photo"
                          [files]="files"
                          [hasUploadingPhoto]="hasUploadingPhoto" (events)="doEvents($event)"></photo-item-preview>

      <div class="clearfix text-right comment-editor-button-region" *ngIf="contentCtrl.value.length > 0 || comment.photo">
        <button class="btn btn-sm btn-default" (click)="cancel()"
           href="javascript:;">Cancel</button>

        <button class="btn btn-sm btn-default" href="javascript:;" (click)="post(commentEditorForm.value)"
           [disabled]="!checkValidForm()">Post</button>
      </div>

    </form>
  </div>
</div>

