@import '../../../core/scss/global';
@import "../../../../../node_modules/tether-shepherd/dist/css/shepherd-theme-arrows.css";

body {
  .shepherd-element {
    z-index: 2000;
    &.shepherd-theme-arrows {
      &.shepherd-has-title {
        .shepherd-content {
          header {
            background-color: #ffffff;
            border-bottom: 1px solid $line;
            h3 {
              font-weight: bold;
            }
            .shepherd-cancel-link {
              display: none;
            }
          }
        }
      }

      &.shepherd-element-attached-left {
        &.shepherd-element-attached-middle {
          margin-top: 60px;
          .shepherd-content {
            &:before {
              border-width: 12px;
              top: 0;
              margin-top: 10px;
            }
          }
        }
      }

      &.shepherd-element-attached-top {
        &.shepherd-element-attached-center {

        }
      }

      &.shepherd-element-attached-top {
        &.shepherd-element-attached-right {
          .shepherd-content:before {
            display: block;
          }
          &.shepherd-target-attached-left {
            .shepherd-content {
              right: -75px;
              &:before {
                top: auto;
                left: auto;
                border-left-color: transparent;
                border-bottom-color: #ffffff !important;
              }
            }
          }
        }
      }

      .shepherd-content {
        .shepherd-text {
          min-height: 100px;
        }

        footer {
          .shepherd-buttons {
            @include clearfix;
            li {
              float: left;
              &:last-child {
                float: right;
              }
              .shepherd-button {
                text-transform: capitalize;

                @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
                &.btn-primary {
                  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
                }
                &.shepherd-close-text {
                  background-color: transparent;
                  margin: 0;
                  padding: 0;
                  line-height: 2;
                  position: absolute;
                  top: 1em;
                  right: 1em;
                  text-transform: inherit;
                  color: $text-color-light;
                  &:hover {
                    color: $text-color;
                  }
                }
                &.btn-outline-default {
                  border: 1px solid #9B9B9B;
                }
              }
            }
          }
        }
      }
    }
  }

  &.shepherd-active {
    .shepherd-element {
      & + div[data-tether-id] {
        background-color: rgba(#000, 0.7);
        height: 100%;
        width: 100%;
        z-index: 1900;
      }
    }

    &[data-shepherd-step="main-menu"] {
      .main .main-page-left {
        z-index: 1991;
      }
    }

    &[data-shepherd-step="app-list"] {
      .header {
        &, .header-nav {
          z-index: auto;
        }
      }
      .header-nav-apps {
        z-index: 1991;
        background-color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        height: 60px;
      }
    }

    &[data-shepherd-step="header-nav-notification"] {
      .header {
        &, .header-nav {
          z-index: auto;
        }
      }
      .header-nav-notification {
        z-index: 1991;
        background-color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        height: 60px;
      }
    }

    &[data-shepherd-step="account-preferences"] {
      .header {
        &, .header-nav {
          z-index: auto;
        }
      }
      .header-nav-profile {
        z-index: 1991;
        background-color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        height: 60px;
      }
    }
  }
}

