<div class="header-intro">
  <div class="container">
    <h2><span>About us</span></h2>
    <p>
      <strong class="fz16">WTH!APPS</strong> is a technology start-up. <br>
      We build simple, yet powerful, products to help people connect and organize their digital lives.
    </p>
  </div>
</div>
<section class="page-content about-intro bg-gray-light">
  <div class="container">
    <div class="page-content-txt">
      <h3>&quot;WTH&quot; is our story?</h3>
      <div>
        <p>
          Our inspiration came from one short familiar phrase, &quot;WTH! – What the Hell!&quot;
        </p>
        <p>
          This can be a cry of frustration: &quot;WTH! Why is this not working, so complicated and painful!? Why are
          there
          so
          many pop-ups and ads!? Why can’t I have online privacy?!&quot;
        </p>
        <p>
          Or it can be a cry for change; a call to take up the challenge to make things better: &quot;WTH! Let’s fix
          this! Let’s make it better!&quot;</p>
        <p>
          We took our collective frustrations and annoyances with the Internet and turned it into something positive:
          WTH!Apps!</p>
        <p>
          WTH!APPS is a stress-free and enjoyable place for the complete management of your digital life.</p>
        <p>
          We built it with these aims in mind:</p>
        <ul class="list-styled">
          <li>Simplify your digital life</li>
          <li>
            Keep your social media, chat and everything else in your digital life in one place
          </li>
          <li>
            Create Easy-to-use Apps
          </li>
          <li>
            Remove unwanted distractions
          </li>
          <li>
            Consolidate, organize and easily search all your digital stuff
          </li>
          <li>
            Create a peaceful and fun online environment
          </li>
        </ul>
      </div>
    </div>
    <div class="page-content-img">
      <div class="about-intro-img">
        <img src="/assets/images_new/about/about-img.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="page-content about-mission bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Our mission in a nutshell</h3>
        <ul class="list-styled">
          <li>Give you all the online tools you need to have a simpler, peaceful, productive and fun digital life</li>
          <li>Enable you to easily and securely connect with your family, friends, community and coworkers</li>
          <li>Help you organize all your digital stuff</li>
          <li>Provide a private and ad free online WTH!Zone</li>
          <li>Make the internet a fun place again</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>Our values in a nutshell</h3>
        <ul class="list-styled">
          <li>Simplicity</li>
          <li>Functionality</li>
          <li>Peacefulness</li>
          <li>Privacy</li>
          <li>Friends, Family and Community</li>
          <li>Fun</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="page-content about-contact">
  <div class="container">
    <div class="text-center">
      <h3>Anything comes in mind?</h3>
      <p>If you are interested in our business or having any issue idea that you want to share,
        feel free to drop us a message.</p>
    </div>
    <div class="row about-row-form">
      <div class="col-sm-6 col-sm-offset-3">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
          <div class="row row-10">
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-error': (!first_name.valid && first_name.touched)}">
                <label for="first_name">First Name</label>
                <input [formControl]="first_name" type="text" class="form-control" id="first_name"
                       placeholder="First Name">
                <div *ngIf="!first_name.valid && first_name.touched">
                  <span *ngIf="!first_name.valid && first_name.errors.required" class="help-block">First name is required</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{'has-error': (!last_name.valid && last_name.touched)}">
                <label for="last_name">Last Name</label>
                <input [formControl]="last_name" type="text" class="form-control" id="last_name"
                       placeholder="Last Name">
                <div *ngIf="!last_name.valid && last_name.touched">
                    <span *ngIf="!last_name.valid && last_name.errors.required"
                          class="help-block">Last name is required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': (!email.valid && email.touched)}">
            <label for="email">Email address</label>
            <input [formControl]="email" type="email" class="form-control" id="email" placeholder="Email address">
            <div *ngIf="!email.valid && email.touched">
              <span *ngIf="!email.valid && email.errors.required" class="help-block">An email is required</span>
              <span *ngIf="!email.errors.required && email.errors.emailFormat"
                    class="help-block">Email is not valid</span>
            </div>

          </div>
          <div class="form-group" [ngClass]="{'has-error': (!subject.valid && subject.touched)}">
            <label for="subject">Title</label>
            <input [formControl]="subject" type="text" class="form-control" id="subject" placeholder="Message title">
            <div *ngIf="!subject.valid && subject.touched">
              <span *ngIf="!subject.valid && subject.errors.required" class="help-block">A subject is required</span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': (!body.valid && body.touched)}">
            <label for="body">Message</label>
            <textarea rows="3" [formControl]="body" type="text" class="form-control" id="body"
                      placeholder="Your message goes here"></textarea>
            <div *ngIf="!body.valid && body.touched">
              <span *ngIf="!body.valid && body.errors.required" class="help-block">A body is required</span>
            </div>
          </div>

          <div class="form-group">
            <re-captcha #ReCaptchaComponent (captchaResponse)="handleCorrectCaptcha($event)"
                        site_key="{{ siteKey }}"></re-captcha>
          </div>

          <button [disabled]="!form.valid || !recaptchaState" type="submit" class="btn btn-primary btn-block">
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<portal-shared-footer-promotion></portal-shared-footer-promotion>
