.media-list-item {
  .media-left {
    figure {
      img {
        max-width: 25px;
        max-height: 25px;
      }
    }
  }
}

.changing {
  border: 1px solid red;
  padding: 8px;
  border-radius: 2px;
  web-kit-border-radius: 2px;
}
