<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'" style="display: inline;">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Sharing</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="row pl20 pr20">
      <div class="input-group">
        <p-autoComplete *ngIf="!deleting" placeholder="Search contacts"
                        [(ngModel)]="textContacts"
                        [suggestions]="filteredContacts"
                        [multiple]="true" [minLength]="1"
                        field="name"
                        (onSelect)="selectContact($event)"
                        (onUnselect)="unSelectContact($event)"
          (completeMethod)="contactTerm$.next($event)">
          <ng-template let-user pTemplate="item">
            <div class="ui-help-clearfix user-row">
              <div class="avatar">
                <a href="javascript:void(0)">
                  <img class="img-circle small" [alt]="user.name" [src]="user.profile_image">
                </a>
              </div>
              <div class="name">
                <a class="text-link" href="javascript:void(0)">
                  <p class="mb0">{{ user.name }}</p>
                </a>
                <span *ngIf="!user.is_contact" class="text-color-light text-small"> not in WTHContacts</span>
              </div>
            </div>
          </ng-template>
        </p-autoComplete>

        <!--[ngClass]="{'fa fa-check': (!sharing.permission || sharing.permission == 'view')}"></i> View only</a></li>-->


        <!--edit mode-->
        <div *ngIf="deleting" class="text-left changing padding8 rounded border border-danger border-1">
          <i class="fa fa-exclamation-triangle text-danger"></i>
          You have made changes that you need to save!
        </div>

        <div class="input-group-btn">
          <!-- Single button -->
          <div class="btn-group">
            <button type="button" class="btn btn-outline-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              [title]="role.display_name">
              <i class="fa" [ngClass]="role.name == 'view'? 'fa-eye' :
                            role.name == 'download'? 'fa-download' :
                            role.name == 'edit'? 'fa-pencil' : 'fa-unlock'">
              </i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li *ngFor="let r of roles" (click)="changeRole(r)">
                <a href="javascript:void(0);"> {{ r.display_name }}
                  <i class="pull-right" [ngClass]="{'fa fa-check': (r.id === role.id)}"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-fixed-height">

      <div class="modal-body-collapse" *ngIf="sharedContacts?.length">
        <a role="button" data-toggle="collapse" href="#collapseContact" aria-expanded="false" aria-controls="collapseExample">
          Shared with {{ sharedContacts?.length }} Contacts
        </a>
        <div class="collapse in pre-scrollable" id="collapseContact">
          <div class="modal-body-collapse-in">
            <div class="media-list-item" *ngFor="let contact of sharedContacts">
              <div class="media" [ngClass]="isDeletedItem(contact.id) ? 'remove': ''">
                <div class="media-left">
                  <figure>
                    <img [src]="contact.profile_image" alt="">
                  </figure>
                </div>
                <div class="media-body">
                  {{ contact.name }}
                </div>

                <div class="media-right">
                  <a class="btn btn-default" (click)="toggleRemoving($event, contact.id)" [title]="isDeletedItem(contact.id) ? 'Undo removing':'Remove'"
                    href="javascript:void(0)">
                    <i *ngIf="!isDeletedItem(contact.id)" class="fa fa-times" title="remove"></i>
                    <i *ngIf="isDeletedItem(contact.id)" class="fa fa-undo" title="Undo removing"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </bs-modal-body>
  <bs-modal-footer>

    <button *ngIf="hasChanged" type="button" class="btn btn-outline-default btn-min" (click)="cancel()">Cancel</button>
    <button *ngIf="!hasChanged" type="button" (click)="close()" class="btn btn-outline-primary btn-min">Done </button>
    <button *ngIf="hasChanged" type="button" (click)="save()" class="btn btn-outline-primary btn-min">Save
    </button>
  </bs-modal-footer>
</bs-modal>
