<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h2>
                Check your email
            </h2>
            <p>We've sent an email. Click the link in the email to reset your password.
                If you don't see the email, check other places it might be, like your junk, spam, social, or other
                folders.</p>

            <a [routerLink]="['/account/forgot_password']">I didn't receive the email</a>
        </div>
    </div>
</div>
