.media-body {
  word-break: break-all;
  > .media-heading {
    margin-bottom: 0;
    font-weight: bold;
    line-height: 18px;
    max-height: 4 * 18px - 1px;
    overflow: hidden;
    word-break: break-word;
  }
  .media-heading a, .media-heading a:hover {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: bold;
  }
}
