<div class="page-body-chat-message">
  <div class="chat-message-container">
    <form [formGroup]="messageEditorForm" novalidate>

      <div id="chat-message-text" class="chatbox-container-input message-editor-input" contenteditable="true"
           spellcheck="true" tabindex="0" placeholder="Type message here" alt=""
           [ngClass]="{'message-editing': mode=='EDIT'}"
           [innerHtml]="message.message">

            <!--<ng-template contenteditable="false">-->
              <!--<p [innerHtml]="message.message"></p>-->
            <!--</ng-template>-->

            <!--<ng-template contenteditable="false">-->
              <!--<blockquote contenteditable="false">-->
                <!--<strong >{{ message.display.name }}</strong>-->
                <!--<span >{{message.created_at | timeFormat: "time_only"}}</span>-->
                <!--<p [innerHtml]="message.message"></p>-->
              <!--</blockquote>-->
            <!--</ng-template>-->

      <!--<textarea id="chat-message-text" class="message-editor-input" spellcheck="false" tabindex="1"-->
                <!--[ngClass]="{'message-editing': mode=='EDIT'}" autocomplete="off" autocorrect="off"-->
                <!--placeholder="Type message here" alt=""-->
                <!--[formControl]="messageCtrl"-->
                <!--[(ngModel)]="message.message">-->

      <!--</textarea>-->
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-default" (click)="onOpenSelectPhotos()"
                  pTooltip="{{ tooltip.sendMedia }}" tooltipPosition="top">
            <i class="fa fa-camera"></i>
          </button>
          <span class="btn btn-default btn-style-1 fileinput-button"
                pTooltip="{{ tooltip.sendFile }}" tooltipPosition="top">
            <i class="fa fa-paperclip"></i>
            <input id="files" type="file" (change)="changeFiles($event)"/>

          </span>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    pTooltip="{{ tooltip.emoticons }}" tooltipPosition="top">
              <i class="fa fa-smile-o"></i>
            </button>
            <ul class="dropdown-menu wth-emoji-dropdown content-overflow p5">
              <li>
                <i *ngFor="let emoji of emojiData" class="wth-emoji wth-emoji-{{emoji | wthEmojisClass}}"
                   (click)="onEmojiClick(emoji)"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 text-right">
          <span class="text-line-btn text-fade">Press enter to send message</span>
          <button class="btn btn-outline-primary ml10" (click)="send()">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
<post-photo-select></post-photo-select>
<!--<post-photo-select #photoSelectModal (onNext)="chooseDone($event)" (onUpload)="uploadPhoto($event)"></post-photo-select>-->
