<div class="form-group" *ngIf="objectName != undefined">
  <label>{{ objectName }}</label>

</div>
<!-- input tag container -->
<div ngClass="hd-list {{ theme }}" (click)="focus(true)" [attr.tabindex]="-1" [class.hd-list--invalid]="hasErrors()"
     [class.hd-list--focused]="isInputFocused()">

  <!--tags [custom]-->
  <div #template class="hd-list-container--custom">
    <ng-content></ng-content>

    <search-form *ngIf="hasCustomTemplate()" (onSubmit)="addItem()" (onBlur)="blur()" (onFocus)="focus()"
                 (onKeydown)="fireEvents('keydown', $event)"
                 (onKeyup)="fireEvents('keyup', $event)" (onKeypress)="handleKeyPress()" [validators]="validators"
                 [hidden]="readonly || maxItemsReached()"
                 [placeholder]="itemsSearching?.length ? placeholder : secondaryPlaceholder" [inputClass]="inputClass"
                 [inputId]="inputId"
                 [ngStyle]="{'width': '100%'}"></search-form>
  </div>

  <!-- tags [default] -->
  <div class="tags-input-wrap" *ngIf="hasCustomTemplate() === false">
    <div *ngFor="let item of selectedItems" (click)="selectItem(item);$event.stopPropagation();"
         (keydown)="handleKeydown($event, item)"
         [attr.tabindex]="readonly ? -1 : 0" class="tags-input-item" [class.hd-list--readonly]="readonly"
         [attr.aria-label]="item">
      {{ item?.name }} <i (click)="removeItem(item)" *ngIf="!readonly" class="fa fa-times"></i>
    </div>
    <search-form (onSubmit)="addItem()" (onBlur)="blur()" (onFocus)="focus()"
                 (onKeydown)="fireEvents('keydown', $event)"
                 (onKeyup)="fireEvents('keyup', $event)" [validators]="validators"
                 [hidden]="readonly || maxItemsReached()"
                 [placeholder]="itemsSearching?.length ? placeholder : secondaryPlaceholder" [inputClass]="inputClass"
                 [inputId]="inputId"></search-form>
  </div>


  <div *ngIf="searchable" class="media-avatar-list wth-scrollable" style="max-height: 300px;">
    <div *ngFor="let item of itemsSearching" class="media-avatar align-items-center can-click"
         (click)="toggleSelectItem(item, $event)">
      <div class="media-avatar-img-wrap">
        <div class="media-avatar-img avatar-xs">
          <img alt="" [src]="item.profile_image">
        </div>
      </div>
      <div class="media-avatar-body">
        {{ item.name }}
      </div>
      <div class="media-avatar-action pr10">
        <i *ngIf="item.selected" class="fa fa-times"></i>
      </div>
    </div>
  </div>
</div>

<!-- ERRORS -->
<div class="hd-list__errors-container" *ngIf="hasErrors()">
  <p *ngFor="let error of inputForm.getErrorMessages(errorMessages)" class="hd-list__error-message">
    <span>{{ error }}</span>
  </p>
</div>
