<hd-modal #modal cssClass="modal-social modal-long" [keyboard]="false" [backdrop]="'static'">
  <modal-header cssClass="modal-social-head" [show-close]="true">

    <h4 class="modal-title text-left"> <i class="fa fa-share-alt"></i> Share in Community</h4>
    <button type="button" class="close" style="right:15px;left: auto;" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </modal-header>
  <modal-body>
    <div class="form-group mb40">
      <label >Community</label>
      <!--<input type="text" class="form-control" id="community" placeholder="Search for community">-->
      <tag-input placeholder="Search for community"
                 secondaryPlaceholder="Search for community"
                 [maxItems]='100'
                 [autocomplete]="true"
                 (onRemove)="addCommunity($event)"
                 (onAdd)="removeCommunity($event)"
      ></tag-input>

      <!--[autocompleteItems]="communityNames"-->

      <!--[formControl]="tagsCtrl"-->
    </div>
    <ul class="list-unstyled social-list-user wth-scrollable">
      <li *ngFor="let c of communities">
            <span class="social-list-user-action">
              <input type="checkbox">
            </span>
        <img alt="" [src]="c.profile_image" title="" width="30">
        <span>{{c.name}}</span>
      </li>
    </ul>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-wth-default btn-min">Done</button>
    <button type="button" class="btn btn-default btn-min" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
  </modal-footer>
</hd-modal>


