<hd-modal #modal cssClass="modal-social modal-long" [keyboard]="false" [backdrop]="'static'">
  <modal-body>
    <div class="z-social-media mb15">
      <div class="z-social-media-left">
        <img src="assets/images/avatar/avatar.png" alt="">
      </div>
      <div class="z-social-media-body">
        <div class="z-heading">
          <div class="z-name">
            name
          </div>
          <div class="z-shared-with">
            <span class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="true">Public</a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-globe"></i> Public</a></li>
                <li><a href="#"><i class="fa fa-users"></i> Friends</a></li>
                <li><a href="#"><i class="fa fa-lock"></i> Private</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Custom</a></li>
              </ul>
            </span>
          </div>
        </div>
      </div>
      <div class="z-social-media-right">
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-check"></i> Adult content</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Disable comments</a></li>
            <li><a href="#">Disable reshare</a></li>
          </ul>
        </div>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="done(form.value)" novalidate>
      <div class="row">
        <div class="col-xs-6 col-sm-12">
          <div class="form-group"
               [ngClass]="{'has-error': (!descCtrl.valid && descCtrl.touched),
                        'has-success': (descCtrl.valid && descCtrl.touched)}">
          <textarea placeholder="Share your ideas" class="form-control"
                    [formControl]="descCtrl"></textarea>
            <!--<div *ngIf="!form.controls['description'].valid && form.controls['description'].touched">-->
              <!--<span class="help-block"-->
                    <!--*ngIf="!form.controls['description'].valid && form.controls['description'].errors.required" >-->
                <!--Share your ideas is required-->
              <!--</span>-->
            <!--</div>-->
          </div>
          <div class="form-group">
            <tag-input [maxItems]='100'
                       [autocompleteItems]="tags"
                       [autocomplete]="true"
                       (onRemove)="removeTag($event)"
                       (onAdd)="addTag($event)"
                       [(ngModel)]="tags"
                       [formControl]="tagsCtrl"
            ></tag-input>
          </div>
          <div class="form-group">
            <ul class="modal-social-photo-grid">
              <li *ngFor="let f of files">
                <div class="social-photo-grid-item">
                  <i class="fa fa-remove wth-fa-remove" (click)="cancelUploading(f)"></i>
                  <figure class="img-center-dv photo-item-uploading">
                  </figure>
                </div>
              </li>
              <li *ngFor="let p of post.photos">
                <div class="social-photo-grid-item">
                  <i class="fa fa-remove wth-fa-remove" (click)="removePhoto(p,$event)"></i>
                  <figure class="img-center-dv">
                    <img class="img-full" [src]="p['thumbnail_url']" alt="">
                    <img class="img-center"
                         [src]="p['thumbnail_url']" alt="">
                  </figure>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-default pull-left btn-min" (click)="addMorePhoto($event)">
          <i class="fa fa-plus"></i> Add more
        </button>
        <button type="submit" class="btn btn-wth-default btn-min"
                [disabled]="!validPost()">Done</button>
        <button type="button" class="btn btn-default btn-min" data-dismiss="modal">Cancel</button>
      </div>
    </form>

  </modal-body>
</hd-modal>
<post-photo-select #photoSelectModal
                   (onNext)="next($event)"
                   (onDismiss)="dismiss($event)"
                   (onUpload)="upload($event)"></post-photo-select>

