<hd-modal #modal cssClass="modal-social modal-long" [keyboard]="false" [backdrop]="'static'">
  <modal-header cssClass="modal-social-head" [show-close]="true">

    <h4 class="modal-title text-left"> <i class="fa fa-share-alt"></i> Share with Friends</h4>
    <button type="button" class="close" style="right:15px;left: auto;" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </modal-header>
  <modal-body>
    <div class="form-group mb40">
      <label for="community">Friend</label>
      <input type="text" class="form-control" id="community" placeholder="Search for friend">
    </div>
    <ul class="list-unstyled social-list-user">
      <li *ngFor="let f of friends">
            <span class="social-list-user-action">
              <input type="checkbox">
            </span>
        <img alt="" [src]="f.profile_image" title="" width="30">
        <span>{{f.name}}</span>
      </li>
    </ul>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-wth-default btn-min">Done</button>
    <button type="button" class="btn btn-default btn-min" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
  </modal-footer>
</hd-modal>


