<hd-modal #modal cssClass="modal-social modal-long" [keyboard]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title text-left"> <i class="fa fa-share-alt"></i> Share with Friends</h4>
  </modal-header>
  <modal-body>
    <hd-list
      [maxItems]='100'
      [searchable]="true"
      [inputClass]="hd-search-input"
      [searchItems]="friends"
      (onRemove)="addItem($event)"
      (onSelected)="onSelectedItems($event)"
      (onAdd)="removeCommunity($event)"
    ></hd-list>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-wth-default btn-min"
            [disabled]="selectedItems.length<=0"
            (click)="selectItems(event)" >Done</button>
    <button type="button" class="btn btn-default btn-min" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
  </modal-footer>
</hd-modal>


