<hd-modal #modal cssClass="modal-social modal-long" [keyboard]="false" [backdrop]="'static'">
  <modal-body>
    <div class="z-social-media mb15">
      <div class="z-social-media-left">
        <img src="assets/images/avatar/avatar.png" alt="">
      </div>
      <div class="z-social-media-body">
        <div class="z-heading">
          <div class="z-name">
            name
          </div>
          <div class="z-shared-with">
            <span class="dropdown">
              <a href="return false;" class="dropdown-toggle" data-toggle="dropdown" style="text-transform: capitalize;"
                 aria-haspopup="true" aria-expanded="true">
                  <i class="fa" [ngClass]="privacyClassIcon(post)"></i> {{privacyName(post)}} </a>
              <ul class="dropdown-menu">
                <li><a href="#" (click)="update({privacy: 'public'}, $event)">
                  <i class="fa fa-globe"></i> Public</a></li>
                <li><a href="#" (click)="update({privacy: 'friends'}, $event)">
                  <i class="fa fa-users"></i> Friends</a></li>
                <li><a href="#" (click)="update({privacy: 'personal'}, $event)"><i class="fa fa-lock"></i> Personal</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" (click)="customShare('friends', $event)">Share with Friends</a></li>
                <li><a href="#" (click)="customShare('communities', $event)">Share in Communities</a></li>
              </ul>
            </span>
          </div>
        </div>
        <div class="z-shared-info">
          <ul>
            <li class="z-time">
              Jul 16 2016
            </li>
            <li *ngIf="post.adult">
              Adult content
            </li>
            <li *ngIf="post.mute">
              Mute
            </li>
            <li *ngIf="post.disable_comment">
              Disable comment
            </li>
            <li *ngIf="post.disable_share">
              Disable share
            </li>
          </ul>
        </div>
      </div>
      <div class="z-social-media-right">
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" (click)="update({adult: !post.adult}, $event)">Adult content
              <i class="fa" [ngClass]="post.adult ? 'fa-check' : ''"></i></a></li>
            <li><a href="#" (click)="update({mute: !post.mute}, $event)">Mute
              <i class="fa" [ngClass]="post.mute ? 'fa-check' : ''"></i></a></li>
            <li role="separator" class="divider"></li>
            <li *ngIf="!post.disable_comment">
              <a href="#" (click)="update({disable_comment: true}, $event)">Disable comment</a></li>
            <li *ngIf="post.disable_comment">
              <a href="#" (click)="update({disable_comment: false}, $event)">Enable comment</a></li>
            <li *ngIf="!post.disable_share">
              <a href="#" (click)="update({disable_share: true}, $event)">Disable share</a></li>
            <li *ngIf="post.disable_share">
              <a href="#" (click)="update({disable_share: false}, $event)">Enable share</a></li>
          </ul>
        </div>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="done(form.value)" novalidate>
      <div class="row">
        <div class="col-xs-6 col-sm-12">
          <textarea rows="3" pInputTextarea autoResize="autoResize" class="form-control" [formControl]="descCtrl"></textarea>

          <!--<textarea placeholder="Share your ideas" class="form-control"
                    [formControl]="descCtrl"></textarea>-->
            <!--<div *ngIf="!form.controls['description'].valid && form.controls['description'].touched">-->
              <!--<span class="help-block"-->
                    <!--*ngIf="!form.controls['description'].valid && form.controls['description'].errors.required" >-->
                <!--Share your ideas is required-->
              <!--</span>-->
            <!--</div>-->
          <div class="form-group">
            <tag-input [maxItems]='100'
                       [autocompleteItems]="tags"
                       [autocomplete]="true"
                       (onRemove)="removeTag($event)"
                       (onAdd)="addTag($event)"
                       [formControl]="tagsCtrl"
            ></tag-input>
            <!--[(ngModel)]="post.tags"-->

          </div>
          <div class="form-group">
            <ul class="modal-social-photo-grid">
              <li *ngFor="let f of files">
                <div class="social-photo-grid-item">
                  <i class="fa fa-remove wth-fa-remove" (click)="cancelUploading(f)"></i>
                  <figure class="img-center-dv photo-item-uploading loading">
                  </figure>
                </div>
              </li>
              <li *ngFor="let p of post.photos">
                <div class="social-photo-grid-item">
                  <i class="fa fa-remove wth-fa-remove" (click)="removePhoto(p,$event)"></i>
                  <figure class="img-center-dv">
                    <img class="img-full" src="/assets/images/zone/img-photo.png" alt="">
                    <img class="img-center" [src]="p['thumbnail_url']" alt="">
                  </figure>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="parent != null">
        Shared from <a [routerLink]="['/zone/social/profile/', parent.owner.uuid, 'about']" >{{parent.owner.name}}</a>
      </div>
      <div class="clearfix text-right">
        <button type="button" class="btn btn-default pull-left btn-min" *ngIf="parent == null" (click)="addMorePhoto($event)">
          <i class="fa fa-camera"></i>
        </button>
        <button type="submit" class="btn btn-wth-default btn-min"
                [disabled]="!((descCtrl.value.length > 0) || (post.photos.length > 0))">Done</button>
        <button type="button" class="btn btn-default btn-min" data-dismiss="modal" (click)="dismiss(true)">Cancel</button>
      </div>
    </form>
  </modal-body>
</hd-modal>
<post-photo-select #photoSelectModal
                   (onNext)="next($event)"
                   (onDismiss)="dismiss($event)"
                   (onClose)="closeSelectPhoto($event)"
                   (onUpload)="upload($event)"></post-photo-select>

<post-share-community #customCommunities (onSelected)="selectedItems($event)"></post-share-community>
<post-share-friend #customFriends (onSelected)="selectedItems($event)"></post-share-friend>

