<div *ngIf="data">
  <div class="field-group-title">
    <h3 class="pull-left">Media</h3>
    <div class="pull-right">
      <button *ngIf="editable" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
  </div>
  <div class="field-group-content">
    <dl class="dl-horizontal" *ngIf="data.media.length > 0">
      <template ngFor let-item [ngForOf]="data.media" let-i="index" [ngForTrackBy]="trackByFn">
        <dt>{{item.kind_of | keyToValue:mediaType:'kind_of':'name'}}</dt>
        <dd><p><a href="{{item.value}}" target="_blank">{{item.value}}</a></p></dd>
      </template>
    </dl>

    <div *ngIf="data.media.length == 0">
      <p class="text-fade">
        Tell us more about your media
      </p>
      <button type="button" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-plus"></i> Add detail
      </button>
    </div>

  </div>
</div>


<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title"><i class="fa fa-pencil"></i> media</h4>
    </modal-header>
    <modal-body>
      <div formArrayName="medias">
        <div *ngFor="let add_phone of form.controls.medias.controls; let i=index" class="media mt0">
          <div class="media-body" [formGroupName]="i">
            <div class="row row-10">
              <div class="col-sm-4">
                <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.medias.controls[i].controls.kind_of.valid
                  && form.controls.medias.controls[i].controls.kind_of.touched),
                  'has-success': (form.controls.medias.controls[i].controls.kind_of.valid
                  && form.controls.medias.controls[i].controls.kind_of.touched
                  && form.value.medias[i].kind_of.length>1)}">
                  <select class="form-control" name="name" formControlName="kind_of">
                    <option value=""> -- Select One -- </option>
                    <option *ngFor="let et of mediaType" value="{{et.kind_of}}">{{et.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.medias.controls[i].controls.value.valid
                  && form.controls.medias.controls[i].controls.value.touched),
                  'has-success': (form.controls.medias.controls[i].controls.value.valid
                  && form.controls.medias.controls[i].controls.value.touched
                  && form.value.medias[i].value.length>1)}">
                  <input type="text" class="form-control" formControlName="value" placeholder="">
                  <div
                    *ngIf="!form.controls.medias.controls[i].controls.value.valid && form.controls.medias.controls[i].controls.value.touched">
                    <span
                      *ngIf="!form.controls.medias.controls[i].controls.value.valid && form.controls.medias.controls[i].controls.value.errors.urlFormat"
                      class="help-block text-danger">
                      Link is not valid
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <button type="button" class="btn btn-default" (click)="removeItem(i)">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addItem()">
        <i class="fa fa-plus"></i> Add more
      </button>
    </modal-body>
    <modal-footer>
      <button [disabled]="!form.valid" type="submit" class="btn btn-wth-default btn-min mr10"
              (click)="onSubmit(form.value)">Done
      </button>
      <button type="button" class="btn btn-default btn-min" (click)="modal.close()">Cancel</button>
    </modal-footer>
  </modal>
</form>
