<div class="box-panel">
  <h3 class="box-panel-title">Current Subscription</h3>
  <div class="box-panel-content">
    <div class="card mb20">
      <div class="card-body">
        <dl class="dl-horizontal-plan">
          <dt>Plan type:</dt>
          <dd>{{ plan?.description }} <a [routerLink]="['/billing/plan']" href="#">Change</a></dd>
          <dt>Number of accounts:</dt>
          <dd>{{ editing?.accountCount + subscription?.accounts_count}}
            <a [routerLink]="['/admin/accounts']" href="#">Add Account</a>
          </dd>
          <dt>Storage plan:</dt>
          <dd>... <a [routerLink]="['/settings/storage']" href="#">Manage</a></dd>
          <dt>Total billing:</dt>
          <dd>
            ${{ editing?.accountCount * (editing?.accountPrice | number) + (subscription?.amount | number) }}/month
          </dd>
          <dt>Payment method:</dt>
          <dd>VISA <a [routerLink]="['/billing/payment_methods']" href="#">Change</a></dd>
          <dt>Next billing date:</dt>
          <dd>{{ subscription?.next_billing_date | date: 'MMM dd yyyy' }}</dd>
        </dl>
      </div>
    </div>
    <p>Subscription fees are billed at the beginning of each month and may take a few days for the billing date to appear on your account.</p>
    <button class="btn btn-outline-default" type="button">Cancel Subscription</button>
  </div>
</div>
