<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{PanelTitle}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <form id="changePasswordForm" [ngFormModel]="changePasswordForm">
          <div class="form-group" [ngClass]="{'has-error': oldpassword.dirty && !oldpassword.valid}">
            <label>Old password</label>
            <input type="password" class="form-control"
                   id="oldpassword" name="oldpassword"
                   ngControl="oldpassword" #oldpassword="ngForm">
            <control-messages class="help-block" control="oldpassword"></control-messages>
          </div>
          <div class="form-group" [ngClass]="{'has-error': password.dirty && !password.valid}">
            <label>New password</label>
            <input type="password" class="form-control"
                   id="password" name="password" ngControl="password" #password="ngForm">
            <control-messages class="help-block" control="password"></control-messages>
          </div>
          <div class="form-group" [ngClass]="{'has-error': password_confirmation.dirty && !password_confirmation.valid}">
            <label>Confirm new password</label>
            <input type="password" class="form-control"
                   id="password_confirmation" name="password_confirmation"
                   ngControl="password_confirmation" #password_confirmation="ngForm">
            <control-messages class="help-block" control="password_confirmation"></control-messages>
          </div>
          <button type="submit" class="btn btn-primary"
                  [disabled]="!changePasswordForm.valid"
                  (click)="changePassword(oldpassword.value, password.value)">Change
          </button>
          <a class="btn btn-link" [routerLink]="['/account/recovery/forgottenpassword']">I forgot my password</a>
        </form>
      </div>
    </div>
  </div>
</div>
