<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <account-menu></account-menu>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Overview</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">super@wthapps.com</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Plan name:</label>
                            <div class="col-sm-10">
                                <p>Free Plan <a [routerLink]="['/account/payment']" class="ml20 btn btn-danger">Upgrade for only $9.99 per
                                    month</a></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Active devices:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">0</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Services:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">1</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Addons:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-action">
                    <a [routerLink]="['/account/services']" class="btn btn-sm btn-primary">Add more</a>
                    <h3 class="panel-title">My Services</h3>
                </div>
                <div class="panel-body pb0">
                    <div class="row">
                        <div class="col-xs-6 col-xs-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <img width="34" class="media-object" src="/assets/images/logo.png"
                                                 alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading mb0">DNS</h4>
                                        </div>
                                        <div class="media-right" style="white-space: nowrap">
                                            <a [routerLink]="['/account/dns']" class="btn btn-default">Manage</a>
                                            <button class="btn btn-default">Uninstall</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-action">
                    <a href="javascript:;" class="btn btn-sm btn-primary">Add more</a>
                    <h3 class="panel-title">My Add-ons</h3>
                </div>

                <!--TODO: add more add-ons similar-->
                <div class="panel-body pb0">
                    <div class="row">
                        <div class="col-xs-6 col-xs-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <img width="34" class="media-object" src="/assets/images/logo.png"
                                                 alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading mb0">Emojies</h4>
                                        </div>
                                        <div class="media-right" style="white-space: nowrap">
                                            <a href="javascript:;" class="btn btn-default">Manage</a>
                                            <button class="btn btn-default">Uninstall</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-xs-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <img width="34" class="media-object" src="/assets/images/logo.png"
                                                 alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading mb0">Auto BCC</h4>
                                        </div>
                                        <div class="media-right" style="white-space: nowrap">
                                            <a href="javascript:;" class="btn btn-default">Manage</a>
                                            <button class="btn btn-default">Uninstall</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-xs-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <img width="34" class="media-object" src="/assets/images/logo.png"
                                                 alt="...">
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="media-heading mb0">Custom Signature</h4>
                                        </div>
                                        <div class="media-right" style="white-space: nowrap">
                                            <a href="javascript:;" class="btn btn-default">Manage</a>
                                            <button class="btn btn-default">Uninstall</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
