.article-content {
  text-align: justify;
  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 20px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  table {
    max-width: 100% !important;
    @media (max-width: $screen-md-max) {
      width: 100% !important;
    }
  }
}

