@import "../../../assets/styles/global";

.page-body-control {
  &.sub-object-actions {
    @include transition($transition-base);
    @include box-shadow(none);
    background-color: $theme-color;
    color: #ffffff !important;
    .btn {
      color: #ffffff !important;
      &:not(.btn-text) {
        &:hover, &:focus {
          color: $theme-color !important;
        }
      }
    }
    .divider {
      border-right-color: #fff !important;
    }
    &.active {
      top: 0;
    }
  }
}
