<div class="page-body-control" [ngClass]="{'sub-object-actions' : (selectedObjects && selectedObjects.length > 0 && object)}">

  <!--Left actions-->
  <!--default left actions-->
  <ng-template #leftActions>
    <span class="btn btn-text text-fade hidden" [ngClass]="{'visible-xs-block': selectedObjects.length>0}">
      {{ selectedObjects.length }} Selected
    </span>
    <div class="dropdown" [ngClass]="{'hidden-xs': selectedObjects.length>0}">
      <button aria-expanded="true" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" tooltipposition="bottom"
        type="button">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs"> New</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="p0" href="javascript:void(0);" (click)="upload(['image/*'])">
            <span class="fileinput-button">
              <i class="fa fa-image"></i> Upload Photo
            </span>
          </a>
        </li>

        <li>
          <a class="p0" href="javascript:void(0);" (click)="uploadVideo(['video/mp4','video/x-m4v','video/*'])">
            <span class="fileinput-button">
              <i class="fa fa-video-camera"></i> Upload Video
            </span>
          </a>
        </li>

        <li>
          <a (click)="doAction({action: 'openModalCreateAlbumModal'})">
            <i class="fa fa-plus-circle"></i> Create Album
          </a>
        </li>
        <li>
          <a (click)="doAction({action: 'openModalCreatePlayListModal'})">
            <i class="fa fa-file-video-o"></i> Create Playlist
          </a>
        </li>
      </ul>
      <ng-container *ngTemplateOutlet="leftAddActionsTemplate? leftAddActionsTemplate : ''"></ng-container>
    </div>
  </ng-template>

  <div class="page-body-control-nav">
    <ng-container *ngTemplateOutlet="leftActionsTemplate? leftActionsTemplate : leftActions"></ng-container>
  </div>

  <!--object's main actions-->
  <div class="page-body-control-nav page-body-control-nav-right page-body-control-nav-action">
    <ng-container *ngTemplateOutlet="objectActionsTemplate"></ng-container>

    <!--view option-->
    <ul class="page-body-control-menu">
      <li class="dropdown">
        <a class="btn btn-default" href="javascript:void(0);" data-toggle="dropdown" draggable="false" pTooltip="{{ tooltip.changeView}}"
          tooltipPosition="bottom">
          <i class="fa" [ngClass]="{
             'fa-th-large': (viewMode === viewModes.grid),
             'fa-th-list': (viewMode === viewModes.list),
             'fa-align-left': (viewMode === viewModes.timeline)}">
          </i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
          <li [ngClass]="{'active-item': viewMode === viewModes.grid}">
            <a (click)="changeViewMode(viewModes.grid)" href="javascript:void(0);" draggable="false">
              <i class="fa fa-th-large"></i> Grid
              <i *ngIf="viewMode === viewModes.grid" class="fa fa-check pull-right"></i>
            </a>
          </li>
          <li [ngClass]="{'active-item': viewMode === viewModes.list}">
            <a (click)="changeViewMode(viewModes.list)" href="javascript:void(0);" draggable="false">
              <i class="fa fa-th-list"></i> List
              <i *ngIf="viewMode === viewModes.list" class="fa fa-check pull-right"></i>
            </a>
          </li>
          <li [ngClass]="{'active-item': viewMode === viewModes.timeline}">
            <a (click)="changeViewMode(viewModes.timeline)" href="javascript:void(0);" draggable="false">
              <i class="fa fa-align-left"></i> Timeline
              <i *ngIf="viewMode === viewModes.timeline" class="fa fa-check pull-right"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<ng-template #modalContainer></ng-template>
