<div class="intercom-conversation-part intercom-conversation-part-user">
  <div class="intercom-avatar">
    <img class="img-circle" src="/assets/images/avatar/avatar.png" alt="">
  </div>
  <div class="intercom-comment-container">
    <!--<p> {{ message.body }}</p>-->
  </div>
</div>
<!--<div class="intercom-conversation-part intercom-conversation-part-admin">-->
  <!--<div class="intercom-avatar">-->
    <!--<img class="img-circle" src="/assets/images/avatar/avatar.png" alt="">-->
  <!--</div>-->
  <!--<div class="intercom-comment-container">-->
    <!--<p>Hi! How are you</p>-->
  <!--</div>-->
  <!--<span class="intercom-comment-time">1h ago</span>-->
<!--</div>-->
