<div class="photo-box-img-nav">
  <div class="photo-box-img-figure">
    <div (click)="onAction('sort-name')" class="photo-box-img-name can-click">
      Name <i *ngIf="sortName" class="fa"
              [ngClass]="{'fa-arrow-up': (sortName == 'desc'), 'fa-arrow-down': (sortName == 'asc')}"></i>
    </div>
    <div class="photo-box-img-owner">Owner</div>
    <div (click)="onAction('sort-date')" class="photo-box-img-date can-click">
      Create Date <i *ngIf="sortDate" class="fa"
                     [ngClass]="{'fa-arrow-up': (sortDate == 'desc'), 'fa-arrow-down': (sortDate == 'asc')}"></i>
    </div>
    <div class="photo-box-img-size">Size</div>
  </div>
</div>
