<div class="panel panel-default">
  <div class="panel-body">
    <div class="media-left">
       <span class="avatar-md">
         <img src="/assets/images/avatar/avatar-lg.png" alt="">
       </span>
    </div>
    <div class="media-body">
      <div class="media-heading">Jaime Lannister</div>
      <p>Inside job</p>
    </div>
    <div class="media-right">
      <button class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
  </div>
</div>
