<ng-container *ngIf="contactSelect">
  <div class="page-body-nav">
    <div class="page-body-nav-left">
      <z-chat-share-user [data]="contactSelect" [displayAvatar]="false" [isStranger]="contactSelect?.group_type === 'couple' && !contactSelect?.active"
        [usersOnlineItem]="usersOnlineItem$ | async">
        <!--<small *ngIf="contactSelect.group_json.member_count > 2"
               [attr.title]="contactSelect.group_json | chatGroupMembers"
               class="can-click" (click)="onShowMemberBar()">
        </small>-->
        <!--<small *ngIf="contactSelect && !(contactSelect?.group_type === 'couple' && !contactSelect?.active)">-->
        <!--Active {{ contactSelect.group_json.interacted_at | timeFormat }}-->
        <!--</small>-->
      </z-chat-share-user>
    </div>
    <div *ngIf="contactSelect && !contactSelect.black_list" class="page-body-nav-right">
      <button *ngIf="contactSelect.group_json.group_type == 'multiple' && (userService.profile.id == contactSelect.group_json.creator_id || contactSelect.group_json.allow_add)"
        type="button" class="btn btn-default" (click)="onAddMember()" pTooltip="{{ tooltip.addMembers }}" tooltipPosition="top">
        <i class="fa fa-user-plus"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="onFavorite()" pTooltip="{{ (contactSelect.favourite) ? tooltip.removeFromFavourites : tooltip.addToFavorites }}"
        tooltipPosition="top">
        <i class="fa" [ngClass]="contactSelect.favourite? 'fa-star': 'fa-star-o'"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="toogleNotification()" pTooltip="{{ (contactSelect.notification) ? tooltip.disable_notification : tooltip.enable_notification }}"
        tooltipPosition="top">
        <i class="fa" [ngClass]="contactSelect.notification? 'fw fw-megaphone': 'fw fw-megaphone-mute'"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" pTooltip="{{ tooltip.moreAction }}"
          tooltipPosition="top">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <!--show if current isn't one user-->
          <ng-container *ngIf="contactSelect.group_json.group_type === 'multiple' && userService.profile.id == contactSelect.group_json.creator_id">
            <li>
              <a href="javascript:void(0);" (click)="onEditConversation()">Group settings</a>
            </li>
            <li role="separator" class="divider"></li>
          </ng-container>
          <li *ngIf="contactSelect.group_json.group_type == 'multiple'">
            <a href="javascript:;" (click)="leaveConversation()">Leave chat</a>
          </li>
          <!--show if current isn't one user-->
          <li>
            <a href="javascript:;" (click)="onDeleteConversation()">Hide chat</a>
          </li>
          <!--show if current is one user-->
          <li *ngIf="contactSelect.group_json.group_type == 'couple'">
            <a [routerLink]="[profileUrl, contactSelect.display.uuid]">View Profile</a>
          </li>
          <!-- <li role="separator" class="divider"></li>
          <li *ngIf="contactSelect.notification">
            <a href="javascript:;" (click)="disableNotification()">Disable Notification</a>
          </li>
          <li *ngIf="!contactSelect.notification">
            <a href="javascript:;" (click)="enableNotification()">Enable Notification</a>
          </li> -->
        </ul>
      </div>
      <button class="btn btn-default" (click)="onShowAssets()" type="button">
        <i [ngClass]="{'text-primary': openAssets}" class="fa fa-info-circle"></i>
      </button>
    </div>
    <div *ngIf="contactSelect && contactSelect.black_list" class="page-body-nav-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" pTooltip="{{ tooltip.moreAction }}"
          tooltipPosition="top">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <!--show if current is one user-->
          <li *ngIf="contactSelect.group_json.group_type == 'couple'">
            <a [routerLink]="[profileUrl, contactSelect.display.uuid]">View Profile</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-default" (click)="onShowAssets()" type="button">
        <i [ngClass]="{'text-primary': openAssets}" class="fa fa-info-circle"></i>
      </button>
    </div>
  </div>
</ng-container>
<z-chat-share-edit-conversation #editConversation [conversation]="contactSelect"></z-chat-share-edit-conversation>
