<ng-container *ngIf="contactSelect">
  <div class="page-body-nav">
    <div class="page-body-nav-left">
      <z-chat-share-user [data]="contactSelect" [isStranger]="contactSelect.group_type === 'couple' && !contactSelect?.active"
        [displayAvatar]="inContacBook" [usersOnlineItem]="usersOnlineItem$ | async">
        <!--<small *ngIf="contactSelect.group_json.member_count > 2"
               [attr.title]="contactSelect.group_json | chatGroupMembers"
               class="can-click" (click)="onShowMemberBar()">
        </small>-->
        <small *ngIf="inContacBook">
          Active {{ contactSelect.group_json.interacted_at | timeFormat }}
        </small>
        <small *ngIf="!inContacBook">
          This user isn't in your Contacts
        </small>
      </z-chat-share-user>
    </div>
    <div class="page-body-nav-right">
      <button *ngIf="contactSelect.group_json.group_type == 'multiple' && (userService.profile.id == contactSelect.group_json.creator_id || contactSelect.group_json.allow_add)"
        type="button" class="btn btn-default" (click)="onAddMember()" pTooltip="{{ tooltip.addMembers }}"
        tooltipPosition="top">
        <i class="fa fa-user-plus"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="onFavorite()" pTooltip="{{ (contactSelect.favourite) ? tooltip.removeFromFavourites : tooltip.addToFavorites }}"
        tooltipPosition="top">
        <i class="fa" [ngClass]="contactSelect.favourite? 'fa-star': 'fa-star-o'"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" pTooltip="{{ tooltip.moreAction }}"
          tooltipPosition="top">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="javascript:;" (click)="sendContact()">Send Contact</a>
          </li>
          <li role="separator" class="divider"></li>
          <!--show if current isn't one user-->
          <li *ngIf="contactSelect.group_json.group_type === 'multiple' && userService.profile.id == contactSelect.group_json.creator_id">
            <a href="javascript:void(0);" (click)="onEditConversation()">Group Settings</a>
          </li>
          <li *ngIf="contactSelect.group_json.group_type == 'multiple'">
            <a href="javascript:;" (click)="leaveConversation()">Leave Conversation</a>
          </li>
          <!--show if current isn't one user-->
          <li>
            <a href="javascript:;" (click)="onDeleteConversation()">Hide Conversation</a>
          </li>
          <!--show if current is one user-->
          <li *ngIf="contactSelect.group_json.group_type == 'couple'">
            <a [routerLink]="[profileUrl, contactSelect.display.uuid]">View Profile</a>
          </li>
          <!--show if current is one user-->
          <li role="separator" class="divider"></li>
          <li *ngIf="contactSelect.notification">
            <a href="javascript:;" (click)="disableNotification()">Disable Notification</a>
          </li>
          <li *ngIf="!contactSelect.notification">
            <a href="javascript:;" (click)="enableNotification()">Enable Notification</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-default" (click)="onShowAssets()" type="button">
        <i [ngClass]="{'text-primary': openAssets}" class="fa fa-info-circle"></i>
      </button>
    </div>
  </div>
</ng-container>
<z-chat-share-edit-conversation #editConversation [conversation]="contactSelect"></z-chat-share-edit-conversation>
