<ng-container *ngIf="conversation">
  <div class="page-body-nav">
    <div class="page-body-nav-left">
      <z-chat-share-user [data]="conversation" [displayAvatar]="false" [isPending]="conversation?.group_type === 'couple' && conversation?.status == 'sent_request'"
        [usersOnlineItem]="usersOnlineItem$ | async">
      </z-chat-share-user>
    </div>
    <div *ngIf="conversation && !conversation.blacklist" class="page-body-nav-right">
      <button *ngIf="conversation.group_type == 'multiple' && (userService.profile.id == conversation.creator_id || conversation.allow_add)"
        type="button" class="btn btn-default" (click)="addMember()" pTooltip="{{ tooltip.addMembers }}" tooltipPosition="top">
        <i class="fa fa-user-plus"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="favorite()" pTooltip="{{ (conversation.favorite) ? tooltip.removeFromFavorites : tooltip.addToFavorites }}"
        tooltipPosition="top">
        <i class="fa" [ngClass]="conversation.favorite? 'fa-star': 'fa-star-o'"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="toggleNotification()" pTooltip="{{ (conversation.notification) ? tooltip.disable_notification : tooltip.enable_notification }}"
        tooltipPosition="top">
        <i class="fa" [ngClass]="conversation.notification? 'fw fw-megaphone': 'fw fw-megaphone-mute'"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" pTooltip="{{ tooltip.moreAction }}"
          tooltipPosition="top">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <!--show if current isn't one user-->
          <ng-container *ngIf="conversation.group_type === 'multiple' && userService.profile.id == conversation.creator_id">
            <li>
              <a href="javascript:void(0);" (click)="onEditConversation()">Group settings</a>
            </li>
            <li role="separator" class="divider"></li>
          </ng-container>
          <li *ngIf="conversation.group_type == 'multiple'">
            <a href="javascript:;" (click)="leaveConversation()">Leave chat</a>
          </li>
          <!--show if current isn't one user-->
          <li>
            <a href="javascript:;" (click)="hideConversation()">Hide chat</a>
          </li>
          <li>
            <a href="javascript:;" (click)="deleteConversation()">Delete Chat</a>
          </li>
          <!--show if current is one user-->
          <li *ngIf="conversation.group_type == 'couple'">
            <a [routerLink]="[profileUrl, conversation.uuid]">View Profile</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-default" (click)="onShowAssets()" type="button">
        <i [ngClass]="{'text-primary': openAssets}" class="fa fa-info-circle"></i>
      </button>
    </div>
    <div *ngIf="conversation && conversation.blacklist" class="page-body-nav-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" pTooltip="{{ tooltip.moreAction }}"
          tooltipPosition="top">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <!--show if current is one user-->
          <li *ngIf="conversation.group_type == 'couple'">
            <a [routerLink]="[profileUrl, conversation.uuid]">View Profile</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-default" (click)="onShowAssets()" type="button">
        <i [ngClass]="{'text-primary': openAssets}" class="fa fa-info-circle"></i>
      </button>
    </div>
  </div>
</ng-container>
<z-chat-share-edit-conversation #editConversation [conversation]="conversation"></z-chat-share-edit-conversation>
