<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <form [formGroup]="passwordConfirmationForm">

      <ng-container *ngIf="attemptsFailed < retryTimes; else wrongPassword">  
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Confirm password</h4>
    </bs-modal-header>
    <bs-modal-body>    
      <p class="text-fade">Please enter your password to complete the process.</p>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group no-label"
               [ngClass]="{'has-error': (!passwordConfirmationForm.controls.password.valid && passwordConfirmationForm.controls.password.touched),
                           'has-success': (passwordConfirmationForm.controls.password.valid && passwordConfirmationForm.controls.password.touched)}">
            <input type="password" formControlName="password" id="password" class="form-control"
                   placeholder="Enter password" autofocus/>
            <span (click)="toggleShowingPassword($event)" class="hideShowPassword-toggle toggle-password-icon"
                  pTooltip="show or hide password" tooltipPosition="top"></span>
            <div *ngIf="!passwordConfirmationForm.controls.password.valid && passwordConfirmationForm.controls.password.touched">
              <span *ngIf="passwordConfirmationForm.controls.password.errors.required"
                    class="help-block">A password is required
              </span>
              <span *ngIf="passwordConfirmationForm.controls.password.errors.notMatched"
                    class="help-block">The password was not matched
              </span>

            </div>
          </div>
        </div>
      </div>     
      
    </bs-modal-body>

    <bs-modal-footer>
      <button (click)="modal.close()" type="button" class="btn btn-outline-default btn-min">
        Cancel
      </button>
      <button type="button" class="btn btn-outline-primary btn-min"
              [disabled]="!passwordConfirmationForm.valid || passwordConfirmationForm.pristine"
              (click)="submit(passwordConfirmationForm.value)"> Continue
      </button>
    </bs-modal-footer>

      </ng-container>
  </form>
</bs-modal>


<bs-modal #wrongPasswordModal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Your password is incorrect</h4>
  </bs-modal-header>
  <bs-modal-body>
    <p>You entered the wrong password three times. Please try again later.</p>
    <p></p>
    <p>Forgot your password? <a href="#">Request a new one</a> </p>
    
    
  </bs-modal-body>

  <bs-modal-footer>
    <button type="button" click="close()" class="btn btn-outline-primary btn-min">
      Done
    </button>
    
  </bs-modal-footer>
</bs-modal>
