<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <form [formGroup]="passwordConfirmationForm">
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Confirm password</h4>
    </bs-modal-header>
    <bs-modal-body>
      <p class="text-fade">Please enter your password to complete process</p>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group no-label"
               [ngClass]="{'has-error': (!passwordConfirmationForm.controls.password.valid && passwordConfirmationForm.controls.password.touched),
                           'has-success': (passwordConfirmationForm.controls.password.valid && passwordConfirmationForm.controls.password.touched)}">
            <input type="password" formControlName="password" id="password" class="form-control"
                   placeholder="Enter password" autofocus/>
            <span (click)="toggleShowingPassword($event)" class="hideShowPassword-toggle toggle-password-icon"
                  pTooltip="show or hide password" tooltipPosition="top"></span>
            <div *ngIf="!passwordConfirmationForm.controls.password.valid && passwordConfirmationForm.controls.password.touched">
              <span *ngIf="passwordConfirmationForm.controls.password.errors.required"
                    class="help-block">An password is required
              </span>
              <span *ngIf="passwordConfirmationForm.controls.password.errors.notMatched"
                    class="help-block">The password was not matched
              </span>

            </div>
          </div>
        </div>
      </div>
      <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
          <!--<p>New password must:</p>-->
          <!--<ul>-->
            <!--<li [ngClass]="password.errors && (password.errors.required || password.errors.minlength) ? '' : 'text-success'">Contain at least 8 characters or more</li>-->
            <!--<li [ngClass]="password.errors && password.errors.lowercaseUppercase ? '' : 'text-success'">Contain both uppercase and lowercase characters</li>-->
            <!--<li [ngClass]="password.errors && password.errors.specialSymbolOrNumber ? '' : 'text-success'">Contain at least one number or symbol</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    </bs-modal-body>

    <bs-modal-footer>
      <button (click)="modal.close()" type="button" class="btn btn-outline-default btn-min">
        Cancel
      </button>
      <button type="button" class="btn btn-outline-primary btn-min"
              [disabled]="!passwordConfirmationForm.valid || passwordConfirmationForm.pristine"
              (click)="submit(passwordConfirmationForm.value)"> Done
      </button>
    </bs-modal-footer>
  </form>
</bs-modal>
