<div class="page-body-content gray-light"
     lockYOffset="20"
     observeAttributes="true"
     infinite-scroll
     [scrollWindow]="false"
     (scrolled)="getMoreNotifications()">
  <div class="page-body-content-in zone-social">

    <div class="zone-social-in">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">Notifications</h3>
          <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="notifications.open()"><i class="fa fa-cog"></i> Settings</button>
          </div>
        </div>

        <partials-notifications #notifications></partials-notifications>

        <div class="panel-footer text-center">
          <a href="#" class="bold text-bigger">View more</a>
        </div>
      </div>


    </div>
  </div>
</div>

