.dropzonecrop-previews {
  display: none;
}

.dropzonecrop-cropper {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  img {
    max-width: 100%;
    height: auto;
  }
}

.dropzonecrop-cropper {
  display: none;
}

.dropzonecrop-control {
  display: none;
  text-align: center;
  margin-top: 10px;
}

.dropzonecrop-onThumbnail {
  .dropzonecrop-wrap {
    display: none;
  }
  .dropzonecrop-cropper, .dropzonecrop-control {
    display: block;
  }
}

.cropper-view-box {
  outline-color: rgba(#ffffff, 0.75);
}

.cropper-line, .cropper-point {
  background-color: #ffffff;
}

.cropper-point {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
