@import '../../../../assets/styles/global';
@import "../../../../assets/styles/variables";
@import "../../../../assets/fonts/font-awesome/scss/custom-variables";
@import "../../../../assets/fonts/font-awesome/scss/font-awesome";

$note-editor-aside-w: 400px;

.modal-note-edit {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .modal-body {
    padding: 0;
    height: 100vh;
    @include flexbox;
    @include flex-direction(column);
  }
  .container-fluid {
    max-width: none;
  }
}

.note-editor-header {
  padding: $grid-gutter-width/2;

  .note-editor-header-content {
    @include flexbox;
  }
  .note-editor-header-action-right {
    @include order(1);
  }
  .note-editor-header-input {
    @include flex(1);
    padding: 0 $grid-gutter-width/2;
  }
}

.note-editor-nav {
  @include box-shadow($box-shadow-bottom-sm);
  position: relative;
  z-index: 2;
}

.note-editor-content {
  @include flex(1);
  @include flexbox;
  @include flex-direction(column);

  position: relative;
  background-color: #f6f6f6;

  .note-editor-toolbar {
    background-color: #fbfbfb;
    padding: 1px 0;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
    .ql-toolbar.ql-snow {
      border-width: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .quill-toolbar-attachment {
      padding: 8px 0;
    }
  }
  .note-editor-body {
    @include flex(1);
    overflow: auto;
    padding-top: $grid-gutter-width/2;
  }
  .note-editor-aside {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: -$note-editor-aside-w;
    width: $note-editor-aside-w;
    background-color: #fff;
    border: 1px solid $line;
    overflow: auto;
    @include transition($transition-base);
  }
  &.show-aside {
    padding-right: $note-editor-aside-w;
    .note-editor-aside {
      right: 0;
    }
    .container {
      width: auto;
    }
  }
}

//
//.quill-toolbar-wrap {
//  .quill-toolbar-header {
//    padding: $grid-gutter-width/2;
//    position: relative;
//    @include flexbox;
//    .form-group {
//      margin: 0 $grid-gutter-width/2;
//      @include flex(1);
//    }
//    .quill-toolbar-action-right {
//      @include order(1);
//    }
//  }
//
//  .quill-toolbar-tabs {
//    @include box-shadow($box-shadow-bottom-sm);
//    position: relative;
//    .nav-tabs-wrap {
//      padding-left: 0;
//      padding-right: 0;
//      padding-top: 0;
//    }
//  }
//
//  .quill-toolbar-navbar {
//    background-color: #fbfbfb;
//    padding: 2px 0;
//    border-top: 1px solid $line;
//    border-bottom: 1px solid $line;
//    .ql-toolbar.ql-snow {
//      border-width: 0;
//      padding-left: 0;
//      padding-right: 0;
//    }
//    .quill-toolbar-attachment {
//      padding: 8px 0;
//    }
//  }
//}
//
//.quill-content-wrap {
//  background-color: #f6f6f6;
//  padding-top: $grid-gutter-width/2;
//  .ql-container {
//    background-color: #ffffff;
//  }
//
//  .col-attachment-action {
//    text-align: right;
//    width: 100px;
//  }
//  .col-attachment-date {
//    width: 200px;
//  }
//  .col-attachment-size {
//    width: 200px;
//  }
//}
//
