@import '../../../../assets/styles/global';
@import "../../../../assets/styles/variables";
@import "../../../../assets/fonts/font-awesome/scss/custom-variables";
@import "../../../../assets/fonts/font-awesome/scss/font-awesome";

.modal-note-edit {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .modal-body {
    padding: 0;
    height: 100vh;
    @include flexbox;
    @include flex-direction(column);
    .quill-content-wrap {
      @include flex(1);
      overflow: auto;
    }
  }
}

.quill-toolbar-wrap {
  .quill-toolbar-header {
    padding: $grid-gutter-width/2 230px $grid-gutter-width/2 $grid-gutter-width/2;
    position: relative;
    border-bottom: 1px solid $line;
    .form-group {
      margin: 0;
    }
    .quill-toolbar-action {
      position: absolute;
      right: $grid-gutter-width/2;
    }
  }

  .quill-toolbar-tabs {
    @include box-shadow($box-shadow-bottom-sm);
    position: relative;
    .nav-tabs-wrap {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }

  .quill-toolbar-navbar {
    background-color: #fbfbfb;
    padding: 2px 0;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
    .ql-toolbar.ql-snow {
      border-width: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .quill-toolbar-attachment {
      padding: 4px 0;
    }
  }
}

.quill-content-wrap {
  background-color: #f6f6f6;
  padding-top: $grid-gutter-width/2;
  .ql-container {
    background-color: #ffffff;
  }

  .col-attachment-action {
    text-align: right;
    width: 100px;
  }
  .col-attachment-date {
    width: 200px;
  }
  .col-attachment-size {
    width: 200px;
  }
}

