@import '../../../../assets/styles/global';
@import "../../../../assets/styles/variables";
@import "../../../../assets/fonts/font-awesome/scss/custom-variables";
@import "../../../../assets/fonts/font-awesome/scss/font-awesome";

.photo-box {
  .photo-box-action {
    display: none;
  }
  &:hover {
    .photo-box-action {
      display: block;
    }
  }
}

.note-read-only {
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include opacity(0);
    cursor: pointer;
  }
}

@media all {
  p > img {
    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    cursor: move !important;
  }

  .big-icon {
    font-size: 200px;
  }
}

@media screen {
  .printable {
    /*visibility: hidden;*/
    display: none;
  }
}

@media print {
  body {
    //visibility: hidden;
    display: none;
  }
  .ql-container.ql-snow {
    border-style: none;
  }
  .printable {
    //visibility: visible;
    display: block;
  }

}
