<div *ngIf="!item.disable_comment" class="z-social-comment">
  <!--Add new comment-->
  <comment-item-editor (eventEmitter)="onCallBack($event)" [parent]="item" [mode]="commentEditorMode.Add"></comment-item-editor>

  <!--<div class="z-social-comment-num" *ngIf="item.total_comments > 0 && item.total_comments <= 1">-->
    <!--{{item.comments?.length}} of {{item.total_comments}} Comment-->
  <!--</div>-->
  <!--<div class="z-social-comment-num" *ngIf="item.total_comments > 1">{{item.comments?.length}} of {{item.total_comments}}-->
    <!--Comments-->
  <!--</div>-->
  <input type="checkbox" class="read-more-state" attr.id="post-{{item.uuid}}"/>
  <ul class="z-social-comment-list media-list read-more-wrap">


    <!--<li class="media" *ngFor="let comment of item.comments; let i = index" [ngClass]="{'read-more-target': (i > 2)}">-->
    <li class="media" *ngFor="let comment of item.comments; let i = index">

      <!--<div id="container-comment-{{comment?.uuid}}-edit"></div>-->

      <!--Edit comment-->

      <template [ngIf]="comment?.isEditting">
       <comment-item-editor style="display: block"
                             (eventEmitter)="onCallBack($event)"
                             [parent]="item"
                             [originComment]="comment"
                             [mode]="commentEditorMode.Edit" ></comment-item-editor>
      </template>

      <div *ngIf="!comment?.isEditting">
        <div class="media-left">
          <a [routerLink]="['/profile/', comment.owner.uuid]">
            <span class="avatar-xs">
              <img [src]="comment.owner.profile_image" alt="">
            </span>

          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a [routerLink]="['/profile', comment.owner.uuid]">{{comment.owner.name}}</a>
            <span class="media-heading-time">{{comment.created_at | timeFormat}}</span>
          </h4>
          <p>{{comment.content}}</p>
          <a *ngIf="comment.photo" (click)="onActions(actions.onShowPhotoDetail, {data: comment.uuid, commentType: comment.photo.id})">
            <img *ngIf="comment.photo" [src]="comment.photo.thumbnail_url">
          </a>
          <div class="media-body-action dropdown pull-right" *ngIf="userService.profile.uuid == comment.owner.uuid">
            <a data-toggle="dropdown">
              <i class="fa fa-pencil"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;"
                     (click)="onActions(actions.onEditComment, {data: comment, commentType: 'comment'})">Edit</a></li>

              <li><a href="javascript:;"
                     (click)="onActions(actions.onDeleteComment, {data: comment, commentType: 'comment'})">Delete</a></li>
            </ul>
          </div>
          <div class="media-body-reply">
            <ul>
              <li>
                <i class="fa fa-thumbs-o-up mr5" [ngClass]="{'active' : (comment.reactions?.indexOf('like') >= 0)}"
                   (click)="postItem.createReaction($event, 'like', 'comment', comment.uuid)"></i>
                <a *ngIf="comment.likes.length>0" data-toggle="modal" href="#"
                   (click)="onActions(actions.openLikeDislike, comment.likes, 'like')">{{comment.likes.length}}</a>
                <a *ngIf="comment.likes.length==0" href="javascript:;">{{comment.likes.length}}</a>
              </li>
              <li>
                <i class="fa fa-thumbs-o-down mr5" [ngClass]="{'active' : (comment.reactions?.indexOf('dislike') >= 0)}"
                   (click)="postItem.createReaction($event, 'dislike', 'comment', comment.uuid)"></i>
                <a *ngIf="comment.dislikes.length>0" data-toggle="modal" href="#"
                   (click)="onActions(actions.openLikeDislike, comment.dislikes, 'dislike')">{{comment.dislikes.length}}</a>
                <a *ngIf="comment.dislikes.length==0" href="javascript:;">{{comment.dislikes.length}}</a>
              </li>
              <li><a href="javascript:;" (click)="onActions(actions.onCreateComment, {parent: comment, parentType: 'SocialNetwork::Comment'})"
                     [innerHTML]="totalRepliesInWords(comment?.comments)"> </a></li>
            </ul>
          </div>
        </div>
      </div>




      <div class="media" *ngFor="let reply of comment.comments; let j = index">
        <!--Edit reply-->
        <template [ngIf]="reply?.isEditting">
        <comment-item-editor style="display: block"
                             (eventEmitter)="onCallBack($event)"
                             [parent]="comment"
                             [parentType]="'SocialNetwork::Comment'"
                             [originComment]="reply"
                             [mode]="commentEditorMode.Edit"></comment-item-editor>
        </template>
        <div *ngIf="!reply?.isEditting">
          <div class="media-left">
            <a [routerLink]="['/profile/', reply.owner.uuid]" class="media-object">
              <span class="avatar-xs">
                <img [src]="reply.owner.profile_image" alt="">
              </span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a [routerLink]="['/profile', reply.owner.uuid]">{{reply.owner.name}}</a>
              <span class="media-heading-time">{{reply.created_at | timeFormat}}</span>
              <div class="media-body-action dropdown pull-right" *ngIf="userService.profile.uuid == reply.owner.uuid">
                <a data-toggle="dropdown">
                  <i class="fa fa-pencil"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;" (click)="onActions(actions.onEditComment, {data: reply, commentType: 'comment'})">Edit</a></li>
                  <li><a href="javascript:;" (click)="onActions(actions.onDeleteReply, {data: reply, commentType: 'comment'})">Delete</a></li>
                </ul>
              </div>
            </h4>
            <p>{{reply.content}}</p>
            <a *ngIf="reply.photo"
               (click)="onActions(actions.onShowPhotoDetail, {data: reply.uuid, commentType: reply.photo.id})">
              <img *ngIf="reply.photo" [src]="reply.photo.thumbnail_url">
            </a>
            <div class="media-body-reply">
              <ul>
                <li>
                  <i class="fa fa-thumbs-o-up mr5" [ngClass]="{'active' : (reply.reactions.indexOf('like') >= 0)}"
                     (click)="postItem.createReaction($event, 'like', 'comment', reply.uuid)"></i>
                  <a *ngIf="reply.likes.length>0" data-toggle="modal" href="#"
                     (click)="onActions(actions.openLikeDislike, reply.likes, 'like')">{{reply.likes.length}}</a>
                  <a *ngIf="reply.likes.length==0" href="javascript:;">{{reply.likes.length}}</a>
                </li>
                <li>
                  <i class="fa fa-thumbs-o-down mr5" [ngClass]="{'active' : (reply.reactions.indexOf('dislike') >= 0)}"
                     (click)="postItem.createReaction($event, 'dislike', 'comment', reply.uuid)"></i>
                  <a *ngIf="reply.dislikes.length>0" data-toggle="modal" href="#"
                     (click)="onActions(actions.openLikeDislike, reply.dislikes, 'dislike')">{{reply.dislikes.length}}</a>
                  <a *ngIf="reply.dislikes.length==0" href="javascript:;">{{reply.dislikes.length}}</a>
                </li>
                <!--<li><a href="javascript:;" (click)="onActions(actions.onReply, comment)"-->
                       <!--[innerHtml]="totalRepliesInWords(comment.replies)"></a></li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <template [ngIf]="comment?.isCreatingNewReply">
      <comment-item-editor style="display: block;"
                           (eventEmitter)="onCallBack($event)"
                           [parent]="comment"
                           [parentType]="'SocialNetwork::Comment'"
                           [mode]="commentEditorMode.Add"></comment-item-editor>
      </template>
    </li>
  </ul>
  <div *ngIf="!loadingDone" class="z-social-comment-more">
    <!--<label attr.for="post-{{item.uuid}}" class="read-more-trigger" (click)="viewAllComments()">View all comments</label>-->
    <label attr.for="post-{{item.uuid}}" class="read-more-trigger" (click)="getMoreComments()">View more
      comments</label>
  </div>
</div>
