<div
  class="page-body-content gray-light"
  lockYOffset="20"
  observeAttributes="true"
  infinite-scroll
  [scrollWindow]="false"
  (scrolled)="onLoadMore()">
  <div class="page-body-content-in zone-social">

    <div class="zone-social-in">
      <div class="zone-social-cover">
        <cover-profile [item]="community" (outEvent)="onCoverAction($event)">
          <so-information>
            <div class="z-social-media-body">
              <div class="z-heading">
                <div class="z-name"> {{ community?.name }}</div>
              </div>
              <div class="z-shared-info">
                <ul>
                  <li>{{community?.users?.length }} {{ (community?.users && community?.users.length >= 2) ? 'members' :
                    'member' }}
                  </li>
                  <li *ngIf="is_close">
                    Private
                  </li>
                </ul>
              </div>
              <div class="z-shared-description">{{community?.tag_line}}</div>
            </div>

            <div class="hd-item-action-right-bottom">
              <button class="btn btn-default" type="button" (click)="chooseMembers($event)"
                      data-toggle="modal"
                      data-target="#modal-social-share-com" *ngIf="isMember">
                <i class="fa fa-user-plus"></i> Invite Member
              </button>

              <button class="btn btn-default" type="button" (click)="askToJoin()"
                      *ngIf="!isMember && !joinRequestId">
                <i class="fa fa-user-plus"></i> Ask to join
              </button>


              <div class="btn-group pull-right" *ngIf="!isMember && joinRequestId != undefined">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  Asked to join <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-custom">
                  <li>
                    <a href="javascript:;" (click)="cancelJoinRequest(joinRequestId)">Cancel Join Request</a>
                  </li>
                </ul>
              </div>

              <div class="btn-group pull-right" *ngIf="!isMember && invitationId != undefined">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  Invited to join <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-custom">
                  <li>
                    <a href="javascript:;" (click)="cancelInvitation(invitationId)">Cancel Invitation</a>
                  </li>
                </ul>
              </div>


              <!--community menu-->
              <ul class="pull-right list-unstyled clearfix">
                <li class=" dropdown">
                  <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true" (click)="getUserSettings(community?.uuid)">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                    <li *ngIf="isAdmin"><a href="javascript:;" (click)="onEdit()">Edit Information</a></li>
                    <li><a href="javascript:;" (click)="toggleComNotification(community?.uuid)">
                      {{userSettings?.mute ? 'Enable' : 'Disable'}} notifications </a>
                    </li>
                    <li><a href="javascript:;" (click)="onPreference()">Preferences</a></li>
                    <li *ngIf="isAdmin"><a [routerLink]="[communitiesUrl, uuid]" [queryParams]="{tab: 'members'}">Manage
                      members</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="javascript:;" (click)="addFavourite(uuid)"> Favourites
                        <i class="fa pull-right" [ngClass]="userSettings?.favorite.uuid ? 'fa-star': 'fa-star-o'"></i>
                      </a>
                    </li>
                    <li><a href="javascript:;" (click)="confirmLeaveCommunity()">Leave community</a></li>
                    <li><a href="javascript:;" (click)="onReport()">Report community</a></li>
                    <li *ngIf="isAdmin"><a href="javascript:;" (click)="onDelete()">Delete community</a></li>
                  </ul>
                </li>
              </ul>
            </div>

          </so-information>

        </cover-profile>


        <nav class="nav-tabs-wrap clearfix">
          <div class="pull-left btn-group hidden-md hidden-lg">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              {{selectedTabTitle}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <template ngFor let-itab [ngForOf]="tabData" *ngIf="isAdmin">
                <li>
                  <a [routerLink]="[communitiesUrl, uuid]" [queryParams]="itab.key !== tab.post ? {tab:itab.key} : {}">{{itab.value}}</a>
                </li>
              </template>
              <template ngFor let-itab [ngForOf]="tabData" *ngIf="!isAdmin">
                <li *ngIf="itab.key != 'invitations' && itab.key != 'join_requests'">
                  <a [routerLink]="[communitiesUrl, uuid]" [queryParams]="itab.key !== tab.post ? {tab:itab.key} : {}">{{itab.value}}</a>
                </li>
              </template>
            </ul>
          </div>

          <ul class="nav nav-tabs pull-left list-unstyled clearfix visible-md-block visible-lg-block">
            <li [ngClass]="selectedTab==undefined || selectedTab == 'post' ? 'active': ''">
              <a [routerLink]="[communitiesUrl, uuid]" [queryParams]="{}">Post</a>
            </li>
            <li [ngClass]="selectedTab=='about'? 'active': ''">
              <!--<a [routerLink]="['/'+ communitiesUrl+ '/'+ uuid]" [queryParams]="{tab:'about'}">About</a>-->
              <a [routerLink]="[communitiesUrl, uuid]" [queryParams]="{tab:'about'}">About</a>
            </li>
            <li [ngClass]="selectedTab=='members'? 'active': ''">
              <a [routerLink]="[communitiesUrl, uuid]" [queryParams]="{tab:'members'}">
                Members
                <span *ngIf="community?.member_count" class="badge-right">{{community?.member_count}}</span>
               </a>
            </li>
            <li [ngClass]="selectedTab=='invitations'? 'active': ''" *ngIf="isAdmin">
              <a [routerLink]="[communitiesUrl, uuid]" [queryParams]="{tab:'invitations'}">
                Invitations
                <span *ngIf="community?.invitation_count" class="badge-right">{{community?.invitation_count}}</span>
              </a>
            </li>
            <li [ngClass]="selectedTab=='join_requests'? 'active': ''" *ngIf="isAdmin">
              <a [routerLink]="[communitiesUrl, uuid]" [queryParams]="{tab:'join_requests'}">
                Join Requests
                <span *ngIf="community?.join_request_count" class="badge-right">{{community?.join_request_count}}</span>
              </a>
            </li>
            <!--<li [ngClass]="selectedTab=='blacklist'? 'active': ''" *ngIf="isAdmin">-->
            <!--<a [routerLink]="['/', communitiesUrl, uuid]" [queryParams]="{tab:'blacklist'}">Blacklist</a>-->
            <!--</li>-->
          </ul>

        </nav>
      </div>

      <!--post list-->
      <so-post-list *ngIf="isPostTab" #posts [type]="'community'" [community]="community"></so-post-list>

      <!--about-->
      <div class="panel panel-default" *ngIf="isAboutTab">
        <div class="panel-heading">
          <div class="pull-right">
            <a href="javascript:;" (click)="onEdit()" class="btn btn-default-inline pull-right" *ngIf="isAdmin">
              <i class="fa fa-pencil"></i>
            </a>
          </div>
          <h3 class="panel-title">About Us</h3>
        </div>
        <div class="panel-body">
          <div>
            {{community?.description}}
          </div>

          <ul *ngIf="community?.additional_links" class="list-unstyled">
            <li *ngFor="let link of community?.additional_links">
              <i class="fa fa-globe"></i>
              <a target="_blank" href="{{link.url | urlTransform}}">{{ link ? link.name : ""}}</a>
            </li>
          </ul>
        </div>
      </div>

      <!--members-->

      <!--<member-list-invite #users (onSelected)="inviteMembers($event)"></member-list-invite>-->
      <div *ngIf="isMember">
        <entity-select #users type='member_invite' (onSelected)="inviteMembers($event)"></entity-select>
      </div>

      <div class="panel panel-default" *ngIf="isMember && !isAboutTab && !isPostTab">
        <ul class="list-group" *ngIf="selectedTab == 'members'">
          <template *ngIf="tabItems" ngFor let-item [ngForOf]="tabItems">
            <li class="list-group-item" >
              <div class="dropdown pull-right">
                <!--<span class="text-fade member-role">{{ community.user.uuid == community.community.admin.uuid ? MEMBER_ROLE.Admin : MEMBER_ROLE.Member}}</span>-->
                <span class="text-fade member-role">{{(item?.role === 1) ? 'Admin' :'Member'}}</span>
                <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-custom">
                  <li><a href="javascript:;" (click)="makeAdmin(item?.user)" *ngIf="isAdmin">Make Admin</a></li>
                  <li><a href="javascript:;" (click)="deleteMember(item?.user)" *ngIf="isAdmin">Remove</a></li>
                  <li><a href="javascript:;" (click)="onReportMember(item?.user.uuid)">Report
                    Member</a>
                  </li>
                  <li><a href="javascript:;" *ngIf="isAdmin">Blacklist</a></li>
                </ul>
              </div>
              <img [alt]="item?.user?.name" [src]="item?.user?.profile_image" title="" width="30">
              <span>{{item?.user.name}}</span>
            </li>
          </template>
        </ul>

        <ul class="list-group" *ngIf="selectedTab == 'invitations'">
          <template *ngIf="tabItems" ngFor let-item [ngForOf]="tabItems">
            <li class="list-group-item" data-id="invitation_{{item.id}}">
              <div class="dropdown pull-right">
                <a href="javascript:;" class="btn btn-link" (click)="cancelInvitation(item.id)">CANCEL</a>
              </div>
              <img [alt]="item?.accepter.name" [src]="item?.accepter?.profile_image" title="" width="30">
              <span>{{item?.accepter.name}}</span>
            </li>
          </template>
        </ul>

        <ul class="list-group" *ngIf="selectedTab == 'join_requests'">
          <template ngFor let-item [ngForOf]="tabItems">
            <li class="list-group-item" data-id="invitation_{{item.id}}">
              <div class="dropdown pull-right">
                <!--<a href="#" class="btn btn-link">ACCEPT</a>-->
                <!--<a href="#" class="btn btn-link">DENY</a>-->
                <!--<a href="#" class="btn btn-link">REQUESTED</a>-->
                <a href="javascript:;" class="btn btn-link" (click)="acceptJoinRequest(item)">ACCEPT</a>
                <a href="javascript:;" class="btn btn-link" (click)="cancelInvitation(item.id)">REJECT</a>
              </div>
              <a href="#">
                <img [alt]="item?.inviter.name" [src]="item?.inviter.profile_image" title="" width="30">
                <span>{{item?.inviter.name}}</span>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
    <z-social-favorites #favorites></z-social-favorites>
  </div>

  <template [ngIf]="community">
    <z-social-community-form-edit
      #modalEdit
      [data]="community"
      [action]="'edit'"
      (updated)="onUpdated($event)">
    </z-social-community-form-edit>

    <z-social-community-form-preference
      #modalPreference
      [data]="community"
      (updated)="onUpdated($event)">
    </z-social-community-form-preference>
  </template>

  <z-social-community-form-edit
    #modalEdit
    [data]="community"
    [action]="'edit'"
    (updated)="onUpdated($event)">
  </z-social-community-form-edit>

  <wth-zone-report></wth-zone-report>
</div>
