<nav class="page-menuleft" draggable="false">
  <ul class="list-unstyled">
    <li>
      <a draggable="false" href="#">Profile</a>
    </li>
    <li>
      <a draggable="false" href="#">Contact</a>
    </li>
    <li>
      <a draggable="false" href="#">Calendar</a>
    </li>

    <li class="has-sub" [ngClass]="{'active': urls.social == hostname}">
      <a draggable="false" href="javascript:;" (click)="onMenu('social')">
        Social Network
      </a>
      <ul [ngClass]="{'active': urls.social == hostname}" class="list-unstyled">
        <template ngFor let-social [ngForOf]="socialMenu" let-i="index" [ngForTrackBy]="trackByFn">
          <li [routerLinkActive]="['active']" [ngClass]="{'hidden': social.link == '/search'}">
            <a draggable="false" *ngIf="social.link == '/profile'" [routerLink]="['/profile',uuid]">
              {{social.name}}</a>
            <a draggable="false" *ngIf="social.link != '/profile'" [routerLink]="[social.link]"> {{social.name}}</a>
          </li>
        </template>
      </ul>
    </li>

    <li class="has-sub" [ngClass]="{'active': urls.chat == hostname}">
      <a draggable="false" [routerLink]="[chatMenu[0].link]" (click)="onMenu('chat')">
        Chat
      </a>
      <ul [ngClass]="{'active': urls.chat == hostname}" class="list-unstyled" id="zone_menu_chat">
        <li [routerLinkActive]="['active']" *ngFor="let chat of chatMenu">
          <a draggable="false" [routerLink]="[chat.link]">
            {{chat.name}}
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a draggable="false" href="#">Gadget</a>
    </li>
    <li class="has-sub" [ngClass]="{'active': urls.media == hostname}">
      <a draggable="false" href="javascript:;" (click)="onMenu('media')">
        Picture
      </a>
      <ul [ngClass]="{'active': urls.media == hostname}" class="list-unstyled">
        <template ngFor let-media [ngForOf]="mediaMenu" let-i="index" [ngForTrackBy]="trackByFn">
          <li [routerLinkActive]="['active']" [ngClass]="{'hidden': media.link == '/search'}">
            <a draggable="false" [routerLink]="[media.link]" [queryParams]="{}">
              <i class="{{media.icon}}"></i> {{media.name}}
            </a>
          </li>
        </template>

      </ul>
    </li>
    <li>
      <a draggable="false" href="#">Bookmarks</a>
    </li>
    <li>
      <a draggable="false" href="#">Documents</a>
    </li>
    <li>
      <a draggable="false" href="#">Networking</a>
    </li>
    <li>
      <a draggable="false" href="#">Games</a>
    </li>
    <li>
      <a draggable="false" href="#">Dating</a>
    </li>
    <li>
      <a draggable="false" href="#">Project</a>
    </li>
  </ul>
</nav>
