@import "../../scss/custom-variables";
@import "../../scss/partials/colors";

.welcome-slide {
  max-width: 740px;
  margin: auto;
  position: relative;
  padding: 0 70px;
  img {
    max-width: 100%;
    height: auto;
  }

  .slick-dots {
    margin: 0;
    padding: 20px;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 10px;
      button {
        outline: 0 none !important;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border-width: 0;
        background-color: #cdcdcd;
        font-size: 0;
      }
      &.slick-active {
        button {
          background-color: $color-inverse;
        }
      }
    }
  }
  .welcome-nav {
    text-align: right;
  }
}

