<div class="z-social-media">
  <div class="z-social-media-left">
    <img [src]="item.owner.profile_image" alt="">
  </div>
  <div class="z-social-media-body">
    <div class="z-social-media-inputpost">
        <span class="z-social-media-inputpost">
          <!--<i class="fa fa-camera" (click)="onOpenPhotoSelect()"></i>-->
          <i class="fa fa-smile-o"></i>
        </span>
      <input *ngIf="type == 1" type="text" class="form-control" placeholder="Add a comment" (keyup)="onKey($event)" [(ngModel)]="newComment">
      <input *ngIf="type == 2" type="text" class="form-control" placeholder="Add a comment" (keyup)="onKey($event)" [(ngModel)]="editComment">
      <input *ngIf="type == 3" type="text" class="form-control" placeholder="Add a comment" (keyup)="onKey($event)" [(ngModel)]="newReply">
    </div>
    <a *ngIf="type == 2" (click)="cancelComment()" href="javascript:;">Cancel</a>
    <a *ngIf="type == 3" (click)="cancelReply()" href="javascript:;">Cancel</a>
  </div>
</div>

