@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?x6lxy');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?x6lxy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?x6lxy') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?x6lxy') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?x6lxy##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wicon-"], [class*=" wicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wicon-folder-shared {
  &:before {
    content: $wicon-folder-shared; 
  }
}
.wicon-merge {
  &:before {
    content: $wicon-merge; 
  }
}
.wicon-move-to-folder {
  &:before {
    content: $wicon-move-to-folder; 
  }
}

