$icomoon-font-family: "wicon" !default;
$icomoon-font-path: "fonts" !default;

$wicon-album: "\e900";
$wicon-shared-with-me: "\e901";
$wicon-user: "\f007";
$wicon-arrow-circle-o-down: "\f01a";
$wicon-arrow-circle-o-up: "\f01b";
$wicon-phone: "\f095";
$wicon-twitter: "\f099";
$wicon-facebook: "\f09a";
$wicon-arrow-circle-left: "\f0a8";
$wicon-arrow-circle-right: "\f0a9";
$wicon-arrow-circle-up: "\f0aa";
$wicon-arrow-circle-down: "\f0ab";
$wicon-google-plus: "\f0d5";
$wicon-linkedin: "\f0e1";
$wicon-location-arrow: "\f124";
$wicon-youtube: "\f167";
$wicon-arrow-circle-o-right: "\f18e";
$wicon-arrow-circle-o-left: "\f190";
$wicon-pinterest-p: "\f231";
$wicon-megaphone: "\e903";
$wicon-megaphone-mute: "\e904";
$wicon-folder-shared: "\e902";
$wicon-merge: "\e905";
$wicon-move-to-folder: "\e906";

