<div *ngIf="message.message_type == 'text'" class="chat-item"
     [ngClass]="{'chat-item-left': !message.byMe, 'chat-item-right': message.byMe}">
  <figure class="chat-item-avatar">
    <img [src]="message.display.image" alt="">
  </figure>
  <h4 class="chat-item-name">{{message.display.name}}</h4>
  <div class="chat-item-message">
    <div class="chat-item-card">
      <div class="chat-item-action">
        <small>{{message.created_at | timeFormat: "time_only"}}</small>
        <div class="btn-group">
          <i class="fa fa-pencil" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right">
            <li *ngIf="!message.file_json"><a href="javascript:;">Copy</a></li>
            <li *ngIf="!message.file_json"><a href="javascript:;" (click)="onQuote(message)">Quote Message</a></li>
          </ul>
        </div>
      </div>
      <div class="chat-item-content">
        <span [innerHtml]="message.message | wthEmojis | safeHtml"></span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="message.message_type == 'file'" class="chat-item"
     [ngClass]="{'chat-item-left': !message.byMe, 'chat-item-right': message.byMe}">
  <figure class="chat-item-avatar">
    <img [src]="message.display.image" alt="">
  </figure>
  <h4 class="chat-item-name">{{message.display.name}}</h4>
  <div class="chat-item-message">
    <div class="chat-item-card">
      <div class="chat-item-action">
        <small>{{message.created_at | timeFormat: "time_only"}}</small>
        <div class="btn-group">
          <i class="fa fa-pencil" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right">
            <li *ngIf="message.file_json"><a [href]="message.file_json.url" download>Download</a></li>
          </ul>
        </div>
      </div>
      <!--{{message | json}}-->
      <div class="chat-item-content">
        <span *ngIf="message.file_json">
          <img *ngIf="message.file_type == 'Photo'" [src]="message.file_json.url" alt="" style="width: 200px">
          <a *ngIf="message.file_type == 'FileMedium'" [href]="message.file_json.url" target="_blank"
             style="color: #4A4A4A" download>
            <div style="float: left">
              <img [src]="message.file_json.thumbnail_url" alt="">
            </div>
            <div *ngIf="message.file_type == 'FileMedium'" style="position: relative; left: 10px; float: right">
              <span *ngIf="message.file_json.name">{{message.file_json.name}}</span>
              <div *ngIf="message.file_json.size"
                   style="position: relative; top: -5px;">{{message.file_json.size}} B</div>
            </div>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="message.message_type == 'share_contact_message'" class="chat-item"
     [ngClass]="{'chat-item-left': !message.byMe, 'chat-item-right': message.byMe}">
  <figure class="chat-item-avatar">
    <img [src]="message.display.image" alt="">
  </figure>
  <h4 class="chat-item-name">{{message.display.name}}</h4>
  <div class="chat-item-message">
    <div class="chat-item-card">
      <div class="chat-item-action">
        <small>{{message.created_at | timeFormat: "time_only"}}</small>
        <!--<div class="btn-group">
          <i class="fa fa-pencil" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right">
            <li *ngIf="!message.file_json"><a href="javascript:;">Copy</a></li>
            <li *ngIf="!message.file_json"><a href="javascript:;">Quote Message</a></li>
          </ul>
        </div>-->
      </div>
      <div class="chat-item-content" *ngIf="message.display.share_contact"
           [ngClass]="{'contact': message.display.share_contact}">
        <div class="media">
          <div class="media-left">
            <span class="avatar-xsm">
              <img [src]="message.display.share_contact.profile_image" alt="">
            </span>
          </div>
          <div class="media-body text-left">
            <p class="media-heading bold">{{message.display.share_contact.name}}</p>
            <button class="btn btn-default" *ngIf="!message.byMe" (click)="onAdd(message.display.share_contact)">
              <i class="fa fa-user-plus"></i> Add to Contact
            </button>
            <p *ngIf="message.byMe" class="text-fade">
              Contact send
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="message.message_type == 'file_tmp'" class="chat-item chat-item-right" style="opacity: 0.3">
  <span *ngIf="message.file_json">
    <img [src]="message.file_json.thumbnail_url" alt=""> Uploading ...
  </span>
</div>

<div *ngIf="message.message_type == 'notification'" class="chat-item"
     [ngClass]="{'chat-item-left': !message.byMe, 'chat-item-right': message.byMe}">
  <div class="chat-item-message">
    <div class="chat-item-card">
      <div class="chat-item-action">
        <small>{{message.created_at | timeFormat: "time_only"}}</small>
        <div class="btn-group">
          <i class="fa fa-pencil" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right">
            <li *ngIf="!message.file_json"><a href="javascript:;">Copy</a></li>
            <li *ngIf="!message.file_json"><a href="javascript:;">Quote Message</a></li>
          </ul>
        </div>
      </div>
      <div style="text-align: center">
        <span style="font-weight: 700">{{message.display.name}}</span> <span>{{message.message}}</span>
      </div>
    </div>
  </div>
</div>
