<ng-template [ngIf]="contact">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div class="field-group">
      <div class="field-group-content">
        <div class="media content-overflow-visible">
          <div class="media-left"><span class="avatar-md"><img [src]="avatarDefault" alt=""></span>
          </div>
          <div class="media-body content-overflow-visible">
            <div class="row row-10">
              <div class="col-xs-12 mb10">
                <input [formControl]="name" type="text" class="form-control" placeholder="Full name">
              </div>
              <div class="col-xs-6 mb10">
                <input [formControl]="company" type="text" class="form-control" placeholder="Company or organization">
              </div>
              <div class="col-xs-6 mb10">
                <input [formControl]="job_title" type="text" class="form-control" placeholder="Job title">
              </div>
              <div class="col-xs-12 mb10">
                <tag-input formControlName="labels" [onlyFromAutocomplete]="true" placeholder="Choose your label"
                           secondaryPlaceholder="add label">
                  <tag-input-dropdown [autocompleteItems]="filteredLabelsMultiple">
                  </tag-input-dropdown>
                </tag-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="field-group">
      <div class="field-group-title">
        <h3>Phone</h3>
      </div>
      <div class="field-group-content">
        <div formArrayName="phones">
          <div *ngFor="let add_phone of form.controls.phones.controls; let i=index" class="media mt0">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-3">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.phones.controls[i].controls.category.valid
                  && form.controls.phones.controls[i].controls.category.touched),
                  'has-success': (form.controls.phones.controls[i].controls.category.valid
                  && form.controls.phones.controls[i].controls.category.touched
                  && form.value.phones[i].category.length > 1)}">
                    <select class="form-control" name="name" formControlName="category">
                      <option value="">-- Select One --</option>
                      <option *ngFor="let et of phoneCategories" value="{{et.value}}">{{et.text}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.phones.controls[i].controls.value.valid
                  && form.controls.phones.controls[i].controls.value.touched),
                  'has-success': (form.controls.phones.controls[i].controls.value.valid
                  && form.controls.phones.controls[i].controls.value.touched
                  && form.value.phones[i].value.length > 1)}">
                    <input type="text" class="form-control" formControlName="value" placeholder="">
                    <div
                      *ngIf="!form.controls.phones.controls[i].controls.value.valid && form.controls.phones.controls[i].controls.value.touched">
                    <span
                      *ngIf="!form.controls.phones.controls[i].controls.value.valid && form.controls.phones.controls[i].controls.value.errors.phoneFormat"
                      class="help-block text-danger">
                      Phone is not valid
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-default" (click)="removeItem('phones', i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default" (click)="addItem('phones')">
          <i class="fa fa-plus"></i> Add more
        </button>
      </div>
    </div>

    <div class="field-group">
      <div class="field-group-title">
        <h3>Email</h3>
      </div>
      <div class="field-group-content">
        <div formArrayName="emails">
          <div *ngFor="let add_email of form.controls.emails.controls; let i=index" class="media mt0">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-3">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.emails.controls[i].controls.category.valid
                  && form.controls.emails.controls[i].controls.category.touched),
                  'has-success': (form.controls.emails.controls[i].controls.category.valid
                  && form.controls.emails.controls[i].controls.category.touched
                  && form.value.emails[i].category.length > 1)}">
                    <select class="form-control" name="name" formControlName="category">
                      <option value="">-- Select One --</option>
                      <option *ngFor="let et of emailCategories" value="{{et.value}}">{{et.text}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.emails.controls[i].controls.value.valid
                  && form.controls.emails.controls[i].controls.value.touched),
                  'has-success': (form.controls.emails.controls[i].controls.value.valid
                  && form.controls.emails.controls[i].controls.value.touched
                  && form.value.emails[i].value.length > 1)}">
                    <input type="text" class="form-control" formControlName="value" placeholder="">
                    <div
                      *ngIf="!form.controls.emails.controls[i].controls.value.valid && form.controls.emails.controls[i].controls.value.touched">
                    <span
                      *ngIf="!form.controls.emails.controls[i].controls.value.valid && form.controls.emails.controls[i].controls.value.errors.emailFormat"
                      class="help-block text-danger">
                      Phone is not valid
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-default" (click)="removeItem('emails', i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default" (click)="addItem('emails')">
          <i class="fa fa-plus"></i> Add more
        </button>
      </div>
    </div>

    <div class="field-group">
      <div class="field-group-title">
        <h3>Address</h3>
      </div>
      <div class="field-group-content">
        <div formArrayName="addresses">
          <div *ngFor="let add_address of form.controls.addresses.controls; let i=index" class="media mt0">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-3">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.addresses.controls[i].controls.category.valid
                  && form.controls.addresses.controls[i].controls.category.touched),
                  'has-success': (form.controls.addresses.controls[i].controls.category.valid
                  && form.controls.addresses.controls[i].controls.category.touched
                  && form.value.addresses[i].category.length > 1)}">
                    <select class="form-control" name="name" formControlName="category">
                      <option value="">-- Select One --</option>
                      <option *ngFor="let et of emailCategories" value="{{et.value}}">{{et.text}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="row row-10">
                    <div class="col-sm-12">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="address_line1" placeholder="">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="address_line2" placeholder="">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="city" placeholder="">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="province" placeholder="">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="postcode" placeholder="">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="country" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-default" (click)="removeItem('addresses', i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default" (click)="addItem('addresses')">
          <i class="fa fa-plus"></i> Add more
        </button>
      </div>
    </div>

    <div class="field-group">
      <div class="field-group-title">
        <h3>Media</h3>
      </div>
      <div class="field-group-content">
        <div formArrayName="media">
          <div *ngFor="let add_media of form.controls.media.controls; let i=index" class="media mt0">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-3">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.media.controls[i].controls.category.valid
                  && form.controls.media.controls[i].controls.category.touched),
                  'has-success': (form.controls.media.controls[i].controls.category.valid
                  && form.controls.media.controls[i].controls.category.touched
                  && form.value.media[i].category.length > 1)}">
                    <select class="form-control" name="name" formControlName="category">
                      <option value="">-- Select One --</option>
                      <option *ngFor="let et of mediaCategories" value="{{et.value}}">{{et.text}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.media.controls[i].controls.value.valid
                  && form.controls.media.controls[i].controls.value.touched),
                  'has-success': (form.controls.media.controls[i].controls.value.valid
                  && form.controls.media.controls[i].controls.value.touched
                  && form.value.media[i].value.length > 1)}">
                    <input type="text" class="form-control" formControlName="value" placeholder="">
                    <div
                      *ngIf="!form.controls.media.controls[i].controls.value.valid && form.controls.media.controls[i].controls.value.touched">
                    <span
                      *ngIf="!form.controls.media.controls[i].controls.value.valid && form.controls.media.controls[i].controls.value.errors.mediaFormat"
                      class="help-block text-danger">
                      Phone is not valid
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-default" (click)="removeItem('media', i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default" (click)="addItem('media')">
          <i class="fa fa-plus"></i> Add more
        </button>
      </div>
    </div>

    <div class="field-group field-group-end">
      <div class="field-group-title">
        <h3>Note</h3>
      </div>
      <div class="field-group-content">
        <textarea [formControl]="notes" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="form-group pb50">
      <button *ngIf="mode == 'edit'" type="submit" class="btn btn-wth-default btn-min mr10">Save</button>
      <button *ngIf="mode == 'create'" type="submit" class="btn btn-wth-default btn-min mr10">Create</button>
      <button type="reset" class="btn btn-default btn-min">Cancel</button>
    </div>
  </form>
</ng-template>
