<div class="media-page-detail-left">
  <z-contact-shared-toolbar>
    <div class="page-body-control-nav page-body-control-nav-right page-body-control-nav-action">
      <button class="btn btn-primary-inline" type="button" (click)="done()">Done</button>
      <button class="btn btn-default-inline" type="button" [routerLink]="['/contacts']">Cancel</button>
    </div>
  </z-contact-shared-toolbar>

  <div class="page-body-content has-page-body-control">
    <div class="page-body-content-in zone-social">
      <div class="zone-social-in">
        <contact-edit [contact]="contact" [mode]="mode" (event)="doEvent($event)"></contact-edit>
      </div>
    </div>
  </div>
</div>
