<div class="media-page-detail-left">
  <z-contact-shared-toolbar [pageTitle]="pageTitle">
    <div class="page-body-control-nav page-body-control-nav-right page-body-control-nav-action" *ngIf="mode=='view'">
      <ul class="page-body-control-menu">
        <li>
          <a href="javascript:;" (click)="gotoEdit()" class="btn" title="Edit">
            <i class="fa fa-edit" ></i></a>
        </li>
      </ul>
    </div>
  </z-contact-shared-toolbar>

  <div class="page-body-content has-page-body-control">
    <div class="page-body-content-in zone-social">
      <div class="zone-social-in">
        <contact-edit [contact]="contact" [mode]="mode" (event)="doEvent($event)"></contact-edit>
      </div>
    </div>
  </div>
</div>


