<div class="page-body-control has-page-body-sidebar">
  <nav class="nav-tabs-wrap">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="javascript:;">ALL</a></li>
      <li><a href="javascript:;">ONLINE</a></li>
      <li><a href="javascript:;">BLACKLIST</a></li>
    </ul>
  </nav>
</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar">
  <div class="page-body-content-in">
    <ul class="p-list-user p-list-border">
      <li>
        <div class="media-flex">
          <div class="media-flex-item">
            <figure>
              <img alt="David Nguyen"
                   src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
              <span class="p-list-user-status online"></span>
            </figure>
          </div>
          <div class="media-flex-item">
            <span class="text-overflow-name">David Nguyen</span>
          </div>
          <div class="media-flex-body text-fade">
            Nickname
          </div>
          <div class="media-flex-item">
            <div class="btn-group">
              <button class="btn btn-default-inline dropdown-toggle" data-toggle="dropdown" type="button">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Send Message</a></li>
                <li><a href="#">Send Contact</a></li>
                <li><a href="#">Add to Conversation</a></li>
                <li class="divider" role="separator"></li>
                <li><a href="#">View Social Profile</a></li>
                <li><a href="#">Report Member</a></li>
                <li><a href="#">Blacklist</a></li>
                <li><a href="#">Delete Contact</a></li>
                <li class="divider" role="separator"></li>
                <li><a href="#">Disable Notification</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="media-flex">
          <div class="media-flex-item">
            <figure>
              <img alt="David Nguyen"
                   src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
              <span class="p-list-user-status online"></span>
            </figure>
          </div>
          <div class="media-flex-item">
            <span class="text-overflow-name">David Nguyen</span>
          </div>
          <div class="media-flex-body text-fade">
            Nickname
          </div>
          <div class="media-flex-item">
            <div class="btn-group">
              <a href="javascript:;">REMOVE</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
