<footer class="footer">
  <div class="footer-nav">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h5>Around the Site</h5>
          <ul class="footer-menu">
            <li>
              <a [routerLink]="['/apps']" href="#">Apps</a>
            </li>
            <li>
              <a [routerLink]="['/pricing']" href="#">Pricing</a>
            </li>
            <li>
              <a [routerLink]="['/about']" href="#">About Us</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Support</h5>
          <ul class="footer-menu">
            <li>
              <a [routerLink]="['/policies/terms']" href="#">Term of Service</a>
            </li>
            <li>
              <a [routerLink]="['/policies/privacy']" href="#">Privacy &amp; Cookies Policy</a>
            </li>
            <li>
              <a [routerLink]="['/faq']" href="#">Frequently Asked Questions</a>
            </li>
            <li>
              <a [routerLink]="['/contact']" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Account</h5>
          <ul class="footer-menu">
            <li><a [routerLink]="['/signup']" href="#">Sign up</a></li>
            <li><a [routerLink]="['/login']" href="#">Log in</a></li>
          </ul>

        </div>
        <div class="col-sm-3">
          <h5>Follow Us On</h5>
          <ul>
            <li>
              <div class="social-dv">
                <a target="_blank" rel="noopener" href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a>
                <a target="_blank" rel="noopener" href="https://twitter.com/"><i class="fa fa-twitter-square"></i></a>
                <a target="_blank" rel="noopener" href="https://www.pinterest.com/"><i class="fa fa-pinterest-square"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-end">
    <div class="container">
      <p>&copy;{{ currentVersion }}. All rights reserved</p>
    </div>
  </div>
</footer>
