<div *ngIf="object" class="photo-box" id="photo-box-img-{{ object.id }}">
  <div class="photo-box-action photo-box-action-right">
    <i (click)="onAction({action:'favourite', params: {mode: 'add', selectedObject: object }})" class="fa fa-star-o"
       *ngIf="!object.favorite"></i>
    <i (click)="onAction({action:'favourite', params: {mode: 'remove', selectedObject: object }})" class="fa fa-star"
       *ngIf="object.favorite"></i>
  </div>

  <!--type == 'photo'-->
  <div *ngIf="object.object_type == 'photo'" class="photo-box-figure"
       (click)="onAction({action:'select', params: {selectedObject: object }})">
    <div class="photo-box-input">
      <i class="fa fa-check"></i>
    </div>
    <figure class="img-center-dv can-click" (dblclick)="onAction({action:'previewAllPhotos', params: {selectedObject: object}})">
      <div class="photo-box-figure-in">
        <img draggable="false" class="img-center lazyload" [src]="DEFAULT_IMAGE" [attr.data-src]="object.thumbnail_url" alt="">
      </div>
    </figure>
    <div class="photo-box-name">
      <span class="can-click" (dblclick)="onAction({action:'openModal', params: {modalName: 'editNameModal', selectedObject: object }})">
        {{ object.name }}.{{ object.extension }}
      </span>
      <div class="hidden">
        <i *ngIf="object.json_shares?.length>1" class="fa fa-user-plus"></i>
        <i *ngIf="object.favorite" class="fa fa-star"></i>
      </div>
    </div>
    <div class="photo-box-owner">{{ object.owner.name }}</div>
    <div class="photo-box-date">{{ object.created_at | date: 'MMM dd yyyy' }}</div>
    <div class="photo-box-size">{{ object.size | bytes:0 }}</div>
  </div>

  <!--type == 'album'-->
  <div *ngIf="object.object_type == 'album' || object.object_type == 'sharing'" class="photo-box-figure"
       (click)="onAction({action:'select', params: {selectedObject: object }})">
    <div class="photo-box-input">
      <i class="fa fa-check"></i>
    </div>
    <figure class="img-center-dv can-click" (dblclick)="onAction({action:'viewDetails', params: {selectedObject: object }})">
      <div class="photo-box-figure-in">
        <img draggable="false" class="img-center lazyload" [src]="DEFAULT_IMAGE" [attr.data-src]="object.photo_default" alt="">
      </div>
      <div class="photo-box-info">
        <!--{{ object.name }} <br>-->
        <span *ngIf="object.photo_number>1">
          {{ object.photo_number }} photos
        </span>
        <span *ngIf="object.photo_number<=1">
          {{ object.photo_number }} photo
        </span>
      </div>
    </figure>
    <div class="photo-box-name">
      <span class="can-click" (dblclick)="onAction({action:'openModal', params: {modalName: 'editNameModal', selectedObject: object }})">
        <i class="wthico-album"></i> {{ object.name }}
      </span>
      <div class="hidden">
        <!--data return doesn't have json_shares-->
        <!--<i *ngIf="object.json_shares" class="fa fa-user-plus"></i>-->
        <i *ngIf="object.favorite" class="fa fa-star"></i>
      </div>
    </div>
    <div class="photo-box-owner">{{ object.owner.name }}</div>
    <div class="photo-box-date">{{ object.created_at | date: 'MMM dd yyyy' }}</div>
    <div class="photo-box-size">{{ object.photo_number }}</div>
  </div>
</div>
