<div class="page-body-content has-page-body-control gray-light"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     [scrollWindow]="false"
     (scrolled)="getMoreObjects()">

  <div class="page-body-content-in">

    <grid-list-header *ngIf="objects?.length > 0" [data]="objects" [viewOption]="viewOption"
                    (events)="doAction($event)"></grid-list-header>


    <div *ngIf="objects?.length == 0" class="zone-no-photo text-center">
      <div *ngIf="page == 'search' ">
        <h3>Data not matched</h3>
        <h4>Please change your search criteria!</h4>
      </div>

      <div *ngIf="page == 'shared-by-me'">
        <h2><i class="fa fa-share-alt"></i></h2>
        <h3>There is no photo shared by you</h3>
        <h4>Photos can be shared to your connected contact.</h4>
        <!--<p>-->
          <!--<button class="btn btn-default">-->
            <!--Learn More-->
          <!--</button>-->
        <!--</p>-->
      </div>
    </div>

    <div id="list-photo" class="row-img row-img-{{ sliderViewNumber }}" (dragenter)="onDragenter($event)"
         [ngClass]="viewOption" (dragleave)="onDragleave($event)">
      <div *ngFor="let group of objects | convertByPattern:'created_at':groupByTime | groupBy:groupBy: objects?.length;">
        <h4 class="photo-box-heading" *ngIf="group.key && (viewOption != 'grid')">
          {{ group.key | titleCase }}
        </h4>
        <div *ngIf="group.value" class="clearfix">
          <me-sharing-item *ngFor="let item of group.value;" [type]="item.object_type" [object]="item"
                   (events)="onEvent($event)"></me-sharing-item>
        </div>
        <me-sharing-item *ngIf="group && !group.value" [type]="group.object_type" [object]="group"
                 (events)="onEvent($event)"></me-sharing-item>
        <!--<div class="text-center p20" *ngIf="viewOption == 'grid'">-->
          <!--<a [routerLink]="['/albums']" [queryParams]="{favorite: true}" class="btn btn-outline-primary"-->
             <!--*ngIf="group.key == 'album'">-->
            <!--View all-->
          <!--</a>-->
          <!--<a [routerLink]="['/photos']" [queryParams]="{favorite: true}" class="btn btn-outline-primary"-->
             <!--*ngIf="group.key == 'photo'">-->
            <!--View all-->
          <!--</a>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <div class="p50" [ngClass]="{'inside-loading': nextLink != null, 'hidden':nextLink == null}"></div>
</div>

