
  <form [formGroup]="form" novalidate>
        <div>
          <div class="row row-12">
            <div class="col-sm-7">
              Email address
            </div>
            <div class="col-sm-4 ml5">
              Full name
            </div>
          </div>
        </div>

        <div formArrayName="items">
          <div *ngFor="let item of getFormControls(); let i=index" class="media mt0">
            <div *ngIf="item" class="media-body" [formGroupName]="i">

              <div class="row row-10">
                <div class="col-sm-8">

                  <div class="form-group no-label"
                       [ngClass]="{
                    'has-error': (!item['controls'].email.valid
                                && item['controls'].email.touched),
                    'has-success': (item['controls'].email.valid
                                && item['controls'].email.touched
                                && form.value.items[i].email.length > 0)}">
                    <input type="text" class="form-control" formControlName="email" placeholder="recipient-name@example.com">
                    <div
                      *ngIf="!item['controls'].email.valid && item['controls'].email.touched">
                      <span
                        *ngIf="!item['controls'].email.valid && item['controls'].email.errors.emailFormat"
                        class="help-block text-danger">
                        Email is not valid
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <!--<div class="form-group no-label" [ngClass]="{-->
                    <!--'has-error': (!item['controls'].fullName.valid-->
                    <!--&& item['controls'].fullName.touched),-->
                    <!--'has-success': (item['controls'].fullName.valid-->
                    <!--&& item['controls'].fullName.touched-->
                    <!--&& form.value.items[i].fullName.length > 1)}">-->
                    <input type="text" class="form-control" formControlName="fullName" placeholder="optional">
                  <!--</div>-->
                </div>

              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-default" (click)="remove(i, item.controls)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default" (click)="add()">
          <i class="fa fa-plus"></i> Add more
        </button>

        <div class="modal-footer row row12 pb0">
          <button type="button" class="btn btn-outline-default btn-min"
                  (click)="doEvent({action: 'cancel'})">Cancel</button>
          <button type="submit" class="btn btn-outline-primary btn-min pull-right"
                  (click)="doEvent({action: 'done'})">Send Invitations
          </button>
        </div>
  </form>

