<div class="page-body-content has-page-body-sidebar">
  <div class="page-body-content-in">
    <partials-profile>
      <partials-profile-avatar-info
        [data]="data"
        [editable]="true"
        (eventOut)="doEvent($event)">
      </partials-profile-avatar-info>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact Information</h3>
        </div>
        <div class="panel-body">
          <partials-profile-email #email *ngIf="data" [data]="data" [editable]="true" (eventOut)="doEvent($event)"></partials-profile-email>
          <partials-profile-phone #phone *ngIf="data" [data]="data" [editable]="true" (eventOut)="doEvent($event)"></partials-profile-phone>
          <partials-profile-address #address *ngIf="data" [data]="data" [editable]="true" (eventOut)="doEvent($event)"></partials-profile-address>
          <partials-profile-media #media *ngIf="data" [data]="data" [editable]="true" (eventOut)="doEvent($event)"></partials-profile-media>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Works & Educations</h3>
        </div>
        <div class="panel-body">
          <partials-profile-work [data]="data" [editable]="true"></partials-profile-work>
          <partials-profile-edu [data]="data" [editable]="true"></partials-profile-edu>
        </div>
      </div>
      <partials-profile-hobby [data]="data" [editable]="true"></partials-profile-hobby>
    </partials-profile>
  </div>
</div>
