<div class="banner-wrap">
  <div class="banner-img">
    <img src="assets/images/banner.jpg" alt="">
  </div>
  <div class="container">
    <div class="banner-txt">
      <h1>Fastest VPN Service For Freedom</h1>
      <p>Our exclusive features for greater online experience</p>
      <wth-join-us></wth-join-us>
      <!--<a class="btn btn-get btn-danger" [routerLink]="['/account/payment']">Upgrade for only $9.99 per-->
        <!--month</a>-->
    </div>
  </div>
</div>
<div class="boxes-wrap">
  <div class="boxes-tabs boxes-tabs-1">
    <div class="container">
      <h2 class="title">Easy to Use Apps for All Your Devices</h2>
      <h3 class="text-center">
        Download, connect, and enjoy our high speed VPN service instantly.
      </h3>
      <p style="margin-bottom: 40px;">
        <img class="img-responsive" src="assets/images/vpn-devices.png" alt="">
      </p>
      <p><wth-join-us></wth-join-us></p>
    </div>
  </div>

  <div class="boxes-tabs boxes-tabs-2">
    <div class="container">
      <h2 class="title">WTHApps is for Everyone</h2>
      <h3 class="text-center">
        Tons of Products - All for one Great Price. <br>
        We keep on adding more!
      </h3>
      <wth-join-us></wth-join-us>
      <!--<a class="btn btn-get btn-danger" *ngIf="_userService.isLoggedIn()" [routerLink]="['/account/payment']">Upgrade for only $9.99 per-->
        <!--month</a>-->
    </div>
  </div>
  <div class="boxes-tabs boxes-tabs-3">
    <div class="container">
      <h2 class="title">Great Price</h2>
      <h3 class="text-center">
        With Only 2 Plans - Easy to Decide a Plan!
      </h3>
      <table class="table table-bordered table-striped table-plan">
        <tr>
          <th></th>
          <th width="35%"><h2>Basic</h2></th>
          <th width="35%"><h2>WTH! Plan</h2></th>
        </tr>
        <tr>
          <td><h3>Monthly Price <br>
            (After Free Month)
          </h3></td>
          <td><h3>FREE!</h3></td>
          <td><h3>$9.99/Month</h3></td>
        </tr>
        <tr>
          <td>Pictures</td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>VPN</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>DNS Server</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>eFax</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>Website Ping</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>WTHmindmap</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>WTHgadgets</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>WTHaddons - outlook
            <ul>
              <li>
                Emojies
              </li>
              <li>
                Auto BCC
              </li>
              <li>
                Auto Reply HTML
              </li>
              <li>
                Custom Signature
              </li>
              <li>
                Reply Schedule
              </li>
              <li>
                Send Large File
              </li>
            </ul>
          </td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>WTHcharts</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>WTHoffice
            <ul>
              <li>
                Document
              </li>
              <li>
                Spreadsheets
              </li>
              <li>
                Slideshow
              </li>
            </ul>
          </td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>WTHwifi Tools</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>WTHchat</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>WTHcontacts</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td>WTHcalendar</td>
          <td></td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <wth-get-started></wth-get-started>
          </td>
          <td>
            <wth-get-started></wth-get-started>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="boxes-tabs boxes-tabs-4">
    <div class="container">
      <h3 class="text-center">

      </h3>
      <h2 class="title">No Commitments - Cancel Anytime</h2>
      <h3 class="text-center">
        If you decide to leave WTHApps! - It's OK!
      </h3>
      <p style="margin-bottom: 40px;">
        <i class="glyphicon glyphicon-ok"></i> You can keep on using WTHpictures<br>
        <i class="glyphicon glyphicon-ok"></i> Cancel online - anytime! <br>
        <i class="glyphicon glyphicon-ok"></i> We miss you already!</p>
       <wth-join-us></wth-join-us>
    </div>
  </div>
</div>
<section>
  <div class="statement">We made WTHApps because we believe that <strong>everybody,</strong> <br>
    no matter their level of technical experience, should be able to use the Internet
    <strong>freely</strong>
    and
    <strong>securely.</strong>
  </div>
</section>
