@import '../../scss/global';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  @include box-shadow($box-shadow-bottom);

  .header-nav-mobile {
    display: none;
    @media (max-width: $screen-xs-max) {
      display: inline-block;
    }
  }

  .header-nav {
    padding: 0 $grid-gutter-width/2;
    background-color: #ffffff;
    height: $header-height;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    .header-nav-left {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
      @media (min-width: $screen-sm) {
        min-width: 65%;
      }
    }
    .header-nav-right {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
    }

    .navbar-searchTop {
      @media (min-width: $screen-sm-min) {
        width: 400px;
      }
    }

    &.header-nav-xs-show-search {
      .navbar-form-search {
        display: block !important;
        .navbar-searchTop {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1010;
          background-color: #ffffff;
          padding: 13px 15px;
        }
        .input-group-search-header {
          .input-group {
            .input-group-btn {
              width: auto;
            }
          }
        }
      }
    }
  }
  .navbar-brand {
    padding: 0;
    height: 40px;
    margin-right: $grid-gutter-width/2;
    img {
      height: 40px;
      width: auto;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
      /*margin-right: 0;
      @include flexbox;
      @include align-items(center);
      img {
        display: none;
        //height: 24px;
      }
      &:before {
        content: url('/assets/images_new/logo-sm.png');
        height: 32px;
      }*/
    }
  }

  .btn-group {
    margin-top: 8px;
    margin-bottom: 8px;
    @media (min-width: $screen-sm-min) {
      padding-left: 5px;
      padding-right: 5px;
    }
    > .btn {
      position: relative;
      z-index: 1001;
      line-height: 30px;
      &:before, &:after {
        display: none;
        content: "";
        position: absolute;
        bottom: -20px;
        @include center(true, false);

        /* Combined Shape: */
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 15px solid $dropdown-border;
      }
      &:after {
        bottom: -21px;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 15px solid #FFF;
        z-index: 1001;
      }
      i {
        font-size: 20px;
        &:before {
          vertical-align: middle;
        }
      }
      .notification-num {
        position: absolute;
        background-color: $theme-color;
        color: #FFF;
        border-radius: 50%;
        display: inline-block;
        top: 0;
        right: 0;
        min-width: 20px;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
      }
    }

    .btn-default {
      &, &:hover, &:focus {
        background-color: transparent !important;
        border-color: transparent !important;
        @include box-shadow(none !important);
      }
      &:hover, &:focus {
        color: $theme-color;
      }
    }

    &.open {
      > .btn {
        &:before, &:after {
          display: block;
        }
      }
      > .dropdown-menu {
        margin-top: 19px;
      }
    }

    @media (max-width: $screen-xs-max) {
      position: inherit;
      &.open {
        > .dropdown-menu {
          top: auto;
          margin-top: 63px;
          right: 0;
          left: auto;
        }
      }
    }

  }

  .header-nav-profile {
    > .btn-default {
      white-space: nowrap;
      @include inline-flex;
      @include align-items(center);
      @media (max-width: $screen-xs-max) {
        padding-right: 0;
      }
      .avatar-xxs {
        float: left;
      }
    }
    .dropdown-menu {
      width: 300px;
    }
  }

  .navbar-nav {
    > li > a {
      line-height: 44px;
      padding-top: 0;
      padding-bottom: 0;
      font-weight: 700;
      font-size: 18px;
      color: #9b9b9b;
      font-family: $font-style;
      &, &:hover, &:focus {
        background-color: transparent !important;
      }
      &:hover, &:focus {
        color: $theme-color;
      }
    }
  }

  .header-nav-link {
    .btn-link {
      padding-top: 6px;
      padding-bottom: 6px;
      font-weight: 700;
      font-size: 18px;
      color: $text-color;
      font-family: $font-style;
      &:hover, &:focus {
        color: $theme-color;
        text-decoration: none;
      }
    }
  }

  .header-nav-notification {
    .dropdown-menu {
      width: 400px;
    }
    .dropdown-menu-bar {
      padding: 10px;
      overflow: hidden;
      font-size: 14px;
      a {
        &:after {
          display: inline-block;
          margin: 0 3px 0 5px;
          content: '\2022';
          color: #9B9B9B;
        }
        &:last-child:after {
          display: none;
        }
      }
    }

    .nav-notification-list-content {
      max-height: 400px;
      overflow: auto;
    }

    .badge {
      font-size: 11px;
      width: 20px;
      height: 20px;
      line-height: 20px;
    }

    .nav-notification-list-footer {
      a {
        display: block;
        padding: 15px 10px 10px;
        text-align: center;
        border-top: 1px solid #dbdbdb;
      }
    }
  }

  .header-nav-apps {
    .dropdown-menu {
      padding: 5px;
      width: 300px;
      > li {
        width: 50%;
        float: left;
        padding: 5px;
        a {
          color: $light-slate;
          display: block;
          border-radius: $border-radius-base;
          text-align: center;
          padding: 10px;
          i {
            font-size: 48px;
            line-height: 48px;
            margin-top: 20px;
            margin-bottom: 20px;
          }
          span {
            display: block;
            font-weight: bold;
            font-size: 16px;
          }
          &:hover {
            background-color: #eee;
            color: $text-color;
          }
        }
      }
    }
  }
}
