<nav class="header-nav" [ngClass]="{'header-nav-xs-show-search': showSearchMobile}" role="navigation">
  <div *ngIf="showSideBar" class="header-nav-mobile">
    <button (click)="onShowSideBar($event)" class="btn btn-default" type="button">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <ng-content></ng-content>
  <div class="header-nav-right">
    <ng-template #notLoggedIn>
      <div class="hidden-xs">
        <div class="btn-group header-nav-link">
          <a [routerLink]="['/signup']" class="btn btn-link" href="#">Sign up</a>
        </div>
        <div class="btn-group header-nav-link">
          <a [routerLink]="['/login']" class="btn btn-link" href="#">Log in</a>
        </div>
      </div>
    </ng-template>
    <ng-container *ngIf="loggedIn;else notLoggedIn">
      <div *ngIf="hasSearch" class="btn-group header-nav-search-btn visible-xs-inline-block">
        <button (click)="onShowSearchMobile($event)" type="button" class="btn btn-default">
          <i class="fa fa-search"></i>
        </button>
      </div>

      <!-- apps navigation -->
      <invite-contact>
        <div class="btn-group header-nav-apps">
          <button class="btn btn-default" pTooltip="Invite to WTHApps" tooltipPosition="bottom" type="button">
            <i class="fa fa-envelope-o"></i>
          </button>
        </div>
      </invite-contact>

      <!-- apps navigation -->
      <apps-navigation></apps-navigation>

      <!-- chat notification -->
      <chat-notification [notificationCount]="notificationCount"></chat-notification>

      <!-- notification-dropdown -->
      <notification-dropdown></notification-dropdown>

      <!-- profile dropdown -->
      <profile-dropdown [user]="user"></profile-dropdown>
    </ng-container>
  </div>
</nav>
