<div class="box-panel">
  <h3 class="box-panel-title">Manage storage</h3>
  <p>WTHApps uses Adyen as our secure, encrypted payment service. <br>
    We do not store your payment information on our servers. </p>
  <ng-container *ngIf="!paymentMethod">
    <button (click)="openModal()" class="btn btn-outline-primary" type="button">
      <i class="fa fa-plus"></i> Add payment method
    </button>
  </ng-container>
  <ng-container *ngIf="paymentMethod">
    <ng-container *ngIf="loaded">
      <div class="card mb20">
        <div class="card-body">
          <div class="media media-center">
            <div class="media-left">
              <img [src]="'assets/images/card/' + paymentMethod?.method_type_id + '.png'">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ending in {{ paymentMethod?.object_json?.last4Number }}</h4>
              <p class="text-muted">Expires {{ paymentMethod?.object_json?.expiryDate }}</p>
            </div>
          </div>
        </div>
      </div>
      <button (click)="openModal(paymentMethod)" class="btn btn-outline-primary" type="button">
        Change payment method
      </button>
    </ng-container>
  </ng-container>
</div>

<payment-method-add-modal #addModal (onSaved)="savePaymentMethod($event)"></payment-method-add-modal>



