<nav class="page-menuleft">
  <ul class="list-unstyled">
    <li>
      <a href="#">Profile</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#">Calendar</a>
    </li>
    <li>
      <a href="#">Social Network</a>
    </li>
    <li>
      <a href="#">Chat</a>
    </li>
    <li>
      <a href="#">Gadget</a>
    </li>
    <li class="has-sub" [routerLinkActive]="['active']">
      <a role="button" data-toggle="collapse" href="#zonePictureMenu" aria-expanded="false" aria-controls="zonePictureMenu">
        Picture
      </a>
      <ul class="list-unstyled collapse" id="zonePictureMenu">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/zone/picture/photo']">Photos</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/zone/picture/album']">Albums</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/zone/picture/video']">Videos</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/zone/picture/favourites']">Favourites</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Bookmarks</a>
    </li>
    <li>
      <a href="#">Documents</a>
    </li>
    <li>
      <a href="#">Networking</a>
    </li>
    <li>
      <a href="#">Games</a>
    </li>
    <li>
      <a href="#">Dating</a>
    </li>
    <li>
      <a href="#">Project</a>
    </li>
  </ul>
</nav>
