<nav class="page-menuleft">
  <ul class="list-unstyled">
    <li>
      <a href="#">Profile</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#">Calendar</a>
    </li>

    <li class="has-sub" [routerLinkActive]="['active']">
      <a [routerLink]="[socialMenu[0].link]" (click)="onMenu($event)">
        Social Network
      </a>
      <ul class="list-unstyled hidden" id="zone_menu_social">
        <li [routerLinkActive]="['active']" *ngFor="let social of socialMenu">
          <a *ngIf="social.link == '/zone/social/profile'" [routerLink]="['/zone/social/profile/'+uuid+'/post']">
            {{social.name}}</a>
          <a *ngIf="social.link != '/zone/social/profile'" [routerLink]="[social.link]"> {{social.name}}</a>
        </li>
      </ul>
    </li>

    <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/zone/social']" href="#">Social Network</a>
    </li>-->
    <li>
      <a href="#">Chat</a>
    </li>
    <li>
      <a href="#">Gadget</a>
    </li>
    <li class="has-sub" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a href="javascript:;" (click)="onMenu($event)">
        Picture
      </a>
      <ul class="list-unstyled hidden" id="zone_menu_picture">
        <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
        <!--<a [routerLink]="['/zone/picture/photo']">Photos</a>-->
        <!--</li>-->
        <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
        <!--<a [routerLink]="['/zone/picture/album']">Albums</a>-->
        <!--</li>-->
        <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
        <!--<a [routerLink]="['/zone/picture/video']">Videos</a>-->
        <!--</li>-->
        <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
        <!--<a [routerLink]="['/zone/picture/favourites']">Favourites</a>-->
        <!--</li>-->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngFor="let item of items">
          <a [routerLink]="[item.link]">
            {{item.name}}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Bookmarks</a>
    </li>
    <li>
      <a href="#">Documents</a>
    </li>
    <li>
      <a href="#">Networking</a>
    </li>
    <li>
      <a href="#">Games</a>
    </li>
    <li>
      <a href="#">Dating</a>
    </li>
    <li>
      <a href="#">Project</a>
    </li>
  </ul>
</nav>
