<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title">Rename</h4>
    </modal-header>
    <modal-body>
      <div class="form-group" [ngClass]="{'has-error': (!name.valid && name.touched)}">
        <p>Please enter a new name for the {{objectType}}:</p>
        <label for="edit-photo-album-name" class="sr-only">name</label>
        <input [formControl]="name" value="selectedPhotos.name" type="text" id="edit-photo-album-name"
               class="form-control" placeholder="">
        <div *ngIf="!name.valid && name.touched">
          <span *ngIf="!name.valid && name.errors.required" class="help-block">Name is required</span>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button [disabled]="!form.valid" (click)="onSubmit(form.value)" type="submit" class="btn btn-primary-inline">
        Save
      </button>
      <button type="button" class="btn btn-default-inline" data-dismiss="modal">Cancel</button>
    </modal-footer>
  </modal>
</form>
