/* ==========================================================================
Header
========================================================================== */
.header {
  position: relative;
  z-index: 1000;
  @include box-shadow($box-shadow-bottom);

  .nav-link {
    color: $text-color;
    &.active {
      color: $theme-color;
    }
  }

  .navbar-toggle {
    width: 34px;
    margin: 13px 0;
    padding: 6px 0;
  }
  .navbar-collapse {
    &:before {
      content: '';
      border-top: 1px solid $line;
      display: block;
      margin-left: -($grid-gutter-width/2);
      margin-right: -($grid-gutter-width/2);
    }
    .navbar-nav {
      li {
        a {
          display: block;
          font-weight: 700;
          font-size: 16px;
          color: #9b9b9b;
          padding-left: 0;
          padding-right: 0;
          &.nav-link {
            color: $text-color;
          }
          &:hover, &.active {
            background-color: transparent;
            color: $theme-color;
          }
        }
      }
    }
  }
}

.navbar-searchTop {
  @media (min-width: $screen-sm-min) {
    width: 280px;
  }
  @media (min-width: $screen-md-min) {
    width: 400px;
  }
  @media (min-width: $screen-lg-min) {
    width: 400px;
  }
  .ui-autocomplete {
    position: inherit;
    .ui-autocomplete-panel {
      margin-top: 3px;
    }
  }
}

.navbar-default {
  .navbar-toggle {
    //border-color: $btn-default-border;
    border-color: $btn-default-color;
  }
}
