.wrapper {
  overflow: hidden;
  @include flexbox;
  @include flex-direction(column);
}

.main {
  padding-top: $header-height;
  min-height: 100vh;
  @include flex(1);
  @include flex-basis(auto);
  position: relative;

  //for child
  @include flexbox;
  @include flex-direction(column);
  .main-page {
    @include flex(1);
    @include flex-basis(auto);
    position: relative;

  }
  .main-page-left {
    display: none;
    @media (min-width: $screen-md-min) {
      display: block;
      width: $main-page-left;
      overflow: auto;
      position: fixed;
      top: $header-height;
      left: 0;
      bottom: 0;
      z-index: 10;
      background-color: #ffffff;
      @include box-shadow(2px 2px 4px 0px rgba(73, 73, 73, 0.40));
      .main-page-left-in {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.main-page-body {
  position: relative;
  @media (min-width: $screen-md-min) {
    margin-left: $main-page-left;
  }
  .page-body-control {
    height: $page-body-control-height;
    background-color: #ffffff;
    padding: 15px 30px;
    position: fixed;
    right: 0;
    top: $header-height;
    display: block;
    z-index: 30;
    @include clearfix;
    @include box-shadow($box-shadow-bottom);

    @media (min-width: $screen-md-min) {
      left: $main-page-left;
    }

    & + .page-body-content {
      margin-top: $page-body-control-height;
    }
    &.has-page-body-sidebar {
      margin-left: $main-page-left-sm;
      @media (min-width: $screen-md-min) {
        margin-left: $main-page-left;
      }
    }

    a {
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;

      /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
      */
      -ms-user-select: none;
      user-select: none;
    }
  }
  .page-body-control-sub {
    @extend .page-body-control;
    z-index: 2;
    padding-top: 12px;
    padding-bottom: 12px;
    height: $page-body-control-sub-height;
  }
  .page-body-content {
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    //overflow: auto;
    //z-index: 1;
    &.has-page-body-control {
      //top: $page-body-control-height;
    }
    &.has-page-body-sidebar {
      left: $main-page-left-sm;
      @media (min-width: $screen-md-min) {
        left: $main-page-left;
      }
    }
  }
  .page-body-content-in {
    padding: 30px;
  }
}

.page-body-control-nav {
  float: left;
  .page-body-control-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    > li {
      float: left;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &.divider {
        padding-right: 10px;
        margin-right: 10px !important;
        border-right: 1px solid $text-color;
      }
    }

    &.text-disable, & .text-disable {
      pointer-events: none;
    }
  }

  &.page-body-control-nav-right {
    float: right;
    .page-body-control-menu {
      > li {
        &.divider {
          padding-right: 0;
          padding-left: 10px;
          margin-right: 0 !important;
          margin-left: 10px !important;
          border-right-width: 0;
          border-left: 1px solid $text-color;
        }
      }
    }
  }
  &.page-body-control-nav-action {
    .page-body-control-menu {
      > li {
        margin-right: 0;
        .btn {
          padding-left: 0;
          padding-right: 0;
          text-align: center;
          min-width: 40px;
          font-size: 16px;
        }
      }
    }
  }
}

.page-body-nav {
  @include flexbox;
  .page-body-nav-left {
    @include flex(1);
  }
}

.page-body-nav-sub {
  padding: 5px 30px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 29;
  background-color: #ffffff;
  margin-top: 15px;
  border-top: 1px solid $line;
  @include flexbox;
  @include flex-flow(row wrap);
  @include box-shadow($box-shadow-bottom);
}
