
.to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: $color-inverse;
    color: #ffffff;
    position: relative;
    z-index: 200;
    i {
      font-size: 18px;
      @include center();
    }
  }
}
