<me-list-header [data]="objects" [viewOption]="viewOption" (outEvent)="actionSortbar($event)"></me-list-header>


<div class="page-body-content has-page-body-control gray-light"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  [scrollWindow]="false"
  (scrolled)="getMoreObjects()">

  <div class="page-body-content-in">

    <me-list-header [viewOption]="viewOption" (outEvent)="actionSortbar($event)"></me-list-header>



    <div *ngIf="!objects" class="zone-no-photo text-center">
      <h3>Ready to add some photos?</h3>
      <h5>Drop photos anywhere to upload</h5>
    </div>

    <div id="list-photo" class="row-img " *ngIf="objects" (dragenter)="onDragenter($event)" [ngClass]="viewOption" (dragleave)="onDragleave($event)">
      <div *ngFor="let group of objects | convertByPattern:'created_at':groupByTime | groupBy:groupBy">
        <div *ngIf="group.key && ( viewOption != 'grid' || MIX_SCREEN.indexOf(currentPath) > -1 )" style="color: #4A4A4A; font-size: 15px">{{group.key | titleCase}}</div>
        <div *ngIf="group.value" class="clearfix">
          <me-item *ngFor="let item of group.value" [type]="item.object_type" [object]="item" (events)="onAction($event)"></me-item>
        </div>
        <me-item *ngIf="group && !group.value" [type]="group.object_type" [object]="group" (events)="onAction($event)"></me-item>
        <div class="text-center p20" *ngIf="viewOption == 'grid' && MIX_SCREEN.indexOf(currentPath) > -1">
          <a [routerLink]="['/albums']" [queryParams]="{currentPath: true}" class="btn btn-primary-inline" *ngIf="group.key == 'album'">
            View all
          </a>
          <a [routerLink]="['/photos']" [queryParams]="{currentPath: true}" class="btn btn-primary-inline" *ngIf="group.key == 'photo'">
            View all
          </a>
          <hr *ngIf="MIX_SCREEN.indexOf(currentPath) > -1">
        </div>
      </div>
    </div>
  </div>

  <div class="p50" [ngClass]="{'inside-loading': nextLink != null, 'hidden':nextLink == null}"></div>
</div>

<!--<template #modalContainer></template>-->
