<div *ngIf="viewOption == 'grid'">
  <div class="sortbar-wrap clearfix">
    <button class="btn btn-default-inline pull-right ml10" type="button" (click)="toggleSort(); doSort();">
      <i class="fa" [ngClass]="{'fa-arrow-up': (sort == 'asc'), 'fa-arrow-down': (sort == 'desc')}"></i>
    </button>

    <div class="dropdown pull-right">
      <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown">
        {{ sortName }}
      </button>
      <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <li><a (click)="setSortName('Date'); doSort();" href="javascript:;"> Date</a></li>
        <li><a (click)="setSortName('Name'); doSort();" href="javascript:;"> Name</a></li>
      </ul>
    </div>

    <div class="pull-right">
      <div class="sortbar-slider">
        <i draggable="false" class="fa fa-picture-o fz10"></i>
        <div class="sortbar-slider-in">
          <p-slider draggable="false" [(ngModel)]="sliderVal" (onChange)="handleChangeSliderVal($event)" [step]="1"
                    [min]="sliderMin" [max]="sliderMax"></p-slider>
        </div>
        <i draggable="false" class="fa fa-picture-o fz18"></i>
      </div>
    </div>
  </div>
</div>

<div *ngIf="viewOption == 'list'">
  <div class="photo-box-nav">
    <div class="photo-box-figure">
      <div (click)="setSortName('Name'); toggleSort(); doSort()" class="photo-box-name">
        Name <i *ngIf="sortName" class="fa"
                [ngClass]="{'fa-arrow-up': (sort == 'asc'), 'fa-arrow-down': (sort == 'desc')}"></i>
      </div>
      <div (click)="setSortName('owner'); toggleSort(); doSort()" class="photo-box-owner">Owner
        <i *ngIf="sort" class="fa"
           [ngClass]="{'fa-arrow-up': (sort == 'asc'), 'fa-arrow-down': (sort == 'desc')}"></i>
      </div>
      <div (click)="setSortName('Date'); toggleSort(); doSort()" class="photo-box-date">
        Create Date <i *ngIf="sort" class="fa"
                       [ngClass]="{'fa-arrow-up': (sort == 'asc'), 'fa-arrow-down': (sort == 'desc')}"></i>
      </div>
      <div class="photo-box-size">Size</div>
    </div>
  </div>
</div>


<div *ngIf="viewOption == 'timeline'">
  <div class="sortbar-wrap clearfix">
    <button class="btn btn-default-inline pull-right ml10" type="button" (click)="toggleSort(); doSort();">
      <i class="fa can-click" [ngClass]="{'fa-arrow-up': (sort == 'asc'), 'fa-arrow-down': (sort == 'desc')}"></i>
    </button>
    <div class="dropdown pull-right">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-default-inline dropdown-toggle"
              data-toggle="dropdown" type="button">
        {{ sortName }}
      </button>
      <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <li><a (click)="setSortName('Date'); group('date');" href="javascript:;"> Date</a></li>
        <li><a (click)="setSortName('Month'); group('month');" href="javascript:;"> Month</a></li>
        <li><a (click)="setSortName('Year'); group('year');" href="javascript:;"> Year</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clearfix"></div>
