<!--<me-list-header [data]="objects" [viewOption]="viewOption" (outEvent)="actionSortbar($event)"></me-list-header>-->


<div class="page-body-content has-page-body-control gray-light"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  [scrollWindow]="false"
  (scrolled)="getMoreObjects()">

  <div class="page-body-content-in">

    <me-list-header *ngIf="objects.length > 0" [data]="objects" [viewOption]="viewOption" (outEvent)="actionSortbar($event)"></me-list-header>



    <div *ngIf="objects.length == 0" class="zone-no-photo text-center">
      <div *ngIf="page == 'search' ">
        <h3>Data not matched</h3>
        <h5>Please change your search criteria!</h5>
      </div>

      <div *ngIf="page == 'albums'">
        <h3>There is no Album!</h3>
        <h5>
          <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'createAlbumModal'}})">Create album</a>
        </h5>
      </div>

      <div *ngIf="page == 'photos'">
        <h3>There is no Photo</h3>
        <h5>Drag photos anywhere to upload</h5>
      </div>
      <div *ngIf="page == 'favorites'">
        <h3>No favourite photos and albums</h3>
        <h5>Add favourites to things that you want to easily find later!</h5>
      </div>
      <div *ngIf="page == 'shared-with-me'">
        <h3>No photos and albums others haved shared with you!</h3>
        <h5><a href="javascript:;">Learn more</a></h5>
      </div>
    </div>

    <div id="list-photo" class="row-img row-img-{{sliderViewNumber}}" *ngIf="objects" (dragenter)="onDragenter($event)" [ngClass]="viewOption" (dragleave)="onDragleave($event)">
      <div *ngFor="let group of objects | convertByPattern:'created_at':groupByTime | groupBy:groupBy: objects.length">
        <div *ngIf="group.key && ( viewOption != 'grid' || MIX_SCREEN.indexOf(currentPath) > -1 )" style="color: #4A4A4A; font-size: 15px">{{group.key | titleCase}}</div>
        <div *ngIf="group.value" class="clearfix">
          <me-item *ngFor="let item of group.value" [type]="item.object_type" [object]="item" (events)="onAction($event)"></me-item>
        </div>
        <me-item *ngIf="group && !group.value" [type]="group.object_type" [object]="group" (events)="onAction($event)"></me-item>
        <div class="text-center p20" *ngIf="viewOption == 'grid' && MIX_SCREEN.indexOf(currentPath) > -1">
          <a [routerLink]="['/albums']" [queryParams]="{favorite: true}" class="btn btn-primary-inline" *ngIf="group.key == 'album'">
            View all
          </a>
          <a [routerLink]="['/photos']" [queryParams]="{favorite: true}" class="btn btn-primary-inline" *ngIf="group.key == 'photo'">
            View all
          </a>
          <hr *ngIf="MIX_SCREEN.indexOf(currentPath) > -1">
        </div>
      </div>
    </div>
  </div>

  <div class="p50" [ngClass]="{'inside-loading': nextLink != null, 'hidden':nextLink == null}"></div>
</div>

<!--<template #modalContainer></template>-->
