<div class="page-body-control">
  <ul class="control-body-select">

    <li style="border-right: 1px solid #d8d8d8; padding-right: 10px" *ngIf="currentPage == 'album_detail'">
      <a (click)="onAction({action: 'goBack', params: {}})" class="btn btn-wth"><i class="fa fa-arrow-left"></i> Back</a>
    </li>

    <li *ngIf="currentPage == 'album_detail'">
      <div class="name"> Display Album Name Here</div>

    </li>


    <li *ngIf="currentPage != 'album_detail'">
      <button class="btn btn-wth-default" (click)="uploader.browseFiles($event)">
        <i class="fa fa-cloud-upload"></i> Upload File
      </button>
    </li>
    <li *ngIf="currentPage != 'album_detail'">
      <button class="btn btn-default" (click)="onAction({action: 'openModal', params: {modalName: 'createAlbumModal'}})">
        <i class="fa fa-plus-circle"></i> Create Album
      </button>
    </li>

  </ul>


  <div class="control-body-btnview-wrap">
    <div class="pull-left" [ngSwitch]="currentPage">
      <!--photo list-->
      <ul class="control-body-select control-body-btnview" *ngSwitchCase="'photo_list'">

        <li [ngClass]="{'action-disabled': noSelectedObjects}" >
          <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'previewModal'}})"><i class="fa fa-eye"></i></a>
        </li>

        <li [ngClass]="{'action-disabled': noSelectedObjects}">
          <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'sharingModal'}})"><i class="fa fa-share-alt"></i></a>
        </li>
        <li [ngClass]="{'action-disabled': noSelectedObjects}" title="Add to favourite">
          <a href="javascript:;" (click)="onAction({action: 'favourite', params: {mode: isFavourited ? 'remove' : 'add', multiItem: true}})">
            <i class="fa" [ngClass]="isFavourited ? 'fa-star-o': 'fa-star'"></i>
          </a>
        </li>

        <!--<li [ngClass]="{'action-disabled': noSelectedObjects}" title="Remove from favourite">-->
          <!--<a href="javascript:;" (click)="onAction({action: 'removeFromFavourite', params: {}})">-->
            <!--<i class="fa fa-star-o"></i>-->
          <!--</a>-->
        <!--</li>-->

        <li [ngClass]="{'action-disabled': noSelectedObjects}">
          <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'taggingModal'}})"><i class="fa fa-tag"></i></a>
        </li>
        <li [ngClass]="{'action-disabled': noSelectedObjects}">
          <a href="javascript:;" (click)="onAction({action: 'delete', params: {}})"><i class="fa fa-trash-o"></i></a>
        </li>
        <li class="dropdown action" [ngClass]="{'action-disabled': noSelectedObjects}" >
          <a class="p10" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a (click)="onAction({action: 'openModal', params: {modalName: 'addToAlbumModal'}})" href="javascript:;"><i class="fa fa-plus-square"></i> Add to Album</a>
            </li>
            <li><a (click)="onAction({action: 'openModal', params: {modalName:'editInfoModal'}})" href="javascript:;"><i class="fa fa-edit"></i> Edit Information</a></li>
            <li><a (click)="onAction({action: 'download', params: {}})"><i class="fa fa-download"></i> Download</a></li>
            <li><a (click)="onAction({action: 'openModal', params: {modalName: 'previewDetailsModal', showDetails: true}})" href="javascript:;"><i class="fa fa-info-circle"></i> Information</a></li>
          </ul>
        </li>
      </ul>


      <!--album list-->

      <ul class="control-body-select control-body-btnview" *ngSwitchCase="'album_list'">

        <li [ngClass]="{'action-disabled': noSelectedObjects}">
          <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'sharingModal'}})"><i class="fa fa-share-alt"></i></a>
        </li>
        <li [ngClass]="{'action-disabled': noSelectedObjects}">
          <a href="javascript:;" (click)="onAction({action: 'favourite', params: {}})">
            <i class="fa" [ngClass]="hasFavourite ? 'fa-star-o': 'fa-star'"></i>
          </a>
        </li>
        <li [ngClass]="{'action-disabled': noSelectedObjects}">
          <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'taggingModal'}})"><i class="fa fa-tag"></i></a>
        </li>
        <li [ngClass]="{'action-disabled': noSelectedObjects}">
          <a href="javascript:;" (click)="onAction({action: 'delete', params: {}})"><i class="fa fa-trash-o"></i></a>
        </li>
        <li class="dropdown action" [ngClass]="{'action-disabled': noSelectedObjects}" >
          <a class="p10" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li>
              <a (click)="onAction({action: 'slideShow', params: {}})" href="javascript:;">
                <i class="fa fa-toggle-right"></i> Slideshow
              </a>
            </li>
            <li><a (click)="onAction({action: 'setCoverImage', params: {}})" href="javascript:;"><i class="fa fa-image"></i> Set Album Cover</a>
            </li>
            <li><a (click)="onAction({action: 'openModal', params: {modalName: 'editInfoModal'}})" href="javascript:;"><i class="fa fa-edit"></i> Edit Information</a></li>
            <li><a (click)="onAction({action: 'download', params: {}})"><i class="fa fa-download"></i> Download</a></li>
            <li><a (click)="onAction({action: 'openModal', params: {modalName: 'previewDetailsModal'}})" href="javascript:;"><i class="fa fa-info-circle"></i> Information</a></li>
          </ul>
        </li>
      </ul>


      <!--album details-->
      <ul class="control-body-select control-body-btnview" *ngSwitchCase="'album_detail'">

        <li>
          <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'sharingModal'}})"><i class="fa fa-share-alt"></i></a>
        </li>
        <li >
          <a href="javascript:;" (click)="onAction({action: 'favourite', params: {}})">
            <i class="fa" [ngClass]="hasFavourite ? 'fa-star-o': 'fa-star'"></i>
          </a>
        </li>
        <li>
          <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'taggingModal'}})"><i class="fa fa-tag"></i></a>
        </li>
        <li>
          <a href="javascript:;" (click)="onAction({action: 'delete', params: {}})"><i class="fa fa-trash-o"></i></a>
        </li>
        <li class="dropdown action">
          <a class="p10" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a (click)="onAction({action: 'openModal', params: {modalName: 'photosSelectModal'}})" href="javascript:;"><i class="fa fa-plus-circle"></i> Add Photos</a>
            </li>
            <li><a (click)="onAction({action: 'slideShow', params: {}})" href="javascript:;"><i class="fa fa-toggle-right"></i> Slideshow</a>
            </li>
            <li><a (click)="onAction({action: 'setCoverImage', params: {}})" href="javascript:;"><i class="fa fa-image"></i> Set Album Cover</a>
            </li>
            <li><a (click)="onAction({action: 'openModal', params: {modalName: 'editInfoModal'}})" href="javascript:;"><i class="fa fa-edit"></i> Edit Information</a></li>
            <li><a (click)="onAction({action: 'download', params: {}})"><i class="fa fa-download"></i> Download</a></li>
            <li><a (click)="onAction({action: 'openModal', params: {modalName: 'previewDetailsModal'}})" href="javascript:;"><i class="fa fa-info-circle"></i> Information</a></li>
            <li [ngClass]="{'action-disabled': noSelectedObjects}">
              <a href="javascript:;" (click)="onAction({action: 'removeFromAlbum', params: {}})"><i class="fa fa-trash-o"></i> Remove from Album</a>
            </li>
          </ul>

        </li>
      </ul>

    </div>
    <!--view option-->
    <ul class="control-body-select control-body-btnview">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa" [ngClass]="{'fa-th-large': (viewOption == grid), 'fa-th-list': (viewOption == list), 'fa-align-left': (viewOption == timeline)}"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a (click)="onAction({action: 'changeView', params: {viewOption: grid}})" href="javascript:;">
            <i class="fa fa-th-large"></i> Grid</a>
          </li>
          <li><a (click)="onAction({action: 'changeView', params: {viewOption: list}})" href="javascript:;">
            <i class="fa fa-th-list"></i> List</a>
          </li>
          <li><a (click)="onAction({action: 'changeView', params: {viewOption: timeline}})" href="javascript:;"><i class="fa fa-align-left">

          </i> Timeline</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>





</div>


<!--<z-media-share-form-add-to-album #formAddAlbum [editAlbum]="formEditAlbum"-->
                                 <!--[selectedPhotos]="selectedPhotos"></z-media-share-form-add-to-album>-->
<!--<z-media-share-form-edit-album #formEditAlbum [selectedPhotos]="selectedPhotos"></z-media-share-form-edit-album>-->

<!--<z-media-share-form-edit-name *ngIf="type == 'photo'" #formEditName [data]="selectedPhotos[0]"></z-media-share-form-edit-name>-->
<!--<z-media-share-form-edit-name *ngIf="type == 'album'" #formEditName [data]="selectedAlbums[0]"></z-media-share-form-edit-name>-->


<!--<z-media-share-uploading #zoneUpload (outEvent)="onActionUploading($event)"></z-media-share-uploading>-->


<!--<z-media-share-sharing #zoneSharing [selectedItems]="selectedPhotos"></z-media-share-sharing>-->
<!--<z-media-share-tagging #zoneTagging></z-media-share-tagging>-->
<me-uploader #uploader (outEvent)="onAction($event)"></me-uploader>
