@import '../../../core/scss/global';

.row-img-item {
  display: block;
}

.photo-box-heading {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.row-img {
  &.grid {
    @for $i from 1 through 12 {
      &.row-img-#{$i} {
        .row-img-item {
          width: percentage(1/(14 - $i));
          //width: percentage(24/$i);
        }
      }
    }
  }
}


