<!--<account-list-edit-modal #modal></account-list-edit-modal>-->

<div class="box-panel">
  <h3 class="box-panel-title">
    Accounts
  </h3>
    <!--<div>-->
      <!--<h4 class="box-panel-subtitle">Accounts</h4>-->
    <!--</div>-->
    <!--<hr>-->

  <!--<hr class="line">-->

  <div id="loading"></div>


  <!--sub account-->
  <div *ngIf="currentUser.creator_id > 0">
    <div>
      Your account type dose not have the ability to create and manage additional accounts
    </div>
    <div>
      In order to create and manage additional accounts, please request to upgrade into pro account
    </div>
    <div class="box-panel-subtitle">
      <a class="btn btn-outline-primary btn-min" (click)="openAccountAddModal()">
        Upgrade to full account</a>

    </div>
  </div>
  <!--full account without sub-->

  <div *ngIf="currentUser.parent_id > 0">

    <div>
      Your account type dose not have the ability to create and manage additional accounts
    </div>
    <div>
      In order to create and manage additional accounts, please request to full ownership account to upgrade into pro account
    </div>
    <div class="box-panel-subtitle">

      <a class="btn btn-outline-primary btn-min" (click)="openAccountAddModal(modal)">
        Request ownership</a>

    </div>
  </div>

  <!--full account with sub-->

  <div *ngIf="currentUser.parent_id == null">
    <div class="box-panel-subtitle">
      <a class="btn btn-outline-primary btn-min" (click)="openAccountAddModal(modal)">
        <i class="fa fa-plus"></i> Add account</a>
      <!--<button class="btn btn-outline-secondary"-->
              <!--(click)="delete()" [disabled]="selectedItems.length === 0">-->
        <!--<i class="fa fa-trash" aria-hidden="true" ></i> Delete</button>-->
    </div>
    <br/>

    <table class="table table-striped table-middle">
      <thead>
      <tr>
        <!--<th>-->
          <!--<div>-->
            <!--<p-checkbox value="" label=""-->
                        <!--[(ngModel)]="isSelectAll" binary="true" (onChange)="selectAll($event)"></p-checkbox>-->
          <!--</div>-->
        <!--</th>-->
        <th>Full name</th>
        <th>Email</th>
        <th>Account Type</th>
        <th>Last logged in</th>
        <th>Action</th>

      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <!--<th>-->
            <!--<div>-->
              <!--<p-checkbox value="" label=""-->
                          <!--[(ngModel)]="item.selected" binary="true" (onChange)="select(item)"></p-checkbox>-->
            <!--</div>-->
          <!--</th>-->
          <td>
            <a href="javascript:void(0);" (click)="view(item)">{{ item.name }}</a>
            <label *ngIf="item.parent_id == null && item.creator_id == null" class="ql-bg-red ql-color-white">Admin</label>
          </td>
          <td><a rel="nofollow" target="_top"
                 href="mailto:{{ item.email }}">{{ item.email }}</a></td>
          <td> {{ item.parent_id == null ? 'Full account': 'Sub account' }} </td>
          <td *ngIf="item.last_sign_in_at"> {{ item.last_sign_in_at | date: 'MMM d, y' }} </td>
          <td *ngIf="!item.last_sign_in_at"> N/A </td>

          <td>
            <div>
              <button class="btn btn-default" (click)="view(item)">View</button>
              <button *ngIf="item.parent_id != null || item.creator_id != null" class="btn btn-default" (click)="delete(item)">Remove</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

