<div class="box-panel">
  <h3 class="box-panel-title">Manage accounts</h3>
  <div class="form-group">
    <a class="btn btn-outline-primary" (click)="openAccountAddModal()">
      <i class="fa fa-plus"></i> Add account
    </a>
  </div>
  <table class="table table-middle">
    <thead>
    <tr>
      <th class="ma-table-name">Name</th>
      <th class="ma-table-email">Email</th>
      <th class="ma-table-llogin">Last Login</th>
      <th class="ma-table-action">&nbsp;</th>
    </tr>
    </thead>
    <tbody *ngIf="user$ | async as user;else templateLoading">
    <tr *ngFor="let item of user">
      <td>{{ item.name }}
        <span *ngIf="item?.parent_id == null && item.creator_id == null" class="label label-default">
          Admin
        </span>
      </td>
      <td>{{ item.email }}</td>
      <td>
        <ng-container *ngIf="item.last_sign_in_at">{{ item.last_sign_in_at | timeFormat }}</ng-container>
        <ng-container *ngIf="!item.last_sign_in_at">N/A</ng-container>
      </td>
      <td class="text-right">
        <ng-container *ngIf="!item?.removing">
          <button *ngIf="item?.requested_full_account && item?.parent_id != null"
                  (click)="acceptRequest(item)"
                  class="btn btn-inline" type="button"
                  pTooltip="Ownership request" tooltipPosition="bottom">
            <i class="fa fa-check-circle text-danger"></i>
          </button>

          <button class="btn btn-default ml5" (click)="view(item)"
                  pTooltip="View account" tooltipPosition="bottom">
            <i class="fa fa-eye"></i>
          </button>
          <button [disabled]="item?.parent_id == null"
                  class="btn btn-default ml5"
                  (click)="delete(item)"
                  pTooltip="Remove account" tooltipPosition="bottom">
            <i class="fa fa-trash"></i>
          </button>

        </ng-container>
        <ng-container *ngIf="item?.removing">
          <span class="text-muted">Removed</span>
        </ng-container>
      </td>
    </tr>
    </tbody>
    <ng-template #templateLoading>
      <tbody>
      <tr>
        <td colspan="4">Loading...</td>
      </tr>
      </tbody>
    </ng-template>
  </table>
</div>
