@import '../assets/styles/global';

.box-panel {
  .box-panel-title {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 30px;
  }

  .box-panel-subtitle {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
  }

  .box-panel-top {
    @include clearfix;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-slate;
    margin: $grid-gutter-width/2 0;
    h3 {
      line-height: 30px;
      font-weight: bold;
      margin: 0;
      display: inline-block;
    }
    > .view-more {
      line-height: 30px;
      float: right;
    }
  }

  .list-group-item-heading {
    @extend .box-panel-subtitle;
  }
}

.dl-horizontal-plan {
  margin-bottom: 0;
  dt {
    text-align: right;
    font-weight: normal;
    color: $text-muted;
    float: left;
    width: 160px;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin-bottom: 10px;
    margin-left: 180px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

