@import '../../assets/styles/global';

.header-intro {
  text-align: center;
  padding: 30px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  @include box-shadow(0 2px 4px 0 rgba(164, 164, 164, 0.4));
  border-radius: 4px;
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 20px;
    span {
      display: inline-block;
      padding: 0 20px 20px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: 4px;
        background-color: $theme-color;
        max-width: 200px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    h2 {
      font-size: 48px;
    }
    p {
      font-size: 21px;
    }
  }
}

.page-content {
  padding-top: 20px;
  min-height: calc(100vh - 60px);
  &.bg-gray-light {
    @media (max-width: $screen-xs-max) {
      background-color: #ffffff;
    }
  }
}

.fa.fa-4x {
  font-size: 105px;
  color: $state-success-text;
}
