<section class="homepage-hero">
  <div class="homepage-hero-item" style="background-image: url('assets/images/landing/hero-image.jpg');">
  </div>
  <div class="homepage-hero-txt">
    <h1>All convenience tools you need in one place</h1>
    <p>Exclusive features for greater experience.</p>
    <a [routerLink]="['/products']" class="btn btn-detail btn-lg btn-min-sm">Learn More</a>
  </div>
</section>
<section class="section-about">
  <div class="container">
    <h2 class="h1">What is WTHapp?</h2>
    <p>WTHapp is a collection of various services, add-on and applications, all are gathered in one place. <br>
      Looking for the tools you need and manage your resources has never been this simple. </p>
  </div>
</section>
<section class="section-services gray-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card-box">
          <figure>
            <img src="assets/images/landing/various.png" alt="">
          </figure>
          <h3 class="h1">Various Apps</h3>
          <p>Enjoy the variant of service and tools as we keep on adding more.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-box">
          <figure>
            <img src="assets/images/landing/all.png" alt="">
          </figure>
          <h3 class="h1">All in one place</h3>
          <p>Avoid switching between places to search for the tools you need as all are connected.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-box">
          <figure>
            <img src="assets/images/landing/price.png" alt="">
          </figure>
          <h3 class="h1">Competitive Price</h3>
          <p>With only $9.99 per month, you can access to all difference tools.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<wth-footer-promotion></wth-footer-promotion>
