<div class="banner-wrap">
  <div class="banner-img">
    <img src="assets/images/banner.jpg" alt="">
  </div>
  <div class="container">
    <div class="banner-txt">
      <h1>Fastest VPN Service For Freedom</h1>
      <p>Our exclusive features for greater online experience</p>
      <wth-join-us></wth-join-us>
      <!--<a class="btn btn-get btn-danger" [routerLink]="['/account/payment']">Upgrade for only $9.99 per-->
      <!--month</a>-->
    </div>
  </div>
</div>
<div class="boxes-wrap">
  <div class="boxes-tabs boxes-tabs-1">
    <div class="container">
      <h2 class="title">Easy to Use Apps for All Your Devices</h2>
      <h3 class="text-center">
        Download, connect, and enjoy our high speed VPN service instantly.
      </h3>
      <p style="margin-bottom: 40px;">
        <img class="img-responsive" src="assets/images/vpn-devices.png" alt="">
      </p>
      <p><wth-join-us></wth-join-us></p>
    </div>
  </div>

  <div class="boxes-tabs boxes-tabs-2">
    <div class="container">
      <h2 class="title">WTHApps is for Everyone</h2>
      <h3 class="text-center">
        Tons of Products - All for one Great Price. <br>
        We keep on adding more!
      </h3>
      <wth-join-us></wth-join-us>
      <!--<a class="btn btn-get btn-danger" *ngIf="userService.isLoggedIn()" [routerLink]="['/account/payment']">Upgrade for only $9.99 per-->
      <!--month</a>-->
    </div>
  </div>
  <div class="boxes-tabs boxes-tabs-3">
    <div class="container">
      <h2 class="title">Great Price</h2>
      <h3 class="text-center">
        With Only {{plans.length}} Plans - Easy to Decide a Plan!
      </h3>
      <table class="table table-bordered table-striped table-plan">
        <tr>
          <th></th>
          <th width="35%" *ngFor="let p of plans">
            <h2>{{p.name}}</h2>
            {{p.description}}
          </th>
        </tr>
        <tr *ngFor="let pro of products">
          <td>{{pro.display_name}}</td>
          <td *ngFor="let pp of plans">
            <div class="text-danger" *ngIf="!plan_has_product(pp.apps, pro.name)"><i class="glyphicon glyphicon-remove"></i></div>
            <div class="text-success" *ngIf="plan_has_product(pp.apps, pro.name)"><i class="glyphicon glyphicon-ok"></i></div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <wth-get-started></wth-get-started>
          </td>
          <td>
            <wth-get-started></wth-get-started>
          </td>
        </tr>
      </table>

    </div>
  </div>
  <div class="boxes-tabs boxes-tabs-4">
    <div class="container">
      <h3 class="text-center">

      </h3>
      <h2 class="title">No Commitments - Cancel Anytime</h2>
      <h3 class="text-center">
        If you decide to leave WTHApps! - It's OK!
      </h3>
      <p style="margin-bottom: 40px;">
        <i class="glyphicon glyphicon-ok"></i> You can keep on using WTHpictures<br>
        <i class="glyphicon glyphicon-ok"></i> Cancel online - anytime! <br>
        <i class="glyphicon glyphicon-ok"></i> We miss you already!</p>
      <wth-join-us></wth-join-us>
    </div>
  </div>
</div>
<section>
  <div class="statement">We made WTHApps because we believe that <strong>everybody,</strong> <br>
    no matter their level of technical experience, should be able to use the Internet
    <strong>freely</strong>
    and
    <strong>securely.</strong>
  </div>
</section>
