<modal #modal
         [cssClass]="'modal-lg modal-account-add'"
         [keyboard]="false"
         [animation]="false"
         [backdrop]="'static'" >
  <modal-header>
    <button aria-label="Close" class="close" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title"><i class="fa fa-plus"></i> Add account</h4>

  </modal-header>
  <modal-body>


    <div class="padding10">
      <p>
        You are requesting ownership for your account from 'admin name'
        <br>
        <br>
        Once your request is accepted, your account will be permanently removed from 'admin name' account
        <br>
        'admin name' will no longer able to access into your account or your personal information
        <br>
        In additional, you must be responsible for subscription fees starting at the next billing cycle to keep using
        WTHApps. For the remaining of this billing cycle. 'admin name' will access to their account

        <br>
        This action can not undo
      </p>


    </div>

  </modal-body>

  <modal-footer>
  <div>
      <button class="btn btn-outline-default btn-min"
              (click)="close()">Cancel</button>
    <button class="btn btn-outline-primary btn-min pull-right"
              (click)="request()">Request ownership
      </button>
    </div>
  </modal-footer>
</modal>


