<div id="photo-box-detail" class="photo-box-detail">
  <div *ngIf="imgOne" class="photo-detail-top">
    <ul class="action navbar-left">
      <li>
        <a href="javascript:;" (click)="hideModal()"><i class="fa fa-arrow-left"></i></a>
      </li>
    </ul>
    <div class="name"><i class="fa fa-picture-o"></i> {{imgOne.name}}</div>
    <ul class="action navbar-right">
      <li>
        <a href="javascript:;" (click)="onShare($event)"><i class="fa fa-share-alt"></i></a>
      </li>
      <li>
        <a href="javascript:;" (click)="addFavourite($event)"><i class="fa" [ngClass]="imgOne.favorite ? 'fa-star': 'fa-star-o'"></i></a>
      </li>
      <li>
        <a href="javascript:;" (click)="onTag($event)"><i class="fa fa-tag"></i></a>
      </li>
      <li>
        <a href="javascript:;" (click)="onDelete(imgOne.id)"><i class="fa fa-trash-o"></i></a>
      </li>
      <li class="dropdown">
        <a href="javascript:;" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
        <ul class="dropdown-menu">
          <li><a href="#">Add to Album</a></li>
          <li><a href="#">Download</a></li>
          <li><a href="javascript:;">Edit Photo</a></li>
          <li><a href="javascript:;" (click)="onShowInfo()">Information</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="imgOne" class="photo-detail-content">
    <div class="photo-detail-img">
      <figure>
        <img [src]="imgOne.url" alt="">
      </figure>
      <span *ngIf="imgAllData.length > 1" (click)="imgPrev()" class="photo-detail-img-control img-control-prev">
        <i class="fa fa-angle-left"></i>
      </span>
      <span *ngIf="imgAllData.length > 1" (click)="imgNext()" class="photo-detail-img-control img-control-next">
        <i class="fa fa-angle-right"></i>
      </span>
    </div>
  </div>
  <div *ngIf="imgOne" class="photo-detail-info">
    <h3>Detail <a href="javascript:;" (click)="onShowInfo()"><i class="fa fa-times"></i></a></h3>
    <h4><i class="fa fa-info-circle"></i> General Infomation <a href="javascript:;" (click)="onShowEditInfo()">Edit</a>
    </h4>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{imgOne.name}}</dd>
      <dt>Type</dt>
      <dd>{{imgOne.extension}}</dd>
      <dt>Size</dt>
      <dd>{{imgOne.size}}</dd>
      <dt>Demension</dt>
      <dd>{{imgOne.dimensions}}</dd>
      <dt>Uploaded</dt>
      <dd>{{imgOne.created_at | date:'MMM dd yyyy' : 'UTC'}}</dd>
    </dl>
    <hr>
    <h4><i class="fa fa-tag"></i> Tag <a href="javascript:;" (click)="onTag($event)">Edit</a></h4>
    <div class="tags-text">
      <span>Flowers</span>
      <span>Danger</span>
      <span>Sunflower</span>
      <span>Fire</span>
    </div>
    <hr>
    <h4><i class="fa fa-share-alt"></i> Sharing <a href="javascript:;" (click)="onShare($event)">Edit</a></h4>
    <dl>
      <dt>Owner</dt>
      <dd>
        <ul class="list-unstyled">
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
        </ul>
      </dd>
      <dt>Group</dt>
      <dd>
        <ul class="list-unstyled">
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
        </ul>
      </dd>
      <dt>Contact</dt>
      <dd>
        <ul class="list-unstyled">
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li><img src="assets/images/zone/img-group.png" alt=""></li>
          <li></li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
<page-zone-form-edit-photo (modalHide)="onModalHide($event)" [modalShow]="modalEdit" [data]="imgOne">
</page-zone-form-edit-photo>
