<page-zone-bar (openWindow)="openFileWindow($event)"
               (selectedFiles)="handleFileUpload($event)"
               (pageView)="viewChanged($event)"></page-zone-bar>
<div class="page-body-in">
  <template [ngIf]="dataImages.length">
    <template [ngIf]="pageView == 'grid'">
      <page-zone-gridview (imgDetail)="onClick($event)" [data]="dataImages" (imgsSelected)="onImgsSelected($event)"></page-zone-gridview>
    </template>
    <template [ngIf]="isListView">
      <page-zone-listview (imgDetail)="onClick($event)" [data]="dataImages"></page-zone-listview>
    </template>
  </template>

  <div *ngIf="total==0" class="text-center">
    No data
  </div>

  <div id="photodata-loading" style="position: relative;height: 50px;">
  </div>

</div>
<zone-photo-detail (hideModalClicked)='onHideModalClicked($event)' [imgId]="imgId" [imgAll]="dataImages"
                   [showImg]="showImg"></zone-photo-detail>

<!-- <wth-toast-upload></wth-toast-upload> -->
<toast-uploading (addedToAlbumEvent)="addedToAlbum($event)"></toast-uploading>
<added-to-album-toast></added-to-album-toast>
