<div class="objects-main">
  <div class="objects-main-nav">
    <h4 class="title">Photos</h4>
    <div class="action">
      <div class="slider">
        <i class="fa fa-photo fz10"></i>
        <p-slider [style]="{'width':'60px'}"
                  [(ngModel)]="sliderView"
                  [step]="1"
                  [min]="1"
                  [max]="4">
        </p-slider>
        <i class="fa fa-photo fz18"></i>
      </div>
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          Name
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><span class="text-primary">Name</span></a></li>
          <li><a href="#"><span>Upload Date</span></a></li>
          <li><a href="#"><span>File Size</span></a></li>
        </ul>
      </div>
      <button class="btn btn-default" type="button">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="objects-main-content">
    <w-dataView #dataView [data]="data" (loadMoreCompleted)="onLoadMoreCompleted($event)">
      <ng-template #viewBody let-item>
        <div class="item-media-img">
          <img [src]="item.thumbnail_url" alt="">
          <i class="fa fa-play-circle-o" aria-hidden="true"></i>
          <div class="item-media-img-over">
            7 items
          </div>
        </div>
        <div class="item-media-name">
          <span>{{ item.name }}</span>
        </div>
      </ng-template>
    </w-dataView>
    <w-dataView-selected *ngIf="dataView.selectedDocuments?.length"
                         [selectedObjects]="dataView.selectedDocuments">

      <ul class="nav-selection-actions">
        <li>
          <button class="btn btn-icon" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </li>
        <li>
          <button class="btn btn-icon" type="button"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
        </li>
        <li>
          <button class="btn btn-icon" type="button"><i class="fa fa-star-o" aria-hidden="true"></i></button>
        </li>
        <li>
          <button class="btn btn-icon" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </li>
        <li class="dropdown">
          <button class="btn btn-icon" type="button" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="fa fa-plus-square" aria-hidden="true"></i> Add to Album</a></li>
            <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit information</a></li>
            <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download</a></li>
          </ul>
        </li>
      </ul>

    </w-dataView-selected>
  </div>
</div>

