<div class="page-content">
  <div class="container">
    <div class="form-box-sm" *ngIf="success">
      <div class="text-center">
        <h1>
          <i class="fa fa-check-circle-o" style="color: green"></i>
        </h1>
        <p class="h4">Upgrade Completed</p>
      </div>
      <div class="text-left pl50">
        <p>With WTH PRO, you  wil have full access to all WTHApps services</p>
        <p>Click on button below to continue.</p>
      </div>
      <div class="text-center">
        <div class="form-group">
          <a class="btn btn-primary" [href]="dashboardUrl">Continue to WTHApps Dashboard</a>
        </div>
      </div>
    </div>

    <div class="form-box-sm" *ngIf="!success">
      <div class="text-center">
        <h1>
          <i class="fa fa-times-circle-o" style="color: red"></i>
        </h1>
        <p class="h4">Upgrading account plan failed</p>
      </div>
      <div class="text-left  pl50">
        <p>Your email address couldn't be verified.</p>
        <p>Your verification emails maybe out of date.</p>
        <p>Please click on button below to redirect to your account management. Then, press Verify Email button to receive new verification email.</p>
      </div>

      <div class="text-center">

        <div class="form-group">
          <a class="btn btn-primary" [href]="profileUrl">Go to Account Management</a>
        </div>
      </div>
    </div>

  </div>
</div>

