@import '../../../assets/styles/global';

.page-content {
  padding: 60px;
}

.form-box-sm {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: #ffffff;
  border: solid 1px $line;
  border-radius: $border-radius-small;

  @media (min-width: $screen-sm-min) {
    padding: 50px;
    padding-top: 15px;
    .h1, i {
      font-size: 48px;
    }
    .h4 {
      font-size: 21px;
      margin-bottom: 20px;
    }
  }
  .h1 {
    margin-top: 0;
    text-transform: uppercase;
    i { font-size: 48px; }
  }
  .h4 {
    font-weight: normal;
  }
}

