<div class="page-content">
  <div class="container">
    <div class="form-box-sm">
      <div class="text-center">
        <h1>
          <i class="fa "
             [ngClass]="success ? 'fa-check-circle-o icon-success' : 'fa-exclamation-circle icon-error'"></i>
        </h1>
        <p class="h4"> {{ title }} </p>
      </div>
      <div class="text-left pl50" [innerHtml]="message">

      </div>
      <div class="text-center">
        <div class="form-group">
          <a class="btn btn-primary" *ngIf="![CANCELED, EXPIRED].includes(alertType)" [href]="dashboardUrl">Continue to WTHApps Dashboard</a>
          <a class="btn btn-primary" *ngIf="alertType === CANCELED" [href]="upgradeUrl">Renew subscription</a>
          <a class="btn btn-primary" *ngIf="alertType === EXPIRED" [href]="upgradeUrl">Upgrade account</a>
        </div>
      </div>
    </div>
  </div>
</div>

