<div class="page-body-control has-page-body-sidebar">
  <z-chat-contact-navigation [tab]="'online'"></z-chat-contact-navigation>
</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar" *ngIf="contactItem.value">
  <div class="page-body-content-in">
    <ul class="p-list-user p-list-border">
      <li *ngFor="let contact of contactItem.value.data | chatGroupCouple:contactItem.value.data.length | chatUserOnline:usersOnlineItem:usersOnlineItem.value.length" >
        <div class="media-flex">
          <div class="media-flex-item">
            <z-chat-share-user-icon [image]="contact.display.image" [groupType]="contact.group_json.group_type" [userId]="contact.display.id"></z-chat-share-user-icon>
          </div>
          <div class="media-flex-item">
            <span class="text-overflow-name">{{contact.display.name}}</span>
          </div>
          <div class="media-flex-body text-fade">
            <!--Nickname-->
          </div>
          <z-chat-contact-actions [contact]="contact"></z-chat-contact-actions>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar" *ngIf="!contactItem.value">
  <div class="page-body-content-in">
    <div class="inside-loading">
      <div class="pt20 pb20"></div>
    </div>
  </div>
</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar" *ngIf="contactItem.value && (contactItem.value.data | chatGroupCouple:contactItem.value.data.length | chatUserOnline:usersOnlineItem:usersOnlineItem.value.length).length == 0 ">
  <div class="page-body-content-in">
    No data
  </div>
</div>

