<div class="page-body-control has-page-body-sidebar">
  <z-chat-contact-navigation [tab]="'pending'"></z-chat-contact-navigation>
</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar" *ngIf="contactItem.value">
  <div class="page-body-content-in">
    <div class="row media-user-list-group">
      <div class="col-sm-6"
           *ngFor="let contact of contactItem.value.data | chatGroupCouple:contactItem.value.data.length | chatGroupPending:contactItem.value.data.length">
        <div class="media media-user-list">
          <div class="media-body">
            <z-chat-share-user [data]="contact" [size]="'sm'"></z-chat-share-user>
          </div>
          <div class="media-right no-wrap">
            <button class="btn btn-wth-default" type="button" (click)="onAccept(contact)">
              <i class="fa fa-check"></i>
            </button>
            <button type="button" class="btn btn-default" (click)="onDecline(contact)">
              <i class="fa fa-times"></i>
            </button>

            <div class="btn-group">
              <button class="btn btn-default-inline dropdown-toggle" data-toggle="dropdown" type="button">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:;">Blacklist</a></li>
                <li class="divider" role="separator"></li>
                <li><a href="javascript:;">Disable Notification</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar" *ngIf="!contactItem.value">
  <div class="page-body-content-in">
    <div class="inside-loading">
      <div class="pt20 pb20"></div>
    </div>
  </div>
</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar" *ngIf="contactItem.value && (contactItem.value.data | chatGroupCouple:contactItem.value.data.length | chatGroupPending:contactItem.value.data.length).length == 0 ">
  <div class="page-body-content-in">
    No data
  </div>
</div>
