<div class="page-body-control has-page-body-sidebar">
  <z-chat-contact-navigation [tab]="'all'" [count]="count"></z-chat-contact-navigation>
</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar" *ngIf="contactItem && contactItem.value && contactItem.value.data">
  <div class="page-body-content-in">
    <div class="row media-user-row-group">
      <div class="col-sm-12"
           *ngFor="let contact of contactItem.value.data | chatGroupCouple:contactItem.value.data.length">
        <div class="media media-user-list">
          <div class="media-body">
            <z-chat-share-user [data]="contact" [size]="'xs'"></z-chat-share-user>
          </div>
          <div class="media-right no-wrap">
            <button class="btn btn-default" type="button" (click)="chatContactActions.onSelect(contact)">
              <i class="fa fa-comment"></i>
            </button>
            <button type="button" class="btn btn-default" (click)="chatContactActions.onFavorite()">
              <i class="fa" [ngClass]="contact.favourite? 'fa-star': 'fa-star-o'"></i>
            </button>
            <z-chat-contact-actions #chatContactActions [contact]="contact"></z-chat-contact-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<z-chat-share-add-contact #addContact></z-chat-share-add-contact>-->

<div class="page-body-content has-page-body-control has-page-body-sidebar" *ngIf="contactItem && !contactItem.value">
  <div class="page-body-content-in">
    <div class="inside-loading">
      <div class="pt20 pb20"></div>
    </div>
  </div>
</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar"
     *ngIf="contactItem && contactItem.value && contactItem.value.data && (contactItem.value.data | chatGroupCouple:contactItem.value.data.length).length == 0 ">
  <div class="page-body-content-in">
    No data
  </div>
</div>
