<div class="page-body-control has-page-body-sidebar">
  <z-chat-contact-navigation [tab]="'receive'"></z-chat-contact-navigation>
</div>

<div class="page-body-content has-page-body-control has-page-body-sidebar" *ngIf="users">
  <div class="page-body-content-in">
    <ul class="p-list-user p-list-border">
      <li *ngFor="let user of users" >
        <div class="media-flex">
          <div class="media-flex-item">
            <z-chat-share-user-icon [image]="user.profile_image" [groupType]="'couple'" [userId]="user.id"></z-chat-share-user-icon>
          </div>
          <div class="media-flex-item">
            <span class="text-overflow-name">{{user.name}}</span>
          </div>
          <div class="media-flex-body text-fade">
            <!--Nickname-->
          </div>
          <div class="media-flex-item">
            <div class="btn-group">
              <button class="btn btn-default-inline dropdown-toggle" data-toggle="dropdown" type="button">
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:;" (click)="onAddToContact(user)">Add To Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<z-chat-share-request-contact #request></z-chat-share-request-contact>
