.ng2-tags-container-wrapper {
  padding: 0 10px 0 10px;
}

.guide {
  color: #9b9b9b;
  margin-bottom: 10px;
}

// .ui-chkbox {
//   margin-top: 10px;
//   .ui-chkbox-label {
//     padding: 5px;
//   }
//   .ui-chkbox-box.ui-state-active {
//     background-color: unset;
//     border-color: unset;
//     border: unset;
//     background: unset;
//     color: unset;
//   }
//   .ui-state-active {
//     border: none;
//     background: unset;
//   }
// }