
.inline {
  display: inline;
}
a {
  float: right;
}

.gray {
  color: #4A4A4A;
}

.shadow-arround {
  box-shadow: 0px 2px 4px 0px rgba(73, 73, 73, 0.4);
}

.album-info-header {
  padding-bottom: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

.album-info-el {
  padding: 15px;
}

.fit-parrent {
  position: absolute;
  height: 100%;
}

#album-box-detail {
  position: relative;;
  overflow: hidden;
}

dt, dd {
  line-height: 2;
}

.min-height-max {
  min-height: 100vh;
}
