
<h3 class="album-info-header shadow-arround">Information <a href="javascript:;" class="gray" (click)="onClose()"><i class="fa fa-times"></i></a></h3>
<div class="album-info-el">
  <h4><i class="fa fa-file-text-o"></i> Detail <a href="javascript:;" (click)="onShowEditInfo()">Edit</a></h4>
  <hr>
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{album.name}}</dd>
    <dt>Files</dt>
    <dd>{{album.photo_number}} files</dd>
    <dt>Description</dt>
    <dd>{{album.description}}</dd>
    <dt>Created</dt>
    <dd>{{album.created_at | date}}</dd>
  </dl>
</div>


<!--<page-zone-form-edit-photo (modalHide)="onModalHide($event)" [modalShow]="modalEdit" [data]="imgOne">-->
<!--</page-zone-form-edit-photo>-->
<form-modal [(showForm)]="showCreateAlbumForm" [formData]="formData" (formResult)="onFormResult($event)" (hideModal)="onHideModal()"></form-modal>
