<div class="album-detail-info">
  <h2>Information <a href="javascript:;" class="gray"><i class="fa fa-times"></i></a></h2>


  <h3>Detail <a href="javascript:;"><i class="fa fa-times"></i></a></h3>
  <a href="javascript:;" (click)="onShowEditInfo()">Edit</a>
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>Name NameName</dd>
    <dt>Type</dt>
    <dd>TypeTypeTypeType</dd>
    <dt>Size</dt>
    <dd>SizeSizeSizeSizeSize</dd>
    <dt>Demension</dt>
    <dd>DemensionDemensionDemensionDemension</dd>
    <dt>Uploaded</dt>
    <dd>UploadedUploadedUploadedUploadedUploadedUploaded</dd>
  </dl>
  <hr>
</div>

<!--<page-zone-form-edit-photo (modalHide)="onModalHide($event)" [modalShow]="modalEdit" [data]="imgOne">-->
<!--</page-zone-form-edit-photo>-->
