<div class="page-body-in">
  <template [ngIf]="items.length">
    <div [ngSwitch]="pageView">
      <template [ngSwitchCase]="'grid'">
        <page-zone-album-gridview [data]="items"></page-zone-album-gridview>
      </template>
      <template [ngSwitchCase]="'list'">
        <!--<page-zone-listview (albumDetail)="onClick($event)" [data]="items"></page-zone-listview>-->
      </template>
    </div>
  </template>
  <div *ngIf="!items.length" class="text-center">
    No data
  </div>
  <div id="album-data-loading" style="position: relative;height: 50px;">
  </div>
</div>

<form-modal [showForm]="showCreateAlbumForm" [formData]="formData" (formResult)="onFormResult($event)" (hideModal)="onHideModal()"></form-modal>
