<div id="album-box-detail" class="two-layout-slip">
  <div class="main-layout min-height-max">
    <page-zone-bar-album [(album)]="album" (viewChanged)="onViewChanged($event)" (viewInfo)="onViewInfo($event)" (deleteAction)="onDeleteAction()" (editAction)="onEditAction()"></page-zone-bar-album>
    <div class="page-body-in">
      <template [ngIf]="items.length">
        <div [ngSwitch]="pageView">
          <template [ngSwitchCase]="'grid'">
            <page-zone-gridview [items]="items"></page-zone-gridview>
          </template>
          <template [ngSwitchCase]="'list'">
            <page-zone-listview [data]="items"></page-zone-listview>
          </template>
          <template [ngSwitchCase]="'timeline'">
            <page-zone-timeline [data]="items"></page-zone-timeline>
          </template>
        </div>
      </template>

      <div *ngIf="total==0" class="text-center">
        No data
      </div>

      <div id="photodata-loading" style="position: relative;height: 50px;">
      </div>
    </div>
  </div>
  <div class="right-layout shadow-arround fit-parrent">
    <zone-album-detail-info (closeInfo)="onCloseInfo()" [album]="album" (showFormEdit)="onEditAction()"></zone-album-detail-info>
  </div>
</div>

<!--<form-modal [showForm]="showForm" [formData]="formData" (formResult)="onFormResult($event)" (hideModal)="onHideModal()"></form-modal>-->
