<wth-header-navbar class="header">
  <div class="header-nav-left">
    <a [routerLink]="['/']" class="navbar-brand" href="#">
      <img src="/assets/images_new/logo.png" alt="WTHApps">
    </a>
    <ul class="nav navbar-nav hidden-xs">
      <li class="nav-item">
        <a [routerLink]="['/products']" [routerLinkActive]="['active']" class="nav-link" href="#">Apps</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/pricing']" [routerLinkActive]="['active']" class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/about']" [routerLinkActive]="['active']" class="nav-link" href="#">About Us</a>
      </li>
    </ul>
  </div>

  <div class="visible-xs" *ngIf="!isLoggedIn">
    <div class="navbar-header">
      <button type="button" class="btn btn-outline-default navbar-toggle collapsed" data-toggle="collapse"
              data-target="#wth-navbar-collapse-1" aria-expanded="false">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="wth-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/products']" [routerLinkActive]="['active']" href="#">Apps</a></li>
        <li><a [routerLink]="['/pricing']" [routerLinkActive]="['active']" href="#">Pricing</a></li>
        <li class="nav-item"><a [routerLink]="['/about']" [routerLinkActive]="['active']" href="#">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/signup']" [routerLinkActive]="['active']" class="nav-link" href="#">Sign up</a></li>
        <li><a [routerLink]="['/login']" [routerLinkActive]="['active']" class="nav-link" href="#">Log in</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>

</wth-header-navbar>
