<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/']" class="navbar-brand" href="#">
        <img src="/assets/images_new/logo.png" alt="WTHApps">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a [routerLink]="['/products']" class="nav-link" href="#">Apps</a></li>
        <li class="nav-item"><a [routerLink]="['/pricing']" class="nav-link" href="#">Pricing</a></li>
        <li class="nav-item"><a [routerLink]="['/about']" class="nav-link" href="#">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-right-active">
        <li class="nav-item"><a [routerLink]="['/signup']" class="nav-link" href="#">Sign up</a></li>
        <li class="nav-item"><a [routerLink]="['/login']" class="nav-link" href="#">Log in</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
