<z-social-profile-cover [data]="userInfo"></z-social-profile-cover>
<div *ngIf="userInfo">
  <div class="z-social-box">
    <div class="z-social-box-header">

      <a href="#" (click)="onEditAbout()" class="btn btn-default-inline pull-right">
        <i class="fa fa-pencil"></i>
      </a>

      <div class="btn-group pull-right mr10">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-users"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-globe"></i> Public</a></li>
          <li><a href="#"><i class="fa fa-users"></i> Friends</a></li>
          <li><a href="#"><i class="fa fa-lock"></i> Personal</a></li>
        </ul>
      </div>

      <h4 class="h4">
        About Us
      </h4>
    </div>
    <div class="z-social-post">
      <div>
        {{userInfo.about}}
      </div>
      <dl>
        <dt>Gender</dt>
        <dd>{{userInfo.gender}}</dd>
      </dl>
      <dl>
        <dt>Date of Birth</dt>
        <dd>{{userInfo.birthday | date:'MMM dd, yyyy' : 'UTC'}}</dd>
      </dl>
      <dl>
        <dt>Nationality</dt>
        <dd>{{userInfo.nationality}}</dd>
      </dl>
      <ul *ngIf="userInfo.additional_link" class="list-unstyled">
        <li *ngFor="let link of userInfo.additional_link">
          <i class="fa fa-globe"></i> <a target="_blank" href="{{link.url|urlTransform}}">{{link.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="z-social-box">
    <div class="z-social-box-header">

      <a href="#" (click)="onEditContact()" class="btn btn-default-inline pull-right" data-toggle="modal">
        <i class="fa fa-pencil"></i>
      </a>

      <div class="btn-group pull-right mr10">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-users"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-globe"></i> Public</a></li>
          <li><a href="#"><i class="fa fa-users"></i> Friends</a></li>
          <li><a href="#"><i class="fa fa-lock"></i> Personal</a></li>
        </ul>
      </div>

      <h4 class="h4">
        Contact Information
      </h4>
    </div>
    <div class="z-social-post">
      <dl *ngIf="userInfo.email">
        <dt>Email</dt>
        <dd *ngFor="let email of userInfo.email">
          {{email}}
        </dd>
      </dl>

      <dl *ngIf="userInfo.phone">
        <dt>Phone</dt>
        <dd *ngFor="let phone of userInfo.phone">
          {{phone}}
        </dd>
      </dl>


      <dl *ngIf="userInfo.address">
        <dt>Address</dt>
        <dd *ngFor="let address of userInfo.address">
          {{address.street}}, {{address.city}}, {{address.country}}
        </dd>
      </dl>
    </div>
  </div>

  <div class="z-social-box">
    <div class="z-social-box-header">

      <a href="#" (click)="onEditWorkEdu()" class="btn btn-default-inline pull-right" data-toggle="modal">
        <i class="fa fa-pencil"></i>
      </a>
      <div class="btn-group pull-right mr10">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-users"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-globe"></i> Public</a></li>
          <li><a href="#"><i class="fa fa-users"></i> Friends</a></li>
          <li><a href="#"><i class="fa fa-lock"></i> Personal</a></li>
        </ul>
      </div>

      <h4 class="h4">
        Work & Education
      </h4>
    </div>
    <div class="z-social-post">
      <h4 class="text-fade">Employment</h4>
      <div *ngIf="userInfo.employment">
        <dl *ngFor="let employment of userInfo.employment">
          <dt>{{employment.title}}</dt>
          <dd>
            {{employment.description}}
          </dd>
        </dl>
      </div>

      <h4 class="text-fade">Education</h4>

      <div *ngIf="userInfo.education">
        <dl *ngFor="let education of userInfo.education">
          <dt>{{education.title}}</dt>
          <dd>
            {{education.description}}
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="z-social-box">
    <div class="z-social-box-header">

      <a href="#" (click)="onEditInterest()" class="btn btn-default-inline pull-right" data-toggle="modal">
        <i class="fa fa-pencil"></i>
      </a>
      <div class="btn-group pull-right mr10">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-users"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-globe"></i> Public</a></li>
          <li><a href="#"><i class="fa fa-users"></i> Friends</a></li>
          <li><a href="#"><i class="fa fa-lock"></i> Personal</a></li>
        </ul>
      </div>

      <h4 class="h4">
        Hobby &amp; Interest
      </h4>
    </div>
    <div class="z-social-post">
      <div *ngIf="userInfo.hobby_interest">
        <dl *ngFor="let hobby_interest of userInfo.hobby_interest">
          <dt>{{hobby_interest.title}}</dt>
          <dd>
            {{hobby_interest.description}}
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="z-social-box">
    <div class="z-social-box-header">

      <a href="#" class="btn btn-default-inline pull-right" data-toggle="modal">
        <i class="fa fa-pencil"></i>
      </a>
      <div class="btn-group pull-right mr10">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-users"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-globe"></i> Public</a></li>
          <li><a href="#"><i class="fa fa-users"></i> Friends</a></li>
          <li><a href="#"><i class="fa fa-lock"></i> Personal</a></li>
        </ul>
      </div>

      <h4 class="h4">
        Communitites
      </h4>
    </div>
    <div class="z-social-post">
      <ul *ngIf="userInfo.communities" class="list-unstyled social-list-user">
        <li *ngFor="let communitiy of userInfo.communities">
          <div class="media-center">
            <div class="media-center-left">
              <figure>
                <a [routerLink]="['/zone/social/communities', communitiy.uuid]">
                  <img [src]="communitiy.profile_image" alt="{{communitiy.name}}">
                </a>
              </figure>
            </div>
            <div class="media-center-body">
              <h4 class="media-center-heading">
                <a [routerLink]="['/zone/social/communities', communitiy.uuid]">{{communitiy.name}}</a>
              </h4>
              <p class="media-center-p">---------- members</p>
            </div>
            <div class="media-center-right">
              <div class="dropdown pull-right">
                <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-custom">
                  <li><a href="#">Edit Information</a></li>
                  <li><a href="#">Preferences</a></li>
                  <li><a href="#">Manage members</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Remove from Favourites</a></li>
                  <li><a href="#">Leave community</a></li>
                  <li><a href="#">Delete community</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<z-social-profile-form-about #modalAbout [data]="userInfo" (updated)="onUpdated($event)"></z-social-profile-form-about>
<z-social-profile-form-contact #modalContact [data]="userInfo" (updated)="onUpdated($event)"></z-social-profile-form-contact>
<z-social-profile-form-workedu #modalWorkEdu [data]="userInfo" (updated)="onUpdated($event)"></z-social-profile-form-workedu>
<z-social-profile-form-interest #modalInterest [data]="userInfo" (updated)="onUpdated($event)"></z-social-profile-form-interest>
