<main class="main">
  <section class="page-hero-header" style="background-image: url('assets/images/landing/hero-image.jpg');">
    <h2 class="h1">Products</h2>
  </section>
  <section class="page-content product-intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="h1 text-normal">WTHapp is a collection of various services and applications, all are gathered in
            one
            place. </h3>
        </div>
      </div>
    </div>
  </section>
  <section class="page-content gray-light product-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="h1">WTHZone</h3>
          <p class="mb20 mb30-sm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod
            tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <dl class="dl-vertical">
            <dt>Photo Storage</dt>
            <dd>Upload, access and organize your photos</dd>
            <dt>Group Chat</dt>
            <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</dd>
            <dt>Calendar</dt>
            <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</dd>
            <dt>100% Private and No Ads</dt>
            <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <img class="img-responsive" src="assets/images/products/img.png" alt="WTHZone">
        </div>
      </div>
    </div>
  </section>
  <section class="page-content product-promo">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="h1 text-normal">You can easily upgrade to our paid plans <br class="hidden-sm"> and enjoy more
            features.</h3>
          <a [routerLink]="['/pricing']" class="btn btn-detail btn-lg btn-min-sm mb20 mb0-sm">View Pricing</a> <br
          class="visible-xs-block">
          <a [routerLink]="['/signup']" class="btn btn-detail btn-lg btn-min-sm ml20-sm">Sign Up</a>
        </div>
      </div>
    </div>
  </section>
  <section class="page-content product-listapp">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-3 product-listapp-img">
              <img class="img-responsive" src="assets/images/products/app1.png" alt="WTHadd-on">
            </div>
            <div class="col-sm-9">
              <h4 class="h1">WTHadd-on</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi blanditiis consequuntur, corporis
                dignissimos dolor eligendi, eos facilis, nam necessitatibus neque nobis obcaecati placeat praesentium
                quas
                ratione sapiente vel vitae.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-content gray-light product-listapp">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-3 product-listapp-img">
              <img class="img-responsive" src="assets/images/products/app2.png" alt="WTHcalendar">
            </div>
            <div class="col-sm-9">
              <h4 class="h1">WTHcalendar</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi blanditiis consequuntur, corporis
                dignissimos dolor eligendi, eos facilis, nam necessitatibus neque nobis obcaecati placeat praesentium
                quas
                ratione sapiente vel vitae.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-content product-listapp">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-3 product-listapp-img">
              <img class="img-responsive" src="assets/images/products/app3.png" alt="WTHdns">
            </div>
            <div class="col-sm-9">
              <h4 class="h1">WTHdns</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi blanditiis consequuntur, corporis
                dignissimos dolor eligendi, eos facilis, nam necessitatibus neque nobis obcaecati placeat praesentium
                quas
                ratione sapiente vel vitae.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-content gray-light product-listapp">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-3 product-listapp-img">
              <img class="img-responsive" src="assets/images/products/app4.png" alt="WTHChart">
            </div>
            <div class="col-sm-9">
              <h4 class="h1">WTHChart</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi blanditiis consequuntur, corporis
                dignissimos dolor eligendi, eos facilis, nam necessitatibus neque nobis obcaecati placeat praesentium
                quas
                ratione sapiente vel vitae.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-content product-coming">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="h1 text-normal">And Many more are coming</h3>
          <p class="text-center">
            <img src="assets/images/products/web.png" alt="">
          </p>
        </div>
      </div>
    </div>
  </section>
  <wth-footer-promotion></wth-footer-promotion>
</main>
<wth-footer></wth-footer>
