<div class="wrapper">
  <w-header class="header" #header [user]="authService.user$ | async" [loggedIn]="authService.loggedIn$ | async">
    <note-shared-header class="header-nav-left"></note-shared-header>
  </w-header>
  <main class="main">
    <w-left-menu>
      <z-note-shared-left-menu></z-note-shared-left-menu>
    </w-left-menu>
    <div class="main-page-body">
      <ng-template #modalContainer></ng-template>
      <router-outlet name="modal"></router-outlet>
      <router-outlet name="detail"></router-outlet>
      <router-outlet></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <wth-confirm></wth-confirm>
  <!-- <h-file-select-crop></h-file-select-crop> -->
  <z-note-share-progress></z-note-share-progress>
  <w-media-selection></w-media-selection>
</div>
<wth-introduction #introduction
                    [after]="{note: true}"
                    [data]="[
  {
    title: 'Welcome to WTH!Notes',
    icon: 'icon-zone-lg-note',
    content: 'WTH!Notes helps you organize all your notes in an easy-to-use filing system.'
  }
  ]">
</wth-introduction>

<div class="w-uploader-file-input-container">
</div>
