<div class="page-body-content-in zone-social">
  <div class="zone-social-container">
    <div class="z-social-box">
      <div class="z-social-box-header">
        <nav class="z-social-box-header-nav pull-left nav-tabs-wrap">

          <div class="pull-left btn-group hidden-md hidden-lg">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              {{currentState}} <span class="text-fade">{{currentStateTitleNumber}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li [ngClass]="{'active': currentState == 'friends'}">
                <a (click)="getDataList('friends'); currentStateTitleNumber = data.friends.length" href="javascript:;">
                  FRIENDS <span *ngIf="data.friends" class="text-fade">{{data.friends.length}}</span>
                </a>
              </li>
              <li [ngClass]="{'active': currentState == 'followers'}">
                <a (click)="getDataList('followers'); currentStateTitleNumber = data.followers.length" href="javascript:;">
                  FOLLOWERS <span *ngIf="data.followers" class="text-fade">{{data.followers.length}}</span>
                </a>
              </li>
              <li [ngClass]="{'active': currentState == 'followings'}">
                <a (click)="getDataList('followings'); currentStateTitleNumber = data.followings.length" href="javascript:;">
                  FOLLOWING <span *ngIf="data.followings" class="text-fade">{{data.followings.length}}</span>
                </a>
              </li>
              <li [ngClass]="{'active': currentState == 'blacklists'}">
                <a (click)="getDataList('blacklists'); currentStateTitleNumber = data.blacklists.length" href="javascript:;">
                  BLACKLIST <span *ngIf="data.blacklists" class="text-fade">{{data.blacklists.length}}</span>
                </a>
              </li>
              <li [ngClass]="{'active': currentState == 'notification'}">
                <a (click)="getNotifications(); currentStateTitleNumber = newNotifications.length" href="javascript:;">
                  NOTIFICATIONS <span *ngIf="data.blacklists" class="text-fade">{{newNotifications.length}}</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs visible-md-block visible-lg-block">
            <li [ngClass]="{'active': currentState == 'friends'}">
              <a (click)="getDataList('friends')" href="#">
                FRIENDS <span *ngIf="data.friends" class="text-fade">{{data.friends.length}}</span>
              </a>
            </li>
            <li [ngClass]="{'active': currentState == 'followers'}">
              <a (click)="getDataList('followers')" href="#">
                FOLLOWERS <span *ngIf="data.followers" class="text-fade">{{data.followers.length}}</span>
              </a>
            </li>
            <li [ngClass]="{'active': currentState == 'followings'}">
              <a (click)="getDataList('followings')" href="#">
                FOLLOWING <span *ngIf="data.followings" class="text-fade">{{data.followings.length}}</span>
              </a>
            </li>
            <li [ngClass]="{'active': currentState == 'blacklists'}">
              <a (click)="getDataList('blacklists')" href="#">
                BLACKLIST <span *ngIf="data.blacklists" class="text-fade">{{data.blacklists.length}}</span>
              </a>
            </li>
            <li [ngClass]="{'active': currentState == 'notification'}">
              <a (click)="getNotifications()" href="javascript:;">
                NOTIFICATIONS <span class="badge badge-rounded badge-wth badge-right pull-right">{{newNotifications.length}}</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="z-social-box-body z-social-box-body-communities">
        <div *ngIf="list && list.length == 0" class="p40 text-center">
          <div *ngIf="currentState == 'friends'">
            <h3 class="text-fade">
              There is no friend on your friend list yet
            </h3>
            <button class="btn btn-default">
              Search for Friends
            </button>
          </div>
          <div *ngIf="currentState == 'followers'">
            <h3 class="text-fade">
              There is no followers
            </h3>
          </div>
          <div *ngIf="currentState == 'followings'">
            <h3 class="text-fade">
              There is no followings
            </h3>
          </div>
          <div *ngIf="currentState == 'blacklists'">
            <h3 class="text-fade">
              There is no blacklist
            </h3>
          </div>

        </div>
        <div *ngIf="list && list.length > 0" class="row">
          <div *ngFor="let item of list" class="col-xs-12 col-lg-6">
            <div class="media-center" *ngIf="currentState != 'notification'">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/profile', item?.uuid]">
                    <img [src]="item.profile_image" width="70" alt="">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <a [routerLink]="['/profile', item?.uuid]">
                    {{item.name}}
                  </a>
                </h4>
                <!--<p *ngIf="nickname" class="media-center-p">{{item.nickname}}</p>-->
              </div>
              <div class="media-center-right">
                <div *ngIf="currentState == 'friends'" class="dropdown pull-right">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true" (click)="getFavourite(item?.uuid)">
                    <i class="fa fa-check"></i> Friend <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-custom">
                    <li><a href="javascript:;" (click)="addFavourite(item?.uuid)">Favorite <i class="fa pull-right" [ngClass]="favourite && favourite?.uuid? 'fa-star': 'fa-star-o'"></i></a></li>
                    <li><a href="javascript:;" (click)="unfriend(item?.uuid)">Unfriend</a></li>
                  </ul>
                </div>
                <div *ngIf="currentState == 'followers' && item.isFollowing == false" class="pull-right">
                  <button class="btn btn-default" type="button" (click)="follow(item?.uuid)">
                    <i class="fa fa-share"></i> Follow
                  </button>
                </div>
                <div *ngIf="currentState == 'followings'" class="pull-right">
                  <button class="btn btn-default" type="button" (click)="unfollow(item?.uuid)">
                    <i class="fa fa-times"></i> Unfollow
                  </button>
                </div>
                <div *ngIf="currentState == 'blacklists'" class="dropdown pull-right">
                  <button class="btn btn-default" type="button">
                    Remove
                  </button>
                </div>
              </div>
            </div>
            <div class="media-center" *ngIf="currentState == 'notification'">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/profile', item?.uuid]">
                    <img [src]="item.actor.profile_image" width="70" alt="">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading">
                  <!--<a [routerLink]="['/profile', item.uuid]">-->
                    <!--{{item.actor.name}}-->
                  <!--</a>-->
                  <span style="font-weight:normal" [innerHtml]="item?.text"></span>
                </h4>

              </div>
              <div style="white-space: nowrap" class="media-center-right">
                <button  *ngFor="let action of item?.actions" class="btn btn-default ml5" type="button" (click)="doAction(action, item?.id)">
                  {{action.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<wth-zone-report></wth-zone-report>
