<div class="menuleft-logo">
  <img src="/assets/images_new/logo-contact.png" alt="">
</div>

<div class="menuleft-item btn-group">
  <a type="button" class="new-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-plus"></i> <span class="hidden-xs ml5">New</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-sm">
    <li><a href="javascript:;" [routerLink]="['/contacts', 'new']" (click)="onCloseSidebar()">
      <i class="fa fa-address-book-o"></i> Contact
    </a></li>
    <li>
      <a (click)="doEvent({action: 'contact:group:open_modal_edit', payload:{mode: 'add'}, event: $event})"
         href="javascript:void(0)">
        <i class="fa fa-users"></i> Group
      </a>
    </li>
    <li>
        <a (click)="onCreateCard()"
           href="javascript:void(0)">
          <i class="fa fa-address-card"></i> Private Card
        </a>
      </li>
  </ul>
</div>
<div class="menuleft-item-divider">
  <div class="menuleft-item" [ngClass]="{'active' : ( currentGroup === 'all contacts')}">
    <a href="javascript:;" [routerLink]="['contacts', {group: 'all contacts'}]"
       (click)="doEvent({action: 'contacts', event: $event})">
      <i class="fa fa-address-book-o"></i> My Contacts ({{ contactService.myContactCount }})
    </a>
  </div>

  <ng-container *ngIf="groups && groups[0]">
    <div class="menuleft-item" [ngClass]="{'active' : (currentGroup === groups[0]?.name)}">
      <a href="#" [routerLink]="['contacts', {group: groups[0].name}]"
         (click)="doEvent({action: groups[0]?.action, event: $event})">
        <i class="{{ groups[0].icon }}"></i> {{ groups[0].name }} ({{ groups[0]?.count }})
      </a>
    </div>
  </ng-container>

  <div class="menuleft-item" [routerLinkActive]="['active']">
    <a [routerLink]="['profile']">
      <i class="fa fa-user-o"></i> Profile
    </a>
  </div>
  <div class="menuleft-item" [routerLinkActive]="['active']">
      <a [routerLink]="['cards']">
        <i class="fa fa-address-card"></i> Cards
      </a>
    </div>
</div>
<div class="menuleft-item-divider" *ngIf="groups && groups.length > 1">
  <div class="menuleft-item parent-item">
    <a data-toggle="collapse" aria-expanded="true" href="#collapseGroups">
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
      Groups
    </a>
  </div>
  <div class="collapse in" id="collapseGroups" aria-expanded="true">
    <ng-container *ngFor="let group of groups; let i = index">
      <ng-container *ngIf="i > 0">
        <div class="menuleft-item sub-item" [ngClass]="{'active' : (currentGroup === group?.name)}">
          <a href="#" [routerLink]="['contacts', {group: group.name}]"
             (click)="doEvent({action: group?.action, event: $event})">
            <!--<i class="{{ group.icon }}"></i> -->
            <i class="fa fa-users"></i>
            {{ group.name | maxLength: 20}} ({{ group?.count }})
          </a>
          <div *ngIf="group.hasSubMenu" class="menuleft-item-action">
        <span class="can-click"
              (click)="doEvent({action:'contact:group:open_modal_edit', payload: {mode: 'edit', selectedItem: group.name}})"
              title="edit group name">
          <i class="fa fa-pencil"></i>
        </span>
            <span class="can-click" (click)="deleteGroup(group)" title="delete group">
          <i class="fa fa-trash"></i>
        </span>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

</div>
<!-- <div class="menuleft-item">
  <a (click)="doEvent({action: 'contact:group:open_modal_edit', payload:{mode: 'add'}, event: $event})"
     href="javascript:void(0)" >
    <i class="fa fa-plus"></i> New Group
  </a>
</div> -->
<div class="menuleft-item" [routerLinkActive]="['active']">
  <a [routerLink]="['/others']" (click)="doEvent(null)" href="javascript:void(0)">
    <i class="fa fa-inbox"></i> Other contacts ({{ contactService.otherContactCount }})
  </a>
</div>


<div class="menuleft-item" [routerLinkActive]="['active']">
  <a (click)="openImportContactModal()" href="javascript:void(0)">
    <i class="fa fa-download"></i> Import
  </a>
</div>
<div class="menuleft-item" [routerLinkActive]="['active']">
  <a (click)="onShowSettings()" href="javascript:void(0)">
    <i class="fa fa-cog"></i> Settings
  </a>
</div>


<z-contact-share-import-contact #importContactSelect
                                (optionSelected)="onImportOptionSelected($event)"></z-contact-share-import-contact>

<icloud-oauth-modal #iCloudOAuthModal></icloud-oauth-modal>


<z-contact-shared-setting #modalSettings></z-contact-shared-setting>
