<div id="form-create-album-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-custom modal-long" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <a (click)="createdAlbum()" style="float: right; padding-right: 5px" href="javascript:;">Done</a>
        <h4 class="modal-title"> Create New Album</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="album-name">Name</label>
          <input id="album-name" type="text" class="form-control" placeholder="Untitled Album">
        </div>
        <div class="form-group">
          <label for="album-description">Description</label>
          <input id="album-description" type="text" class="form-control" placeholder="Description">
        </div>
      </div><!-- /.modal-content -->
      <!--<div class="modal-footer">-->
        <!--<div id="album-data-loading" style="position: relative;height: 50px;"></div>-->
      <!--</div>&lt;!&ndash; /.modal-footer &ndash;&gt;-->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
