<!--<div class="row-img">-->
  <!--<div class="photo-box-img" *ngFor="let album of dataAlbums">-->
    <!--<a [routerLink]="['/zone/picture/album', album.id]">-->
      <!--<figure class="img-center-dv">-->
        <!--<img class="img-full" src="/assets/images/zone/img-photo.png" alt="">-->
        <!--<img class="img-center" src="/assets/images/zone/img-default.png" alt="">-->
        <!--<span class="img-bottom-left" style="color: #9B9B9B">-->
        <!--{{album.name}} <br>-->
        <!--{{album.photo_number}} photos-->
      <!--</span>-->
      <!--</figure>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
<div>
  gird view
</div>
