<z-media-share-toolbar
  #mediaToolbar
  [type]="'favourites'"
  [selectedPhotos]="selectedPhotos"
  [hasFavourite]="hasFavourite"
  [currentView]="currentView"
  (outEvent)="actionToolbar($event)">
</z-media-share-toolbar>

<div class="page-body-content has-page-body-control gray-light">
  <div class="page-body-content-in">
    <div class="page-body-in-title">
      Album
    </div>
    <z-media-share-list
      [type]="'album'"
      [data]="data.albums"
      [view]="currentView"
      [hasAction]="['favourite']"
      (outEvent)="actionItem($event)">
    </z-media-share-list>

    <div class="text-center p20">
      <a [routerLink]="['album']" class="btn btn-primary-inline">
        View all
      </a>
    </div>

    <hr>

    <div class="page-body-in-title">
      Photo
    </div>
    <z-media-share-list
      [type]="'photo'"
      [data]="data.photos"
      [view]="currentView"
      [hasAction]="['favourite']"
      (outEvent)="actionItem($event)">
    </z-media-share-list>

    <div class="text-center p20">
      <a [routerLink]="['photo']" class="btn btn-primary-inline">
        View all
      </a>
    </div>
  </div>
</div>


<z-media-photo-detail #photoDetail [selectedPhotos]="selectedPhotos" [allPhotos]="data"></z-media-photo-detail>
