<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="box-panel">
        <h3 class="box-panel-title">{{pageTitle}}
          <button class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus"></i> Add App</button>
        </h3>
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let app of my_apps">
              <div class="media media-app-card">
                <div class="media-left">
                  <figure>
                    <img [src]="app.img_src" [alt]="app.display_name">
                  </figure>
                </div>
                <div class="media-body">
                  <p class="name">{{app.display_name}}</p>
                  <p class="cat">{{app.category.name}}</p>
                  <!-- <app-card-platform [data]="app"></app-card-platform> -->
                </div>
                <div class="media-right">
                  <button class="btn btn-default">Manage</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
