<div class="main-content">
  <div class="container">
    <div class="row row-layout">
      <div class="col-sm-3">
        <aside class="aside-left">
        </aside>
      </div>
      

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{panelTitle}}</h3>
        </div>
        <ul class="list-group services-list-wrap">
          <li class="list-group-item" *ngFor="let app of my_apps">
              <div class="row">
                <div class="col-sm-4">
                  <div class="app-card" [ngClass]="{'app-card-sm': (type == 'small'), 'app-card-md': (type == 'medium')}">
                    <a href="javascript:;" >
                      <div class="app-card-cover">
                        <figure>
                          <img [src]="app.img_src" [alt]="app.display_name">
                        </figure>
                      </div>
                      <div class="app-card-content">
                        <p class="name">{{app.display_name}}</p>
                        <p class="cat">{{app.category.name}}</p>
                        <!-- <app-card-platform [data]="app"></app-card-platform> -->
                      </div>
                    </a>
                  </div>
                </div>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

