.btn-get {

}

.btn-min {
  min-width: 106px;
  text-align: center;
}

.btn {
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0 none;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    outline: 0 none;
  }

  &:active,
  &.active {
    outline: 0 none;
  }
}
