.wrapper {
  .ui-dialog {
    .ui-dialog-buttonpane {
      padding: 15px;
      button {
        @include box-shadow(0 0 0 0 transparent);
        margin-top: 0;
        margin-left: 15px;
        span {
          padding: 0;
          &[class^="ui-button-icon"] {
            display: none;
          }
        }
        &[ng-reflect-icon="fa-close"] {
          @extend .btn;
          @extend .btn-default;
        }
        &[ng-reflect-icon="fa-check"] {
          @extend .btn;
          @include button-variant(#F54A59, #FFF, $btn-default-border);
        }
      }
    }
  }
}

