@media (min-width: $screen-sm) {
  .modal:not(.in-loading) {
    .modal-dialog:not(.modal-long) {
      top: 0;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }

    &.in {
      .modal-dialog:not(.modal-long) {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}
