.panel {
  margin-bottom: 30px;
  @include box-shadow(0 0 0 transparent);
  .list-group {
    ul {
      padding-left: 20px;
      list-style-type: disc;
      ul {
        list-style-type: circle;
      }
    }
    .list-group-item {
      .list-group-item-heading:first-child {
        margin-top: 0;
      }
    }
  }

}
