.toast-wrap {
  top: 50px;
  z-index: 1000;
  @include center(true, false);
  position: fixed;
  .alert {
    padding-left: 50px;
    width: 570px;
    max-width: 100%;
    word-break: break-all;
    position: relative;
    @include box-shadow(0px 2px 4px 0px rgba(163, 163, 163, 0.40));
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      left: 15px;
      top: 16px;
      font-size: 20px;
    }
    &.alert-danger {
      background-color: #ffffff;
      border-color: $alert-danger-text;
      color: $text-color;
      &:before {
        content: "\f057";
        color: $alert-danger-text;
      }
    }
    &.alert-success {
      background-color: #ffffff;
      border-color: $alert-success-text;
      color: $text-color;
      &:before {
        content: "\f058";
        color: $alert-success-text;
      }
    }
  }
}
