body {
  font-family: $font-base;
}

.img-full {
  width: 100%;
  height: auto;
}

.img-bg {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.bold {
  font-weight: bold;
}

.text-fade {
  @include opacity(0.8);
}

.text-normal {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-style;
  line-height: 1.3;
  &.text-normal {
    font-weight: normal;
  }
}

.title-wrap {
  margin-bottom: 30px;
  .title {
    text-align: center;
    font-weight: bold;
    font-size: $font-size-h1;
    &.text-normal {
      font-weight: normal;
    }
  }

  .title-sub {
    text-align: center;
  }
}


