<div class="container">
  <div class="title-wrap">
    <h2 class="title">Upgrade to Pro Plan</h2>
    <p class="title-sub">You are almost there</p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="box-panel">
        <h3 class="box-panel-title">1.Plan Summary</h3>
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item">
              <p class="bold">{{selected_plan.name}} <br>
                &#36;{{selected_plan.price}}/month - Charged monthly.</p>
            </li>
            <li class="list-group-item">
              <p>You’ll be charged &#36;{{selected_plan.price}} monthly including applicable taxes until you cancel your
                membership.
                Previous charges won’t be refunded when you cancel unless it’s legally required. Your payment data is
                encrypted and secure. All amounts shown are in USD.</p>
            </li>
          </ul>
        </div>

        <form id="paymentForm" class="scale-down" [formGroup]="paymentForm" novalidate>
          <h3 class="box-panel-title">2.Add Payment Methods</h3>
          <ul class="list-group">
            <li class="list-group-item">
              <h4 class="list-group-item-heading">Payment Method</h4>

              <div class="payment-method-wrap">
                <label class="radio-inline">
                  <input [ngModel]="{checked: methodPaypal == false}" (ngModelChange)="methodPaypal=false" [ngModelOptions]="{standalone: true}" checked
                         type="radio" name="payment_method" id="payment_method1" value="credit"> <span
                  class="payment-method-credit"></span>
                </label>
                <label class="radio-inline">
                  <input [ngModel]="{checked: methodPaypal == true}" (ngModelChange)="methodPaypal=true" [ngModelOptions]="{standalone: true}" type="radio"
                         name="payment_method" id="payment_method2" value="paypal"> <span
                  class="payment-method-paypal"></span>
                </label>
              </div>

              <div [style.display]="methodPaypal ? 'none' : 'block'">
                <div class="form-group"
                     [ngClass]="{'has-error': cardholder_name.touched && !cardholder_name.valid}">
                  <label for="cardholder_name">Card Name</label>
                  <input class="form-control" type="text" id="cardholder_name" placeholder="Name on card"
                         [formControl]="cardholder_name">
                  <div *ngIf="cardholder_name.touched && !cardholder_name.valid">
                              <span class="help-block"
                                    *ngIf="cardholder_name.errors.required">Name on card is required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="card-number">Card Number</label>
                  <div class="cardinfo-card-number">
                    <div class="form-control" id="card-number"></div>
                    <div id="card-image"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="expiration-date">Valid Thru</label>
                      <div class='form-control' id="expiration-date"></div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="cvv">CVV</label>
                      <div class='form-control' id="cvv"></div>
                    </div>
                  </div>
                </div>
              </div>

            </li>
            <li [style.display]="methodPaypal ? 'none' : 'block'" class="list-group-item">
              <h4 class="list-group-item-heading">Billing address</h4>

              <div class="form-group"
                   [ngClass]="{'has-error': address_line_1.touched && !address_line_1.valid}">
                <label for="address_line_1">Address line 1</label>
                <input class="form-control" type="text" id="address_line_1" placeholder="Address line 1"
                       [formControl]="address_line_1">
                <div *ngIf="address_line_1.touched && !address_line_1.valid">
                            <span class="help-block"
                                  *ngIf="address_line_1.errors.required">Address line 1 is required</span>
                </div>
              </div>
              <div class="form-group">
                <label for="address_line_2">Address line 2
                  <span class="optional">(optional)</span>
                </label>
                <input class="form-control" type="text" id="address_line_2" placeholder="Address line 2"
                       [formControl]="address_line_2">
              </div>

              <div class="row row-billing">
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group" [ngClass]="{'has-error': city.touched && !city.valid}">
                    <label for="city">City</label>
                    <input class="form-control" type="text" id="city" placeholder="City" [formControl]="city">
                    <div *ngIf="city.touched && !city.valid">
                      <span class="help-block" *ngIf="city.errors.required">City is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group" [ngClass]="{'has-error': region.touched && !region.valid}">
                    <label for="region">State/Province</label>
                    <input class="form-control" type="text" id="region" placeholder="State/Province"
                           [formControl]="region">
                    <div *ngIf="region.touched && !region.valid">
                                <span class="help-block"
                                      *ngIf="region.errors.required">State/Province is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group has-select" [ngClass]="{'has-error': country.touched && !country.valid}">
                    <label for="country">Country</label>
                    <select class="form-control" id="country" [formControl]="country">
                      <option value="">Select your country</option>
                      <option *ngFor="let c of countriesCode" value="{{c.code}}">{{c.name}}</option>

                    </select>
                    <div *ngIf="country.touched && !country.valid">
                  <span class="help-block"
                        *ngIf="country.errors.required">Country is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group">
                    <label for="postcode">Postal Code <span class="optional">(optional)</span></label>
                    <input class="form-control" type="text" id="postcode" placeholder="Postal code"
                           [formControl]="postcode">
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item text-center">
              <button [style.display]="methodPaypal ? 'none' : 'inline-block'" id="button-pay"
                      class="btn btn-wth-default ml10" type="submit" [disabled]="!paymentForm.valid">
                {{button_text}}
              </button>
              <img id="paypal-button" (click)="paypal()" [style.display]="methodPaypal ? 'inline-block' : 'none'" class="btn" src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/payments/paypal_vault.png"/>
            </li>
          </ul>
        </form>

      </div>
    </div>
  </div>
</div>






