<hd-modal #modal cssClass="modal-social modal-long" [keyboard]="false" [backdrop]="'static'" (onDismiss)="cancel($event)">
  <modal-header [show-close]="true">
    <h4 class="modal-title text-left"> <i class="fa fa-share-alt"></i> Share in Community</h4>
  </modal-header>
  <modal-body>
    <hd-list #list
      [maxItems]='100'
      [searchable]="true"
      [inputClass]="hd-search-input"
      [searchItems]="items"
      (onRemove)="removeItem($event)"
      (onSelected)="onSelectedItems($event)"
      (onAdd)="addItem($event)"
    >
    </hd-list>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-wth-default btn-min"
            [disabled]="selectedItems.length<=0"
            (click)="selectItems(event)" >Done</button>
    <button type="button" class="btn btn-default btn-min" data-dismiss="modal">Cancel</button>
  </modal-footer>
</hd-modal>


