<div class="zone-social">
  <div class="zone-social-in">

    <z-social-community-cover [data]="data"></z-social-community-cover>

    <member-list-invite #users (onSelected)="inviteMembers($event)"></member-list-invite>
    <div *ngIf="data" class="z-social-box">
      <div class="z-social-box-header">
        <div class="pull-left dropdown">
          <select class="form-control" [(ngModel)]="selectedTab" (change)="viewMember($event)">
            <option value="member">All member</option>
            <option value="invitation">Invitation</option>
            <option value="request">Join request</option>
            <option value="blacklist">Blacklist</option>
          </select>
        </div>
        <button class="btn btn-default pull-right" type="button" (click)="chooseMembers($event)" data-toggle="modal"
                data-target="#modal-social-share-com">
          <i class="fa fa-user-plus"></i> Invite Member
        </button>
      </div>
      <div class="z-social-post">
        <ul class="list-unstyled social-list-user">
          <template ngFor let-user [ngForOf]="data.users" [ngForTrackBy]="trackByUsers">
            <!--<li *ngIf="user.id == data.admin.id">-->
              <!--<div class="dropdown pull-right">-->
                <!--<span class="text-fade">Admin</span>-->
              <!--</div>-->
              <!--<img [alt]="user.name" [src]="user.profile_image" title="" width="30">-->
              <!--<span>{{user.name}}</span>-->
            <!--</li>          -->
            <li *ngIf="selectedTab == 'member'">
              <div class="dropdown pull-right">
                <span class="text-fade">{{ user.id == data.admin.id ? 'Admin' :'Member'}}</span>
                <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-custom">
                  <li><a href="#">Make Admin</a></li>
                  <li><a href="#">Remove</a></li>
                  <li><a href="#" (click)="onReportMember(user.uuid)">Report Member</a></li>
                  <li><a href="#">Blacklist</a></li>
                </ul>
              </div>
              <img [alt]="user.name" [src]="user.profile_image" title="" width="30">
              <span>{{user.name}}</span>
            </li>
            <li *ngIf="selectedTab == 'invitation'">
              <div class="dropdown pull-right">
                <!--<a href="#" class="btn btn-link">ACCEPT</a>-->
                <!--<a href="#" class="btn btn-link">DENY</a>-->
                <a href="#" class="btn btn-link">RE-INVITE</a>
                <a href="#" class="btn btn-link">CANCEL</a>

                <!--<button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"-->
                        <!--aria-haspopup="true" aria-expanded="true">-->
                  <!--<i class="fa fa-ellipsis-v"></i>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu dropdown-custom">-->
                  <!--<li><a href="#">Make Admin</a></li>-->
                  <!--<li><a href="#">Remove</a></li>-->
                  <!--<li><a href="#" (click)="onReportMember(user.uuid)">Report Member</a></li>-->
                  <!--<li><a href="#">Blacklist</a></li>-->
                <!--</ul>-->
              </div>
              <img [alt]="user.name" [src]="user.profile_image" title="" width="30">
              <span>{{user.name}}</span>
            </li>
          </template>
        </ul>
      </div>
    </div>

  </div>
  <z-social-favorites></z-social-favorites>
</div>

