<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <h2>
                Have an account?
            </h2>
            <form (ngSubmit)="login(loginInputEmail.value, loginInputPassword.value)">
                <div class="form-group">
                    <label class="sr-only" for="loginInputEmail">Email address</label>
                    <input type="email" class="form-control" #loginInputEmail id="loginInputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="loginInputPassword">Password</label>
                    <input type="password" class="form-control" #loginInputPassword id="loginInputPassword" placeholder="Password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                    <span class="separator">·</span>
                    <a class="forgot" [routerLink]="['/account/forgot_password']">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-block btn-danger">Sign in</button>
            </form>
            <hr>
            <h2>New to WTHApps?</h2>
            <a [routerLink]="['/register']" class="btn btn-block btn-primary">Sign up</a>
        </div>
    </div>
</div>