<div id="taggingModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-custom modal-long" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-tag"></i> Tagging</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <!--<input type="text" class="form-control" placeholder="">-->
          <!--<p-autoComplete [(ngModel)]="textTags"-->
                          <!--[suggestions]="filteredTags"-->
                          <!--[multiple]="true"-->
                          <!--[minLength]="1"-->
                          <!--field="name"-->
                          <!--(onSelect)="select($event)"-->
                          <!--(onUnselect)="unSelect($event)"-->
                          <!--(completeMethod)="search($event)"-->
          <!--&gt;</p-autoComplete>-->

          <tag-input [(ngModel)]='selectedTags'
                     [maxItems]='100'
                     (onRemove)="onItemRemoved($event)"
                     (onAdd)="onItemAdded($event)">
            <!--[autocomplete]="true"-->
            <!--[autocompleteItems]="tags"-->

          </tag-input>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary-inline" (click)="save($event)" [disabled]="!hasChanged">Save</button>
        <button type="button" class="btn btn-default-inline" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

