<wth-modal-dock #modalDock>
  <wth-modal-dock-header [loading]="(importStatus==IMPORT_STATUS.importing)"
                         [failed]="(importStatus==IMPORT_STATUS.cancelled || importStatus==IMPORT_STATUS.error)"
                         [done]="(importStatus==IMPORT_STATUS.done)">
    <span *ngIf="importStatus==IMPORT_STATUS.importing">Importing</span>
    <span *ngIf="importStatus==IMPORT_STATUS.done">Imported</span>
    <span *ngIf="importStatus==IMPORT_STATUS.cancelled">Import cancelled</span>
  </wth-modal-dock-header>
  <wth-modal-dock-body>
    <div class="media dock-body-import"
         *ngIf="importStatus==IMPORT_STATUS.importing || importStatus==IMPORT_STATUS.cancelled  || importStatus==IMPORT_STATUS.done ">
      <div class="body-message" *ngIf="importStatus==IMPORT_STATUS.importing">
        Importing {{ gapi.totalImporting > 0 ? 'total ' + gapi.totalImporting + ' contacts' : '' }} ...
      </div>
      <div class="body-message" *ngIf="importStatus==IMPORT_STATUS.done">
        Contacts imported
        <div class="body-number">{{ successfulNum }}</div>
      </div>
      <div class="body-message" *ngIf="importStatus==IMPORT_STATUS.cancelled">
        Contacts cancelled
        <div class="body-number">{{ gapi.totalImporting }}</div>
      </div>
    </div>

    <div class="media" *ngIf="importStatus==IMPORT_STATUS.error">
      <div class="media-body">
        <p class="h3 m0 text-normal">Oops, something's wrong happened</p>
        <a href="javascript:;" (click)="retry($event)">
          Retry
        </a>
      </div>
    </div>

  </wth-modal-dock-body>
  <wth-modal-dock-footer [inline]="false">
    <a *ngIf="importStatus==IMPORT_STATUS.done || importStatus==IMPORT_STATUS.cancelled" href="javascript:;"
       (click)="addToGroup($event)">
      Add to Group
    </a>
    <a *ngIf="importStatus==IMPORT_STATUS.importing" href="javascript:;" (click)="stop($event)">
      Stop
    </a>
  </wth-modal-dock-footer>
</wth-modal-dock>
<contact-add-group-modal #addGroup></contact-add-group-modal>
