<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [backdrop]="'static'" [animation]="false">
    <modal-header [show-close]="true">
      <h4 class="modal-title text-left"><i class="fa fa-pencil"></i> Hobby &amp; Interest</h4>
    </modal-header>
    <modal-body>
      <p>
        This section will atomatically update from your WTHApps contact profile.
      </p>
      <div class="form-group">
        <label>Title</label>
        <div class="content-overflow" style="max-height: 325px;" formArrayName="hobby_interests">
          <div *ngFor="let add_work of form.controls.hobby_interests.controls; let i=index" class="media">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-12">
                  <div class="form-group no-label">
                    <input type="text" class="form-control" formControlName="title" placeholder="Music, Hiking,...">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="pull-right text-fade"><span>{{form.value.hobby_interests[i].description.length}}</span>/150 characters</div>
                    <label>Description</label>
                    <textarea formControlName="description" maxlength="150" rows="3"
                              class="form-control" placeholder=""></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-default" (click)="removeHobbyInterest(i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="mt15">
          <button type="button" class="btn btn-default" (click)="addHobbyInterest()">
            <i class="fa fa-plus"></i> Add more
          </button>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button [disabled]="!form.valid" type="submit" class="btn btn-wth-default btn-min mr10" (click)="onSubmit(form.value)">Done</button>
      <button type="button" class="btn btn-default btn-min" (click)="onHideModal()">Cancel</button>
    </modal-footer>
  </modal>
</form>
