<div class="chat-item" [ngClass]="{'chat-item-left': !message.byMe, 'chat-item-right': message.byMe}">
  <figure class="chat-item-avatar">
    <img
      [src]="message.display.image"
      alt="">
  </figure>
  <h4 class="chat-item-name">{{message.display.name}}</h4>
  <div class="chat-item-message">
    <div class="chat-item-card">
      <div class="chat-item-action">
        <small>4:20 PM</small>
        <div class="btn-group">
          <i class="fa fa-pencil" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Copy</a></li>
            <li><a href="#">Quote Message</a></li>
          </ul>
        </div>
      </div>
      <div class="chat-item-content">
        <span [innerHtml]="message.message | wthEmojis | safeHtml"></span>
      </div>
    </div>
  </div>
</div>
