<div class="message-item" [ngClass]="{'message-item-left': !message.byMe, 'message-item-right': message.byMe}">
  <div class="message-item-date" *ngIf="hasShowDate()">
    <span>{{ message.created_at | date }}</span>
  </div>
  <div class="message-item-content">
    <div class="message-item-owner" *ngIf="hasShowOwner()">
      <h4 class="message-item-owner-name">
        <a href="#"> {{message.display.name}} </a>
      </h4>
      <figure class="message-item-owner-avatar">
        <span class="avatar-xs">
          <img [src]="message.display.image" alt="">
        </span>
      </figure>
    </div>
    <div class="message-item-content-card">
      <div class="message-item-content-main">
        <!--text type-->
        <div class="message-item-content-text" *ngIf="message.message_type == 'text'">
          <span [innerHtml]="message.message | wthEmojis | safeHtml"></span>
        </div>

        <template [ngIf]="message.message_type == 'file'">
          <!--photo type-->
          <div class="message-item-content-photo" *ngIf="message.file_type == 'Photo'">
            <img [src]="message.file_json.url" alt="">
          </div>
          <div class="message-item-content-other-files" *ngIf="message.file_type == 'FileMedium'">
            <a class="media-div link-text" [href]="message.file_json.url" target="_blank" download>
              <div class="pull-left">
                <i class="fa fa-file-o"></i>
              </div>
              <div class="media-div-body">
                <div class="media-div-heading">{{message.file_json.name}}</div>
                <div class="text-fade">{{message.file_json.size}}B</div>
              </div>
            </a>
          </div>
        </template>


        <template [ngIf]="message.message_type == 'file_tmp'">
          <!--other file types-->
          <div class="message-item-content-other-files">
            <i class="fa fa-spinner fa-spin fa-fw"></i> Sending ...
          </div>

        </template>


        <!--hyperlink tpe-->
        <div class="message-item-content-hyperlink">

        </div>

        <!--quote message type-->
        <div class="message-item-content-quote-text">

        </div>

        <!--share contact type-->
        <div class="message-item-content-contact-sharing" *ngIf="message.message_type == 'share_contact_message'">
          <div class="media-div">
            <div class="pull-left">
              <span class="avatar-xsm">
                <img [src]="message.display.share_contact.profile_image" alt="">
              </span>
            </div>
            <div class="media-div-body">
              <p class="media-heading bold">{{message.display.share_contact.name}}</p>
              <button class="btn btn-default" *ngIf="!message.byMe" (click)="onAdd(message.display.share_contact)">
                <i class="fa fa-user-plus"></i> Add to Contact
              </button>
              <p *ngIf="message.byMe" class="text-fade">
                Contact send
              </p>
            </div>
          </div>
        </div>

        <!--leave conversation-->
        <div class="message-item-content-conversation-leave">

        </div>

        <!--add new contact-->
        <div class="message-item-content-conversation-add-new-contact">

        </div>

      </div>
      <div class="message-item-action">
        <div class="message-item-menu dropdown">
          <i class="fa fa-pencil" data-toggle="dropdown"></i>

          <!--text message menu-->
          <ul class="dropdown-menu dropdown-menu-right">
            <li *ngIf="!message.file_json"><a href="javascript:;">Copy</a></li>
            <li *ngIf="!message.file_json"><a href="javascript:;" (click)="onQuote(message)">Quote Message</a></li>
            <li *ngIf="!message.file_json"><a href="javascript:;">Edit</a></li>
            <li *ngIf="!message.file_json"><a href="javascript:;">Delete</a></li>
          </ul>

          <!--photos menu-->


          <!--other menu menu menu-->

        </div>
        <div class="message-item-time">
          <small>{{message.created_at | timeFormat: "time_only"}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
