<div *ngIf="message.message_type != 'notification'" class="message-item"
     [ngClass]="{'message-item-left': !message.byMe, 'message-item-right': message.byMe}">
  <div class="message-item-date" *ngIf="hasShowDate()">
    <span>{{ message.created_at | timeFormat:'day' }}</span>
  </div>
  <div class="message-item-content">
    <div class="message-item-owner" *ngIf="hasShowOwner() && message.display">
      <h4 class="message-item-owner-name">
        <a [routerLink]="[profileUrl, message.display.uuid]"> {{ message.display.name }} </a>
      </h4>
      <figure class="message-item-owner-avatar">
        <span class="avatar-xs">
          <img [src]="message.display?.image" alt="">
        </span>
      </figure>
    </div>
    <div class="message-item-content-card">

      <div class="message-item-content-main">

        <!--mesasge menu-->
        <div class="message-item-menu dropdown"
             *ngIf="message.message_type !== 'message_deleted' &&  message.message_type !== 'message_cancel'">
          <i class="fa fa-sort-down" data-toggle="dropdown"
             pTooltip="{{ tooltip.showActions }}" tooltipPosition="top"></i>

          <!--text message menu-->
          <ul class="dropdown-menu dropdown-menu-right" *ngIf="message.message_type == 'text'">
            <li *ngIf="!message.file_json"><a href="javascript:;" (click)="copy()">Copy</a></li>
            <!--comment out this menu because this function is not working now-->
            <!--<li *ngIf="!message.file_json"><a href="javascript:;" (click)="quote()">Quote Message</a></li>-->
            <li *ngIf="!message.file_json && message.byMe"><a href="javascript:;" (click)="edit()">Edit</a></li>
            <li *ngIf="!message.file_json && message.byMe"><a href="javascript:;" (click)="delete()">Delete</a></li>
          </ul>

          <!--photos menu-->
          <ul class="dropdown-menu dropdown-menu-right" *ngIf="message.file_type == 'Media::Photo'">
            <li *ngIf="message.file_json && message.message_type !== 'message_deleted'">
              <a [href]="message.file_json.url" target="_blank" download>
                Download
              </a>
            </li>
          </ul>

          <!--sending message menu-->
          <ul class="dropdown-menu dropdown-menu-right" *ngIf="message.sending_status == 1">
            <li>
              <a (click)="cancle()" target="_blank" download>
                Cancel
              </a>
            </li>
          </ul>

          <!--other menu -->
          <ul class="dropdown-menu dropdown-menu-right" *ngIf="message.file_type == 'Common::GenericFile'">
            <li *ngIf="message.file_json && message.message_type !== 'message_deleted' && message.message_type !== 'message_cancel'">
              <a [href]="message.file_json.url" target="_blank" download>
                Download
              </a>
            </li>
          </ul>

        </div>


        <!--text type-->
        <div class="message-item-content-text" *ngIf="message.message_type == 'text'">
          <span [innerHtml]="message.message | wthEmojis | linkify | safeHtml"></span>
        </div>

        <ng-template [ngIf]="message.message_type == 'file'">

          <!--show sending -->
          <div *ngIf="message.sending_status == 1" class="message-item-content-other-files">
            <a class="media-div link-text" href="javascript:void(0);">
              <div class="pull-left">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
              </div>
              <div class="media-div-body">
                <div class="media-div-heading">{{ message.message }}</div>
                <!--<div class="text-fade">{{ message.file_json.size | bytes:3 }}</div>-->
              </div>
            </a>
          </div>

          <!--show failed sending -->
          <div *ngIf="message.sending_status == -1" class="message-item-content-other-files">
            <a class="media-div link-text" href="javascript:void(0);">
              <div class="pull-left">
                <i class="fa fa-file-o"></i>
              </div>
              <div class="media-div-body">
                <div class="media-div-heading">Failed sending file</div>
              </div>
            </a>
          </div>

          <!--photo type-->
          <div class="message-item-content-photo" *ngIf="message.file_type == 'Media::Photo'">
            <figure>
              <a href="javascript:;" (click)="onPreviewPhoto(message)">
                <img [src]="message.file_json.url" alt="">
              </a>
            </figure>
            {{ message.to_json }}
          </div>
          <div class="message-item-content-other-files" *ngIf="message.file_type == 'Common::GenericFile'">
            <a class="media-div link-text" [href]="message.file_json?.url" target="_blank" download>
              <div class="pull-left">
                <i class="fa fa-file-o"></i>
              </div>
              <div class="media-div-body">
                <div class="media-div-heading">{{ message.file_json.full_name }}</div>
                <div class="text-fade">{{ message.file_json.size | bytes:3 }}</div>
              </div>
            </a>
          </div>
        </ng-template>



        <!--hyperlink tpe-->
        <div class="message-item-content-hyperlink">

        </div>

        <!--quote message type-->
        <div class="message-item-content-quote-text" *ngIf="message.message_type == 'quote'">
          <blockquote>
            <strong>David Nguyen</strong>
            <span>4:37 PM</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut cupiditate doloremque, ea esse
              eveniet illum incidunt itaque molestias nisi non quae recusandae, sequi sint sunt suscipit tenetur ullam
              voluptatibus?</p>
          </blockquote>
        </div>

        <!--share contact type-->
        <div class="message-item-content-contact-sharing" *ngIf="message.message_type == 'share_contact_message'">
          <!-- Sender -->
          <message-actions-item
            *ngIf="message.byMe"
            [avatar]=message?.display?.share_contact?.profile_image
            [url]="'profile/' + message.display.share_contact.uuid"
            [name]=message.display.share_contact.name
            [status]="'Share contact'"
            [actions]="[{text: 'Resend', id: 'resend'}, {text: '', class:'fa fa-times', id: 'cancel', btnClass:'btn-default'}]"
            (eventOut)=onShareContact($event)>
          </message-actions-item>
          <!-- Receiver -->
          <message-actions-item
            *ngIf="!message.byMe"
            [avatar]=message?.display?.share_contact?.profile_image
            [url]="'profile/' + message.display.share_contact.uuid"
            [name]=message.display.share_contact.name
            [status]="'Share contact'"
            [actions]="[{text: 'Add Contact', id: 'add_contact', class:'fa fa-plus'}]"
            (eventOut)=onAdd($event)>
          </message-actions-item>
        </div>


        <!--requested contact type-->
        <div class="message-item-content-contact-sharing" *ngIf="message.message_type == 'request'">
          <!-- sent_request -->
          <message-actions-item
            *ngIf="message.byMe && contactItem.value.status == 'sent_request'"
            [avatar]=message.receiver?.profile_image
            [url]="'profile/' + message.receiver.uuid"
            [name]=message.receiver.name
            [status]="'Requested'"
            [actions]="[{text: 'Resend', id: 'CONTACT_REQUEST_CREATE'}, {text: '', class:'fa fa-times', id: 'CONTACT_REQUEST_CANCEL', btnClass:'btn-default'}]"
            (eventOut)=doEvent($event)>
          </message-actions-item>
          <!-- contact already accepted -->
          <message-actions-item
            *ngIf="message.byMe && contactItem.value.status == 'accepted'"
            [avatar]=message.receiver?.profile_image
            [url]="'profile/' + message.receiver.uuid"
            [name]=message.receiver.name
            [status]="'accepted your request'"
            (eventOut)=doEvent($event)>
          </message-actions-item>
          <!-- Receiver -->
          <message-simple-item *ngIf="!message.byMe" [data]="'Hello! You are now connected on Chat.'"></message-simple-item>
        </div>

        <!--leave conversation-->
        <div class="message-item-content-conversation-leave">

        </div>

        <!--add new contact-->
        <div class="message-item-content-conversation-add-new-contact">

        </div>

        <!--deleted type-->
        <div class="message-item-content-text" *ngIf="message.message_type == 'message_deleted'">
          <span>This message has been deleted</span>
        </div>

        <!--cancel message type-->
        <div class="message-item-content-text" *ngIf="message.sending_status == 2">
          <span>Upload Canceled</span>
        </div>
        <!--can't upload message type-->
        <div class="message-item-content-text" *ngIf="message.sending_status == 3">
          <span>{{ message.message }}</span>
        </div>

      </div>
      <div class="message-item-action"
           *ngIf="(message.message_type == 'text' || message.message_type == 'Media::Photo' || message.message_type == 'FileMedium')">
        <div class="message-item-time">
          <small>{{ message.created_at | timeFormat: "time_only" }}</small>
        </div>
      </div>
      <div class="message-item-status" *ngIf="message.byMe">
        <span>Sent <i class="fa fa-check-circle-o"></i></span>
      </div>
    </div>
  </div>
</div>

<div class="p20 text-center" *ngIf="message.links && message.links.length > 0" [ngClass]="{'message-item-left': !message.byMe, 'message-item-right': message.byMe}">
  <div *ngFor="let link of message.links">
    <div *ngIf="link.image && link.title" class="message-item-content-main" >
      <display-link [data]="link" *ngIf="link.image && link.title"></display-link>
    </div>
  </div>
</div>


<div *ngIf="message.message_type == 'notification'" class="p20 text-center">
  <div><span class="text-bold">{{ message.display.name }}</span> {{ message.message }}</div>
  <div class="text-fade">
    <small>{{ message.created_at | timeFormat: "time_only" }}</small>
  </div>
</div>
