<div *ngIf="contactItem && contactItem.value">
  <div #list *ngIf="contactItem.value.active"
       [scrollTop]="list.scrollHeight"
       class="page-body-chat-content-in"
       infiniteScrollUpDistance="20"
       infiniteScrollThrottle="2000"
       infiniteScroll
       [scrollWindow]="false"
       (scrolledUp)="onLoadMore()">
    <div class="message-item-wrapper" *ngIf="item && item.value">
      <div class="message-item-dv" *ngFor="let message of item.value.data">
        <message-item [message]="message" [prevMessage]="getPrevMessage(message)"
                      (onAddContact)="onAddContact($event)" (event)="doEvent($event)"></message-item>
      </div>
    </div>
  </div>
  <div *ngIf="!contactItem.value.active">
    <z-chat-share-item-request [message]="item.value.data"></z-chat-share-item-request>
  </div>
</div>

<z-chat-share-request-contact #request></z-chat-share-request-contact>
<block-upload-modal></block-upload-modal>
