<footer class="footer">
  <div class="container">
    <ul class="list-unstyled list-inline">
      <li *ngIf="!isLoggedIn()"><a [routerLink]="['/login']">Login</a></li>
      <li><a [routerLink]="['/signup']">Signup</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/apps']">Applications</a></li>
      <li><a [routerLink]="['/plans-pricing']">Plans and Pricing</a></li>
      <li><a [routerLink]="['/support']">Support</a></li>
      <li><a [routerLink]="['/policies/privacy']">Privacy Policy</a></li>
      <li><a [routerLink]="['/policies/terms']">Terms of service</a></li>
      <li><a [routerLink]="['/policies/cookies']">Cookies</a></li>
    </ul>
    <p><a [routerLink]="['/']">WTHApps</a> © 2016 • All rights reserved.</p>
  </div>
</footer>
