<footer class="footer">
  <div class="footer-nav">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <ul class="footer-menu">
            <li>
              <a [routerLink]="['/account/apps']">Products</a>
            </li>
            <li>
              <a [routerLink]="['/comingsoon']">Pricing</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="footer-menu">
            <li>
              <a [routerLink]="['/about']">About Us</a>
            </li>
            <li>
              <a [routerLink]="['/contact']">Contact us</a>
            </li>
            <li>
              <a [routerLink]="['/support']">Support</a>
            </li>

          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="footer-menu">
            <li>
              <a [routerLink]="['/policies/privacy']">Privacy Policy</a>
            </li>
            <li>
              <a [routerLink]="['/policies/terms']">Term of Service</a>
            </li>
            <li>
              <a [routerLink]="['/policies/cookies']">Cookies</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li>
              <p>Follow Us On:</p>
            </li>
            <li>
              <div class="social-dv">
                <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a>
                <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter-square"></i></a>
                <a target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest-square"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-end">
    <div class="container">
      <a href="#" class="footer-logo">
        <img src="assets/images/logo.png" alt="WTHApps">
      </a>
      <p>&copy; Copyright 2016 All rights reserved</p>
    </div>
  </div>
</footer>
