@import "../../scss/global";

.display-link {
  margin: 10px 0;

  width: 100%;
  background-color: #ffffff;
  border: 1px solid $line;
  position: relative;

  .display-link-img {
    .img-center-dv {
      padding-bottom: 70%;
    }
    img {
      max-width: 100%;
      width: 100%;
    }
  }
  .display-link-txt {
    padding: 10px;
    h4 {
      margin: 0 0 5px;
    }
    a {
      color: $text-color;
      text-decoration: none;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    small {
      font-size: 12px;
      color: $text-color-fade;
    }
  }

  @media (min-width: $screen-lg-min) {
    display: table;
    .display-link-img, .display-link-txt {
      display: table-cell;
      vertical-align: top;
    }
    .display-link-img {
      width: 45%;
    }
  }
}
