<div *ngIf="!embedCode" class="display-link">
  <div class="display-link-img">
    <a [href]="data.link" target="_blank">
      <figure class="img-center-dv" *ngIf="data.image">
        <img class="img-center" [src]="data.image" alt="">
      </figure>
    </a>
  </div>
  <div class="display-link-txt">
    <h4 *ngIf="data.title">
      <a [href]="data.link" target="_blank">{{data.title | maxLength:60}}</a>
    </h4>
    <p *ngIf="data.description">{{data.description | maxLength:90}}</p>
    <small *ngIf="data.site_name">{{data.site_name}}</small>
  </div>
</div>

<span *ngIf="embedCode" [innerHtml]="embedCode | safeHtml"></span>
