<aside class="aside-left">
  <div class="navgroup">
    <h4 class="aside-title">Featured</h4>
    <ul class="navgroup-menu">
      <li>
        <a href="#">Top Tools</a>
      </li>
      <li>
        <a href="#">New Apps & Services</a>
      </li>
      <li>
        <a href="#">WTH Products</a>
      </li>
    </ul>
  </div>
  <div class="navgroup">
    <h4 class="aside-title">Categories</h4>
    <div class="navgroup-cat">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

  </div>
  <div class="navgroup">
    <h4 class="aside-title">Platform</h4>
    <div class="navgroup-choose">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          All platform
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Web apps
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Windows
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Mac OS
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Android
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          iOS
        </label>
      </div>
    </div>
  </div>
</aside>
