<ul class="page-body-control-menu">
  <li *ngIf="showNumber">
    <span style="line-height: 34px;" class="mr10">
      {{ number }} selected
    </span>
  </li>
  <li>
    <a href="javascript:;" class="btn btn-default" (click)="emitEvent({action: 'favourite'})"
       pTooltip="{{ tooltip.favourite }}" tooltipPosition="bottom">
      <i class="fa" [ngClass]="toggleFavourite ? 'fa-star' : 'fa-star-o'"></i>
    </a>
  </li>
  <li>
    <a [ngClass]="{disabled: !showSocial}" href="javascript:;" class="btn btn-default" (click)="emitEvent({action: 'social'})"
       pTooltip="{{ tooltip.goToSocial }}" tooltipPosition="bottom">
      <i class="fa fa-globe"></i>
    </a>
  </li>
  <li>
    <a [ngClass]="{disabled: !showChat}" href="javascript:;" class="btn btn-default" (click)="emitEvent({action: 'chat'})"
       pTooltip="{{ tooltip.goToChat }}" tooltipPosition="bottom">
      <i class="fa fa-comments-o"></i>
    </a>
  </li>
  <li *ngIf="showTag">
    <a href="javascript:;" class="btn btn-default" (click)="emitEvent({action: 'tag'})"
       pTooltip="{{ tooltip.addLabel }}" tooltipPosition="bottom">
      <i class="fa fa-tags"></i>
    </a>
  </li>
  <li class="dropdown action">
    <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
       pTooltip="{{ tooltip.moreAction }}" tooltipPosition="bottom">
      <i class="fa fa-ellipsis-v"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right text-right">
      <li *ngIf="showViewDetail">
        <a href="javascript:;" (click)="emitEvent({action: 'view_detail'})">
          <i class="fa fa-eye"></i> View Contact
        </a>
      </li>
      <li *ngIf="showEdit">
        <a href="javascript:;" (click)="emitEvent({action: 'edit_contact'})">
          <i class="fa fa-pencil"></i> Edit Contact
        </a>
      </li>
      <li>
        <a href="javascript:;" (click)="mergeDuplicate()">Merge duplicate contacts</a>
      </li>
      <li>
        <a href="javascript:;" (click)="emitEvent({action: 'delete'})"><i class="fa fa-trash"></i> Delete</a>
      </li>
      <li>
        <a href="javascript:;" (click)="emitEvent({action: 'blacklist'})"
           [title]="toggleBlacklist ? 'remove from blacklist' : 'add to blacklist'">
          <i class="fa fa-ban"></i> Blacklist
        </a>
      </li>
      <li *ngIf="showInvitation">
        <a href="javascript:void(0);"
           (click)="emitEvent({action: 'invitation:open_modal'})"
           title="Send invitation">
          <i class="fa fa-send"></i> Send invitation
        </a>
      </li>
    </ul>
  </li>
</ul>
