<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'" style="display: inline;">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title"> {{ titleName }}</h4>
  </bs-modal-header>

  <form [formGroup]="form" novalidate>
    <bs-modal-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group no-label"
               [ngClass]="{'has-error': errMsg}">
            <input autofocus [formControl]="name" type="text" class="form-control" id="name" placeholder="New group name">
            <!-- <div *ngIf="!name.valid && name.touched">
              <span *ngIf="!name.valid && name.errors.required" class="help-block">
                Name is required
              </span>
            </div> -->
            <div *ngIf="errMsg">
              <span class="help-block">
                {{ errMsg }}
              </span>
            </div>
          </div>
        </div>

      </div>
    </bs-modal-body>

    <bs-modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal" (click)="modal.close()">Cancel</button>
      <button type="button" (click)="submit()"
              class="btn btn-outline-primary btn-min">
        Done
      </button>
    </bs-modal-footer>
  </form>

</bs-modal>
