<nav class="page-menuleft" draggable="false">
  <ul class="menuleft-nav">
    <li [routerLinkActive]="['active']">
      <a draggable="false" [routerLink]="['/my-profile']">Profile</a>
    </li>

    <li class="has-sub has-action" [ngClass]="{'active': urls.contact == hostname && !isProfileTab}">
      <a draggable="false" (click)="onMenu('contact')">
        Contact
      </a>
      <ul [ngClass]="{'active': urls.contact == hostname}"
          class="menuleft-nav-sub"
          id="zone_menu_contact"
          [routerLinkActive]="['active']" >
        <ng-template ngFor let-contact [ngForOf]="contactMenu" let-i="index" [ngForTrackBy]="trackMenu">
          <li *ngIf="contact.name != ''" class="text-capitalize">
            <a *ngIf="contact.name !='labels'" draggable="false" [routerLink]="['contacts', {label: contact.name}]"  (click)="doEvent({action: contact?.action, event: $event})">
              <i class="{{contact.icon}}"></i> {{ contact.name }}  ({{ contact?.count }})
            </a>

            <a *ngIf="contact.name =='labels'" draggable="false" href="javascript:;">
              <i class="{{contact.icon}}"></i> {{ contact.name }}
            </a>

            <div *ngIf="contact.hasSubMenu" class="menuleft-nav-sub-action">
              <span class="can-click" (click)="doEvent({action:'contact:label:open_modal_edit', payload: {mode: 'edit', selectedItem: contact.name}})" title="edit label name">
                <i class="fa fa-pencil"></i>
              </span>
              <span class="can-click" (click)="doEvent({action:'contact:label:delete', payload: {selectedItem: contact.name}})" title="delete label">
                <i class="fa fa-trash"></i>
              </span>
            </div>
          </li>

        </ng-template>
        <li>
          <a draggable="false" href="javascript:;" (click)="doEvent({action: 'contact:label:open_modal_edit', payload:{mode: 'add'}, event: $event})">
            <i class="fa fa-plus"></i> New label
          </a>
        </li>
        <li class="divider"></li>
        <li [routerLinkActive]="['active']">
          <a draggable="false" href="javascript:;" (click)="doEvent({action: 'contact:label:open_modal_setting', payload:{mode: 'add'}, event: $event})">
            <i class="fa fa fa-cog"></i> Settings
          </a>
        </li>

      </ul>
    </li>

    <li>
      <a draggable="false" href="#">Calendar</a>
    </li>

    <li class="has-sub" [ngClass]="{'active': urls.social == hostname}">
      <a draggable="false" href="javascript:;" (click)="onMenu('social')">
        Social Network
      </a>
      <ul [ngClass]="{'active': urls.social == hostname}" class="menuleft-nav-sub">
        <ng-template ngFor let-social [ngForOf]="socialMenu" let-i="index" [ngForTrackBy]="trackByFn">
          <li *ngIf="social.name != ''" [routerLinkActive]="['active']"
              [ngClass]="{'hidden': social.link == '/search'}">
            <a draggable="false" *ngIf="social.link == '/profile'" [routerLink]="['/profile',uuid]">
              <i class="{{ social.icon }}"></i> {{ social.name }}
            </a>
            <a draggable="false" *ngIf="social.link != '/profile'" [routerLink]="[social.link]">
              <i class="{{ social.icon }}"></i> {{ social.name }}
            </a>
          </li>
          <li class="divider" *ngIf="social.name == ''"></li>
        </ng-template>
      </ul>
    </li>

    <li class="has-sub" [ngClass]="{'active': urls.chat == hostname && !isProfileTab}">
      <a draggable="false" [routerLink]="[chatMenu[0].link]" (click)="onMenu('chat')">
        Chat
      </a>
      <ul [ngClass]="{'active': urls.chat == hostname}" class="menuleft-nav-sub" id="zone_menu_chat">
        <ng-template ngFor let-chat [ngForOf]="chatMenu" let-i="index" [ngForTrackBy]="trackByFn">
          <li *ngIf="chat.name != ''" [routerLinkActive]="['active']">
            <a draggable="false" [routerLink]="[chat.link]">
              <i class="{{ chat.icon }}"></i> {{ chat.name }}
            </a>
          </li>
          <li class="divider" *ngIf="chat.name == ''"></li>
        </ng-template>
      </ul>
    </li>

    <li>
      <a draggable="false" href="#">Gadget</a>
    </li>
    <li class="has-sub" [ngClass]="{'active': urls.media == hostname && !isProfileTab}">
      <a draggable="false" href="javascript:;" (click)="onMenu('media')">
        Picture
      </a>
      <ul [ngClass]="{'active': urls.media == hostname}" class="menuleft-nav-sub">
        <ng-template ngFor let-media [ngForOf]="mediaMenu" let-i="index" [ngForTrackBy]="trackByFn">
          <li *ngIf="media.name != ''" [routerLinkActive]="['active']" [ngClass]="{'hidden': media.link == '/search'}">
            <a draggable="false" [routerLink]="[media.link]" [queryParams]="{}">
              <i class="{{ media.icon }}"></i> {{ media.name }}
            </a>
          </li>
          <li class="divider" *ngIf="media.name == ''"></li>
        </ng-template>

      </ul>
    </li>
    <li>
      <a draggable="false" href="#">Bookmarks</a>
    </li>
    <li>
      <a draggable="false" href="#">Documents</a>
    </li>
    <li>
      <a draggable="false" href="#">Networking</a>
    </li>
    <li>
      <a draggable="false" href="#">Games</a>
    </li>
    <li>
      <a draggable="false" href="#">Dating</a>
    </li>
    <li>
      <a draggable="false" href="#">Project</a>
    </li>
  </ul>
</nav>
