<nav class="page-menuleft" draggable="false">
  <div class="menuleft-nav">
    <div class="menuleft-nav-item has-sub" [ngClass]="{'active': urls.social == hostname && !isProfileTab, 'show': urls.social == hostname}">
      <a id="menuleft-nav-intro-1" draggable="false" href="javascript:;" (click)="onMenu('social')">
        Social Network
      </a>

      <div [ngClass]="{'active': urls.social == hostname, 'show': urls.social == hostname}" class="menuleft-nav-sub">
        <ng-template ngFor let-social [ngForOf]="socialMenu" let-i="index">
          <div *ngIf="social.name != ''" [routerLinkActive]="['active']" (click)="clearOutlets()"
               [ngClass]="{'hidden': social.link == '/search'}" class="menuleft-nav-sub-item">
            <a draggable="false" *ngIf="social.link == '/profile'" [routerLink]="['/profile',uuid]">
              <i class="{{ social.icon }}"></i> {{ social.name }}
            </a>
            <a draggable="false" *ngIf="social.link != '/profile'" [routerLink]="[social.link]">
              <i class="{{ social.icon }}"></i> {{ social.name }}
            </a>
          </div>
          <div class="divider" *ngIf="social.name == ''"></div>
        </ng-template>
      </div>
    </div>

    <div class="menuleft-nav-item has-sub"
         [ngClass]="{'active': urls.chat == hostname && !isProfileTab, 'show': urls.chat == hostname}">
      <a draggable="false" [routerLink]="[chatMenu[0].link]" (click)="onMenu('chat')">
        Chat
      </a>
      <div [ngClass]="{'active': urls.chat == hostname}" class="menuleft-nav-sub">
        <ng-template ngFor let-chat [ngForOf]="chatMenu" let-i="index">
          <div *ngIf="chat.name != ''" [routerLinkActive]="['active']" class="menuleft-nav-sub-item">
            <a draggable="false" [routerLink]="[chat.link]">
              <i class="{{ chat.icon }}"></i> {{ chat.name }}
            </a>
          </div>
          <div class="divider" *ngIf="chat.name == ''"></div>
        </ng-template>
      </div>
    </div>

    <div class="menuleft-nav-item has-sub"
         [ngClass]="{'active': urls.media == hostname && !isProfileTab, 'show': urls.media == hostname}">
      <a draggable="false" href="javascript:;" (click)="onMenu('media')">
        Pictures
      </a>
      <div [ngClass]="{'active': urls.media == hostname}" class="menuleft-nav-sub">
        <ng-template ngFor let-media [ngForOf]="mediaMenu" let-i="index">
          <div *ngIf="media.name != ''" [routerLinkActive]="['active']" [ngClass]="{'hidden': media.link == '/search'}"
               class="menuleft-nav-sub-item">
            <a draggable="false" [routerLink]="[media.link]" [queryParams]="{}">
              <i class="{{ media.icon }}"></i> {{ media.name }}
            </a>
          </div>
          <div class="divider" *ngIf="media.name == ''"></div>
        </ng-template>

      </div>
    </div>


    <div class="menuleft-nav-item has-sub has-action"
         [ngClass]="{'active': urls.note == hostname && !isProfileTab, 'show': urls.note == hostname}">
      <a draggable="false" href="javascript:;" (click)="onMenu('note')">
        Notes
      </a>
      <div class="menuleft-nav-sub" *ngIf="urls.note === hostname " [ngClass]="{'active': urls.note == hostname && !isProfileTab, 'show': urls.note == hostname}">
        <ng-content></ng-content>
      </div>
    </div>


    <div class="menuleft-nav-item has-sub has-action"
         [ngClass]="{'active': urls.contact === hostname && !isProfileTab, 'show': urls.contact === hostname}">
      <a draggable="false" href="javascript:;" (click)="onMenu('contact')">
        Contacts
      </a>
      <ng-container *ngIf="urls.contact === hostname">
        <div [ngClass]="{'active': urls.contact === hostname, 'show': urls.contact === hostname}"
          class="menuleft-nav-sub"
          [routerLinkActive]="['active']">
          <div class="menuleft-nav-sub-item" [ngClass]="{'active' : (urls.contact === hostname && currentgroup === 'all contacts')}">
            <a draggable="false" href="javascript:;" [routerLink]="['contacts', {group: 'all contacts'}]"
               (click)="doEvent({action: 'contacts', event: $event})">
              <i class="fa fa-address-book-o"></i> All Contacts ({{ totalContactCount }})
            </a>
          </div>
          <div class="divider"></div>
          <div class="menuleft-nav-sub-item">
            <a draggable="false" href="javascript:;">
              <i class="fa fa-users"></i> Groups
            </a>
          </div>
          <ng-template ngFor let-group [ngForOf]="contactMenu" let-i="index">
            <div class="menuleft-nav-sub-item text-capitalize" *ngIf="group.name != ''"
                 [ngClass]="(currentGroup === group?.name) ? 'active' : ''">
              <a *ngIf="group.name !='groups'" draggable="false" [routerLink]="['contacts', {group: group.name}]"
                 (click)="doEvent({action: group?.action, event: $event})">
                <i class="{{ group.icon }}"></i> {{ group.name }} ({{ group?.count }})
              </a>

              <a *ngIf="group.name =='groups'" draggable="false" href="javascript:;">
                <i class="{{ group.icon }}"></i> {{ group.name }}
              </a>

              <div *ngIf="group.hasSubMenu" class="menuleft-nav-sub-action">
              <span class="can-click"
                    (click)="doEvent({action:'contact:group:open_modal_edit', payload: {mode: 'edit', selectedItem: group.name}})"
                    title="edit group name">
                <i class="fa fa-pencil"></i>
              </span>
                <span class="can-click" (click)="deleteGroup(group)" title="delete group">
                <i class="fa fa-trash"></i>
              </span>
              </div>
            </div>

          </ng-template>
          <div class="menuleft-nav-sub-item">
            <a draggable="false" href="javascript:;"
               (click)="doEvent({action: 'contact:group:open_modal_edit', payload:{mode: 'add'}, event: $event})">
              <i class="fa fa-plus"></i> New Group
            </a>
          </div>
          <div class="divider"></div>
          <div class="menuleft-nav-sub-item" [routerLinkActive]="['active']">
            <a draggable="false" [routerLink]="['/settings']">
              <i class="fa fa fa-cog"></i> Settings
            </a>
          </div>

        </div>
      </ng-container>
    </div>

    <div class="menuleft-nav-item" [routerLinkActive]="['active']">
      <a draggable="false" [routerLink]="['/my-profile']">Profile</a>
    </div>
  </div>
</nav>
