<!--<div class="page-body-content has-page-body-sidebar" *ngIf="contactItem.value">-->
  <!--<div class="page-body-content-in">-->
    <!--<ul class="p-list-user p-list-border">-->
      <!--<li *ngFor="let contact of contactItem.value" >-->
        <!--<div class="media-flex">-->
          <!--<div class="media-flex-item">-->
            <!--<figure>-->
              <!--<img [src]="contact.display.image">-->
            <!--</figure>-->
          <!--</div>-->
          <!--<div class="media-flex-item">-->
            <!--<span class="text-overflow-name">{{contact.display.name}}</span>-->
          <!--</div>-->
          <!--<div class="media-flex-body text-fade">-->
            <!--&lt;!&ndash;Nickname&ndash;&gt;-->
          <!--</div>-->
          <!--<z-chat-contact-actions [contact]="contact" [config]="configActions"></z-chat-contact-actions>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
