<ng-template #objectActionsTemplate>
  <ul class="page-body-control-menu" [ngClass]="{'text-disable': noSelectedObjects}"
      [class.disabled]="noSelectedObjects">
    <li>
      <a class="btn btn-default" href="javascript:void(0);" draggable="false"
         (click)="toolbar.doAction({action: 'preview',
         payload: {selectedObjects: toolbar.selectedObjects.length > 0 ? toolbar.selectedObjects : gridlist.objects}})"
         pTooltip="{{ tooltip.preview}}" tooltipPosition="bottom">
        <i class="fa fa-eye"></i>
      </a>
    </li>
    <li *ngIf="!!toolbar.selectedObjects.length">
      <a class="btn btn-default" draggable="false" pTooltip="{{ tooltip.share}}" tooltipPosition="bottom"
         href="javascript:void(0);"
         (click)="toolbar.doAction({action: 'openModal',
         payload: {modalName: 'sharingModal', selectedObjects: toolbar.selectedObjects}})">
        <i class="fa fa-share-alt"></i>
      </a>
    </li>

    <li *ngIf="!!toolbar.selectedObjects.length">
      <a class="btn btn-default" href="javascript:void(0);" draggable="false"
         *ngIf="toolbar.favoriteAll"
         (click)="toolbar.doAction({
           action: 'favourite',
           payload: { mode: 'remove',
           multiItem: true,
           selectedObjects: toolbar.selectedObjects }})"
         pTooltip="{{ tooltip.removeFromFavourites }}"
         tooltipPosition="bottom">
        <i class="fa fa-star"></i>
      </a>
      <a class="btn btn-default" href="javascript:void(0);" draggable="false"
         *ngIf="!toolbar.favoriteAll"
         (click)="toolbar.doAction({
           action: 'favourite',
           payload: { mode: 'add',
           multiItem: true,
           selectedObjects: toolbar.selectedObjects }})"
         pTooltip="{{ tooltip.addToFavorites }}"
         tooltipPosition="bottom">
        <i class="fa fa-star-o"></i>
      </a>
    </li>
    <li *ngIf="!!toolbar.selectedObjects.length">
      <a class="btn btn-default" href="javascript:;" draggable="false"
         (click)="toolbar.doAction({action: 'openModal',
         payload: { modalName: 'taggingModal', selectedObjects: toolbar.selectedObjects }})"
         pTooltip="{{ tooltip.tag}}" tooltipPosition="bottom">
        <i class="fa fa-tag"></i></a>
    </li>
    <li *ngIf="!!toolbar.selectedObjects.length">
      <a class="btn btn-default" href="javascript:;" draggable="false"
         (click)="toolbar.doAction({action: 'deleteMedia', payload: {selectedObjects: toolbar.selectedObjects}})"
         pTooltip="{{ tooltip.delete}}" tooltipPosition="bottom">
        <i class="fa fa-trash-o"></i></a>
    </li>

    <li class="dropdown action" *ngIf="!!toolbar.selectedObjects.length">
      <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
         pTooltip="{{ tooltip.moreAction}}" tooltipPosition="bottom">
        <i class="fa fa-ellipsis-v"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
        <li *ngIf="!!toolbar.selectedObjects.length">
          <a href="javascript:void(0);" draggable="false"
             (click)="toolbar.doAction({action: 'openModal',
             payload: {modalName: 'addToAlbumModal', selectedObjects: toolbar.selectedObjects}})"
             >
            <i class="fa fa-plus-square"></i> Add to Album
          </a>
        </li>
        <li *ngIf="!!toolbar.selectedObjects.length">
          <a href="javascript:void(0);" draggable="false"
             (click)="toolbar.doAction({action: 'download', payload: {selectedObjects: toolbar.selectedObjects}})">
            <i class="fa fa-download"></i> Download</a>
        </li>
        <li *ngIf="toolbar.hasOneObject" href="javascript:void(0);" draggable="false" >
          <a (click)="toolbar.doAction({
            action: 'openModal',
            payload: {modalName: 'editInfoModal', selectedObject: toolbar.selectedObjects[0]}
          })" >
            <i class="fa fa-edit"></i> Edit Information
          </a>
        </li>
        <li *ngIf="toolbar.hasOneObject" href="javascript:void(0);" draggable="false" >
          <a (click)="toolbar.doAction({
            action: 'viewDetails',
            payload: { selectedObject: toolbar.selectedObjects[0] }
          })" >
            <i class="fa fa-info-circle"></i> View Detail
          </a>
        </li>
      </ul>
    </li>
  </ul>
</ng-template>

<w-toolbar #toolbar
           [view]="gridlist.view"
           [selectedObjects]="gridlist.selectedObjects"
           [objectActionsTemplate]="objectActionsTemplate"
           (event)="gridlist.doEvent($event)">
</w-toolbar>

<w-grid-list #gridlist
             [objects]="photos$|async"
             [nextLink]="nextLink$|async"
             (event)="doEvent($event)"
             (selectedObjectsChanged)="toolbar.updateSelectedObjects($event)">


</w-grid-list>
<!--no data region-->
<div class="zone-no-photo text-center" *ngIf="!gridlist.objects.length">
  <div>
    <h2><i class="fa fa-picture-o"></i></h2>
    <h3>There are no photos!</h3>
    <p>
      <button class="btn btn-outline-primary" (click)="doEvent({action: 'openUploadModal'})">
        <i class="fa fa-cloud-upload"></i> Upload Photo
      </button>
    </p>
  </div>
</div>

<ng-template #modalContainer></ng-template>




