<me-view-container [objectType]="'photo'" [pageType]="'list'" [page]="'photos'"></me-view-container>

<!--<div *ngFor="let photo of photos | async">-->
  <!--<img [src]="photo.thumbnail_url" width="200px">-->
  <!--<h3>photo ID: {{ photo.id }} </h3>-->
  <!--<p>photo: {{ photo.name }}</p>-->
  <!--<button (click)="delete(photo.id)">DELETE</button>-->
<!--</div>-->

<introduction-modal #introModal
  [after]="{media: true}"
  [data]="[
  {
    title: 'Welcome to WTH!Pictures',
    icon: '../../assets/icons/pictures-50x50.png',
    content: 'WTH!Photo help you store, organize and share your photos.'
  }
  ]">
</introduction-modal>
