<div *ngIf="data">
  <div class="field-group-title">
    <h3 class="pull-left">Emails</h3>
    <div class="pull-right">
      <button *ngIf="editable" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
  </div>
  <div *ngIf="data.emails" class="field-group-content">
    <dl class="dl-horizontal" *ngIf="data.emails.length > 0">
      <ng-template ngFor let-item [ngForOf]="data.emails" let-i="index" [ngForTrackBy]="trackByFn">
        <dt>{{ item.category | keyToValue:emailType:'category':'name' }}</dt>

        <dd><p><a style="text-transform: lowercase;" href="mailto:{{ item.value }}">{{ item.value }}</a></p></dd>
      </ng-template>
    </dl>


    <div *ngIf="data.emails.length == 0 && editable">
      <p class="text-fade">
        Tell us more about your email
      </p>
      <button type="button" class="btn btn-default" (click)="onOpenModal()">
        <i class="fa fa-plus"></i> Add detail
      </button>
    </div>

  </div>
</div>

<form [formGroup]="form" novalidate>
  <bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Emails</h4>
    </bs-modal-header>
    <bs-modal-body>
      <div formArrayName="emails">
        <div *ngFor="let item of f.emails['controls']; let i=index" class="media mt0">
          <div *ngIf="item" class="media-body" [formGroupName]="i">
            <div class="row row-10">
              <div class="col-sm-4">
                <div class="form-group no-label" [ngClass]="{
                  'has-error':   (!item.controls.category.valid  && item.controls.category.touched),
                  'has-success': (item.controls.category.valid   && item.controls.category.touched
                  && form.value.emails[i].category.length > 1)}">
                  <select class="form-control" name="name" formControlName="category">
                    <option *ngFor="let et of emailType" value="{{ et.category }}">{{ et.name }} </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group no-label" [ngClass]="{
                  'has-error': (!item['controls'].value.valid
                  && item['controls'].value.touched),
                  'has-success': (item['controls'].value.valid
                  && item['controls'].value.touched
                  && form.value.emails[i].value.length > 1)}">
                  <input type="text" class="form-control" formControlName="value" placeholder="">
                  <div
                    *ngIf="!item['controls'].value.valid && item['controls'].value.touched">
                    <span
                      *ngIf="!item['controls'].value.valid && item['controls'].value.errors.emailFormat"
                      class="help-block text-danger">
                      Email is not valid
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="media-right">
            <button type="button" class="btn btn-default" (click)="removeItem(i, item.controls)">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" (click)="addItem()">
        <i class="fa fa-plus"></i> Add more
      </button>
    </bs-modal-body>
    <bs-modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" (click)="modal.close()">Cancel</button>
      <button type="submit" class="btn btn-outline-primary btn-min"
              (click)="onSubmit(form.value)">Done
      </button>
    </bs-modal-footer>
  </bs-modal>
</form>
