@import "../../../core/scss/global";

:host {
  display: block;
}

.footer {
  position: relative;
  z-index: 100;
}

.footer-nav {
  background-color: #656d79;
  color: $light-grey;
  padding-top: 30px;
  padding-bottom: 30px;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
  h5 {
    color: #ffffff;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &.footer-menu {
      margin-bottom: 20px;
      li {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .social-dv {
    a {
      display: inline-block;
      font-size: 36px;
      margin-right: 10px;
    }
  }
}

.footer-end {
  background-color: #434A54;
  color: $white;
  line-height: 20px;
  padding: 25px 0;
  .footer-logo {
    float: left;
    margin-right: 10px;
    img {
      height: 20px;
    }
  }
  p {
    margin-bottom: 0;
    @media (max-width: $screen-xs-max) {
      font-size: 12px;
    }
  }
}
