<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Billing details</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Type</dt>
      <dd>{{_userService.profile.credit_cards[0].card_type}}</dd>
      <dt>Name</dt>
      <dd>{{_userService.profile.credit_cards[0].cardholder_name}}</dd>
      <dt>Number</dt>
      <dd>**** **** **** {{_userService.profile.credit_cards[0].last_4}}</dd>
      <dt>Expiry</dt>
      <dd>{{_userService.profile.credit_cards[0].expiration_date}}</dd>
    </dl>
    <hr>
    <dl class="dl-horizontal">
      <dt>Address line 1</dt>
      <dd>{{_userService.profile.billing_address.address_line_1}}</dd>
      <dt>Address line 2</dt>
      <dd>{{_userService.profile.billing_address.address_line_2}}</dd>
      <dt>City</dt>
      <dd>{{_userService.profile.billing_address.city}}</dd>
      <dt>State</dt>
      <dd>{{_userService.profile.billing_address.region}}</dd>
      <dt>Postcode</dt>
      <dd>{{_userService.profile.billing_address.postcode}}</dd>
      <dt>Country</dt>
      <dd>{{_userService.profile.billing_address.country}}</dd>
    </dl>
    <hr>
    <div class="clearfix mt40">
      <a [routerLink]="['/account/payment', {operation: 'edit'}]" class="btn btn-default">Edit</a>
    </div>
  </div>
  <div class="panel-body">
    Not billing details data in your account
    <div class="clearfix mt40">
      <a [routerLink]="['/account/payment']" class="btn btn-success">Add</a>
    </div>
  </div>
</div>


