<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Billing history</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Invoice</th>
        <th>Due Date</th>
        <th>Amount</th>
        <th>Status</th>
        <th>View Invoice</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>48668391760</td>
        <td>May 31st, 2016</td>
        <td>$9.9</td>
        <td>Submitted for settlement</td>
        <td>
          <button class="btn btn-sm btn-primary">View</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

