<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h2>
                Request a password reset
            </h2>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="sr-only" for="forgotpassInputEmail">Email address</label>
                    <input type="email" class="form-control" id="forgotpassInputEmail" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-block btn-danger">Reset password</button>
            </form>
        </div>
    </div>
</div>
