<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h2>
                Enter your new password
            </h2>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="sr-only" for="newPasswordInputEmail">Password</label>
                    <input type="password" class="form-control" id="newPasswordInputEmail" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-block btn-danger">Save new password</button>
            </form>
        </div>
    </div>
</div>
