<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2>
        Enter your new password
      </h2>
      <form id="resetPasswordForm" [ngFormModel]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error' : resetPasswordForm.find('email').touched && !resetPasswordForm.find('email').valid}">
          <input [ngFormControl]="group.find('newPasswordInputEmail')" type="password" class="form-control" id="newPasswordInputEmail" placeholder="Password">
          <control-messages class="help-block" control="newPasswordInputEmail"></control-messages>
        </div>
        <button type="submit" class="btn btn-block btn-danger">Save new password</button>
      </form>
    </div>
  </div>
</div>
