<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Choose plan</h3>
  </div>
  <table class="table table-bordered text-center">
    <tr>
      <th width="35%"><h4 class="text-center">Basic</h4></th>
      <th width="35%"><h4 class="text-center">WTH! Plan</h4></th>
    </tr>
    <tr>
      <td>
        FREE!
      </td>
      <td>
        $9.99/Month
      </td>
    </tr>
    <tr>
      <td>Pictures</td>
      <td>
        Pictures <br>
        VPN <br>
        DNS Server <br>
        eFax <br>
        Website Ping <br>
        WTHmindmap <br>
        WTHgadgets <br>
        WTHaddons - outlook <br>
        WTHcharts <br>
        WTHoffice <br>
        WTHwifi Tools <br>
        WTHchat <br>
        WTHcontacts <br>
        WTHcalendar
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-default" *ngIf="_userService.profile.plan_id == 'wth_free'">Current plan</button>
        <button class="btn btn-primary" *ngIf="_userService.profile.plan_id == 'wth_basic'" (click)="choosePlan('wth_free')">Choose</button>        
      </td>
      <td>
        <button class="btn btn-default" *ngShow="_userService.profile.plan_id == 'wth_basic'">Current plan</button>
        <button class="btn btn-primary" *ngShow="_userService.profile.plan_id == 'wth_free'" (click)="choosePlan('wth_basic')">Choose</button>
      </td>
    </tr>
  </table>
</div>

