<div id="photo-box-detail" class="photo-box-detail active">
  <div *ngIf="selectedPhoto" class="photo-detail-top">
    <ul class="action navbar-left">
      <li>
        <a href="javascript:;" (click)="onBack()"><i class="fa fa-arrow-left"></i></a>
      </li>
    </ul>
    <ul class="action navbar-right">
      <li>
        <i (click)="actionPhoto('like')" class="fa fa-thumbs-o-up"></i>
        1
      </li>
      <li>
        <i (click)="actionPhoto('dislike')" class="fa fa-thumbs-o-down"></i>
        2
      </li>
      <li>
        <i (click)="actionPhoto('share')" class="fa fa-share-alt"></i>
        3
      </li>
      <li>
        <a href="javascript:;" (click)="onShowInfo()"><i class="fa fa-comments"></i></a>
      </li>
      <li class="dropdown">
        <a href="javascript:;" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
        <ul class="dropdown-menu">
          <li><a [href]="selectedPhoto.url" download>Download</a></li>
          <li><a href="javascript:;" (click)="actionPhoto('report')">Report</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="selectedPhoto" class="photo-detail-content no-user-selected">
    <div class="photo-detail-img">
      <figure [ngClass]="{'img-loading': loadingImg}">
        <img imgFull draggable="false" [src]="selectedPhoto.url" alt="" (load)="showLoading()">
      </figure>
    </div>
  </div>


  <div *ngIf="selectedPhoto" class="photo-detail-info">
  </div>
</div>
