<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2>
        Request a password reset
      </h2>

      <form [ngFormModel]="forgottenPasswordForm" (ngSubmit)="forgottenPassword()" novalidate>
        <div class="form-group"
             [ngClass]="{ 'has-error' : forgottenPasswordForm.find('email').touched && !forgottenPasswordForm.find('email').valid}">
          <label class="sr-only" for="email">Email address</label>
          <input type="text" class="form-control" id="email" placeholder="Email"
                 [ngFormControl]="forgottenPasswordForm.find('email')">

          <div *ngIf="forgottenPasswordForm.find('email').touched && !forgottenPasswordForm.find('email').valid">
            <span class="help-block"
                  *ngIf="forgottenPasswordForm.hasError('required', 'email')">An email is required</span>
            <span class="help-block"
                  *ngIf="!forgottenPasswordForm.hasError('required', 'email') && forgottenPasswordForm.hasError('emailFormat', 'email')">Email is not valid</span>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-danger" [disabled]="!forgottenPasswordForm.valid">Continue
        </button>
      </form>
    </div>
  </div>
</div>
