<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h2>
                Input new password
            </h2>
            <form (ngSubmit)="saveNewPassword(password.value)" [ngFormModel]="newPasswordForm">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" class="form-control"
                           id="password" #password required ngControl="password">
                  <div *ngIf="newPasswordForm.dirty && !newPasswordForm.valid">
                    <span class="help-block" *ngIf="newPasswordForm.hasError('required', 'password')">
                      Required
                    </span>
                  </div>
                </div>
                <button type="submit" class="btn btn-block btn-danger">Update</button>
            </form>
        </div>
    </div>
</div>
