<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2>
        Input new password
      </h2>


      <form [ngFormModel]="newPasswordForm" (ngSubmit)="saveNewPassword()" novalidate>
        <div class="form-group"
             [ngClass]="{ 'has-error' : newPasswordForm.find('password').touched && !newPasswordForm.find('password').valid}">
          <input type="password" class="form-control" placeholder="Password"
                 [ngFormControl]="newPasswordForm.find('password')">

          <div *ngIf="newPasswordForm.find('password').touched && !newPasswordForm.find('password').valid">
            <span class="help-block"
                  *ngIf="newPasswordForm.hasError('required', 'password')">A password is required</span>
            <span class="help-block"
                  *ngIf="newPasswordForm.hasError('minlength', 'password')">A password needs to have at least 6 characters</span>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-danger" [disabled]="!newPasswordForm.valid">Update</button>
      </form>
    </div>
  </div>
</div>
