<div class="nav-menuleft">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">General</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><a [routerLink]="['/account/setting/dashboard']">Dashboard</a></li>
            <li class="list-group-item"><a [routerLink]="['/account/setting/profile']">Account setting</a></li>
            <li class="list-group-item"><a [routerLink]="['/account/setting/changepassword']">Change password</a></li>
        </ul>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Plans and Billing</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><a [routerLink]="['/account/plans']">Plans</a></li>
            <li class="list-group-item"><a [routerLink]="['/account/billing-details']">Billing details</a></li>
            <li class="list-group-item"><a [routerLink]="['/account/billing-history']">Billing history</a></li>
        </ul>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">My Services</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><a [routerLink]="['/account/dns']">DNS</a></li>
            <!--<li class="list-group-item"><a [routerLink]="['/account/vpn']">VPN</a></li>
            <li class="list-group-item"><a [routerLink]="['/account/efax']">eFax</a></li>-->
        </ul>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Apps</h3>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><a [routerLink]="['/account/apps/add-ons',{type:'msoffice'}]">MS Office Add-ons</a></li>
            <li class="list-group-item"><a [routerLink]="['/account/apps/add-ons',{type:'adobe'}]">Adobe Add-ons</a></li>
            <li class="list-group-item"><a [routerLink]="['/account/apps/add-ons',{type:'others'}]">Others</a></li>
        </ul>
    </div>
</div>

