<div class="container">
  <div class="title-wrap">
    <h2 class="title">Upgrade to Pro Plan</h2>
    <p class="title-sub">You are almost there</p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="box-panel">
        <h3 class="box-panel-title">1.Plan Summary</h3>
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item">
              <p class="bold">{{ selected_plan.name }} <br>
                &#36;{{ selected_plan.price }}/month - Charged monthly.</p>
            </li>
            <li class="list-group-item">
              <p>You’ll be charged &#36;{{ selected_plan.price }} monthly including applicable taxes until you cancel your memebership.
                Previous charges won’t be refunded when you cancel unless it’s legally required. Your payment data is
                encrypted and secure. All amounts shown are in USD.</p>
            </li>
          </ul>
        </div>
        <h3 class="box-panel-title">2.Add Payment Methods</h3>
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item">
              <h4 class="list-group-item-heading">Payment Method</h4>
              <dl class="dl-horizontal dl-horizontal-billing">
                <dt>Name</dt>
                <dd>{{ card.cardholder_name }}</dd>
                <dt>Card Type</dt>
                <dd>{{ card.card_type }}</dd>
                <dt>Number</dt>
                <dd>**** **** **** {{ card.last_4 }}</dd>
                <dt>Expiry</dt>
                <dd>{{ card.expiration_date }}</dd>
              </dl>
            </li>
            <li class="list-group-item">
              <h4 class="list-group-item-heading">Billing Information</h4>
              <dl class="dl-horizontal">
                <dt>Address line 1</dt>
                <dd><p>{{ card.billing_address.street_address }}</p></dd>
                <dt>Address line 2</dt>
                <dd><p>{{ card.billing_address.extended_address }}</p></dd>
                <dt>City</dt>
                <dd><p>{{ card.billing_address.locality }}</p></dd>
                <dt>State</dt>
                <dd><p>{{ card.billing_address.region }}</p></dd>
                <dt>Postcode</dt>
                <dd><p>{{ card.billing_address.postcode }}</p></dd>
                <dt>Country</dt>
                <dd><p>{{ card.billing_address.country_name }}</p></dd>
              </dl>

            </li>
            <li class="list-group-item">
              <button class="btn btn-default" (click)="updateCard()">
                <i class="fa fa-pencil"></i> Update
              </button>
            </li>
          </ul>
        </div>
        <h3 class="box-panel-title">3.Checkout</h3>
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item">
              <ul>
                <li>{{ selected_plan.name }} will be activated for your account.</li>
                <li>Starting from <span class="bold">August 3 2016</span>, your card ending in 5669 will be charged
                  <span class="bold">&#36;{{ selected_plan.price }} per month</span>.
                </li>
                <li>If there is any issue occurs, we will send email to your address
                  <span>jaimelannister@lannister.com</span>.
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              By placing this order you agree to our <a href="#">terms of service</a>. To ensure continued service,
              we'll store and update (e.g., upon expiration) your payment method. Learn about <a href="#">how to cancel</a>.
            </li>
            <li class="list-group-item text-center">
              <button class="btn btn-wth-default" (click)="upgrade()" [disabled]="upgraded">Complete Upgrade</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
