<div class="box-panel">
  <h3 class="box-panel-title">Delete Account</h3>
  <p>To delete your account - we make it easy.</p>

  <p>Your account and all details will be deleted after 14 days. If you change your mind within 14 days, simply log back
    into your account, come to this 'Delete account' page and hit the 'Restore account' button.
  </p>
  <p>We do not provide refunds for your remaining subscription.
  </p>
  <p>Please make sure you really want to delete your account. We cannot restore your account once your account is
    delete.
  </p>
  <p>See our <a [href]="host + '/faq'">FAQ</a> page for more details on shared data and how this data is treated when you delete your account.</p>
  <div class="form-group">
    <button type="submit" class="btn btn-outline-primary btn-min mr20" (click)="onDelete()">Delete Account</button>
  </div>
</div>
