<div class="objects-main">
  <w-dataView-nav [showViewMode]="true" [enableSort]="true" [sortBy]="context?.sort?.field"
    [orderBy]="context?.sort?.desc ? 'desc' : 'asc'" [viewBy]="context?.viewMode"
    (sortComplete)="onSortComplete($event)" (viewComplete)="onViewComplete($event)">
    <h4 class="title">
      Trash
    </h4>
  </w-dataView-nav>

  <ng-container *ngIf="!context?.loading && (data$ | async) as list; else templateloading">
    <ng-container *ngIf="list?.length > 0; else templateNodata">
      <w-dataView [data]="list" [viewMode]="context?.viewMode" (loadMoreCompleted)="onLoadMoreCompleted($event)"
        (selectCompleted)="onSelectCompleted()" (dblClick)="onDblClick($event)" #dataView>
        <ng-template #viewHeader>
          <div class="item-media-name">
            <span class="can-click" (click)="onSortComplete({sortBy: 'Name', orderBy: 'desc'})">Name</span>
          </div>
          <div class="item-note-owner">Owner</div>
          <div class="item-note-date">Last Modified</div>
        </ng-template>
        <ng-template #viewBody let-item>
          <div class="item-media-img" [ngClass]="{'item-note-icon': item.object_type === 'Note::Note'}">
            <i *ngIf="item.object_type === 'Note::Folder'" class="fa fa-folder"></i>
            <ng-container *ngIf="item.object_type === 'Note::Note'">
              <i class="fa fa-sticky-note"></i><span [innerHTML]="item?.content | safeHtml"></span>
            </ng-container>
          </div>
          <div class="item-media-name">
            <span>{{ item.name || 'Untitled' }}</span>
          </div>
          <div class="item-note-owner">
            {{ item.user | username }}
          </div>
          <div class="item-note-date">{{ item.updated_at | timeFormat }}</div>
        </ng-template>
      </w-dataView>
      <w-dataView-selected *ngIf="dataView.selectedDocuments?.length" [selectedObjects]="dataView.selectedDocuments"
        (clear)="dataView.container.clearSelection()" (selectAll)="dataView.container.selectAll()">
        <ul class="nav-selection-actions">
          <ng-container *ngFor="let menu of menuActions | objectValues">
            <li *ngIf="menu.active">
              <button (click)="onMenuAction(menu.action)" class="btn btn-icon" type="button"><i [class]="menu.icon"></i>
              </button>
            </li>
          </ng-container>
          <li class="dropdown" *ngIf="!noOtherActions">
            <button class="btn btn-icon" type="button" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <ng-container *ngFor="let menu of otherActions | objectValues">
                <li *ngIf="menu.active && !menu.divider">
                  <a (click)="onMenuAction(menu.action)" href="#"><i [class]="menu.icon"></i> {{ menu.text }}</a>
                </li>
                <li *ngIf="menu.active && menu.divider" class="divider"></li>
              </ng-container>
            </ul>
          </li>
        </ul>
      </w-dataView-selected>
    </ng-container>
    <ng-template #templateNodata>
      <div class="text-center">
        <box-no-data [icon]="'fa fa-sticky-note'" [subTitle]="'There is no note'"></box-no-data>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #templateloading>
    <div class="text-center">
      <box-loading></box-loading>
    </div>
  </ng-template>
</div>