@import "../../../assets/styles/global";
@import "../../../assets/styles/components/objects-main";

.note-selection-content {
  @include flexbox;
  @include flex-direction(column);
  overflow: auto;
  height: 100%;
  .objects-main-menu {
    padding: 5px 15px;
    @include border-top-radius(5px);
  }
  .content-view.content-list ~ .dts-select-container {
    top: 52px;
  }
  .dts-select-container {
    position: absolute !important;
  }
  .content-grid {
    .item-media-img {
      background-color: #ffffff;
    }
    .item-note-owner, .item-note-date {
      display: none;
    }
    .item-note-img {
      > i.fa {
        display: none;
      }
      > .item-note-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
      }
    }
  }
  .content-list {
    .item-media {
      @include flexbox;
    }
    .item-media-name {
      @include flex(1);
    }
    .item-note-owner, .item-note-date {
      width: 110px;
    }
    .item-note-img {
      padding-left: 15px;
    }
    .item-note-content {
      display: none;
    }
  }
}