<bs-modal #modal cssClass="modal-selection modal-note-selection modal-full-height"
          [keyboard]="false"
          [animation]="false"
          [backdrop]="'static'"
          (onDismiss)="onModalClose($event)"
          (onClose)="onModalClose($event)">
  <bs-modal-header [showDismiss]="true">
    <div *ngIf="searchShow" class="modal-media-search">
      <div class="modal-media-search-in">
        <textbox-search [placeholder]="'Search something'" [showSearchClearText]="true" [search]="searchText"
                        (onEnterEvent)="onSearchEnter($event)" (onEscapeEvent)="onSearchEscape($event)">
        </textbox-search>
      </div>

    </div>
    <button (click)="searchShow = true" class="btn btn-search btn-default pull-right" type="button">
      <i class="fa fa-search"></i>
    </button>

    <w-nav-tab [ngClass]="{'invisible': searchShow}"
               [break]="2"
               [tabs]="tabs"
               [setTabActive]="currentTab"
               (currentTab)="tabAction($event)">
    </w-nav-tab>

  </bs-modal-header>
  <bs-modal-body>
    <div class="note-selection-content">
      <w-dataView-nav [showViewMode]="true"
                      (sortComplete)="onSortComplete($event)"
                      (viewComplete)="onViewComplete($event)">
        <h4 *ngIf="!breadcrumb" class="title">{{ title }}</h4>
        <div *ngIf="breadcrumb" class="breadcrumb-wrap">
          <ol class="breadcrumb m0 p0">
            <li>
              <button (click)="onBreadcrumb()" class="btn btn-default" type="button">{{ title }}</button>
            </li>
            <ng-container *ngFor="let item of breadcrumb; let i = index">
              <li>
                <ng-container *ngIf="i === breadcrumb.length - 1;else templateBreadcrumb">
                  {{ item.name }}
                </ng-container>
                <ng-template #templateBreadcrumb>
                  <button (click)="onBreadcrumb(item.id)" class="btn btn-default" type="button">
                    {{ item.name }}
                  </button>
                </ng-template>
              </li>
            </ng-container>
          </ol>
        </div>
      </w-dataView-nav>
      <ng-container *ngIf="(data$ | async) as notesList; else templateloading">
        <ng-container *ngIf="notesList?.length > 0; else templateNodata">
          <w-dataView [data]="notesList"
                      (loadMoreCompleted)="onLoadMoreCompleted($event)"
                      (selectCompleted)="onSelectCompleted()"
                      (dblClick)="onDblClick($event)"
                      #dataView>
            <ng-template #viewHeader>
              <div class="item-media-name">
                <span class="can-click" (click)="onSortComplete({sortBy: 'Name', orderBy: 'desc'})">Name</span>
              </div>
              <div class="item-note-owner">Owner</div>
              <div class="item-note-date">Last Modified</div>
            </ng-template>
            <ng-template #viewBody let-item>
              <div class="item-media-img" [ngClass]="{'item-note-img': item.object.object_type === 'Note::Note'}">
                <i *ngIf="item.object.object_type === 'Note::Folder'" class="fa fa-folder"></i>
                <ng-container *ngIf="item.object_type === 'Note::Note'">
                  <i class="fa fa-sticky-note"></i>
                  <div class="item-note-content" [innerHTML]="item?.object?.content | safeHtml"></div>
                </ng-container>
              </div>
              <div class="item-media-name">
                <span>{{ item.object.name ? item.object.name : 'Untitled' }}</span>
              </div>
              <div class="item-note-owner">
                {{ (item.role === 'owner') ? 'me' : item.shareder.name }}
              </div>
              <div class="item-note-date">{{ item.object.created_at | timeFormat }}</div>
            </ng-template>
          </w-dataView>
          <w-dataView-selected *ngIf="dataView && dataView?.selectedDocuments?.length"
                               [selectedObjects]="dataView.selectedDocuments"
                               (clear)="dataView.container.clearSelection()">
          </w-dataView-selected>
        </ng-container>
        <ng-template #templateNodata>
          <div class="align-self-center" [ngSwitch]="currentTab">
            <box-no-data *ngSwitchCase="'my_note'" [icon]="'fa fa-photo'" [title]="'There is no photo!'"
                         [subTitle]="'There is no photo.'">
            </box-no-data>

            <box-no-data *ngSwitchCase="'favourites'" [icon]="'fa fa-star'" [title]="'There is no favourite!'"
                         [subTitle]="'There is no favourite.'">
            </box-no-data>
            <box-no-data *ngSwitchCase="'shared_with_me'" [icon]="'fw fw-shared-with-me'"
                         [title]="'There is no shared with me!'"
                         [subTitle]="'There is no shared with me.'">
            </box-no-data>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #templateloading>
        <div class="align-self-center">
          <box-loading></box-loading>
        </div>
      </ng-template>
    </div>
  </bs-modal-body>
</bs-modal>
