<div class="page-body-content gray-light">
  <div class="page-body-content-in zone-social">
    <div class="zone-social-in">

      <!--<z-social-community-cover [data]="data"></z-social-community-cover>-->

      <member-list-invite #users (onSelected)="inviteMembers($event)"></member-list-invite>
      <div *ngIf="data" class="z-social-box">


        <div class="z-social-post">
          <ul class="list-unstyled social-list-user" *ngIf="selectedTab == 'members'">
            <template ngFor let-user [ngForOf]="data.users" [ngForTrackBy]="trackByUsers">
              <!--<li *ngIf="user.id == data.admin.id">-->
              <!--<div class="dropdown pull-right">-->
              <!--<span class="text-fade">Admin</span>-->
              <!--</div>-->
              <!--<img [alt]="user.name" [src]="user.profile_image" title="" width="30">-->
              <!--<span>{{user.name}}</span>-->
              <!--</li>          -->
              <li>
                <div class="dropdown pull-right">
                  <span class="text-fade">{{ user.id == data.admin.id ? 'Admin' :'Member'}}</span>
                  <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-custom">
                    <li><a href="#">Make Admin</a></li>
                    <li><a href="javascript:;" (click)="deleteMember(user)">Remove</a></li>
                    <li><a href="#" (click)="onReportMember(user.uuid)">Report Member</a></li>
                    <li><a href="#">Blacklist</a></li>
                  </ul>
                </div>
                <img [alt]="user.name" [src]="user.profile_image" title="" width="30">
                <span>{{user.name}}</span>
              </li>
            </template>
          </ul>

          <ul class="list-unstyled social-list-user" *ngIf="selectedTab == 'invitations'">
            <template ngFor let-item [ngForOf]="items">

              <li>
                <div class="dropdown pull-right">
                  <!--<a href="#" class="btn btn-link">ACCEPT</a>-->
                  <!--<a href="#" class="btn btn-link">DENY</a>-->
                  <!--<a href="#" class="btn btn-link">INVITED</a>-->
                  <a href="javascript:;" class="btn btn-link" (click)="cancelInvitation(item.id)">CANCEL</a>
                </div>
                <a href="#">
                  <img [alt]="item.accepter.name" [src]="item.accepter.profile_image" title="" width="30">
                  <span>{{item['accepter']['name']}}</span>
                </a>
              </li>
            </template>
          </ul>

          <ul class="list-unstyled social-list-user" *ngIf="selectedTab == 'join_requests'">
            <template ngFor let-item [ngForOf]="items">

              <li>
                <div class="dropdown pull-right">
                  <!--<a href="#" class="btn btn-link">ACCEPT</a>-->
                  <!--<a href="#" class="btn btn-link">DENY</a>-->
                  <!--<a href="#" class="btn btn-link">REQUESTED</a>-->
                  <a href="javascript:;" class="btn btn-link" (click)="acceptJoinRequest(item)">ACCEPT</a>
                  <a href="javascript:;" class="btn btn-link" (click)="cancelInvitation(item.id)">REJECT</a>
                </div>
                <a href="#">
                  <img [alt]="item.inviter.name" [src]="item.inviter.profile_image" title="" width="30">
                  <span>{{item['inviter']['name']}}</span>
                </a>
              </li>
            </template>
          </ul>
        </div>
      </div>

    </div>
    <z-social-favorites></z-social-favorites>
  </div>

</div>
