<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'" [cssClass]="'modal-contact-list'">
  <bs-modal-header>
    <button aria-label="Close" class="close" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title"> Contacts </h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="d-flex justify-content-between" *ngIf="!showSearch">
      <w-nav-tab [tabs]="tabs" [setTabActive]="selectedTab" (currentTab)="selectCurrentTab($event)"></w-nav-tab>
      <button type="button" class="btn btn-default" pTooltip="Find Contacts" tooltipPosition="top" (click)="displaySearch()">
        <i class="fa fa-user-plus"></i>
      </button>
    </div>
    <textbox-search *ngIf="showSearch" [placeholder]="'Find Contact'" [showSearchClearText]="true" [search]="keyword"
                    (onEscapeEvent)="hideSearch($event)" (onEnterEvent)="search($event)">
    </textbox-search>

    <ng-container *ngIf="!loading; else loadingBlock">
      <div class="list-group" *ngIf="contacts">
        <div class="list-group-item" *ngIf="contacts.length === 0;else templateData">
          <box-no-data [icon]="'fa fa-address-book-o'"
                       [subTitle]="'There is no Contact'">
          </box-no-data>
        </div>
        <ng-template #templateData>
          <w-user-chat class="list-group-item" *ngFor="let contact of contacts" [user]="contact" [size]="'xs'">
            <button *ngIf="!contact.new" class="btn btn-default" type="button" (click)="createConversation(contact)">
              <i class="fa fa-comments-o"></i>
            </button>

            <!--show actions for new person-->
            <button *ngIf="contact.new && !contact.blacklist" class="btn btn-default" (click)="sendRequest(contact)"
                    pTooltip="{{ tooltip.sendRequest }}" tooltipPosition="top">
              <i class="fa fa-user-plus"></i>
            </button>
            <w-user-actions #chatContactActions
                            [contact]="contact"
                            [profileUrl]="profileUrl"
                            (onConversate)="createConversation($event)"
                            (onToggleBlacklist)="toggleBlacklist($event)"
                            (onReport)="report($event)"
                            (onRemove)="remove($event)"
            ></w-user-actions>
          </w-user-chat>
        </ng-template>
      </div>
    </ng-container>

    <ng-template #loadingBlock>
      <box-loading></box-loading>
    </ng-template>
  </bs-modal-body>

</bs-modal>
<z-chat-share-request-contact #request></z-chat-share-request-contact>
