.modal-contact-list {
  .nav-tabs-wrap {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 10;
  }
  .list-group {
    margin-top: -1px;
    .list-group-item:nth-last-child(1),
    .list-group-item:nth-last-child(2),
    .list-group-item:nth-last-child(3),
    .list-group-item:nth-last-child(4) {
      &:not(:first-child) {
        .dropdown-menu {
          bottom: 100%;
          top: auto;
        }
      }
    }
  }
}
