<z-chat-contact-navigation class="page-body-control" [tab]="'blacklist'" [count]="count"></z-chat-contact-navigation>

<div class="page-body-content has-page-body-control" *ngIf="blacklist">
  <div class="page-body-content-in">
    <div class="row media-user-list-group">
      <div class="col-sm-6"
           *ngFor="let user of blacklist">
        <div class="media media-user-list">
          <div class="media-body">
            <!--<z-chat-share-user [data]="contact" [size]="'sm'"></z-chat-share-user>-->
            <z-chat-share-user-icon
              [image]="user?.profile_image"
              [name]="user.name"
              [size]="'sm'"
              [groupType]="'couple'"
              [userId]="user.id">
            </z-chat-share-user-icon>
          </div>
          <div class="media-right no-wrap">
            <button type="button" class="btn btn-default" (click)="removeBlackList(user)">
              <i class="fa fa-times"></i> Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="page-body-content has-page-body-control" *ngIf="!blacklist">
  <div class="page-body-content-in">
    <div class="inside-loading">
      <div class="pt20 pb20"></div>
    </div>
  </div>
</div>

<div class="page-body-content has-page-body-control" *ngIf="blacklist && blacklist.length == 0 ">
  <div class="page-body-content-in">
    No data
  </div>
</div>
