<div *ngIf="!showInfo" class="z-social-post">
  <div class="z-social-post-content">
    <div class="z-social-post-txt">
      <read-more [maxheight]="120" [content]="item.description">
      </read-more>
    </div>
    <div class="z-social-post-tag">
      <a *ngFor="let tag of item.tags">
        {{tag.name}}
      </a>
    </div>
  </div>

  <div class="z-social-carousel">
    <ul class="{{item.displayCss}}">
      <li *ngFor="let photo of item.photos;	let	i	=	index">
        <figure *ngIf="i < 5" (click)="onActions(actions.onShowPhotoDetail, i)">
          <img class="img-full" [src]="photo.url" alt="">
        </figure>
        <figure *ngIf="i == 5 && item.remainPhotos == 0" (click)="onActions(actions.onShowPhotoDetail, i)">
          <img class="img-full" [src]="photo.url" alt="">
        </figure>
        <a href="javascript:;" (click)="onActions(actions.onShowPhotoDetail, i)"
           *ngIf="i == 5 && item.remainPhotos != 0">
                <span>
                  + {{item.remainPhotos}}
                </span>
          <figure>
            <img class="img-full" [src]="photo.url" alt="">
          </figure>
        </a>
      </li>
    </ul>
  </div>

  <!--original post or parent post-->
  <div *ngIf="!item.is_post">
    <hr/>
    <div class="form-group">
      Shared from <a [routerLink]="['/zone/social/profile/', parentItem.owner.uuid, 'about']" >{{parentItem.owner.name}}</a>
    </div>
    <div class="z-social-post-content" >
      <div class="z-social-post-txt">
        <read-more [maxheight]="120" [content]="parentItem.description">
        </read-more>
      </div>
      <div class="z-social-post-tag">
        <a *ngFor="let tag of parentItem.tags_json">
          {{tag.name}}
        </a>
      </div>
    </div>

    <div class="z-social-carousel">
      <ul class="{{parentItem.displayCss}}">
        <li *ngFor="let photo of parentItem.photos;	let	i	=	index">
          <figure *ngIf="i < 5" (click)="onActions(actions.onShowPhotoDetail, i)">
            <img class="img-full" [src]="photo.url" alt="">
          </figure>
          <figure *ngIf="i == 5 && parentItem.remainPhotos == 0" (click)="onActions(actions.onShowPhotoDetail, i)">
            <img class="img-full" [src]="photo.url" alt="">
          </figure>
          <a href="javascript:;" (click)="onActions(actions.onShowPhotoDetail, i)"
             *ngIf="i == 5 && parentItem.remainPhotos != 0">
                  <span>
                    + {{parentItem.remainPhotos}}
                  </span>
            <figure>
              <img class="img-full" [src]="photo.url" alt="">
            </figure>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="z-social-post-action">
    <ul class="pull-left">
      <li>
        <i class="fa fa-thumbs-o-up" [ngClass]="{'active' : (item.reactions.indexOf('like') >= 0)}"
           (click)="postItem.createReaction($event, 'like', 'post', item.uuid)"></i>
        <a *ngIf="item.likes.length>0" data-toggle="modal" href="#"
           (click)="onActions(actions.openLikeDislike, item.likes, 'like')">{{item.likes.length}}</a>
        <a *ngIf="item.likes.length==0" href="javascript:;">{{item.likes.length}}</a>
      </li>
      <li>
        <i class="fa fa-thumbs-o-down" [ngClass]="{'active' : (item.reactions.indexOf('dislike') >= 0)}"
           (click)="postItem.createReaction($event, 'dislike', 'post', item.uuid)"></i>
        <a *ngIf="item.dislikes.length>0" data-toggle="modal" href="#"
           (click)="onActions(actions.openLikeDislike, item.dislikes, 'dislike')">{{item.dislikes.length}}</a>
        <a *ngIf="item.dislikes.length==0" href="javascript:;">{{item.dislikes.length}}</a>
      </li>
      <li *ngIf="!item.disable_share">
        <i class="fa fa-share-alt" (click)="onActions(actions.openShare)"></i> {{item.shared_count}}
      </li>
    </ul>

    <ul class="pull-right" *ngIf="item.shared_count > 0">
      <li>
        <a data-toggle="modal" href="#" (click)="onActions(actions.openActivities)">Share Activities</a>
      </li>
    </ul>

  </div>
</div>
