.page-app-info {
  float: left;
  .media {
    .media-heading {
      font-size: 34px;
    }
    .cat {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 5px;
    }
    .flatform {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline;
      border-left: 1px solid $text-color;
      li {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}

.page-app-action {
  float: right;
  .btn {
    margin-bottom: 5px;
  }
  .btn + .btn {
    margin-left: 10px;
  }
}

.page-app-top {
  margin-bottom: 10px;
}

.page-app-content {
  margin-bottom: 30px;
  .aside-left {
    margin-top: 15px;
  }
  .list-info-app {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 5px;
      span {
        color: $light-slate;
      }
    }
  }
}

.article-slide-wrap {
  padding: 30px;
  border: 1px solid $light-grey;
  border-radius: $border-radius-base;
}

.article-slide-in {
  position: relative;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.article-slide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  .swiper-slide {
  }

  &.gallery-top {
    margin-bottom: 15px;
  }

  &.gallery-thumbs {
    .swiper-thumbnails {
      > span {
        float: left;
        width: 25%;
        padding: 10px;
        display: block;
        border: 1px solid transparent;
        &.active {
          border-color: $color-inverse;
        }
        img {
          width: 100%;
          height: auto;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
    }
  }
}



