@import "zone/picture/item";
@import "zone/picture/row-img";
@import "zone/picture/detail";



.zone-no-photo {
  padding-top: 220px;
  background-image: url('../images/zone/no-photo.png');
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}
