.zone-social {
  padding: 30px 45px;
}

.z-social-box {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid $line;
}

.z-social-media {
  display: flex;
  align-items: flex-start;
  .z-social-media-left {
    width: 34px;
    height: 34px;
    margin-right: 15px;
    img {
      width: 100%;
      height: auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
  .z-social-media-body {
    flex: 1;
  }
  .z-social-media-right {
    .btn {
      min-width: 34px;
      text-align: center;
    }
  }
  .z-heading {
    @include clearfix;
    .z-name {
      font-weight: bold;
      float: left;
      margin-right: 5px;
    }
    .z-shared-with {
      float: left;
      color: $light-slate;
    }
  }
  .z-time {
    font-size: 12px;
    color: $light-slate;
  }
}

.z-social-media-inputpost {
  position: relative;
  .z-social-media-inputpost {
    position: absolute;
    @include center(false, true);
    right: 10px;
    z-index: 2;
  }
}

.z-social-post-action {

}

.z-social-carousel {
  clear: both;
  margin-top: 15px;
  > ul {
    margin: 0 -2px 15px;
    padding: 0;
    list-style-type: none;
    @include clearfix;
    > li {
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  .carousel-thumb-style-6 {
    > li {
      float: left;
      width: percentage(1/5);
      padding-bottom: percentage(1/5);
      position: relative;
      &:not(:first-child) {
        figure {
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          overflow: hidden;
          img {
            @include center();
            width: 100%;
          }
        }
      }

      &:first-child {
        float: none;
        width: auto;
        padding-bottom: 0;
        margin-bottom: 4px;
      }
      &:last-child {
        a {
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          overflow: hidden;
          display: block;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            content: "";
            background-color: rgba(#4A4A4A, 0.6);
          }
          span {
            font-size: 20px;
            @include center();
            color: #ffffff;
            z-index: 3;
          }
        }
      }
    }
  }
  .carousel-thumb-style-5 {
    > li {
      float: left;
      width: percentage(1/4);

      &:first-child {
        float: none;
        width: auto;
        margin-bottom: 4px;
      }
    }
  }
  .carousel-thumb-style-4 {
    > li {
      float: left;
      width: 30%;

      &:first-child {
        float: left;
        width: 70%;
      }
    }
  }
  .carousel-thumb-style-3 {
    > li {
      float: left;
      width: 40%;

      &:first-child {
        float: left;
        width: 60%;
      }
    }
  }
  .carousel-thumb-style-2 {
    > li {
      float: left;
      width: 50%;
    }
  }
  .carousel-thumb-style-1 {
    > li {
    }
  }
}
