<div *ngIf="data" class="user-row">
  <div class="user-avatar">
    <div class="user-avatar-img">
      <img *ngIf="data.group_json?.group_type == 'couple'" [src]="data.display.image" alt="">
      <img *ngIf="data.group_json?.group_type == 'support'" [src]="data.display.image" alt="">
      <img *ngIf="data.group_json?.group_type == 'multiple'" [src]="data.group_json?.image" alt="">
    </div>
    <span *ngIf="!isStranger && data.display?.id" class="media-user-status" [ngClass]="{'online': usersOnlineItem?.includes(data.display?.id), 'black_list': data.black_list}">
    </span>
    <span *ngIf="isStranger" class="media-user-status media-user-stranger">
      <i class="fa fa-question-circle"></i>
    </span>
  </div>
  <div class="user-body">
    <div class="user-name">
      <p *ngIf="data.group_json?.group_type == 'couple'">{{ data.display.name }}</p>
      <p *ngIf="data.group_json?.group_type == 'support'">{{ data.display.name }}</p>
      <p *ngIf="data.group_json?.group_type == 'multiple' && data.group_json.name">{{ data.group_json.name }}</p>
      <p *ngIf="data.group_json?.group_type == 'multiple' && !data.group_json.name">{{ data.group_json.users_name }}</p>
    </div>
    <ng-content select=".user-content"></ng-content>
  </div>
  <ng-content select=".user-action"></ng-content>
</div>
