<div class="media-user media-user-{{ size }}">
  <div class="media-user-avatar avatar-{{ size }}">
    <img [src]="image" alt="">
  </div>
  <div class="media-user-name">
    <p>{{ name }}</p>
    <ng-content></ng-content>
  </div>
  <span *ngIf="groupType == 'couple'" class="media-user-status"
        [ngClass]="{'online': (usersOnlineItem$ | async).includes(userId)}"></span>
  <span *ngIf="groupType == 'stranger'" class="media-user-status media-user-stranger">
    <i class="fa fa-question-circle"></i>
  </span>
</div>
