<div *ngIf="data" class="user-row">
  <div class="user-avatar">
    <div class="user-avatar-img">
      <img [src]="data.profile_image" alt="">
    </div>
    <span *ngIf="!isPending && data.id" class="media-user-status" [ngClass]="{'online': usersOnlineItem?.includes(data.display?.id), 'blacklist': data.blacklist}">
    </span>
    <span *ngIf="isPending" class="media-user-status media-user-stranger">
      <i class="fa fa-question-circle"></i>
    </span>
  </div>
  <div class="user-body">
    <div class="user-name">
      <p>{{ data.name }}</p>
    </div>
    <ng-content select=".user-content"></ng-content>
  </div>
  <ng-content select=".user-action"></ng-content>
</div>
