<div *ngIf="data" class="media-avatar">
  <div *ngIf="displayAvatar" class="media-avatar-img-wrap">
    <div class="media-avatar-img avatar-{{ size }}">
      <img *ngIf="data.group_json?.group_type == 'couple'" [src]="data.display.image" alt="">
      <img *ngIf="data.group_json?.group_type == 'multiple'" [src]="data.group_json?.image" alt="">
    </div>
    <span *ngIf="data.display?.id" class="media-avatar-status" [ngClass]="{'online': usersOnlineItem?.includes(data.display?.id)}">
      <i *ngIf="isStranger" class="fa fa-question-circle"></i>
    </span>
  </div>
  <div *ngIf="displayUserName" class="media-avatar-body">
    <div class="text-bold" *ngIf="data.group_json?.group_type == 'couple'">{{ data.display.name | maxLength: 50 }}</div>
    <div class="text-bold" *ngIf="data.group_json?.group_type == 'multiple'">{{ data.group_json.name | maxLength: 200
      }}</div>
    <ng-container *ngIf="!displayAvatar">

      <ng-container *ngIf="data.group_json?.group_type == 'couple'">
        <div *ngIf="isStranger">
          <span class="media-avatar-status"><i class="fa fa-question-circle"></i></span>
          This user isn't in your Contacts
        </div>
        <div *ngIf="!isStranger">
          <span class="media-avatar-status" [ngClass]="{'online': usersOnlineItem?.includes(data.display?.id)}"></span>
          <span *ngIf="usersOnlineItem?.includes(data.display?.id)">Online</span>
          <span *ngIf="!usersOnlineItem?.includes(data.display?.id)">Offline</span>
        </div>
      </ng-container>

      <ng-container *ngIf="data.group_json?.group_type == 'multiple'">
        {{ data.group_json?.member_count }} members
      </ng-container>

    </ng-container>
    <ng-content></ng-content>
  </div>
</div>
