<div class="media-avatar">
  <div class="media-avatar-img-wrap">
    <div class="media-avatar-img avatar-{{ size }} avatar-chat">
      <img [src]="data.profile_image" alt="">
    </div>
    <span *ngIf="data.id" class="media-avatar-status mr3" [ngClass]="{'online': usersOnlineItem?.includes(data.display?.id)}">
      <i *ngIf="isPending" class="fa fa-question-circle"></i>
    </span>
  </div>
  <div class="media-avatar-body">
    <div class="text-bold text-1-line">
      <p>{{ data.name }}</p>
    </div>
    <ng-container *ngIf="!displayAvatar">

      <ng-container *ngIf="data.group_type == 'couple'">
        <div *ngIf="isPending">
          <!-- <span class="media-avatar-status"><i class="fa fa-question-circle"></i></span> -->
          Pending request
        </div>
        <div *ngIf="!isPending">
          <!--<span class="media-avatar-status" [ngClass]="{'online': usersOnlineItem?.includes(data.display?.id)}"></span>-->
          <span *ngIf="usersOnlineItem?.includes(data.display?.id)">Online</span>
          <span *ngIf="!usersOnlineItem?.includes(data.display?.id)">Offline</span>
        </div>
      </ng-container>

      <ng-container *ngIf="data.group_type == 'multiple'">
        {{ data.member_count }} members
      </ng-container>

    </ng-container>
    <ng-content></ng-content>
  </div>
</div>
