<div class="media-flex-item">
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a>View Profile</a></li>
      <li><a href="javascript:void(0);" (click)="addBlackList()">Add to blacklist</a></li>
      <li><a href="javascript:void(0);" (click)="report(contact.display.uuid)">Report Member</a></li>
      <li><a href="javascript:void(0);" (click)="deleteContact()">Remove</a></li>
    </ul>
  </div>
</div>
<!--<z-chat-share-add-to-conversation #addConversation [contact]="contact"></z-chat-share-add-to-conversation>-->
<!--<wth-zone-report></wth-zone-report>-->
