<div id="form-add-to-album-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-custom modal-long" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> Add to album</h4>
      </div>
      <div class="modal-body">
        <div>
          <span><a class="btn btn-default btn-circle" data-toggle="dropdown" href="#"><i class="fa fa-plus"></i></a></span>
          <span> Create New Album</span>
        </div>
      </div><!-- /.modal-content -->
      <div class="modal-footer">
        <page-zone-listview [data]="dataAlbums" (addedToAlbumEvent)="addedToAlbum($event)"></page-zone-listview>
        <div id="album-data-loading" style="position: relative;height: 50px;"></div>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
