.z-social-box {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid $line;
  .z-social-box-header {
    margin: -15px -15px 0;
    padding: 15px;
    border-bottom: 1px solid $line;
    @include clearfix;
    .badge-wth {
      top: -2px;
      background-color: #d8d8d8;
      color: $text-color;
    }
    .h4 {
      margin: 0;
      float: left;
      line-height: 34px;
    }
    .action {
      float: right;
    }
    & + .z-social-media {
      margin-top: 15px;
    }
  }
  .z-social-box-body {
    padding-top: 15px;
    hr {
      margin-left: -15px;
      margin-right: -15px;
    }
    .z-social-box-body-out {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .z-social-box-footer {
    margin: 15px -15px -15px;
    padding: 15px;
    border-top: 1px solid $line;
    @include clearfix;
  }
}

.z-social-media {
  @include flexbox;
  @include align-items(flex-start);
  .z-social-media-left {
    margin-right: 10px;
  }
  .z-social-media-body {
    @include flex(1);
  }
  .z-social-media-right {
    .btn {
      min-width: 34px;
      text-align: center;
    }
  }
  .z-heading {
    @include clearfix;
    .z-name {
      font-weight: bold;
      float: left;
      margin-right: 5px;
      color: $text-color;
    }
    a.z-name {
      &:hover {
        text-decoration: underline;
      }
    }

    .z-shared-with {
      float: left;
      color: $light-slate;
      margin-left: 5px;
      > a {
        color: inherit;
        margin-left: 5px;
      }
      &:before {
        @extend .fa;
        @extend .fa-caret-right;
      }
    }
  }
  .z-shared-info {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      @include clearfix;
      li {
        font-size: 12px;
        @media (min-width: $screen-sm-min) {
          float: left;
          &:before {
            content: "\2022";
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
            font-size: 12px;
          }
          &:first-child:before {
            display: none;
          }
        }

        &.note {
          color: $color-inverse;
        }
      }
    }
  }
  .z-shared-description {
    margin-top: 5px;
  }
  &.z-social-media-md {
    .z-heading {
      .z-name {
        font-size: 16px;
        @media (min-width: $screen-lg-min) {
          font-size: 24px;
        }
      }
    }
  }
}

.z-social-media-inputpost {
  position: relative;
  input[readonly] {
    background-color: white;
  }
  .z-social-media-inputpost-icon {
    position: absolute;
    bottom: 0;
    height: 34px;
    @include flexbox;
    @include align-items(center);
    font-size: 20px;
    right: 10px;
    z-index: 2;
    .btn {
      padding: 3px;
    }
  }
}

.z-social-post {
  padding: 15px 15px 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
}

.z-social-post-action {
  margin: 15px 0 0;
  @include clearfix;
  line-height: 34px;
  > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    @include clearfix;
    > li {
      float: left;
      margin-right: 15px;
      //a {
      //  color: $light-slate;
      //}
      > i {
        margin-right: 5px;
        width: 34px;
        height: 34px;
        text-align: center;
        display: inline-block;
        border: 1px solid #cdcdcd;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        line-height: 32px;
        cursor: pointer;
        font-size: 20px;
        &:hover {
          background-color: $light-slate;
          color: #ffffff;
        }
        &.active {
          background-color: $button-dislike-color;
          border-color: $button-dislike-color;
          color: #ffffff;
        }
        &.fa-thumbs-o-up {
          &.active {
            background-color: $button-like-color;
            border-color: $button-like-color;
          }
        }
      }

    }
    &.pull-right {
      > li {
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }
}

.z-social-post-txt {
  word-break: break-all;
  .z-social-post-txt-in {
    margin-bottom: 15px;
    max-height: 120px;
    overflow: hidden;
  }
  .z-social-post-txt-more {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.z-social-post-tag {
  margin: 15px 0;
  a {
    display: inline-block;
    margin-right: 10px;
    color: $light-slate;
  }
}

.z-social-comment {
  padding: 15px 15px 0;
  margin: 15px -15px 0;
  border-top: 1px solid $line;
  .media {
    .media {
      margin-left: 50px;
    }
    &, .media-body {
      overflow: visible;
    }
  }
  .z-social-comment-num {
    color: $light-slate;
    margin: 15px 0;
  }
  .z-social-comment-list {
    margin-top: 15px;
    .media-left {
      padding-right: 15px;
    }
    .media-heading {
      font-size: 14px;
      margin-bottom: 0;

      a {
        color: $text-color;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        font-weight: normal;
        display: inline-block;
        color: $light-slate;
        &:before {
          content: "\2022";
          margin-left: 10px;
          margin-right: 10px;
          display: inline-block;
          font-size: 20px;
          height: 20px;
          line-height: 14px;
          position: relative;
          top: 2px;
        }
      }
    }
    .media-body {
      position: relative;
      p {
        margin-bottom: 2px;
      }
      img {
        max-width: 500px;
        height: auto;
      }
    }
  }

  /*.media:hover {
    > .media-body {
      .media-body-action {
        @include opacity(1);
      }
    }
  }*/
  .media-body-action {
    //@include opacity(0);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: $light-slate;
    > a {
      cursor: pointer;
      color: inherit;
    }
    .dropdown-menu {
      top: 0;
    }
  }
  .media-body-reply {
    margin-top: 5px;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      @include clearfix;
      li {
        float: left;
        &:before {
          content: "\2022";
          margin-left: 10px;
          margin-right: 10px;
          display: inline-block;
          color: $light-slate;
          font-size: 13px;
        }
        &:first-child:before {
          display: none;
        }
        .fa {
          cursor: pointer;
          color: $link-color;
          &.active {
            color: $color-inverse;
          }
        }
      }
    }
  }
}

.z-social-comment-more {
  margin-top: 10px;
}

.z-social-carousel {
  clear: both;
  padding-top: 10px;
  > ul {
    margin: 0 -2px 15px;
    padding: 0;
    list-style-type: none;
    @include clearfix;
    > li {
      padding-left: 2px;
      padding-right: 2px;
      figure {
        cursor: pointer;
      }
    }
  }
  .carousel-thumb-style-6 {
    > li {
      float: left;
      width: percentage(1/5);
      padding-bottom: percentage(1/5) - 6%;
      position: relative;
      &:not(:first-child) {
        figure {
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          overflow: hidden;
          img {
            @include center();
            width: 100%;
          }
        }
      }

      &:first-child {
        float: none;
        width: auto;
        padding-bottom: 0;
        margin-bottom: 4px;
      }
      &:last-child {
        a {
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          overflow: hidden;
          display: block;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            content: "";
            background-color: rgba(#4A4A4A, 0.6);
          }
          span {
            font-size: 20px;
            @include center();
            color: #ffffff;
            z-index: 3;
          }
        }
      }
    }
  }
  .carousel-thumb-style-5 {
    > li {
      float: left;
      width: percentage(1/4);
      padding-bottom: percentage(1/4) - 7%;
      position: relative;
      &:not(:first-child) {
        figure {
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          overflow: hidden;
          img {
            @include center();
            width: 100%;
          }
        }
      }

      &:first-child {
        float: none;
        width: auto;
        margin-bottom: 4px;
        padding-bottom: 0;
      }
    }
  }
  .carousel-thumb-style-4 {
    > li {
      float: left;
      width: 28%;
      padding-bottom: 17.3%;
      position: relative;
      &:not(:first-child) {
        figure {
          position: absolute;
          top: 0px;
          left: 4px;
          right: 2px;
          bottom: 4px;
          overflow: hidden;
          img {
            @include center();
            width: 100%;
          }
        }
      }

      &:first-child {
        float: left;
        padding-bottom: 0;
        width: 72%;
      }
    }
  }
  .carousel-thumb-style-3 {
    > li {
      float: left;
      width: 34%;
      padding-bottom: 23.6%;
      position: relative;
      &:not(:first-child) {
        figure {
          position: absolute;
          top: 0px;
          left: 2px;
          right: 2px;
          bottom: 4px;
          overflow: hidden;
          img {
            @include center();
            width: 100%;
          }
        }
      }

      &:first-child {
        float: left;
        padding-bottom: 0;
        width: 66%;
      }
    }
  }
  .carousel-thumb-style-2 {
    > li {
      float: left;
      width: 50%;
    }
  }
  .carousel-thumb-style-1 {
    > li {
    }
  }
}

.zone-social-sidebar {
  dl {
    dt {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    dd {
      ul {
        li {
          margin-bottom: 10px;
          img {
            width: 30px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.social-list-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  > li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $line;
    position: relative;
    > a {
      color: inherit;
      display: block;
      text-decoration: none;
      > img {
        width: 34px;
        margin-right: 10px;
      }
    }
    > img {
      width: 34px;
      margin-right: 10px;
    }
    .social-list-user-action {
      @include center(false, true);
      right: 10px;
      margin-top: -5px;
      .fa {
        margin-right: 5px;
        position: relative;
        top: 1px;
      }
      input {
        margin-top: 0;
      }
    }
  }
}

.zone-social-container {
  width: 100%;
}

//communities
.z-social-box-body-communities {
  margin-bottom: -15px;
  .media-center {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $line;
  }
  .media-center-heading {
    a {
      color: inherit;
    }
  }
}

.modal-social-photo-grid, .photo-grid-list {
  @include clearfix;
  margin: 0 -2px;
  padding: 0;
  list-style-type: none;
  > li, .photo-box-img {
    float: left;
    width: 20%;
    margin: 0 !important;
    padding-bottom: 20% - 5%;
    position: relative;
    .img-center-dv {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      &:after {
        @extend .fa;
        content: "\f058";
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
        color: #2996cc;
        @include transition($transition-base);
        @include opacity(0);
        z-index: 2;
      }
      .fa {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 14px;
        color: #FFF;
        @include transition($transition-base);
        @include opacity(0);
        z-index: 2;
        width: 24px;
        height: 24px;
        text-align: center;
        background-color: #2996cc;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #FFF;
        line-height: 22px;
      }
      &:hover {
        .fa {
          @include opacity(1);
        }
      }
    }
    &.selected {
      .img-center-dv {
        background-color: #e6e6e6;
        &:after {
          @include opacity(1);
        }
      }
      .img-center {
        padding: 15px;
      }
    }

    &.z-upload-item {
      text-align: center;
      a {
        display: block;
        border: 2px dashed $light-slate;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        color: $light-slate;
        div {
          @include center();
        }
      }
      i {
        font-size: 36px;
      }
      span {
        display: block;
        white-space: nowrap;
      }
    }
  }
}
