/**
<div class="attachment-list">
  <div class="attachment-item">
    <div class="attachment-item-action">
      <button class="btn btn-sm btn-outline-default" type="button">
        <i class="fa fa-download"></i>
      </button>
      <button class="btn btn-sm btn-outline-default" type="button">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
    <div class="attachment-item-thumb">
      <i class="fa fa-picture-o"></i>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <span class="help-block">26kb</span>
  </div>
</div>
 */

.attachment-list {
  max-width: 670px;

  .attachment-item {
    border: 1px solid #cdcdcd;
    position: relative;
    padding: 10px 100px 10px 35px;
    & + .attachment-item {
      margin-top: -1px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .attachment-item-action {
    position: absolute;
    right: 10px;
  }
  .attachment-item-thumb {
    position: absolute;
    left: 10px;
    top: 13px;
  }
}
