@mixin avatar-mixin($w) {
  width: $w;
  height: $w;
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  img {
    width: auto;
    height: 100%;
    @include center();
  }
}

.avatar-lg {
  @include avatar-mixin(150px);
}

.avatar-md {
  @include avatar-mixin(100px);
}

.avatar-sm {
  @include avatar-mixin(70px);
}

.avatar-xsm {
  @include avatar-mixin(54px);
}

.avatar-xs {
  @include avatar-mixin(34px);
}
