.breadcrumb {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  .active {
    color: $light-slate;
  }
  > li + li:before {
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5px 0 8px;
  }
}
