.media-user-list {
  a {
    color: inherit;
  }
  .media-body {
    overflow: visible;
  }
  .media-right {
    white-space: nowrap;
    position: relative;
    vertical-align: middle;
  }
  & + .media-user-list {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $line;
  }
  &:hover {
    background: rgba(#ECECEC, 0.8);
  }
  &.active {
    background: rgba(#ECECEC, 1);
  }
}

dl.media-user-list-group {
  dt {
    margin-bottom: 15px;
  }
}
