<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [animation]="false" [cssClass]="'modal-lg modal-note-edit'" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title">{{ titleModal }}</h4>
    </modal-header>
    <modal-body>
      <p>Choose folder to move to</p>
      <div class="form-group">
        <div>
          <ul>
            <li>
              <a href="javascript:void(0);" (click)="setDestinationFolder({name: 'My notes', parent_id: null})">
                My Notes
              </a>
            </li>
          </ul>
        </div>
        <div class="well-folder-tree">
          <p-panelMenu [model]="menuItems"></p-panelMenu>
        </div>
      </div>
      <div class="form-group">
        <button type="button" (click)="hasCreateFolder = !hasCreateFolder" class="btn btn-outline-default btn-min">
          <span *ngIf="!hasCreateFolder"><i class="fa fa-plus"></i> New Folder</span>
          <span *ngIf="hasCreateFolder"><i class="fa fa-times"></i> Cancel</span>
        </button>
      </div>
      <form *ngIf="hasCreateFolder" [formGroup]="form" novalidate>
        <div class="form-group no-label" [ngClass]="{'has-error': (!name.valid && name.touched)}">
          <input [formControl]="name" type="text" class="form-control" id="note_form_name"
                 placeholder="Name">
        </div>
        <div class="form-group text-right">
          <button type="button" (click)="onSubmit(form.value)" [disabled]="!form.valid"
                  class="btn btn-outline-primary btn-min">Create
          </button>
        </div>
      </form>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal">Cancel</button>
      <button type="button" (click)="onMove()" class="btn btn-outline-primary btn-min">Move
      </button>
    </modal-footer>
  </modal>
</form>
