<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [animation]="false" [cssClass]="'modal-lg modal-note-edit'" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title">{{ titleModal }}</h4>
    </modal-header>
    <modal-body>
      <p>Choose folder to move to</p>
      <div class="form-group">

        <div class="well-folder-tree-root">
          <a [ngClass]="{'active': folder.parent_id == null}" href="javascript:;"
             (click)="setDestinationFolder({name: 'My notes', parent_id: null})">
            My Notes
          </a>
        </div>
        <div class="well-folder-tree">
          <p-panelMenu [model]="menuItems"></p-panelMenu>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal">Cancel</button>
      <button type="button" (click)="onMove()" class="btn btn-outline-primary btn-min">Move
      </button>
    </modal-footer>
  </modal>
</form>
