<div class="page-body-chat-message">
  <div class="chat-message-container">
    <div class="chatbox-container-input" contenteditable="true" spellcheck="false" tabindex="1"
         placeholder="Type message here" autocomplete="off" autocorrect="off" alt=""></div>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-default-inline">
          <i class="fa fa-camera"></i>
        </button>
        <button class="btn btn-default-inline">
          <i class="fa fa-book"></i>
        </button>
        <button class="btn btn-default-inline">
          <i class="fa fa-smile-o"></i>
        </button>
      </div>
      <div class="col-sm-6">
        <div class="text-line-btn text-right">Press enter to send message <i class="fa fa-check"></i></div>
      </div>
    </div>
  </div>
</div>
