<div class="inner page-title text-center">
  <h1 class="">Welcome to the WTHApps Help Center</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div>
      </div>
    </div>
  </div>
  <h5 class="">Popular topics:  Downloads & Installation, Manual Configuration</h5>
</div>
<section class="se-section main-select">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <a [routerLink]="['/comingsoon']">
          <div class="content-item text-center">
            <div class="columns small-12">
              <i class="glyphicon glyphicon-book"></i>
            </div>
            <div class="columns small-12">
              <h3>Installation Guides</h3>
              <p>How to setup WTHApps on your device</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">

        <a [routerLink]="['/comingsoon']">
          <div class="content-item text-center">
            <div class="columns small-12">
              <i class="glyphicon glyphicon-education"></i>
            </div>
            <div class="columns small-12">
              <h3>Knowledge Base</h3>

              <p>FAQ's and articles for help with all
                things WTHApps.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">

        <a [routerLink]="['/comingsoon']">
          <div class="content-item open-a-ticket text-center">
            <div class="columns small-12">
              <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <div class="columns small-12">
              <h3>Open a Ticket</h3>

              <p>Email us and we will get back to you
                within a few hours.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div> <!-- end container -->
</section>

<section class="se-section section-guide">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="content-item">
          <h3>Setup Guides</h3>
          <a [routerLink]="['/comingsoon']">Windows</a>
          <a [routerLink]="['/comingsoon']">Mac OS X</a>
          <a [routerLink]="['/comingsoon']">iPhone &amp; iPad</a>
          <a [routerLink]="['/comingsoon']">Android</a>
          <a [routerLink]="['/comingsoon']">Other Devices</a>
          <a [routerLink]="['/comingsoon']">Manual Configuration</a>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="content-item">
          <h3>General Help</h3>
          <a [routerLink]="['/comingsoon']">Why can't I connect
            to TotalVPN?</a>
          <a [routerLink]="['/comingsoon']">Connecting to VPN on virtual
            machines</a>
          <a [routerLink]="['/comingsoon']">Which
            is
            the
            most
            secure
            protocol?</a>
          <a [routerLink]="['/comingsoon']">Which
            is
            the
            best
            protocol
            for
            streaming?</a>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="content-item">

          <h3>Billing FAQs</h3>
          <a [routerLink]="['/comingsoon']">How
            do I
            update
            my
            payment
            details?</a>
          <a [routerLink]="['/comingsoon']">I
            don't
            recognize
            a
            charge,
            help!</a>
          <a [routerLink]="['/comingsoon']">Can
            I
            change
            my
            subscription?</a>
          <a [routerLink]="['/comingsoon']">Which
            payment
            methods
            do
            you
            accept?</a>
          <a [routerLink]="['/comingsoon']">How
            do
            I
            turn
            off
            auto-renew?</a>
          <a [routerLink]="['/comingsoon']">How do I
            view
            invoices?</a>
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</section>
