<modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <modal-header class="modal-header-action" [show-close]="true">
    <button type="button" class="btn btn-outline-primary btn-min"
            (click)="next($event)" [disabled]="photoList.selectedItems.length <= 0">{{ action }}
    </button>
    <span class="modal-title">{{ photoList.selectedItems.length }} photo<span *ngIf="photoList.selectedItems.length > 1">s</span> selected</span>
  </modal-header>
  <modal-body>
    <so-photo-list #photoList [showUpload]="false" (onFilesChanged)="chooseFiles($event)"></so-photo-list>
  </modal-body>
</modal>
