.row-img {
  margin-left: -5px;
  margin-right: -5px;
}

.row-img:after {
  content: "";
  display: block;
  clear: both;
}

.row-img .photo-box-img {
  float: left;
  width: 20%;
  padding: 0 5px;
  margin-bottom: 10px;
}
