@import '../../../shared/scss/global';
@import '../../../shared/scss/modules/card';

:host {
  display: block;
}

$note-name: auto;
$note-owner: 200px;
$note-description: 200px;
$note-date: 200px;
$note-action: 170px;

.component-listbox-list {
  .component-listbox-name {
    width: $note-name;
  }

  .component-listbox-owner {
    width: $note-owner;
  }

  .component-listbox-description {
    width: $note-description;
  }

  .component-listbox-date {
    width: $note-date;
  }

  .component-listbox-action {
    width: $note-action;
  }
}

.component-listbox-action {
  @include clearfix;
  .page-body-control-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include flexbox;
  }
}

.date-header {
  text-align: left;
}

.component-listbox-list {
  .component-listbox-description {
    display: none !important;
  }
}

//.dropdown .caret-toggle {
//  i {
//    visibility: hidden;
//  }
//  &:hover {
//    i {
//      visibility: visible;
//    }
//  }
//}

.component-listbox-grid {
  display: block;
  margin: 0;
  @include clearfix;
  overflow: initial;
  @media (min-width: $screen-sm-min) {
    margin: 20px;
  }
  .component-listbox-header {
    display: none !important;
  }
  .component-listbox-body {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) {
      width: 25%;
    }
    .component-listbox-row {
      @include card();
      padding: 10px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .action {
      float: right !important;
    }
    .component-listbox-owner, .component-listbox-date {
      display: none;
    }
    .component-listbox-name {
      font-weight: bold;
      margin-bottom: 10px;
      span {
        overflow: hidden;
        max-height: 36px;
        display: block;
      }
    }
    .component-listbox-description {
      margin-bottom: 20px;
      overflow: hidden;
      height: 100px;
    }
    .item-folder {
      .component-listbox-name {
        margin-bottom: 0;
        span {
          white-space: nowrap;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
      }
      .component-listbox-action, .component-listbox-description {
        display: none;
      }
    }
  }
  .fa-file {
    display: none;
  }
  .component-listbox-name.can-click {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  }
  .component-listbox-action {
    .page-body-control-menu {
      position: relative;
      z-index: 20;
      @media (max-width: $screen-xs-max) {
        margin-left: -5px;
        margin-right: -5px;
        .btn {
          padding: 3px 5px;
          min-width: 28px;
        }
      }
    }
  }
}

.component-listbox-click-mobile {
  display: none;
}

@media (max-width: $screen-xs-max) {
  .component-listbox-input {
    position: relative;
    .component-listbox-click-mobile {
      display: block;
      position: absolute;
      left: 0;
      width: 2000px;
      top: 0;
      bottom: 0;
      z-index: 10;
    }
  }
  .component-listbox-input i,
  .component-listbox-action button,
  .component-listbox-action a {
    position: relative;
    z-index: 20;
  }

  .component-listbox-list {
    .component-listbox-row {
      .component-listbox-date, .component-listbox-owner, .component-listbox-description {
        display: none;
      }
      .component-listbox-input {
        width: 40px;
      }
      .component-listbox-name {
        position: relative;
        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
          position: absolute;
          @include center(false, true);
          left: 0;
          right: 0;
        }
      }
    }
  }
}
