<div
  [ngClass]="{'component-listbox-list': viewOption == VIEW_MODE.LIST, 'component-listbox-grid': viewOption == VIEW_MODE.GRID}">
  <div class="component-listbox-header">
    <div class="component-listbox-row" [ngClass]="{'active': isSelectAll}">
      <div class="component-listbox-input">
        <i (click)="onSelectedAll()" class="fa fa-check"></i>
      </div>
      <div class="component-listbox-name">
        <span [ngClass]="{'can-click': page !== noteConstants.PAGE_RECENT}" (click)="onSort('name')">
          Name <i *ngIf="page !== noteConstants.PAGE_RECENT && sortOption?.field == 'name'" class="fa"
                  [ngClass]="{'fa-arrow-up': !sortOption?.desc, 'fa-arrow-down': sortOption?.desc }"></i>
        </span>
      </div>
      <div class="component-listbox-owner">
        Owner
      </div>
      <div class="component-listbox-description">
        Description
      </div>
      <div class="component-listbox-date" *ngIf="page !== noteConstants.PAGE_RECENT">
        <span [ngClass]="{'can-click': page !== noteConstants.PAGE_RECENT}" (click)="onSort('created_at')">
          Created Date <i *ngIf="page !== noteConstants.PAGE_RECENT && sortOption?.field == 'created_at'" class="fa"
                          [ngClass]="{'fa-arrow-up': !sortOption?.desc, 'fa-arrow-down': sortOption?.desc}"></i>
        </span>
      </div>
      <div class="component-listbox-date" *ngIf="page === noteConstants.PAGE_RECENT">
        <span>
          Accessed Date
        </span>
      </div>
      <div class="component-listbox-action">&nbsp;</div>
    </div>
  </div>

  <ng-container *ngIf="!(loading$ | async); else loadingBlock">
    <h4 class="ml10" *ngIf="folderItems?.length > 0 && viewOption == VIEW_MODE.GRID">Folders</h4>
    <ng-container *ngFor="let item of folderItems">
      <folder-item [data]="item" class="component-listbox-body" [page]="page" *ngIf="page == noteConstants.PAGE_NOTE_FAVOURITE && item.favourite"></folder-item>
      <folder-item [data]="item" class="component-listbox-body" [page]="page" *ngIf="page !== noteConstants.PAGE_NOTE_FAVOURITE"></folder-item>
    </ng-container>

    <div class="clearfix"></div>

    <h4 class="ml10" *ngIf="noteItems?.length > 0 && viewOption == VIEW_MODE.GRID">Notes</h4>
    
    <ng-container *ngFor="let item of noteItems">
      <note-item [data]="item" class="component-listbox-body" [page]="page" *ngIf="page == noteConstants.PAGE_NOTE_FAVOURITE && item.favourite"></note-item>
      <note-item [data]="item" class="component-listbox-body" [page]="page" *ngIf="page !== noteConstants.PAGE_NOTE_FAVOURITE"></note-item>
    </ng-container>
  </ng-container>

  <ng-template #loadingBlock>...Loading</ng-template>
</div>
