<div class="wrapper">
  <wth-header></wth-header>
  <main class="main">
    <div class="main-page-left">
      <aside class="main-page-left-in aside-menu">
        <z-shared-menu [contactMenu]="labels" [totalContactCount]="(contactService.contacts).length"></z-shared-menu>
      </aside>
    </div>
    <div class="main-page-body">
      <router-outlet></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <z-contact-share-import-progress></z-contact-share-import-progress>
  <p-confirmDialog header="Confirmation" width="670" #cd>
    <p-footer>
      <button class="btn btn-outline-default btn-min" type="button" pButton icon=""
              label="{{ confirmDialog?.label?.reject ? confirmDialog?.label?.reject : 'Cancel' }}"
              (click)="cd.reject()"></button>
      <button class="btn btn-outline-primary btn-min" type="button" pButton icon=""
              label="{{ confirmDialog?.label?.accept ? confirmDialog?.label?.accept : 'Done' }}"
              (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>
</div>

<ng-template #modalContainer></ng-template>
<post-photo-select></post-photo-select>
