<z-contact-shared-toolbar [pageTitle]="pageTitle" [hasBack]="hasBack" [currentPage]="'detail'">
  <div class="page-body-control-nav page-body-control-nav-right">
    <button *ngIf="mode === 'create'" type="button"
            [disabled]="!contactEdit?.name?.valid && contactEdit?.name?.errors?.required || !formValid"
            (click)="contactEdit.onSubmit(contactEdit?.form?.value)"
            class="btn btn-outline-primary btn-min mr10">Create</button>

    <button *ngIf="mode === 'create'" type="reset"
            class="btn btn-outline-default btn-min"
            [routerLink]="['/contacts']">Cancel</button>

    <button *ngIf="mode === 'edit'" type="button"
            [disabled]="(!contactEdit?.name?.valid && contactEdit?.name?.errors?.required)
            || contactEdit?.disableEdit || !formValid"
            (click)="contactEdit.onSubmit(contactEdit?.form?.value)"
            class="btn btn-outline-primary btn-min mr10">Save</button>

    <button *ngIf="mode === 'edit'" type="reset"
            class="btn btn-outline-default btn-min"
            (click)="goBack()">Cancel</button>

    <z-contact-shared-actions-bar *ngIf="mode === 'view'"
                                  [showViewDetail]="false"
                                  [showNumber]="false"
                                  [showInvitation]="false"
                                  [toggleFavourite]="_contact.isContactsHasGroupName([contact], 'favourite')"
                                  [toggleBlacklist]="_contact.isContactsHasGroupName([contact], 'blacklist')"
                                  (eventOut)="doActionsToolbar($event)">

    </z-contact-shared-actions-bar>
  </div>
</z-contact-shared-toolbar>


<div class="page-body-content has-page-body-control d-flex">
  <div class="page-body-content-in zone-social mr-auto">
    <div class="zone-social-in">
      <contact-edit #contactEdit
                      [contact]="contact" [mode]="mode"
                      (eventForm)="eventForm($event)"
                      (event)="doEvent($event)"></contact-edit>
      <ng-container *ngIf="mode==='view'">
        <contact-view [contact]="contact"></contact-view>
      </ng-container>

    </div>
  </div>

  <div style="min-width: 275px; padding-top: 17px;">
    <div>
      <h4>WTH Profiles
        <i class="fa fa-info-circle"
           pTooltip="Profiles were found in WTHApps using contact info entered"
           tooltipPosition="bottom"></i>
      </h4>
      <div>
        <ul class="list-unstyled">
          <li *ngFor="let email of emails">
            <div *ngIf="email.wthapps_user" class="user-card row pt10">
              <div class="user-card-avatar col-md-2">
                <a [href]="urls.social + '/profile/' + email.wthapps_user.uuid" target="_blank">
                  <img class="img-circle" width="34" height="34" [src]="email.wthapps_user.profile_image">
                </a>
              </div>
              <div class="user-card-content col-md-7 pl10">
                <div class="user-card-content-name">
                  <a [href]="urls.social + '/profile/' + email.wthapps_user?.uuid" target="_blank">
                    <span> {{ email.wthapps_user.name}} </span>
                  </a>
                </div>
                <div class="user-card-content-email">
                  <span> {{ email.value }} </span>
                </div>

              </div>

              <div class="user-card-actions col-md-2">
                <a class="btn btn-outline-default" [href]="urls.chat" target="_blank"
                        pTooltip="Send message"
                        tooltipPosition="left"> <i class="fa fa-comments-o"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <h4 class="regular-email">Regular email <i class="fa fa-info-circle"
                                                 pTooltip="Entered information didn't match any WTHApps profiles"
                                                 tooltipPosition="bottom"></i></h4>
      <div>
        <ul class="list-unstyled">
          <li *ngFor="let email of emails">
            <div *ngIf="email.wthapps_user == null" class="user-card row pt10">
              <div class="user-card-avatar col-md-2">
                <div class="img-circle"></div>
              </div>
              <div class="user-card-content col-md-7 pl10 pt5">
                <div class="user-card-content-email only-email">
                  <span> {{ email.value }} </span>
                </div>
              </div>
              <div class="user-card-actions col-md-2">
                <button class="btn btn-outline-default"
                        pTooltip="Invite to join WTHApps"
                        tooltipPosition="left" (click)="invite(email)"> <i class="fa fa-envelope-o"></i></button>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<contact-add-group-modal #modal></contact-add-group-modal>

<invitation-create-modal #invitationModal (event)="doEvent($event)"></invitation-create-modal>
