<ng-template [ngIf]="contact && mode !=='view'">
  <form [formGroup]="form" novalidate>
    <div>

    <div class="field-group">
      <div class="field-group-content">
        <div class="media content-overflow-visible">
          <div class="media-left"><span class="avatar-md"><img [src]="avatarDefault" alt=""></span>
          </div>
          <div class="media-body content-overflow-visible">
            <div class="row row-10">
              <div class="col-sm-12 mb10">
                <div class="form-group no-label mb0" [ngClass]="{'has-error': (!name.valid && name.touched),
        'has-success': (name.valid && name.touched)}">
                  <input autofocus [formControl]="name" type="text" class="form-control" placeholder="Full name">
                  <div *ngIf="!name.valid && name.touched">
                    <span *ngIf="!name.valid && name.errors.required" class="help-block">
                      Name is required
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb10">
                <input [formControl]="company" type="text" class="form-control" placeholder="Company or organization">
              </div>
              <div class="col-sm-6 mb10">
                <input [formControl]="job_title" type="text" class="form-control" placeholder="Job title">
              </div>
              <!--<div class="col-xs-12 mb10">
                <tag-input formControlName="groups" [onlyFromAutocomplete]="true" placeholder="Choose your group"
                           secondaryPlaceholder="add group" [identifyBy]="'name'" [displayBy]="'name'">
                  <tag-input-dropdown [autocompleteItems]="filteredGroupsMultiple">
                  </tag-input-dropdown>
                </tag-input>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="field-group">
      <div class="field-group-title">
        <h3>Phone</h3>
      </div>
      <div class="field-group-content">
        <div formArrayName="phones">
          <div *ngFor="let add_phone of form.controls.phones.controls; let i=index" class="media media-no-hidden mt0">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-2">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!add_phone['controls'].category.valid
                  && add_phone['controls'].category.touched),
                  'has-success': (add_phone['controls'].category.valid
                  && add_phone['controls'].category.touched
                  && form.value.phones[i].category.length > 1)}">
                    <select class="form-control" name="name" formControlName="category">
                      <option *ngFor="let et of phoneCategories" value="{{ et.value }}">{{ et.text }}</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!add_phone['controls'].country_alpha_code.valid
                  && add_phone['controls'].country_alpha_code.touched),
                  'has-success': (add_phone['controls'].country_alpha_code.valid
                  && add_phone['controls'].country_alpha_code.touched
                  && form.value.phones[i].country_alpha_code && form.value.phones[i].country_alpha_code.length>1)}">

                    <p-autoComplete class="form-control-phone-country" formControlName="country_alpha_code"
                                    [suggestions]="filteredCountriesCode"
                                    (completeMethod)="filterCountriesCode($event)" [size]="30"
                                    [minLength]="1" placeholder="Select your country"
                                    [dropdown]="true">
                      <ng-template ngFor let-code let-i="index" pTemplate="item">
                        <div [innerHtml]="code | phoneCodeCountries:countriesCode"></div>
                      </ng-template>
                    </p-autoComplete>

                  </div>
                </div>


                <div class="col-sm-5">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!add_phone['controls'].value.valid
                  && add_phone['controls'].value.touched),
                  'has-success': (add_phone['controls'].value.valid
                  && add_phone['controls'].value.touched
                  && form.value.phones[i].value.length > 1)}">
                    <input type="text" class="form-control" formControlName="value" placeholder="">
                    <div
                      *ngIf="!add_phone['controls'].value.valid && add_phone['controls'].value.touched">
                      <span
                        *ngIf="!add_phone['controls'].value.valid && add_phone['controls'].value.errors.phoneFormat"
                        class="help-block text-danger">
                        Phone is not valid
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-outline-default" (click)="removeItem('phones', i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button *ngIf="mode !== 'view'" type="button" class="btn btn-outline-default" (click)="addItem('phones')">
          <i class="fa fa-plus"></i> Add more
        </button>
      </div>
    </div>

    <div class="field-group">
      <div class="field-group-title">
        <h3>Email</h3>
      </div>
      <div class="field-group-content">
        <div formArrayName="emails">
          <div *ngFor="let add_email of form.controls.emails.controls; let i=index" class="media mt0">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-3">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.emails.controls[i].controls.category.valid
                  && form.controls.emails.controls[i].controls.category.touched),
                  'has-success': (form.controls.emails.controls[i].controls.category.valid
                  && form.controls.emails.controls[i].controls.category.touched
                  && form.value.emails[i].category.length > 1)}">
                    <select class="form-control" name="name" formControlName="category">
                      <option *ngFor="let et of emailCategories" value="{{ et.value }}">{{ et.text }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.emails.controls[i].controls.value.valid
                  && form.controls.emails.controls[i].controls.value.touched),
                  'has-success': (form.controls.emails.controls[i].controls.value.valid
                  && form.controls.emails.controls[i].controls.value.touched
                  && form.value.emails[i].value.length > 1)}">
                    <input type="text" class="form-control" formControlName="value" placeholder="">
                    <div
                      *ngIf="!form.controls.emails.controls[i].controls.value.valid && form.controls.emails.controls[i].controls.value.touched">

                      <span
                        *ngIf="!form.controls.emails.controls[i].controls.value.valid && form.controls.emails.controls[i].controls.value.errors.emailFormat && !form.controls.emails.controls[i].controls.value.errors.required"
                        class="help-block text-danger">
                        Email is not valid
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right" *ngIf="mode !== 'view'">
              <button type="button" class="btn btn-outline-default" (click)="removeItem('emails', i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button *ngIf="mode !== 'view'" type="button" class="btn btn-outline-default" (click)="addItem('emails')">
          <i class="fa fa-plus"></i> Add more
        </button>
      </div>
    </div>

    <div class="field-group">
      <div class="field-group-title">
        <h3>Address</h3>
      </div>
      <div class="field-group-content">
        <div formArrayName="addresses">
          <div *ngFor="let add_address of form.controls.addresses.controls; let i=index" class="media mt0">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-3">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.addresses.controls[i].controls.category.valid
                  && form.controls.addresses.controls[i].controls.category.touched),
                  'has-success': (form.controls.addresses.controls[i].controls.category.valid
                  && form.controls.addresses.controls[i].controls.category.touched
                  && form.value.addresses[i].category.length > 1)}">
                    <select class="form-control" name="name" formControlName="category">
                      <option *ngFor="let et of emailCategories" value="{{ et.value }}">{{ et.text }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="row row-10">
                    <div class="col-sm-12">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="address_line1" placeholder="Address">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="po_box" placeholder="PO Box">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="city" placeholder="City">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="province" placeholder="State/Provine">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="postcode" placeholder="Postal Code">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group no-label">
                        <input type="text" class="form-control" formControlName="country" placeholder="Country">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-outline-default" (click)="removeItem('addresses', i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button *ngIf="mode !== 'view'" type="button" class="btn btn-outline-default" (click)="addItem('addresses')">
          <i class="fa fa-plus"></i> Add more
        </button>
      </div>
    </div>

    <div class="field-group">
      <div class="field-group-title">
        <h3>Media</h3>
      </div>
      <div class="field-group-content">
        <div formArrayName="media">
          <div *ngFor="let add_media of form.controls.media.controls; let i=index" class="media mt0">
            <div class="media-body" [formGroupName]="i">
              <div class="row row-10">
                <div class="col-sm-3">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.media.controls[i].controls.category.valid
                  && form.controls.media.controls[i].controls.category.touched),
                  'has-success': (form.controls.media.controls[i].controls.category.valid
                  && form.controls.media.controls[i].controls.category.touched
                  && form.value.media[i].category.length > 1)}">
                    <select class="form-control" name="name" formControlName="category">
                      <option *ngFor="let et of mediaCategories" value="{{ et.value }}">{{ et.text }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="form-group no-label" [ngClass]="{
                  'has-error': (!form.controls.media.controls[i].controls.value.valid
                  && form.controls.media.controls[i].controls.value.touched),
                  'has-success': (form.controls.media.controls[i].controls.value.valid
                  && form.controls.media.controls[i].controls.value.touched
                  && form.value.media[i].value.length > 1)}">
                    <input type="text" class="form-control" formControlName="value" placeholder="">
                    <div
                      *ngIf="!form.controls.media.controls[i].controls.value.valid && form.controls.media.controls[i].controls.value.touched">
                    <span
                      *ngIf="!form.controls.media.controls[i].controls.value.valid && form.controls.media.controls[i].controls.value.errors.urlFormat"
                      class="help-block text-danger">
                      Link is not valid
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-right">
              <button type="button" class="btn btn-outline-default" (click)="removeItem('media', i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <button *ngIf="mode !== 'view'" type="button" class="btn btn-outline-default" (click)="addItem('media')">
          <i class="fa fa-plus"></i> Add more
        </button>
      </div>
    </div>

    <div class="field-group">
      <div class="field-group-title">
        <h3>Note</h3>
      </div>
      <div class="field-group-content">
        <textarea [formControl]="notes" class="form-control" rows="3"></textarea>
      </div>
    </div>

    </div>

  </form>
</ng-template>
