<div>
  <div class="field-group">
    <div class="field-group-content">
      <div class="media" *ngIf="contact | contactDisplayPipe as contactDisplay">
        <div class="media-left">
          <span class="avatar-md">
            <img [src]="contactDisplay?.profile_image" alt="">
          </span>
        </div>
        <div class="media-body">
          <h4 class="bold">{{ contactDisplay | contactNamePipe: contactService.contactsSortBy}}</h4>
          <p>
            <small>{{ contact?.job_title }}</small>
          </p>
          <p *ngIf="contact?.groups?.length > 0">
            <span *ngFor="let group of contact.groups" class="group group-default mr10">{{ group.name }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="field-group">
    <div class="field-group-title">
      <h3>Phone</h3>
    </div>
    <div class="field-group-content">
      <dl class="dl-horizontal" *ngIf="contact?.phones?.length > 0">
        <ng-template ngFor let-item [ngForOf]="contact.phones">
          <dt>{{ item.category | keyToValue:phoneCategories:'value':'text' }}</dt>
          <dd>
            {{ item.country_alpha_code | phoneCodeFlag:countriesCode | json }}
            <p>
              <!-- <img *ngIf="(countriesCode$ | async) && contact.phones[0]?.country_alpha_code && item.country_alpha_code | phoneCodeFlag:(countriesCode$ | async)"
                  src="assets/images/flags/{{ item.country_alpha_code | phoneCodeFlag:(countriesCode$ | async)}}.svg" width="30"
                  alt=""> {{ item.value }} -->
              {{ item?.country_alpha_code | phoneCodeOnlyFlag }} {{ item.value }}
            </p>
          </dd>
        </ng-template>
      </dl>
    </div>
  </div>

  <div class="field-group">
    <div class="field-group-title">
      <h3>Email</h3>
    </div>
    <div class="field-group-content">
      <dl class="dl-horizontal" *ngIf="contact?.emails?.length > 0">
        <ng-template ngFor let-item [ngForOf]="contact.emails">
          <dt>{{ item.category | keyToValue:emailCategories:'value':'text' }}</dt>
          <dd>
            <p>
              {{ item.value }}
            </p>
          </dd>
        </ng-template>
      </dl>
    </div>
  </div>

  <div class="field-group">
    <div class="field-group-title">
      <h3>Address</h3>
    </div>
    <div class="field-group-content">
      <dl class="dl-horizontal" *ngIf="contact?.addresses?.length > 0">
        <ng-template ngFor let-item [ngForOf]="contact.addresses">
          <dt>{{ item.category | keyToValue:addressCategories:'value':'text' }}</dt>
          <dd>
            <p [innerHTML]="item | userAddress">
              <!-- {{ item.address_line1 }}
              <br> {{ item.address_line2 }}
              <br> {{ item.city }} {{ item.province }} {{ item.postcode }}
              <br> {{ item.country }}
              <br> -->
            </p>
          </dd>
        </ng-template>
      </dl>
    </div>
  </div>

  <div class="field-group">
    <div class="field-group-title">
      <h3>Media</h3>
    </div>
    <div class="field-group-content">
      <dl class="dl-horizontal" *ngIf="contact?.media?.length > 0">
        <ng-template ngFor let-item [ngForOf]="contact.media">
          <dt>{{ item.category | keyToValue:mediaCategories:'value':'text' }}</dt>
          <dd>
            <p>
              <a href="{{ item.value }}" target="_blank" rel="noopener">{{ item.value }}</a>
            </p>
          </dd>
        </ng-template>
      </dl>
    </div>
  </div>

  <div class="field-group">
    <div class="field-group-title">
      <h3>Note</h3>
    </div>
    <div class="field-group-content">
      {{ contact.notes }}
    </div>
  </div>

</div>
