<z-contact-shared-toolbar [pageTitle]="pageTitle" [hasBack]="hasBack" [currentPage]="'detail'">
  <div class="page-body-control-nav page-body-control-nav-right">
    <button *ngIf="mode === 'create'" type="reset" class="btn btn-outline-default btn-min" [routerLink]="['/contacts']">Cancel
    </button>

    <button class="btn btn-outline-primary btn-min ml10" type="button" *ngIf="mode === 'create' || mode === 'edit'"
            [disabled]="!contactEdit?.name?.valid && !contactEdit?.family_name?.valid"
            (click)="contactEdit.onSubmit(contactEdit?.form?.value)" > {{ mode === 'edit' ? 'Save' : 'Create' }}
    </button>

    <button *ngIf="mode === 'edit'" type="reset" class="btn btn-outline-default btn-min ml10" (click)="goBack()">Cancel
    </button>

    <z-contact-shared-actions-bar *ngIf="isWthContact || (mode === 'view' && !viewOnly)" [showViewDetail]="false" [contacts]="[contact]"
      [showNumber]="false" [showInvitation]="isWthContact" [showAddToContacts]="isWthContact || (!contact.my_contact && !viewOnly)"
      [showFavorite]="!isWthContact" [showEdit]="!isWthContact" [isStranger]="isWthContact" [toggleFavourite]="_contact.isContactsHasGroupName([contact], 'favourite') && !viewOnly && !isWthContact"
      [toggleBlacklist]="_contact.isContactsHasGroupName([contact], 'blacklist') && !viewOnly && !isWthContact"
      (eventOut)="doActionsToolbar($event)">

    </z-contact-shared-actions-bar>
  </div>
</z-contact-shared-toolbar>


<div class="page-body-content has-page-body-control">
  <div class="contact-edit-page page-body-content-in">
    <div class="contact-edit-content">
      <contact-edit #contactEdit [contact]="contact" [mode]="mode" (eventForm)="eventForm($event)" (event)="doEvent($event)"></contact-edit>
      <ng-container *ngIf="mode==='view'">
        <contact-view [contact]="contact"></contact-view>
      </ng-container>
    </div>
    <div class="contact-edit-aside">

      <h4>Cards</h4>
      <div class="card-list row">
          <ng-container *ngIf="cards?.length > 0; else noData">
            <div class="col-sm-12 mb15" *ngFor="let card of cards">
              <card-item [card]="card" (view)="viewCard($event)"></card-item>
            </div>
          </ng-container>
          

        <ng-template #noData>
            <box-no-data [icon]="'fa fa-address-card xs'"
                         [title]="'There are no Cards!'"
                         [subTitle]="'Business cards this person shared with you'">
            </box-no-data>
          </ng-template>
      </div>

      <h4 class="regular-email">
          Regular email
          <i class="fa fa-info-circle" pTooltip="Entered information didn't match any WTHApps profiles" tooltipPosition="bottom"></i>
        </h4>
        <ng-container *ngFor="let email of emails">
          <div class="user-row">
            <div class="name">
              <span>{{ email }}</span>
            </div>
            <div class="action">
              <button class="btn btn-default" pTooltip="Invite to WTHApps" tooltipPosition="left" (click)="invite(email)">
                <i class="fa fa-envelope-o"></i>
              </button>
            </div>
          </div>
        </ng-container>

    </div>
  </div>


</div>
<contact-add-group-modal #modal></contact-add-group-modal>

<invitation-create-modal #invitationModal (event)="doEvent($event)"></invitation-create-modal>
<w-card-detail-modal #cardDetailModal [card]="card$ | async">

</w-card-detail-modal>
