<form>
  <bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title"> How to import iCloud Contacts into WTH!Contact </h4>
    </bs-modal-header>
    <bs-modal-body>
      <div>Please follow these steps to import iCloud Contacts into WTH!Contact</div>
      <ol>
        <br>
        <li> Open <b>Contacts</b> or <b>Address Book</b></li>
        <br>
        <li> Chosse <b>File</b> > <b>Export</b> > <b>Export vCard</b> option or simply drap and drop All Contacts from the Group list to your desktop.
          You can select one or more specific contacts if you'd rather not export the whole list. <br>
          If you do not see <b>All Contacts</b>, select View -> Show Groups from the menu
        </li>
        <br>
        <li> Open <b>WTH!Contact</b></li>
        <br>
        <li> Select <b>Import</b> > <b>iCloud Contact</b> from the menu</li>
        <br>
        <li> Select the "All Contacts.vcf" from the desktop (created in Step 2) and press Open. The vfc file will be imported into your WTH!Contact</li>
      </ol>

    </bs-modal-body>
    <bs-modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal" (click)="close()">Ok</button>
    </bs-modal-footer>
  </bs-modal>
</form>
