@import "../../../assets/styles/global";
@import "../w-object-list/w-object-list-modal.component";
@import '~dropzone/dist/min/dropzone.min.css';


.media-selection-upload-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .dropzone-container > {
    .dropzone {
      &.dz-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0;
        @include border-bottom-radius($border-radius-large);
        .dz-message {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0;
          max-width: none;
          width: 100%;
          padding: 0;
          border-width: 0;
          font-size: $font-size-base;
          display: block !important;
        }
        .dz-text {
          font-size: 16px;
          color: #a1a1a1;

          h3 {
            margin-top: 0;
            font-size: 30px;
            i {
              font-size: 120px;
            }
            span {
              display: block;
            }
          }
          div {
            margin: 20px 0 0;
          }
        }
        .dz-preview {
          display: none;
        }
      }
    }
  }
}

.btn-group-filter {
  border: 1px solid #cccccc;
  border-radius: 4px;
}