<div class="container">
  <div class="title-wrap">
    <h2 class="title">Upgrade to Pro Plan</h2>
    <p class="title-sub">You are almost there</p>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="box-panel">
        <h3 class="box-panel-title">1.Plan Summary</h3>
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item">
              <p class="bold">Avanced Plan <br>
                $9.99/month - Charged monthly.</p>
            </li>
            <li class="list-group-item">
              <p>You’ll be charged $9.99 monthly including applicable taxes until you cancel your memebership.
                Previous charges won’t be refunded when you cancel unless it’s legally required. Your payment data is
                encrypted and secure. All amounts shown are in USD.</p>
            </li>
          </ul>
        </div>
        <h3 class="box-panel-title">2.Add Payment Methods</h3>
        <form id="paymentForm" class="scale-down" [formGroup]="paymentForm" novalidate>
          <ul class="list-group">
            <li class="list-group-item">
              <h4 class="list-group-item-heading">Payment Method</h4>

              <div class="payment-method-wrap">
                <label class="radio-inline">
                  <input [ngModel]="{checked: methodPaypal == false}" (ngModelChange)="methodPaypal=false" checked
                         type="radio" name="payment_method" id="payment_method1" value="credit"> <span
                  class="payment-method-credit"></span>
                </label>
                <label class="radio-inline">
                  <input [ngModel]="{checked: methodPaypal == true}" (ngModelChange)="methodPaypal=true" type="radio"
                         name="payment_method" id="payment_method2" value="paypal"> <span
                  class="payment-method-paypal"></span>
                </label>
              </div>

              <div [style.display]="methodPaypal ? 'none' : 'block'">
                <div class="form-group"
                     [ngClass]="{'has-error': cardholder_name.touched && !cardholder_name.valid}">
                  <label for="cardholder_name">Card Name</label>
                  <input class="form-control" type="text" id="cardholder_name" placeholder="Name on card"
                         [formControl]="cardholder_name">
                  <div *ngIf="cardholder_name.touched && !cardholder_name.valid">
                              <span class="help-block"
                                    *ngIf="cardholder_name.errors.required">Name on card is required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="card-number">Card Number</label>
                  <div class="cardinfo-card-number">
                    <div class="form-control" id="card-number"></div>
                    <div id="card-image"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="expiration-date">Valid Thru</label>
                      <div class='form-control' id="expiration-date"></div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="cvv">CVV</label>
                      <div class='form-control' id="cvv"></div>
                    </div>
                  </div>
                </div>
              </div>

            </li>
            <li [style.display]="methodPaypal ? 'none' : 'block'" class="list-group-item">
              <h4 class="list-group-item-heading">Billing address</h4>

              <div class="form-group"
                   [ngClass]="{'has-error': address_line_1.touched && !address_line_1.valid}">
                <label for="address_line_1">Address line 1</label>
                <input class="form-control" type="text" id="address_line_1" placeholder="Address line 1"
                       [formControl]="address_line_1">
                <div *ngIf="address_line_1.touched && !address_line_1.valid">
                            <span class="help-block"
                                  *ngIf="address_line_1.errors.required">Address line 1 is required</span>
                </div>
              </div>
              <div class="form-group">
                <label for="address_line_2">Address line 2
                  <span class="optional">(optional)</span>
                </label>
                <input class="form-control" type="text" id="address_line_2" placeholder="Address line 2"
                       [formControl]="address_line_2">
              </div>

              <div class="row row-billing">
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group" [ngClass]="{'has-error': city.touched && !city.valid}">
                    <label for="city">City</label>
                    <input class="form-control" type="text" id="city" placeholder="City" [formControl]="city">
                    <div *ngIf="city.touched && !city.valid">
                      <span class="help-block" *ngIf="city.errors.required">City is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group" [ngClass]="{'has-error': region.touched && !region.valid}">
                    <label for="region">State/Province</label>
                    <input class="form-control" type="text" id="region" placeholder="State/Province"
                           [formControl]="region">
                    <div *ngIf="region.touched && !region.valid">
                                <span class="help-block"
                                      *ngIf="region.errors.required">State/Province is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group" [ngClass]="{'has-error': country.touched && !country.valid}">
                    <label for="country">Country</label>
                    <select class="form-control" id="country" [formControl]="country">
                      <option *ngFor="let country of countries; let i = index" [selected]="i === 39"
                              value="{{country.key}}">
                        {{country.value}}
                      </option>
                    </select>
                    <div *ngIf="country.touched && !country.valid">
                  <span class="help-block"
                        *ngIf="country.errors.required">Country is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group">
                    <label for="postcode">Postal Code <span class="optional">(optional)</span></label>
                    <input class="form-control" type="text" id="postcode" placeholder="Postal code"
                           [formControl]="postcode">
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item text-center">
              <button [style.display]="methodPaypal ? 'none' : 'inline-block'" id="button-pay" class="btn btn-primary ml10" type="submit" [disabled]="!paymentForm.valid">
                {{button_text}}
              </button>
              <a [routerLink]="['/account/payment/confirm']" [style.display]="methodPaypal ? 'inline-block' : 'none'" class="btn btn-primary ml10" type="submit">
                {{button_text}}
              </a>
            </li>
          </ul>
        </form>

      </div>
    </div>
  </div>
</div>






