<ng-container *ngIf="data">
  <z-contact-shared-toolbar [currentPage]="'detail'" [hasBack]="true">
    <div class="page-body-control-nav page-body-control-nav-right page-body-control-nav-action">
      <button class="btn btn-outline-default" type="button" tabindex="0" (click)="save()">
        <i class="fa fa-plus"></i> Save to Contact </button>
    </div>
  </z-contact-shared-toolbar>
  <div class="page-body-content has-page-body-control">
    <div class="page-body-content-in zone-social">
      <div class="zone-social-in" *ngIf="data">
        <div class="field-group">
          <div class="field-group-content">
            <div class="media">
              <div class="media-left">
                <span class="avatar-md">
                  <img [src]="data.profile_image" alt="">
                </span>
              </div>
              <div class="media-body">
                <h4 class="bold">{{ data.name }}</h4>
                <p>
                  <small>{{ data.job_title }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="field-group">
          <div class="field-group-title">
            <h3>Phone</h3>
          </div>
          <div class="field-group-content">
            <dl class="dl-horizontal" *ngIf="data.phones?.length > 0">
              <ng-template ngFor let-item [ngForOf]="data.phones">
                <dt>{{ item.category | keyToValue:phoneCategories:'value':'text' }}</dt>
                <dd>
                  {{ item.country_alpha_code | phoneCodeFlag:countriesCode | json }}
                  <p>
                    <img *ngIf="(countriesCode$ | async) && data.phones[0]?.country_alpha_code && item.country_alpha_code | phoneCodeFlag:(countriesCode$ | async)"
                      src="assets/images/flags/{{ item.country_alpha_code | phoneCodeFlag:(countriesCode$ | async)}}.svg" width="30"
                      alt=""> {{ item.value }}
                  </p>
                </dd>
              </ng-template>
            </dl>
          </div>
        </div>

        <div class="field-group">
          <div class="field-group-title">
            <h3>Email</h3>
          </div>
          <div class="field-group-content">
            <dl class="dl-horizontal" *ngIf="data.emails?.length > 0">
              <ng-template ngFor let-item [ngForOf]="data.emails">
                <dt>{{ item.category | keyToValue:emailCategories:'value':'text' }}</dt>
                <dd>
                  <p>
                    {{ item.value }}
                  </p>
                </dd>
              </ng-template>
            </dl>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>
