<div class="container"
     lockYOffset="20"
     observeAttributes="true"
     infinite-scroll
     [scrollWindow]="true"
     (scrolled)="getMoreNotifications()">
  <div class="clearfix mb10">
    <div class="pull-left">
      <h4 class="m0">Notifications</h4>
    </div>
    <div class="pull-right">
      <a href="javascript:;" (click)="markAllAsRead()"> Mark all as read</a>
      <span class="can-click ml5" (click)="onSettingModal()"><i class="fa fa-cog"></i></span>
    </div>
  </div>
  <div id="common-notification-list">
    <app-partials-notification-list #notifications [type]="type"></app-partials-notification-list>
  </div>
  <div class="text-center"
       *ngIf="!(type === 'connection' ? connectionService?.loadingDone : notificationService?.loadingDone)">
    <a href="javascript:;" class="bold text-bigger" (click)="getMoreNotifications()">
      View more notifications
    </a>
  </div>
</div>

<bs-modal #settings [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title"><i class="fa fa-cog"></i> Settings</h4>
  </bs-modal-header>
  <bs-modal-body>
    <p>Allow notification updates from</p>
    <div>
      <div>
        <p-checkbox name="group1" value="social" label="Social"
                    [(ngModel)]="selectedNotifications"></p-checkbox>
      </div>
      <div>
        <p-checkbox name="group1" value="chat" label="Chat" [(ngModel)]="selectedNotifications"></p-checkbox>
      </div>
      <div>
        <p-checkbox name="group1" value="note" label="Note" [(ngModel)]="selectedNotifications"></p-checkbox>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal" (click)="settings.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-outline-primary btn-min" data-dismiss="modal">Done</button>
  </bs-modal-footer>
</bs-modal>
