<div id="photo-box-detail" class="photo-box-detail">
  <div *ngIf="myItem" class="photo-detail-top">
    <ul class="action navbar-left">
      <li>
        <a href="javascript:;" (click)="hideModal()"><i class="fa fa-arrow-left"></i></a>
      </li>
    </ul>
    <div class="name"><i class="fa fa-picture-o"></i> {{myItem.name}}</div>
    <ul class="action navbar-right">
      <li>
        <a href="javascript:;" (click)="onAction($event,'share')"><i class="fa fa-share-alt"></i></a>
      </li>
      <li>
        <a href="javascript:;" (click)="onAction($event,'favourite')"><i class="fa"
                                                                         [ngClass]="myItem.favorite ? 'fa-star': 'fa-star-o'"></i></a>
      </li>
      <li>
        <a href="javascript:;" (click)="onAction($event,'tag')"><i class="fa fa-tag"></i></a>
      </li>
      <li>
        <a href="javascript:;" (click)="onAction($event,'delete')"><i class="fa fa-trash-o"></i></a>
      </li>
      <li class="dropdown">
        <a href="javascript:;" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
        <ul class="dropdown-menu">
          <li><a class="text-disable" href="#">Add to Album</a></li>
          <li><a class="text-disable" href="#">Download</a></li>
          <li><a class="text-disable" href="javascript:;">Edit Photo</a></li>
          <li><a href="javascript:;" (click)="showInfo()">Information</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="myItem" class="photo-detail-content">
    <div class="photo-detail-img">
      <figure>
        <img [src]="myItem.url" alt="">
      </figure>
      <span *ngIf="items.length > 1" (click)="imgPrev()" class="photo-detail-img-control img-control-prev">
        <i class="fa fa-angle-left"></i>
      </span>
      <span *ngIf="items.length > 1" (click)="imgNext()" class="photo-detail-img-control img-control-next">
        <i class="fa fa-angle-right"></i>
      </span>
    </div>
  </div>
  <div *ngIf="myItem" class="photo-detail-info">
    <h3>Detail <a href="javascript:;" (click)="showInfo()"><i class="fa fa-times"></i></a></h3>
    <h4><i class="fa fa-info-circle"></i> General Infomation <a href="javascript:;" (click)="onShowEditInfo()">Edit</a>
    </h4>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{myItem.name}}</dd>
      <dt>Type</dt>
      <dd>{{myItem.extension}}</dd>
      <dt>Size</dt>
      <dd>{{myItem.size}}</dd>
      <dt>Demension</dt>
      <dd>{{myItem.dimensions}}</dd>
      <dt>Uploaded</dt>
      <dd>{{myItem.created_at | date:'MMM dd yyyy' : 'UTC'}}</dd>
    </dl>
    <hr>
    <h4><i class="fa fa-tag"></i> Tag <a href="javascript:;" (click)="onAction($event,'tag')">Edit</a></h4>
    <div class="tags-text">
      <span *ngFor="let tag of myItem.json_tags">{{tag}}</span>
    </div>
    <hr>
    <h4><i class="fa fa-share-alt"></i> Sharing <a href="javascript:;" (click)="onAction($event,'share')">Edit</a></h4>
    <dl>
      <dt>Owner</dt>
      <dd>
        <ul class="list-unstyled">
          <li><img src="assets/images/zone/img-group.png" alt="{{myItem.owner.name}}" title="{{myItem.owner.name}}"></li>
        </ul>
      </dd>
      <dt>Group</dt>
      <dd>
        <ul class="list-unstyled" >
          <li *ngFor="let group of myItem.json_shares[0].contactgroups">
            <img src="assets/images/zone/img-group.png" title="{{group.name}}">
          </li>
        </ul>
      </dd>
      <dt>Contact</dt>
      <dd>
        <ul class="list-unstyled" >
          <li *ngFor="let contact of myItem.json_shares[0].contacts">
            <img src="assets/images/zone/img-group.png" title="{{contact.name}}">
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>


<page-zone-form-edit-photo
  [modalShow]="modalEdit"
  [data]="myItem"
  (modalHide)="onHideEditInfo($event)"
  (updatePhoto)="onPhotoUpdateInfo($event)">
</page-zone-form-edit-photo>
