<div class="page-body-in">

  <template [ngIf]="items.length">
    <template [ngIf]="isGridView">
      <page-zone-gridview
        [items]="items"
        (imgsSelected)="onImgsSelected($event)"
        (preview)="onPreview($event)"
        (loadMore)="onLoadMore($event)"
        [resetSelected]="resetSelected"
      ></page-zone-gridview>

    </template>
    <template [ngIf]="isListView">
      <page-zone-listview (imgDetail)="onClick($event)" [data]="items"
                          (imgsSelected)="onImgsSelected($event)"></page-zone-listview>
    </template>
  </template>

  <div *ngIf="total==0" class="text-center">
    No data
  </div>

  <div id="photodata-loading" style="position: relative;height: 50px;">
  </div>
</div>

<zone-photo-detail
  [items]="items"
  [selectedItems]="selectedItems"
  [preview]="showImg"
  (hideModalClicked)="onHideModalClicked($event)"
  (action)="onAction($event)"
>
</zone-photo-detail>


<!--<zone-photo-detail (hideModalClicked)='onHideModalClicked($event)'-->
<!--(actionModalClicked)="onActionModalClicked($event)"-->
<!--(actionDelete)="onActionDeleteOne($event)"-->
<!--[imgId]="imgId" [imgAll]="photosOfDetail"-->
<!--[inShowInfo]="viewInfo"-->
<!--[showImg]="showImg"></zone-photo-detail>-->


<!--&lt;!&ndash; <wth-toast-upload></wth-toast-upload> &ndash;&gt;-->
<!--<toast-uploading (addedToAlbumEvent)="addedToAlbum($event)"></toast-uploading>-->
<!--<added-to-album-toast></added-to-album-toast>-->
