<section class="page-content bg-gray-light">
  <div class="container">
    <div class="header-intro">
      <h2><span>Set up is completed!</span></h2>
      <div class="mb20">
        <i class="fa fa-4x fa-check-circle"></i>
      </div>
      <p class="mb20">
        Next, we will show you some basic navigation.
      </p>
      <p>
        <a href="{{ navigateUrl }};intro=true" class="btn btn-min btn-primary"> Ok show me </a>
        <a href="{{ navigateUrl }}" class="btn btn-min btn-outline-default ml5">No thanks</a>
      </p>
    </div>
  </div>
</section>

