<!--<z-media-share-toolbar-->
<!--#mediaToolbar-->
<!--[type]="'photo'"-->
<!--[selectedPhotos]="selectedPhotos"-->
<!--[hasFavourite]="hasFavourite"-->
<!--[currentView]="currentView"-->
<!--(outEvent)="actionToolbar($event)"-->
<!--(outEventUploading)="actionUploading($event)">-->
<!--</z-media-share-toolbar>-->

<div class="page-body-content has-page-body-control gray-light"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     [scrollWindow]="false"
     (scrolled)="onLoadMore()">
  <div class="page-body-content-in">
    {{data|json}}
    <z-media-share-list
      [type]="'photo'"
      [data]="data"
      [view]="currentView"
      [hasAction]="['favourite', 'select', 'previewAll']"
      (outEvent)="actionItem($event)">
    </z-media-share-list>
    <div class="p50" [ngClass]="{'inside-loading': nextLink != null, 'hidden':nextLink == null}"></div>
  </div>
</div>

<!--<z-media-photo-detail #photoDetail [selectedPhotos]="selectedPhotos" [allPhotos]="data"></z-media-photo-detail>-->
