<div class="zone-social-cover">
  <div *ngIf="item" class="zone-social-cover-in group">
    <div class="zone-social-cover-info">
      <div class="z-social-media z-social-media-md">
        <div class="z-social-media-left">
          <img [src]="item.profile_image">
        </div>
        <div class="z-social-media-body">
          <div class="z-heading">
            <div class="z-name">
              {{item.name}}
            </div>
          </div>
          <div class="z-shared-info">
            <ul>
              <li *ngIf="item.users && item.users.length>2">{{item.users.length}} members</li>
              <li *ngIf="item.users && item.users.length<2">{{item.users.length}} member</li>
              <li *ngIf="is_close">
                Private
              </li>
            </ul>
          </div>
          <div class="z-shared-description">
            {{item.tag_line}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="zone-social-cover-nav">
    <ul class="list-unstyled clearfix" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/zone/social/communities/', uuid]">Post</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/zone/social/communities/'+uuid+'/about']">About</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/zone/social/communities/'+uuid+'/members']">Members</a>
      </li>
      <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">-->
        <!--<a [routerLink]="['/zone/social/communities/'+uuid+'/notification']">Notification <span-->
          <!--class="badge badge-rounded badge-wth badge-right">15</span></a>-->
      <!--</li>-->
      <li class="pull-right dropdown">
        <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-custom">
          <li><a href="javascript:;" (click)="onEdit(data)">Edit Information</a></li>
          <li><a href="#" (click)="onPreference(data)">Preferences</a></li>
          <li><a [routerLink]="['/zone/social/communities/'+data.uuid+'/members']">Manage members</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Remove from Favourites</a></li>
          <li><a href="#" (click)="onLeave(my)">Leave community</a></li>
          <li><a href="javascript:;" (click)="onReport()">Report community</a></li>
          <li><a (click)="onDelete(my)" href="#">Delete community</a></li>
        </ul>
      </li>



      <li class="pull-right mr10">
        <button class="btn btn-default" type="button" (click)="askToJoin()">
          <i class="fa fa-user-plus"></i> Ask to join
        </button>

        <div *ngIf="relationships.status == 1" class="btn-group pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Asked to join <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-custom">
            <li>
              <a href="javascript:;" (click)="cancelJoinRequest()">Cancel Join Request</a>
            </li>
          </ul>
        </div>

        <!--<button class="btn btn-default" type="button" (click)="leave()">-->
          <!--<i class="fa fa-times"></i> Leave Community-->
        <!--</button>-->
      </li>

    </ul>
  </nav>
</div>

<wth-zone-report></wth-zone-report>
