<div *ngIf="data" class="zone-social-cover">
  <div class="zone-social-cover-in group">
    <div class="zone-social-cover-info">
      <div class="z-social-media z-social-media-md">
        <div class="z-social-media-left">
          <img src="/assets/images/avatar/avatar-lg.png" alt="">
        </div>
        <div class="z-social-media-body">
          <div class="z-heading">
            <div class="z-name">
              {{data.name}}
            </div>
          </div>
          <div class="z-shared-info">
            <ul>
              <li *ngIf="data.users.length>2">{{data.users.length}} members</li>
              <li *ngIf="data.users.length<2">{{data.users.length}} member</li>
              <li *ngIf="is_close">
                Private
              </li>
            </ul>
          </div>
          <div class="z-shared-description">
            {{data.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="zone-social-cover-nav">
    <ul class="list-unstyled clearfix" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/zone/social/communities/', data.uuid]">Post</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/zone/social/communities/'+data.uuid+'/about']">About</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/zone/social/communities/'+data.uuid+'/members']">Members</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/zone/social/communities/'+data.uuid+'/notification']">Notification <span
          class="badge badge-rounded badge-wth badge-right">15</span></a>
      </li>
      <li class="pull-right dropdown">
        <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-custom">
          <li><a href="#modal-social-com-preferences" data-toggle="modal">Preferences</a></li>
          <li><a href="#">Manage members</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Remove from Favourites</a></li>
          <li><a href="#">Add to favourite</a></li>
          <li><a href="#">Leave community</a></li>
          <li><a href="#">Delete community</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
