<div class="wrapper">
  <wth-header-navbar class="header">
    <a [routerLink]="['/']" class="navbar-brand" href="#">
      <img src="/assets/images_new/logo.png" alt="WTHApps">
    </a>
    <ul class="nav navbar-nav hidden-xs">
      <li class="nav-item"><a [routerLink]="['/products']" class="nav-link" href="#">Apps</a></li>
      <li class="nav-item"><a [routerLink]="['/pricing']" class="nav-link" href="#">Pricing</a></li>
      <li class="nav-item"><a [routerLink]="['/about']" class="nav-link" href="#">About Us</a></li>
    </ul>
  </wth-header-navbar>

  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <portal-shared-footer></portal-shared-footer>

  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <p-confirmDialog header="Confirmation" width="670"></p-confirmDialog>
  <!--<wth-chat-support></wth-chat-support>-->
</div>
