<div class="menuleft-logo">
  <img src="/assets/images_new/logo-social.png" alt="">
</div>
<div class="menuleft-item" [routerLinkActive]="['active']">
  <a [routerLink]="[homeMenuItem.link]" [routerLinkActive]="['active']"
     (click)="reloadHome(); onCloseMenu()" href="javascript:void(0);">
    <i class="{{ homeMenuItem.icon }}"></i> {{ homeMenuItem.name }}
  </a>
  <div class="menuleft-item-action">
    <span> {{ COUNT_DISPLAY[(newPostsCount$ | async)] || (newPostsCount$ | async) }}</span>
  </div>
</div>

<div class="menuleft-item" [routerLinkActive]="['active']">
  <a draggable="false" href="javascript:;">
    <i class="fa fa-external-link-square"></i> Shortcuts
  </a>
  <div class="menuleft-item-action">
    <span (click)="shortcutSetting.modal.open()">
      <i class="fa fa-pencil"></i>
    </span>
  </div>
</div>

<div class="menuleft-item-shortcuts" [ngClass]="{'expand': shortcutsExpand}">
  <div class="menuleft-item" *ngFor="let shortcut of shortcuts$ | async" [routerLinkActive]="['active']"
       (click)="onShortcutAccessed(shortcut)">
    <a draggable="false" [routerLink]="[shortcut?.link]" (click)="onSubMenu(shortcut?.link); onCloseMenu()"
       pTooltip="{{ shortcut?.name }}" tooltipPosition="bottom" href="#">
      <i class="fa fa-users"></i> {{ shortcut?.name }}
    </a>
    <div class="menuleft-item-action">
      <span> {{ COUNT_DISPLAY[(shortcut?.updates_count)] || shortcut?.updates_count }}</span>
    </div>
  </div>
</div>

<div *ngIf="(shortcuts$ | async).length > 8" class="menuleft-nav-shortcuts-more">
  <a *ngIf="!shortcutsExpand" (click)="shortcutsExpand = true" href="javascript:;"><i class="fa fa-caret-down"></i>
    Show more</a>
  <a *ngIf="shortcutsExpand" (click)="shortcutsExpand = false" href="javascript:;"><i class="fa fa-caret-up"></i> Show
    less</a>
</div>

<div class="menuleft-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
  <a draggable="false" [routerLink]="[communitiesMenuItem.link]" (click)="onCloseMenu()" href="#">
    <i class="{{ communitiesMenuItem.icon }}"></i> {{ communitiesMenuItem.name }}
  </a>
</div>

<ng-container *ngFor="let social of socialMenu">
  <div *ngIf="social.name != ''" class="menuleft-item" [routerLinkActive]="['active']">
    <a [routerLink]="['/profile', uuid, 'post']" (click)="onCloseMenu()" href="javascript:;" *ngIf="social.link == '/profile'" >
      <i class="{{ social.icon }}"></i> {{ social.name }}
    </a>

    <a [routerLink]="[social.link]" href="javascript:;" *ngIf="social.link !== '/profile'"
       (click)="onSubMenu(social.link); onCloseMenu()">
      <i class="{{ social.icon }}"></i> {{ social.name }}
    </a>
  </div>
</ng-container>

<div class="menuleft-item" (click)="socialSettting.modal.open()">
  <a draggable="false" href="javascript:;">
    <i class="fa fa-cog"></i> Settings
  </a>
</div>

<z-social-shortcut-setting #shortcutSetting></z-social-shortcut-setting>
<z-social-shared-setting #socialSettting ></z-social-shared-setting>
