<div class="menuleft-nav-sub-item text-capitalize" [routerLinkActive]="['active']" >
    <a draggable="false" [routerLink]="[homeMenuItem.link]" >
      <i class="{{ homeMenuItem.icon }}"></i> {{ homeMenuItem.name }}
    </a>
  </div>

  <div class="menuleft-nav-sub-item">
    <a draggable="false" href="javascript:;">
      <i class="fa fa-external-link-square"></i> Shortcuts
    </a>
  </div>
  <ng-template ngFor let-group [ngForOf]="shortcuts$ | async" let-i="index">
    <div class="menuleft-nav-sub-item text-capitalize" [routerLinkActive]="['active']"
         >
      <a draggable="false" [routerLink]="[group.link]" >
        <i class="{{ group.icon }}"></i> &nbsp; &nbsp; {{ group.name }}
      </a>

    </div>

  </ng-template>

  <ng-template ngFor let-social [ngForOf]="socialMenu" let-i="index">
    <div *ngIf="social.name != ''" [routerLinkActive]="['active']"
         [ngClass]="{'hidden': social.link == '/search'}" class="menuleft-nav-sub-item">
      <a draggable="false" *ngIf="social.link == '/profile'" [routerLink]="['/profile',uuid]" href="javascript:;" (click)="onSubMenu('/profile/' + uuid)">
        <i class="{{ social.icon }}"></i> {{ social.name }}
      </a>
      <a draggable="false" *ngIf="social.link != '/profile'" [routerLink]="[social.link]" (click)="onSubMenu(social.link)">
        <i class="{{ social.icon }}"></i> {{ social.name }}
      </a>
    </div>
    <div class="divider" *ngIf="social.name == ''"></div>
  </ng-template>
