<div class="main-content">
  <div class="container">
    <wth-breadcrumb [model]="breadcrumbs"></wth-breadcrumb>
    <div class="page-app-detail">
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <figure class="page-app-icon"><img class="img-full" [src]="item.img_src" [alt]="item.name"></figure>
          <div class="page-app-action">
            <p>
              <a target="_blank" href="{{item.download_link}}" class="btn btn-info btn-block">
                <i class="fa fa-download"></i> Download</a>
            </p>
            <p *ngIf="!added">
              <button class="btn btn-default btn-block" (click)="add($event)"><i class="fa fa-plus"></i> Add To My Apps
              </button>
            </p>
            <p *ngIf="added">
              <button class="btn btn-success btn-block" (click)="manage()"><i class="fa fa-cogs"></i> Manage This
                App
              </button>
            </p>
          </div>
        </div>
        <div class="col-sm-9 col-md-10">
          <div class="page-app-info">
            <h2 class="page-app-info-tt">{{item.name}}</h2>
            <p class="cat">{{item.category.name}}</p>
            <app-card-platform [data]="item.platforms"></app-card-platform>
          </div>
          <div class="row page-app-content">
            <div class="col-sm-8">
              <div class="box-panel">
                <div class="box-panel-top">
                  <h3>Overview</h3>
                </div>
                <div class="box-panel-body">
                  <div class="article-content mb20">
                    {{item.description}}
                  </div>
                  <wth-slider [data]="item.screenshots"></wth-slider>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="box-panel">
                <div class="box-panel-top">
                  <h3>Information</h3>
                </div>
                <div class="box-panel-body">
                  <ul class="list-info-app">
                    <li><span>Version:</span> {{item.version}}</li>
                    <li><span>Updated:</span> {{item.updated_at | date:'MMM-dd-yyyy'}}</li>
                    <li><span>Size:</span> {{item.size}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


