<div class="banner-wrap banner-bg" style="background-image: url('assets/images/apps/cover.jpg');">
  <div class="banner-over">
    <div class="container">
      <div class="banner-dv">
        <h2 class="banner-tt">
          ALL THE TOOLS YOU NEED IN ONE PLACE
        </h2>
        <p>Choose your tools from a wide range of Services and Add-on </p>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="container">
    <div class="row row-layout">
      <div class="col-sm-3">
        <aside class="aside-left">
          <div class="navgroup">
            <h4 class="aside-title">Featured</h4>
            <ul class="navgroup-menu">
              <li>
                <a href="#">Top Tools</a>
              </li>
              <li>
                <a href="#">New Apps & Services</a>
              </li>
              <li>
                <a href="#">WTH Products</a>
              </li>
            </ul>
          </div>
          <div class="navgroup">
            <h4 class="aside-title">Categories</h4>
            <div class="navgroup-cat">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

          </div>
          <div class="navgroup">
            <h4 class="aside-title">Platform</h4>
            <div class="navgroup-choose">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  All platform
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  Web apps
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  Windows
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  Mac OS
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  Android
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  iOS
                </label>
              </div>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-sm-9">
        <div class="lib-feature">
          <div class="row">
            <div class="col-sm-4">
              <app-card-md [data]='apps' (appCardClicked)='onAppCardClicked($event)'></app-card-md>
            </div>
            <div class="col-sm-4">
              <app-card-md [data]='apps' (appCardClicked)='onAppCardClicked($event)'></app-card-md>
            </div>
            <div class="col-sm-4">
              <app-card-md [data]='apps' (appCardClicked)='onAppCardClicked($event)'></app-card-md>
            </div>
          </div>
        </div>
        <div class="lib-top">
          <div class="row">
            <div class="col-sm-4">
              <app-card-sm [data]='apps' (appCardClicked)='onAppCardClicked($event)'></app-card-sm>
            </div>
            <div class="col-sm-4">
              <app-card-sm [data]='apps' (appCardClicked)='onAppCardClicked($event)'></app-card-sm>
            </div>
            <div class="col-sm-4">
              <app-card-sm [data]='apps' (appCardClicked)='onAppCardClicked($event)'></app-card-sm>
            </div>
            <div class="col-sm-4">
              <app-card-sm [data]='apps' (appCardClicked)='onAppCardClicked($event)'></app-card-sm>
            </div>
            <div class="col-sm-4">
              <app-card-sm [data]='apps' (appCardClicked)='onAppCardClicked($event)'></app-card-sm>
            </div>
            <div class="col-sm-4">
              <app-card-sm [data]='apps' (appCardClicked)='onAppCardClicked($event)'></app-card-sm>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

