@import '../../../assets/styles/global';

.box-content {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.box-content-end {
  background-color: #F6F6F6;
  padding: 15px 60px;
  border-top: 1px solid $line;
  margin-top: 15px;
  margin: 15px -60px -15px;
}

.page-content {
  padding-top: 20px;
  min-height: calc(100vh - 60px);
  &.bg-gray-light {
    @media (max-width: $screen-xs-max) {
      background-color: #ffffff;
    }
  }

}
