<span (click)="openModal()">
  <ng-content></ng-content>
</span>

<bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'" [cssClass]="'modal-contact-list'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title"> Select Contact </h4>
  </bs-modal-header>
  <bs-modal-body>
    <p class="text-fade">
      Invite people from your WTHContacts to join WTHApps. Everyone you invite will receive a welcome email and a 30
      days Free Trial. Thanks!
    </p>
    <div class="form-group">
      <p-autoComplete #auto placeholder="Enter name or email" [multiple]="true" [minLength]="1" field="name"
                      [(ngModel)]="selectedUsers"
                      [suggestions]="suggestedUsers" (onSelect)="selectUser($event)" (onUnselect)="deselectUser($event)"
                      (completeMethod)="onSearch($event)">
        <ng-template let-user pTemplate="item">
          <div class="ui-help-clearfix user-row">
            <div class="avatar">
              <a href="javascript:void(0)">
                <img class="img-circle small" [alt]="user.name" [src]="user.profile_image">
              </a>
            </div>
            <div class="name">
              <a class="text-link" href="javascript:void(0)">
                <p class="mb0">{{ user.name }}</p>
              </a>
              <span *ngIf="user.new" class="text-color-light text-small"> new person</span>
            </div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
    <hr>
    <ng-container *ngIf="true; else loadingBlock">
      <div class="content-overflow">
        <div class="row media-user-list-group" *ngIf="contacts">
          <div class="col-sm-12" *ngFor="let user of contacts | wthFilterBy:'name':filter">
            <div class="media media-user-list media-middle">
              <div class="media-body">
                <div class="media-user media-user-xs">
                  <div class="media-user-avatar avatar-xs">
                    <img [src]="user?.profile_image" alt="">
                  </div>
                  <div class="media-user-name">
                    <p>{{ user.name }}</p>
                  </div>
                </div>
              </div>
              <div class="media-right no-wrap">
                <p-checkbox name="groupname" [(ngModel)]="user.selected" binary="true"
                            (onChange)="onCheckboxChange(user)"></p-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loadingBlock>
      <box-loading></box-loading>
    </ng-template>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal" (click)="modal.close()">Cancel
    </button>
    <button type="button" class="btn btn-outline-primary btn-min" (click)="openCreate($event)">
      Next
    </button>
  </bs-modal-footer>
</bs-modal>
<invitation-create-modal #create (event)="onInvited($event)"></invitation-create-modal>
