<div class="toast-upload-wrap" *ngIf="showAddedtoAlbumToast">
  <div class="toast-upload-item">
    <div class="toast-upload-header">
      <button class="toast-upload-close" type="button" (click)="close()"><i class="fa fa-times"></i></button>
      Added to Album
    </div>
    <div class="toast-upload-content">
      <div class="media">
        <div class="media-body">
          <p>{{photoCount}} items are added to {{albumName}}</p>
          <div class="text-right">
            <!--<a href="#">View</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
