.ui-autocomplete {
  &.ui-widget {
    display: block;
    .ui-inputtext {
      display: block;
    }
  }
  //.ui-autocomplete-input-token {
  //  float: none;
  //  .ui-inputtext {
  //    display: inline-block;
  //    -webkit-box-shadow: none !important;
  //    -moz-box-shadow: none !important;
  //    box-shadow: none !important;
  //  }
  //}
}

/*body .wrapper {
  .ui-inputswitch {
    overflow: visible;

    background: #F6F6F6;
    border: 1px solid #D8D8D8;
    border-radius: 12px;

    .ui-inputswitch-on span,
    .ui-inputswitch-off span {
      visibility: hidden;
    }

    .ui-state-default {
      background-color: transparent;
      background-image: none;
      border-width: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      &,
      &.ui-state-focus,
      &:hover,
      &:focus {
        outline: none 0 !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
      &:after {
        content: "";
        width: 25px;
        height: 25px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #D8D8D8;
        @include center();
        margin-top: -1px;

        !* Oval 2: *!
        background: #F6F6F6;
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
        -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);

      }
    }

    &.ui-inputswitch-checked {
      background: $color-success;
      .ui-state-default {
        &:after {
          border: 1px solid $color-success;
        }
      }
    }

  }

  .checkbox-switch {
    @include clearfix;
    margin-bottom: 15px;
    .ui-inputswitch {
      float: left;
    }
    label {
      display: block;
      margin-left: 80px;
      padding-left: 0;
      cursor: text;
    }
  }



}*/

.ui-widget-overlay {
  z-index: 2000 !important;
}

.ui-dialog.ui-widget-content {
  z-index: 2001 !important;
}

body {
  .checkbox-switch {
    @include clearfix;
    margin-bottom: 15px;
    .ui-inputswitch {
      float: left;
    }
    label {
      display: block;
      margin-left: 80px;
      padding-left: 0;
      cursor: text;
    }
  }


  .ui-inputswitch.ui-widget {
    overflow: visible;
    background-color: #F6F6F6;
    border: 1px solid #D8D8D8;

    &.ui-corner-all {
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
    }

    [class^="ui-inputswitch-"] span {
      visibility: hidden;
    }
    .ui-inputswitch-handle {
      &.ui-state-default {
        background-color: transparent;
        background-image: none;
        border-width: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &,
        &.ui-state-focus,
        &:hover,
        &:focus {
          outline: none 0 !important;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
        &:after {
          content: "";
          width: 26px;
          height: 26px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid #D8D8D8;
          @include center(false, true);
          left: -2px;
          margin-top: -1px;

          background: #F6F6F6;
          -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
          -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);

        }
      }
    }
    &.ui-inputswitch-checked {
      background-color: $color-success;;
      .ui-inputswitch-handle {
        &:after {
          right: 0;
          left: auto;
          border: 1px solid $color-success;
        }
      }
    }
  }
}
