<form [formGroup]="form" novalidate>
  <bs-modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title"><i class="fa fa-cog"></i> Settings</h4>
    </bs-modal-header>

    <bs-modal-body>
      <p class="bold">Default phone number country code</p>
      <div class="row">
        <div class="col-sm-6">
          <w-countries [country]="form.value.phone_default_code" (completeChange)="onCompleteChange($event)"></w-countries>
          <input type="hidden" formControlName="phone_default_code">
        </div>
      </div>
      <p class="bold pt15">Contact list sorts by</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="ui-g">
              <div class="ui-g-12">
                <p-radioButton name="sortBy" value="first_name" label="First Name" formControlName="contacts_sort_by" inputId="opt1"></p-radioButton>
              </div>
              <div class="ui-g-12">
                  <p-radioButton name="sortBy" value="last_name" label="Last Name" formControlName="contacts_sort_by" inputId="opt2"></p-radioButton>
              </div>
          </div>
        </div>
      </div>


    </bs-modal-body>

    <bs-modal-footer>
      <button class="btn btn-link pull-left" (click)="resetSettings()">Reset Default</button>
      <button type="button" class="btn btn-outline-default btn-min" (click)="modal.close()">Cancel</button>

      <button type="submit" (click)="submit(form.value)" [disabled]="!form.valid"
              class="btn btn-outline-primary btn-min">Done
      </button>
    </bs-modal-footer>
  </bs-modal>
</form>
