@import '../../assets/styles/global';

.news-list {
  .news-item {
    background: #ffffff;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .news-item-header {
    position: relative;
    margin-bottom: 10px;
    .news-item-nav {
      color: #9b9b9b;
      line-height: 16px;
      img {
        position: relative;
        top: -1px;
        margin-right: 5px;
      }
    }
    .news-item-action {
      position: absolute;
      right: -5px;
      top: -5px;
    }
  }
  .news-item-content {
    @include flexbox;
    position: relative;
    .news-item-img {
      margin-right: 10px;
      img {
        -webkit-background-size: cover !important;
        background-size: cover !important;
      }
    }
    .news-item-body {
      @include flex(1);
    }
  }

  .news-item-heading {
    font-size: 18px;
    color: #4a4a4a;
    letter-spacing: 0;
    font-weight: bold;
    margin: 0 0 5px;
    a {
      color: inherit;
      &:hover,
      &:focus {
        color: $link-color;
        text-decoration: none;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
      }
    }
  }
}
