<div class="page-body-content gray-light">
  <div class="page-body-content-in zone-social">
    <div class="zone-social-in">
      <div class="news-list">
        <div class="news-item" *ngFor="let feed of feeds">
          <div class="news-item-header">
            <div class="news-item-nav">
              <!-- <a href="javascript:;"><img src="/assets/icons/news.png" alt=""></a> -->
              <span>{{feed.category}}</span> • <span>{{feed.published_date | timeFormat}}</span>
            </div>
            <div class="news-item-action">
              <button (click)="openModalShare()" class="btn btn-default"><i class="fa fa-share-alt"></i></button>
            </div>
          </div>
          <div class="news-item-content">
            <div class="news-item-img">
              <img [ngStyle]="{'background': 'url(' + article.uri + ')'}" src="/assets/images_new/sizes/news.png"
                   alt="">
            </div>
            <div class="news-item-body">
              <div class="news-item-heading">
                <a target="_blank" rel="nofollow"
                   [href]="feed.link">
                  {{feed.title}}
                </a>
              </div>
              <div class="news-item-text">{{feed.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="zone-social-sidebar">
      <app-social-shared-news-feed [channels]="channels"></app-social-shared-news-feed>
    </div>
  </div>
</div>

<app-social-news-share #modalShare></app-social-news-share>
