<div class="page-body-content gray-light">
  <div class="page-body-content-in zone-social">
    <div class="zone-social-in">
      <div class="news-list">
        <div class="news-item">
          <div class="news-item-header">
            <div class="news-item-nav">
              <a href="javascript:;"><img src="/assets/images_new/icons/news.png" alt=""></a>
              <span>New source</span> • <span>2h</span>
            </div>
            <div class="news-item-action">
              <button (click)="openModalShare()" class="btn btn-default"><i class="fa fa-share-alt"></i></button>
            </div>
          </div>
          <div class="news-item-content">
            <div class="news-item-img">
              <img [ngStyle]="{'background': 'url(' + article.uri + ')'}" src="/assets/images_new/sizes/news.png"
                   alt="">
            </div>
            <div class="news-item-body">
              <div class="news-item-heading">
                <a target="_blank" rel="nofollow"
                   href="https://kinhdoanh.vnexpress.net/tin-tuc/doanh-nghiep/ha-noi-cam-duong-uber-grab-nhu-taxi-truyen-thong-3696946.html">
                  Hà Nội cấm đường Uber, Grab như taxi truyền thống
                </a>
              </div>
              <div class="news-item-text">Trên nhiều tuyến phố Hà Nội bắt đầu cắm biển cấm xe hợp đồng dưới 9 chỗ bên
                cạnh biển cấm taxi theo giờ.
              </div>
            </div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-item-header">
            <div class="news-item-nav">
              <img src="/assets/images_new/icons/news.png" alt=""> <span>New source</span> • <span>2h</span>
            </div>
            <div class="news-item-action">
              <button (click)="openModalShare()" class="btn btn-default"><i class="fa fa-share-alt"></i></button>
            </div>
          </div>
          <div class="news-item-content">
            <div class="news-item-img">
              <img [ngStyle]="{'background': 'url(' + article.uri + ')'}" src="/assets/images_new/sizes/news.png"
                   alt="">
            </div>
            <div class="news-item-body">
              <div class="news-item-heading"><a href="#">Hà Nội cấm đường Uber, Grab như taxi truyền thống</a></div>
              <div class="news-item-text">Trên nhiều tuyến phố Hà Nội bắt đầu cắm biển cấm xe hợp đồng dưới 9 chỗ bên
                cạnh biển cấm taxi theo giờ.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="zone-social-sidebar">
      <app-social-shared-news-feed></app-social-shared-news-feed>
    </div>
  </div>
</div>

<app-social-news-share #modalShare></app-social-news-share>
