<div class="header-intro">
  <div class="container">
    <h2><span>Pricing</span></h2>
    <p>
      Try FREE for 30 days.
    </p>
  </div>
</div>
<section class="page-content pricing-table bg-gray-light">
  <div class="container">
    <div class="box-pricing-content">
      <div class="box-pricing-list">
        <div class="box-pricing-item">
          <div class="box-card">
            <div class="pricing-item-header">
              Free Trial
            </div>
            <div class="pricing-item-content">
              <div class="price">
                <strong>&#36; 0.00</strong>
                <p>&nbsp;</p>
              </div>
              <div class="action">
                <button [routerLink]="['/signup']" type="button" class="btn btn-primary">Create an account for free
                </button>
              </div>
              <div class="info">
                30 days FREE trial with full access to all tools**
              </div>
              <ul class="list-styled">
                <li>Full Access to all WTH!Zone apps and services</li>
                <li>No Ads - ever!</li>
                <li>100% privacy</li>
                <li>More Apps are coming</li>
                <li>10 GB of cloud storage</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box-pricing-item pricing-pro">
          <div class="box-card">
            <div class="pricing-item-header">
              Pro account
            </div>
            <div class="pricing-item-content">
              <div class="price"><strong>&#36; 3.00</strong>
                <p>/ account / month*</p>
              </div>
              <div class="action">
                <button [routerLink]="['/signup']" type="button" class="btn btn-primary">Create an account for free
                </button>
              </div>
              <div class="info">
                Full Account - access to all tools
              </div>
              <ul class="list-styled">
                <li>Full Access to all WTH!Zone apps and services</li>
                <li>No Ads - ever!</li>
                <li>100% privacy</li>
                <li>More Apps are coming</li>
                <li>10 GB of cloud storage
                  <dl>
                    <dt>Add shareable cloud space</dt>
                    <dt>Pricing per month:</dt>
                    <dd>
                      <p>50GB - $1/user/month</p>
                      <p>200GB - $3/user/month</p>
                      <p>2TB - $10/user/month</p>
                    </dd>
                  </dl>
                </li>
                <li>Add and manage Sub Account***
                  <dl>
                    <dt>Each cost $3.00/account/month</dt>
                    <dt>Sub Accounts include everything in Pro Account - except cannot create Sub Accounts</dt>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="box-pricing-noted">
        Prices in USD<br>
        * Monthly fee will be charged automatically.<br>
        ** After 30 days FREE trial, to continue using account, simply provide a valid payment method in your account's
        Settings/Subscription & Billing/Payment Method area.<br>
        *** Account Administrator has full control over Sub Accounts (administrator has full access to Sub Accounts'
        data) - great for family and team members. You can also add/pay for another person's Pro Account (administrator
        has NO access to Sub Accounts' data) - where their account has full privacy - cost $3.00/month - great for
        family members.<br>
        <br>
        If you have any questions, please check our <a [routerLink]="['/policies/terms']" href="#">Term of Service</a>
        and <a [routerLink]="['/faq']" href="#">FAQ</a> or <a [routerLink]="['/contact']" href="#">drop us a message</a>.
      </div>
    </div>
  </div>
</section>
<section class="page-content pricing-plans">
  <div class="container">
    <div class="text-center">
      <h3>All Plans include</h3>
    </div>
    <div class="pricing-plans-list">
      <div class="pricing-plans-item">
        <figure>
          <i class="wthicon wthicon-social-lg"></i>
          <h4>WTH!Social</h4>
        </figure>
      </div>
      <div class="pricing-plans-item">
        <figure>
          <i class="wthicon wthicon-chat-lg"></i>
          <h4>WTH!Chat</h4>
        </figure>
      </div>
      <div class="pricing-plans-item">
        <figure>
          <i class="wthicon wthicon-contacts-lg"></i>
          <h4>WTH!Contacts</h4>
        </figure>
      </div>
      <div class="pricing-plans-item">
        <figure>
          <i class="wthicon wthicon-pictures-lg"></i>
          <h4>WTH!Photos</h4>
        </figure>
      </div>
      <div class="pricing-plans-item">
        <figure>
          <i class="wthicon wthicon-notes-lg"></i>
          <h4>WTH!Notes</h4>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="page-content coming-soon-content">
  <div class="container">
    <div class="text-center">
      <h3>Coming soon</h3>
    </div>
    <ul class="list-styled">
      <li>To Do list</li>
      <li>Projects</li>
      <li>Networking</li>
      <li>eFax</li>
      <li>Bookmarks</li>
      <li>Dating</li>
      <li>Live News Feed</li>
      <li>Charts</li>
      <li>Files</li>
      <li>Jobs</li>
      <li>DNS Service</li>
      <li>and more…</li>
    </ul>
  </div>
</section>

<portal-shared-footer-promotion></portal-shared-footer-promotion>
