.product-row {
  border: 1px solid #ddd;
  margin-bottom: -1px;
}
.col-border{
  padding-top: 10px;
  padding-bottom: 10px;
}
.col-border-tt{
  line-height: 34px;
}
.selected-plan{
  background: #cdcdcd;
}
