<a [routerLink]="['/']" class="navbar-brand" href="#">
  <img src="/assets/images/logo-zone-small.png" alt="WTHApps">
</a>

<div class="navbar-form navbar-left hidden-xs navbar-form-search">
  <div class="navbar-searchTop" (click)="clickedInside($event)">
    <textbox-search #textbox (onEnterEvent)="onEnter($event)" (onEscapeEvent)="onEscape($event)"
                    (onKeyUpEvent)="onKey($event)"
                    [placeholder]="'Search something'" [showSearchAdvanced]="false"
                    (onSearchAdvancedEvent)="onSearchAdvanced($event)">

      <div class="input-group-suggestions" *ngIf="show && !searchAdvanced">
        <h5 class="m10"> Conversations </h5>
        <div class="list-group">
          <a *ngFor="let data of suggestions" href="javascript:;" class="list-group-item" (click)="setText(data)">
            <span class="avatar-xxs">
              <img *ngIf="data.group_json?.group_type == 'couple'" [src]="data.display.image" alt="">
              <img *ngIf="data.group_json?.group_type == 'multiple'" [src]="data.group_json?.image" alt="">
            </span>
            <span class="avatar-name-txt" *ngIf="data.group_json?.group_type == 'couple'">
                {{ data.display.name }}</span>
            <span class="avatar-name-txt" *ngIf="data.group_json?.group_type == 'multiple' && data.group_json.name">
                {{ data.group_json.name }}</span>
            <span class="avatar-name-txt" *ngIf="data.group_json?.group_type == 'multiple' && !data.group_json.name">
                {{ data.group_json.users_name }}</span>
          </a>
        </div>
        <div class="list-group-footer">
          <a class="d-block" href="javascript:;" (click)="onEnter($event)">
            Show more result
          </a>
        </div>
        <div class="list-group-footer">
          <a class="d-block" [routerLink]="['search_new_contacts']" (click)="show = false" href="javascript:;">
            Search New Contact
          </a>
        </div>
      </div>

    </textbox-search>
  </div>
</div>
