<div class="zone-social">
  <div class="zone-social-in">

    <!--<z-social-community-cover [data]="data"></z-social-community-cover>-->

    <member-list-invite #users (onSelected)="inviteMembers($event)"></member-list-invite>
    <div *ngIf="data" class="z-social-box">


      <div class="z-social-post">

        <ul class="list-unstyled social-list-user" *ngIf="selectedTab == 'invitations'">
          <template ngFor let-item [ngForOf]="items">

            <li >
              <div class="dropdown pull-right">
                <!--<a href="#" class="btn btn-link">ACCEPT</a>-->
                <!--<a href="#" class="btn btn-link">DENY</a>-->
                <!--<a href="#" class="btn btn-link">INVITED</a>-->
                <a href="javascript:;" class="btn btn-link" (click)="cancelInvitation(item.id)">CANCEL</a>
              </div>
              <a href="#">
                <img [alt]="item.accepter.name" [src]="item.accepter.profile_image" title="" width="30">
                <span>{{item['accepter']['name']}}</span>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>

  </div>
  <z-social-favorites></z-social-favorites>
</div>

