<modal #modal [keyboard]="false" [backdrop]="'static'">
  <modal-header class="modal-header-action" [show-close]="true">
    <button type="button" class="btn btn-wth-default btn-min"
            (click)="next($event)" [disabled]="photoList.selectedItems.length <= 0">{{action}}
    </button>
    <span class="modal-title">{{photoList.selectedItems.length}} photo selected</span>
  </modal-header>
  <modal-body>
    <so-photo-list #photoList [showUpload]="true" (onFilesChanged)="chooseFiles($event)"></so-photo-list>
  </modal-body>
</modal>
