<!--<partials-profile-avatar-info *ngIf="config.aboutAvatarComponent" [data]="data" [editable]="true" [config]="config"></partials-profile-avatar-info>
<partials-profile-about *ngIf="config.aboutComponent" [data]="data" [editable]="true"></partials-profile-about>
<partials-profile-contact *ngIf="config.contactInfoComponent" [data]="data" [editable]="true" [config]="config"></partials-profile-contact>
<partials-profile-work-edu *ngIf="config.workComponent" [data]="data" [editable]="true"></partials-profile-work-edu>
<partials-profile-hobby *ngIf="config.hobbyComponent" [data]="data" [editable]="true"></partials-profile-hobby>-->
<div class="profile-page">
  <ng-content></ng-content>
</div>
