<form>
  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title"> <i class="fa fa-plus"></i> Import Contact</h4>
    </modal-header>
    <modal-body>
      <div>Import your contacts from other account</div>

      <div class="content-overflow" style="max-height: 300px;">
        <div class="pl30 pr30">
          <div class="row-img list">
            <div class="row-img-item" *ngFor="let data of OAUTH_LIST; let i = index;">
              <div class="photo-box can-click" (click)="onOptionSelected({name: data?.name})">
                <div class="photo-box-figure">
                  <figure class="img-center-dv">
                    <div class="">
                      <i [ngClass]="data.class"></i>
                    </div>
                  </figure>
                  <div class="photo-box-name">
                  <span>
                    {{ data.text }}
                  </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-img-item">
              <div class="photo-box can-click">
                <div class="photo-box-figure">
                  <figure class="img-center-dv">
                    <div >

                      <!--<input #fileBrowse type="file" hFileSelect-->
                             <!--style="font-size: 200px; position: absolute; top: -20px; left: -30px;"-->
                             <!--(uploadOutput)="uploadOutput($event)"-->
                             <!--autofocus="true">-->
                      <h-fileUpload [auto]="true"
                                    [icon]="'fa-file'"
                                    [chooseLabel]="'Import from file'"
                                    (onSelect)="select($event)"
                                    (onProgress)="progress($event)">
                      </h-fileUpload>
                    </div>
                  </figure>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal">Cancel</button>
    </modal-footer>
  </modal>
</form>
