@import '../../../../../assets/styles/global';

.modal-dock-footer {
  padding: 10px;
  line-height: 20px;
  @include clearfix;
  .modal-dock-footer-action {
    float: right;
  }
  .btn {
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
      color: $text-color;
    }
    & + .btn {
      margin-left: 10px;
    }
  }
  &.modal-dock-footer-inline {
    padding-top: 0;
    padding-bottom: 0;
    .modal-dock-footer-action {
      margin-top: -30px;
    }
  }
}
