@import '../../../../../assets/styles/global';

.modal-dock-header {
  background: #4A4A4A;
  @include border-top-radius(3px);
  line-height: 30px;
  padding: 5px 10px;
  @include clearfix;
  position: relative;
}

.modal-dock-header-title {
  font-weight: bold;
  color: #ffffff;
  float: left;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

:host ::ng-deep .modal-dock-header-action {
  color: #ffffff;
  font-size: 18px;
  float: right;
  position: relative;
  z-index: 2;
  .fa {
    cursor: pointer;
    line-height: inherit;
    display: inline-block;
    padding: 0 5px;
    @include opacity(0.3);
    @include transition($transition-base);
    &:hover, &:focus {
      @include opacity(1);
    }
  }
}
