<section class="hero-banner">
  <div class="container">
    <div class="hero-banner-center">
      <h2>No annoying ads, no privacy worries. <br>Just a peaceful online experience to enjoy.</h2>
      <p>It’s how the web should be. Simple, easy-to-use, and most of all fun.</p>
    </div>
  </div>
</section>

<div class="page-content product-social" id="product-social">
  <div class="container d-flex">
    <div class="page-content-txt">
      <figure>
        <img src="/assets/images_new/logo-social.png" alt="">
      </figure>
      <h4>Make social media fun again</h4>
      <p>You know the things that make social media not fun, like intrusive ads? Well, we don’t do those things. We give
        you lots of tools to help you make real connections and just have fun.</p>
      <ul class="list-styled">
        <li>Post pictures, links and comments</li>
        <li>Rate posts and comments</li>
        <li>Easily share stories, pictures, videos, and links with your social network</li>
      </ul>
      <dl>
        <dt>Quality not quantity</dt>
        <dd>
          We believe life is about the quality of your friendships, rather than the quantity. That’s why we don’t have a
          friend counter. Who really cares?
        </dd>
        <dt>Bring back community</dt>
        <dd>
          We’re all about communities. Create 100% private communities, find connect a public community of like-minded
          people, or start and build your own.
        </dd>
        <dt>Block unwanted content</dt>
        <dd>
          Use our powerful blacklisting function to make sure you don’t see any posts or comments from a particular
          person. Blacklist them with a click, and they’re gone from your feed!
        </dd>


        <dt>Stay in charge of your content</dt>
        <dd>We believe in giving you control over all of your content. If you want to delete something you wrote or
          posted, you can—and you can be sure it is deleted everywhere.
        </dd>
        <dt>Never lose a file or picture again
        <dd>Automatically organize your pictures, bookmarks and files, so you can find them easily with our powerful
          search functions.
        </dd>
      </dl>
    </div>
    <div class="page-content-img">
      <div class="product-social-img">
        <img class="img-1" src="/assets/images_new/products/social-img-1.png" alt="">
        <img class="img-2" src="/assets/images_new/products/social-img-2.png" alt="">
      </div>

    </div>
  </div>
</div>
<div class="page-content product-chat" id="product-chat">
  <div class="container d-flex flex-row-reverse">
    <div class="page-content-txt">
      <figure>
        <img src="/assets/images_new/logo-chat.png" alt="">
      </figure>
      <h4>Chat anytime, anywhere</h4>
      <p>WTH!Chat is a chat and texting app for quick, ad-free messaging with friends, family and communities. Easily
        create group chats, share pictures, videos, bookmarks and files, and much more. We’ve even got emojis.
      </p>
      <dl>
        <dt>Don’t get unwanted messages</dt>
        <dd>
          Use our powerful blacklisting function to make sure you don’t get messages from a particular person. Blacklist
          them with a click, and they’re gone from your feed!
        </dd>
        <dt>
          Always find your stuff
        </dt>
        <dd>
          Your pictures, bookmarks and other files are organized automatically to help you find your stuff easily.
        </dd>
      </dl>
    </div>
    <div class="page-content-img">
      <div class="product-chat-img">
        <div class="product-chat-img-left">
          <img src="/assets/images_new/products/chat-img-a.png" alt="">
        </div>
        <div class="product-chat-img-right">
          <img src="/assets/images_new/products/chat-img-b.png" alt="">
        </div>

        <ul>
          <li>
            <img src="/assets/images_new/products/chat-img-1.png" alt="">
          </li>
          <li>
            <img src="/assets/images_new/products/chat-img-2.png" alt="">
          </li>
          <li>
            <img src="/assets/images_new/products/chat-img-1.png" alt="">
          </li>
          <li>
            <img src="/assets/images_new/products/chat-img-2.png" alt="">
          </li>
          <li>
            <img src="/assets/images_new/products/chat-img-1.png" alt="">
          </li>
          <li>
            <img src="/assets/images_new/products/chat-img-2.png" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="page-content product-picture" id="product-media">
  <div class="container d-flex">
    <div class="page-content-txt">
      <figure>
        <img src="/assets/images_new/logo-picture.png" alt="">
      </figure>
      <h4>Organize all your digital stuff</h4>
      <p>WTH!Picture, WTH!Bookmarks and WTH!Files
        These three apps let you organize everything so you can find what you need quickly and easily. You’ll always
        have access to your pictures, videos, bookmarks/URLs, to do lists, projects, text messages, contacts, calendar
        and everything else.</p>
      <ul class="list-styled">
        <li>WTH!Picture organizes your pictures and videos</li>
        <li>WTH!Bookmarks organizes your internet bookmarks</li>
        <li>WTH!Files organizes all your pictures, videos and bookmarks</li>
      </ul>
      <p>
        Be more productive
        All of our apps are integrated to automatically organize your pictures, bookmarks and files so you can find them
        easily. That means you spend less time looking for stuff—and more time doing stuff!
      </p>
    </div>
    <div class="page-content-img">
      <div class="product-picture-img">
        <img src="/assets/images_new/products/picture-img-0.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="page-content product-contact" id="product-contact">
  <div class="container d-flex flex-row-reverse">
    <div class="page-content-txt">
      <figure>
        <img src="/assets/images_new/logo-contact.png" alt="">
      </figure>
      <h4>Making staying in touch easier</h4>
      <p>WTH!Contacts is a free, universal contact book for the world to use. Organize all your contacts
        in one searchable directory, and easily share your contact info with friends.
      </p>
      <dl>
        <dt>Simplify your contacts book</dt>
        <dd>Organize your contacts the way you want them—business, personal, and more—and easily block people you don’t
          want to talk to.
        </dd>
        <dt>Import Contacts</dt>
        <dd>Easily import your contacts from Google Mail or Apple accounts.</dd>
        <dt>Make a lasting impression (coming soon)</dt>
        <dd>Create a digital business card to make it easy to give someone your info, and for them to store it.</dd>
      </dl>
    </div>
    <div class="page-content-img">
      <div class="product-contact-img">
        <img src="/assets/images_new/products/contact-img-0.png" alt="">
        <ul>
          <li><img src="../../assets/images_new/products/contact-img-1.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-2.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-3.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-4.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-5.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-6.png" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="page-content product-contact" id="product-note">
  <div class="container d-flex">
    <div class="page-content-txt">
      <figure>
        <img src="/assets/images_new/logo-note.png" alt="">
      </figure>
      <h4>Take control of your to-dos</h4>
      <p>Tired of forgetting stuff and being disorganized? Take control of organize your thoughts and projects with our easy-to-use notes app. It makes taking and managing notes super easy.
      </p>
      <ul class="list-styled">
        <li>Create short to-do lists</li>
        <li>Manage larger projects</li>
        <li>Add embedded images and attached files</li>
      </ul>

      <dl>
        <dt>Find notes quickly</dt>
        <dd>The note file manager lets you organize all your notes in an easy-to-use filing system. Use the powerful search tool to find any note fast.
        </dd>
        <dt>Add pictures and files</dt>
        <dd>It's easy to add and edit pictures directly in the note. You can even attach files to your notes.</dd>
        <dt>Save and sync automatically</dt>
        <dd>Notes are automatically saved and synced with your devices for anytime, anywhere access.</dd>
        <dt>Save to PDF files</dt>
        <dd>Need your note in PDF format? You can save notes as PDFs with one click of a button.</dd>
        <dt>Share your notes</dt>
        <dd>Easily share notes with other users or groups of users.</dd>
      </dl>
    </div>
    <div class="page-content-img">
      <div class="product-contact-img">
        <img src="/assets/images_new/products/contact-img-0.png" alt="">
        <ul>
          <li><img src="../../assets/images_new/products/contact-img-1.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-2.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-3.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-4.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-5.png" alt=""></li>
          <li><img src="../../assets/images_new/products/contact-img-6.png" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="page-content product-onemore bg-gray-light">
  <div class="container">
    <h3>And even more apps are on the way…</h3>
    <div class="row product-onemore-list">
      <div class="col-xs-12 col-sm-4">
        <img src="/assets/images_new/logo-bookmark.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="/assets/images_new/logo-file.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="/assets/images_new/logo-contact.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="/assets/images_new/logo-todo.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="/assets/images_new/logo-project.png" alt="">
      </div>
    </div>
  </div>
</div>
<portal-shared-footer-promotion></portal-shared-footer-promotion>
