<div id="modalLogin" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login</h4>
            </div>
            <form>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="sr-only" for="loginInputEmail">Email address</label>
                        <input type="email" class="form-control" id="loginInputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="loginInputPassword">Password</label>
                        <input type="password" class="form-control" id="loginInputPassword" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->