<form novalidate>
  <bs-modal #modal
            [cssClass]="'modal-account-edit'"
            [keyboard]="false"
            [animation]="false"
            [backdrop]="'static'" style="display: inline;">
    <bs-modal-header>
      <button aria-label="Close" class="close" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Remove Account</h4>
    </bs-modal-header>
    <bs-modal-body>
      <p>You are about to delete
        <ng-container *ngIf="item && item.length > 0">
        <span *ngFor="let acc of item" class="text-bold">
          {{ acc?.name }} <ng-container *ngIf="item.length > 1">,</ng-container>
        </span></ng-container>
        from your list.
      </p>

      <p>This action cannot be undone.</p>
      <p>
        Your subscription will be updated at the end of your subscription term
        Removed user's account is still active and accessible until the end of current billing cycle.</p>
    </bs-modal-body>

    <bs-modal-footer>
      <button class="btn btn-outline-default btn-min" (click)="close()">Cancel</button>
      <button class="btn btn-outline-primary btn-min pull-right" (click)="delete()">Remove</button>
    </bs-modal-footer>
  </bs-modal>
</form>
