.modal-account-edit {
  input.no-border {
    border: 0 !important;
  }
}

input.no-border {
  border: 0px !important;
}

label.admin-mark {
  background: #f54a59;
  color: white;
  padding: 2px;
  border-radius: 5px;
  font-size: 12px;
}
