<form [formGroup]="form" novalidate>
  <bs-modal #modal
            [cssClass]="'modal-account-edit'"
            [keyboard]="false"
            [animation]="false"
            [backdrop]="'static'" style="display: inline;">
    <bs-modal-header>
      <button aria-label="Close" class="close" (click)="close()" type="button">
        <span aria-hidden="false">×</span>
      </button>
      <h4 class="modal-title d-flex align-items-center">
        <span class="pull-left mr5">Account details</span>
        <a *ngIf="mode !== 'edit'" (click)="mode = 'edit'" class="btn btn-default" href="#"><i class="fa fa-pencil"></i></a>
        <a *ngIf="mode !== 'view'" (click)="mode = 'view'" class="btn btn-default" href="#"><i class="fa fa-times"></i></a>
      </h4>
    </bs-modal-header>
    <bs-modal-body>
      <ng-container *ngIf="mode=='view'">
        <div class="form-group">
          <label>Name</label>
          <div>
            {{ item.first_name }} {{ item.last_name }}
            <span *ngIf="item.parent_id == null && item.creator_id == null" class="label label-default">Admin</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="mode=='edit'">
        <p class="text-muted">The account renaming process may take up to 15 minutes.</p>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group"
                 [ngClass]="{'has-error': (!form.controls.first_name.valid && form.controls.first_name.touched)}">
              <label>First name</label>
              <input [formControl]="form.controls.first_name" class="form-control" placeholder="First name">
              <div *ngIf="!form.controls.first_name.valid && form.controls.first_name.touched">
                <span *ngIf="!form.controls.first_name.valid && form.controls.first_name.errors.required"
                      class="help-block">First name is required</span>
                <span *ngIf="!form.controls.first_name.valid && form.controls.first_name.errors.blanked"
                      class="help-block">First name is blanked</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group"
                 [ngClass]="{'has-error': (!form.controls.last_name.valid && form.controls.last_name.touched)}">
              <label>Last name</label>
              <input [formControl]="form.controls.last_name" class="form-control" placeholder="Last name">
              <div *ngIf="!form.controls.last_name.valid && form.controls.last_name.touched">
                <span *ngIf="!form.controls.last_name.valid && form.controls.last_name.errors.required"
                      class="help-block">Last name is required</span>
                <span *ngIf="!form.controls.last_name.valid && form.controls.last_name.errors.blanked"
                      class="help-block">Last name is blanked</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="form-group">
        <label>Email</label>
        <div>{{ item.email }}</div>
      </div>
      <div class="form-group">
        <label>Account type</label>
        <div>{{ item.parent_id == null ? 'Full account': 'Sub account' }}</div>
      </div>
      <div class="form-group mb0">
        <label>Last login</label>
        <div *ngIf="item.last_sign_in_at">{{ item.last_sign_in_at | date: 'MMM dd yyyy' }}</div>
        <div *ngIf="!item.last_sign_in_at">N/A</div>
      </div>
    </bs-modal-body>
    <bs-modal-footer>
      <ng-container *ngIf="mode=='view'">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Done</button>
      </ng-container>
      <ng-container *ngIf="mode=='edit'">
        <button type="button" class="btn btn-outline-default" (click)="modal.close()">Cancel</button>
        <button type="button" class="btn btn-outline-primary"
                [disabled]="!form.valid || form.pristine"
                (click)="save(form.value)">Save
        </button>
      </ng-container>
    </bs-modal-footer>
  </bs-modal>

</form>
