<form [formGroup]="form" novalidate>
  <bs-modal #modal
            [cssClass]="'modal-account-edit'"
            [keyboard]="false"
            [animation]="false"
            [backdrop]="'static'" style="display: inline;">
    <bs-modal-header>
      <h4 class="modal-title">Account Password Confirmation</h4>
    </bs-modal-header>
    <bs-modal-body>


      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="form-group"
               [ngClass]="{'has-error': (!form.controls.email.valid && form.controls.email.touched)}">

            <label for="email">Email</label>
            <input [formControl]="form.controls.email" type="email" class="form-control" id="email" readonly
                   [ngClass]="{'no-border': mode == 'view'}"
                   placeholder="Account email">

            <div *ngIf="!form.controls.email.valid && form.controls.email.touched">
                <span *ngIf="!form.controls.email.valid && form.controls.email.errors.required"
                      class="help-block">Email is required</span>
            </div>
          </div>


          <!--<div *ngIf="item.parent_id != null">-->

          <!--<div class="form-group has-password"-->
          <!--[ngClass]="{'has-error': (!form.controls.password.valid && form.controls.password.touched)}">-->
          <!--<label for="password">Current Password</label>-->
          <!--<input [formControl]="form.controls.password" type="password" class="form-control" id="password"-->
          <!--placeholder="Input account password">-->
          <!--<span (click)="togglePassword($event)" class="hideShowPassword-toggle"-->
          <!--pTooltip="{{ tooltip.showPassword }}" tooltipPosition="top"></span>-->
          <!--<div *ngIf="!form.controls.password.valid && form.controls.password.touched">-->
          <!--<span *ngIf="!form.controls.password.valid && form.controls.password.errors.required"-->
          <!--class="help-block">Current password is required</span>-->
          <!--</div>-->
          <!--</div>-->

          <!--<div class="col-xs-12 col-sm-12">-->
          <!--<p>New password must:</p>-->
          <!--<ul [ngClass]="{-->
          <!--'text-danger': (!form.controls.password.valid && form.controls.password.touched),-->
          <!--'text-success': (form.controls.password.valid && form.controls.password.touched)}">-->

          <!--<ng-template [ngIf]="!form.controls.password.valid">-->
          <!--<ng-template [ngIf]="form.controls.password.errors.required">-->
          <!--<li>Contain at least 8 characters or more</li>-->
          <!--</ng-template>-->
          <!--<ng-template [ngIf]="form.controls.password.errors.minlength">-->
          <!--<li class="text-danger">Contain at least 8 characters or more</li>-->
          <!--</ng-template>-->
          <!--<ng-template [ngIf]="!form.controls.password.errors.required && !form.controls.password.errors.minlength">-->
          <!--<li class="text-success">Contain at least 8 characters or more</li>-->
          <!--</ng-template>-->
          <!--<li [ngClass]="{'text-success': (!form.controls.password.errors.lowercaseUppercase)}">Contain both uppercase and lowercase characters</li>-->
          <!--<li [ngClass]="{'text-success': (!form.controls.password.errors.specialSymbolOrNumber)}">Contain at least one number or symbol</li>-->

          <!--</ng-template>-->
          <!--<ng-template [ngIf]="form.controls.password.valid">-->
          <!--<li>Contain at least 8 characters or more</li>-->
          <!--<li>Contain both uppercase and lowercase characters</li>-->
          <!--<li>Contain at least one number or symbol</li>-->
          <!--</ng-template>-->
          <!--</ul>-->
          <!--</div>-->
          <!--</div>-->

        </div>
      </div>

    </bs-modal-body>

    <bs-modal-footer>
      <button type="button" class="btn btn-outline-default btn-min"
              (click)="close()">Cancel
      </button>
      <button type="button" class="btn btn-outline-primary btn-min pull-right"
              (click)="modal.close()">Done
      </button>
    </bs-modal-footer>
  </bs-modal>

</form>
