<div class="zone-social">
  <div id="communites-list" class="zone-social-container">
    <div class="z-social-box">
      <div class="z-social-box-header">
        <h3 class="h4">Communities You Manage</h3>
        <div class="action">
          <button type="button" (click)="onCreate()" class="btn btn-wth-default">
            <i class="fa fa-plus"></i> New Community
          </button>
        </div>
      </div>
      <div *ngIf="myList.length==0" class="z-social-box-body z-social-box-body-communities">
        <p class="mt20">There is no community on your communities list</p>
      </div>
      <div *ngIf="myList.length>0" class="z-social-box-body z-social-box-body-communities">
        <div class="row">
          <div *ngFor="let my of myList" class="col-xs-12 col-md-6 col-lg-4">
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/zone/social/communities', my.uuid]">
                    <img width="70" [src]="my.profile_image" alt="">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading"><a [routerLink]="['/zone/social/communities', my.uuid]">{{my.name}}</a>
                </h4>
                <p *ngIf="my.users.length<2" class="media-center-p">{{my.users.length}} member</p>
                <p *ngIf="my.users.length>1" class="media-center-p">{{my.users.length}} members</p>
              </div>
              <div class="media-center-right">
                <div class="dropdown pull-right">
                  <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true" (click)="getFavourite(my.uuid)">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-custom">
                    <li><a href="javascript:;" (click)="onEdit(my)">Edit Information</a></li>
                    <li><a href="#" (click)="onPreference(my)">Preferences</a></li>
                    <li><a [routerLink]="['/zone/social/communities/'+my.uuid+'/members']">Manage members</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:;" (click)="addFavourite(my.uuid)"> Favourites <i class="fa pull-right" [ngClass]="favourite && favourite.uuid? 'fa-star': 'fa-star-o'"></i></a></li>
                    <li><a href="#">Leave community</a></li>
                    <li><a href="#" (click)="onReport(my.uuid)">Report community</a></li>
                    <li><a (click)="onDelete(my)" href="#">Delete community</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="z-social-box">
      <div class="z-social-box-header">
        <h3 class="h4">Your Communities</h3>
      </div>
      <div class="z-social-box-body z-social-box-body-communities">
        <div *ngIf="list.length>0" class="row">
          <div *ngFor="let item of list" class="col-xs-12 col-md-6 col-lg-4">
            <div class="media-center">
              <div class="media-center-left">
                <figure>
                  <a [routerLink]="['/zone/social/communities', item.uuid]">
                    <img width="70" [src]="item.profile_image" alt="">
                  </a>
                </figure>
              </div>
              <div class="media-center-body">
                <h4 class="media-center-heading"><a
                  [routerLink]="['/zone/social/communities', item.uuid]">{{item.name}}</a></h4>
                <p *ngIf="item.users.length<2" class="media-center-p">{{item.users.length}} member</p>
                <p *ngIf="item.users.length>1" class="media-center-p">{{item.users.length}} members</p>
              </div>
              <div class="media-center-right">
                <div class="dropdown pull-right">
                  <button class="btn btn-default-inline dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-custom">
                    <li><a href="javascript:;" (click)="onEdit(item)">Edit Information</a></li>
                    <li><a href="#" (click)="onPreference(item)">Preferences</a></li>
                    <li><a [routerLink]="['/zone/social/communities/'+item.uuid+'/members']">Manage members</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:;" (click)="addFavourite(item.uuid)"> Favourites</a></li>
                    <li><a href="#">Leave community</a></li>
                    <li><a href="#" (click)="onReport(item.uuid)">Report community</a></li>
                    <li><a href="#" (click)="onDelete(item)">Delete community</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="list.length==0" class="p40 text-center">
          No data
        </div>
      </div>
    </div>
  </div>
</div>


<z-social-community-form-edit #modalEdit [data]="currentItem" [action]="action"
                              (updated)="onUpdated($event)"></z-social-community-form-edit>
<z-social-community-form-preference #modalPreference [data]="currentItem"
                                    (updated)="onUpdated($event)"></z-social-community-form-preference>
