@import '../../../scss/global';

.box-no-data {
  text-align: center;
  color: #9b9b9b;
  padding: 30px 15px;
  .box-no-data-icon {
    display: inline-block;
    img {
      max-width: 100%;
    }
  }
  h2 {
    margin: 0;
    padding: 0;
    i {
      font-size: 72px;
      &.xs {
        font-size: 60px;
      }
    }
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 18px;
    margin: 0 0 30px;
    font-weight: 400;
  }
  @media (max-width: $screen-xs-max) {
    h2 {
      i {
        font-size: 60px;
      }
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 14px;
    }
  }
}
