<div class="media-div">
  <div class="pull-left">
    <span class="avatar-sm">
      <img [src]="avatar" alt="">
    </span>
  </div>
  <div class="media-div-body">
    <a href="{{url}}" class="media-heading bold">{{name}}</a>
    <div *ngIf="!text" class="mt15">
      <button class="btn btn-wth-default"
              (click)="emitEvent({action: 'CONTACT_REQUEST_CREATE'})">
        Resend
      </button>

      <!--TODO consider  cancel contact in api-->
      <!--add notification or status change after canceling-->
      <button class="btn btn-default"
              (click)="emitEvent({action: 'CONTACT_REQUEST_CANCEL'})">
        Cancel
      </button>
    </div>
    <div *ngIf="text" class="mt15">
      {{text}}
    </div>
  </div>
</div>
