.ui-autocomplete {
  display: block;
  .ui-autocomplete-multiple-container.ui-inputtext {
    height: auto;
    padding: 2px;
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
  }
}

.input-group {
  .ui-autocomplete-multiple-container.ui-inputtext {
    @include border-left-radius($input-border-radius);
  }
}

.ui-autocomplete-input-token {
  padding: 4px;
}

.ui-autocomplete-token-icon {
  @include center(false, true);
  right: 0;
  margin: 0;
}

.ui-autocomplete-panel {
  background-color: #ffffff;
}
