.ui-dialog {
  background-color: #ffffff;
  .ui-dialog-titlebar {
    @extend .modal-header;
  }
  .ui-dialog-title {
    @extend .modal-title;
    @extend .h4;
  }
  .ui-dialog-titlebar-close {
    @extend .close;
  }
  .ui-dialog-content {
    @extend .modal-body;
  }
  .ui-dialog-footer {
    @extend .modal-footer;
  }
}

.ui-widget-overlay {
  @extend .modal-backdrop;
  @extend .in;
}

.wth-confirm-dialog {
  width: 600px;

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}