.ui-radiobutton {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 20px;
  height: 20px;
  .ui-radiobutton-box {
    border: 1px solid #a6a6a6;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    @include transition(background-color 0.2s, border-color 0.2s, box-shadow 0.2s);
    border-radius: 50%;
    &:not(.ui-state-disabled):not(.ui-state-active):hover {
      border-color: #212121;
    }
    &.ui-state-focus {
      border-color: $color-success;
      background-color: #ffffff;
      color: $color-success;
      @include box-shadow(0 0 0 0.2em lighten($color-success, 20))
    }
    &.ui-state-active {
      border-color: $color-success;
      background-color: $color-success;
      color: #ffffff;
      .ui-radiobutton-icon {
        background-color: #ffffff;
      }
      &:not(.ui-state-disabled):hover {
        border-color: darken($color-success, 20);
        background-color: darken($color-success, 20);
        color: #ffffff;
      }
      &.ui-state-focus {
        border-color: $color-success;
        background-color: $color-success;
        color: #ffffff;
      }
    }
    .ui-radiobutton-icon {
      background: transparent;
      width: 10px;
      height: 10px;
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -5px;
      margin-top: -5px;
      @include transition(background-color 0.2s);
      border-radius: 50%;
      &:before {
        display: none;
      }
    }
  }
}

.ui-radiobutton-label {
  margin: 0 0 0 0.5em;
}

.ui-inputgroup .ui-inputgroup-addon.ui-inputgroup-addon-radiobutton .ui-radiobutton {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

.list-group-radio {
  .list-group-radio-item {
    position: relative;
    padding: 15px;
    margin-bottom: 10px;
    .ui-radiobutton-label {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        border: 1px solid $line;
        cursor: pointer;
      }
      &.ui-label-active {
        &:before {
          border-color: $color-success;
        }
      }
      &.ui-label-disabled {
        &:before {
          cursor: not-allowed;
        }
      }
    }
    &.item-disabled{
      background: $bg-color;
      .ui-radiobutton-box, .ui-radiobutton-icon {
        border-color: $bg-color;
        background: $bg-color;
      }
    }
  }
}
