<div id="form-add-to-album-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-custom modal-long" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> Add to album</h4>
      </div>
      <div class="modal-body">
        <div>
          <span><a class="btn btn-default btn-circle" data-toggle="dropdown" href="#" (click)="onCreateNewAlbum()"><i class="fa fa-plus"></i></a></span>
          <span> Create New Album</span>
        </div>
      </div><!-- /.modal-content -->
      <div class="modal-footer">
        <div class="row-img list">
          <div class="photo-box-img" *ngFor="let album of dataAlbums" (click)="addToAlbum(album)">
            <figure class="img-center-dv">
              <img class="img-full" src="/assets/images/zone/img-photo.png" alt="">
              <img class="img-center" src="/assets/images/zone/img-default.png" alt="">
            </figure>
            <div class="album-box-info">
              <div>
                {{album.name}}
              </div>
              <div style="font-size: 11px">
                <span>{{album.created_at | date:'MMM yyyy' : 'UTC'}}</span>
                <span> - {{album.photo_number}} photos</span>
              </div>
            </div>
          </div>
        </div>
        <div id="album-data-loading" style="position: relative;height: 50px;"></div>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
