<ul class="page-body-control-menu" *ngIf="show">
  <ng-template ngFor let-menu [ngForOf]="actionsMenu | mapToIterable">
    <li *ngIf="!menu.val.inDropDown">
      <button [disabled]="!menu.val.show" href="javascript:;" class="{{menu.val.class}}" (click)="menu.val.action()"
         pTooltip="{{menu.val.tooltip}}" tooltipPosition="{{menu.val.tooltipPosition}}">
        <i class="{{menu.val.iconClass}}"></i>
      </button>
    </li>
  </ng-template>

  <li class="dropdown action">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            pTooltip="{{ tooltip.moreAction }}" tooltipPosition="bottom" [disabled]="disableDropDown">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right text-right">
      <ng-template ngFor let-menu [ngForOf]="actionsMenu | mapToIterable: detectMenu">
        <li *ngIf="menu.val.show && menu.val.inDropDown">
          <a tabindex="-1" href="javascript:;"
          (click)="menu.val.action()"><i class="{{menu.val.iconClass}}"></i> {{menu.val.title}}</a>
        </li>
      </ng-template>
    </ul>
  </li>
</ul>
