<div class="menuleft-nav-sub-item" [routerLinkActive]="['active']">
  <a [routerLink]="[noteMenu[0].link]" [routerLinkActive]="['active']" (click)="onNoteClick($event)"
     href="javascript:;">
    <i class="{{ noteMenu[0].icon }}"></i> {{ noteMenu[0].name }}
  </a>
</div>
<ng-template ngFor let-folder [ngForOf]="noteFolders" let-i="index">
  <div class="menuleft-nav-sub-item">
    <a class="folder-title" [routerLink]="['/folders', folder.id]" class="">
      {{ folder.name }}
    </a>
    <div class="menuleft-nav-sub-action">
      <span class="can-click"
            (click)="doEvent({action:'note:folder:edit', payload: folder})"
            title="edit folder name">
        <i class="fa fa-pencil"></i>
      </span>
      <span class="can-click" (click)="doEvent({action:'note:folder:delete', payload: folder})"
            title="delete label">
        <i class="fa fa-trash"></i>
      </span>
    </div>
  </div>
</ng-template>
<div class="menuleft-nav-sub-item well-folder-tree-left-wrap">
  <div class="menuleft-nav-sub">
    <div class="well-folder-tree-left">
      <div class="well-folder-tree">
        <p-panelMenu [(model)]="noteFoldersTree"></p-panelMenu>
      </div>
    </div>
  </div>
</div>

<ng-template ngFor let-note [ngForOf]="noteMenu" let-i="index">
  <div class="menuleft-nav-sub-item" *ngIf="note.name != '' && i > 0" [routerLinkActive]="['active']"
       [ngClass]="{'hidden': note.link == '/search'}">
    <a *ngIf="note.link != '#'" draggable="false" [routerLink]="[note.link]" [queryParams]="{}"
       (click)="onNoteClick($event)" href="javascript:;">
      <i class="{{ note.icon }}"></i> {{ note.name }}
    </a>
    <a *ngIf="note.link == '#'" class="can-click" draggable="false" (click)="doEvent({action: note.action})">
      <i class="{{ note.icon }}"></i> {{ note.name }}
    </a>
  </div>
  <div class="divider" *ngIf="note.name == ''"></div>
</ng-template>
