<div class="menuleft-logo">
  <img src="/assets/images_new/logo-note.png" alt="">
</div>
<div class="menuleft-item menuleft-topitem btn-group">
  <a href="#" data-toggle="dropdown">
    <i class="fa fa-plus"></i> New
  </a>
  <ul class="dropdown-menu">
    <li><a (click)="onNewNote()" href="#"><i class="fa fa-sticky-note"></i> New Note</a></li>
    <li><a (click)="onFolder()" href="#"><i class="fa fa-folder-o"></i> New Folder</a></li>
  </ul>
</div>
<div class="menuleft-item" [routerLinkActive]="['active']">
  <span *ngIf="noteFoldersTree.length > 0" (click)="showFolderTree = !showFolderTree"
        class="can-click menuleft-item-open">
    <i class="fa" [ngClass]="{'fa-chevron-right': !showFolderTree, 'fa-chevron-down' : showFolderTree}"></i>
  </span>
  <a [routerLink]="[myNoteMenu?.link]" [routerLinkActive]="['active']"
     (click)="showFolderTree = !showFolderTree; onCloseMenu();" [ngClass]="{'pl0': noteFoldersTree.length > 0}"
     href="javascript:void(0);">
    <i class="{{ myNoteMenu?.icon }}"></i> {{ myNoteMenu?.name }}
  </a>
</div>

<div class="well-folder-tree" [ngClass]="{'active': showFolderTree}">
  <p-panelMenu [model]="noteFoldersTree | folderSort"></p-panelMenu>
</div>

<ng-container *ngFor="let note of noteMenu;let i = index;">
  <div class="menuleft-item" *ngIf="note.name != ''" [routerLinkActive]="['active']"
       [ngClass]="{'hidden': note.link == '/search'}">
    <a *ngIf="note.link != '#'" [routerLink]="[note.link]" [queryParams]="{}" (click)="onCloseMenu()"
       href="javascript:;">
      <i class="{{ note.icon }}"></i> {{ note.name }}
    </a>
    <a *ngIf="note.link == '#'" (click)="doEvent({action: note.action}); onCloseMenu()" href="javascript:;">
      <i class="{{ note.icon }}"></i> {{ note.name }}
    </a>
  </div>
</ng-container>

<div class="menuleft-item">
  <a (click)="setting.open()" href="javascript:void(0);">
    <i class="{{ settingMenu?.icon }}"></i> {{ settingMenu?.name }}
  </a>
</div>

<z-note-shared-setting #setting></z-note-shared-setting>
