@import '../../../shared/scss/global';

.page-body-control-nav:not(.page-body-control-nav-right) {
  margin-right: 220px;
  float: none;

  @include flexbox;
  @include align-items(flex-start);

  .note-breadcrumb {
    @include flex(1);
  }

  .breadcrumb-wrap {
    position: relative;
    .breadcrumb {
      position: absolute;
      left: 0;
      right: 0;
      white-space: nowrap;
      li {
        .btn-group {
          .btn {
            max-width: 180px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            position: relative;
            &.dropdown-toggle {
              padding-right: 25px;
            }
            .caret {
              position: absolute;
              right: 8px;
              top: 50%;
              margin-top: -3px;
            }
          }
        }
        @media (max-width: $screen-sm-max) {
          display: none;
          &:before {
            display: none;
          }
          &:last-child {
            display: block;
            .dropdown-menu-right {
              left: 0;
              right: auto;
            }
          }
        }
      }
    }
  }
}

.page-body-control-nav-right {
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  padding-right: 30px;
  margin-right: -30px;
}
