<div class="w-user-profile">
  <w-user-cover-info [user]="data"
                     (onOpenModal)="openModal($event)"
                     (onChangeAvatar)="onChangeAvatar($event)"></w-user-cover-info>
  <div class="panel panel-default">
    <div class="panel-body">
    <w-user-emails #email [data]="data" [editable]="true" (eventOut)="onUpdate($event)"></w-user-emails>
    <w-user-phones #phone [data]="data" [editable]="true" (eventOut)="onUpdate($event)"></w-user-phones>
    <w-user-addresses #address [data]="data" [editable]="true" (eventOut)="onUpdate($event)"></w-user-addresses>
    <w-user-media #media [data]="data" [editable]="true" (eventOut)="onUpdate($event)"></w-user-media>
    </div>
 </div>
  <w-user-basic-info #basicInfo [data]="data" [editable]="true" (updated)="onUpdate($event)"></w-user-basic-info>
</div>
<div class="w-profile-card"></div>

