@import "../../../shared/scss/global";

.navbar-brand {
  position: relative;
  z-index: 2;
}

.header-nav-menu-mobile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  .navbar-toggle {
    height: 34px;
    width: 34px;
    padding: 0;
    margin-top: ($header-height - 34px)/2;
    margin-bottom: ($header-height - 34px)/2;
    margin-right: $grid-gutter-width/2;
    margin-left: 0;
  }
  .navbar-collapse {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-top: 1px solid $line;
  }
}
