<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
    <modal-header [show-close]="true">
      <h4 class="modal-title"><i class="fa fa-cog"></i> Setttings</h4>
    </modal-header>

    <modal-body>
      <p class="bold">Default phone number country code</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group no-label">
            <p-autoComplete class="form-control-phone-country" formControlName="country_alpha_code"
                            [suggestions]="filteredCountriesCode"
                            (completeMethod)="filterCountriesCode($event)" [size]="30"
                            [minLength]="1" placeholder="Select your country" [dropdown]="true"
                            (onDropdownClick)="handleDropdownClick($event)">
              <ng-template ngFor let-code let-i="index" pTemplate="item">
                <div [innerHtml]="code | phoneCodeCountries:countriesCode"></div>
              </ng-template>
            </p-autoComplete>

            <!--<select class="form-control" name="name" formControlName="country_alpha_code">
              <option value=""> Select your country</option>
              <option *ngFor="let c of countriesCode" value="{{c.code}}">{{c.name}} ({{c.dial_code}})</option>
            </select>-->
          </div>
        </div>
      </div>

      <p class="bold">List sort by</p>
      <div class="row">
        <div class="col-xs-12">
          <p-radioButton name="sort_by" value="first_name" label="First Name" formControlName="sort_by"></p-radioButton>
        </div>
        <div class="col-xs-12">
          <p-radioButton name="sort_by" value="last_name" label="Last Name" formControlName="sort_by"></p-radioButton>
        </div>
      </div>

    </modal-body>

    <modal-footer>
      <button type="button" (click)="submit()" [disabled]="!form.valid || form.pristine" class="btn btn-primary-inline">
        Done
      </button>
      <button type="button" class="btn btn-default-inline" (click)="modal.close()">Cancel</button>
    </modal-footer>
  </modal>
</form>
