<modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title"><i class="fa fa-tag"></i> Tagging</h4>
  </modal-header>
  <modal-body>
    <tag-input [(ngModel)]="addedTags">
      <tag-input-dropdown [autocompleteItems]="items" [autocompleteObservable]="requestAutocompleteItems">
        <template let-item="item" let-index="index">
          {{ item.display }}
        </template>
      </tag-input-dropdown>
    </tag-input>
  </modal-body>
  <modal-footer>
    <p *ngIf="hasDeletedItems" class="text-left text-danger">You have made changes that you need to save!</p>
    <button type="button" (click)="save()" class="btn btn-primary-inline" data-dismiss="modal">Save</button>
    <button type="button" class="btn btn-default-inline" data-dismiss="modal">Cancel</button>
  </modal-footer>
</modal>
