<wth-header></wth-header>
<main class="main">
  <section class="page-hero-header" style="background-image: url('assets/images/landing/hero-image.jpg');">
    <h2 class="h1">About us</h2>
  </section>
  <section class="page-content about-intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="h1">WTH is a technology start up that build simple, yet powerful product for people</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="page-content gray-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="h1">What we do</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
            lobortis nisl ut aliquip ex ea commodo consequat.</p>
          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
            feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
            delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="h1">What we value</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
            lobortis nisl ut aliquip ex ea commodo consequat.</p>
          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
            feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
            delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
      </div>
    </div>
  </section>
  <wth-footer-promotion></wth-footer-promotion>
</main>
<wth-footer></wth-footer>
