<modal #modal [keyboard]="false" [animation]="false" [backdrop]="'static'">
  <modal-header [show-close]="true">
    <h4 class="modal-title"> Create New Album</h4>
  </modal-header>
  <modal-body>
    <form [formGroup]="form" novalidate>
    <div class="form-group">
      <label for="album-name">Name</label>
      <input id="album-name" type="text" class="form-control" placeholder="Untitled Album">
    </div>
    <div class="form-group">
      <label for="album-description">Description</label>
      <input id="album-description" type="text" class="form-control" placeholder="Description">
    </div>

    <div class="form-group">
      <tagging-el #tag></tagging-el>
    </div>
    <div class="form-group">
      <ul class="modal-social-photo-grid" *ngIf="selectedPhotos != undefined">
        <li *ngFor="let p of selectedPhotos">
          <div class="social-photo-grid-item">
            <i class="fa fa-remove wth-fa-remove" (click)="removePhoto(p,$event)"></i>
            <figure class="img-center-dv">
              <!--<img class="img-full" [src]="currentUser.profile_image" alt="">-->
              <img class="img-center" [src]="p['thumbnail_url']" alt="">
            </figure>
          </div>
        </li>
      </ul>
    </div>
    </form>
  </modal-body>
  <modal-footer>
    <button type="submit" class="btn btn-primary-inline" (click)="createAlbum()">
      Done
    </button>
    <button type="button" class="btn btn-default-inline" data-dismiss="modal">Cancel</button>
  </modal-footer>
</modal>
