<div id="photo-box-detail" class="photo-box-detail" [ngClass]="{'active-info': showDetails, 'active': active}">
  <div *ngIf="selectedPhotos[index]" class="photo-detail-top">
    <ul class="action navbar-left">
      <li>
        <a href="javascript:;" draggable="false" (click)="goBack()"><i class="fa fa-arrow-left"></i></a>
      </li>
    </ul>
    <ul class="action navbar-right">
      <li>
        <a href="javascript:;" draggable="false" (click)="doAction({action: 'openModal', params: {modalName: 'sharingModal'}})"><i class="fa fa-share-alt"></i></a>
      </li>
      <li>
        <a href="javascript:;" draggable="false" (click)="doAction('favourite')">
          <i class="fa" [ngClass]="selectedPhotos[index].favorite ? 'fa-star': 'fa-star-o'"></i>
        </a>
      </li>
      <li>
        <a href="javascript:;" draggable="false" (click)="doAction({action: 'openModal', params: {modalName: 'taggingModal'}})"><i class="fa fa-tag"></i></a>
      </li>
      <li>
        <a href="javascript:;" draggable="false" (click)="onEditPhoto(selectedPhotos[index].id)"><i class="fa fa-edit"></i></a>
      </li>

      <li>
        <a href="javascript:;" draggable="false" (click)="doAction('delete')"><i class="fa fa-trash-o"></i></a>
      </li>
      <li class="dropdown">
        <a href="javascript:;" draggable="false" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
        <ul class="dropdown-menu dropdown-menu-lg">
          <li><a href="javascript:;" draggable="false" (click)="doAction({action: 'openModal', params: {modalName: 'addToAlbumModal'}})"><i class="fa fa-plus-square"></i> Add to Album</a></li>
          <li><a [href]="selectedPhotos[index].url" download><i class="fa fa-download"></i> Download</a></li>
          <li>
            <a href="javascript:;" draggable="false" (click)="doAction({action: 'viewInfo'})"><i class="fa fa-info-circle"></i> Information</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="name"><i class="fa fa-picture-o"></i> {{selectedPhotos[index].name}}</div>
  </div>
  <div *ngIf="selectedPhotos[index]" class="photo-detail-content">
    <div class="photo-detail-img">
      <figure [ngClass]="{'img-loading': loadingImg}">
        <img [src]="selectedPhotos[index].url" alt="" (load)="showLoading()">
      </figure>
      <span *ngIf="selectedPhotos?.length > 1" (click)="imgPrev()" class="photo-detail-img-control img-control-prev">
        <i class="fa fa-angle-left"></i>
      </span>
      <span *ngIf="selectedPhotos?.length > 1" (click)="imgNext()" class="photo-detail-img-control img-control-next">
        <i class="fa fa-angle-right"></i>
      </span>
    </div>
  </div>


  <div *ngIf="selectedPhotos[index]" class="photo-detail-info">
    <h3>Detail <a href="javascript:;" draggable="false" (click)="doAction({action: 'viewInfo'})"><i class="fa fa-times"></i></a></h3>
    <h4><i class="fa fa-info-circle"></i> General Infomation
      <a href="javascript:;" draggable="false" (click)="doAction({action: 'openModal', params: {modalName: 'editInfoModal'}, data: selectedPhotos[index]})">Edit</a>
    </h4>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{selectedPhotos[index].name}}</dd>
      <dt>Description</dt>
      <dd>{{selectedPhotos[index].description}}</dd>
      <dt>Type</dt>
      <dd>{{selectedPhotos[index].extension}}</dd>
      <dt>Size</dt>
      <dd>{{selectedPhotos[index].size}}</dd>
      <dt>Demension</dt>
      <dd>{{selectedPhotos[index].dimensions}}</dd>
      <dt>Uploaded</dt>
      <dd>{{selectedPhotos[index].created_at | date:'MMM dd yyyy' : 'UTC'}}</dd>
    </dl>
    <hr>
    <h4><i class="fa fa-tag"></i> Tag <a href="javascript:;" draggable="false" (click)="doAction({action: 'openModal', params: {modalName: 'taggingModal'}})">Edit</a></h4>
    <div class="tags-text">
      <span *ngFor="let tag of selectedPhotos[index].json_tags">{{tag.name}}</span>
    </div>
    <hr>
    <h4><i class="fa fa-share-alt"></i> Sharing <a href="javascript:;" draggable="false" (click)="doAction({action: 'openModal', params: {modalName: 'sharingModal'}})">Edit</a></h4>
    <dl>
      <dt>Owner</dt>
      <dd>
        <ul class="list-unstyled">
          <li><img src="assets/images/zone/img-group.png" alt="{{selectedPhotos[index].owner.name}}"
                   title="{{selectedPhotos[index].owner.name}}">
          </li>
        </ul>
      </dd>

      <dt>Shared with</dt>
      <dd>
        <ul class="list-unstyled">
          <li *ngFor="let contact of selectedPhotos[index]?.json_shares[0]?.contacts">
            <img src="assets/images/zone/img-group.png" title="{{contact.name}}">
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<template #modalContainer></template>
