  <!--<z-media-share-toolbar-->
    <!--#mediaToolbar-->
    <!--[type]="'album-detail'"-->
    <!--[albumDetail]="albumDetail"-->
    <!--[selectedAlbums]="selectedAlbums"-->
    <!--[hasFavourite]="hasFavourite"-->
    <!--[currentView]="currentView"-->
    <!--(outEvent)="actionToolbar($event)">-->
  <!--</z-media-share-toolbar>-->
<!--<div id="album-box-detail" class="two-layout-slip">-->
  <!--<div class="main-layout min-height-max">-->

    <!--<me-toolbar-list [currentPage]="'album_detail'"></me-toolbar-list>-->

    <!--<div class="page-body-content has-page-body-control gray-light"-->
         <!--infinite-scroll-->
         <!--[infiniteScrollDistance]="2"-->
         <!--[infiniteScrollThrottle]="500"-->
         <!--[scrollWindow]="false"-->
         <!--(scrolled)="onLoadMore()">-->
      <!--<div class="page-body-content-in">-->


      <!--</div>-->
    <!--</div>-->

    <!--<div class="right-layout shadow-arround fit-parrent">-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->


  <div id="photo-box-detail" class="photo-box-detail active active-info">
    <div class="photo-detail-top">

      <div class="name"><i class="fa fa-picture-o"></i> album name</div>
    </div>
    <div class="photo-detail-content">



      <!--<div class="page-body-content has-page-body-control gray-light"-->
           <!--infinite-scroll-->
           <!--[infiniteScrollDistance]="2"-->
           <!--[infiniteScrollThrottle]="500"-->
           <!--[scrollWindow]="false"-->
           <!--(scrolled)="onLoadMore()">-->
        <div class="page-body-content-in">

          <me-toolbar-list [currentPage]="'album_detail'"></me-toolbar-list>

          <div *ngIf="photoIsEmpty" class="zone-no-photo text-center">
            <h3>Ready to add some photos?</h3>
            <h5>Drop photos anywhere to upload</h5>
          </div>

          <!--<z-media-share-list-->
            <!--[type]="'photo'"-->
            <!--[data]="data"-->
            <!--[view]="currentView"-->
            <!--[hasAction]="['favourite', 'select', 'previewAll']"-->
            <!--(outEvent)="actionItem($event)">-->
          <!--</z-media-share-list>-->


          <me-view-container>

          </me-view-container>


        </div>
        <div class="p50" [ngClass]="{'inside-loading': nextLink != null, 'hidden':nextLink == null}"></div>

      <!--</div>-->


    </div>

    <div class="photo-detail-info">

      <album-detail-info (closeInfo)="onCloseInfo()"
                         [album]="album"
                         (showFormEdit)="onEditAction()"
                         (tagEvent)="toggleModal($event, 'tag')">

      </album-detail-info>


      <!--<h3>Detail <a href="javascript:;" (click)="doAction('viewInfo')"><i class="fa fa-times"></i></a></h3>-->
      <!--<h4><i class="fa fa-info-circle"></i> General Infomation-->
        <!--<a href="javascript:;" (click)="doAction('editInfo')">Edit</a>-->
      <!--</h4>-->

    </div>
  </div>

<z-media-photo-detail #photoDetail [allPhotos]="data"></z-media-photo-detail>



