<div class="media-page-detail-topbar">
  <h3 class="m0">Information
    <a href="javascript:;" class="pull-right text-inherit" (click)="onAction({action: 'toggleDetailInfo'})"><i class="fa fa-times"></i></a>
  </h3>
</div>
<div class="media-page-detail-info content-overflow-fixed">
  <h4><i class="fa fa-info-circle"></i> Details
    <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'editInfoModal'}})">Edit</a>
  </h4>
  <!--<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{album.name}}</dd>
    <dt>Files</dt>
    <dd>{{album.photo_number}} files</dd>
    <dt>Description</dt>
    <dd>{{album.description}}</dd>
    <dt>Created</dt>
    <dd>{{album.created_at | date}}</dd>
  </dl>-->
  <dl>
    <dt>Description</dt>
    <dd>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam erat volutpat.
      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
      commodo consequat.
    </dd>
  </dl>
  <hr>
  <h4><i class="fa fa-tag"></i> Tag <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'taggingModal'}})">Edit</a></h4>
  <!--<div class="tags-text" *ngFor="let tag of album.json_tags">
  <span>{{tag}}</span>
  </div>-->

  <hr>
  <h4><i class="fa fa-share"></i> Shared with <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'sharingModal'}})">Edit</a></h4>
  <!--<div class="tags-text" *ngFor="let tag of album.json_tags">
  <span>{{tag}}</span>
  </div>-->
</div>
