<z-media-share-toolbar
  #mediaToolbar
  [type]="'album'"
  [selectedPhotos]="selectedPhotos"
  [hasFavourite]="hasFavourite"
  [currentView]="currentView"
  (outEvent)="actionToolbar($event)">
</z-media-share-toolbar>

<div class="page-body-content has-page-body-control gray-light"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     [scrollWindow]="false"
     (scrolled)="onLoadMore()">
  <div class="page-body-content-in">
    <div *ngIf="albumIsEmpty" class="p40 text-center">
      <h3>The albums you create are shown here</h3>
      <button (click)="mediaToolbar.formEditAlbum.modal.open()" class="btn btn-wth-default" type="button">Create album</button>
    </div>

    <z-media-share-list
      [type]="'album'"
      [data]="data"
      [view]="currentView"
      [hasAction]="['favourite', 'select', 'previewAll', 'editName']"
      (outEvent)="actionItem($event)">
    </z-media-share-list>
    <div class="p50" [ngClass]="{'inside-loading': nextLink != null, 'hidden':nextLink == null}"></div>
  </div>
</div>
