<div class="media-page-detail" [ngClass]="{'has-media-page-detail-right': true}">
  <div class="media-page-detail-left gray-light">
    <me-view-container [objectType]="'album'" [pageType]="'detail'" [params]="params"></me-view-container>
  </div>
  <div class="media-page-detail-right">
    <!--container-->
    <album-detail-info (closeInfo)="onCloseInfo()"
                       [album]="albumDetail"
                       (showFormEdit)="onEditAction()"
                       (tagEvent)="toggleModal($event, 'tag')">
    </album-detail-info>
    <!--end container-->
  </div>
</div>
