<z-media-share-toolbar
  #mediaToolbar
  [type]="'album-detail'"
  [albumDetail]="albumDetail"
  [selectedAlbums]="selectedAlbums"
  [hasFavourite]="hasFavourite"
  [currentView]="currentView"
  (outEvent)="actionToolbar($event)">
</z-media-share-toolbar>

<div class="page-body-content has-page-body-control gray-light"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     [scrollWindow]="false"
     (scrolled)="onLoadMore()">
  <div class="page-body-content-in">

    <div *ngIf="photoIsEmpty" class="zone-no-photo text-center">
      <h3>Ready to add some photos?</h3>
      <h5>Drop photos anywhere to upload</h5>
    </div>

    <z-media-share-list
      [type]="'photo'"
      [data]="data"
      [view]="currentView"
      [hasAction]="['favourite', 'select', 'previewAll']"
      (outEvent)="actionItem($event)">
    </z-media-share-list>
    <div class="p50" [ngClass]="{'inside-loading': nextLink != null, 'hidden':nextLink == null}"></div>
  </div>
</div>

<z-media-photo-detail #photoDetail [allPhotos]="data"></z-media-photo-detail>
