<div class="media-page-detail-topbar">
  <h3 class="m0">Information
    <a href="javascript:;" class="pull-right text-inherit" (click)="onAction({action: 'toggleDetailInfo'})"><i
      class="fa fa-times"></i></a>
  </h3>
</div>
<div class="media-page-detail-info content-overflow-fixed" *ngIf="object">
  <h4><i class="fa fa-info-circle"></i> Details
    <a href="javascript:;" (click)="onAction({action: 'openModal', params: {modalName: 'editInfoModal'}})">Edit</a>
  </h4>
  <!--<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{album.name}}</dd>
    <dt>Files</dt>
    <dd>{{album.photo_number}} files</dd>
    <dt>Description</dt>
    <dd>{{album.description}}</dd>
    <dt>Created</dt>
    <dd>{{album.created_at | date}}</dd>
  </dl>-->
  <dl>
    <dt>Description</dt>
    <dd>
      {{object.description}}
    </dd>
  </dl>
  <hr>
  <h4><i class="fa fa-tag"></i> Tag <a href="javascript:;"
                                       (click)="onAction({action: 'openModal', params: {modalName: 'taggingModal', selectedObjects: [object], updateListObjects: [object]}})">Edit</a>
  </h4>
  <!--<div class="tags-text" *ngFor="let tag of album.json_tags">-->
  <!--<span>{{tag}}</span>-->
  <!--</div>-->

  <hr>
  <h4><i class="fa fa-share"></i> Shared with <a href="javascript:;"
                                                 (click)="onAction({action: 'openModal', params: {modalName: 'sharingModal', selectedObjects: [object], updateListObjects: [object]}})">Edit</a>
  </h4>
  <div class="tags-text" *ngFor="let contact of (object?.json_shares && object?.json_shares[0]) ? object?.json_shares[0].contacts : []">
    <span><img src="assets/images/zone/img-group.png" title="{{contact?.name}}"></span>
  </div>
</div>
