/* You can add global styles to this file, and also import other style files */
//@import '../../shared/scss/style';
@import '../../assets/styles/wth-style';
//@import "../../assets/styles/partials/forms";
@import 'variables';


.user-card-content .user-card-content-email,  .user-card-content span {
  justify-content: center;
  margin-right: -20px;
  @include text-overflow();
}

.user-card-avatar {
  cursor: pointer;
  .img-circle {
    background-color: #D8D8D8;
    min-width: 34px;
    min-height: 34px;
  }
}

.contact-edit-page {
  @media (min-width: $screen-md-min) {
    @include flexbox;
    @include align-items(flex-start);
    .contact-edit-content {
      @include flex(1);
      padding-right: $grid-gutter-width;
    }
    .contact-edit-aside {
      width: 320px;
    }
  }

}
