@import "../../../../assets/styles/global";

.cl-danger {
  color: $color-inverse;
}

.modal-dock-body {

  &.blur {
    clear: #9b9b9b;
  }
}

.p0 {
  padding: 0;
}

.vam {
  vertical-align: middle;
  p {
    vertical-align: middle;
  }
}

.fwb {
  font-weight: bold;
}

.gray {
  color: $text-color-light;
}

.pending {
  color: $color-link;
}