@import "../../../../assets/styles/global";

.cl-danger {
  color: $color-inverse;
}

.modal-dock-body {

  &.blur {
    clear: #9b9b9b;
  }
}

.p0 {
  padding: 0;
}

.vam {
  vertical-align: middle;
}

.fwb {
  font-weight: bold;
}

.gray {
  color: $text-color-light;
}

.pending {
  color: $color-link;
}

:host ::ng-deep .media-uploader-dock {
  .modal-dock-content {
    .modal-dock-header {
      background: unset !important;

      .modal-dock-header-title, .modal-dock-header-action {
        color: unset !important;
      }
    } 

    .modal-dock-body {
      padding: 0;
    }
  }
}