<wth-modal-dock #modalDock>
  <wth-modal-dock-header [hasCollapse]="false">
    <div *ngIf="uploading_num > 0"> Uploading {{uploading_num}} items</div>
    <div *ngIf="uploading_num === 0"> Uploaded {{uploaded_num}} items</div>       
    <i dock-header-action class="fa " (click)="modalDock.toggleCollapse()" [ngClass]="{'fa-chevron-down': modalDock.collapse, 'fa-chevron-up': !modalDock.collapse }"
    pTooltip="{{tooltip.collapse}}" tooltipPosition="top"></i>
  </wth-modal-dock-header>
  <wth-modal-dock-body [cssClass]="pd0">
    <table class="table table-middle wth-table table-hover">
      <tbody>
        <tr *ngFor="let file of upload_arr" [ngClass]="{'blur': upload_hash[file?.id]?.status === this.upload_steps.init}">
          <!-- Icon and file name -->
          <td [ngSwitch]="upload_hash[file?.id].status" class="vam">
            <span *ngSwitchCase="this.upload_steps.uploaded">
                <i [class]="icon_hash[upload_hash[file?.id].file_type]"></i> {{ upload_hash[file?.id]?.name | maxLength: 35 }} 
            </span>
            <span *ngSwitchCase="this.upload_steps.error" class="gray">
                <i [class]="icon_hash.error"></i> {{ upload_hash[file?.id]?.name | maxLength: 35 }} 
            </span>
            <span *ngSwitchCase="this.upload_steps.init" class="gray">
                <i [class]="icon_hash.loading"></i> {{ upload_hash[file?.id]?.name | maxLength: 35 }} 
            </span>
          </td>
    
          <!-- Actions -->
          <td class="vam pull-right" [ngSwitch]="upload_hash[file?.id]?.status"> 
            <span *ngSwitchCase="this.upload_steps.uploaded" class="fwb gray">
              Done
            </span>
            <span *ngSwitchCase="this.upload_steps.init" class="fwb pending">
                <a href="#" (click)="cancel(file)">Stop</a>
            </span>
            <span *ngSwitchCase="this.upload_steps.error" class="fwb pending">
              <a href="#" (click)="retry(file)">Retry</a>
            </span>
            <span *ngSwitchDefault class="fwb pending">
              <a href="#" (click)="retry(file)">Retry</a>
            </span>
        </td>
        </tr>
      </tbody>
    </table>
  </wth-modal-dock-body>
</wth-modal-dock>
