<!--<div class="page-body-chat-content-in" scrollToBottom lock-y-offset="10" observe-attributes="true">-->
  <!--<div class="chat-item-wrap">-->
    <!--<div *ngIf="item.value">-->
      <!--<z-chat-share-item *ngFor="let message of item.value.data" [message]="message"></z-chat-share-item>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div  *ngIf="contactItem.value">
  <div *ngIf="contactItem.value.active"
       class="page-body-chat-content-in"
       scrollToBottom
       lockYOffset="10"
       observeAttributes="true"
       infinite-scroll
       [scrollWindow]="false"
       (scrolledUp)="onLoadMore()">
    <div class="chat-item-wrap">
      <div *ngIf="item.value">
        <div *ngFor="let message of item.value.data">
          <div class="chat-date" *ngIf="message | groupByDayMonthYear:'created_at'">
            <span>{{ message.created_at |date }}</span>
          </div>
          <z-chat-share-item [message]="message" (onAddContact)="onAddContact($event)"></z-chat-share-item>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!contactItem.value.active">
    <z-chat-share-item-request [message]="item.value.data"></z-chat-share-item-request>
  </div>
</div>

<z-chat-share-request-contact #request></z-chat-share-request-contact>



