@import "../../../assets/styles/global";

.breadcrumb {
  @include flexbox;
  @include align-items(center);
  > li {
    @include flexbox;
    @include align-items(center);
    color: $btn-default-color;
    vertical-align: middle;

    max-width: 150px;
    @media (min-width: $screen-sm-min) {
      max-width: 250px;
    }
    &:last-child {
      > span {
        padding-left: 10px;
      }
    }
    .btn {
      max-width: 100%;
      @include flexbox;
      @include align-items(center);
      span {
        display: block;
        width: 100%;
      }
    }
  }
  .dropdown-menu {
    max-width: 150px;
    @media (min-width: $screen-sm-min) {
      max-width: 250px;
    }
  }
}
