@import "../../assets/styles/global";
@import "../../assets/styles/components/objects-main";

.main-note {
  .content-grid {
    .item-media-img {
      background-color: transparent;
      > i {
        color: $gray-light;
        &.fa-folder-o {
          &:before {
            font-size: 130%;
          }
        }
      }
      > span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        padding: 10px;
        font-size: 82%;
      }
    }
  }
  .content-grid {
    .item-note-icon > i,
    .item-note-owner,
    .item-note-date {
      display: none;
    }
  }
  .content-list {
    .item-note-icon {
      > span {
        display: none;
      }
    }
    .item-media-name {
      margin-right: auto;
      @include flex(1);
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    .item-note-owner,
    .item-note-date {
      padding: 0 10px;
      width: 120px;
      text-align: right;
      display: none;
      @media (min-width: $screen-sm-min) {
        display: block;
      }
    }
  }
}