<div class="header">
  <nav class="header-nav"></nav>
</div>
<div class="main main-note">
  <div class="main-left-menu">
    <div class="menuleft-container">
      <div class="menuleft-content">
        <div class="menuleft-logo">
          <img alt="" src="/assets/images_new/logo-note.png">
        </div>
        <div class="menuleft-item">
          <a href="#"><i class="icon-zone-note" aria-hidden="true"></i> My Notes</a>
        </div>
        <div class="menuleft-item-divider">
          <div class="menuleft-item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New</a></div>
          <div class="menuleft-item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New</a></div>
          <div class="menuleft-item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New</a></div>
          <div class="menuleft-item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New</a></div>
          <div class="menuleft-item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New</a></div>
          <div class="menuleft-item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New</a></div>
        </div>

      </div>
      <div class="menuleft-footer ng-star-inserted">
        <div>
          <a rel="noopener" target="_blank" href="https://test.wthapps.com/policies/terms">
            Term of service</a> •
          <a rel="noopener" target="_blank" href="https://test.wthapps.com/policies/privacy">
            Privacy &amp; policies</a>
        </div>
        <span>©2018 WTHApps - v1.7.0</span>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<wth-confirm></wth-confirm>
<p-toast position="top-center" [baseZIndex]="2000"></p-toast>