<div class="box-panel">
  <h3 class="box-panel-title">Billing history</h3>
  <div class="card">
    <div class="card-body">
      <h3>Transaction {{ trans_id }}</h3>
      <hr class="card-line">
      <h4>Transaction Information</h4>
      <dl class="dl-horizontal">
        <dt>Transaction Date</dt>
        <dd>{{ transaction.created_at | date:'MMM dd yyyy' }} {{ transaction.created_at | date:'H:mm:ss' }}</dd>
        <dt>Merchant</dt>
        <dd>{{ transaction.merchant_account_id }}</dd>
        <dt>Description</dt>
        <dd>---------</dd>
        <dt>Amount</dt>
        <dd>{{ transaction.amount }} {{ transaction.currency_iso_code }}</dd>
      </dl>
      <hr class="card-line">
      <h4>Payment Method</h4>
      <dl class="dl-horizontal">
        <dt>Payment Type</dt>
        <dd>{{ transaction.payment_instrument_type.replace('_', ' ') }}</dd>
        <dt>Card Holder Name</dt>
        <dd>{{ transaction.credit_card.cardholder_name }}</dd>
        <dt>Card Type</dt>
        <dd>{{ transaction.credit_card.card_type }}</dd>
        <dt>Card Ending With</dt>
        <dd>xxxx-xxxx-xxxx-{{ transaction.credit_card.last_4 }}</dd>
        <dt>Expiration</dt>
        <dd>---------</dd>
      </dl>
      <hr class="card-line">
      <h4>Billing Information</h4>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ transaction.customer.first_name }} {{ transaction.customer.last_name }}</dd>
        <dt>Email</dt>
        <dd>{{ transaction.customer.email }}</dd>
      </dl>
    </div>
  </div>
  <div class="mt20 mb20">
    <a [routerLink]="['/billing/history']" class="btn btn-outline-default mr10" href="#">Back</a>
    <a (click)="viewReceipt($event)" class="btn btn-outline-default" href="#"><i class="fa fa-print"></i> Print</a>
  </div>
</div>
