<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{pageTitle}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
          <div class="form-group" [ngClass]="{'has-error': (!oldPassword.valid && oldPassword.touched)}">
            <label for="oldPassword">Input Old Password</label>
            <input [formControl]="oldPassword" type="password" class="form-control" id="oldPassword"
                   placeholder="Input Old Password">
            <div *ngIf="!oldPassword.valid && oldPassword.touched">
              <span *ngIf="!oldPassword.valid && oldPassword.errors.required" class="help-block">Current password is required</span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': (!password.valid && password.touched)}">
            <a class="btn btn-link pull-right" style="margin: -7px -10px 0 0;" [routerLink]="['/account/recovery/forgottenpassword']">Forgot Password</a>
            <label for="password">Input New Password</label>
            <input [formControl]="password" type="password" class="form-control" id="password" placeholder="Input New Password">
            <div *ngIf="!password.valid && password.touched">
              <span *ngIf="!password.valid && password.errors.required" class="help-block">A password is required</span>
              <span *ngIf="!password.valid && password.errors.minlength" class="help-block">A password needs to have at least 6 characters</span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': (!passwords.valid && (password.touched || repeatPassword.touched))}">
            <label for="repeatPassword">Confirm New Password</label>
            <input [formControl]="repeatPassword" type="password" class="form-control" id="repeatPassword"
                   placeholder="Confirm New Password">
            <div *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)">
              <span class="help-block">Passwords don't match.</span>
            </div>
          </div>

          <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Change</button>          
        </form>
      </div>
    </div>
  </div>
</div>
