<div class="panel panel-default">
  <div class="panel-heading panel-heading-action">
    <a [routerLink]="['/account/services']" class="btn btn-sm btn-primary">Add more</a>
    <h3 class="panel-title">Manage Services or Add-ons</h3>
  </div>
  <div class="panel-body pb0" [ngClass]="{ 'collapse' : !has_installed_apps }">
    <div class="row">
      <div class="col-xs-12 col-xs-3" *ngFor="let product of installed_apps">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <img width="34" class="media-object" src="{{product.img_src}}"
                     alt="...">
              </div>
              <div class="media-body media-middle">
                <h4 class="media-heading mb0">{{product.display_name}}</h4>
              </div>
              <div class="media-right" style="white-space: nowrap">
                <a [routerLink]="[product.router_link]" class="btn btn-default">Manage</a>
                <button class="btn btn-default" (click)="onRemove($event, product)" >Remove</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body pb0" [ngClass]="{ 'collapse' : has_installed_apps }">
    <div class="row">
      <h4 class="text-center">You do not have a service or add-on. Click <a [routerLink]="['/account/services']">Add more</a></h4>
    </div>
  </div>
</div>
