<div class="box-panel">
  <h3 class="box-panel-title">{{pageTitle}}</h3>
  <h4 class="box-panel-subtitle">Plan</h4>
  <div>
    <p class="p-plan-info"><span>Basic Plan</span> - 8 days left</p>
    <p>
      <a [routerLink]="['/account/plans']" class="btn btn-success btn-min"><i class="fa fa-arrow-circle-up"></i> Upgrade</a>
    </p>
  </div>
  <div>
    <p class="p-plan-info"><span>Advanced Plan</span> - Activated on Aug 18 2016</p>
    <p>
      <button (click)="cancelPlan()" class="btn btn-default btn-min">Cancel Plan</button>
    </p>
  </div>
  <hr class="line">
  <h4 class="box-panel-subtitle">Password</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="form-group" [ngClass]="{'has-error': (!oldPassword.valid && oldPassword.touched)}">
          <label for="oldPassword">Current Password</label>
          <input [formControl]="oldPassword" type="password" class="form-control" id="oldPassword"
                 placeholder="Input Old Password">
          <span (click)="hideShowPassword($event)" class="hideShowPassword-toggle"></span>
          <div *ngIf="!oldPassword.valid && oldPassword.touched">
            <span *ngIf="!oldPassword.valid && oldPassword.errors.required" class="help-block">Current password is required</span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': (!password.valid && password.touched)}">
          <label for="password">Input New Password</label>
          <input [formControl]="password" type="password" class="form-control" id="password"
                 placeholder="Input New Password">
          <span (click)="hideShowPassword($event)" class="hideShowPassword-toggle"></span>
          <div *ngIf="!password.valid && password.touched">
            <span *ngIf="!password.valid && password.errors.required" class="help-block">A password is required</span>
            <span *ngIf="!password.valid && password.errors.minlength" class="help-block">A password needs to have at least 6 characters</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <p>New password must:</p>
        <ul>
          <li>Contain at least 8 characters or more</li>
          <li>Contain both uppercase and lowercase characters</li>
          <li>Contain at least one number or symbol</li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-min">Update</button>
      <a [routerLink]="['/account']" class="btn btn-default btn-min ml15">Cancel</a>
    </div>
    <p><a [routerLink]="['/account/recovery/forgottenpassword']">I forgot my password</a></p>
  </form>
  <hr class="line">
  <h4 class="box-panel-subtitle text-danger">Delete Account</h4>
  <p>Once you delete your account, all of your data will be gone. Please be certain.</p>
  <div class="form-group">
    <a href="#" class="btn btn-default"><span class="text-danger bold">Delete Your Account</span></a>
  </div>
</div>
