<div class="box-panel">
  <h3 class="box-panel-title">{{pageTitle}}</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="language">Language</label>
          <select [formControl]="language" name="language" class="form-control form-inline" id="language">
            <!--@TODO get list from database-->
            <option value="en">English (US)</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Communication Settings</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" [formControl]="subscribed">
          Get WTHapps news
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>WTHapp Settings</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" [formControl]="auto_update">
          Allow WTHapps automatic update (Recommended)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" [formControl]="use_diagnosis">
          Allow WTHapps Diagnostics (so we can fix bugs faster)
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-min">Update</button>
    <a [routerLink]="['/account']" class="btn btn-default btn-min ml15">Cancel</a>
  </form>
</div>
