<!-- Modal -->
<div class="modal fade" id="modalUploadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-long" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Profile Picture</h4>
      </div>
      <div class="modal-body">
        <p>Selecte a photo as your profile picture so people can qucikly recognize you</p>
        <div class="dropzone dropzonecrop-wrap" id="dropzone-wrap"></div>
        <div class="dropzonecrop-previews" id="dropzone-previews"></div>
        <div class="dropzonecrop-cropper" id="cropper-wrap"></div>
        <div class="dropzonecrop-control">
          <button id="cropper-rotate-left" class="btn btn-default">
            <i class="fa fa-undo"></i>
          </button>
          <button id="cropper-rotate-right" class="btn btn-default">
            <i class="fa fa-repeat"></i>
          </button>
          <button id="cropper-remove" class="btn btn-default">
            Change photo
          </button>
          <button id="cropper-upload" class="btn btn-primary">
            Set Image
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
