<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2>
        Request a password reset
      </h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
        <div class="form-group" [ngClass]="{'has-error': (!email.valid && email.touched)}">
          <label class="sr-only" for="email">Email address</label>
          <input [formControl]="email" type="email" class="form-control" id="email" placeholder="Email">
          <div *ngIf="!email.valid && email.touched">
            <span *ngIf="!email.valid && email.errors.required" class="help-block">An email is required</span>
            <span *ngIf="!email.errors.required && email.errors.emailFormat"
                  class="help-block">Email is not valid</span>
          </div>
        </div>
        <button [disabled]="!form.valid" type="submit" class="btn btn-block btn-danger">Continue</button>
      </form>
    </div>
  </div>
</div>
