<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h2>
        Input new password
      </h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
        <div class="form-group" [ngClass]="{'has-error': (!password.valid && password.touched)}">
          <label class="sr-only" for="password">Password</label>
          <input [formControl]="password" type="password" class="form-control" id="password" placeholder="Password">
          <div *ngIf="!password.valid && password.touched">
                <span *ngIf="!password.valid && password.errors.required"
                      class="help-block">A password is required</span>
            <span *ngIf="!password.valid && password.errors.minlength" class="help-block">A password needs to have at least 6 characters</span>
          </div>
        </div>
        <button [disabled]="!form.valid" type="submit" class="btn btn-block btn-danger">Update</button>
      </form>
    </div>
  </div>
</div>
