<section class="page-hero">
  <div class="page-hero-item" style="background-image: url('assets/images/landing/hero-image.jpg');">
  </div>
  <div class="page-hero-content">
    <div class="page-hero-txt">
      <div class="page-hero-tt">
        <h2 class="h1">Check your email</h2>
        <p>We've sent an email. Click the link in the email to reset your password.
          If you don't see the email, check other places it might be, like your junk, spam, social, or other
          folders.</p>
      </div>
      <div class="page-hero-body">
        <div class="form-group text-center">
          <a [routerLink]="['/account/recovery/forgottenpassword']">I didn't receive the email</a>
        </div>
      </div>
    </div>
  </div>
</section>

