<header class="header">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="assets/images/logo.png" height="40" alt="">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']"><a [routerLink]="['/about']">About us</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/support']">Support</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact us</a></li>
        </ul>
        <ul *ngIf="!isLoggedIn()" class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/login']">Log in</a></li>
        </ul>

        <ul *ngIf="isLoggedIn()" class="nav navbar-nav navbar-right">
          <li dropdown>
            <a href="javascript:;" id="single-button" dropdownToggle> {{_userService.profile.name}} <span
              class="glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a [routerLink]="['/account/setting/dashboard']">Settings</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a href="javascript:;" (click)="logout()">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<main class="main">
  <wth-toast></wth-toast>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="container">
    <ul class="list-unstyled list-inline">
      <li><a [routerLink]="['/login']" *ngIf="!isLoggedIn()">Login</a></li>
      <li><a [routerLink]="['/signup']">Signup</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/apps']">Applications</a></li>
      <li><a [routerLink]="['/plans-pricing']">Plans and Pricing</a></li>
      <li><a [routerLink]="['/support']">Support</a></li>
      <li><a [routerLink]="['/policies/privacy']">Privacy Policy</a></li>
      <li><a [routerLink]="['/policies/terms']">Terms of service</a></li>
      <li><a [routerLink]="['/policies/cookies']">Cookies</a></li>
    </ul>
    <p><a [routerLink]="['/']">WTHApps</a> © 2016 • All rights reserved.</p>
  </div>
</footer>

<wth-dialog></wth-dialog>
<wth-loading></wth-loading>
