<div class="header-intro">
  <div class="container">
    <h2><span>FAQ</span></h2>
  </div>
</div>
<section class="page-content pt0">
  <div class="container">
    <div class="faq-content">
      <div class="faq-content-left">
        <ng-container *ngFor="let c of (categories$|async)">
          <h3 [id]="c.uuid"> {{ c.name }} </h3>
          <p-accordion>
            <ng-container *ngFor="let f of (faq$|async)">
              <ng-container *ngIf="c.id === f.category_id">
                <p-accordionTab [header]="f.question">
                  <div [innerHTML]="f.answer"></div>
                </p-accordionTab>
              </ng-container>
            </ng-container>
          </p-accordion>
        </ng-container>

      </div>
      <div class="faq-content-right">
        <div sticky sticky-offset-top="50" class="faq-content-right-fixed">
          <h4>Categories</h4>
          <ul class="list-unstyled">
            <li *ngFor="let c of (categories$|async)">
              <a (click)="onScrollTo(c.uuid)" href="#">
                {{ c?.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
