<div class="header-intro">
  <div class="container">
    <h2><span>FAQ</span></h2>
  </div>
</div>
<section class="page-content pt0">
  <div class="container">
    <div class="faq-content">
      <div class="faq-content-left">
        <h3 id="faq-dl-1">Account Management</h3>
        <p-accordion>
          <p-accordionTab header="Question number 1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque dignissimos eius est ex fugiat
            harum
            inventore pariatur perspiciatis quia quisquam reiciendis repellat repellendus? Aliquid asperiores beatae
            illum
            omnis provident.
          </p-accordionTab>
          <p-accordionTab header="Question number 2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque dignissimos eius est ex fugiat
            harum
            inventore pariatur perspiciatis quia quisquam reiciendis repellat repellendus? Aliquid asperiores beatae
            illum
            omnis provident.
          </p-accordionTab>
          <p-accordionTab header="Question number 3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque dignissimos eius est ex fugiat
            harum
            inventore pariatur perspiciatis quia quisquam reiciendis repellat repellendus? Aliquid asperiores beatae
            illum
            omnis provident.
          </p-accordionTab>
        </p-accordion>
        <h3 id="faq-dl-2">Account Management</h3>
        <p-accordion>
          <p-accordionTab header="Question number 1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque dignissimos eius est ex fugiat
            harum
            inventore pariatur perspiciatis quia quisquam reiciendis repellat repellendus? Aliquid asperiores beatae
            illum
            omnis provident.
          </p-accordionTab>
          <p-accordionTab header="Question number 2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque dignissimos eius est ex fugiat
            harum
            inventore pariatur perspiciatis quia quisquam reiciendis repellat repellendus? Aliquid asperiores beatae
            illum
            omnis provident.
          </p-accordionTab>
          <p-accordionTab header="Question number 3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque dignissimos eius est ex fugiat
            harum
            inventore pariatur perspiciatis quia quisquam reiciendis repellat repellendus? Aliquid asperiores beatae
            illum
            omnis provident.
          </p-accordionTab>
        </p-accordion>
        <h3 id="faq-dl-3">Account Management</h3>
        <p-accordion>
          <p-accordionTab header="Question number 1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque dignissimos eius est ex fugiat
            harum
            inventore pariatur perspiciatis quia quisquam reiciendis repellat repellendus? Aliquid asperiores beatae
            illum
            omnis provident.
          </p-accordionTab>
          <p-accordionTab header="Question number 2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque dignissimos eius est ex fugiat
            harum
            inventore pariatur perspiciatis quia quisquam reiciendis repellat repellendus? Aliquid asperiores beatae
            illum
            omnis provident.
          </p-accordionTab>
          <p-accordionTab header="Question number 3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque dignissimos eius est ex fugiat
            harum
            inventore pariatur perspiciatis quia quisquam reiciendis repellat repellendus? Aliquid asperiores beatae
            illum
            omnis provident.
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="faq-content-right">
        <div sticky sticky-offset-top="50" class="faq-content-right-fixed">
          <h4>Categories</h4>
          <ul class="list-unstyled">
            <li>
              <a (click)="onScrollTo('faq-dl-1')" href="javascript:;">
                Account Management
              </a>
            </li>
            <li>
              <a (click)="onScrollTo('faq-dl-2')" href="javascript:;">
                Account Management
              </a>
            </li>
            <li>
              <a (click)="onScrollTo('faq-dl-3')" href="javascript:;">
                Account Management
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
