@import "../../../scss/global";

.mini-editor {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;

  .ui-editor-toolbar {
    display: none;
  }

  .ui-editor-content {
    -webkit-border-radius: $input-border-radius;
    -moz-border-radius: $input-border-radius;
    border-radius: $input-border-radius;
    margin: 0;
    padding: 0;
  }

  .ql-editor {
    min-height: 18px;
    padding: 7px 8px;
    word-break: break-word;

  }

  .ql-editor.ql-blank::before {
    font-style: normal;
  }

  .ql-disabled {
    cursor: not-allowed;

    .ql-editor {
      cursor: not-allowed;

      p {
        cursor: not-allowed;
      }
    }
  }
}
