<z-media-share-toolbar
  #mediaToolbar
  [data]="selectedPhotos"
  [hasFavourite]="hasFavourite"
  [currentView]="currentView"
  (outEvent)="actionToolbar($event)">
</z-media-share-toolbar>

<div class="page-body-in">
  <div class="row-img" *ngIf="data" [ngClass]="{'list': (currentView=='list'), 'grid': (currentView=='grid')}">
    <z-media-share-sortbar [data]="data" (outEvent)="actionSortbar($event)"></z-media-share-sortbar>
    <z-media-photo-item *ngFor="let item of data;" [data]="item" (outEvent)="actionItem($event)"></z-media-photo-item>
  </div>

  <div class="text-center p20">
    <button class="btn btn-primary-inline" *ngIf="nextLink != null" type="button" (click)="onLoadMore($event)">Load
      more
    </button>
  </div>
</div>

<z-media-photo-detail #photoDetail [selectedPhotos]="selectedPhotos" [allPhotos]="data"></z-media-photo-detail>

<z-media-share-form-add-to-album #formAddAlbum [editAlbum]="formEditAlbum" [selectedPhotos]="selectedPhotos"></z-media-share-form-add-to-album>
<z-media-share-form-edit-album #formEditAlbum [selectedPhotos]="selectedPhotos"></z-media-share-form-edit-album>
