<z-media-share-toolbar
  #mediaToolbar
  [type]="'photo'"
  [data]="selectedPhotos"
  [hasFavourite]="hasFavourite"
  [currentView]="currentView"
  (outEvent)="actionToolbar($event)">
</z-media-share-toolbar>

<div class="page-body-in">
  <z-media-share-list
    [type]="'photo'"
    [data]="data"
    [view]="currentView"
    [hasAction]="['favourite', 'select', 'previewAll']"
    (outEvent)="actionItem($event)">
  </z-media-share-list>

  <div class="text-center p20">
    <button class="btn btn-primary-inline" *ngIf="nextLink != null" type="button" (click)="onLoadMore($event)">Load
      more
    </button>
  </div>
</div>

<z-media-photo-detail #photoDetail [selectedPhotos]="selectedPhotos" [allPhotos]="data"></z-media-photo-detail>

<z-media-share-form-add-to-album #formAddAlbum [editAlbum]="formEditAlbum" [selectedPhotos]="selectedPhotos"></z-media-share-form-add-to-album>
<z-media-share-form-edit-album #formEditAlbum [selectedPhotos]="selectedPhotos"></z-media-share-form-edit-album>

<z-media-share-uploading #zoneUpload (outEvent)="actionUploading($event)"></z-media-share-uploading>
