<div class="box-panel">
  <h3 class="box-panel-title">Billing history</h3>
  <ng-container *ngIf="transactions.length == 0">
    No data
  </ng-container>
  <ng-container *ngIf="transactions.length > 0">
    <p-table [value]="transactions">
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>ID</th>
          <th>&nbsp;</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bill>
        <tr>
          <td>{{ bill.created_at | date: 'MMM dd yyyy' }}</td>
          <td>---</td>
          <td>{{ bill.amount }} {{ bill.currency_iso_code }}</td>
          <td>{{ bill.id }}</td>
          <td>
            <a class="btn btn-outline-default" (click)="viewReceipt(bill.id, $event)">View</a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>
