<hd-modal #modal cssClass="modal-social modal-long" [keyboard]="false" [backdrop]="'static'">

  <modal-header [showClose]="true">
    <h4 class="modal-title text-left"><i class="fa fa-pencil"></i> Edit Conversation</h4>
  </modal-header>

  <modal-body>
    <form novalidate>

      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Name" value="">
      </div>

      <div class="content-overflow" style="max-height: 300px;">
        <ul class="p-list-user p-list-border">
          <li>
            <div class="pull-right">
              <input type="checkbox">
            </div>
            <figure>
              <img alt="David Nguyen"
                   src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            </figure>
            <span>Friendly Username 00</span>
          </li>
          <li>
            <div class="pull-right">
              <input type="checkbox">
            </div>
            <figure>
              <img alt="David Nguyen"
                   src="https://s3-ap-southeast-1.amazonaws.com/env-staging/portal-frontend/common-images/avartart/default.png">
            </figure>
            <span>Friendly Username 00</span>
          </li>
        </ul>

      </div>


      <div class="clearfix text-right">
        <button type="submit" class="btn btn-wth-default btn-min mr10">Done</button>
        <button type="button" class="btn btn-default btn-min" data-dismiss="modal">Cancel</button>
      </div>

    </form>

  </modal-body>
</hd-modal>
