@import '../../../assets/styles/global';

:host {
  display: block;
}

.breadcrumb {
  margin: 0;
  padding: 0 0 0 15px;
  > li + li:before {
    content: '\f054';
    padding: 0 8px;
  }
  .btn {
    color: $link-color;
  }
  .btn-group {
    .btn {
      color: $btn-default-color;
      max-width: 150px;
      @include text-overflow;
      @media (min-width: $screen-sm-min) {
        max-width: 250px;
      }
    }
  }
}

