<div class="breadcrumb-wrap" [ngClass]="{styleClass:styleClass}" [ngStyle]="style">
  <ol class="breadcrumb">
    <li *ngFor="let item of models; let last = last;" [ngClass]="{'active': last}" [title]="item.label">
      <button *ngIf="!last" type="button" class="btn btn-default dropdown-toggle" (click)="onClick(item)">
        {{ item.label }}
      </button>
      <div *ngIf="last" class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ item.label }}
        </button>
      </div>
    </li>
  </ol>
</div>
