<div class="page-body-content gray-light">
  <div class="page-body-content-in">
    <div class="zone-social-in">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="modal-title"><i class="fa fa-cog"></i> Settings</h4>
          </div>
          <div class="panel-body">
            <p class="bold">Default phone number country code</p>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group no-label">
                  <p-autoComplete class="form-control-phone-country" formControlName="phone_default_code"
                                  [suggestions]="filteredCountriesCode"
                                  (completeMethod)="filterCountriesCode($event)" [size]="30"
                                  [minLength]="1" placeholder="Select your country" [dropdown]="true">
                    <ng-template ngFor let-code let-i="index" pTemplate="item">
                      <div [innerHtml]="code | phoneCodeCountries:countriesCode"></div>
                    </ng-template>
                  </p-autoComplete>
                </div>
              </div>
            </div>
            <p class="bold">List sort by</p>
            <div class="row mb15">
              <div class="col-xs-12">
                <p-radioButton name="contacts_sort_by" value="first_name" label="First Name"
                               formControlName="contacts_sort_by"></p-radioButton>
              </div>
              <div class="col-xs-12">
                <p-radioButton name="contacts_sort_by" value="last_name" label="Last Name"
                               formControlName="contacts_sort_by"></p-radioButton>
              </div>
            </div>
            <div class="form-group">
              <button type="button" [disabled]="!form.valid || form.pristine"
                      class="btn btn-outline-primary mr10" (click)="onSubmit()">
                Update
              </button>
              <button type="button" class="btn btn-outline-default mr10" (click)="cancel()">Cancel</button>
              <button type="button" class="btn btn-link" (click)="confirmReset()">Reset Default</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
