@import '../../../../core/scss/global';
//@import '../../../../../../node_modules/katex/dist/katex.min.css';
@import "../../../../assets/fonts/font-awesome/scss/_font-awesome.scss";

.photo-box {
  .photo-box-action {
    display: none;
  }
  &:hover {
    .photo-box-action {
      display: block;
    }
  }
}

body .ui-widget-header {
  &.ql-toolbar {
    background-color: #F6F6F6;

    .ql-formats {
      margin-right: 3px;

      button {
        > i {
          position: relative;
          top: -2px;
        }
      }

      button, .ql-picker {
        border: 1px solid $btn-default-border;
        background-color: #ffffff;
        &:hover {
          background-color: #F6F6F6;
        }

        & + button {
          margin-left: -1px;
        }
        &:first-child {
          @include border-left-radius(4px);
        }
        &:last-child {
          @include border-right-radius(4px);
        }
      }
      .ql-picker {
        @include border-left-radius(4px);
        @include border-right-radius(4px);
      }
    }
  }
}

.ql-font {
  .ql-picker-label {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}

/* Set dropdown font-families */
[quill-editor-toolbar] .ql-font span[data-label="Lato"]::before {
  font-family: "Lato";
}

/* Set content font-families */
.ql-font-lato {
  font-family: "Lato";
}

.ql-font-gotham, .ql-font span[data-value="gotham"]:before {
  font-family: 'gotham', 'Gotham', 'helvetica', 'arial', 'sans-serif';
}

.ql-font-georgia, .ql-font span[data-value="georgia"]:before {
  font-family: 'georgia', 'Georgia', 'palatina', 'serif';
}

.ql-font-helvetica, .ql-font span[data-value="helvetica"]:before {
  font-family: 'helvetica', 'Helvetica', 'arial', 'sans-serif';
}

.ql-font-courier-new, .ql-font span[data-value="courier-new"]:before {
  font-family: 'courier new', 'Courier New', 'courier', 'monospace';
}

.ql-font-times-new-roman, .ql-font span[data-value="times-new-roman"]:before {
  font-family: 'times new roman', 'Times New Roman', 'times', 'serif';
}

.ql-font-trebuchet-ms, .ql-font span[data-value="trebuchet-ms"]:before {
  font-family: 'trebuchet ms', 'Trebuchet MS', 'geneva', 'sans-serif';
}

.ql-font-verdana, .ql-font span[data-value="verdana"]:before {
  font-family: 'verdana', 'Verdana', 'helvetica', 'sans-serif';
}

.ql-snow .ql-picker.ql-size {
  width: 50px;
}

.ql-editor {
  min-height: 320px;
  ul[data-checked=false], ul[data-checked=true] {
    > li::before {
      @include fa-icon;
      font-size: 24px;
      position: relative;
      top: 5px;
    }
  }
  ul[data-checked=false] {
    > li::before {
      content: $fa-var-square-o;
    }
  }
  ul[data-checked=true] {
    > li::before {
      content: $fa-var-check-square;
      color: $color-success;
    }
  }
}

.ql-container {
  height: auto !important;

  hr {
    border-top-color: #ccc;
  }
}

#note_form_title {
  font-size: 24px;
}

.note-read-only {
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}
