<form [formGroup]="form" novalidate>
  <modal #modal [keyboard]="false" [animation]="false" [cssClass]="'modal-lg modal-note-edit'" [backdrop]="'static'">

    <modal-body>

        <div class="form-group no-label" [ngClass]="{'has-error': (!title.valid && title.touched)}">
          <input [formControl]="title" type="text" class="form-control" id="note_form_title"
                 placeholder="Title">
        </div>
        <div class="form-group">
          <p-editor formControlName="content" [style]="{'height':'320px'}">
          </p-editor>
        </div>

        <hr class="divider">

        <div class="row">
          <div class="col-sm-6">
            <label>Attachment</label>
          </div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-outline-default" (click)="selectFiles()"><i class="fa fa-plus"></i> Add more</button>
            <button class="btn btn-outline-default" (click)="downloadAttachments()">
              <i class="fa fa-download"></i> Download all</button>
          </div>
        </div>
        <div class="row row-img grid">
          <div class="col-sm-3" *ngFor="let att of note.attachments">
            <div class="photo-box" >
              <div class="photo-box-action photo-box-action-right">
                <button class="btn btn-sm btn-outline-default" type="button" (click)="cancelUpload(att)">
                  <i class="fa fa-times"></i>
                </button>
              </div>
              <div class="photo-box-figure">
                <figure class="img-center-dv" *ngIf="!att.thumbnail_url">
                  <div class="img-box bg-gray">
                    <div class="img-box-item text-center" style="color: #ffffff;">
                      <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
                    </div>
                  </div>
                </figure>

                <figure class="img-center-dv" *ngIf="att.thumbnail_url">
                  <div class="photo-box-figure-in">
                    <img class="img-center"
                         [src]="att.thumbnail_url">
                  </div>
                </figure>

                <div class="photo-box-name">
                  <span class="can-click"><i class="fa fa-picture-o"></i> {{ att.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="divider">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 col-md-1 control-label">Labels</label>
            <div class="col-sm-10 col-md-11">
              <h-chip [tags]="note?.tags"></h-chip>
            </div>
          </div>
        </div>

    </modal-body>

    <modal-footer>
      <div class="modal-title-action pull-left">
        <button class="btn btn-sm btn-default"><i class="fa fa-share-alt"></i></button>
        <button class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i></button>
        <div class="btn-group">
          <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">Make a copy</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">Move to folder</a>
            </li>
          </ul>
        </div>

      </div>

      <!--<button type="button" class="btn btn-outline-default btn-min" data-dismiss="modal">Cancel</button>-->
      <button type="button" (click)="onSubmit(form.value)" [disabled]="!form.valid"
              class="btn btn-outline-primary btn-min">Done
      </button>
    </modal-footer>
  </modal>
</form>
