<div class="z-social-media">
  <div class="z-social-media-left">
    <a [routerLink]="['/profile/', item?.owner?.uuid]" class="media-object">
      <span class="avatar-xs">
        <img [src]="item?.owner?.profile_image" alt="">
      </span>
    </a>
  </div>
  <div class="z-social-media-body">
    <div class="z-social-media-inputpost">
      <span class="z-social-media-inputpost-icon">
        <i class="fa fa-camera" (click)="onOpenPhotoSelect()"></i>
        <i class="fa fa-smile-o"></i>
      </span>
      <textarea class="form-control js-textarea-autoheight" placeholder="Add a comment" (keyup)="onKey($event)"
                [(ngModel)]="commentContent"></textarea>
    </div>

    <div *ngIf="item" class="row-img row-img-10 grid">
      <div class="row-img-item">
        <div class="photo-box-img">
          <div class="photo-box-img-action photo-box-img-action-left">
            <i class="fa fa-remove"></i>
          </div>
          <div class="photo-box-img-figure">
            <figure class="img-center-dv">
              <span class="photo-box-img-figure-in">
                <img alt="" class="img-center" draggable="false"
                     [src]="'https://s3-us-west-2.amazonaws.com/env-staging-oregon/portal-frontend/photos/cbe518e0-4e8c-4dd8-961c-993651ebcd5b/3bb256ed-3f69-40c0-af78-39758dd53a9a_thumb.jpeg'">
              </span>
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix text-left">
      <a class="btn btn-sm btn-default" *ngIf="type != commentBoxType.Add" (click)="cancel()"
         href="javascript:;">Cancel</a>
    </div>
  </div>
</div>

