<div class="wrapper">
  <w-header class="header" [user]="authService.user$ | async" [loggedIn]="authService.loggedIn$ | async">
    <media-shared-header class="header-nav-left"></media-shared-header>
  </w-header>
  <main class="main">
    <w-left-menu>
      <z-media-shared-left-menu></z-media-shared-left-menu>
    </w-left-menu>
    <div class="main-page-body">
      <router-outlet></router-outlet>
      <router-outlet name="modal"></router-outlet>
      <router-outlet name="detail"></router-outlet>
    </div>
  </main>
  <wth-toast></wth-toast>
  <wth-loading></wth-loading>
  <wth-confirm></wth-confirm>
  <!-- <me-uploader #uploader (outEvent)="onAction($event)"></me-uploader> -->
  <me-uploader-v1 #uploaderV1 (outEvent)="onAction($event)"></me-uploader-v1>
</div>
<h-file-select-crop></h-file-select-crop>
<w-media-selection></w-media-selection>
<wth-introduction #introduction [after]="{media: true}" [data]="[
  {
    title: 'Welcome to WTH!Photos',
    icon: '../../assets/icons/pictures-50x50.png',
    content: 'WTH!Photos help you store, organize and share your photos.'
  }
  ]">
</wth-introduction>
<lock-upload-modal></lock-upload-modal>
<playlist-create-modal></playlist-create-modal>
<playlist-modal></playlist-modal>
<media-add-modal></media-add-modal>
<media-create-modal></media-create-modal>
<sharing-modal-v1></sharing-modal-v1>
<album-create-modal></album-create-modal>
<div class="w-uploader-file-input-container">
</div>

<!--<div id="w-uploader-statusbar">-->
<!--</div>-->
